/* reset */
@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,option,blockquote,th,td,input,select,textarea,button,figure,section,article,main,aside,nav,header,footer,figcaption,time{margin:0;padding:0}
fieldset,img{border:0 none}
img {display:block}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'돋움',dotum,Apple SD Gothic Neo,sans-serif;color:#333}
a{display:block;color:#333;text-decoration:none}
a:active,a:hover{text-decoration:none}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
main, section, article, aside, footer, header, nav, hgroup {display:block}
#Index{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.ir_wa{display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1}
.screen_out{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px}
.screen_hide{font-size:0;line-height:0;visibility:hidden}
.f_l{float:left}
.f_r{float:right}
.cl_b{clear:both;width:0;height:0;font-size:0;line-height:0}
.show{display:block}
.hide{display:none}
.tbl, table{border-collapse:collapse;border-spacing:0}
.clear_g{display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_g:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
hr{display:none}
.blind {position:absolute;top:0;left:0;line-height:0;font-size:0px;text-indent:-5000px}
.emph_g {color:#50b4ff} /* 2016-06-08 수정 :폰트색상 */
.back_color{background:#fbfbfb}
/* 2015-12-19 모바일 input 초기화 */
body{-webkit-text-size-adjust:none} /* 뷰포트 변환시 폰트크기 자동확대 방지. */
input:checked[type='checkbox'] {background-color:#666;-webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset'] {-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
/* 2015-12-19 모바일 input 초기화 끝 */

/* Notosans */
@font-face {font-family:'Notosans';font-style:normal;font-weight:normal;
	src:local('※');src:url(../../fonts/Notosans/NotoSans-Regular.eot);
	src:url(../../fonts/Notosans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'), url(../../fonts/Notosans/NotoSans-Regular.woff) format('woff'), url(../../fonts/Notosans/NotoSans-Regular.ttf) format('truetype');
}
@font-face {font-family:'Notosans';font-style:normal;font-weight:bold;
	src:local('※');src:url(../../fonts/Notosans/NotoSans-Bold.eot);
	src:url(../../fonts/Notosans/NotoSans-Bold.eot?#iefix) format('embedded-opentype'), url(../../fonts/Notosans/NotoSans-Bold.woff) format('woff'), url(../../fonts/Notosans/NotoSans-Bold.ttf) format('truetype');
}
/* common image */
.ico_comm {display:inline-block;background:url(../../images/pc/webinar/ico_comm.gif) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top}
.ico_comm2 {display:inline-block;background:url(../../images/pc/webinar/ico_comm2_v2.gif) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top}
.ico_comm3 {display:block;background:url(../../images/pc/webinar/ico_comm3_v3.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top}
.btn_comm {display:block;background:url(../../images/pc/webinar/btn_comm_v2.gif) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px}
.ico_comm_v2 {display:inline-block;background:url(../../images/pc/webinar/ico_comm_v2.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top}
.png_comm {background:url(../../images/pc/webinar/png_comm.png) 0 0 no-repeat} /* png24 image */
/* layout */
#wrap .btn_top {display:none;position:fixed;bottom:0;left:50%;margin-left:500px;width:48px;height:48px;background-position:-100px -355px}
#container {overflow:visible;clear:both;width:980px;margin:22px auto 0;padding-bottom:50px}
#container:after {content:"";display:block;clear:both;*zoom:1}
.admin #container {width:100%;min-width:980px}
.event, .intro, .recommend, .type_profile, .member {background-color:#f6f6f7}

/*****************************************************************************************************************************************************************/
/*header*/
#wrap.fixed{padding-top:48px}
#wrap.fixed .header_btm {position:fixed;top:0}
#header {background-color:#fff;}
.header_wrap {position:relative;width:100%;min-width:980px;font-family:'Notosans', 'dotum', '돋움';z-index:200}
.header_wrap .header_inner {width:980px;margin:0 auto}
.header_wrap .header_inner:after {display:block;visibility:hidden;height:0;font-size:0;clear:both}
.header_wrap h1 {float:left;width:115px;height:30px}
.header_wrap .tit_page {float:left;margin:-3px 0 0 15px;font-size:24px}
/*header_top*/
.header_top{width:100%;height:70px;background-color:#fff;border-bottom:1px solid #dee1e7}
.header_top .header_inner {padding-top:20px}
.header_top .tit_drville {width:115px;height:30px;background-position:0 -56px}
.header_top .member_wrap {float:right;margin-top:3px}
.header_top .member_wrap li {position:relative;display:inline-block;vertical-align:top;margin-left:17px}
.header_top .member_wrap li.point {display:none}
.header_top .point a{font-size:15px;font-weight:bold;color:#ff471c;font-family:Verdana, Tahoma, 'Helvetica', 'Arial'}
.header_top .point:hover {text-decoration:underline}
.header_top .direct_link .ico_comm_v2 {width:26px;height:26px;background-position:-60px -90px}
.header_top .direct_link .link_list {top:30px;width:90px}
.header_top .direct_link > a {padding-bottom:10px;font-size:0}
.header_top .notice a {padding:3px 4px}
.header_top .notice .ico_comm_v2 {width:18px;height:20px;background-position:-40px -90px}
.header_top .notice.new .ico_comm_v2:after {position:absolute;right:0;top:0;width:5px;height:5px;background-color:#ff471c;content:'새글';border-radius:50%}
/*header_btm*/
.header_btm {position:relative;width:100%;height:46px;margin-top:-1px;background-color:#fff;border-top:1px solid #dee1e7;border-bottom:1px solid #dee1e7}
.header_btm .service_list {display:none;overflow:hidden;float:left;width:985px;text-align:center}
.header_btm .service_list li{display:inline-block;margin:5px 10px}
.header_btm .service_list a {padding:6px;font-size:17px;font-weight:bold;color:#43484f}
.header_btm .service_list a:hover {text-decoration:underline}
.header_btm .location_wrap {float:left;margin-top:10px}
.header_btm .location_wrap li {position:relative;display:inline-block;vertical-align:top;margin-left:10px}
.header_btm .location_wrap li > a {display:inline-block;padding:3px 5px 13px;color:#3a3d40;font-size:14px}
.header_btm .location_wrap li:before {content: '>'}
.header_btm .location_wrap li.location_home:before {display:none}
.header_btm .location_wrap li .ico_comm_v2 {width:16px;height:16px;margin:3px 0 0 10px;background-position:-90px -90px}
.header_btm .location_depth2 .link_list {width:130px}
.header_wrap .tools li:hover .link_box {display:block}
.header_wrap .link_box {display:none}
.header_wrap .link_list {position:absolute;top:35px;left:50%;width:122px;padding:15px;background-color:#fff;border:1px solid #bbbec0;border-radius:3px;z-index:102;transform:translate(-50%, 0)}
.header_wrap .link_list a {margin:3px 0;font-size:13px;color:#666;line-height:22px;letter-spacing:-0.5px}
.header_wrap .link_list a:hover {text-decoration:underline}
.header_wrap .link_list:after {position:absolute;top:-7px;left:50%;content:'';width:12px;height:7px;margin-left:-6px;background:url(../../images/pc/webinar/bg_tooltip_icoup.gif) top left no-repeat}
.header_wrap.open .gnb_wrap {overflow:auto;}
.header_wrap.open .gnb, .header_wrap.open + .bg_gnb {display:block}

.header_wrap .btn_header {display:none;float:right;font-family:'dotum', '돋움';top:29px;position: relative;}
.header_wrap .btn_header a {display:inline-block;padding:7px 8px 4px;text-align:center;border:1px solid #d1d6d8;font-size:11px;color:#8b8f96;border-radius:2px;vertical-align:middle;background-color:#fff;letter-spacing:-1px}

/*개별페이지*/
.member .header_inner {position:relative;width:950px;}
.intro .section_search .search_close {top:1px}
.member .header_btm, .etc .header_btm, .intro_v2 .header_btm, .intro .header_btm {display:none;}
.intro_v2 .member_wrap, .intro .member_wrap {display:none;}
.member .btn_header, .etc .btn_header, .intro_v2 .btn_header, .intro .btn_header {display:block;}

/*메뉴버튼*/
.btn_gnb {position:relative;float:left;display:block;padding:15px 14px;margin-top:-1px;font-size:0;background-color:#2979ff;z-index:200}
.btn_gnb:hover, .btn_gnb:active{background-color:#2979ff}
.btn_gnb .btn_open {position:relative;display:block;width:20px;height:18px}
.btn_gnb .ico_open {position:absolute;top:8px;display:block;width:20px;height:2px;background-color:#fff;transition:all ease 0.1s}
.btn_gnb .btn_open:after {position:absolute;top:0;display:block;width:20px;height:2px;background-color:#fff;content:'';transition:all ease 0.3s}
.btn_gnb .btn_open:before {position:absolute;bottom:0;display:block;width:20px;height:2px;background-color:#fff;content:'';transition:all ease 0.3s}
.btn_gnb.open {background-color:#6989bf}
.btn_gnb.open .btn_open .ico_open{opacity:0}
.btn_gnb.open .btn_open:after{transform:translateY(7px) rotate(45deg)}
.btn_gnb.open .btn_open:before {transform :translateY(-9px) rotate(-45deg)}

/* search */
.search_open {position:relative;float:right;display:block;padding:14px 13px;margin-top:-1px;font-size:0;z-index:100}
.search_open .ico_comm_v2 {display:block;width:20px;height:20px;background-position:-110px -90px}
#search_all {display:none; position:absolute;top:47px;right:0;width:100%;height:42px;padding:13px 0;background-color:#e6e9ef;z-index:100;border-bottom:1px solid #d9d9d9}
.section_search .box_search {overflow:hidden;width:498px;height:40px;margin:0 auto;border:1px solid #2879ff;background-color:#fff}
.section_search .tf_keyword {float:left;width:426px;height:20px;margin:10px 16px;border:0 none;line-height:20px;font-size:17px;font-weight:bold;outline:transparent}
.section_search .btn_search {float:left;padding:9px;background-color:#2879ff}
.section_search .btn_search .ico_comm_v2 {width:22px;height:22px;background-position:-135px -90px}
.section_search .search_close {position:absolute;top:14px;left:50%;margin-left:260px;padding:10px}
.section_search .search_close .ico_comm_v2{width:20px;height:20px;background-position:-160px -90px}
.section_search .tf_keyword::-webkit-input-placeholder {color:#999999}
.section_search .tf_keyword::-moz-placeholder {color:#999999}
.section_search .tf_keyword:-ms-input-placeholder {color:#999999}

/* footer_v3 */
#footer.f_v3 {min-width:980px;clear:both;background:#fff;border-top:1px solid #e2e2e2}
.f_v3 .info_foot .inner_info {position:relative;padding:0;border-top:0}
.f_v3 .info_foot .txt_bar {display:inline-block;margin:0 6px;color:#d9d9d9;font-weight:normal}
.f_v3 .info_foot .inner_info .tit_notice {display:inline-block;vertical-align:top}
.f_v3 .info_foot .inner_info .link_footer {display:inline-block;line-height:16px;color:#484848}
.f_v3 .info_foot .wrap_btn {overflow:hidden;display:inline-block;margin-top:0}
.f_v3 .info_foot .btn_comm {float:left;width:16px;height:16px}
.f_v3 .info_foot .btn_noticePrev {background-position:0 0}
.f_v3 .info_foot .btn_noticeNext {background-position:-16px 0}
.f_v3 .info_foot {position:relative;width:980px;margin:0 auto;padding:0;color:#484848;background-color:#fff}
.f_v3 .info_foot.top {width:100%;height:16px;padding:15px 0;border-bottom:1px solid #e2e2e2}
.f_v3 .info_foot.top .inner_info {width:980px;margin:0 auto}
.f_v3 .info_foot.top .list_notice {overflow:hidden;display:inline-block;width:296px;height:16px;margin:0;vertical-align:top}
.f_v3 .info_foot.top .list_notice li {height:16px}
.f_v3 .info_foot.top .list_notice li a {color:#666}
.f_v3 .info_foot.top .list_notice .link_footer {overflow:hidden;width:296px;text-overflow:ellipsis;white-space:nowrap}
.f_v3 .info_foot.btm {padding:0}
.f_v3 .info_foot.btm .tit_doctor {position:absolute;top: 30px;left:0;width: 215px;height: 42px;z-index:2;background-image: url('../../images/pc/webinar/footer_logo.png');font-size: 0;background-repeat: no-repeat;}
.f_v3 .info_foot.btm .inner_info {padding: 15px 0 0 245px;}
.f_v3 .info_foot.btm .inner_info:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
.f_v3 .info_foot.btm .list_footer {float:left;overflow:hidden;line-height:16px;margin-top: 15px;}
.f_v3 .info_foot.btm .list_footer li {float:left}
.f_v3 .info_foot.btm .btn_family {width:176px;padding:10px;border:1px solid #e2e2e2}
.f_v3 .info_foot.btm .btn_family.ico_comm:after {float:right;width:10px;height:10px;background-position:-50px -677px}
.f_v3 .info_foot.btm .open.ico_comm {background-position:-50px -657px}
.f_v3 .info_foot.btm .wrap_family {float:right;position:inherit;right:0;top: 15px;}
.f_v3 .info_foot.btm .wrap_family .ico_comm{float: right; width: 10px; height: 10px; background-position: -50px -677px;}
.f_v3 .info_foot.btm .wrap_family .ico_comm.open{background-position: -50px -657px;}
.f_v3 .info_foot.btm .wrap_family .list_family {display:none;position:absolute;left:0;bottom:40px;z-index:300;width:196px;border:1px solid #e2e2e2;border-bottom:0 none;background:#fff}
.f_v3 .info_foot.btm .wrap_family .list_family li {padding:5px 10px}
.f_v3 .info_foot.btm .emph_addr {font-weight:bold}
.f_v3 .info_foot.btm address {padding:15px 0 25px 130px;border-top:0 none;color:#848484;line-height:25px}
.f_v3 .info_foot.btm address > div {float:left}
.f_v3 .info_foot.btm .icon_social {float:right}
.f_v3 .info_foot.btm .icon_social .ico_comm_v2 {width:30px;height:30px;margin-left:10px}
.f_v3 .info_foot.btm .ico_youtube {background-position:0 -370px}
.f_v3 .info_foot.btm .ico_kakao {background-position:-35px -370px}
.f_v3 .info_foot.btm .ico_facebkook {background-position:-70px -370px}
.f_v3 .info_foot.btm .copy {padding-bottom:40px}
.f_v3 .info_foot.btm .tit_doctor + .copy {padding-top:25px;padding-bottom:20px}
.f_v3 .inner_info .copyright {float:right}
.f_v3 .inner_info .copyright:first-child {float:left}
.f_v3 .info_foot #pop_footAllmenu {top:inherit;left:50%;margin-left:-475px;bottom:46px}

/* 컨텐츠 타이틀 */
.tit_cont {margin-bottom:26px;font-size:22px;line-height:1;font-weight:bold;font-family:'Notosans', 'dotum', '돋움'}
.tit_cont .txt {display:inline-block;margin-left:12px;font-weight:normal;font-size:14px;color:#848484;line-height:18px;vertical-align:middle}
.tit_cont .txt span{color:#f0623b}
.tit_cont .txt em {font-weight:bold}
.tit_cont.eng{font-size:22px;font-family:Tahoma, 'Helvetica', 'Arial'}
.eng{font-family:Tahoma, 'Helvetica', 'Arial'}

/* 페이징 */
.paging {width:100%;padding-top:15px;text-align:center}
.paging .paging_inner {display:inline-block;margin:0 auto;font-size:14px;font-family:verdana;letter-spacing:0.2px}
.paging .paging_inner .num_page {float:left;width:33px;height:24px;margin-right:-1px;padding-top:7px;font-weight:bold;color:#585858;text-align:center}
.paging .paging_inner .num_page:hover {text-decoration:underline}
.paging .paging_inner strong {float:left;width:33px;height:25px;margin-right:-1px;padding-top:7px;font-weight:bold;color:#0ebced;text-align:center}
.paging .paging_inner .ico_comm {float:left;width:50px;height:25px;padding-top:8px;font-size:12px;line-height:20px;color:#999;text-indent:0}
.paging .paging_inner .btn_prev{background-position:0 -527px}
.paging .paging_inner .btn_next{background-position:100% -507px}
/* 페이징 */
.paging2 {width:100%;text-align:center}
.paging2 .paging_inner {overflow:hidden;display:inline-block;margin:0 auto}
.paging2 .paging_inner .num_page {float:left;height:19px;padding:2px 9px 0;border:1px solid #fff;color:#585858;text-align:center}
.paging2 .paging_inner .num_page:hover {text-decoration:underline}
.paging2 .paging_inner strong {float:left;width:21px;height:19px;padding-top:2px;border:1px solid #e3e3e3;border-radius:2px;background:#fff;font-weight:bold;color:#16afff;text-align:center}
.paging2 .paging_inner .ico_comm {float:left;width:21px;height:21px;border:1px solid #cacaca;color:#999}
.paging2 .paging_inner .btn_first{background-position:5px -1529px;border-radius:2px 0 0 2px}
.paging2 .paging_inner .btn_prev{margin-right:6px;background-position:-16px -1529px;border-left:none;border-radius:0 2px 2px 0}
.paging2 .paging_inner .btn_next{margin-left:6px;background-position:9px -1549px;border-radius:2px 0 0 2px}
.paging2 .paging_inner .btn_end{background-position:-13px -1549px;border-left:none;border-radius:0 2px 2px 0}
/* 이전글 다음글 버튼 2020-03-23*/
.bo_v_nb {position:relative; margin:20px 0; clear:both; text-align:left; display:block !important; font-size:12px !important;}
.bo_v_nb li {height:25px;}
.bo_v_nb .nb_tit {font-size:12px; text-decoration: underline;}
.bo_v_nb .nb_tit .ico_top {padding-top:0px; background-position:-51px -372px; height:Auto; line-height:normal; padding-left:13px;}
.bo_v_nb .nb_tit .ico_bottom {padding-top:0px; background-position:-51px -352px; height:Auto; line-height:normal; padding-left:13px;}
.bo_v_nb .nb_date {float:right;color:#999;font-size:11px;}

/* placeholder */
input::-webkit-input-placeholder {color:#999}
input:-ms-input-placeholder {color:#999}
input::placeholder {color:#999}
textarea::-webkit-input-placeholder {color:#999;}
textarea:-ms-input-placeholder {color:#999;}
textarea::placeholder {color:#999}

/* 체크박스 */
.input_check {}
.input_check input[type="checkbox"] {position:absolute;width:0;height:0;text-indent:100%;border:0;opacity:0}
.input_check .tit_chkbox {display:inline-block;color:#6d6d6e;font-size:14px;cursor:pointer}
.input_check .tit_chkbox:before {display:inline-block;content:'';width:24px;height:24px;margin-right:5px;background:url(../../images/pc/webinar/ico_comm.gif) 0 0 no-repeat;vertical-align:middle}
.input_check input[type="checkbox"]:checked+label:before {background-position:-30px 0}
/* 라디오버튼 */
.img_radio {display:inline-block}
.img_radio + .img_radio {margin-left:10px}
.img_radio input[type="radio"] {position:absolute;width:0;height:0;text-indent:100%;border:0;opacity:0}
.img_radio .tit_radio {display:inline-block;color:#6d6d6e;font-size:14px;line-height:20px;cursor:pointer}
.img_radio .tit_radio:before {display:inline-block;content:'';width:20px;height:20px;background:url(../../images/pc/webinar/ico_comm.gif) 0 -1890px no-repeat;vertical-align:top}
.img_radio input[type="radio"]:checked+label:before {background-position:-46px -1890px}
/* 달력 */
#ui-datepicker-div {display:none;margin-top:10px;padding-bottom:7px;width:228px;background:#fff;border:1px solid #ededed;overflow:hidden;z-index:10}
#ui-datepicker-div .ui-datepicker-title {padding-top:12px;height:28px;font:bold 15px/18px Verdana;color:#545454;letter-spacing:-1px;text-align:center;border-bottom:1px solid #efeef3;background:#f4f5f7}
#ui-datepicker-div .ui-datepicker-prev span	{position:absolute;left:40px;top:13px;display:block;width:16px;height:16px;cursor:pointer;text-indent:-9999px;background:url(../../images/pc/webinar/btn_comm.gif) 0 0 no-repeat}
#ui-datepicker-div .ui-datepicker-next span	{position:absolute;right:40px;top:13px;display:block;width:16px;height:16px;cursor:pointer;text-indent:-9999px;background:url(../../images/pc/webinar/btn_comm.gif) -15px 0 no-repeat}
#ui-datepicker-div .ui-datepicker-calendar	{width:188px;margin:10px auto 0}
#ui-datepicker-div .ui-datepicker-calendar th {height:33px;text-align:center}
#ui-datepicker-div .ui-datepicker-calendar td {height:32px;text-align:center}
#ui-datepicker-div .ui-datepicker-calendar th {font-weight:bold;color:#606060}
#ui-datepicker-div .ui-datepicker-calendar td {font-size:11px;color:#909090}
#ui-datepicker-div .ui-datepicker-calendar td a {color:#606060}
#ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-today a {color:#606060;font-weight:bold}
#ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-current-day {background:#ebebeb}
#ui-datepicker-div .ui-datepicker-calendar thead th:first-child	 {color:#ff0202 !important}
#ui-datepicker-div .ui-datepicker-calendar tbody td:first-child a {color:#ff6363 !important}
/* error page  */
.error_area {background-color:#fff}
.error_area .error_type1 {width:740px}
.error_area .error_type1 h2 {padding-left:0}
.error_type1{padding-top:50px;margin:0 auto;width:640px}
.error_type1 h1{height:48px;border-bottom:4px solid #02a6ff}
.error_type1 article{padding:100px;background:#f9f9fb;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;font-size:14px;line-height:24px;color:#555a5d;letter-spacing:-1px}
.error_type1 h1 + article {border-top:0}
.error_type1 h2{margin:-2px 0 23px;padding:2px 0 0 45px;min-height:25px;font-size:24px;color:#4a5b65}
.error_type1 h2 strong{color:#02a6ff}
.error_type1 ul{margin-top:33px;padding:22px 35px 17px;border:2px solid #e5e6e8;background:#fff;color:#485b62;line-height:26px}
.error_type1 ul li em{color:#00a7ff}
.error_type1 address{padding-top:18px;text-align:center;font-size:11px;font-family:Verdana}
.error_type1 .link_bold{display:inline-block;font-weight:bold;text-decoration:underline;color:#01a6ff}
.error_type1 .btn {margin-top:24px;text-align:center}
.error_type1 .btn a{display:inline-block;margin:0 1px;width:84px;height:34px;line-height:34px;text-align:center;font-size:12px;font-weight:bold;letter-spacing:-1px;text-decoration:none;vertical-align:middle}
.error_type1 .btn .bt_bl{border:1px solid #0093e3;background:#01a6ff;color:#fff}
.error_type1 .btn .bt_wt{border:1px solid #e4e4e4;background:#fff;color:#606060}
/* 공통팝업 style */
#modalType1{display:none;position:absolute}
.popup{width:400px;padding:0 0 30px;border:0;background-color:#fff}
.popup .tit_popup{display:block;margin-bottom:25px;padding:15px 20px 12px;border-bottom:2px solid #4ea1ff;color:#4ea1ff;font-size:16px;font-weight:bold}
.popup .btn_type1 , .popup .btn_type1.btn_close{position:static;display:inline-block;min-width:78px;height:40px;padding:0 42px;border:1px solid #4ea1ff;border-radius:0;font-weight:bold;font-size:12px;line-height:14px;background-color:#4ea1ff;text-align:center;color:#fff;cursor:pointer;text-decoration:none !important;vertical-align:top}
.popup .btn_type2 {display:inline-block;min-width:78px;height:40px;padding:0 42px;border:1px solid #e4e4e4;border-radius:0;font-weight:bold;font-size:12px;line-height:14px;background-color:#fff;text-align:center;color:#606060;cursor:pointer;text-decoration:none !important;vertical-align:top}
.popup .desc_popup{padding:20px;text-align:center;color:#2a2a2a}
.popup .desc_inner{padding:20px;font-size:15px;color:#555;text-align:center;font-family:'Notosans', 'dotum', '돋움'}
.popup .desc_inner .code_tit{font-size: 16px;}
.popup .desc_inner .code_txt{font-size: 14px;}
.popup .btns{margin-top:20px;text-align:center}
.popup .btn_close{position:absolute;top:18px;right:22px;width:15px;height:15px;background-position:-170px -205px}
.popup.type2{padding:24px 30px 30px}
.popup.type2 .tit_popup{margin-bottom:20px;padding-bottom:0;font-size:16px;color:#2b2b2b;border:none}
.popup.type2 .desc_popup{text-align:left}
.popup .btn_email{display:inline;color:#17a5fb}
.popup .org{color:#ff7800}
.popup .blue{color:#17a5fb}
.popup.type3 {width:400px;padding:0 0 30px;border:0}
.popup.type3 .tit_popup {padding:15px 20px 12px;border-bottom:2px solid #4ea1ff;font-size:16px;font-weight:bold}
.popup.type3 .desc_inner {padding:20px}
.popup.type3 .btn_type1 {background-color:#4ea1ff;border-color:#4ea1ff}
.popup.type3 .btn_type1, .popup.type3 .btn_type2 {height:40px;padding:0 42px;border-radius:0}
/* 닉네임 등록 레이어 */
.pop_nickname form {padding:13px 50px 20px}
.pop_nickname .desc_popup {display:none}
.pop_nickname .input_area {overflow:hidden;position:relative;height:34px;margin-bottom:4px}
.pop_nickname .tf_item{width:225px;height:32px;padding:0 8px;margin-bottom:4px;line-height:32px;border:1px solid #c0c0c0;border-right:0 none;background:#fff;color:#737373;vertical-align:top}
.pop_nickname .tf_item::-webkit-input-placeholder , .pop_nickname .tf_item::-moz-placeholder, .pop_nickname .tf_item:-ms-input-placeholder{color:#bfbfbf}
.pop_nickname .txt_chknum {position:absolute;right:0;top:0;width:47px;height:32px;padding-left:10px;border:1px solid #c0c0c0;border-left:1px solid transparent;line-height:32px}
.pop_nickname .txt_desc {font-size:11px;letter-spacing:-1px;color:#767676}
.pop_nickname .btns {margin:0}
/* 광고영역 */
.notice .thumb_ad {width:260px;height:260px} /* 2016-05-12 수정 */
.event .thumb_ad , .search .thumb_ad {width:220px;height:220px} /* 2016-05-12 수정 */
/*이용약관*/
.intro_policy {color:#333}
.intro_policy .tit_policy {padding:30px 0 22px;font-size:21px;color:#18a3fa;letter-spacing:-1px}
.intro_policy .desc_type1 {padding-top:20px;letter-spacing:-0.5px}
.intro_policy .desc_type2 {padding-top:10px;letter-spacing:-0.5px}
.intro_policy .tit_article {display:block;padding-top:35px}
.intro_policy li .txt_num {margin-left:-15px}
.intro_policy .list_type1 {margin-top:40px}
.intro_policy .list_type2 {margin-top:20px}
.list_type2 li {padding-left:10px}
.intro_policy .list_type2 li:before{content:"";display:inline-block;width:4px;height:4px;margin:-2px 5px 0 -10px;background:#000;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;vertical-align:middle}
.intro_policy .list_type3 {padding-top:10px;line-height:20px}
.intro_policy .list_type3 > li {padding-left:15px;letter-spacing:-0.5px}
.intro_policy .list_type4 {margin-top:10px;padding:20px 18px;border:4px solid #e4e4e4;line-height:20px;letter-spacing:-0.5px}
.intro_policy .list_type4 em {font-weight:bold}
.intro_policy .list_type5 {margin-top:0;padding-top:0}


/* tab_box */
.tab_box {overflow:hidden;width:100%}
.tab_box li {float:left;display:table;width:auto;height:40px;border:1px solid #dbdfe7;border-right:0;box-sizing:border-box}
.tab_box li .link_box {display:table-cell;text-align:center;font-size:13px;color:#666666;line-height:1.2;vertical-align:middle}
.tab_box li:last-child {border:1px solid #dbdfe7}
.tab_box li.on {border-color:#3398ff}
.tab_box li.on + li {border-left-color:#3398ff}
.tab_box li.on .link_box {background-color:#fff;color:#3398ff}
/* tab_txt */
.tab_txt {overflow:hidden;width:100%;height:40px}
.tab_txt li {display:inline-block;height:20px;margin:10px 0;padding:0 10px;border-left:1px solid #c8c8c8}
.tab_txt .link_txt {display:block;padding-bottom:3px;font-size:16px;color:#202020;box-sizing:border-box}
.tab_txt li:first-child {padding-left:0;border:0}
.tab_txt li.on .link_txt {color:#3398ff;border-bottom:2px solid #3398ff}

/* 설문참여 동의 팝업 */
.layer_agree {display:none;position:absolute;left:0;top:0;z-index:10;width:100%;height:100%}
.layer_agree .bg_layer {position:fixed;left:0;top:0;z-index:9;width:100%;height:100%;background-color:#000;opacity:0.7;cursor:pointer}
.layer_agree .inner {position:absolute;left:0;right:0;top:0;z-index:11;bottom:0;width:520px;height:480px;padding:40px 50px 30px;margin:auto;border-top:4px solid #4ea1ff;background-color:#fff}
.layer_agree .layer_head {overflow:hidden;text-align:center;margin-bottom:40px}
.layer_agree .layer_head .tit {font-size:28px;font-weight:normal;line-height:34px;font-family:'Notosans','dotum','돋움'}
.layer_agree .layer_head .tit em {color:#50b4ff}
.layer_agree .layer_head .txt {font-size:14px}
.layer_agree .s_tit {display:block;margin-bottom:10px}
.layer_agree .agreebox {overflow-y:auto;width:500px;height:190px;padding:10px;line-height:20px;border:1px solid #c0c0c0;color:#737373;word-break:keep-all;word-wrap:break-word;resize:none}
.layer_agree .agreebox span {font-weight:bold}
.layer_agree .agreebox ul {margin:8px 4px}
.layer_agree .in_tit{display:block;margin:35px 0 10px;text-align:center;font-size:17px;color:#555555}
.layer_agree .input_check {height:24px;text-align:center}
.layer_agree .btns {margin-top:25px;text-align:center}
.layer_agree .btns .btn {display:inline-block;width:154px;padding:11px 10px;border:1px solid #b8c0cf;font-size:14px;font-weight:bold;text-align:center}
.layer_agree .btns .btn_answer {color:#fff;background-color:#b8c0cf}
.layer_agree .btns .btn_answer.on {border-color:#2bacff;background-color:#2bacff}
.layer_agree .btns .btn_cancel {color:#555555;background-color:#fff}
.layer_agree .btns .btn_confirm {color:#fff;background-color:#2bacff;border-color:#2bacff}
.layer_agree .btn_close {position:absolute;right:40px;top:40px;width:22px;height:22px;background-position:-110px -205px}
/* 설문 결과 */
.layer_result {display:none;position:absolute;width:910px;padding:50px 15px 30px;border-top:4px solid #4ea1ff;background-color:#fff}
.layer_result .layer_head {margin-bottom:25px;text-align:center}
.layer_result .tit {color:#50b4ff;font-size:28px;font-weight:normal;line-height:1;font-family:'Notosans','dotum','돋움'}
.layer_result .info_txt {display:block;margin-top:15px;color:#848484;line-height:20px}
.layer_result .layer_body img {max-width:910px;margin:0 auto}
.layer_result .btns {margin-top:20px;text-align:center}
.layer_result .btns .btn_cancel {display:inline-block;width:110px;height:36px;padding:8px 10px;background-color:#a0adb5;color:#fff;font-size:12px;font-weight:bold;text-align:center}
.layer_result .btn_close {position:absolute;right:30px;top:26px;width:22px;height:22px;background-position:-110px -205px}


/* 제휴문의 및 이용약관 */
.contents.with {float:initial;width:100%}
.intro .btn_bn {display:block;padding:8px 10px;margin-top:20px;border-radius:2px;font-size:12px;font-weight:bold;text-align:center}
.intro .btn_enter {border:1px solid #1795e2;background-color:#17a5fb;color:#fff}
.intro .btn_white {border:1px solid #ccc;color:#aaa;background-color:#fff}
.section_make {padding:22px 0}
.section_make .wrap_top {overflow:hidden;margin:0 29px 10px;padding-bottom:15px;border-bottom:2px solid #757575}
.section_make .title {display:block;float:left;font-size:18px;font-weight:bold;color:#2a2a2a;letter-spacing:-1px}
.section_make .txt_must {float:right;margin-top:5px}
.section_make .fld_item {overflow:hidden;display:block;padding:10px 29px 0}
.fld_item .input_area {overflow:hidden;position:relative}
.fld_item .no_edit {line-height:32px}
.fld_item .tit_item {float:left;display:block;width:80px;height:34px;line-height:16px;font-weight:bold}
.tit_item label, .tit_item span {display:table-cell;width:90px;height:34px;vertical-align:middle}
.tit_item .txt_must {float:none}
.tit_item label:before, .txt_must:before {content:"";display:inline-block;width:4px;height:4px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#ff0303;vertical-align:middle;margin-right:6px}
.fld_item .inp_file {position:absolute;left:-9999px;top:0;width:340px;height:30px;background:#fff;opacity:0;filter:alpha(opacity=0)}
.fld_item .tf_item{height:32px;padding:0 8px;margin-bottom:4px;line-height:32px;border:1px solid #c0c0c0;background:#fff;color:#737373;vertical-align:top}
.fld_item button.tf_item {height:34px}
.fld_item button.tf_item + .tf_item {margin:0 -5px;text-align:center}
.fld_item .lab_time {display:inline-block;margin:6px 0 0 4px}
.fld_item .emph_g {font-weight:bold}
.fld_item .txt_chknum {position:absolute;right:0;top:0;width:47px;height:32px;padding-left:10px;border:1px solid #c0c0c0;border-left:1px solid transparent;line-height:32px}
.fld_item .add_majors {clear:both;overflow:hidden;padding-left:80px}
.fld_item .add_majors li {float:left;padding:10px 0 7px;margin-right:13px;line-height:14px;white-space:nowrap}
.fld_item .btn_white {color:#687483}
.fld_item .opt_profile {float:left;width:56px;height:34px;padding:2px;margin-left:4px;border:1px solid #c0c0c0;font-family:verdana Regular,sans-serif;vertical-align:middle;line-height:18px}
.fld_item .txt_bar {float:left;margin:10px 3px 0 3px}
.opt_profile[disabled="disabled"] {background:#ddd;color:#ccc}
.section_make .ui-datepicker-trigger {position:absolute;right:20px;top:7px}
.section_make .btn_layer {display:inline-block;width:100px;height:35px;line-height:35px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:12px;font-weight:bold;vertical-align:middle;text-align:center}
.section_make .wrap_btn {overflow:hidden;margin-top:25px;padding-top:25px;text-align:center}
.section_make .btn_item {position:absolute;right:0;top:0;width:82px;height:31px;line-height:33px;text-align:center;font-weight:bold;letter-spacing:-1px}
.section_make .link_file{background-color:#fff;border:1px solid #c0c0c0;color:#687483}.fld_item .list_file {overflow:hidden;position:absolute;left:8px;top:6px}
.fld_item .list_file li {float:left;height:21px;margin-left:-1px;margin-right:4px}
.link_file .txt_file_name {display:none}
.list_file .txt_file_name {overflow:hidden;display:inline-block;font-size:11px;padding:3px;color:#4a4a4a;text-overflow:ellipsis;white-space:nowrap;line-height:16px}
.input_area .btn_delete {display:inline-block;width:14px;height:21px;background-position:-110px -175px;vertical-align:top}
.area_editor {float:left;width:536px;height:502px;border:1px solid #e4e4e4}
.area_point {padding:18px 22px 0 22px;height:40px}
.area_point .txt_point {font-size:18px;color:#ff933b;letter-spacing:-1px}
.opt_profile[disabled="disabled"], .tf_item[disabled="disabled"], .inp_rdo[disabled="disabled"] {background:#ddd;color:#ccc}
.disabled .list_file .txt_file_name {color:#ccc}
.disabled .list_file .btn_delete {opacity:0.2;cursor:default}
.intro .tit_win {padding:10px 0 22px;font-size:21px;color:#18a3fa;letter-spacing:-1px}
.tit_win .txt_bar {padding: 0 10px;font-weight:normal;font-size:14px;color:#bfbfbf}
.tit_win .txt_win { font-size:11px;color:#000;letter-spacing:-1px;font-weight:normal}
.intro .inner_header { height:36px}
.intro .section_make {padding:50px 20px;border:1px solid #e4e4e4;background:#fff}
.intro .section_make form {overflow:hidden}
.intro .area_left { float:left;width:410px;margin-right:38px}
.intro .txt_at { float:left;margin:0 12px}
.intro .tit_item { width:90px}
.intro .input_area {line-height:36px}
.intro .area_editor {width:758px}
.intro .opt_profile {margin:0}
.intro .txt_desc { display:block;padding:10px 0 30px 90px;font-size:11px;color:#989898;letter-spacing:-1px}
.intro_policy .tab_type2 ul {height:50px}
.intro_policy .tab_type2 ul li {width:198px}
.intro_policy .tab_type2 ul li a {height:30px;padding-top:18px;font-size:14px}
.intro_policy .tab_type2 ul li.on a {height:31px}
.intro_policy .tit_field {display:block;padding-top:46px;color:#18a3fa}
.intro_policy .txt_field { padding-top:8px;font-size:11px;letter-spacing:-1px}
.intro_policy .inp_chk {margin-right:10px}
.intro_policy .desc_type1 { padding-bottom:30px}
.intro_policy .list_type3 {padding:14px 20px;margin:10px 0;border:1px solid #e4e4e4;line-height:24px}
