@charset "utf-8";

/*회원가입 - 본인확인, 기본정보입력 */
.member .alert_code {color:#848484;font-size: 11px;display: block;position: relative;padding-left: 10px;clear: both;}
.member .alert_code span {color:#54637b;font-weight:600;margin-left: 0px;font-size: 14px;}

.member #container	{width: 100%;margin:0 auto;overflow:hidden;}
.member #container .contents {padding: 60px 0 150px;background-color: #f5f6f7;width: 100%;} /* 2016-02-03 수정  */
.member #container .contents h2 {width:560px;margin:0 auto 11px;font-size: 30px;color: #55b9ff;font-weight: 500;TEXT-ALIGN: CENTER;}
.member #container .contents h2.step01 {margin: auto;font-weight: 400;width: 950px;text-align: left;}
.member #container .contents h2.step01 a{display:inline-block;color:#889aa7}
.member #container .contents h2.step01 a.on{color:#1b9cff}
.member #container .contents h2.step01 span{font-weight:normal;color:#889aa7}
.member .txtArea {padding:63px 0 66px;text-align:center;font-size:14px}
.member .txtArea_type01{padding:26px 0 32px;font-size:14px}
.member .txtArea_type02{padding:26px 0 19px;font-size:14px}
.member .txtArea_type02 strong{display:block;font-size:16px}
.member .txtArea_type02 p{margin:15px 0 4px}
.member .select01{padding-bottom:25px;width:100%;overflow:hidden;font-size:14px}
.member .select01 li{float:left;margin-right:20px}
.member .select01 .on{font-weight:bold;color:#1b9cff;letter-spacing:-1px}
.member .select01 *{display:inline-block;vertical-align:middle}
.member .select01 li input{margin-right:6px}
.member .select01 li label{cursor:pointer}
.member .btn_blue {width:275px;height:60px;line-height: 60px;font-size: 18px;background-color: #55b9ff;color: #fff;text-align: center;margin: auto;}

.member .idPwd input{float:left;margin-right:-1px;padding-left:10px;border:1px solid #dfdfdf;height: 40px;line-height: 40px;}
.member .idPwd input::-webkit-input-placeholder {color:#999}
.member .idPwd input::-moz-placeholder {color:#999}
.member .idPwd input:-ms-input-placeholder {color:#999}

.member .idPwd select{float:left;margin-right:-1px;padding-left:10px;border:1px solid #dfdfdf;height: 40px;font-weight:bold;font-size:14px;line-height:41px;color: #555;}
.member .idPwd .bt{display:inline-block;margin-left:9px;padding:0 14px;height: 40px;line-height: 40px;color:#fff;font-size:12px;font-weight: 400;border:0;text-decoration:none;cursor:pointer;}
.member .idPwd .btn_gray{background:#8d99a1}
.member .idPwd .btn_blue{background:#18a3fa;width: 108px;padding: 0;}
.member .idPwd .alert_txt{padding:10px 0 0 78px;font-size:11px;font-weight:normal;color:#fd4744;display:block;position: relative;}

.member .cert_wrap {overflow:hidden;width: 980px;margin: 40px auto 50px;}
.member .idPwd {width: 950px;}
.member .certBox  {overflow:hidden;float:left;width: 389px;height:112px;border:1px solid #ddd;padding:37px 0 34px 85px;background:#fff;}
.member .certBox .ico_comm {float:left;width:40px;height:65px;margin:20px 37px 0 0}
.member .certBox .ico_mobile {background-position:0 -200px}
.member .certBox .ico_ipin {background-position:0 -126px}
.member .certBox .guideInfo {float:left;width: 216px;text-align:center;line-height:1.5;}
.member .certBox .guideInfo p {font-size:14px; color:#555555; }
.member .certBox .guideInfo h3{font-size: 22px;font-weight:bold;margin-bottom:11px;color: #555555;}
.member .certBox .guideInfo .btnCert {display:inline-block;margin-top:16px;padding-right:16px;color: #1b9cff;font-weight: 500;font-size: 16px;}
.member .certBox:first-child {margin-right:27px}
.member .certBox2{padding:77px 0 74px;background:#fff;border:1px solid #ddd;text-align:center;}
.member .certBox2 p {font-size:20px; color:#555555;margin-bottom:10px;}
.member .certBox2 .fld_id em {font-size:16px; color:#555555; font-weight:600;}
.member .certBox2 .fld_id span {font-size:18px; color:#2fb8ff; font-weight:500; text-decoration: underline;}
.member .certBox2 strong{color:#1b9cff}
.member .certBox3{padding: 40px;background:#fff;border:1px solid #ddd;font-size:14px;font-weight:bold;}
.member .certBox3 p {margin:0 auto; display:inline-block;}
.member .certBox3 h4 {margin-bottom:20px;font-size:20px;color:#555555;font-weight:500;text-align: center;}
.member .certBox3 li {margin-top:10px;width:100%;overflow:hidden}
.member .certBox3 li:first-child {margin-top:0;}
.member .certBox3 li *{vertical-align:middle}
.member .certBox3 li label{display:inline-block;float:left;width:75px;color: #555555;position: relative;padding-top: 10px;}
.member .certBox3 .center {text-align:center;display: block;}
.member .certBox3 .center input , .member .certBox3 .center a {float:none; display:inline-block;}
.member .certBox4{padding:65px 0 45px 300px;background:#fff;border:1px solid #ddd}
.member .certBox4 p{width:100%;overflow:hidden}
.member .certBox4 .alert_txt{padding:10px 0 0 4px}
.member .certBox5{padding:68px 0 36px;background:#fff;border:1px solid #ddd;font-size:16px}
.member .certBox5 h4 {margin-bottom:20px;font-size:20px;color:#555555;font-weight:500;text-align: center;}
.member .certBox5 .center{padding-bottom:42px;text-align:center;font-size: 20px;line-height:30px;overflow:hidden;}
.member .certBox5 .center input{float:none;margin-bottom:8px;width:304px;font-size:14px;font-weight:bold;color:#999}
.member .certBox5 .center span{position:relative;display:block;margin:0 auto;width:316px;padding:10px 0}
.member .certBox5 .center em{position:absolute;top:50px;left:2px;display:block;text-align:left;font-size:11px;color:#fe0103;font-size:11px}
.member .certBox5 .center .txt_blue{color:#18a3fa}
.member .certBox5 h3{margin:0 auto;padding-top:25px;width:495px;font-size:12px;color:#6a7180}
.member .certBox5 ul{margin:0 auto;padding-left:2px;width:493px;color:#6a7180;font-size:12px}
.member .certBox5 li{margin-top:6px;padding-left:10px}
.member .certBox5 li:before{content:"";display:inline-block;width:10px;height:10px;margin-left:-10px;background:url(../../images/pc/webinar/ico_comm.gif) 0 -427px no-repeat}
.member .certBox5 ul.txt1{position:relative;margin:25px 0 10px 228px;width:600px}
.member .certBox5 .line{margin:0 auto;width:495px;border-bottom:1px solid #d9d9d9}

.member .btn_bottom{position:relative;margin-top:30px;width:100%;overflow:hidden;text-align:center}
.member .btn_bottom a {margin:0 3px;}
.member .btn_bottom .btn_blue{display:inline-block;min-width:84px;height: 60px;line-height: 60px;color:#fff;font-weight: 400;font-size: 18px;background: #55b9ff;border:0;text-decoration:none;text-align:center;vertical-align:middle;cursor:pointer;}
.member .btn_bottom .btn_gray{display:inline-block;padding:0 16px;width: 275px;height: 60px;line-height: 60px;color: #555555;font-weight: 400;font-size: 18px;border: 1px solid #cacbcb;background-color: #fff;text-decoration:none;text-align:center;vertical-align:middle;cursor:pointer;box-sizing: border-box;}
.member .btn_bottom input{min-width:116px !important}
.member .btn_bottom .right_txt_btn{position:absolute;top:13px;right:0;text-decoration:underline}

.member .joinBox {width:560px;margin:0 auto 30PX}
.member .joinBox .txt_must { float:right;margin-top:-30px}
.member .joinBox .inBox {background:#fff;border: 1px solid #dddddd;margin-top:6px;}
.member .joinBox .inBox:first-child {margin-top:0}
.member .joinBox .inBox table {width:100%;border-collapse:collapse;border-spacing:0}
.member .joinBox .inBox .way + td{ padding-left:0}
.member .joinBox .inBox table.experience td {font-size:12px;padding:0 21px}
.member .joinBox .inBox table.experience .select .myValue.selected {font-size:12px;font-weight:normal}
.member .joinBox table.experience td input[type=text] {padding-left:9px;font-size:12px;font-weight:normal;border:1px solid #dfdfdf}
.member .joinBox .inBox table.experience .tail{padding-left:5px;font-size:11px;color:#999}
.member .joinBox .inBox table.experience .alert_right {padding-left:15px;display:none}
.member .joinBox .inBox table.experience .exp_con {display:none}
.member .joinBox .inBox table.experience .exp_con td {position:relative;padding:18px 0 47px 62px;background:#f9f9f9;border-top:none}
.member .joinBox .inBox table.experience .exp_con ul {}
.member .joinBox .inBox table.experience .exp_con ul.list >  li {margin:0 0 5px 0}
.member .joinBox .inBox table.experience .exp_con ul li .label {font-size:11px;width:59px;*vertical-align:top;display:inline-block}
.member .joinBox .inBox table.experience .exp_con .ico {margin-right:4px}
.member .joinBox .inBox table.experience .exp_con .ico img{vertical-align:middle}
.member .joinBox .inBox table.experience .exp_con .btn_area {position:absolute;right:15px;bottom:15px}
.member .joinBox .inBox table.experience .exp_con .btn_close {position:absolute;right:18px;top:14px}
.member .joinBox .inBox table.experience .exp_con .select.v2 {position:absolute;right:135px;bottom:15px;background:#f9f9f9}
.member .joinBox .inBox table.experience .exp_con .select.v2 button {border:none}
.member .joinBox table td {height:50px;border-top: 1px solid #dddddd;font-size:15px;}
.member .joinBox .check_id, .member .joinBox .check_pw, .member .joinBox .check_cert { position:absolute; left:12px; top:12px;z-index:90;width:350px !important;}
.member .joinBox table td .check_id,
.member .joinBox table .essen input[type=text], .member .joinBox table td.phoneNum input,
.member .joinBox table td input[type=password]{border:none;height:25px;line-height:25px;font-weight:bold;font-size:15px;background:transparent}
.member .joinBox table td input.on {background:none !important}
.member .joinBox table tr:first-child td {border-top:0}
.member .joinBox table tr td:first-child{padding-left:20px}
.member .joinBox table td.txt_guide {padding-right:39px;text-align:right}
.member .joinBox .essen, .member .joinBox .not_essen {display:inline-block;height:25px;font-weight:bold;}
.member .joinBox .not_essen {padding-left:10px}
.member .joinBox .essen:before {content:"";float:left;width:4px;height:4px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#ff0303;vertical-align:middle;margin-top:10px;margin-right:6px}
.member .list_desc .essen:before {content:"";float:none;display:inline-block; margin:7px -2px 0 -1px; vertical-align:top}
/* 2021-07-05 */
.member .joinBox .essen span {font-size:11px;font-weight:normal;}
.member .joinBox table td .alert_name {float:right;margin-top:4px;padding-right:39px;font-size:12px;color:#2a88c5;white-space:nowrap}
.member .joinBox table td .radioBox {overflow:hidden;float:right;padding-right:39px}
.member .joinBox table td .radioBox input {margin-right:5px;vertical-align:middle;width:13px;height:13px}
.member .joinBox table td .radioBox li {float:left;margin-left:30px}
.member .joinBox table td .radioBox li:first-child {margin-left:0}

.member .joinBox table td.phoneNum {padding-left:20px}
.member .joinBox table td.phoneNum input {width:80px;text-align:center}
.member .joinBox table td .select_wrap {width:100%;position:relative;margin-right:20px}
.member .joinBox table td .selectBox_sm {height:30px;line-height:30px;width:223px;padding:0 14px;margin-right:20px;border:1px solid #e2e2e2}
.member .joinBox table td .selectBox_sm a {display:inline-block;width:100%}
.member .joinBox table td .selectBox_sm a span {display:inline-block;width:100%}
.member .joinBox table td .select_wrap .option_wrap {position:absolute;left:0;top:32px;background:#fff;border:1px solid #e2e2e2;border-top:0;padding:18px 0;display:none}
.member .joinBox table td .select_wrap .option_wrap.on {display:block;z-index:99}
.member .joinBox table td .select_wrap .option_wrap ul {background:#fff}
.member .joinBox table td .select_wrap .option_wrap ul li {margin-top:10px;padding-left:14px}
.member .joinBox table td .select_wrap .option_wrap ul li:first-child {margin-top:0}
.member .joinBox table td .select_wrap .option_wrap ul li a {display:block}
.member .joinBox table td .select_wrap .option_wrap ul li .pro_wrap {overflow:hidden;font-size:12px}
.member .joinBox table td .select_wrap .option_wrap ul li .pro_wrap .pro_img,
.member .joinBox table td .select_wrap .option_wrap ul li .pro_wrap .pro_txt {float:left}
.member .joinBox table td .select_wrap .option_wrap ul li .pro_wrap p {line-height:1.5}
.member .joinBox table td .select_wrap .option_wrap ul li .pro_wrap p:first-child {font-weight:bold;color:#0082ce}
.member .joinBox table td .select_wrap .option_wrap ul li .pro_wrap .pro_img {width:40px}
.member .joinBox table td .select_wrap .option_wrap ul li .pro_wrap > div:first-child {margin-right:9px}
.member .joinBox table td .select_wrap .option_wrap ul li .pro_wrap p {line-height:1.5}
.member .joinBox table td .select_wrap .option_wrap ul li .pro_wrap p:first-child {font-weight:bold;color:#0082ce}
.member .joinBox table td.info_recept .not_essen  {display:block;height:18px;line-height:18px;vertical-align:top}/* 2016-02-03 수정 */
.member .joinBox table td.info_recept .link_essen {width:20px;height:20px;background-position:0 -270px}

.member .joinBox table td.info_recept .layerBox {position:absolute;left:147px;top:17px;width:192px;padding:9px;background:#fff;border:1px solid #9e9e9e;min-width:192px;font-size:11px;display:none}
.member .joinBox table td .info_recept_list li:first-child {margin-bottom:5px}
.member .joinBox table td .info_recept_list li {font-size:12px}
.member .joinBox table td .input_wrap {position:relative;padding:12px 0; color:#555;}
.member .joinBox .typical {height:auto !important;padding: 12px 0;}
.member .joinBox .typical .box_select {float:none;}
.member .joinBox .typical div + div {padding: 0;margin-top: 7px;}
.member .joinBox table td .txt_desc {display:block;padding:5px 0;font-size:12px}

.wrap_cert {width:560px;margin: 34px auto 0;color:#555;}
.cert_ok {padding:55px 52px;background:#fff;border: 1px solid #dddddd;letter-spacing:-1px;}
.cert_ok  .txt_ok {font-weight: 400;text-align: center;font-size:20px;letter-spacing:-1px;color: #555555;}
.cert_ok .fld_id {padding-top: 35px;font-size: 16px;text-align:center;}
.cert_ok .fld_id em { font-weight: 600; color: #555555;}
.cert_ok .fld_id span { color: #2fb8ff; text-decoration: underline;}
.wrap_cert .btn_join {width: 274px;  height: 60px; line-height: 60px; text-align: center; background-color: #55b9ff; color: #fff; font-size: 18px; margin: 45px auto;}

.input_wrap .area_upload {position:relative}
.input_wrap .link_file { position:absolute; right:22px; top:0;}
.input_wrap .list_desc {padding-right:22px;margin-top:12px;letter-spacing:-1px;}
.input_wrap .list_desc li {font-size:12px;line-height:18px}
.input_wrap .list_desc em {font-weight:bold; font-size:12px}
.input_wrap .wrap_rdo {display:block; margin:14px 0;font-size:12px; font-weight:bold; line-height:14px;letter-spacing:-1px}
.input_wrap .wrap_rdo input[type=radio] { vertical-align:top;}
.input_wrap .desc_cert {overflow:hidden;height:28px;margin-right:22px;border:1px solid #ddd;font-size:11px; line-height:29px;}
.input_wrap .desc_cert dt{float:left;width:68px;border-right:1px solid #ddd; font-weight:bold;text-align:center}
.input_wrap .desc_cert dd { float:left; padding-left:17px}
.input_wrap .ico_check, .input_wrap .ico_pw {overflow:hidden;position:absolute;right:24px;top:50%;margin-top:-10px;width:18px;height:20px}

.member .joinBox table td .input_wrap .ico_pw {background-position:0 -40px}
.member .joinBox table td .input_wrap .ico_pw.wrong {background-position:0 -100px}
.member .joinBox table td .input_wrap .ico_pw.right {background-position:0 -70px}
.member .joinBox table td .input_wrap .ico_check {background-position:-40px -40px}
.member .joinBox table td .input_wrap .ico_check.wrong {background-position:-40px -100px}
.member .joinBox table td .input_wrap .ico_check.right {background-position:-40px -70px}
.member .joinBox table td .alert_error {clear:both;padding-left:10px;color:#fe0103;font-size:11px}
.member .joinBox table td .alert_right  {clear:both;padding-left:10px;color:#1aa0f9;font-size:11px}

.member .joinBox table td .f11 {font-size:11px}
.member input {font:12px "dotum", "돋움",  sans-serif;color:#000;font-weight:400;border-color:#dfdfdf;font-size:15px;box-sizing: border-box;margin-bottom: 0;}
.member .joinBox .errorBox {margin:15px 0;font-size:15px;color:#fe0103;text-align:center}
.member .joinBox .joinBtn {overflow:hidden;margin-top:10px;text-align: center;height: 60px;}
.member .joinBox .joinBtn a {display:inline-block;width:275px;height:60px;line-height:60px;text-align:center;background:#fff;border:1px solid #cacbcb;color:#555555;font-size:18px;box-sizing: border-box;}
.member .joinBox .joinBtn a.btn_join {background-color:#55b9ff;color:#fff;margin-right: 7px;border: 0;}


.member .joinBox table td .btnRound {display:inline-block;padding:5px 20px;font-weight:bold;border:1px solid #ddd;background:#fff;border-radius:2px;text-align:center}
.member .joinBox table td .input_wrap .btnRound	{position:absolute;right:20px;top:50%;margin-top:-17px;background-color:#a8afbb;color:#fff;}
/* 2021-07-05 */
.member .joinBox table td .input_wrap .btnRound.type2 {background:#fff;color:#555;}
.member .joinBox table td .input_wrap .txt_essen {position:absolute;left:10px;top:16px;z-index:1;height:17px;font-weight:bold;font-size:15px;line-height:17px;color:#a9a9a9;letter-spacing:-1px}
.member .joinBox table td .input_wrap .txt_essen span {font-size:11px;font-weight:normal}
.member .joinBox table td .input_wrap .blur + .txt_essen{display:none}
/* 2021-07-05 */
.member .joinBox table td .input_wrap.email {padding:0 10px;}
.member .joinBox table td .input_wrap.email .box_select {display:inline-block;float:none;margin-left:3px;}
.member .joinBox table td .input_wrap.email .box_select select {font-weight:700;}
.member .joinBox table td .input_wrap.email input[type="text"] {border:1px solid #dfdfdf;height:29px;box-sizing:border-box;padding:5px 10px;}
.member .joinBox table td .input_wrap.email .at {font-size:12px;font-weight:700;color:#555;display:inline-block;padding:0 8px;}
.member .joinBox .box_notice {position:absolute;left:10px;top:-55px;width:280px;padding:10px 14px 8px;border:1px solid #ddd;font-size:11px;color:#252525;letter-spacing:-1px;background:#fff;-webkit-box-shadow: 5px 1px 10px 1px rgba(0,0,0,0.25);-moz-box-shadow: 5px 1px 10px 1px rgba(0,0,0,0.25);box-shadow: 5px 1px 10px 1px rgba(0,0,0,0.25);}
.box_notice .ico_angle { position:absolute;bottom:-16px;left:10px;display:block;width:0;height:0;border-width:10px 6px 6px 6px;border-style:solid;border-color:#ddd transparent transparent transparent}
.ico_angle:before {content:"";position:absolute;bottom:-2px;left:-5px;display:block;width:0;height:0;border-width:8px 5px 4px 5px;border-style:solid;border-color:white transparent transparent transparent}

/*회원가입 - 약관동의*/
.member .joinBox .agreeBox_wr {background:#fff;border:1px solid #ddd}
.member .agreeAll {position:relative;height:50px;line-height:50px;padding:0 18px;font-size:15px;font-weight:bold}
.member .agreeBox {padding:17px 18px 24px 18px;border-top:1px solid #eee;position:relative}
.member .agreeBox h3 {display:inline-block;font-size:15px;font-weight:bold}
.member .agreeBox h3 + span {font-size:12px}
.member .agreeCheck {width:24px;height:24px;position:absolute;right:18px;top:14px;background-position:0 0}
.member .agreeCheck.on {background-position:-30px 0}
.member .scrollBox {margin-top:20px;border:1px solid #eee;overflow-y:auto;height:140px;color:#8f8f8f}
.member .scrollBox .txtBox {padding:14px;padding-top:0}
.txtBox .tit_policy {padding:30px 0 22px;font-size:21px;color:#18a3fa;letter-spacing:-1px}
.txtBox .desc_type1 {padding-top:10px;letter-spacing:-0.5px}
.txtBox .tit_article {display:block;padding-top:22px}
.txtBox .list_type3 {padding-top:10px;line-height:20px}
.txtBox .list_type3 > li {padding-left:15px;letter-spacing:-0.5px}
.txtBox li .txt_num {margin-left:-15px}
.txtBox .list_type2 { margin-top:10px;padding:20px 18px;border:4px solid #e4e4e4;line-height:20px;letter-spacing:-0.5px}
.txtBox .list_type2 em {font-weight:bold}
.txtBox .tbl_userinfo {width:100%;margin-top:10px;border:1px solid #e4e4e4;border-top:0 none;border-right:0 none;text-align:center}
.txtBox .tbl_userinfo th {height:43px;background:#f2f4f5;border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4;font-size:12px} /* 2016-01-11 수정 */
.txtBox .tbl_userinfo > tbody> tr > td {height:43px;border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4;font-size:12px}/* 2016-01-11 수정 */
.member .joinBox .agreeBox_wr + .joinBtn a {border-radius:0}
.member .agree_notice	{margin-top:10px;font-size:11px;color:#fe0103}


/*회원가입 - 완료*/
.sign_completion .contents {width:683px;margin:0 auto;overflow:hidden}
.sign_completion h2 {font-size:32px;font-weight:bold;text-align:center;color:#19a1f9}
.sign_completion h2 span {display:block;margin-top:3px;font-size:16px;font-weight:normal}
.sign_completion .service_list {overflow:hidden;margin:5px 0 0 -21px;border-bottom:1px solid #19a1f9}
.sign_completion .service_list li {float:left;margin-left:21px}
.sign_completion .service_list li dl {padding:13px 0 0}
.sign_completion .service_list li dl dt {font-size:16px;font-weight:bold;color:#555}
.sign_completion .service_list li dl dt img{display:block;width:155px;height:165px;margin:0 0 13px 0}
.sign_completion .service_list li dl dd {padding:6px 0 40px;color:#999;font-size:11px}

.sign_completion .awhile {width:560px;margin:0 auto;padding:78px 0 0 0}
.sign_completion .awhile h3 {padding-bottom:14px;color:#18a3f9;font-size:14px;letter-spacing:-1px}
.sign_completion .awhile h3:before {content:'';display:inline-block;width:10px;height:10px;margin-right:3px;background:url(../../images/pc/webinar/ico_comm.gif) 0 -390px no-repeat;vertical-align:top;margin-top:6px}
.sign_completion .awhile p {line-height:18px}
.sign_completion .awhile p.upload_file {margin-bottom:13px}
.sign_completion .awhile p.upload_file.failure {color:#ff4141}
.sign_completion .awhile p.upload_file.success {color:#19a1f9}
.sign_completion .fileInputDiv {position:relative;width:411px;overflow:hidden;margin:20px 0;cursor:pointer}
.sign_completion .fileInputDiv input[type=text] {width:308px;height:28px;line-height:28px;border:1px solid #ddd;margin-right:10px}
.sign_completion .fileInputButton{width:87px;height:31px;/*position:absolute;top:0px;*/ font-size:100em}
.sign_completion .fileInputHidden{width:100%;height:31px;position:absolute;right:0px;top:0px;opacity:0;cursor:pointer;padding:0 !important;
    filter:alpha(opacity=0);
    -ms-filter:"alpha(opacity=0)";
    -khtml-opacity:0;
    -moz-opacity:0;
}

/* Select */
.member .select{position:relative;height:30px;text-align:center}
.member .alignC {text-align:center}
.member .select.v3 {float:left;width:86px}
.member .select .myValue{color:#555;border:1px solid #dfdfdf;line-height:19px;_line-height:normal;text-align:center;overflow:visible;background:transparent}
.member .select .myValue.selected{overflow:hidden;display:inline-block;width:100%;font-size:15px}
.member .select.open .myValue,
.member .select .myValue.outLine{border:1px solid #999}
.member .select button.myValue{height:30px;text-align:left;text-indent:10px}
.member .select button.myValue .ico_ctrl{float:right}
.member .select div.myValue{height:19px;text-indent:8px}
.member .select .ico_ctrl {width:18px;height:14px;margin-top:7px;margin-left:4px;background-position:-50px -660px}
.member .select ul{top:30px;left:0;z-index:900;width:100%;list-style:none;border:0;border:1px solid #bababa;background:#fff;overflow:hidden;max-height:150px;overflow-y:scroll}
.member .select ul.aList{display:none;position:absolute;text-align:left}
.member .select.open ul.aList{top:30px;display:block;z-index:99}
.member .select ul.iList{left:-2000%}
.member .select.open ul.iList{left:0}
.member .select li{position:relative;overflow:hidden;white-space:nowrap;height:25px}
.member .select li input.option{position:absolute;width:100%;height:20px;line-height:20px}
.member .select li label{position:absolute;left:0;top:0;width:100%;text-indent:8px;*text-indent:6px;height:25px;line-height:25px;color:#767676;background:#fff}
.member .select li a{display:block;margin-left:3px;text-indent:8px;*text-indent:6px;height:18px;line-height:18px;color:#767676;background:#fff;text-decoration:none}
.member .select.v3 .myValue{border:none}

.box_select { float:left}
.opt_select {font-size:15px;height:auto;border:0 none;text-align:center;padding:5px;color:#555}
.not_essen .opt_select { margin-left:10px}
.opt_path {border: 1px solid #dfdfdf;}
