@import './import';

%cont_style{
	a:hover{
		.list_title{
			text-decoration: underline;
		}
	}
	.list_title{
		margin-top: 5px;
		margin-bottom: 8px;
		line-height: 1.4;
		font-weight: bold;
		font-size: 16px;
		@include ellipsis_2line();
	}
	.class_info{
        display: block;
		font-size: 12px;
		color: $c_g_6;
	}
	.cate_class,.ico_type{
		display: inline-block;
        @include list_ico;
		color: $c_white;
        font-size: 11px;
    }
    .cate_class{
		display: inline-block;
		margin-right: 4px;
        color: $c_blue;
        border:1px solid $c_blue;
    }
	.ico_grad{		
		background: linear-gradient(85.66deg, #01AFFE 33.71%, #4BDE97 75.67%);
	}
	.ico_orange{
		background-color: #FC7900;
	}
	.ico_red{
		background-color: #E03434;
	}
}
.content_wrap .cont_grid{
    @extend %cont_style;
	ul{
		padding-bottom: 38px;
        &::after{
			@include clear();
	    }
    }
	li{
        float: left;
        width: 277px;
        margin-bottom: 16px;
        padding-left: 16px;

        &:nth-child(3n+1){
            padding-left: 0;
        }

        .thum_img{
            display: inline-block;
            position: relative;
            width: 277px;
            height: 149px;
            margin-bottom: 14px;
            overflow: hidden;
        }            
    }
		
	
}
.content_wrap .cont_list{
    @extend %cont_style;
	.list_title{
		margin-bottom: 2px;
	}
	ul{
		padding-bottom: 38px;
    }
    li{
        margin-bottom: 30px;
        a{
            display: flex;				
        }
        .thum_img{
            position: relative;
            img{width: 100%;}
        }
        .info_area{
            width: 558px;
            margin-top: 10px;
            margin-left: 30px;
        }
        .point_txt{
            margin-top: 16px;
            display: flex;
            .ico_point{
                display: inline-block;
                width: 20px;
                height: 14px;
                margin-top: 3px;
                margin-right: 5px;
                @include txtHidden2();
                @include bg_ico(-114px,-30px);
            }
            .class_point{
                font-size: 14px;
            }
        }

    }
	
}
.content_wrap{
    position: relative;	
    margin-bottom: 80px;
    .list_set{
        @include pos_right();
        .sort_txt{
            padding:0 6px;
            color: #666;
            font-size: 14px;
            &.on{
                font-weight: bold;
            }
        }
        .opt{
            width: 14px;
            height: 14px;
            margin-left: 10px;
            vertical-align: -2px;
            @include bg_ico(-44px,-30px);
            &.on{
                background-position-x: -67px;
            }
            &.album{
                background-position-x: 0;
                &.on{
                    background-position-x: -22px;
                }
            }
        }
    }
	.content_top{
		position: relative;
		margin-bottom: 8px;
		font-size: 16px;
		.cont_top_title{
			font-size: 16px;
			font-weight: 500;
			font-family: Pretendard, sans-serif; 
		}		
	}	
}
.vet_container{
	.main_banner{
		display: block;
        padding-top: 23px;
		@include cont_with();
		margin-bottom: 34px;
	}	
	.cont_title{		
		font-weight: 700;
		font-size: 20px;
		letter-spacing: -0.06em;
		.font_type{
            @include font_Bry();   
		}
	}	
    .badge_wrap{
        position: relative;
        margin-bottom: 34px;   
        i{
            display: inline-block;
            @include btn_style(24px,$c_g_e6,$round:false);
            padding:4px 7px;
            font-size: 12px;
            color: $c_g_6;
            &.purple{
                color: #866AE2;
                border:1px solid #866AE2;
            }
            &.blue{
                color: $c_blue;
                border:1px solid $c_blue;
            }
        }
    }
    //view cont
    .view_cont{
        .cont_title{
            margin-top: 40px;            
        }
        .container_inner{
            margin-top: 10px;
        }
    }
}
//login,약관,마이페이지
@import './pages/content/member';
//main
@import './pages/content/main';
//sub
//전체검색
@import './pages/content/sch_cont';
//view
@import './pages/content/view';

//세미나 편성표
.pro_content{
    .down_btn{
        padding: 2px 10px;
        @include btn_style(35px,$c_black,$round:false);
        font-size: 16px;
        font-weight: 500;
    }
    .ico{
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 4px;
        padding-top: 1px;
        font-size: 12px;
        color: #fff;
        vertical-align: 3px;
        background-color: #FF6879;
        text-align: center;
        box-sizing: border-box;
        &.purple{
            background-color: #866AE2;
        }
    }
    .list_set{
        font-size: 14px;
        .check_item{
            display: inline-block;
            margin-left: 10px;
            .check{
                vertical-align: -2px;
            }            
        }
    }
    .seminar_program{
        margin-top: 10px;
        border-top: 1.5px solid $c_black;
        .table {
            border-bottom: 1px solid $c_g_c;
            th{
                padding-top: 28px;
                vertical-align: top;
                text-align: center;
                font-weight: 400;
                em{
                    display: block;
                    font-weight: 700;
                }
            }
            td{
                border-bottom: 0.5px solid $c_g_c;               
                line-height: 1.6;              
                &.time{
                    padding-top: 28px;
                    vertical-align: top;
                    line-height: 1.4;
                    text-align: center;
                    &.purple{
                        background-color: #ecf0f9;
                        color: #6b93d4;
                    }
                    &.green{
                        background-color: #eaf8f5;
                        color: #45c1a2;
                    }
                    em{
                        font-weight: 700;
                    }
                }
                .program{
                    &:hover .pro_title{
                        text-decoration: underline;
                    }
                    line-height: 1.4;
                    display: block;
                    position: relative;
                    padding:28px 16px;
                    .cate_class{
                        font-size: 12px;
                        font-weight: 600;
                        color: $c_blue;
                        vertical-align: top;
                    }
                    .pro_title{
                        width: 550px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .ico{
                        margin-right: 6px;
                        margin-left: 0;
                        padding-top: 0;
                        vertical-align: middle;
                    }
                    .nm{
                        display: block;
                        margin-bottom: 6px;
                        color: $c_g_6;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    
                    .badge_wrap{
                        margin-bottom: 0;
                        .company_logo{
                            margin-left: 4px;
                        }
                        i{
                            padding:2px 7px;
                        }
                    }
                    .right{
                        text-align: right;
                        @include pos_right(28px);
                        .apply_btn{
                            padding:2px 16px;
                            @include btn_style(28px,$bd:false);
                            color: #fff;
                            font-weight: 700;
                            background: linear-gradient(85.66deg, #01AFFE 33.71%, #4BDE97 75.67%);
                            &.type{
                                @include btn_style(28px,#A1A1A2);
                                background: #fff;
                                color: #A1A1A2;
                            }
                        }
                        .number_area{
                            display: block;
                            margin-top: 10px;
                            color:#A1A1A2;
                            font-size: 14px;
                            em{
                                color: $c_black;
                            }
                        }
                    }
                }   
            }
        }
        .program_txt{
            display: block;   
            width: 160px;   
            margin: 112px auto;
            padding-left: 26px;
            font-weight: 600;
            font-size: 18px;
            &::before{
                @include imag_elem(14px,20px);
                margin-right: 4px;
                vertical-align: -3px;
                @include bg_ico(-67px, -117px);
            }
        }
    }
}
