//자유게시판   
.board_cont{
    .cont_search{
        width: 360px;
        margin-bottom: 40px;
        border-bottom: 1px solid $c_g_c;
        .search_list li{            
            .select{width: 100px;}
            &::before{
                display: none;
            }
        }
    }
    .table_board{
        margin-bottom: 28px;
        .align_center{
            text-align: center;
        }
        thead th, tbody td{
            text-align: center;
            &.align_left{
                text-align: left;
            }
        }
        thead th{
            border-bottom: 1.5px solid $c_black;
            padding:14px;
            padding-top: 0;
        }
        tbody td{
            padding:14px;
            font-size: 14px;
            color: $c_g_6;
            border-bottom: 0.5px solid $c_g_c;
            &.num{
                .ico_notice{
                    @include list_ico();
                    font-size: 11px;
                    border:1.5px solid $c_black;
                    color: $c_black;
                }
            }
            &.tit{
                color: $c_black;
                a{
                    max-width: 340px;   
                    vertical-align: middle;
                    @include ellipsis();
                }
                .comment{
                    margin-left: 4px;
                    color: $c_blue;
                    font-weight: 600;
                }
                .ico_new{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-left: 6px;
                    vertical-align: middle;
                    @include bg_ico(-140px,-30px);
                    @include txtHidden2();
                }              

            }
        }
    }
    .btn_board{
        width: 120px;
       margin:0 auto 30px;
       display: inherit;
       @include btn_style(40px,$bd:false,$rd_val:6px);
       background-color: $c_blue;
       font-size: 15px;
       font-weight: 600;
       color: #fff;
       &.disable{
        background-color: #B4B4B5;
        color: $c_white;
       }
    }
    &.board_write_Wrap{
        @include cont_with(790px);
        margin-bottom: 80px;
    }
    .board_write{
        margin-top: 60px;
        .write_title{
            margin-bottom: 58px;
            text-align: center;
            font-weight: 700;
            font-size: 28px;
        }
        .write_box{
            .input_box{
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 2px solid $c_black;
                .ip_txt{
                    display: block;
                    width: 100%;
                }
            }
            .textarea{
                margin-top: 20px;
                margin-bottom: 30px;
                textarea{
                    width: 100%;
                    height: 470px;
                    padding:20px;
                    font-size: 14px;
                    border:1px solid $c_g_c;
                    border-radius: 6px;
                    box-sizing: border-box;
                }
            }
        }
        .write_btn_wrap{
            margin-bottom: 60px;
            text-align: center;
            .btn_board{
                &:first-of-type{margin-left: 0;}
                display: inline-block;
                margin-bottom: 0; 
                margin-left: 8px;
                &.mod{
                    color: $c_blue;
                    border:1px solid $c_blue;
                    background:#fff;
                }
                &.gray{
                    color: $c_g_6;
                    border:1px solid $c_g_c;
                    background:#fff;
                }
            }
        }   
    }
    .policy_info{
        .tit_policy{
            margin-bottom: 10px;
            padding-bottom: 14px;
            font-size: 16px;
            font-weight: 600;
            border-bottom: 1px solid $c_black;
        }
    }
    .policy_list{
        margin-bottom: 30px;
        ul{
            padding-left: 14px;
            li{
                text-indent: -15px;
                padding-left: 15px;
                line-height: 1.6;
                font-size: 14px;
                color: $c_g_6;
            }
        }
    }
    .policy_grade{
        .txt_notice{
            margin-bottom: 8px;
            padding:0 20px;
            font-size: 14px;
            color: $c_g_6;
            strong{
                color: $c_black;
            }
            em{
                color: $c_blue;
                font-weight: 600;
                text-decoration: underline;
            }
        }
        .tbl_area{padding:0 20px;}
        .tbl_grade{
            th,td{
                padding:5px 0;
                border-top:1px solid $c_g_c;
                border-bottom:1px solid $c_g_c;
                border-left:1px solid $c_g_c;
                text-align: center;
            }
            thead th:first-of-type, tbody th{
                border-left: none;
            }
            tbody th, tbody td{
                font-size: 14px;
                &.f_green{
                    color: #0EB69A;
                }
                &.f_orange{
                    color: #FE8F00;
                }
                &.f_red{
                    color: #FE4343;
                }
            }
        }
    }
}
.board_view{
    .view_in{
        margin-bottom: 20px;
        border-bottom: 1px solid $c_g_c;
    }
    .view_head{
        padding: 30px 20px;
        border-top: 1.5px solid $c_black;
        border-bottom: 1px solid  $c_g_c;
        .view_tit{
            margin-bottom: 15px;
            font-size: 24px;
            font-weight: 600;
        }
        .tail{
            color: $c_g_6;
            font-size: 14px;
            span{
                em{
                    font-weight: 600;
                }
                &::before{
                    content: "";
                    display: inline-block;
                    height: 9px;
                    margin:0 8px;
                    border-left: 1px solid $c_g_c;
                }
                &:first-of-type::before{
                    display: none;
                }
            }
        }
    }
    .edit_view{
        width: 100%;
        min-height: 200px;
        margin-bottom: 60px;
        padding:34px 20px 0;
        line-height: 1.8;
        font-size: 15px;
        color: $c_g_6;
        box-sizing: border-box;
        .no_image{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 750px;
            height: 470px;
            color: #A4A4A4;
            font-size: 20px;
            background-color: #F6F5F6;
            box-sizing: border-box;
        }
    }
    .view_notice_box{
        position: relative;
        margin: 20px;
        padding:18px 20px 18px 44px;
        line-height: 1.6;
        color: $c_g_6;
        font-size: 12px;
        background-color: #F3F3F3;
        box-sizing: border-box;
        &::before{
            position: absolute;
            top:18px;
            left: 20px;
            @include imag_elem(18px,18px);
            @include bg_ico(-32px,-117px);
        }
    }
    .board_bottom{
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        %btn_ico{
            @include imag_elem(22px,18px);
            display: block;
            padding-top: 6px;
        }
        .left_btn_area{
            .btn_wrap{
                float: left;
                button{
                    color: $c_g_6;
                    font-size: 12px;
                }
                .star_btn{
                    &::before{
                        @extend  %btn_ico;
                        @include bg_ico(-94px,-145px); 
                    }
                    &.on::before{ 
                        background-position-x: -63px;
                     }
                 
                }
                .like_btn{
                    &::before{
                       @extend  %btn_ico;
                       @include bg_ico(-214px,-94px); 
                    }
                    &.on::before{
                       background-position-x: -177px;
                    }
                }
            }
            &::before{
                @include clear();
            }
        }
        .like_btn_wrap{
            .like_btn{
                &::before{
                   @extend  %btn_ico;
                   @include bg_ico(-214px,-94px); 
                }
                &.on::before{
                   background-position-x: -177px;
                }
            }
        }
        .btn_view_wrap{
            .btn_view{
                width: 78px;
                margin-left: 4px;
                padding:5px 0;
                font-size: 14px;
                text-align: center;
                @include btn_style(30px,#E1E1E1);
                span{
                    @include ico_arr();
                    color: $c_g_6;
                    vertical-align: 2px;
                    &.prev{
                        margin-right: 9px;
                    }
                    &.next{
                        margin-left: 9px;
                    }
                }
            }
        }
    }
}
.board_comment{
    margin-top: 45px;
    .cmt_tit{
        margin-bottom: 14px;
        font-size: 16px;
        font-weight: 700;
        span{
            margin-left: 8px;
            color: $c_blue;
        }
    }
    .cmt_write{
        position: relative;
        padding-bottom: 40px;
        textarea{
            width: 100%;
            font-size: 16px;
            padding:20px;
            border:1px solid $c_g_c;
            border-radius: 6px;
            box-sizing: border-box;
        }
        button{
            @include pos_right();
            top: auto;
            bottom: 0;
            width: 78px;
            height: 30px;
            color: $c_white;
            background-color: $c_blue;
            border-radius: 30px;
        }
    }
    .cmt_list{
        li{
            .cl_box{
                position: relative;
                margin-top: 38px;
                padding-bottom: 33px;
                border-bottom: 1px solid #EDEDED;
                .btn{
                    @include pos_right(4px);
                    font-size: 14px;
                    color: $c_g_6;
                    .txt_bar{
                        margin:0 8px;
                        color: $c_g_c;
                    }
                }
                p{
                    strong{
                        display: block;
                        margin-bottom: 10px;
                        .date{
                            margin-left: 14px;
                            color: #B4B4B5;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                    .cmt_cont{
                        display: block;
                        line-height: 1.6;
                        margin-bottom: 20x;
                        font-size: 15px;
                        color: $c_g_6;
                    }
                }
                .btn_comment{
                    margin-top: 20px;
                    font-size: 14px;
                    color: $c_g_6;
                    em{
                        margin-left: 4px;
                        font-weight: 600;
                    }
                }
                .cmt_write{
                    margin-top: -38px;
                    padding-top: 30px;
                }
            }
            li{
                .cl_box{
                    margin-top: 0;
                    padding:36px 40px 32px;
                    background-color: #FAFAFA;
                    .btn{
                            top:32px;
                            right: 30px;
                    }
                }
            }
            .del_box{
                &::before{
                    @include imag_elem(18px,18px);
                    @include bg_ico(-32px,-117px);
                    margin-right: 6px;
                    vertical-align: -4px;
                }
                margin-bottom: 36px;
                padding:20px 0;
                font-size: 14px;
                color: $c_g_6;
                text-align: center;
                border-bottom: 1px solid #EDEDED;
            }
        }
    }
    .commentMore{
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: #4E789D;
        text-align: center;
        &::after{
            @include imag_elem(13px,7px);
            margin-left: 10px;
            @include bg_ico(-94px,-44px);
        }
    }
}
.commuity_cont{
    .category_all{
        margin-bottom: 28px;
        li{
            &:first-child{
                margin-left: 0;
            }
            float: left;
            margin-left: 10px;
        }
        a{
            @include btn_style(32px,$c_g_c);
            min-width: 80px;
            padding: 6px 12px;
            text-align: center;
            color: $c_g_6;
            font-size: 14px;
            font-weight: 600;
            &.on{
                color: #fff;
                background-color: $c_blue;
                border: none;
            }
        }
        &::after{
            @include clear();
        }

    }
    .content_top{
        margin-bottom: 0;
        padding-bottom: 15px;
      
    }
    .cont_search{
        display: block;
        width: 360px;
        margin-top: 0;
        margin-bottom: 38px;
        border-bottom: 1px solid $c_g_c;
        .sch_input_area{
            position: relative;
        }
    }
    .list_section{
        border-top:2px solid #1F1F1F;
        margin-bottom: 30px;
        a{
            position: relative;
            display: flex;
            padding:30px 20px 33px;
            border-bottom: 0.5px solid $c_g_c;
        }
        .tip_list_info{
            width: 640px;
            margin-left: 38px;
            .list_tit{
                .category{
                    display: block;
                    margin-bottom: 8px;
                    color: $c_g_6;
                    font-size: 14px;
                }
                strong{
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                    font-size: 20px;
                    font-weight: 600;
                    @include ellipsis();
                }
            }
            .txt{
                line-height: 1.6;
                font-size: 14px;
                @include ellipsis_2line();
            }
            .tail{
                @include pos_right();
                top:24px;
                span{
                    font-size: 12px;
                    color: $c_g_6;
                    &.helpto em{
                        color: $c_blue;
                        font-weight: 600;
                    }
                    &::before{
                        content: "";
                        display: inline-block;
                        height: 9px;
                        margin:0 6px;
                        border-left: 1px solid $c_g_c;
                    }
                    &:first-of-type::before{display: none;}
                }
            }
        }
        &.type_case{
            border-top:none;
            a{
               margin-bottom: 10px;
               padding-bottom: 14px;
               border: 1px solid $c_g_c;
               border-left: 2px solid #00BEFC;
            }      
            .tip_list_info{
                .tail{
                    border-top: 1px solid #EDEDED;
                    position: relative;
                    top:auto;
                    margin-top: 20px;
                    padding-top: 14px;
                } 
            }
        }
    }
}