/* NanumSquare */
@font-face {
    font-family:'NanumSquareL';
	font-style:normal;
	font-weight:normal;
	src:local('※');
	src:url(../font/NanumSquareL.eot);
	src:url(../font/NanumSquareL.woff) format('woff'), url(../font/NanumSquareL.otf) format('opentype');
}
@font-face {
    font-family:'NanumSquareL';
	font-style:normal;
	font-weight:bold;
	src:local('※');
	src:url(../font/NanumSquareR.eot);
	src:url(../font/NanumSquareR.woff) format('woff'), url(../font/NanumSquareR.otf) format('opentype');
}
@font-face {
    font-family:'NanumSquareR';
	font-style:normal;
	font-weight:normal;
	src:local('※');
	src:url(../font/NanumSquareR.eot);
	src:url(../font/NanumSquareR.woff) format('woff'), url(../font/NanumSquareR.otf) format('opentype');
}
@font-face {
    font-family:'NanumSquareR';
	font-style:normal;
	font-weight:bold;
	src:local('※');
	src:url(../font/NanumSquareB.eot);
	src:url(../font/NanumSquareB.woff) format('woff'), url(../font/NanumSquareB.otf) format('opentype');
}
@font-face {
    font-family:'NanumSquareB';
	font-style:normal;
	font-weight:normal;
	src:local('※');
	src:url(../font/NanumSquareB.eot);
	src:url(../font/NanumSquareB.woff) format('woff'), url(../font/NanumSquareB.otf) format('opentype');
}
@font-face {
    font-family:'NanumSquareB';
	font-style:normal;
	font-weight:bold;
	src:local('※');
	src:url(../font/NanumSquareEB.eot);
	src:url(../font/NanumSquareEB.woff) format('woff'), url(../font/NanumSquareEB.otf) format('opentype');
}
@font-face {
    font-family:'NanumSquareEB';
	font-style:normal;
	font-weight:normal;
	src:local('※');
	src:url(../font/NanumSquareEB.eot);
	src:url(../font/NanumSquareEB.woff) format('woff'), url(../font/NanumSquareEB.otf) format('opentype');
}

/* 2020-10-05 add font */
@font-face {
    font-family:'NotoSans';
	font-style:normal;
	font-weight:100;
	src:local('※');
	src:url(../font/NotoSansKR-Light.eot);
	src:url(../font/NotoSansKR-Light.woff) format('woff'), url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family:'NotoSans';
	font-style:normal;
	font-weight:normal;
	src:local('※');
	src:url(../font/NotoSansKR-Regular.eot);
	src:url(../font/NotoSansKR-Regular.woff) format('woff'), url(../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family:'NotoSans';
	font-style:normal;
	font-weight:bold;
	src:local('※');
	src:url(../font/NotoSansKR-Medium.eot);
	src:url(../font/NotoSansKR-Medium.woff) format('woff'), url(../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-hairline.eot");
  src: url("../font/lato-hairline.eot?#iefix") format("embedded-opentype"), url("../font/lato-hairline.woff2") format("woff2"), url("../font/lato-hairline.woff") format("woff"), url("../font/lato-hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-hairlineitalic.eot");
  src: url("../font/lato-hairlineitalic.eot?#iefix") format("embedded-opentype"), url("../font/lato-hairlineitalic.woff2") format("woff2"), url("../font/lato-hairlineitalic.woff") format("woff"), url("../font/lato-hairlineitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-thin.eot");
  src: url("../font/lato-thin.eot?#iefix") format("embedded-opentype"), url("../font/lato-thin.woff2") format("woff2"), url("../font/lato-thin.woff") format("woff"), url("../font/lato-thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-thinitalic.eot");
  src: url("../font/lato-thinitalic.eot?#iefix") format("embedded-opentype"), url("../font/lato-thinitalic.woff2") format("woff2"), url("../font/lato-thinitalic.woff") format("woff"), url("../font/lato-thinitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-light.eot");
  src: url("../font/lato-light.eot?#iefix") format("embedded-opentype"), url("../font/lato-light.woff2") format("woff2"), url("../font/lato-light.woff") format("woff"), url("../font/lato-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-lightitalic.eot");
  src: url("../font/lato-lightitalic.eot?#iefix") format("embedded-opentype"), url("../font/lato-lightitalic.woff2") format("woff2"), url("../font/lato-lightitalic.woff") format("woff"), url("../font/lato-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-regular.eot");
  src: url("../font/lato-regular.eot?#iefix") format("embedded-opentype"), url("../font/lato-regular.woff2") format("woff2"), url("../font/lato-regular.woff") format("woff"), url("../font/lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-italic.eot");
  src: url("../font/lato-italic.eot?#iefix") format("embedded-opentype"), url("../font/lato-italic.woff2") format("woff2"), url("../font/lato-italic.woff") format("woff"), url("../font/lato-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-medium.eot");
  src: url("../font/lato-medium.eot?#iefix") format("embedded-opentype"), url("../font/lato-medium.woff2") format("woff2"), url("../font/lato-medium.woff") format("woff"), url("../font/lato-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-mediumitalic.eot");
  src: url("../font/lato-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../font/lato-mediumitalic.woff2") format("woff2"), url("../font/lato-mediumitalic.woff") format("woff"), url("../font/lato-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-semibold.eot");
  src: url("../font/lato-semibold.eot?#iefix") format("embedded-opentype"), url("../font/lato-semibold.woff2") format("woff2"), url("../font/lato-semibold.woff") format("woff"), url("../font/lato-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-semibolditalic.eot");
  src: url("../font/lato-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../font/lato-semibolditalic.woff2") format("woff2"), url("../font/lato-semibolditalic.woff") format("woff"), url("../font/lato-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-bold.eot");
  src: url("../font/lato-bold.eot?#iefix") format("embedded-opentype"), url("../font/lato-bold.woff2") format("woff2"), url("../font/lato-bold.woff") format("woff"), url("../font/lato-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-bolditalic.eot");
  src: url("../font/lato-bolditalic.eot?#iefix") format("embedded-opentype"), url("../font/lato-bolditalic.woff2") format("woff2"), url("../font/lato-bolditalic.woff") format("woff"), url("../font/lato-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-heavy.eot");
  src: url("../font/lato-heavy.eot?#iefix") format("embedded-opentype"), url("../font/lato-heavy.woff2") format("woff2"), url("../font/lato-heavy.woff") format("woff"), url("../font/lato-heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-heavyitalic.eot");
  src: url("../font/lato-heavyitalic.eot?#iefix") format("embedded-opentype"), url("../font/lato-heavyitalic.woff2") format("woff2"), url("../font/lato-heavyitalic.woff") format("woff"), url("../font/lato-heavyitalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-black.eot");
  src: url("../font/lato-black.eot?#iefix") format("embedded-opentype"), url("../font/lato-black.woff2") format("woff2"), url("../font/lato-black.woff") format("woff"), url("../font/lato-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../font/lato-blackitalic.eot");
  src: url("../font/lato-blackitalic.eot?#iefix") format("embedded-opentype"), url("../font/lato-blackitalic.woff2") format("woff2"), url("../font/lato-blackitalic.woff") format("woff"), url("../font/lato-blackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

/*# sourceMappingURL=lato-webfont.css.map */
