@charset "utf-8";

/* font */
@font-face {
    font-family:'NotoSans';
	font-style:normal;
	font-weight:normal;
	src:local('※');
	src:url(../font/NotoSansKR-Light.eot);
	src:url(../font/NotoSansKR-Light.woff) format('woff'), url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family:'NotoSans';
	font-style:normal;
	font-weight:bold;
	src:local('※');
	src:url(../font/NotoSansKR-Regular.eot);
	src:url(../font/NotoSansKR-Regular.woff) format('woff'), url(../font/NotoSansKR-Regular.otf) format('opentype');
}

/* common */
.tab_type1 {border-bottom:1px solid #e5e5e5;text-align:center;}
.tab_type1 li {float:none;display:inline-block;padding:0 15px;}
.tab_type1 a {padding:18px 15px 17px;padding-right:15px;font-size:18px;font-weight:bold;color:#000;}
.tab_type1 .on a {padding-bottom:15px;font-weight:bold;color:#fe4400;border-width:2px;border-color:#fe4400;}
.tab_type2 {margin-bottom:0;padding-top:30px;text-align:center;border-bottom:0;background-color:#f3f5fa}
.tab_type2 li {float:none;display:inline-block;width:230px;margin-left:-3px;text-align:center;}
.tab_type2 a {font-size:17px;font-weight:normal;color:#666;border:1px solid #e7e7e7;background-color:#fff;}
.tab_type2 .on + li a {border-left:0;}
.select {font-family:dotum,"돋움",sans-serif;}

/* layout */
html, body {height:100%;}
body {width:100%;min-width:1000px;font-family:'NotoSans';}
#header {position:absolute;left:0;right:0;top:0;z-index:1;min-width:0;padding:12px 0;border-bottom:0;}
#header .header_inner {width:950px;margin:0 auto;}
#header .logo_shop {display:inline-block;margin-top:6px;padding:5px;}
#header .logo_shop .ico_intro {display:block;width:101px;height:25px;background-position:-250px -70px;}
#gnb {float:right;}
#gnb li {float:left;margin:0 10px;}
#gnb a {display:block;padding:0 15px;font-size:17px;font-weight:bold;color:#fff;line-height:40px;}
#gnb .on a {color:#f9ffb8;border-bottom:2px solid #f9ffb8;}
#container {position:relative;z-index:0;width:100%;min-width:0;min-height:0;}
.visual_box {min-height:342px;padding-top:135px;background-repeat:no-repeat;background-position:50% 100%;}
.visual_box .tit {padding-bottom:30px;font-family:'NanumSquareR';font-size:48px;font-weight:normal;color:#fff;line-height:1.2;}
.visual_box .tit strong {display:block;font-family:'NanumSquareEB';}
.visual_box p {font-size:16px;color:#fff;}
.visual_box .visual_inner {width:950px;margin:0 auto;}
#content {width:100%;margin:0;padding-bottom:0;}
.content_wrap {padding:110px 0;}
.content_wrap .content_inner {width:1000px;margin:0 auto;}
.gray_wrap {background-color:#f3f5fa;}
.depth_box {position:absolute;left:0;right:0;top:0;z-index:5;border-bottom:1px solid #e5e5e5;;background-color:#fff;}
.depth_box.tab_fixed {position:fixed;}
.depth_box .tab_type1 {position:relative;}
.info_box {padding-top:27px;font-size:14px;line-height:1.3;border-top:1px solid #dcdcdc;text-align:center;}
.info_box .info_box_inner {display:inline-block;padding-left:65px;text-align:left;line-height:20px;background:url(../images/intro/ico_info.png) no-repeat 0 50%;}
.info_box p:only-child {padding:10px 0;}
.info_box p + p {margin-top:5px;}
.foot_menu {overflow:hidden;background-color:#f3f5fa;}
.foot_menu .foot_menu_inner {width:950px;margin:0 auto;}
.foot_menu ul {width:1414px;margin:52px 0 52px -242px;}
.foot_menu ul:after {content:'';display:block;clear:both;}
.foot_menu li {float:left;position:relative;width:460px;margin-left:15px;border:1px solid #f1f2f6;background-color:#f8f9fc;box-sizing:border-box;}
.foot_menu li:first-child {margin-left:0;}
.foot_menu img {position:absolute;left:49px;top:28px;}
.foot_menu .inner_box {position:relative;padding:38px 40px 38px 214px;font-size:14px;word-break:keep-all;letter-spacing:-1px;opacity:0.4;}
.foot_menu .menu_tit {display:block;padding-bottom:6px;font-size:30px;letter-spacing:0;}
.foot_menu .menu_join .menu_tit {color:#00ae65;}
.foot_menu .menu_benefit_join .menu_tit {color:#008bcd;}
.foot_menu .menu_benefit_card .menu_tit {color:#504cd1;}
.foot_menu .link_menu {overflow:hidden;position:absolute;left:0;right:0;top:0;bottom:0;font-size:0;line-height:0;text-indent:100%;}
.foot_menu .link_menu:after {content:'';position:absolute;top:50%;width:21px;height:39px;margin-top:-30px;background:url(../images/intro/ico_intro.png) no-repeat 0 0;}
.foot_menu .link_next_menu:after {right:15px;background-position:-389px -220px;}
.foot_menu .link_prve_menu:after {left:15px;background-position:-419px -220px;}
.foot_menu .menu_on {border-color:#eeeeef;background-color:#fff;box-shadow:0px 7px 20px 0px #e2e4e8;}
.foot_menu .menu_on .inner_box {opacity:1;}
#login_wrap #footer {position:fixed;bottom:0;left:0;right:0;z-index:2;height:181px;font-family:dotum,"돋움",sans-serif;line-height:1.5;text-align:left;}
#footer {height:56px;text-align:center;line-height:56px;background-color:#fff;}
.ico_intro {overflow:hidden;display:inline-block;font-size:0;line-height:0;text-indent:100%;background:url(../images/intro/ico_intro.png) no-repeat 0 0;vertical-align:top;}
.owl-carousel .owl-nav {position:static;}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {position:absolute;top:50%;width:21px;height:39px;margin:-50px 0 0;padding:5px 10px;border:0;background-color:transparent;}
.owl-carousel .owl-nav .owl-prev {left:-65px;}
.owl-carousel .owl-nav .owl-next {right:-65px;}
.owl-carousel .owl-nav .owl-prev:after,
.owl-carousel .owl-nav .owl-next:after {left:10px;top:5px;width:21px;height:39px;margin:0;background-image:url(../images/intro/ico_intro.png);}
.owl-carousel .owl-nav .owl-prev:after {background-position:-389px -220px;}
.owl-carousel .owl-nav .owl-next:after {background-position:-419px -220px;}

/* 로그인 */
#login_wrap {height:100%;min-height:860px;font-family:dotum,"돋움",sans-serif;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;}
#login_wrap .logo_shop {width:141px;height:36px;background-position:-250px 0;}
#login_wrap .txt_logo {width:163px;height:14px;margin-left:3px;background-position:-250px -45px;vertical-align:bottom;}
#login_wrap .container {position:relative;width:1000px;height:-webkit-calc(100% - 181px);height:calc(100% - 181px);margin:0 auto;box-sizing:border-box;}
#login_wrap .container_inner {position:absolute;left:0;right:0;top:0;bottom:0;height:646px;margin:auto;}
#login_wrap .content {margin-top:30px;background-color:#fff;box-shadow:0px 7px 20px 0px rgba(0,0,0,0.2);}
#login_wrap .login_box {float:left;width:50%;height:481px;padding:40px 60px;box-sizing:border-box;}
#login_wrap .login_box h2 {font-family:'NanumSquareEB';font-size:25px;color:#2a303b;}
#login_wrap .login_box .login_txt{margin-top: 8px; margin-bottom: 14px; font-size: 12px; font-family: dotum,"돋움",sans-serif;}
#login_wrap .login_area {overflow:hidden;margin-top: 6px; padding-bottom:10px;position:relative;}
#login_wrap .login_area input[type="text"],
#login_wrap .login_area input[type="password"] {float:left;width:281px;height:50px;padding:16px 15px 15px;}
#login_wrap .login_area input + input {border-top:0;}
#login_wrap .login_area .btn_type1 {position:absolute;right:0;top:0;width:100px;height:100px;font-family:'NotoSans';font-size:18px;border-radius:0;}
#login_wrap .login_box #chk_keep{vertical-align: -2px;}
#login_wrap .login_box .union_login{margin-top: 8px;}
#login_wrap .union_login .member_tit{font-size: 17px; color:#fd6006;}
#login_wrap .union_btn_wrap{margin-top: 33px; padding-top: 30px; border-top: 1px solid #e8e8e8;}
#login_wrap .union_login .union_btn .btn_type1,
#login_wrap .union_login .union_btn .btn_type5{width: 100%; margin-top: 4px; padding: 10px 0 12px; font-size: 17px; font-family:'NotoSans',sans-serif; font-weight: bold; text-align: center;}
#login_wrap .union_login .union_btn .btn_type5{border:1px solid #fd490e;}
#login_wrap .member_join {margin-top:20px;padding-top:30px;font-size:0;line-height:0;}
#login_wrap .member_join strong {font-family:'NanumSquareR';font-size:20px;color:#2a303b;vertical-align:middle;}
#login_wrap .member_join .btn_type1 {width:100px;margin-left:14px;padding-top:14px;padding-bottom:15px;font-family:'NotoSans';font-size:15px;vertical-align:middle;}
#login_wrap .member_join .btn_type5 {width:172px;margin-top:24px;padding-top:16px;padding-bottom:16px;font-family:'NotoSans';font-size:15px;font-weight:bold;color:#ff6724;text-align:center;}
#login_wrap .member_join .btn_type5 + .btn_type5 {margin-left:12px}
#login_wrap .banner_box {float:left;width:50%;height:481px;}
#login_wrap .owl-dots {position:absolute;left:60px;bottom:50px;width:auto;height:11px;margin-left:0;text-align:left;}
#login_wrap .owl-dots .owl-dot {display:inline-block;width:11px;height:11px;}
#login_wrap .owl-dots .owl-dot span {display:block;width:11px;height:11px;}
#login_wrap .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {background-color:#fd6801;}
#login_wrap .customer_box {clear:both;overflow:hidden;padding:25px 30px;font-family:'NotoSans';background-color:#d0c192;} /*2022-08-09 로그인 고객센터 수정*/
#login_wrap .customer_box h2 {float:left;font-family:'NanumSquareR';font-size:20px;color:#fff;line-height:1.2;}
#login_wrap .customer_tel {float:left;}
#login_wrap .customer_tel p {margin-left:20px;font-size:15px;font-weight:bold;color:#fffacf;}
#login_wrap .customer_tel p.nor_tel{padding-left: 59px;}/*2022-08-09 로그인 고객센터 추가*/
#login_wrap .customer_tel span {margin-left:8px;font-family:Verdana;color:#fff;}
/* 2022-10-27 수정[s]*/
#login_wrap .customer_menu {float:left;margin:-8px 0 -7px 24px;padding-left:30px;border-left:1px solid #ded4b3; line-height: 1.8;}
#login_wrap .customer_menu a {margin-left:20px;font-size:14px;font-weight:bold;color:#fff;}
#login_wrap .customer_menu a:nth-child(4n+1) {margin-left:0;}
/* 2022-10-27 수정[e]*/
#login_wrap .customer_menu .ico_intro {width:18px;height:18px;margin-top:-2px;margin-right:5px;background-position-y:-220px;vertical-align:middle;}
#login_wrap .link_bookmark .ico_intro {background-position-x:-240px;}
#login_wrap .link_wallpaper .ico_intro {background-position-x:-270px;}
#login_wrap .link_startpage .ico_intro {background-position-x:-300px;}

.pop_layer {font-family:dotum,"돋움",sans-serif;}
.pop_layer .info_box {text-align:left;border-top:1px solid #d8d8d8;background-color:#f8fafb;}
.pop_layer .box_chk .info_box {margin-top:20px;margin-bottom:0;padding-bottom:5px;}
.pop_layer .info_box a {font-size:11px;font-weight:bold;color:#fd490e;text-decoration:underline;}
#popFind .pop_wrap {padding-top:25px;}
#popFind .stit {display:block;padding-bottom:10px;font-size:14px;color:#2a303b;}
#popFind .txt {margin-top:40px;text-align:center;}
#popFind input[type="text"] {padding:10px 10px 9px}
#popFind .tbl_type2 td {padding:10px 5px;}
#popFind .tbl_type2 span {margin-left:5px;font-size:11px;color:#888;}
#popFind .tbl_type2 .txt {margin-top:0;text-align:left;}
#popFind .tbl_type2 .txt_bar {margin:0 3px;font-size:12px;color:#666;}
#popFind .tbl_type2 .btn_type2 {margin-left:5px;padding:8px 10px 9px;}
#popFind .btn_wrap {margin-top:25px;}
#popFind .find_info {margin-top:30px;text-align:center;}
#popFind .find_info p {color:#888;}
#popFind .find_info p + p {margin-top:5px;}
#popFind .find_info em {font-weight:bold;}
#popFind .find_info .ico_comm {width:15px;height:15px;margin-top:-2px;margin-right:3px;background-position:-80px -62px;vertical-align:middle;}
#popFind .btn_type1,
#popDormancyAccount1 .btn_type1,
#popDormancyAccount2 .btn_type1,
#popDormancyAccount2 .btn_type2 {width:170px;}
#popDormancyAccount2 input[type="text"] {padding:10px 10px 9px}
#popDormancyAccount2 input + label {margin-right:10px;}
#popDormancyAccount2 .tbl_type2 td {padding:10px 5px;text-align:left;}
#popDormancyAccount2 .tbl_type2 span {margin-left:5px;font-size:11px;color:#888;}
#popDormancyAccount2 .tbl_type2 .txt {margin-top:0;text-align:left;}
#popDormancyAccount2 .tbl_type2 .txt_bar {margin:0 3px;font-size:12px;color:#666;}

/* 회원가입 */
.intro_join.visual_box {text-align:center;background-color:#42b9f1;background-image:url(../images/intro/bg_join.jpg);}
.intro_join .join_type {overflow:hidden;padding:65px 0 130px;}
.intro_join .join_type li {float:left;width:105px;margin-left:176px;}
.intro_join .join_type li:first-child {margin-left:0;}
.intro_join .join_type a {font-size:23px;font-weight:bold;color:#fff;}

.join_type .ico_box {display:block;width:105px;height:52px;margin-bottom:18px;padding:27px 0;text-align:center;background-color:#fff;border-radius:50%;}
.join_type .ico_box .ico_intro {width:60px;height:51px;vertical-align:middle;}
.join_pharm .ico_intro {background-position-x:0;}
.join_hospital .ico_intro {background-position-x:-60px;}
.join_acupuncture .ico_intro {margin-left:4px;background-position-x:-120px;}
.join_vet .ico_intro {background-position-x:-180px;}
.join_type a:hover .ico_box,
.join_type a:focus .ico_box {background-color:#007eff;}
.intro_join a:hover .ico_intro,
.intro_join a:focus .ico_intro {background-position-y:-60px;}

/* 회원가입 사업자/비사업자 선택 레이어팝업 */
#branchModal {display:none;}
#branchModal .inner {position:relative;width:884px;height:457px;box-sizing:border-box;margin:0 auto;padding:70px 108px;background:#fff;border:1px solid #cccccc;}
#branchModal .columns_wrap {display:flex;display:-ms-flexbox;}
#branchModal .btn_close {width:22px;height:22px;padding:22px;background:none;text-indent:-9999px;box-sizing:content-box;}
#branchModal .btn_close:before,
#branchModal .btn_close:after {content:'';display:block;position:absolute;left:50%;top:27%;width:1px;height:30px;background:#999999;}
#branchModal .btn_close:before {transform:rotate(-45deg)}
#branchModal .btn_close:after {transform:rotate(45deg)}
#branchModal .branch_wrap {justify-content:space-between;-ms-text-justify:space-between;}
#branchModal .branch_box {width:330px;font-family:'NanumSquareR';font-size:16px;}
#branchModal .branch_box .text_box {margin:15px 0 0 20px;color:#42b9f1;letter-spacing:0.06em;}
#branchModal .branch_box.none_business .text_box {color:#a09ef2;}
#branchModal .branch_box .branch_tit {margin-bottom:15px;font-family:'NanumSquareB';font-size:26px;line-height:1;}
#branchModal .branch_box .branch_txt {margin-bottom:15px;line-height:20px;}
#branchModal .branch_box .branch_btn {display:inline-block;position:relative;padding:3px 10px 3px 5px;border:1px solid #b7b7b7;color:#666666}
#branchModal .branch_box .branch_btn:before {content:'';display:inline-block;width:7px;height:7px;margin-right:8px;border-right:3px solid #666666;border-bottom:3px solid #666666;transform:rotate(-45deg);}
#branchModal .detailed_desc {margin-top:65px;}
#branchModal .detailed_desc dt {float:left;height:23px;margin-right:14px;padding:0 10px;line-height:23px;font-size:15px;color:#fff;background:#42b9f1;border-radius:12px;}
#branchModal .none_business .detailed_desc dt {background:#a09ef2}
#branchModal .detailed_desc dd {margin-bottom:12px;}
#branchModal .detailed_desc dd:last-child {margin:0;}
#branchModal .detailed_desc em {color:#a09ef2;}
#branchModal .caution {position:relative;margin-top:17px;padding-left:24px;font-size:13px;line-height:20px;color:#666666;white-space:nowrap;}
#branchModal .caution:before {content:'!';display:block;position:absolute;left:0;top:2px;width:16px;height:16px;font-size:14px;text-align:center;color:#fff;line-height:16px;background:#999999;border-radius:50%;}
#branchModal .caution u {font-weight:bold;}

/* 신규가입 혜택 */
.intro_benefit_member.visual_box {background-color:#24c883;background-image:url(../images/intro/bg_benefit_member.jpg);}
.benefit_member_cont .content_wrap {padding-bottom:0;}
.member_head {padding:49px 0 50px;text-align:center;}
.member_head h2 {padding-bottom:12px;font-family:'NanumSquareB';font-size:37px;font-weight:normal;color:#313131;}
.member_head p {font-size:24px;color:#434343;line-height:1.3;}
.member_head.bg_member_head {background-repeat:no-repeat;background-position:0 0;}
.member_head.bg_member_head h2 {color:#fff45c;}
.member_head.bg_member_head em {color:#fff45c !important;}
.member_head.bg_member_head p {color:#fff;}
.benefit_member_cont .item {position:relative;height:388px;padding-top:55px;padding-left:620px;}
.benefit_member_cont .item p {margin-top:25px;font-size:17px;}
.benefit_member_cont .item strong {display:block;margin-bottom:10px;font-family:'NanumSquareEB';font-size:50px;}
.benefit_member_cont .item em {display:block;font-size:21px;font-weight:bold;color:#313131;line-height:1.3;}
.benefit_member_cont .item .thumb_img {position:absolute;left:25px;top:0;width:auto;}
.benefit_member_cont .base_benefit {margin-top:-95px;margin-left:-620px;padding-top:52px;text-align:center;}
.benefit_member_cont .base_benefit p {display:inline-block;position:relative;margin-top:40px;margin-left:25px;padding-left:60px;max-width:310px;font-size:14px;line-height:1.7;text-align:left;word-break:keep-all;vertical-align:top;}
.benefit_member_cont .base_benefit p:first-child,
.benefit_member_cont .base_benefit p:nth-child(4) {margin-left:0;}
.benefit_member_cont .base_benefit p:first-child {max-width:265px;}
.benefit_member_cont .base_benefit p:nth-child(2) {max-width:210px;}
.benefit_member_cont .base_benefit p:nth-child(3) {max-width:270px;}
.benefit_member_cont .base_benefit strong {display:block;margin-bottom:18px;font-family:inherit;font-size:28px;line-height:1.2;}
.benefit_member_cont .base_benefit em {display:block;margin-bottom:3px;font-size:18px;font-weight:bold;color:#313131;}
.base_benefit .ico_intro {position:absolute;left:0;top:0;width:45px;height:40px;background-position-y:-220px;}
.base_benefit .benefit_card .ico_intro {background-position-x:0;}
.base_benefit .benefit_small .ico_intro {background-position-x:-45px;}
.base_benefit .benefit_newest .ico_intro {background-position-x:-90px;}
.base_benefit .benefit_shopping .ico_intro {background-position-x:-135px;}
.base_benefit .benefit_cost .ico_intro {background-position-x:-180px;}
.base_benefit .benefit_member .ico_intro {background-position-x:-330px;}
.tab_menu {padding:25px 0 50px;border-top:1px solid #dcdcdc;}
.tab_menu ul {text-align:center;}
.tab_menu li {display:inline-block;min-width:100px;margin-left:20px;text-align:center;}
.tab_menu li:first-child {margin-left:0;}
.tab_menu a {display:block;font-size:16px;font-weight:bold;color:#313131;letter-spacing:-1px;}
.tab_menu .ico_box {display:block;width:70px;height:40px;margin:0 auto 10px;padding:15px 0;border:1px solid #d3d3d3;border-radius:50%;background-color:#f8f9fc;}
.tab_menu .ico_box .ico_intro {width:40px;height:40px;background-position-y:-120px;}
.tab_menu a:hover .ico_box .ico_intro,
.tab_menu a:focus .ico_box .ico_intro,
.tab_menu .on .ico_box .ico_intro {background-position-y:-170px;}
.tab_menu .tab_base .ico_intro {background-position-x:0;}
.tab_menu .tab_pharm .ico_intro {background-position-x:-40px;}
.tab_menu .tab_shopping .ico_intro {background-position-x:-160px;}
.tab_menu .tab_liveseminar .ico_intro {background-position-x:-200px;}
.tab_menu .tab_bigdata .ico_intro {background-position-x:-240px;}
.tab_menu .tab_knowledge .ico_intro {background-position-x:-280px;}
.tab_menu .tab_kims .ico_intro {background-position-x:-320px;}
.tab_menu .tab_entertainment .ico_intro {background-position-x:-360px;}
.tab_menu .tab_hospital .ico_intro {background-position-x:-80px;}
.tab_menu .tab_vet .ico_intro {background-position-x:-120px;}
.tab_menu .tab_custom .ico_intro {background-position-x:-400px;}
.tab_menu .tab_new .ico_intro {background-position-x:-445px;}
.tab_menu .tab_member .ico_intro {background-position-x:-490px;}

.join_box {padding:30px 0 35px;color:#fff;text-align:center;background-color:#24c883;}
.join_box h2 {font-family:'NanumSquareB';font-size:30px;font-weight:normal;}
.join_box p {font-size:15px;}
.join_box .btn_join {display:inline-block;width:180px;height:45px;margin-top:20px;font-size:20px;color:#fff;line-height:45px;text-align:center;border:1px solid #fff;border-radius:30px;}

.member_pharm .bg_member_head {background-image:url(../images/intro/bg_member_pharm.jpg);}
.member_pharm .member_head em {color:#fe4400;}
.member_pharm .item strong,
.member_pharm .base_benefit strong {color:#ff5a1a;}
.member_pharm .base_benefit p {max-width:280px;margin-left:30px;padding-left:0;}
.member_pharm .base_benefit p:first-child,
.member_pharm .base_benefit p:nth-child(2) {margin-left:0;padding-left:140px;}
.member_pharm .base_benefit p:first-child strong,
.member_pharm .base_benefit p:nth-child(2) strong {position:absolute;left:0;top:0;}
.member_pharm .base_benefit p:first-child {width:230px;margin-right:60px;}
.member_pharm .base_benefit p:nth-child(2) {width:330px;max-width:none;}
.member_pharm .base_benefit p:nth-child(3) {max-width:280px;margin-left:0;}
.member_pharm .base_benefit p:nth-child(4) {max-width:280px;margin-left:47px;}
.member_pharm .base_benefit p:nth-child(5) {max-width:280px;}
.member_pharm .tab_menu a:hover .ico_box,
.member_pharm .tab_menu a:focus .ico_box,
.member_pharm .tab_menu .on .ico_box {border-color:#fe4400;background-color:#fe4400;}

.member_hospital .bg_member_head {background-image:url(../images/intro/bg_member_hospital.jpg);}
.member_hospital .member_head em {color:#0093f0;}
.member_hospital .item strong,
.member_hospital .base_benefit strong {color:#0093f0;}
.member_hospital .tab_menu a:hover .ico_box,
.member_hospital .tab_menu a:focus .ico_box,
.member_hospital .tab_menu .on .ico_box {border-color:#0093f0;background-color:#0093f0;}

.member_vet .bg_member_head {background-image:url(../images/intro/bg_member_vet.jpg);}
.member_vet .member_head em {color:#605cf4;}
.member_vet .item strong,
.member_vet .base_benefit strong {color:#605cf4;}
.member_vet .tab_menu a:hover .ico_box,
.member_vet .tab_menu a:focus .ico_box,
.member_vet .tab_menu .on .ico_box {border-color:#605cf4;background-color:#605cf4;}
.member_vet .owl-carousel{display:block;height:460px}

/* 제휴카드 혜택 */
.intro_benefit_card.visual_box {background-color:#9390e6;background-image:url(../images/intro/bg_benefit_card.jpg);}
.card_head {text-align:center;}
.card_head h2 {padding-bottom:12px;font-family:'NanumSquareB';font-size:37px;font-weight:normal;color:#313131;}
.card_head p {font-size:24px;color:#434343;line-height:1.3;}
.benefit_card_box {overflow:hidden;position:relative;margin-top:75px;}
.benefit_card_box .tit {display:inline-block;font-family:'NanumSquareB';font-size:50px;font-weight:normal;color:#f54500;line-height:1.2;}
.benefit_card_box .link_card {position:absolute;}
.benefit_card_box .link_card .link_txt {position:absolute;right:100%;bottom:20px;margin-right:-15px;padding-right:40px;font-size:13px;font-weight:bold;line-height:28px;white-space:nowrap;}
.benefit_card_box .link_card:hover .link_txt {background:url(../images/intro/bg_link_txt.png) no-repeat 100% 0;}

.benefit_card_box .thumb_dimd{display:block;position:relative;}
.benefit_card_box .thumb_dimd:after{position:absolute;top:0;left:0;right:0;bottom:0;border-radius:14px;background:rgba(0,0,0,.4);content:''}

.benefit_card_box .benefit_info {float:right;width:300px;padding-bottom:85px;}
.benefit_card_box .benefit_info li {position:relative;margin-top:60px;padding-left:100px;padding-top:5px;font-size:18px;font-weight:bold;color:#313131;line-height:1.3;}
.benefit_card_box .benefit_info li:first-child {margin-top:0;}
.benefit_card_box .benefit_info em {position:absolute;left:0;top:0;font-size:30px;font-weight:bold;color:#fe4400;}
.benefit_card_box .benefit_info span {display:block;padding-top:10px;font-size:14px;font-weight:normal;color:#666;line-height:1.5;}
.benefit_card_box .card_samsung1 {left:240px;top:7px;}
.benefit_card_box .card_samsung2 {left:305px;top:165px;}
.benefit_card_box .card_shinhan1 {left:237px;top:10px;}
.benefit_card_box .card_shinhan1 .link_txt {margin-right:-75px;}
.benefit_card_box .card_hyundai1 {left:434px;top:14px;}
.benefit_card_box .card_hyundai1 .link_txt {bottom:auto;top:-6px;}
.benefit_card_box .card_hyundai2 {left:375px;top:94px;}
.benefit_card_box .card_hyundai2 .link_txt {bottom:auto;top:2px;}
.benefit_card_box .card_hyundai3 {left:234px;top:137px;}
.benefit_card_box .card_hyundai3 .link_txt {bottom:60px;}
.benefit_card_box .card_hyundai4 {left:324px;top:196px;}
.benefit_card_box .card_hyundai4 .link_txt {left:100%;right:auto;bottom:30px;margin-right:0;margin-left:-15px;padding-left:40px;padding-right:0;}
.benefit_card_box .card_hyundai4:hover .link_txt {background-position:0 0;}
.benefit_card_box .card_woori1 {left:241px;top:12px;}
.benefit_card_box .card_woori1 .link_txt {margin-right:-68px;}
.benefit_card_box .benefit_hyundai_info {padding:135px 0 188px;}
#pharm_hospital .benefit_info {padding-bottom:106px;}