@charset "utf-8";

/* comm_shop_plus */
.left_menu .mypage_box {padding-top:99px;}
.left_menu .b_menu .btn_close_box {top:34px;}
.left_menu .btn_unfold {top:369px;}
#header .header_inner {margin:0 auto 13px;padding-top:25px;}
#header .tit {float:left;margin-left:10px;font-family:NanumSquareEB;font-size:24px;color:#2a303b;line-height:32px;}
#header .tit a {color:#2a303b;}
.link_logo {float:left;}
.logo_shopplus {margin:2px 0 7px;}
.logo_shopplus .ico_comm {display:block;width:132px;height:29px;background-position:-260px 0;}
.header_search {float:right;width:280px;}
.search_enter_inner {position:relative;height:22px;padding:7px 0 7px 16px;border:1px solid #ff6724;border-radius:30px;}
.search_enter input[type="text"] {width:calc(100% - 54px);height:36px;margin:-7px 0;line-height:36px;border:0;color:#888;}
.search_enter .select + input[type="text"] {width:calc(100% - 54px - 80px);}
.search_enter .select {position:relative;padding-left:0;padding-bottom:7px;font-size:12px;color:#fd490e;line-height:22px;border:0;border-bottom:1px solid #ff6724;background-position:100% -104px;}
.search_enter .select:after {content:'';position:absolute;right:0;top:0;width:1px;height:22px;background-color:#ff6724;}
.search_enter .select strong {padding-left:0;}
.search_enter .btn_search {float:right;width:55px;height:36px;margin-right:-1px;padding:0;margin-top:-7px;font-size:12px;font-weight:bold;color:#fff;text-align:center;border:0;background-color:#ff6724;border-radius:0 30px 30px 0;}
.list_3depth {float:left;clear:both;padding-top:27px;}
.list_3depth li {float:left;margin-right:17px;}
.list_3depth a {font-family:NanumSquareEB;font-size:17px;color:#2a303b;}
.list_3depth a:hover,
.list_3depth a:focus {color:#ff2400;}
.list_3depth .on a {color:#ff2400;}
#header .etc_box {float:right;padding-top:35px;}
#header .etc_box p {float:left;margin-right:20px;font-size:11px;}
#header .etc_box .txt_link {color:#ff6724;}
#header .etc_box .txt_link:hover,
#header .etc_box .txt_link:focus {text-decoration:none;}
#header .etc_box .txt_num {margin-right:2px;font-weight:bold;text-decoration:underline;}
.left_menu .btn_alarm {margin-top:234px;}

/* comm_shop_plus_sub */
#container.cont_top_bnr {min-height:781px;}
.sub_top_bnr {width:100%;}
.sub_top_bnr .inner {overflow:hidden;display:block;width:950px;margin:0 auto;background-position:100% 50%;background-repeat:no-repeat;}
.sub_top_bnr .inner > a {display:block;}
.sub_top_bnr .tit {float:left;margin-top:35px;font-family:NanumSquareEB;font-size:30px;font-weight:normal;color:#fff;line-height:1.1;vertical-align:middle;}
.sub_top_bnr .bg_img {float:right;vertical-align:top;}
.sub_cont {float:left;width:700px;}
.sub_cont + .right_aside {float:right;width:236px;margin-top:30px;}
.sub_cont_head {overflow:hidden;margin:50px 0 20px;}
.sub_cont_head:first-child {margin-top:30px;}
.sub_cont_head .sub_tit {float:left;margin-top:-4px;font-family:NanumSquareEB;font-size:22px;color:#2a303b;}
.sub_cont_head .select + .select {margin-left:5px;}
.stit {margin:35px 0 10px;font-family:NanumSquareEB;font-size:17px;color:#2a303b;}
.stit:first-child {margin-top:0;}
.stit em {color:#fd6006;}
.right_aside .aside_box {margin-top:12px;border:1px solid #e3e5e8;background-color:#fff;}
.right_aside .aside_box:first-child {margin-top:0;}
.right_aside .aside_box .tit {display:block;padding:20px 24px 10px;font-size:14px;font-weight:bold;color:#2a303b;}
.right_aside .myinfo_box {padding:30px 24px;}
.right_aside .myinfo_box .txt_user {font-weight:bold;color:#484b50;}
.right_aside .myinfo_box .txt_user strong {font-size:16px;}
.right_aside .myinfo_box .txt_id {float:left;margin-top:2px;color:#888;}
.right_aside .myinfo_box .btn_mypage {float:right;margin-bottom:20px;}
.right_aside .myinfo_box .plus_point {overflow:hidden;clear:both;margin:20px 0;padding:20px 0;border-top:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;}
.right_aside .plus_point .tit {display:block;padding:0 0 7px;font-size:11px;font-weight:bold;color:#484b50;letter-spacing:-1px;white-space:nowrap;}
.right_aside .plus_point .tit span {font-weight:normal;color:#888;}
.right_aside .plus_point .txt_num {float:left;font-size:18px;font-weight:bold;color:#fd490e;letter-spacing:-1px;}
.right_aside .plus_point .btn_type5 {float:right;margin-top:3px;letter-spacing:-1px;}
.right_aside .myinfo_box .plus_grade {overflow:hidden;}
.right_aside .myinfo_box .plus_grade {overflow:hidden;}
.right_aside .plus_grade .tit {float:left;width:38px;margin-top:3px;padding:0;font-size:11px;font-weight:bold;color:#484b50;letter-spacing:-1px;}
.right_aside .plus_grade .my_grade {float:left;margin-top:3px;font-size:11px;color:#888;letter-spacing:-1px;}
.right_aside .plus_grade .my_grade em {font-weight:bold;color:#000;}
.right_aside .plus_grade .btn_type4 {float:right;}

/* sub_layout */
.plus_kims #header .header_inner {margin-bottom:14px;}
