@charset 'utf-8';

/* layout_header */
#header .header_inner {margin:0 auto;padding:54px 0 21px}
.link_logo {float:left}
.logo_ez3pl{margin:18px 63px 0 0}
.logo_ez3pl .ico_ez3pl{width:166px;height:55px}
.ico_ez3pl{overflow:hidden;display:inline-block;font-size:0;line-height:0;text-indent:100%;background:url(../images/ez3pl/ico_ez3pl.png) no-repeat;vertical-align:top}
.ico_dw{overflow:hidden;display:inline-block;font-size:0;line-height:0;text-indent:100%;background:url(../images/daewoong/ico_dw.png) no-repeat;vertical-align:top}
.header_search {float:left;width:auto}
.search_enter {clear:both;margin:10px -23px 0;padding-top:10px}
.search_enter_inner {position:relative;height:47px;padding:0 0 0 25px;border:2px solid #ff6724;border-radius:30px}
.search_enter_inner > input[type="text"] {float:left;width:285px;height:47px;margin:0;line-height:38px;border:0;color:#888}
.search_enter .search_enter_inner > .select {position:relative;padding-left:0;color:#fd490e;line-height:47px;border:0;border-bottom:2px solid #ff6724;font-size:11px;background-position:100% -93px}
.search_enter .search_enter_inner > .select:after {display:none}
.search_enter .btn_search {float:right;width:80px;height:47px;margin-right:-1px;padding:0;font-family:'NanumSquareB';font-size:17px;color:#fff;text-align:center;border:0;background-color:#ff6724;border-radius:0 30px 30px 0}
.header_bnr {overflow:hidden;float:right;width:205px;height:80px;margin-top:10px}
.header_bnr .item a {display:block;width:205px;height:80px}
.header_bnr .item img {width:100%;height:100%}
.header_bnr .owl-nav {top:auto;right:auto;left:0;bottom:0}
.header_bnr .owl-dots{bottom:0}
.header_bnr .owl-dots .owl-dot{width:7px;height:7px}
.header_bnr .owl-dots .owl-dot span{width:7px;height:7px;background-color:#b4babd}
.header_bnr .owl-dots .owl-dot.active span{background-color:#fd490e}
#gnb {width:100%;border-top:1px solid #ebeef3}
#gnb > ul {width:950px;margin:0 auto;font-size:0;text-align:right;}
#gnb > ul > li {position:relative;display:inline-block;width:126px;text-align:center;box-sizing:border-box;}
#gnb > ul > li > a {display:inline-block;padding:17px 10px 16px 10px;}
#gnb .gnb_comm {height:16px;background:url(../images/ez3pl/gnb_ez3pl.png) no-repeat;}
#gnb .gnb_buy .gnb_comm {width:58px;background-position:-220px 0;}/* 2020-12-10 수정 */
#gnb .gnb_return .gnb_comm {width:57px;background-position:-75px 0;}
#gnb .gnb_compare .gnb_comm {width:58px;background-position:-150px 0;}
#gnb .gnb_benefit .gnb_comm {width:72px;background-position:-290px 0;}
#gnb a:hover .gnb_comm,
#gnb .on .gnb_comm {background-position-y:-48px;}
#gnb .dropdown_menu {position:absolute;margin-top:1px;left:0;right:0;top:100%;padding:15px 0;border:1px solid #ff6724;background:#ffffff;z-index:1;}
#gnb .dropdown_menu li {margin-top:6px;font-size:13px;}
#gnb .dropdown_menu li:first-child {margin-top:0;}
#gnb .dropdown_menu.theplus a{padding: 0 8px;}
#gnb .dropdown_menu a:hover,
#gnb .dropdown_menu a:focus {color:#fd490e;}

/* layout_content */
.layout_ez3pl #container {min-height:1500px;background:#fff;}/* 2020-10-20 수정 */
#content{position:relative;padding-bottom:90px;padding-top:22px;}

.quick_menu{top:0}
.quick_menu_inner{margin-top:0}
.quick_menu .txt_quick:last-of-type{border-bottom:0 none}

/* 2020-12-07 추가 */
#gnb .gnb_category,
#gnb .gnb_supplier {float:left;}
#gnb .gnb_category .gnb_comm,
#gnb .gnb_supplier .gnb_comm {background: url(../images/gnb_comm.png) no-repeat;}
#gnb a:hover .gnb_comm,
#gnb a:focus .gnb_comm,
#gnb .gnb_on .gnb_comm {background-position-y:-48px}
#gnb .gnb_category .gnb_comm {width:93px;margin-left:0;background-position-x:0}
#gnb .gnb_supplier .gnb_comm {width:94px;background-position-x:-111px}
#gnb li > ul {display:none;position:absolute;left:0;top:49px;z-index:9;padding:15px 0;text-align:left;border:1px solid #ff6724;border-top-width:2px;background-color:#fff;font-size:12px;}
#gnb li li {line-height:20px}
#gnb li li a {display:block;padding:0 20px;white-space:nowrap;color:#888}
#gnb li li a:active,
#gnb li li a:hover,
#gnb li li a:focus,
#gnb .on > a {font-weight:bold;color:#ff2400}
#gnb .gnb_depth2 {position:relative}
#gnb .gnb_depth2 > div {display:none;position:absolute;left:100%;top:-16px;z-index:9;width:168px;padding:15px 0;border:1px solid #ff6724;background-color:#fff}
#gnb .gnb_depth2 .info_box {margin:15px 19px 0;padding:8px 5px 8px 30px;font-size:11px;color:#fd490e;line-height:1.3;text-indent:-20px;border:1px solid #eee6c9;background-color:#fffae7;letter-spacing:-1px}
#gnb .gnb_depth2 .info_box .ico_comm {width:15px;height:15px;margin-top:-2px;margin-right:5px;background-position:-80px -62px}
#gnb .gnb_depth2 .info_box + .info_box {margin-top:5px}
#gnb .gnb_depth2 .quasi_box {top:-356px;width:450px;padding:0}
#gnb .gnb_depth2 .quasi_box .dep_tit {display:block;padding:7px 20px;color:#484b50;border-top:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;background-color:#f9fafb}
#gnb .gnb_depth2 .quasi_box .dep_tit:first-child {border-top:0}
#gnb .gnb_depth2 .quasi_box ul {overflow:hidden;padding:15px 0}
#gnb .gnb_depth2 .quasi_box li {float:left;width:33%;border-right:1px solid #f0f1f3}
#gnb .gnb_depth2 .quasi_box li:nth-child(3n) {border-right:0}

#content.cont_ez3pl_list.expand {width:1500px;}