@charset "utf-8";

#content.cont_mypage{width:990px;margin:0 auto}

#cnt {overflow:hidden;width:730px; min-height:700px; height:auto !important; height:700px; padding:0; text-align:center;}/* 2018-06-15 수정 */
#cnt .cnt_box {margin:0; padding:10px 0 50px 0; text-align:left;}
#cnt .cnt_box .page_tit {margin:0; padding:0 0 15px 0;}

/* 좌측 */
#snb {float:left; width:170px; padding:10px 0 0 0;}


/* 마이페이지 snb */
#mypage_snb {margin:0; padding:0;}
#mypage_snb .myshop_info {width:157px; margin:0; padding:0; background:url("http://img.shop.co.kr/images/renew/mypage/bg_mypagebox_line.gif") repeat-y;}
#mypage_snb .myshop_info p.guest_name {margin:0; padding:18px 0 3px 0; text-align:center; background:url("http://img.shop.co.kr/images/renew/mypage/bg_mypagebox_top.gif") no-repeat;}
#mypage_snb .myshop_info p strong {padding-right:5px; font-size:12px; line-height:11px; color:#f66904;}
#mypage_snb .myshop_info dl {margin:0; padding:10px 10px 0 10px;}
#mypage_snb .myshop_info dl dt {margin:0; padding:0 0 0 15px; color:#000; background:url("http://img.shop.co.kr/images/renew/mypage/bullet_arrow.gif") no-repeat 0 3px;}
#mypage_snb .myshop_info dl dd {margin:0; padding:0 0 0 3px; color:#000000; border-top:dashed 1px #ebebeb;}
#mypage_snb .myshop_info dl dd.none {border:none;}
#mypage_snb .myshop_info dl dd strong {display:inline-block; width:70px; margin-left:10px; font-size:12px; color:#ff4444; text-align:right;}
#mypage_snb .myshop_info dl dd em {display:inline-block; width:50px; font-style:normal;}
#mypage_snb .myshop_info dl dd span {display:inline-block; width:80px; text-align:right;}
#mypage_snb .myshop_box {width:153px; margin:15px 0 0 0; padding:0; border:solid 1px #cdbeb4;}
#mypage_snb .myshop_box h2 {margin:0; padding:0; border-top:solid 1px #eee9e6; border-bottom:solid 1px #eee9e6;}
#mypage_snb .myshop_box h2.first {border-top:0;}
#mypage_snb .myshop_box ul {margin:0; padding:13px; list-style:none;}
#mypage_snb .myshop_box ul li {margin:0; padding:0; line-height:160%;}
#mypage_snb .myshop_box ul li a {color:#000000;}

/* 좌측 하단 배너 */
.left_banner {margin:0; padding:0; list-style:none;}
.left_banner li {padding-top:10px;}

/* 우측 퀵메뉴 */
.quick_menu{margin-left:415px}

/* 낱알반품 */
.grain_return{padding-top:25px}
.grain_return .screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.grain_return .tit_grain{display:block;overflow:hidden;height:19px;margin-bottom:17px;background:url(../images/mypage/tit_grain.png) no-repeat;text-indent:-9999px}
.grain_return .ico_grain{display:inline-block;overflow:hidden;background:url(../images/mypage/ico_grain.png) no-repeat;vertical-align:middle;text-indent:-9999px}
.grain_return .tit_main{width:167px;height:22px;margin-bottom:24px}
.grain_return .tit_apply{width:144px;background-position:0 -30px}
.grain_return .tit_process{width:179px;background-position:0 -60px}
.grain_return .tit_choice{width:191px;background-position:0 -90px}
.grain_return .tit_check{width:209px;background-position:0 -120px}
.grain_return .tit_detail{width:110px;background-position:0 -150px}
.grain_return .tit_sub{display:block;padding-bottom:15px;font-size:14px;color:#2a303b}
.grain_return .wrap_tit{height:42px}
.grain_return .wrap_br{border-bottom:2px solid #35353f}
.grain_return .wrap_tit .tit_grain{float:left;margin-top:8px}
.grain_return .wrap_tit .info_date{float:right;padding-top:10px;color:#666}
.grain_return .wrap_tit .txt_date{padding-left:5px;color:#0f141a}
.grain_return .btn_caution{overflow:hidden;float:right;height:30px;padding:0 20px;border:0 none;border-radius:2px;font-weight:bold;font-size:11px;line-height:34px;background-color:#78808b;color:#fff}
.grain_return .btn_caution .ico_arr{width:3px;height:5px;margin:-4px 0 0 7px;}
.grain_return .list_info{margin-bottom:40px;padding:20px;background-color:#f9fafd}
.grain_return .list_info li{position:relative;padding-left:25px;margin-bottom:5px;color:#888}
.grain_return .list_info .txt_num{position:absolute;top:0;left:0;width:15px;height:15px;line-height:15px;background-position:-10px 0;color:#fff;text-align:center;text-indent:0}
.grain_return .wrap_box{overflow:hidden;position:relative;margin-bottom:32px}
.grain_return .box_step{float:left;width:118px;height:123px;margin-left:6px;padding:10px 20px;border-radius:10px;background-color:#dff1f9}
.grain_return .box_step:first-child{width:360px;margin-left:0;background-color:#ebf5f8}
.grain_return .tit_step{display:block;padding:5px 0 10px;border-bottom:1px solid #c5dde7;font-size:15px;text-align:center;color:#0f141a}
.grain_return .info_step{overflow:hidden;padding:15px 0 0 19px;color:#666}
.grain_return .info_step li{float:left;padding-left:30px}
.grain_return .info_step li:first-child{padding-left:0}
.grain_return .info_step .txt_step{display:block;padding-bottom:3px}
.grain_return .info_step .txt_type2{display:block;line-height:16px}
.grain_return .wrap_box > .ico_grain{position:absolute;top:66px;left:385px;width:31px;height:31px;background-position:0 -20px}
.grain_return .wrap_box > .ico_arr2{left:551px;}
.grain_return .tbl_apply {margin-bottom:25px;border-bottom:1px solid #e3e5e8}
.grain_return .tbl_apply th {padding:15px 0;border-bottom:1px solid #e3e5e8;border-left:1px solid #e3e5e8;background-color:#f9fafb;color:#666;text-align:center;letter-spacing:-1px;}
.grain_return .tbl_apply th:first-child {border-left:0;}
.grain_return .tbl_apply td {padding:15px 0;text-align:center;border-left:1px solid #e3e5e8;}
.grain_return .tbl_apply td:first-child {border-left:0;}
.grain_return .tbl_apply .emph_color{font-weight:bold;font-size:16px}
.grain_return .tit_chk{padding-top:17px}
.grain_return .wrap_search{padding:21px 80px 21px 60px;border-top:1px solid #e5e5e5;background-color:#f6f8f9}
.grain_return .tbl_search{width:590px;}
.grain_return .tbl_search th{color:#484b50}
.grain_return .tbl_search td{padding:4px 0}
.grain_return .info_search{overflow:hidden;}
.grain_return .tbl_search .wrap_btn{float:right}
.grain_return .tbl_search .wrap_btn button{float:left;width:40px;height:29px;margin-left:3px;padding:0;border:1px solid #d5d5d5;font-size:11px;line-height:29px;background-color:#f0f1f1;color:#888}
.grain_return .search_inp{overflow:hidden;padding-left:6px}
.grain_return .search_inp input[type="text"]{float:left;width:348px;border-right:0 none}
.grain_return .search_inp .btn_search{float:right;width:53px;height:29px;padding:0;border:0 none;font-weight:bold;font-size:12px;line-height:30px;background-color:#a0a1a6;color:#fff}
.grain_return .view_data{overflow:hidden;position:relative}
.grain_return .tbl_scroll_wrap{position:relative;float:left;}
.grain_return .inner_scroll{width:728px;height:205px;border-bottom:1px solid #e3e5e8}
.grain_return .view_data .inner_scroll{border-left:0 none;border-right:0 none}
.grain_return .tbl_scroll_wrap table{border-bottom:0 none}
.grain_return .tbl_scroll_wrap th{padding-left:0;padding-right:0;font-weight:bold;text-align:center}
.grain_return .tbl_scroll_wrap td{padding:10px 8px 8px;word-break:break-all}
.grain_return .tbl_scroll_wrap .txt_right{text-align:right}
.grain_return .tbl_scroll_wrap .select{text-align:left}
.grain_return .tbl_scroll_wrap .txt_type2{padding-left:0;padding-right:0}
.grain_return .tbl_scroll_wrap .link_order{font-family:Verdana;text-decoration:underline}
.grain_return .wrap_apply1{width:210px;margin-right:1px}
.grain_return .wrap_apply1 .inner_scroll{width:210px}
.grain_return .wrap_apply1 li{width:85px;padding-right:20px}
.grain_return .wrap_apply1 .tit_type1{width:105px;padding-right:0}
.grain_return .wrap_apply1 td:first-child{padding-left:20px;text-align:left}
.grain_return .wrap_apply1 td{cursor:pointer}
.grain_return .on td{background-color:#ff763a;color:#fff;}
.grain_return .on .ico_arr{width:7px;height:9px;background-position:-30px 0;margin:-3px 0 0 10px}
.grain_return .wrap_apply2{overflow:hidden;overflow-x:scroll;width:519px;border-bottom:1px solid #e3e5e8}
.grain_return .wrap_apply2 .inner_scroll{border:0 none}
.grain_return .wrap_apply2 thead{width:907px}
.grain_return .wrap_apply2 .tit_type1{width:35px}
.grain_return .wrap_apply2 .tit_type2{width:105px}
.grain_return .wrap_apply2 .tit_type3{width:193px}
.grain_return .wrap_apply2 .tit_type4{width:100px}
.grain_return .wrap_apply2 .tit_type5{width:80px}
.grain_return .wrap_apply2 .tit_type6{width:94px}
.grain_return .wrap_apply2 .tit_type7{width:100px}
.grain_return .wrap_apply2 .tit_type8{width:80px}
.grain_return .wrap_apply2 .tit_type9{width:120px}
.grain_return .wrap_apply2 .inner_scroll{overflow:hidden;overflow-y:scroll;width:907px;height:188px}
.grain_return .wrap_apply2 tr:hover td{background-color:#f6f8f9}
.grain_return .wrap_apply2 input[type="checkbox"]{vertical-align:middle}
.grain_return .choice_num{float:left;width:50px;height:25px;}
.grain_return .choice_num input{float:left;width:35px;height:25px;padding:0;border:1px solid #d8d8d8;border-right:0 none;color:#666;text-align:center}
.grain_return .choice_num a{float:right}
.grain_return .choice_num .btn_minus{top:13px}
.grain_return .choice_num .ico_grain{display:block;width:15px;cursor:pointer}
.grain_return .btn_plus .ico_arr{height:13px;background-position:-40px 0}
.grain_return .btn_minus .ico_arr{height:12px;background-position:-60px 0}
.grain_return .num_apply{overflow:hidden;padding-top:5px;color:#666}
.grain_return .btn_add{display:block;overflow:hidden;width:214px;margin:20px auto 45px}
.grain_return .info_coupon{float:right;width:320px}
.grain_return .txt_coupon{float:left;padding-top:8px;font-weight:bold;font-size:15px;color:#666}
.grain_return .txt_coupon .emph_color{text-decoration:underline}
.grain_return .btn_coupon{float:right;width:139px;height:31px;border:1px solid #c0c0c0;border-radius:3px;font-weight:bold;line-height:33px;text-align:center}
.grain_return .wrap_check{overflow:hidden;float:none;width:728px}
.grain_return .wrap_check .tit_type1{width:38px}
.grain_return .wrap_check .tit_type2{width:210px}
.grain_return .wrap_check .tit_type3{width:95px;padding-left:15px}
.grain_return .wrap_check .tit_type4{width:70px}
.grain_return .wrap_check .tit_type5{width:75px}
.grain_return .wrap_check .tit_type6{width:105px}
.grain_return .wrap_check .tit_type7{width:105px;padding-right:15px}
.grain_return .wrap_check .inner_scroll{height:335px}
.grain_return .wrap_check .txt_left{padding-left:0;}
.grain_return .wrap_check .txt_right{padding-right:15px;padding-left:0}
.grain_return .wrap_check select{height:25px}
.grain_return .cell_supply th{padding:10px 8px 8px;border-top:1px solid #e0e5ec;border-bottom:1px solid #e0e5ec;background-color:#f6f8f9;color:#484b50}
.grain_return .cell_supply .txt_left{padding-right:30px;font-weight:normal;text-align:left}
.grain_return .cell_supply .txt_supply{float:left;width:110px;padding-top:2px;font-size:14px}
.grain_return .cell_supply .txt_price{overflow:hidden;text-align:right}
.grain_return .cell_supply .emph_color{padding-left:5px;font-size:14px;vertical-align:middle}
.grain_return .cell_supply .txt_num{font-size:17px}
.grain_return .list_total{overflow:hidden;padding:15px 0;border-bottom:1px solid #e3e5e8;background-color:#ebf5f8}
.grain_return .list_total li{float:left;position:relative;height:54px;padding-top:15px;font-weight:bold;font-size:15px;color:#0f141a;text-align:center}
.grain_return .list_total .item_type1{width:147px;border-right:1px solid #c5dde7}
.grain_return .list_total .item_type2{width:171px}
.grain_return .list_total .item_type3{width:178px}
.grain_return .list_total .item_type4{width:233px;color:#fd490e}
.grain_return .list_total strong{display:block;padding-bottom:3px;font-size:12px}
.grain_return .list_total .ico_grain{position:absolute;top:20px;right:-18px;width:31px;height:31px;}
.grain_return .list_total .ico_minus{background-position:-40px -20px}
.grain_return .list_total .ico_equals{background-position:-80px -20px}
.grain_return .btm_btn{margin-top:25px;font-size:0;line-height:0;text-align:center}
.grain_return .btm_btn button{width:214px;height:45px;margin:0 3px}
.grain_return #grainReturn2 .wrap_search{border-bottom:1px solid #e5e5e5}
.grain_return .wrap_return{float:none;margin-top:35px}
.grain_return .wrap_return .tit_type1{width:138px}
.grain_return .wrap_return .tit_type2{width:100px}
.grain_return .wrap_return .tit_type3{width:100px}
.grain_return .wrap_return .tit_type4{width:200px}
.grain_return .wrap_return .tit_type5{width:80px}
.grain_return .wrap_return .tit_type6{width:105px;padding-right:5px}
.grain_return .wrap_return .inner_scroll{height:280px}
.grain_return .wrap_return tr:hover td{background-color:#f6f8f9}
.grain_return .wrap_return .data_none:hover td{background:none}
.grain_return .txt_none{padding:110px 0;font-size:14px;text-align:center}
.grain_return .inner_txt{display:inline-block}
.grain_return .txt_none .ico_none{float:left;width:32px;height:32px;background-position:0 -60px}
.grain_return .txt_none strong{display:block;overflow:hidden;padding:8px 0 0 10px;}
.grain_return .apply_detail{width:730px}
.grain_return .tbl_type3{table-layout:auto;border-top:1px solid #a0a1a6}
.grain_return .tbl_type3 tbody th, .grain_return .tbl_type3 tbody td{padding:15px 0 13px 15px;border-bottom:1px solid #e8e8e8}
.grain_return .tbl_type3 tbody th{font-weight:bold;font-size:14px;background-color:#f7f8fa}
.grain_return .wrap_detail{float:none;margin-top:25px}
.grain_return .wrap_detail .tit_type1{width:198px}
.grain_return .wrap_detail .tit_type2{width:80px;padding-left:10px}
.grain_return .wrap_detail .tit_type3{width:75px}
.grain_return .wrap_detail .tit_type4{width:80px;padding-left:10px}
.grain_return .wrap_detail .tit_type5{width:65px}
.grain_return .wrap_detail .tit_type6{width:108px}
.grain_return .wrap_detail .tit_type7{width:97px;padding-right:5px}
.grain_return .wrap_detail .inner_scroll{height:280px}
.grain_return .wrap_detail tr:hover td{background-color:#f6f8f9}
.grain_return .apply_detail .wrap_btn{padding-top:15px;text-align:right}
.grain_return .apply_detail .btn_list{width:114px}

/* 2022-06-13 환불 신청 */
.refund{padding-top: 25px;}
.mypage_section .red_point{color: #ff3b3b;}
.mypage_section .wrap_tit{margin-bottom: 4px;}
.mypage_section .wrap_tit .mypage_title{display: inline-block; color: #2a303b; font-size: 22px; font-family: 'NanumSquareEB', sans-serif; letter-spacing: -0.04em;}
.mypage_section .list_info_wrap{margin-bottom: 40px; padding:20px; border-top: 2px solid #35353f; background-color: #f9fafd;} 
.mypage_section .list_info_wrap .top_txt{margin-bottom: 10px; font-size: 14px;}
.mypage_section .list_info li{position:relative;padding-left:25px;margin-bottom:5px;color:#888}
.mypage_section .list_info .ico_txt_num{display:inline-block;overflow:hidden;background:url(../images/mypage/ico_grain.png) no-repeat;vertical-align:middle;text-indent:-9999px}
.mypage_section .list_info .txt_num{position:absolute;top:0;left:0;width:15px;height:15px;line-height:15px;background-position:-10px 0;color:#fff;text-align:center;text-indent:0}
.mypage_section .table_type1{margin-bottom:25px; border-top: 2px solid #35353f;}
.mypage_section .table_type1 th{padding:15px 0;border-bottom:1px solid #e3e5e8;border-left:1px solid #e3e5e8;background-color:#f9fafb;color:#666;text-align:center;letter-spacing:-1px;}
.mypage_section .table_type1 th:first-child {border-left:0;}
.mypage_section .table_type1 td {padding:15px 0;text-align:center;border:1px solid #e3e5e8; border-bottom:1px solid #e3e5e8; font-size: 14px;}
.mypage_section .table_type1 td:first-child {border-left:0;}
.mypage_section .table_type1 td:last-child {border-right:0;}
.mypage_section .table_type1 td strong{font-size: 14px;}
.mypage_section .table_type1 td strong.total{color: #fd490e;}
.mypage_section .table_type2 tr{border-bottom: 1px solid #e0e5ec;}
.mypage_section .table_type2 tr.bg_style{background-color: #f6f8f9;}
.mypage_section .table_type2 th{padding: 10px 0; color: #fff; font-weight: bold; background-color: #acb2b6; text-align: center; box-sizing: border-box;}
.mypage_section .table_type2 td{padding:13px 8px 8px; text-align: center;}
.mypage_section .table_type2 .align_left{text-align: left; color: #fd6006;}
.refund .mypage_section .btn_apply{display: block; width: 158px; margin:0 auto 50px;}
.refund .mypage_section .btn_apply.disabled{background-color: #a6a6a6; color: #fff; border: 1px solid #a6a6a6;}
.refund .mypage_section .rfn_dtl{margin-bottom: 23px;}
.refund .mypage_section .rfn_dtl .mypage_title{margin-bottom: 10px;}
.refund .mypage_section .rfn_dtl .title_sub{font-size: 12px; color: #888;}
.refund .mypage_section .ico_bk{display: inline-block; width: 8px; height: 8px; margin-left: 14px; margin-right: 4px; border-bottom: 1px solid #ff6724; border-left: 1px solid #ff6724;}
.refund .mypage_section .paging_nav{padding-top: 30px;}
.refund .rfn_dtl_none{padding:48px 0; font-size: 16px; color: #2a303b; text-align: center;}

/* 환불 계좌 등록 팝업*/
.pop_layer_wrap{left:50% !important;transform: translateX(-50%)}
.pop_layer_wrap .pop_wrap {padding:5px 30px 50px;}
.pop_layer_wrap .title {margin-top:1em; font-family:'NanumSquareEB', sans-serif;font-size:18px;color:#484b50;}
.pop_layer_wrap .pop_wrap .title{padding-bottom: 10px; border-bottom: 1px solid #d5d5d5;}
#popRfnAcn .pop_body{padding-top: 18px; padding-left: 18px;}
#popRfnAcn .rfn_desc{margin-bottom: 60px;}
#popRfnAcn .rfn_desc li {font-size: 14px; line-height: 1.6;}
#popRfnAcn .rfn_acn_info{margin-bottom: 50px;}
#popRfnAcn .rfn_acn_info .row{margin-bottom: 20px; border-bottom: 1px solid #d5d5d5;}
#popRfnAcn .rfn_acn_info .row{position: relative; padding-bottom: 20px;}
#popRfnAcn .rfn_acn_info .row::after{display: block; content: ""; clear: both;}
#popRfnAcn .rfn_acn_info .row .rfn_tit{float: left; padding-left: 20px; font-size: 16px; text-indent: -21px;}
#popRfnAcn .rfn_acn_info .row .f_right{float: right;}
#popRfnAcn .rfn_acn_info .row .rfn_box{display: inline-block; width: 300px; height: 30px; padding:4px 10px; box-sizing: border-box; vertical-align: middle;}
#popRfnAcn .rfn_acn_info .row .rfn_box strong{padding-left: 0; line-height: 1.8; color: #999;}
#popRfnAcn .rfn_acn_info .row button{width: 144px; height: 40px; box-sizing: border-box; font-size: 12px; background-color: #d8d8d8;}
#popRfnAcn .rfn_acn_info .row button.yellow{background-color: #f9d855;}
#popRfnAcn .btn_type1{display: block; margin: 0 auto;}
#popRfnAcn .btn_type1.btn_auth{width: 180px;}
#popRfnAcn .btn_type1.btn_auth.disabled{background-color: #a6a6a6; color: #fff; border: 1px solid #a6a6a6;}
#popRfnChk .rfn_pop_body{padding-top: 44px; font-size: 14px;}
#popRfnChk .pop_top_tit{display: inline-block; margin-bottom: 14px;}
#popRfnChk .rfn_info_wrap{position: relative; margin-bottom: 30px; padding-left:26px;}
#popRfnChk .rfn_info_wrap .rfn_aply_info{margin-left: 4px;}
#popRfnChk .btn_rfn{position: absolute; bottom: 0; right: 0; width: 125px; right: 24px;}
#popRfnChk .frn_chg_area{position: relative; padding:18px 28px; background-color: #ebf5f8;}
#popRfnChk .frn_chg_area .btn_rfn{bottom: 16px;}
#popRfnChkCom .rfn_pop_body{padding-top: 60px; color: #333; text-align: center;}
#popRfnChkCom .rfn_chk_txt{margin-bottom: 54px; font-size: 17px;}
#popRfnChkCom .rfn_chk_txt .nm{font-weight: bold;}
#popRfnChkCom .btn_rfn{width: 125px;}
#popRfnChkCom .btn_type2{margin-left: 4px;}