.pop_main{position:absolute;left:0;top:0;z-index:602;border:1px solid #ff6325;background-color:#fff;cursor:all-scroll}
.pop_main .link_noti{display:block}
.pop_main .link_noti img{width:400px;height:356px}
.pop_main .chk_today_box label{font-size:11px;color:#484b50}
.pop_main_rolling .sliderkit-panels{position:relative;}/* 2020-04-22 */
.pop_main_rolling .sliderkit-panel{display:none;position:absolute;top:0;left:0;width:100%}
.pop_main_rolling .sliderkit-panel:first-child{display:block}
.pop_main_rolling .sliderkit-panel-old{z-index:1}
.pop_main_rolling .sliderkit-panel-active{z-index:2}
.pop_main_rolling .sliderkit-panel a{display:block}
.pop_main_rolling .sliderkit-panel img{width:350px;}/* 2020-04-22 */
.pop_main_rolling .sliderkit-nav-clip{width:100% !important; height:auto !important}
.pop_main_rolling .pop_tab_menu ul{width:auto !important}
.pop_main_rolling .pop_tab_menu ul:after{content:'';display:block;clear:both}/* 2020-04-22*/
.pop_main_rolling .pop_tab_menu li{position:relative;float:left;width:33.3%;margin-right:-1px;margin-bottom:-1px}
.pop_main_rolling .pop_tab_menu li a{display:block;border:1px solid #efefef;text-decoration:none}
.pop_main_rolling .pop_tab_menu .sliderkit-selected{z-index:1}
.pop_main_rolling .pop_tab_menu .sliderkit-selected a{border-color:#fd490e;background-color:#fefedb}
.pop_main_rolling .pop_tab_menu .sliderkit-selected a span{color:#fd490e}
.bg_pop_main{display:none;position:fixed;left:0;right:0;top:0;bottom:0;z-index:601;background-color:#000;opacity:0.7;filter:alpha(opacity=70)}
/* 2018-01-03*/

/* 2022-08-16 추가 */
.pop_main_rolling .owl-carousel .owl-nav{top: auto; left: 0; right: 0; bottom: -40px; border-top: 1px solid #e3e7ee; border-bottom: 1px solid #e3e7ee;}
.pop_main_rolling .owl-carousel .owl-nav .owl-prev, .pop_main_rolling .owl-carousel .owl-nav .owl-next{width: 37px; height: 38px; padding: 0; border: 0 none;}
.pop_main_rolling .owl-carousel .owl-nav .owl-prev{float: left; border-right: 1px solid #e3e7ee;}
.pop_main_rolling .owl-carousel .owl-nav .owl-next{float: right; border-left: 1px solid #e3e7ee;}
.pop_main_rolling .txt_pagination{position: absolute; bottom: 40px; right: 50px;}
.pop_main_rolling .pop_tab_menu{position: relative; z-index: 1; width: 180px; height: 38px; margin: 1px 0 0 38px;}
.pop_main_rolling .pop_tab_menu a{display: none; overflow: hidden; position: absolute; top: 0; left: 0; right: 0; height: 38px; padding-left: 18px; line-height: 40px; color: #484b50; text-overflow: ellipsis; white-space: nowrap; background-color: #fff;}
.pop_main_rolling .pop_tab_menu .on{display: block;}
.pop_main .chk_today_box{height: 31px; padding-left: 14px; line-height: 31px; background-color: #f3f4f8;}
.pop_main .chk_today_box label{font-size: 11px; color: #999;}
.pop_main .btn_close{top: auto; bottom: 0; width: 33px; height: 30px; background-position: 10px -130px;}