@charset "utf-8";

.sub_pharm.sub_top_bnr {background-color:#8ab5e9;}
.sub_todayprice.sub_top_bnr {background-color:#54c9d3;}
.sub_appliance.sub_top_bnr {background-color:#949dff;}
.sub_digital.sub_top_bnr {background-color:#66bef3;}
.sub_giftcard.sub_top_bnr {background-color:#959dff;}
.sub_life.sub_top_bnr {background-color:#5cd1dd;}
.sub_food.sub_top_bnr {background-color:#84d952;}
.sub_baby.sub_top_bnr {background-color:#f8b637;}
.sub_hobby.sub_top_bnr {background-color:#31cfac;}
.sub_fashion.sub_top_bnr {background-color:#f979a3;}
.sub_exhibition.sub_top_bnr {background-color:#b4a28c;}
.sub_knowledge.sub_top_bnr {background-color:#73cfeb;}
.sub_mypage.sub_top_bnr {background-color:#48ceb9;}

.sub_todayprice .tit,
.sub_exhibition .tit {display:none;}
.sub_todayprice .bg_img,
.sub_exhibition .bg_img {float:none;}
.cont_search {float:left;height:29px;margin-left:8px;}
.cont_search + .select {margin-left:8px;}

.plus_box {padding:30px;border:1px solid #e3e5e8;border-top-width:2px;border-top-color:#33363f;background-color:#fff;}
.plus_box .sub_menu {overflow:hidden;margin:-5px 0 20px;}
.plus_box .sub_menu li {float:left;}
.plus_box .sub_menu a {display:block;margin:0 13px;font-size:14px;font-weight:bold;color:#484b50;}
.plus_box .sub_menu li:first-child a {margin-left:0;}
.plus_box .sub_menu a:hover,
.plus_box .sub_menu a:focus {text-decoration:underline;}
.plus_box .sub_menu .on a {color:#ff2400;}

.txt_caution{margin:30px 0;padding-left:10px;font-size:11px;text-indent:-9px}

/* 약국경영 */
.prod_prescript li {width:50%;}
.prod_prescript li:nth-child(3),
.prod_prescript li:nth-child(4) {border-top:0;}
.prod_prescript a {overflow:hidden;padding:40px 30px 35px;}
.prod_prescript .img_prod {width:290px;height:290px;}
.prod_prescript .tit_prod {float:left;width:45%;}
.prod_prescript .price_box {float:right;width:50%;margin-top:0;}
.prod_prescript .price_box .txt_discount {top:8px;}
.prod_prescript .price_box .txt_netprice {margin-bottom:-4px;}
.prod_prescript .price_box .txt_amount .txt_num {font-size:15px;}

/* 쇼핑 */
.exhibition_list a {display:block;border:1px solid rgba(0,0,0,0.1);}
.exhibition_list a + a {margin-top:15px;}
.exhibition_list img {width:100%;}
.exhibition_list .nodata {padding:200px 0;color:#888;text-align:center;}
.exhibition_list .nodata .ico_comm {display:block;width:32px;height:32px;margin:0 auto 8px;background-position:-38px -62px;}

/* 쇼핑_검색 */
.search_result {margin-bottom:35px;padding-bottom:15px;font-size:14px;font-weight:bold;color:#484b50;border-bottom:1px solid #e3e5e8;}
.search_result em {font-weight:bold;color:#ff2400;}
.search_result .search_txt {font-size:16px;}
.tbl_search tr:hover td {background-color:#f9fafb;}
.tbl_search td {border-bottom:1px dotted #e3e5e8;}
.tbl_search .img_prod {padding:8px 0;}
.tbl_search .img_prod a {display:block;width:78px;height:78px;border:1px solid #e3e5e8;}
.tbl_search .img_prod img {width:100%;height:100%;}
.tbl_search .tit_prod {padding-left:30px;text-align:left;line-height:1.3;}
.tbl_search .tit_prod a {display:block;}
.tbl_search .tit_prod a:hover,
.tbl_search .tit_prod a:focus {text-decoration:underline;}
.tbl_search .txt_netprice {text-decoration:line-through;}
.tbl_search .txt_discount {font-size:22px;color:#fd490e;letter-spacing:-1px;}
.tbl_search .txt_amount {font-weight:normal;color:#484b50;letter-spacing:-1px;text-align:right;}
.tbl_search .txt_amount .txt_num {font-size:14px;font-weight:bold;}
.tbl_search .txt_data {font-size:11px;color:#888;}
.tbl_search .ico_txt {margin:0 0 7px;line-height:1.5;}

/* 지식공유 */
/* 지식공유_공통_우측메뉴 */
.my_knowledge {overflow:hidden;}
.my_knowledge li {float:left;width:calc(50% - 1px);text-align:center;border-left:1px solid #e3e5e8;}
.my_knowledge li:first-child {border-left:0;}
.my_knowledge .txt_num {font-weight:bold;color:#fd490e;text-decoration:underline;}
.right_aside .knowledge_point .tit {display:inline-block;vertical-align:top;}
.right_aside .qna_list_box {padding:20px 24px;}
.right_aside .qna_list_box .tit {padding:0 0 10px;}
.right_aside .qna_list_box li {line-height:2;}
.right_aside .qna_list_box a {overflow:hidden;display:inline-block;max-width:100%;white-space:nowrap;text-overflow:ellipsis;vertical-align:bottom;}
.right_aside .qna_list_box a:hover,
.right_aside .qna_list_box a:focus {text-decoration:underline;}
.right_aside .qna_list_box .txt_type {font-size:11px;color:#888;}
.right_aside .qna_list_box .txt_writer {display:block;margin:-3px 0 5px;font-size:11px;color:#888;line-height:1.5;}
.btn_knowledge_info {width:15px;height:15px;background-position:0 -1190px;vertical-align:top;}
#popKnowledgeInfo .tbl_type3 th {font-size:11px;}
/* 지식공유_QnA */
.knowledge_box p + .clear_g {margin-top:18px;padding-top:18px;border-top:1px solid #e3e5e8;}
.knowledge_box .clear_g .search_result {display:inline-block;margin-bottom:0;padding-bottom:0;border-bottom:0;line-height:29px;}
.knowledge_box .clear_g .btn_type1 {float:right;margin-top:-9px;}
.knowledge_box .btn_type1,
.knowledge_box .btn_type2 {min-width:150px;box-sizing:border-box;}
/* 지식공유_QnA_공통 */
.knowledge_box .write_info {overflow:hidden;padding:12px 30px;color:#888;border-bottom:1px solid #e3e5e8;background-color:#f9fafb;}
.knowledge_box .write_info .txt_writer {float:left;}
.knowledge_box .write_info .txt_writer strong {margin-right:5px;color:#484b50;}
.knowledge_box .write_info .txt_date {float:right;font-size:11px;}
.knowledge_box .tag_area {padding:12px 30px 12px 63px;text-indent:-33px;border-top:1px dashed #e3e5e8;}
.knowledge_box .tag_area a {margin-left:4px;font-size:11px;color:#888;}
.knowledge_box .tag_area a:hover,
.knowledge_box .tag_area a:focus {text-decoration:underline;}
.knowledge_box .tag_area .tit {font-size:11px;font-weight:bold;color:#888;}
/* 지식공유_QnA_리스트 */
.question_box {margin-top:10px;border-top:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;}
.question_box .question_area:hover .tit,
.question_box .question_area:focus .tit {text-decoration:underline;}
.question_box .tag_area {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.question_area {display:block;padding:22px 30px;}
.question_area p {overflow:hidden;max-height:70px;padding-left:23px;word-break:break-all;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;text-overflow:ellipsis;}
.question_area .tit {overflow:hidden;display:block;padding-left:23px;padding-bottom:15px;font-size:14px;color:#484b50;text-indent:-23px;text-overflow:ellipsis;white-space:nowrap;}
.question_area .tit .txt_type {font-weight:bold;color:#ff2400;}
.question_area .tit .txt_num {display:inline-block;margin-top:-3px;margin-right:7px;font-size:17px;font-weight:bold;color:#ff2400;vertical-align:bottom;text-indent:0;}
.question_area .detail_area {overflow:hidden;display:block;padding-top:25px;}
.question_area .txt_detail {font-size:11px;color:#888;text-decoration:underline;}
.question_box .sum_answer {float:right;font-weight:bold;}
.question_box .sum_answer em {font-weight:bold;color:#ff2400;}
.answer_box {border-bottom:1px solid #e3e5e8;background-color:#f9fafb;}
.answer_area {display:block;position:relative;padding:22px 50px 22px 53px;}
.answer_area .tit {position:absolute;left:30px;top:18px;font-size:17px;font-weight:bold;color:#ff2400;}
.answer_area .answer_adopt {position:absolute;right:3px;top:0;width:30px;padding:7px 7px 5px;font-weight:bold;color:#fff;text-align:center;background-color:#fd6006;}
.answer_area .answer_adopt:before {content:'';display:block;position:absolute;left:0;bottom:-18px;bottom:-18px;width:0;height:0;border:22px solid #fd6006;border-left-width:0;border-right-color:transparent;border-bottom-color:transparent;border-top-width:10px;border-bottom-width:8px;}
.answer_area .answer_adopt:after {content:'';display:block;position:absolute;right:0;bottom:-18px;bottom:-18px;width:0;height:0;border:22px solid #fd6006;border-right-width:0;border-left-color:transparent;border-bottom-color:transparent;border-top-width:10px;border-bottom-width:8px;}
/* 지식공유_QnA_상세 */
.question_view_box {border-top:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;}
.question_view_box p {overflow:visible;max-height:none;display:block;-webkit-line-clamp:inherit;-webkit-box-orient:inherit;text-overflow:inherit;}
.question_view_box img {max-width:100%;}
.question_view_box + .btn_wrap {padding:20px 0 40px;}
.question_view_box .download_area {display:block;position:relative;margin:0 0 20px 53px;padding-left:54px;font-size:11px;color:#888;}
.question_view_box .download_area em {position:absolute;left:0;top:0;}
.question_view_box .download_area li {padding:0 0 4px;}
.question_view_box .download_area a {display:inline-block;color:#888;}
.question_view_box .download_area .btn_down {width:14px;height:12px;padding:0;margin: 2px 0 0 4px;background-position: -40px -1210px;}
.answer_view_box {margin-top:10px;border-top:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;}
.answer_view_box .answer_area {position:relative;padding:22px 30px 22px 53px;}
.answer_view_box .answer_area .tit {position:absolute;left:30px;top:18px;font-size:17px;font-weight:bold;color:#ff2400;}
.answer_view_box .btn_wrap {margin:0 30px 25px 53px;text-align:left;}
.answer_view_box .btn_wrap .btn {display:inline-block;min-width:135px;padding:8px 10px;text-align:left;border:1px solid #e3e5e8;vertical-align:top;box-sizing:border-box;}
.answer_view_box .btn_wrap em {font-weight:bold;}
.answer_view_box .btn_comment .btn_comm {width:17px;height:18px;margin-top:-1px;margin-right:5px;background-position:-83px -1190px;}
.answer_view_box .btn_help .btn_comm {width:17px;height:14px;margin-top:2px;margin-right:5px;background-position:-83px -1210px;}
.answer_view_box .btn_help.on .btn_comm {background-position-x:-60px;}
.answer_view_box .btn_wrap .btn_adoption {float:right;min-width:92px;padding:8px 13px;margin-right:0;font-weight:bold;border:1px solid #fd6006;border-radius:3px;}
.answer_view_box .btn_adoption .btn_comm {width:14px;height:11px;margin-top:4px;margin-right:4px;background-position:0 -1230px;}
.adoption_box {border:1px solid #fd6006;}
/* 지식공유_QnA_댓글 */
.comment_box {display:none;padding:20px 30px 30px;border-bottom:1px solid #e3e5e8;background-color:#f9fafb;}
.comment_box.open {display:block;}
.comment_box label {vertical-align:middle;}
.comment_box input[type="checkbox"] {margin-right:6px;}
.comment_box .comment_area {margin:10px 0 0;}
.comment_box .comment_area textarea {width:calc(100% - 75px);height:60px;padding:15px 0 0 15px;border:1px solid #bbb;resize:none;}
.comment_box .comment_area .btn_type1 {width:70px;min-width:0;height:60px;}
.comment_box .user_comment {padding:11px 0 0;}
.comment_box .comments {overflow:hidden;position:relative;margin-top:30px;padding:25px 10px 0;border-top:1px solid #e3e5e8;}
.comment_box .comments:first-child {margin:0;border-top:0;}
.comment_box .comment_info {height:28px;padding-bottom:5px;line-height:28px;}
.comment_box .comment_info p {display:inline-block;}
.comment_box .comment_info .date {padding-left:10px;margin-left:6px;color:#888;border-left:1px solid #e3e5e8;}
.comment_box .comment_info .date .time:before {content:'';display:inline-block;width:2px;height:2px;margin:-3px 5px 0;background-color:#888;vertical-align:middle;}
.comment_box .comments .btn_del {position:absolute;right:10px;top:29px;font-size:11px;color: #a5a5a5;text-decoration:underline;}
/* 지식공유_QnA_질문등록 */
.write_box .btn_wrap {margin-top:18px;padding-top:20px;border-top:1px solid #e3e5e8;}
.write_box .question_area {padding:0;}
.write_box .question_area .tit {display:inline-block;vertical-align:top;}
.write_box .question_area .tit em {font-weight:bold;color:#fd490e;}
.write_box textarea {border:1px solid #e3e5e8;}
.write_box .inp_tit {display:block;width:100%;margin-bottom:10px;padding:12px 20px;border:1px solid #e3e5e8;}
.write_upload {position:relative;min-height:20px;margin-bottom:20px;padding:20px;border:1px solid #e3e5e8;border-top:0;}
.write_upload .btn_upload {position:absolute;right:20px;top:0;bottom:0;height:20px;margin:auto;}
.write_upload .btn_upload button {width:20px;height:20px;margin-left:10px;}
.write_upload .btn_upload button:first-child {margin-left:0;}
.write_upload .btn_upload .btn_upload_image {background-position:-20px -1188px;}
.write_upload .btn_upload .btn_upload_file {background-position:-50px -1188px;}
.write_upload .upload_img_list {overflow:hidden;display:inline-block;margin-right:10px;vertical-align:bottom;}
.write_upload .upload_img_list li {position:relative;float:left;width:38px;height:38px;margin-left:5px;border:1px solid #e3e5e8;background-color:#f7f7f7;}
.write_upload .upload_img_list li:first-child {margin:0;}
.write_upload .upload_img_list li img {width:100%;height:100%;}
.write_upload .upload_img_list .btn_img_del {position:absolute;right:-1px;top:-1px;width:10px;height:10px;background-color:#666;background-position:-18px -1208px;}
.write_upload .upload_add {display:inline-block;font-size:11px;color:#888;vertical-align:middle;}
.write_upload .upload_add span {display:inline-block;vertical-align:middle;}
.write_upload .upload_add span:first-child {display:inline-block;margin-right:7px;padding-right:7px;border-right:1px solid #e3e5e8;}
.write_upload .upload_add .btn_file_del {display:inline-block;width:8px;height:8px;margin-top:-2px;margin-left:5px;background-position:0 -1210px;vertical-align:middle;}
.write_setting em {display:inline-block;width:100px;font-weight:bold;color:#484b50;line-height:29px;vertical-align:middle;}
.setting_tag {overflow:hidden;}
.setting_tag em {float:left;width:95px;margin-right:9px;font-weight:bold;}
.setting_tag textarea {width:474px;border:1px solid #e3e5e8;}
.setting_tag .tag-editor {padding:2px 5px 1px;}
/* 지식공유_QnA_답변등록 */
.answer_write {display:none;padding:25px 30px 40px;border-top:1px solid #e3e5e8;}
.answer_write.open {display:block;}
.answer_write.write_box .btn_wrap {margin:18px -30px 0;}
/* 지식공유_QnA_데이터없을때 */
.knowledge_nodata {margin-top:20px;padding:30px;border:1px solid #e3e5e8;text-align:center;}
.knowledge_nodata strong {color:#fd6006;}
.knowledge_nodata .ico_comm {width:72px;height:72px;margin-bottom:20px;background-position:-110px -52px;}
.knowledge_nodata .btn_wrap {margin-top:30px;}
/* 지식공유_QnA_인기글컨텐츠 */
.popular_qna_list {padding:20px 30px;border-top:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;background-color:#f9fafb;}
.popular_qna_list li {overflow:hidden;padding:5px 0;}
.popular_qna_list a {overflow:hidden;display:inline-block;max-width:calc(100% - 75px);white-space:nowrap;text-overflow:ellipsis;vertical-align:middle;}
.popular_qna_list a:hover,
.popular_qna_list a:focus {text-decoration:underline;}
.popular_qna_list .txt_num {float:right;font-size:11px;color:#888;vertical-align:middle;}
/* 지식공유_복약지도,경영노하우 */
.type_group {padding-bottom:17px;}
.type_group a {display:inline-block;color:#888;}
.type_group a:hover,
.type_group a:focus {text-decoration:underline;}
.type_group a:before {content:'';display:inline-block;width:1px;height:9px;margin:4px 10px 0 5px;background-color:#888;vertical-align:top;}
.type_group a:first-child:before {display:none;}
.type_group .txt_num {letter-spacing:-1px;}
.type_group .on {font-weight:bold;color:#fd490e;}
.knowledge_tbl_list .tbl_type1 {border-bottom:0;}
.knowledge_tbl_list td {padding:10px 5px;border-bottom:1px solid #e3e5e8;}
.knowledge_tbl_list .txt_num {letter-spacing:-1px;}
.knowledge_tbl_list .txt_hits {color:#fd490e;}
.knowledge_tbl_list .cell_view td {padding:0;text-align:left;border-bottom:0;background-color:#f9f9f9;}
.knowledge_tbl_list .cell_view .view_box {display:none;border-bottom:1px solid #e3e5e8;}
.knowledge_tbl_list .view_area {padding:30px 35px;word-break:break-word;word-break:break-all;}
.knowledge_tbl_list .view_area p + p {margin-top:5px;}
.knowledge_tbl_list .view_area img {max-width:100%;}
.knowledge_tbl_list .view_info {padding:12px 35px 12px 85px;text-indent:-53px;border-top:1px dashed #e3e5e8;}
.knowledge_tbl_list .view_info a {margin-left:4px;font-size:11px;color:#888;word-break:break-word;word-break:break-all;}
.knowledge_tbl_list .view_info .tit {display:inline-block;width:48px;font-size:11px;font-weight:bold;color:#888;text-indent:0;white-space:nowrap;}
.knowledge_tbl_list .view_file a {color:#fd490e;}
.knowledge_tbl_list .btn_wrap {margin-top:-10px;padding:0 35px 20px;text-align:right;}
.knowledge_tbl_list .btn_wrap .btn_type1,
.knowledge_tbl_list .btn_wrap .btn_type2 {width:65px;min-width:0;padding:4px 10px;}
.knowledge_box .btn_counsel_write {float:right;min-width:0;margin-top:-30px;padding:4px 16px;}

/* 마이페이지 */
.mypage_cont {float:none;width:100%;}
.mypage_cont .tab_type3 li{background-color:#fff}
/* 마이페이지_포인트 이용내역 */
.point_use {clear:both;padding-top:35px;}
.point_use .stit {padding-bottom:15px;border-bottom:2px solid #33363f;}
.mypage_point_box .f_l,
.mypage_point_box .f_r {width:50%;}
.mypage_point_box .btn_wrap {padding-top:10px;text-align:right;}
.mypage_point_box .cont_area {padding:30px;height:203px;border-top:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;}
.mypage_point_box .cont_area p {line-height:2;word-break:keep-all;}
.mypage_point_box .f_r .cont_area {border-left:1px solid #e3e5e8;}
.mypage_point_box .cont_area .txt_bar {color:#e3e5e8;vertical-align:middle;}
.mypage_point_box .point_coupon {padding-top:18px;}
.mypage_point_box .point_coupon .txt_info {padding-top:10px;}
.mypage_point_box .point_coupon .btn_type1 {display:block;width:150px;margin:30px auto 0;}
.mypage_point_box .tbl_type1 td {padding-top:10px;padding-bottom:10px;}
.point_usable .cont_area {padding:0;height:263px;}
.point_usable .txt_num {font-size:16px;font-weight:bold;color:#fd490e;}
.point_usable .sum_point {overflow:hidden;display:block;padding:14px 30px;font-size:14px;color:#484b50;border-top:1px solid #e3e5e8;background-color:#f9fafc;}
.point_usable .sum_point .txt_num {float:right;margin-top:-3px;}
.point_usable .exclusive_point {overflow:hidden;}
.point_usable .exclusive_point .txt_num {display:block;}
.point_usable .exclusive_point .sum_point {padding-top:24px;padding-bottom:15px;border-top:0;border-bottom:1px solid #e3e5e8;}
.point_usable .exclusive_point .sum_point .txt_num {margin-top:-9px;font-size:24px;}
.point_usable .exclusive_point p {float:left;width:50%;padding:45px 0;font-weight:bold;text-align:center;box-sizing:border-box;}
.point_usable .exclusive_point p + p {border-left:1px solid #e3e5e8;}
.point_usable .exclusive_point .txt_point{width:100%}

#popPointInfo .pop_wrap {padding-bottom:30px;}
#popPointInfo .info_box {padding:0 15px;margin:0;background-color:transparent;}
#popPointInfo .info_box:after {content:'';position:absolute;left:5px;top:6px;width:3px;height:3px;background-color:#fd6006;border-radius:50%;}
#popPointInfo .point_shop_box {margin-top:-5px;padding:30px 25px;text-align:center;background-color:#f8fafb;}
#popPointInfo .point_shop_box .txt_info {margin-bottom:0;}/* 2021-11-29 수정 */
#popPointInfo .point_shop_box .txt_info em {font-weight:bold;color:#484b50;}
#popPointInfo .point_shop_box .btn_type1 {margin-top:20px;}
#popPointInfo ol.txt_info {margin-left:1em;}/* 2021-11-29 수정 */
#popPointInfo ol.txt_info li {margin-bottom:0.25em;list-style:decimal;}/* 2021-11-29 수정 */
#popPointCouponInfo .pop_wrap {padding-bottom:30px;text-align:center;}
#popPointCouponInfo .pop_wrap p {font-size:14px;font-weight:bold;color:#484b50;}
#popPointCouponInfo .txt_info {margin:15px 0 20px;padding:30px 25px;text-align:left;background-color:#f8fafb;}
#popPointCouponInfo .txt_info li {margin-top:15px;padding-left:22px;text-indent:-22px;}
#popPointCouponInfo .txt_info li:first-child {margin-top:0;}
#popPointCouponInfo .txt_info em {font-weight:bold;color:#484b50;}
#popPointCouponInfo .txt_info .txt_num {display:inline-block;margin-right:3px;width:15px;height:15px;font-size:11px;font-weight:bold;color:#fff;text-align:center;text-indent:0;background-color:#fd6006;border-radius:50%;}
#popPointCouponInfo .btn_type1 {margin-top:30px;}

/* 의약품정보 */
.kims_cont #content {z-index:1;}
.kims_cont .tit {display:block;margin:50px 5px 30px ;padding-left:35px;font-family:'NanumSquareEB';font-size:24px;color:#fff;line-height:1.3;background:url("../images/shopplus/ico_kims.png") no-repeat 0 50%;}
.kims_cont .tit span {display:block;font-family:'NanumSquareL';font-size:24px;color:#fff;}
.kims_cont .bg_img {position:absolute;left:0;right:0;top:0;z-index:0;height:526px;background:#9fd0f4 url("../images/shopplus/bg_kims.jpg") no-repeat 50% 0;}
.kims_cont .iframe_box {padding:10px 15px;background-color:#fff;}
.kims_cont .iframe_box iframe {display:block;border:0;}

/* 엔터테인먼트 */
#content.cont_movie {width:100%;margin-bottom:-5px;padding-bottom:0;}
.cont_movie .iframe_box iframe {border:0;}
.cont_webtoon .iframe_box iframe {position:static !important;border:0;}
#content.cont_gifticon {width:1000px;margin-bottom:-5px;padding-bottom:0;}
.cont_gifticon .iframe_box iframe {border:0;}

