@charset "utf-8";

/* commom style */
.quick_menu .btn_top2 {margin:0;padding:10px 0;border:1px solid #ebeef3;background-color:#fff;}
.quick_menu .btn_top2 .btn_comm {width:45px;height:11px;margin-bottom:0;background-position:-55px -1160px;}
.quick_menu .btn_top2:hover .btn_comm,
.quick_menu .btn_top2:focus .btn_comm {border-color:#fd7d44;background-position:-55px -1175px;}
.sub_cont_head {overflow:hidden;margin:30px 0 20px}
.tab_menu + .sub_cont_head {margin-top:40px}
.sub_desc {clear:both;padding-top:15px;line-height:20px}
.sub_tit {font-family:NanumSquareEB;font-size:30px;color:#2a303b}
.sub_txt {font-size:12px}
.stit {font-family:'NanumSquareEB';font-size:25px;color:#2a303b}
.sstit {display:block;font-family:NanumSquareEB;font-size:22px;color:#2a303b}
.sstit span {color:#fd490e}
.sub_cont_head .sub_tit {float:left}
.sub_cont_head .sub_txt {float:left;margin-top:20px;margin-left:20px}
.sub_cont_head .stit {float:left}
.sub_cont_head .stit + .sub_txt {margin-top:15px}
.sub_cont_head .sstit {float:left;line-height:29px}
.sub_cont_head .sstit + .sub_txt {margin-top:8px}
.sub_cont_head .txt {float:left;margin-top:5px;letter-spacing:-1px}
.sub_cont_head .list{float:left;margin-bottom:-5px;line-height:22px;letter-spacing:-1px}
.sub_cont_head .list + .f_r{padding-top:10px}
.sub_cont_head .datepicker_view{float:left;margin-right:20px}
.sub_cont_head .cont_search{float:left;height:29px;margin-left:8px}
.tit_none{display:block;height:32px;padding:20px 0 10px;font-size:16px;line-height:34px;color:#484b50;text-align:center}
.tit_none .ico_comm{width:32px;height:32px;margin-right:12px;background-position:-38px -62px}
.txt_none{padding-bottom:20px;font-size:13px;line-height:1.8;text-align:center}
.txt_none strong{font-size:14px}
.txt_bold{font-weight:bold}
.tab_type1{border-bottom:1px solid #e3e5e8;text-align:center}
.tab_type1 li{display:inline-block;float:none}
.tbl_type1 td{padding:18px 5px;border-bottom:1px solid #e3e5e8;word-break:break-all}
.tbl_type1 td[colspan="3"]:last-child{padding-left:0;padding-right:0}
.tbl_type1 .txt_left{padding-left:15px;color:#333}
.tbl_type1 .tag_g{display:inline-block;overflow:hidden;height:15px;padding:0 4px;font-size:11px;line-height:18px;background-color:#f7586e;color:#fff}
.tbl_type1 .tag_type2{background-color:#5cc6d3}
.tbl_type1 .tag_type3{background-color:#acb2b6}
.tbl_type1 .tag_type4{background-color:#f79918}
.tbl_type1 .tag_type5{background-color:#28ce9f}
.tbl_type1 .txt_emph{color:#333}
.tbl_type1 .link_prod{display:inline-block;display:-webkit-box;overflow:hidden;max-height:33px;color:#333;vertical-align:middle;text-overflow:ellipsis;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.tbl_type1 span.link_prod{text-decoration:none}
.tbl_type1 .link_num{font-weight:bold;font-family:Verdana;color:#666;text-decoration:underline}
.tbl_type1 .history_num{padding-left:0;padding-right:0;font-size:11px;font-family:Verdana;color:#333}
.tbl_type1 input[type="text"]{padding:5px 5px 4px;text-align:center}
.tbl_type1 .lab_chk{padding-left:18px}
.tbl_type1 .tit_none{padding:80px 0}
.tbl_history td:last-child{position:relative}
.tbl_history td:last-child:after{position:absolute;top:50%;left:0;width:1px;height:36px;margin-top:-18px;background-color:#e0e5ec;content:''}
.tbl_history td:last-child .txt_num{font-size:16px}
.tbl_history .txt_left{padding-right:15px}
.tbl_hover tr:hover > td{background-color:#f9fafd}
.tbl_hover .data_none:hover td{background:none}
.tbl_hover .data_none td:after{display:none}
.wrap_search{display:inline-block;position:relative;vertical-align:top}
.wrap_search .btn_del{display:none;position:absolute;top:0;right:47px;width:30px;height:29px}
.wrap_search .btn_del .ico_comm{display:block;width:9px;height:9px;margin:0 auto;background-position:0 -40px}
.box_search{margin-bottom:30px;padding:33px 0;border-top:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;background-color:#f7f8fa;text-align:center}
.box_search .inner_search{display:inline-block;overflow:hidden;vertical-align:top}
.box_search .tit_search{float:left;margin:9px 20px 0 0;font-size:14px}
.box_search .select{width:110px;height:37px;margin-right:5px;line-height:37px;background-position:100% -27px;text-align:left}
.box_search .inp_search{float:left;width:345px;height:37px;border-right:0 none}
.box_search .btn_search{float:left;width:70px;height:37px;border:0 none;font-weight:bold;font-size:14px;background-color:#787f8e;color:#fff}
.box_search .btn_del{top:4px;right:73px}
.item_search{overflow:hidden}
.item_search:first-of-type{margin-bottom:10px}
.item_search .tit_search{margin:10px 30px 0 0;font-size:12px;color:#484b50}
.item_search:first-of-type .tit_search{margin-top:6px}
.item_search .datepicker_view{float:left}
.item_search .datepicker_view .inp_txt{width:110px}
.item_search .wrap_btn{float:right}
.item_search .btn_period{float:left;width:40px;height:29px;margin-left:3px;border:1px solid #d5d5d5;font-size:11px;line-height:29px;background-color:#f0f1f1;color:#888;text-align:center}
.util_func{overflow:hidden;padding:30px 0 20px}
.util_func .list_sort{float:left}
.util_func .list_sort li{float:left;margin:8px 12px 0 0}
.util_func .list_sort button{color:#999}
.util_func .list_sort button:after{float:left;margin:6px 5px 0 0;border-bottom:5px solid #888;border-left:4px solid transparent;border-right:4px solid transparent;content:''}
.util_func .list_sort .on button{font-weight:bold;color:#fd490e}
.util_func .list_sort .on button:after{border:0 none;border-top:5px solid #ff6724;border-left:4px solid transparent;border-right:4px solid transparent}
.util_func .select{margin-right:4px}
.prod_data{position:relative;padding-bottom:82px}
.prod_data .th_order{border-bottom:1px solid #c6c9ca}
.prod_data .wrap_btn{margin-top:5px}
.prod_data .wrap_btn a{font-weight:bold;font-size:11px;color:#ff6724}
.bundle_item{display:table;width:100%}
.bundle_item .item{display:table-cell;width:32%;vertical-align:middle}
.bundle_item .item:nth-child(2){width:36%}
.box_lowest{padding:5px 15px 0 0;text-align:right}
.box_lowest .inner_box{display:inline-block;padding:3px 8px;font-size:11px;background-color:#f6f8f9}
.box_lowest .txt_bar{display:inline-block;width:1px;height:10px;margin:-1px 5px 0;background-color:#d8d8d8;vertical-align:middle}
.prod_data .btn_more{position:relative;width:100%;height:30px;border:1px solid #e3e5e8;border-top:0 none;line-height:30px;text-align:center}
.prod_data .btn_more .ico_arr{display:inline-block;margin:-2px 5px 0 5px;border-top:5px solid #888;border-left:4px solid transparent;border-right:4px solid transparent;vertical-align:middle}
.box_result{overflow:hidden;position:absolute;left:50%;bottom:0;z-index:6;width:880px;margin-left:-475px;padding:18px 30px 18px 40px;border-top:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;background-color:#ebf5f8;text-align:center}
.box_result.fixed_on{position:fixed}
.box_result .result_tit{float:left}
.box_result .tit_sum{float:left;color:#0f141a}
.box_result .tit_total{float:left;color:#fd490e}
.box_result .txt_price{display:block;margin-top:4px;font-size:14px}
.box_result .txt_num{font-size:15px}
.box_result .result_tit .ico_comm{float:left;width:31px;height:31px;margin:6px 30px 0}
.box_result .ico_minus{background-position:-350px -90px}
.box_result .ico_equals{background-position:-310px -90px}
.box_result .ico_arr{background-position:-500px -450px}
.box_result .result_btn{float:right}
.box_result .result_btn button, .box_result .result_btn a{min-width:155px;padding-left:25px;padding-right:25px;font-size:14px}
.box_result2{position:static;margin:0 auto;border-top:0 none}
.wrap_select{position:relative;height:29px}
.wrap_select .select{overflow:hidden;width:104px;padding-right:20px;color:#333;text-overflow:ellipsis;white-space:nowrap}
.wrap_select .select strong{display:inline;padding-left:5px;letter-spacing:0}
.wrap_select .layer_select{display:none;overflow:auto;position:absolute;top:28px;right:0;width:280px;height:170px;border:1px solid #c0c0c0;background-color:#fff}
.wrap_select .layer_select .tbl_info thead th{padding:13px 0;border-bottom:1px solid #e0e5ec;font-weight:bold;background-color:#fff;color:#666}
.wrap_select .layer_select .tbl_info td{border-top:0 none}
.wrap_select .layer_select .tbl_info tr:hover td{background-color:#fe7d44;color:#fff}
.wrap_select .layer_select .head_info{overflow:hidden;border-bottom:1px solid #e0e5ec}
.wrap_select .layer_select .tit_info{float:left;width:33.3%;height:37px;line-height:37px;text-align:center}
.wrap_select .layer_select .txt_bar{float:right;width:1px;height:10px;margin-top:13px;background-color:#e0e5ec}
.wrap_select .layer_select .list_info{}
.wrap_select .layer_select .btn_select{display:table;width:100%}
.wrap_select .layer_select .item{display:table-cell;width:33.3%;padding:10px 5px;color:#888}
.wrap_select .layer_select .txt_supply{display:block;padding-left:15px;color:#333;text-align:left}
.wrap_select .layer_select .btn_select:hover .item, .wrap_select .layer_select .btn_select:hover .txt_supply{background-color:#fe7d44;color:#fff}
.wrap_select.on .layer_select{display:block;z-index:7}

/* common image */
.ico_vip{overflow:hidden;display:inline-block;font-size:0;line-height:0;text-indent:100%;background:url(../images/vip/ico_vip.png) no-repeat;vertical-align:top}

/* 신청 상세페이지 */
.visual_vip{height:653px;padding-top:57px;background:#edebe5 url(../images/vip/bg_apply_vip.jpg) no-repeat 50% 0;text-align:center;box-sizing:border-box}
.visual_vip .tit_vip:after{display:block;width:40px;height:2px;margin:24px auto 20px;background-color:#9a6958;content:''}
.visual_vip .tit_vip .ico_vip{display:block;width:224px;height:43px;margin:0 auto;background-position:0 -40px}
.visual_vip .txt_vip .ico_vip{width:393px;height:36px;background-position:0 -90px}
.visual_vip .list_info{width:950px;height:262px;margin:37px auto 0;padding-left:520px;border:1px solid #e8e8e8;line-height:1.7;background:#fff url(../images/vip/bg_apply_vip2.jpg) no-repeat;text-align:left;box-sizing:border-box}
.visual_vip .list_info .tit_info{display:block;margin:30px 0 10px;font-size:20px;font-family:NanumSquareEB;color:#2a303b}
.visual_vip .btn_apply{display:block;width:214px;height:50px;margin:33px auto 15px;font-weight:bold;font-size:14px;line-height:50px;background-color:#996b56;color:#fff}
.cont_apply{padding-top:55px}
.cont_apply .info_benefit{overflow:hidden;height:304px;padding-right:474px;padding-left:55px;background:#f7f7f7 url(../images/vip/bg_apply_vip3.jpg) no-repeat 100% 0}
.cont_apply .info_benefit dt{margin:35px 0 15px;font-size:26px;font-family:NanumSquareEB;color:#ad3d0a;letter-spacing:-0.5px}
.cont_apply .info_benefit dd{margin-bottom:12px;line-height:1.7}
.cont_apply .tit_benefit{display:block;margin-bottom:7px;font-size:20px;font-family:NanumSquareEB;color:#2a303b}
.cont_apply .info_benefit:last-child{padding-left:529px;padding-right:0;background:#f7f7f7 url(../images/vip/bg_apply_vip4.jpg) no-repeat 0 0}

/* 검색 */
.cont_search .sub_cont_head{margin-bottom:0;padding-bottom:20px;border-bottom:2px solid #35353f}
.cont_search .box_search{margin-bottom:0;border-top:0 none}

/* 관심상품 */
.cont_interest .tab_type3{margin-bottom:0}
.cont_interest .tab_type3 a{padding:10px 5px}
.cont_interest .tab_type3 .txt_num{font-weight:normal;font-size:11px;color:#999}
.cont_interest .tab_type3 .on .txt_num{color:#fff}
.cont_interest .tab_type1{margin-top:20px}
.cont_interest .tbl_type1 thead th{padding:8px 0 6px;line-height:16px}

/* 최근주문내역 */
.cont_history .tbl_type1 tbody th{border-right:1px solid #e3e5e8;border-bottom:1px solid #e3e5e8;background-color:#f9fafd}
.cont_history .tbl_type1 tbody th .order_num{display:inline-block;margin-top:3px;font-weight:normal;font-size:11px;text-decoration:underline}

/* 반품 */
.cont_return .sub_cont_head .sstit{margin-top:4px}
.cont_return .sub_txt .ico_caution{width:18px;height:18px;margin-right:7px;background-position:-80px -100px}
.cont_return .tbl_type6 th, .cont_return .tbl_type6 td{padding-left:25px;border-left:0 none;text-align:left}
.cont_return .tbl_type6 th{background-color:#f7f8fa}
.cont_return .tbl_type6 th .txt_info{font-weight:normal;}
.cont_return .wrap_caution{overflow:hidden;margin:25px 0 50px;line-height:1.6}
.cont_return .tit_caution{float:left;width:72px;color:#2a303b}
.cont_return .list_caution{overflow:hidden}
.cont_return .list_caution strong{color:#2a303b}
.cont_return .tab_type3{margin-bottom:45px}
.cont_return .btm_btn{overflow:hidden;position:relative;min-height:45px;margin-top:30px}
.cont_return .btm_btn .btn_type1{min-width:124px;padding:11px 22px 12px;font-size:14px;box-sizing:border-box}
.cont_return .btm_btn .btn_type1:last-child{border-color:#787f8e;background-color:#787f8e}
.cont_return .btm_btn .paging_nav{padding-top:10px}
.cont_return .btm_btn .btn_cancel{position:absolute;top:0;right:0}
.cont_return .apply_btn{float:right}
.cont_return .apply_btn .btn_regist{padding:10px 20px 9px;border:1px solid #ff7f3a;font-size:14px;background-color:#fffddd;color:#fd490e}
.cont_return .tbl_type1 th{padding:10px 0}
.cont_return .tbl_type1 label{float:left}
.cont_return .apply_detail .tbl_type6{margin-bottom:40px}

/* 마이페이지 */
.cont_mypage .sub_cont_head .btn_coupon{float:right;width:170px;height:36px;border:1px solid #c0c0c0;border-radius:2px;font-weight:bold;line-height:38px;text-align:center}
.cont_mypage table{margin-bottom:45px}
.cont_mypage .tbl_order th:last-child{background-color:#e7eef6}
.cont_mypage .tbl_order td:last-child{background-color:#f5f8fd}
.cont_mypage .list_benefit{overflow:hidden;margin-bottom:45px;border-top:2px solid #35353f;border-bottom:1px solid #e3e5e8}
.cont_mypage .list_benefit li{float:left;position:relative;width:33.3%;height:109px;padding:32px 30px;line-height:1.6;box-sizing:border-box}
.cont_mypage .list_benefit li:first-child{border-right:1px solid #e3e5e8;background-color:#f7f8fa}
.cont_mypage .list_benefit li:last-child:after{position:absolute;top:22px;left:0;width:1px;height:66px;background-color:#e3e5e8;content:''}
.cont_mypage .list_benefit .tit_benefit{float:left;font-size:14px;color:#555}
.cont_mypage .list_benefit li:first-child .txt_price{overflow:hidden;text-align:right}
.cont_mypage .list_benefit .info_price{float:left;height:66px}
.cont_mypage .list_benefit .ico_cash{float:right;width:46px;height:43px;background-position:-230px -40px}
.cont_mypage .list_benefit .ico_mileage{float:right;width:48px;height:39px;background-position:-280px -40px}
.cont_mypage .list_benefit .tit_info{display:block}
.cont_mypage .list_benefit .txt_price{color:#2a303b}
.cont_mypage .list_benefit .txt_num{font-size:16px}
.cont_mypage .list_benefit .emph_color{font-size:24px}
.cont_mypage .wrap_tbl_type6{border-top:2px solid #35353f}
.cont_mypage .wrap_tbl_type6 .tbl_type6{border-top:0 none}
.cont_mypage .wrap_tbl_type6 + .txt_caution{margin:-20px 0 45px}
.cont_mypage .tbl_mileage th:last-child{background-color:#e7eef6}
.cont_mypage .tbl_mileage td:last-child{background-color:#f5f8fd}
.cont_mypage .tbl_mileage .ico_minus{margin-left:-110px}
.cont_mypage .tbl_mileage .ico_multiply{position:absolute;top:50%;left:50%;width:31px;height:31px;margin:15px 0 0 80px;background-position:-460px -450px}
.cont_mypage .tbl_mileage .ico_equals{margin-left:270px}

/* 고객만족센터 */
.cont_customer .tab_type3 {margin-bottom:15px;}
.cont_customer .tab_type1 {text-align:center;border-bottom:1px solid #e3e5e8;}
.cont_customer .tab_type1 li {display:inline-block;float:none;padding:0 5px;}
.cont_customer .tbl_type1 td {padding-top:10px;padding-bottom:10px;border-bottom:1px solid #e3e5e8;}
.cont_customer .inquiry_box {margin-bottom:30px;padding-bottom:30px;border-bottom:1px solid #e3e5e8;}
.cont_customer .inquiry_box em {font-weight:bold;}
.cont_customer .inquiry_box p {line-height:1.8;}
.cont_customer .inquiry_box .ico_comm {float:left;width:64px;height:64px;margin-right:20px;border-radius:50%;background-color:#f9fafb;background-position:-35px -280px}
.cont_customer .btn_type1,
.cont_customer .btn_type2 {min-width:150px;box-sizing:border-box;}
.cont_customer .tbl_type1 .txt_state {font-weight:bold;}
.cont_customer .sub_cont_head .datepicker_view{float:left;margin-right:20px}
.tbl_answer{border-bottom:0 none}
.tbl_answer .appra_btn .btn_g{display:inline-block;font-weight:normal;font-size:11px;color:#fd6006}
.tbl_answer .appra_btn .btn_complete{color:#2458ff}
.tbl_answer .cell_view > td{padding:0;border:0 none;text-align:left}
.tbl_answer .info_qa{display:none;padding:35px 35px 15px;border-bottom:1px solid #e3e5e8;line-height:22px;background-color:#f9fafc}
.tbl_answer .on .info_qa{display:block}
.tbl_answer .info_qa .area_question{display:block;position:relative;padding:0 40px}
.tbl_answer .info_qa .txt_qa{position:absolute;left:0;width:40px;color:#ff2400}
.tbl_answer .info_qa .area_answer{position:relative;margin-top:19px;padding:0 40px}
.tbl_answer .info_qa .link_qa{display:inline-block;margin-top:9px;color:#2458ff;text-decoration:underline}
.tbl_answer .info_qa .wrap_btn{margin-top:5px;font-size:0;line-height:0;text-align:right}
.tbl_answer .info_qa .btn_modify{margin-right:6px;background-color:#fd9729}
.tbl_answer .tbl_qa{margin:14px 0 25px;border:1px solid #d8d8d8}
.tbl_answer .tbl_qa th, .cont_customer .tbl_qa td{border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;text-align:center}
.tbl_answer .tbl_qa th{font-weight:bold;background-color:#f7f8fa;color:#666}
.tbl_answer .tbl_qa td{font-weight:normal;background-color:#fff}
.cont_customer .info_box {border-bottom:1px solid #e3e5e8;}
.cont_customer .info_box ul {overflow:hidden;padding-bottom:30px;}
.cont_customer .info_box li {float:left;width:50%;padding:0 15px;box-sizing:border-box;word-break:keep-all;}
.cont_customer .info_box li:before {content:'';float:left;width:4px;height:4px;margin-top:7px;margin-left:-10px;border-radius:50%;background-color:#fd490e;}
.cont_customer .info_box em {font-weight:bold;}
.cont_customer .sms_box {overflow:hidden;margin-top:27px;}
.cont_customer .sms_inner {float:left;}
.cont_customer .sms_inner .sms_tit {display:block;margin:40px 0 10px;font-family:'NanumSquareEB';font-size:17px;color:#2a303b;}
.cont_customer .sms_inner .sms_tit:first-child {margin-top:0;}
.cont_customer .sms_inner:first-child {width:633px;margin-right:40px;}
.cont_customer .choice_charge {overflow-x:hidden;overflow-y:auto;height:50px;padding:30px;background-color:#f9fafb;}
.cont_customer .choice_charge .choice_wrap {float:left;width:49%;margin-top:8px;padding-right:2%;}
.cont_customer .choice_charge .choice_wrap:nth-child(2n) {padding-right:0;}
.cont_customer .choice_charge input {margin-right:5px;vertical-align:middle;}
.cont_customer .choice_charge label {font-size:14px;font-weight:bold;vertical-align:middle;}
.cont_customer .choice_charge .choice_wrap:nth-of-type(1),
.cont_customer .choice_charge .choice_wrap:nth-of-type(2) {margin-top:0;}
.cont_customer .choice_sms {position:relative;}
.cont_customer .choice_sms .owl-carousel {position:static;}
.cont_customer .choice_sms .owl-nav {top:-36px;}
.cont_customer .choice_sms .prod_pagination {position:absolute;top:-31px;right:50px;padding:0 10px;}
.cont_customer .choice_sms .sms_area {float:left;width:202px;margin-left:13px;}
.cont_customer .choice_sms .sms_area:first-child {margin-left:0;}
.cont_customer .choice_sms .sms_area textarea {padding:30px;height:150px;font-size:14px;border-radius:6px;background-color:#fffeec;cursor:pointer;}
.cont_customer .choice_time {overflow:hidden;padding:30px;background-color:#f9fafb;}
.cont_customer .choice_time input {margin-right:5px;vertical-align:middle;}
.cont_customer .choice_time label {vertical-align:middle;}
.cont_customer .choice_time input[type="radio"] + label {display:inline-block;margin-right:20px;padding:4px 0;font-size:14px;font-weight:bold;}
.cont_customer .choice_time .choice_wrap {float:left;padding-right:10px;}
.cont_customer .choice_time .datepicker_view {margin-right:15px;vertical-align:top;}
.cont_customer .sms_write_box {width:263px;padding:0 7px;border-radius:33px;background-color:#b4bdc3;}
.cont_customer .sms_write_box:before {content:'';display:block;width:277px;height:47px;margin:0 -7px;background:url("../images/bg_sms.gif") no-repeat 0 0;}
.cont_customer .sms_write_box:after {content:'';display:block;width:277px;height:57px;margin:0 -7px;background:url("../images/bg_sms.gif") no-repeat 0 100%;}
.cont_customer .sms_write_inner {padding:0 8px;border-left:2px solid #c3cacf;border-right:2px solid #c3cacf;background-color:#b4bdc3;}
.cont_customer .sms_write_box .sms_write {background-color:#fff;}
.cont_customer .sms_write_box .sms_write textarea {height:180px;border:0;}
.cont_customer .sms_write_box .sms_write .txt_byte {display:block;padding:5px 20px 15px;color:#888;text-align:right;}
.cont_customer .sms_write_box .sms_number {padding:15px;background-color:#f9fafb;}
.cont_customer .sms_write_box .sms_number p {overflow:hidden;margin-top:20px;}
.cont_customer .sms_write_box .sms_number p:first-child {margin-top:0;}
.cont_customer .sms_write_box .sms_number label {float:left;font-weight:bold;line-height:29px;}
.cont_customer .sms_write_box .sms_number input[type="text"] {float:right;margin-top:5px;}
.cont_customer .sms_write_box .sms_number label + input[type="text"] {margin-top:0;}
.cont_customer .sms_write_box .btn_wrap {overflow:hidden;margin:0 -1px -1px -1px;padding:0;}
.cont_customer .sms_write_box .btn_type1,
.cont_customer .sms_write_box .btn_type2 {float:left;width:50%;min-width:0;border-radius:0;}
/* 고객만족센터_팝업 */
#popAppra .tit_question{display:block;padding:10px 0;line-height:20px}
#popAppra .tit_question .txt_tit{font-weight:normal}
#popAppra .tbl_type3 th{font-weight:bold}
#popAppra .tbl_type3 td{padding:10px 20px;font-weight:bold}
#popAppra .tbl_type3 .cell_chk{display:none}
#popAppra .tbl_type3 .txt_sub{display:block;font-weight:normal;font-size:11px;color:#666}
#popAppra .tbl_type3 .wrap_inp{font-size:0;line-height:0}
#popAppra .tbl_type3 .lab_g{display:inline-block;padding:1px 20px 0 8px;font-size:12px;line-height:1.5;vertical-align:middle}
#popAppra .tit_cmt{display:block;padding:20px 0 11px;}
#popAppra .tf_cmt{height:150px;margin-bottom:30px}

/* 쿠폰 전환 */
.ev_vip_coupon{overflow:hidden;position:relative;width:950px;height:1553px;margin:0 auto;background:url(../images/vip/img_vip_coupon.jpg) no-repeat;text-align:center}
.ev_vip_coupon .txt_point{display:inline-block;margin:670px auto 0;border-bottom:2px solid #f32525;font-weight:bold;font-size:30px;font-family:Malgun Gothic,"맑은 고딕",sans-serif;line-height:50px;color:#f32525;}
.ev_vip_coupon .txt_point .txt_num{font-size:50px;letter-spacing:-1px}
.ev_vip_coupon button{overflow:hidden;position:absolute;left:353px;bottom:236px;width:246px;height:63px;text-indent:-9999px}
.pop_vip_coupon .pop_wrap{min-width:310px;padding-top:0;padding-bottom:15px}
.pop_vip_coupon .coupon_price{display:inline-block;font-size:14px;color:#ff2400}
.pop_vip_coupon .coupon_amount{margin:30px 0;height:25px;line-height:27px;text-align:center}
.pop_vip_coupon .ico_multiply{width:9px;height:9px;margin:8px 3px 0;background-position:0 -40px}
.pop_vip_coupon .ctl_prod{display:inline-block;position:relative;width:58px;padding-right:13px;vertical-align:top;box-sizing:border-box}
.pop_vip_coupon .ctl_prod .inp_num{display:block;width:46px;height:25px;padding:0;border:1px solid #d8d8d8;font-family:Verdana;text-align:center}
.pop_vip_coupon .ctl_prod button{position:absolute;top:0;right:0;width:13px;height:13px}
.pop_vip_coupon .ctl_prod .btn_minus{top:12px}
.pop_vip_coupon .ctl_prod .ico_comm{display:block;width:13px;height:13px}
.pop_vip_coupon .ctl_prod .ico_minus{background-position:-40px -40px}
.pop_vip_coupon .ctl_prod .ico_plus{background-position:-20px -40px}

/* 레이어 팝업 */
#popPageSetup .tit_setup{display:block;padding:30px 0;font-size:14px;color:#484b50;text-align:center}
#popPageSetup .box_radio{padding-bottom:40px;text-align:center}
#popPageSetup .radio_g:first-child{margin-right:60px}
#popProdView .pop_wrap{position:relative;padding-top:20px;padding-bottom:115px}
#popProdView .tit_popup .txt_tit{font-weight:normal;font-size:11px}
#popProdView .tbl_scroll_wrap{height:235px;border-bottom:1px solid #e3e5e8}
#popProdView .tbl_scroll_wrap > div{border:0 none}
#popProdView .tbl_type1 th:nth-child(1){width:110px}
#popProdView .tbl_type1 th:nth-child(2){width:120px}
#popProdView .tbl_type1 th:nth-child(3){width:270px}
#popProdView .tbl_type1 th:nth-child(4){width:90px}
#popProdView .tbl_type1 th:nth-child(5){width:115px}
#popProdView .tbl_type1 th:nth-child(6){width:70px}
#popProdView .tbl_type1 th:nth-child(7){width:135px;text-indent:0}
#popProdView .tbl_type1 td{padding-top:10px;padding-bottom:10px;border:0 none}
#popProdView .tbl_type1 tr:first-child td{padding-top:24px}
#popProdView .tbl_type1 tr:last-child td{padding-bottom:24px}
#popProdView .box_result{left:0;right:0;margin:0}
#popProdView .tit_sum:first-of-type{margin-right:30px;padding-right:30px;border-right:1px solid #d8d8d8}
#popProdRequest .pop_wrap{padding-top:40px}
#popProdRequest .list_request{padding-bottom:15px}
#popProdRequest .list_request li{padding-bottom:15px}
#popProdRequest .list_request li:nth-child(2) .tit_info{padding-top:4px}
#popProdRequest .list_request .tit_info{float:left;width:105px;color:#484b50}
#popProdRequest .list_request .desc_info{overflow:hidden}
#popProdRequest textarea{height:60px;margin-top:10px;padding:10px}
.pop_order .pop_wrap{padding-top:20px}
.pop_order .tbl_scroll_wrap{height:144px;margin-bottom:30px;border-bottom:1px solid #e3e5e8}
.pop_order .tbl_scroll_wrap > div{border:0 none}
.pop_order .tbl_type1 th:nth-child(1){width:35px}
.pop_order .tbl_type1 th:nth-child(2){width:145px}
.pop_order .tbl_type1 th:nth-child(3){width:60px}
.pop_order .tbl_type1 th:nth-child(4){width:80px}
.pop_order .tbl_type1 th:nth-child(5){width:100px}
.pop_order .tbl_type1 td{padding-top:7px;padding-bottom:7px;border:0 none}
.pop_order .tbl_type1 tr:first-child td{padding-top:15px}
.pop_order .tbl_type1 tr:last-child td{padding-bottom:15px}
.pop_order .tbl_type1 .txt_left{padding-left:7px}
.pop_order .btn_type1{width:165px;box-sizing:border-box}
#popOrderCheck .tbl_type1 th:nth-child(1){width:110px}
#popOrderCheck .tbl_type1 th:nth-child(2){width:110px}
#popOrderCheck .tbl_type1 th:nth-child(3){width:70px}
#popOrderCheck .tbl_type1 th:nth-child(4){width:130px}
#popOrderCheck .tbl_type1 td{padding-top:10px;padding-bottom:11px}
#popOrderCheck .tbl_type1 tr:first-child td{padding-top:25px}
#popOrderCheck .tbl_type1 tr:last-child td{padding-bottom:25px}
#popProdDetail .pop_wrap{padding:0}
#popProdDetail .prod_location{padding:13px 20px 18px}
#popProdDetail .prod_info{overflow:hidden;padding:0 20px 35px}
#popProdDetail .wrap_thumb{float:left;width:245px;height:245px;background-color:#f7f8fa}
#popProdDetail .wrap_thumb img{width:100%;height:100%}
#popProdDetail .list_info{overflow:hidden;padding-left:25px}
#popProdDetail .list_info li{display:table;width:100%;margin-bottom:15px;line-height:18px}
#popProdDetail .list_info li:last-child{margin-bottom:0}
#popProdDetail .list_info .tit_info{display:table-cell;width:80px;font-size:14px;color:#333}
#popProdDetail .list_info .txt_info{display:table-cell;font-size:14px;vertical-align:middle;word-break:break-all}
#popProdDetail .box_detail{overflow:auto;height:208px;padding:25px 25px 0;background-color:#f7f8fa;box-sizing:border-box}
#popProdDetail .box_detail .tit_detail{display:block;margin-bottom:15px;font-size:16px;color:#333}
#popProdDetail .box_detail .desc_detail{padding-bottom:25px}
.pop_return .pop_wrap{max-height:700px;padding-top:40px}
.pop_return .tit_info{display:block;margin-bottom:15px;font-size:14px;color:#2a303b}
.pop_return .sub_desc{padding:0 0 15px}
.pop_return .list_caution{margin-bottom:30px;padding:30px 0 20px 30px;border-top:2px solid #33363f;background-color:#f9fafc}
.pop_return .list_caution li{position:relative;margin-bottom:10px}
.pop_return .list_caution > li:before{float:left;width:4px;height:4px;margin:7px 5px 0 0;border-radius:5px;background-color:#ff5c05;content:''}
.pop_return .list_caution .emph_color{font-weight:bold}
.pop_return .list_depth2{overflow:hidden;margin-top:10px}
.pop_return .list_depth2 li{width:50%;color:#888}
.pop_return .list_depth2 .txt_num{display:inline-block;width:15px;height:15px;margin-right:5px;border-radius:15px;font-size:11px;line-height:15px;background-color:#b6bdc1;color:#fff;text-align:center}
.pop_return .wrap_box{overflow:hidden;position:relative;margin-bottom:30px}
.pop_return .box_step{float:left;width:180px;min-height:145px;padding:0 30px;border-radius:10px;background-color:#ebf5fb;box-sizing:border-box}
.pop_return .box_off{width:407px;margin:0 8px;background-color:#e6f0f5}
.pop_return .tit_step{display:block;padding:15px 0 10px;border-bottom:1px solid #c5dde7;font-size:15px;text-align:center;color:#0f141a}
.pop_return .info_step{overflow:hidden;padding:10px 0 0 8px;line-height:1.7}
.pop_return ul.info_step{padding-left:0}
.pop_return .info_step li{float:left;padding-left:40px}
.pop_return .info_step .txt_step{display:block;font-size:15px;padding-bottom:3px}
.pop_return .wrap_box > .ico_comm{position:absolute;top:66px;left:168px;width:31px;height:31px;background-position:-270px -90px}
.pop_return .wrap_box > .ico_arr2{left:582px}
.pop_return .btn_wrap .btn_type1{width:165px}
.pop_return .box_search{border-top:2px solid #35353f}
.pop_return .tbl_type1{margin-bottom:30px;border:0 none;border-bottom:1px solid #e3e5e8}
.pop_return .tbl_type1 .tit_none{padding:45px 0}
.pop_return .tbl_type1 label{float:left}
.pop_return .paging_nav{padding:0 0 20px}

/* 2021-02-01 추가 */
.pop_main {position:absolute;left:0;top:0;z-index:10;border:1px solid #ff6325;background-color:#fff;}
.pop_main .chk_today_box {height:31px;padding-left:14px;line-height:31px;background-color:#f3f4f8}
.pop_main .chk_today_box label {font-size:11px;color:#999}
.pop_main .btn_close {top:auto;bottom:0;width:33px;height:30px;background-position:10px -130px}
/* .pop_main_rolling .pop_wrap .owl-item {width:100%;}
.pop_main_rolling .pop_tab_menu {position:relative;z-index:1;width:180px;height:38px;margin:1px 0 0 38px}
.pop_main_rolling .pop_tab_menu a{display:none;overflow:hidden;position:absolute;top:0;left:0;right:0;height:38px;padding-left:18px;line-height:40px;color:#484b50;text-overflow:ellipsis;white-space:nowrap;background-color:#fff}
.pop_main_rolling .pop_tab_menu .on{display:block}
.pop_main_rolling .owl-carousel .owl-nav{top:auto;left:0;right:0;bottom:-40px;border-top:1px solid #e3e7ee;border-bottom:1px solid #e3e7ee}
.pop_main_rolling .owl-carousel .owl-nav .owl-prev, .pop_main_rolling .owl-carousel .owl-nav .owl-next{width:37px;height:38px;padding:0;border:0 none}
.pop_main_rolling .owl-carousel .owl-nav .owl-prev{float:left;border-right:1px solid #e3e7ee}
.pop_main_rolling .owl-carousel .owl-nav .owl-next{float:right;border-left:1px solid #e3e7ee}
.pop_main_rolling .owl-carousel .owl-nav .owl-prev:after{width:10px;height:16px;margin:-8px 0 0 -5px;background-position:0 -170px}
.pop_main_rolling .txt_pagination{position:absolute;bottom:40px;right:50px} */
