@charset "utf-8";
@import "../css/fonts.min.css";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input::-ms-clear {display:none}
button {overflow:visible;border:0 none;background-color:transparent;cursor:pointer;vertical-align:top;}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:"맑은 고딕", Malgun Gothic, 'SpoqaHanSans', '돋움', dotum, sans-serif;color:#555;letter-spacing:-0.2px}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
img,iframe {vertical-align:top;}
textarea {resize:vertical;}
input:not([type="image" i]), textarea{box-sizing:inherit}
textarea:focus,input:focus,button:focus{outline:none}

/* global */
#hidocIndex {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0} /* 스킵네비게이션 */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen_hide {font-size:0;line-height:0;visibility:hidden} /* screen_out 사용 불가 시 */
.f_l {float:left}
.f_r {float:right}
.cl_b {clear:both;width:0;height:0;font-size:0;line-height:0}
.show {display:block}
.hide {display:none}
.tbl {border-collapse:collapse;border-spacing: 0} /* 테이블 초기화 */
.clear_g {display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_g:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}

/* common */
.btn_comm {display:block;overflow:hidden;background:url(../images/btn_comm.png) no-repeat 0 0;text-indent:-9999px}
.ico_comm {background:url(../images/ico_comm.gif) no-repeat 0 0;}
.ico_comm2 {background:url(../images/ico_comm2.png) no-repeat 0 0;}
.ico_comm3 {background:url(../images/ico_comm3.gif) no-repeat 0 0;}
.txt_comm {background:url(../images/txt_comm_170912.png) no-repeat 0 0;}
.pro_comm {display:inline-block;overflow:hidden;background:url(../images/pro_comm.png) no-repeat 0 0;text-indent:-9999px}
.inp_comm {border:1px solid #cfcfd3;}
.inp_comm.on {border-color:#4ab0ff;}
.inp_comm.disabled {background-color:#f9f9f9;}
.inp_box{display:inline-block;overflow:hidden;position:relative}
.inp_box .lab_g{position:absolute;top:0;left:0;right:0;bottom:0;padding:7px 10px;box-sizing:border-box;color:#888;cursor:text}

/* layout */
body {-webkit-text-size-adjust:none}
.layout_type1 {background-color:#fafafa;}
.layout_type1 .container_inner {position:relative;width:1054px;margin:0 auto;padding-bottom:30px;}
.layout_type1 .tit_sub {position:absolute;top:-34px;left:0;}
.layout_type1 .contents {float:left;width:795px;}
.layout_type1 .aside {float:right;width:230px;padding:0 10px 15px;border:1px solid #dfdfdf;border:1px solid rgba(0, 0, 0, 0.1);background-color:#fff;}
.layout_type2 {background-color:#eef2f5}
.layout_type2 .container_inner {position:relative;width:1054px;margin:0 auto}
.layout_type3 .header .logo {float:left;margin:41px 11px 0 0;}
.layout_type3 .header .box_search {position:absolute;top:40px;right:0;width:231px;height:34px;border:1px solid #1c9cff;}
.layout_type3 .container_inner {position:relative;width:1054px;margin:0 auto;padding-top:20px;margin-bottom:30px}
.layout_type3 .contents {float:right;width:795px;}
.layout_type3 .aside {float:left;width:256px;}
.layout_type3 .aside .aside_inner {padding:20px 43px 30px;border:1px solid #dfdfdf;border:1px solid rgba(0, 0, 0, 0.1);background-color:#f6fafc;}
.layout_type3 .aside .aside_encyclopedia {display:block;margin-top:5px;border:1px solid #dfdfdf;border:1px solid rgba(0, 0, 0, 0.1);}
.layout_type4 {padding-bottom:20px;background-color:#fff}
.layout_type4 .container_inner {position:relative;width:1054px;margin:0 auto;padding-top:20px}
.layout_main .container_inner {overflow:hidden;width:1054px;margin:0 auto}
.sub_location {display:block;margin-bottom:20px;font-size:12px;color:#333}
.sub_location .pro_comm {width:5px;height:7px;margin:0 10px;background-position:-50px 0}
.container .etc_ad {display:block;clear:both;margin:30px auto;text-align:center}

/* aside */
.aside .user_info {position:relative;}
.aside .user_info .thumb_img {float:left;}
.aside .user_info .frame_thumb {position:absolute;width:60px;height:60px;background:url(../images/frame_thumb_60_60_3.png) no-repeat 0 0;}
.aside .user_info .name {display:inline-block;line-height:20px;font-size:16px;color:#404040;padding:26px 0 0 8px;}
.aside .user_info .list_treatment {margin-top:16px;}
.aside .user_info .list_treatment li {width:100%;overflow:hidden;line-height:18px;}
.aside .user_info .list_treatment .emph {float:left;width:53px;color:#868686;font-size:11px;}
.aside .user_info .list_treatment .desc {float:left;width:115px;color:#404040;}
.aside .user_info .list_treatment .desc span {display:inline-block;}
.aside .user_count .hd_tit {font-size:12px;color:#404040;margin-top:28px;}
.aside .user_count .list_ranking li {line-height:14px;margin-top:11px;}
.aside .user_count .list_ranking .clear_g + .clear_g {margin-top:3px;}
.aside .user_count .list_ranking .txt {float:left;width:65px;font-size:11px;font-weight:bold;}
.aside .user_count .list_ranking .txt_hidoc {color:#00ae93;}
.aside .user_count .list_ranking .txt_hidoc .txt_em {color:#1b9cff;}
.aside .user_count .list_ranking .txt_naver {color:#00b31d;}
.aside .user_count .list_ranking .txt_rank {font-weight:normal;color:#868686;}
.aside .user_count .list_ranking .txt_colon {float:left;width:10px;}
.aside .user_count .list_ranking .count {float:left;width:92px;color:#007bd9;font-size:11px;}
.aside .user_count .list_ranking .emph1 {font-weight:bold;font-size:12px;}
.aside .reply_count {border-top:1px solid #9e9e9e;margin-top:16px;}
.aside .etc_info {border-top:1px solid #9e9e9e;margin-top:26px;padding-top:29px;}
.aside .etc_info .naver_link {line-height:15px;}
.aside .etc_info .naver_link a {color:#404040;font-weight:bold;}
.aside .etc_info .ico_arr {display:inline-block;width:3px;height:6px;overflow:hidden;background-position:0 -50px;}
.aside .etc_info .ico_nhn {float:left;display:inline-block;width:26px;height:26px;overflow:hidden;background-position:0 -20px;margin-right:5px;}
.aside .etc_info .inquiry {margin-top:15px;}
.aside .etc_info .inquiry strong {display:block;font-size:11px;color:#868686;font-weight:normal;}
.aside .etc_info .inquiry .tel {display:block;color:#404040;font:bold 16px/20px Tahoma, sans-serif;margin:3px 0 2px;}
.aside .etc_info .inquiry .time {display:block;color:#404040;font: 11px/20px Tahoma, sans-serif;}
/* aside pro 광고 */
.aside_bnr_pro {width:135px;height:124px;padding-top:30px;text-align:center;}
.aside_bnr_pro .link_bnr {display:block;margin:0 auto;}

/* header */
.header {padding-top:40px;border-bottom:1px solid #e1e1e3;font-family:"맑은 고딕", Malgun Gothic, '돋움';letter-spacing:-0.2px;background-color:#fff}
.header:before {content:'';display:block;border-top:1px solid #e1e1e3;}
.header .inner {position:relative;width:1054px;height:68px;margin:0 auto}
.header .logo {float:left;margin:20px 85px 0 3px}
.header .navigation {float:left;margin-top:20px}
.header .gnb:after {display:block;content:'';clear:both}
.header .gnb > li {position:relative;float:left;margin:0 25px} 
.header .gnb > li > a {display:block;height:49px;font-size:16px;color:#333;font-weight:bold}
.header .gnb > li > a:hover + ul, .header .gnb > li:hover > ul {display:block}
.header .gnb > li > ul {display:none;position:absolute;top:48px;left:-34px;border:1px solid #39579a;padding:5px 34px 20px;background-color:#fff;z-index:100}
.header .gnb > li > ul a {display:block;padding-top:15px;font-size:16px;color:#0443a1;white-space:nowrap}
.header .gnb > li > ul a:hover {font-weight:bold}
.header .gnb > li.active > a {color:#0443a1}
.header .gnb > li:hover > a {text-decoration:underline}
.header .user_info {position:absolute;top:-40px;right:0;padding-right:14px}
.header .user_info a {display:inline-block;padding-top:8px;color:#333}
.header .user_info a:before {display:inline-block;width:1px;height:10px;margin:0 13px;background-color:#f4e7e2;content:''}
.header .user_info a:first-child:before {display:none}
.header .user_info .user_name {margin-left:8px}

/* footer */
.footer {position:relative;padding:0 0 30px 0;color:#333}
.footer .inner {width:1054px;margin:0 auto;}
.footer .inner:after {display:block;content:'';clear:both}
.footer .footer_top {padding:30px 0 50px;background-color:#f4f7f9}
.footer .navi {width:100%}
.footer .list_menu {display:table;overflow:hidden;width:100%}
.footer .list_menu > li {display:table-cell;position:relative;width:25%;padding-left:30px;border-left:1px solid #e4e4e4;vertical-align:top}
.footer .list_menu > li:first-child {padding-left:0;border-left:0}
.footer .list_menu > li > a {display:inline-block;float:left;margin-right:32px;margin-bottom:15px;font-size:16px;font-weight:bold}
.footer .list_menu > li > ul {float:left}
.footer .list_menu > li > ul > li > a {font-size:14px;color:#777;line-height:24px}
.footer .copyright {overflow:hidden;float:left;padding-top:25px;font-family:'돋움';letter-spacing:-0.3px;line-height:1.8}
.footer .tit_logo {float:left;margin:0 20px 0 0}
.footer address {float:left;width:565px;font-size:11px;color:#7f7f7f;line-height:1.7}
.footer address .txt_bar {display:inline-block;margin:0 4px;font-size:10px;color:#cecece;vertical-align:top;}
.footer address .txt_copyright {font-family:arial, sans-serif;}
.footer address .link_mcircle {font-weight:bold;}
.footer .contact_us {float:right;width:180px;padding-top:50px;}
.footer .contact_us strong {display:block}
.footer .family_site {float:right;width:260px;padding-top:22px}
.footer .family_site h2 {font-size:14px;color:#b9b9b9}
.footer .list_site {overflow:hidden;margin-top:15px}
.footer .list_site li {position:relative;float:left;margin:0 20px}
.footer .list_site li:first-child {margin-left:0}
.footer .list_site li:before {display:block;position:absolute;top:6px;left:-20px;width:1px;height:10px;background-color:#cdcdcd;content:''}
.footer .list_site li a {font-size:14px;font-weight:bold;color:#999;vertical-align:top}
.footer .list_site .pro_comm {margin-right:6px;vertical-align:top}
.footer .list_site .ico_hidoc {width:25px;height:19px;margin-top:3px;background-position:-80px 0}
.footer .list_site .ico_doctorville {width:19px;height:18px;margin-top:3px;background-position:-110px 0}
.footer .list_site .ico_clickmedi {width:20px;height:20px;margin-top:1px;background-position:-140px 0}
.footer .list_site .ico_happycare {width:19px;height:18px;margin-top:3px;background-position:-170px 0}

/* 팝업 - 로그인 */
.popup_alert {position:relative;top:50%;width:346px;border:1px solid #bdbdbd;background:#fff;transform:translateY(-50%);margin:0 auto;z-index:9999}
.popup_alert .inner {padding:30px 28px;}
.popup_alert .login_hidoc {padding-bottom:30px;border-bottom:1px solid #dfdfdf;}
.popup_alert .login_hidoc .tit_login {display:block;padding-bottom:20px;font-weight:bold;font-size:14px;color:#1b9cff;text-align:center;}
.popup_alert .login_hidoc .inp_comm {display:block;width:279px;height:30px;margin:0 auto;padding:8px 0 5px 9px;font-size:14px;background-color:#f8f8f9;}
.popup_alert .login_hidoc .inp_id {background-position:10px -223px;font-weight:bold;color:#199ff4;}
.popup_alert .login_hidoc .inp_pw {margin-top:6px;background-position:10px -254px}
.popup_alert .login_hidoc .inp_comm.on {background:#fff;}
.popup_alert .login_hidoc .btn_login {width:290px;height:55px;margin:9px auto 0;background-position:-120px -300px;}
.popup_alert .login_hidoc .login_info {text-align:center;}
.popup_alert .login_hidoc .id_pw_search {padding:17px 0 6px;}
.popup_alert .login_hidoc .link_id_search {font-weight:bold;}
.popup_alert .login_hidoc .txt_bar {color:#999;}
.popup_alert .login_hidoc .link_pw_search {font-weight:bold;}
.popup_alert .login_hidoc .link_join {color:#1b9cff;}
.popup_alert .login_sns {padding-top:34px;}
.popup_alert .login_sns .tit_sns_login {display:block;padding-bottom:4px;font-size:24px;color:#555;text-align:center;}
.popup_alert .login_sns .desc_sns_login {padding-bottom:26px;font-size:11px;text-align:center;}
.popup_alert .login_sns a {width:290px;height:36px;margin:4px auto 0;padding-top:19px;text-indent:116px;font-weight:bold;font-size:14px;color:#fff;text-decoration:none;}
.popup_alert .login_sns .link_facebook {margin-top:0px;background-position:-120px -180px;}
.popup_alert .login_sns .link_twitter {background-position:-120px -120px;}
.popup_alert .login_sns .link_naver {background-position:-120px -60px;}
.popup_alert .login_sns .link_daum {background-position:-120px -240px;color:#000;}
.popup_alert .btn_close {position:absolute;top:17px;right:17px;width:20px;height:20px;background-position:0 -160px;}

/* 팝업 셋팅 */
.pop_modal{display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:9999;width:100%;height:100%;margin:0;padding:0;opacity:0;visibility:hidden}
.pop_modal.open{display:block;visibility:visible;opacity:1;transition-delay:0s}
.pop_modal .overlay {position:fixed;top:0;right:0;bottom:0;left:0;opacity:0.7;background-color:rgb(0, 0, 0);cursor:pointer;z-index:9988}

/* 버튼 type */
.btn_type1 {display:inline-block;padding:17px 40px 13px;border:1px solid #1b9cff;font-weight:bold;font-size:14px;background-color:#fff;color:#1b9cff;box-shadow:inset -3px -3px 0 #f8f8f8;-webkit-box-shadow:inset -3px -3px 0 #f8f8f8;text-decoration:none !important;vertical-align:top;}
.btn_type2 {display:inline-block;padding:13px 21px 12px;border:0 none;font-weight:bold;font-size:14px;line-height:15px;background-color:#0443a1;text-align:center;color:#fff;cursor:pointer;text-decoration:none !important;vertical-align:top;}
.btn_type3 {display:inline-block;padding:13px 21px 12px;border:0 none;font-weight:bold;font-size:14px;line-height:15px;background-color:#a4a4a4;text-align:center;color:#fff;cursor:pointer;text-decoration:none !important;vertical-align:top;}
.btn_type4 {display:inline-block;padding:12px 21px 11px;border:1px solid #ddd;font-weight:bold;font-size:14px;line-height:15px;background-color:#fff;color:#404040;text-decoration:none !important;vertical-align:top;}
.btn_type5 {display:inline-block;padding:12px 21px 11px;border:0;font-weight:bold;font-size:14px;line-height:14px;background-color:#ffb329;color:#fff;text-decoration:none !important;vertical-align:top;}
.btn_type6 {display:inline-block;padding:13px 21px 12px;border:0 none;font-weight:bold;font-size:14px;line-height:15px;background-color:#8c8c8c;text-align:center;color:#fff;cursor:pointer;text-decoration:none !important;vertical-align:top}
.btn_type7 {display:inline-block;padding:13px 21px 12px;border:0 none;font-weight:bold;font-size:14px;line-height:15px;background-color:#1b61c9;text-align:center;color:#fff;cursor:pointer;text-decoration:none !important;vertical-align:top;}
.btn_type8 {display:inline-block;padding:9px 57px 9px;border:0 none;font-weight:bold;font-size:13px;line-height:15px;background-color:#2ba0fa;text-align:center;color:#fff;cursor:pointer;text-decoration:none !important;vertical-align:top;}

span.btn_type4 {color:#aaa;background-color:#f0f0f0;border-color:#d9d9d9;}

/* 폰트 type */
.fc_red {color:#ff0000;}
.fc_green {color:#00c56b;}
.fc_gray {color:#999;}
.fc_blue {color:#0443a1;}
.fc_mint {color:#54ccd4;}
.fc_yellow {color:#ffa509;}
.fw_b {font-weight:bold}
.txt_underline {text-decoration:underline}

/* 공통_뱃지 */
.item_award {float:left;text-align:center}
.item_award .ico_award {display:block;width:41px;height:52px;margin:0 auto 12px;background:url("../images/ico_award.png") no-repeat}
/*뱃지_대형*/
.item_award .ico_25010 {background-position:0 0} /*추천*/
.item_award .ico_25040 {background-position:-45px 0} /*My닥터*/
.item_award .ico_25020 {width:47px;background-position:-90px 0} /*베스트상담의*/
.item_award .ico_25030 {width:43px;background-position:-145px 0} /*베스트의학기자*/
/*뱃지_대형_off*/
.item_award .ico_2501.off {background-position:0 -60px} /*추천*/
.item_award .ico_2504.off {background-position:-45px -60px} /*My닥터*/
.item_award .ico_2502.off {width:47px;background-position:-90px -60px} /*베스트상담의*/
.item_award .ico_2503.off {width:43px;background-position:-145px -60px} /*베스트의학기자*/
/*뱃지_중형*/
.award_m {margin-top:15px;overflow:hidden;}
.award_m .item_award {width:68px}
.award_m .item_award .ico_award {width:22px;height:30px;margin:0 auto 5px}
.award_m .item_award .ico_2501 {width:23px;background-position:0 -120px}
.award_m .item_award .ico_2504 {background-position:-25px -120px}
.award_m .item_award .ico_2502 {width:27px;background-position:-50px -120px}
.award_m .item_award .ico_2503 {width:25px;background-position:-80px -120px}
/*뱃지_중형_off*/
.award_m .item_award .ico_2501.off {width:23px;background-position:-110px -120px}
.award_m .item_award .ico_2504.off {background-position:-135px -120px}
.award_m .item_award .ico_2502.off {width:27px;background-position:-160px -120px}
.award_m .item_award .ico_2503.off {width:25px;background-position:-190px -120px}
/*뱃지_소형*/
.award_s .item_award {width:22px;margin-right:30px;}
.award_s .item_award .ico_award {width:22px;height:26px;margin:0 auto 5px}
.award_s .item_award .ico_2501 {background-position:0 -160px}
.award_s .item_award .ico_2504 {width:20px;background-position:-25px -160px}
.award_s .item_award .ico_2502 {width:23px;background-position:-50px -160px}
.award_s .item_award .ico_2503 {width:21px;background-position:-80px -160px}
/*뱃지_소형_off*/
.award_s .item_award .ico_2501.off {background-position:-110px -160px}
.award_s .item_award .ico_2504.off {width:20px;background-position:-135px -160px}
.award_s .item_award .ico_2502.off {width:23px;background-position:-160px -160px}
.award_s .item_award .ico_2503.off {width:21px;background-position:-190px -160px}

/* 뱃지 공통 */
.badge {display:inline-block;line-height:1;font-weight:bold}
.badge_one,
.badge_new {color:#fff;background:#1b9cff}
.badge_estn {color:#fff;background:#ff6c81}

/* 컨텐츠 박스 - type1 */
.box_type1 {border:1px solid #dfdfdf;border:1px solid rgba(0, 0, 0, 0.1);background:#fff;}
.box_type2 {padding:1px 1px 0;box-shadow:inset 1px 1px 0 #e6e6e6, inset -1px 0 0 #e6e6e6;background:#fff;vertical-align:top;font-size:0;line-height:0;}
.box_type2 object {float:left;}

/* 셀렉트 박스 - type1 */
.select_type1 {display:inline-block;float:left;height:32px;padding:6px 5px;border:1px solid #cdcdd1;text-align:left;background-position:100% -175px;cursor:pointer;color:#979797;}
.select_type1:disabled {color:#bbb;background-color:#f9f9f9;cursor:default}

/* 파일첨부 - type1 */
.inp_file_type1 {overflow:hidden;width:659px;}
.inp_file_type1 .link_file {display:block;position:relative;width:100%;margin-bottom:10px;}
.inp_file_type1 .link_file:hover {text-decoration:none;}
.inp_file_type1 .inner {height:37px;border:1px solid #cdcdd1;}
.inp_file_type1 .inner input[type='file'] {position:absolute;top:1px;left:1px;width:100%;height:37px;opacity:0}
.inp_file_type1 .inner .txt_file_name {display:inline-block;padding:9px 0 0 9px}
.inp_file_type1 .inner .txt_add_file {position:absolute;top:0;right:0;width:94px;height:27px;padding-top:12px;background-color:#a9a9a9;color:#fff;text-align:center;}
.inp_file_type1 ul {overflow:hidden;width:670px;line-height:0;font-size:0;}
.inp_file_type1 ul li {float:left;position:relative;width:205px;height:23px;margin:0 4px 4px 0;padding:6px 0 0 10px;border:1px solid #cdcdd1;background-color:#f5f5f5;font-size:12px;line-height:1.5;}
.inp_file_type1 ul li .txt_file_name {display:block;overflow:hidden;width:180px;text-overflow:ellipsis;white-space:nowrap;}
.inp_file_type1 ul li .btn_delete {position:absolute;top:5px;right:0;width:20px;height:20px;background-position:-30px -160px;}
.inp_file_type1 .inp_file {display:none;}

/* 파일첨부 - type2 */
.inp_file_type2 {overflow:hidden;width:100%;}
.inp_file_type2 .link_file {display:block;position:relative;width:100%;}
.inp_file_type2 .link_file:hover {text-decoration:none;}
.inp_file_type2 .inner {position:relative;padding-right:93px;}
.inp_file_type2 .inner .txt_file_name {display:block;height:24px;padding:6px 0 0 10px;border:1px solid #cdcdd1;}
.inp_file_type2 .inner .txt_add_file {position:absolute;top:0;right:0;padding:11px 14px 9px;background-color:#b3b6ba;font-size:12px;line-height:1;font-weight:normal;text-align:center;}
.inp_file_type2 .inp_file {display:none;}

/* 페이징 - type1 */
.paging_type1 {width:100%;padding-top:15px;text-align:center;}
.paging_type1 .paging_inner {display:inline-block;margin:0 auto;}
.paging_type1 .paging_inner .num_page {float:left;width:33px;height:25px;margin-right:-1px;padding-top:8px;border:1px solid #dfdfdf;background:#fff;font-weight:bold;color:#404040;text-align:center;}
.paging_type1 .paging_inner .num_page:hover {text-decoration:underline;}
.paging_type1 .paging_inner strong {float:left;width:33px;height:25px;margin-right:-1px;padding-top:8px;border:1px solid #dfdfdf;background:#fff;font-weight:bold;color:#1b9cff;text-align:center;}
.paging_type1 .paging_inner .ico_comm {float:left;width:43px;height:25px;padding-top:8px;}
.paging_type1 .paging_inner .btn_prev {margin-right:-1px;padding-left:10px;border:1px solid #dfdfdf;background-color:#fff;background-position:10px -287px;}
.paging_type1 .paging_inner .btn_next {padding-right:10px;border:1px solid #dfdfdf;background-color:#fff;background-position:100% -257px;}

/* 탭 - type1 */
.tab_type1 ul {overflow:hidden;height:50px;background:#fbfbfb url(../images/bg_tab_type1.gif) repeat-x 0 bottom;/*border-top:1px solid #dfdfdf;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;*/}
.tab_type1 ul li {float:left;width:111px;margin-left:-1px;text-align:center;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;}
.tab_type1 ul li.on {position:relative;}
.tab_type1 ul li.on a {height:33px;background-color:#fff;color:#00a7ff;}
.tab_type1 ul li a {display:block;padding-top:16px;height:32px;font-size:14px;line-height:16px;color:#848484;font-weight:bold;}

/* 탭 - type2 */
.tab_type2 ul {width:100%;overflow:hidden;height:39px;background:url(../images/bg_tab_type2.gif) repeat-x 0 bottom;}
.tab_type2 ul li {float:left;width:111px;margin-right:-1px;text-align:center;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf;}
.tab_type2 ul li.on {position:relative;border-color:#5dc7ff;}
.tab_type2 ul li.on a {position:relative;color:#00a7ff;height:25px;background-color:#fff;}
.tab_type2 ul li a {display:block;padding-top:13px;height:24px;font-size:12px;line-height:14px;color:#333;font-weight:bold;background-color:#fbfbfb;}

/* 글보기 - type1 */
.board_view_type1 {border-bottom:1px solid #c9c9c9;border-top:1px solid #999;}
.board_view_type1 .tbl_view {width:100%}
.board_view_type1 .tbl_view thead th {color:#666;height:42px;background-color:#f3f7fa;border-left:1px solid #e4e4e5;}
.board_view_type1 .tbl_view thead th:first-child {border-left:0 none;}
.board_view_type1 .tbl_view tbody td {border-left:1px solid #e4e4e5;border-top:1px solid #e4e4e5;text-align:center;color:#696a6a;padding:6px 0 7px;}
.board_view_type1 .tbl_view tbody td:first-child {border-left:0 none;border-top:1px solid #d7d7d7;}
.board_view_type1 .tbl_view tbody .emph1 {color:#f00;}

/* 글쓰기 - type1 */
.board_write_type1 .tbl_write {width:100%;/*table-layout:fixed;*/}
.board_write_type1 .tbl_write th {padding-top:13px;vertical-align:top;text-align:left;}
.board_write_type1 .tbl_write td {padding:3px 0;}
.board_write_type1 .tbl_write .inp_txt {display:block;width:649px;height:25px;padding:5px 9px;font-size:14px;}
.board_write_type1 .tbl_write .tf_cont {width:649px;height:295px;padding:9px;border:1px solid #cdcdd1;}
.board_write_type1 .btns {padding-top:20px;text-align:center;}

/* 글쓰기 - type2 */
.board_write_type2 {border-top:1px solid #999;}
.board_write_type2 .tbl_write {width:100%;border-bottom:1px solid #c9c9c9;table-layout:fixed;}
.board_write_type2 .tbl_write tr:first-child th,
.board_write_type2 .tbl_write tr:first-child td {border-top:0;}
.board_write_type2 .tbl_write th {height:47px;text-indent:10px;border-top:1px solid #e4e4e5;border-left:1px solid #e4e4e5;border-right:1px solid #e4e4e5;background-color:#f3f7fa;text-align:left;}
.board_write_type2 .tbl_write th:first-child {border-left:0 none;}
.board_write_type2 .tbl_write td {padding:5px 0 5px 10px;border-top:1px solid #e4e4e5;}
.board_write_type2 .btns {padding-top:20px;text-align:center;}

/* 글목록 - type1 */
.board_list_type1 {border-top:1px solid #868686;border-bottom:1px solid #868686;}
.board_list_type1 .tbl_list {width:100%;}
.board_list_type1 thead th {border-bottom:1px solid #868686;color:#868686;font-weight:normal;padding:10px 0 8px;}
.board_list_type1 tbody td {text-align:center;border-top:1px solid #e3e3e3;color:#454545;padding:12px 0 13px;}
.board_list_type1 tbody tr:first-child td {border-top:0;}
.board_list_type1 tbody .subject {text-align:left;padding-left:11px;}
.board_list_type1 tbody .subject a {display:block;overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap;}
.board_list_type1 tbody .date {font-size:11px;font-family:tahoma, sans-serif;}
.board_list_type1 tbody .num {font-size:11px;}
.board_list_type1 tbody .reply {font-family:tahoma, sans-serif;}
.board_list_type1 tbody .emph1 {color:#f00;}
.board_list_type1 tbody td a {color:#454545;font-size:12px;}

/* 글목록 - type2 */
.board_list_type2 {}
.board_list_type2 .tbl_list {width:100%;}
.board_list_type2 th {border-bottom:1px solid #e4e4e5;border-left:1px solid #e4e4e5;color:#666;font-weight:bold;padding:14px 0 15px;border-top:1px solid #868686;background-color:#f3f7fa;}
.board_list_type2 .tit_group {padding:30px 0 10px;background-color:#fff;border:0 none;text-align:left;}
.board_list_type2 td {text-align:center;border-top:1px solid #e4e4e5;border-bottom:1px solid #e4e4e5;border-left:1px solid #e4e4e5;color:#454545;padding:14px 0 15px;word-break:break-all;}
.board_list_type2 .inner {padding:0 10px;}
.board_list_type2 th:first-child,
.board_list_type2 td:first-child {border-left:0 none;}
.board_list_type2 tr:first-child td {border-top:0;}
.board_list_type2 tbody .subject {text-align:left;padding-left:11px;}
.board_list_type2 tbody .subject a {display:block;overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap;}
.board_list_type2 tbody .date {font-size:11px;font-family:tahoma, sans-serif;}
.board_list_type2 tbody .num {font-size:11px;}
.board_list_type2 tbody .reply {font-family:tahoma, sans-serif;}
.board_list_type2 tbody .emph1 {color:#f00;}
.board_list_type2 tbody td a {color:#454545;font-size:12px;}

.pop_modal .btns button + button {margin-left:5px;}
.pop_modal .btn_close {position:absolute;top:17px;right:17px;width:20px;height:20px;background-position:0 -160px;}
/* 팝업 - type1 */
.popup_type1 {position:relative;top:50%;transform:translateY(-50%);min-width:350px;margin:0 auto;border:1px solid #bdbdbd;background:#fff;z-index:9999;}
.popup_type1 .inner {padding:44px 30px;font-size:14px}
.popup_type1 .tit_popup {display:block;padding-bottom:30px;border-bottom:1px solid #e1e1e1;font-size:22px;text-align:center}
.popup_type1 .desc_popup {padding:36px 0;line-height:1.7;text-align:center;}
.popup_type1 .desc_popup span {display:inline-block;text-align:center;}
.popup_type1 .btns {text-align:center;}
.popup_type1 .btns .btn_type2 + .btn_type2 {background-color:#1b61c9}

/* 팝업 - type2 */
.popup_type2 {position:relative;top:50%;transform:translateY(-50%);min-width:350px;margin:0 auto;border:1px solid #bdbdbd;background-color:#fff;text-align:left;z-index:9999;}
.popup_type2 .inner {padding:18px;}
.popup_type2 dt {font-weight:bold;}

/* 팝업 - type3 */
.popup_type3 {position:relative;top:50%;transform:translateY(-50%);margin:0 auto;border:1px solid #bdbdbd;background:#fff;z-index:9999}
.popup_type3 .inner {padding:24px 29px 30px;}
.popup_type3 .tit_popup {display:block;padding-bottom:13px;border-bottom:1px solid #49b0ff;font-size:24px;}
.popup_type3 .btns {text-align:center;}
.popup_type3 .btn_close {top:30px;right:27px;}

/* 팝업 - type4 (이벤트성 팝업) */
.popup_type4 {position:absolute;top:212px;left:50%;margin-left:-527px;background:#fff;z-index:9999}
.popup_type4 .pop_close {padding:5px 15px;color:#fff;text-align:right;background-color:#000}
.popup_type4 .pop_close input[type="checkbox"] {margin-right:5px;cursor:pointer}
.popup_type4 .pop_close .btn_close {margin-left:5px;color:#fff}

/* 로딩이미지 */
#loadingImage {position:fixed;top:0;left:0;z-index:10000;width:100%;height:100%;background-color:#fff}
#loadingImage .img_loading {position:fixed;top:50%;left:50%;z-index:9999;width:400px;height:300px;margin:-150px 0 0 -200px}

/* 탑버튼 */
#btn_top {position:fixed;bottom:50px;right:33px;width:50px;height:50px;font-size:0;line-height:0;text-indent:-9999px;background:url(../images/btn_top.gif)no-repeat;z-index:100}
#link_hidoc {position:fixed;bottom:104px;right:33px;width:50px;height:50px;font-size:0;line-height:0;text-indent:-9999px;background:url(../images/btn_hidoc.gif)no-repeat;z-index:100}

/* 로그인 */
.logo_login{padding:123px 0 33px;text-align:center}
.logo_login a{display:inline-block;overflow:hidden;width:251px;height:38px;background:url(../images/logo_login.png) no-repeat;text-indent:-9999px;vertical-align:top}
.hidoc_login{position:relative;width:440px;margin:0 auto}
.hidoc_login .inp_box{display:block;margin-bottom:10px}
.hidoc_login .inp_g{width:100%;margin-bottom:10px;box-sizing:border-box;border:1px solid #e9e9f1}
.hidoc_login .inp_g::placeholder {color:#b0b4bc}
.hidoc_login .inp_g:-ms-input-placeholder {color:#b0b4bc}
.hidoc_login .inp_g::-ms-input-placeholder {color:#b0b4bc}
.hidoc_login .inp_g{height:60px;padding:0 18px;font-weight:bold;font-size:16px;font-family:"맑은 고딕", Malgun Gothic;line-height:50px;}
.hidoc_login .btn_login{display:block;width:100%;height:60px;font-weight:bold;font-size:18px;font-family:"맑은 고딕", Malgun Gothic;background-color:#01b1ff;color:#fff;}
.hidoc_login .login_info{overflow:hidden;padding:20px 4px 36px;border-bottom:1px solid #e9e9f1;font-family:"맑은 고딕", Malgun Gothic;color:#666;text-align:right}
.hidoc_login .save_chk {position:absolute;top:220px;left:0;font-family:"맑은 고딕", Malgun Gothic;font-size:14px;color:#666;letter-spacing:-0.2px}
.hidoc_login .save_chk input[type="checkbox"]{vertical-align: -1px;}
.hidoc_login .login_info a{font-size:14px;color:#666;}
.hidoc_login .login_info .txt_bar{display:inline-block;width:1px;height:11px;margin:6px 8px 0;background-color:#d4d4d4;vertical-align:top}
.hidoc_login .login_sns{padding:37px 0;text-align:center; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #e9e9f1;}
.hidoc_login .login_sns .sns_title{text-align: left; font-size: 16px;}
.hidoc_login .login_sns a{display:inline-block;width:60px;height:60px;margin:0 16px;background-position-y:-30px;vertical-align:top}
.hidoc_login .login_sns a:last-of-type{margin-right: 0;}
.hidoc_login .login_sns .link_kakao{background-position-x:-70px}
.hidoc_login .login_sns .link_facebook{background-position-x:-140px}
.hidoc_login .union_login{padding: 34px 0;}
.hidoc_login .union_login .btn_login{background: linear-gradient(135deg, #00c56b 0%, #17a3e4 60%, #1b9cff 100%);}
.hidoc_login .union_login .login_info{text-align: center; border-bottom: none;}
.hidoc_login .union_login .login_info .link_join{color: #1b9cff;}
.popup_login_alert {width:420px}
.popup_login_alert .inner {text-align:center}
.popup_login_alert .inner p {padding:50px 0;font-size:16px;color:#404040}
/* 2020-05-20 :: add */.notice .tit_count{display:block;padding:10px 0px;font-size:1.2em}