
#vet_footer{
    background-color: $c_white;
    border-top: 1px solid #8C8E91;
    .footer_inner{
        position: relative;
      @include cont_with();
    }
    .footer_top{
        padding: 18px 0;
        border-bottom: 1px solid #E1E1E1;
        .notice_area{
            position: relative;
            .tit_notice{
                display: inline-block;
                vertical-align: top;
                margin-right: 18px;
                font-size: 14px;
            }
            .notice_slide{
                display: inline-block;
                width: 345px;
                height: 16px;
                overflow: hidden;
                vertical-align: top;
                a {
                    display: block;
                    font-size: 14px;
                    @include ellipsis();
                }
            }
            .notice_btn{
                display: inline-block;
                position: relative;
                margin-top: 5px;
                margin-left: 30px;
                vertical-align: top;
                .btn_next,.btn_prev{
                    display: inline-block;
                    width:14px;
                    height: 10px;
                    top:0;
                    margin-top: 0;
                    box-sizing: border-box;
                    cursor: pointer;
                    // opacity: 1;
                    @include bg_ico(-189px,-30px);
                }
                .btn_next{
                    background-position-x: -210px;
                }
            }
        }
        .footer_t_txt{
            @include pos_right();
            color: #939393;
            font-size: 12px;
        }
    }
    .footer_info{
        padding:40px 0;
        .list_footer{
            margin-top: 14px;
            margin-bottom: 10px;
            li{
                position: relative;
                float: left;
                padding:0 6px;
                a{
                    font-size: 14px;
                    color: #5D5D5D;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 25%;
                    left: 0;
                    width: 1px;
                    height: 10px;                                       
                    background-color: #D8D8E4;
                }
                &:first-child{
                    padding-left:0;
                }
                &:first-child::before{
                    display: none;
                }
            }
            &::after{
                @include clear();
            }
        }
        .vet_address{
            margin-bottom: 20px;
            font-size: 13px;
            color: #939393;
            span{
                margin-right: 16px;
            }
        }
        .copyright{
            font-size: 12px;
            color: #939393;
        }
        .wrap_family{
            @include pos_right();        
            .btn_family{
                display: block;
                position: relative;
                width: 228px;
                height: 33px;
                padding:6px 12px;
                color: $c_black;
                font-size: 14px;
                font-weight: 500;
                background-color: #F2F2F2;
                box-sizing: border-box;
                .ico_open{
                    position: absolute;
                    top: 10px;
                    right: 12px;
                    width:12px;
                    height: 12px; 
                    @include bg_ico(-200px, -4px);
                    @include txtHidden2();
                }
            }
            .list_family{
                display: none;
                position: absolute;
                left: 0;
                top: -176px;
                z-index: 300;
                width: 224px;
                border:1px solid #e2e2e2;
                background-color: $c_white;
                li{
                    padding: 5px 10px;
                    a{
                        font-size: 14px;
                    }
                }
            }
            &.active .list_family{
                display: block;
            }
        }
    }    
}