@charset "utf-8";
body,th,td,input,select,textarea,button{font-family:'돋움', dotum, sans-serif}
.customer {background-color:#f3f4f8}
.blind{display:none}
input{outline-width:0;outline:none}
input[type=submit],input[type=reset],input[type=button]{filter:chroma(color=#000000)}
.txt_blue{color:#14a4fb}
.txt_red{color:#ff2624}
.txt_gray{color:#4a4a4a}
.mt5{margin-top:5px !important}	.mt10{margin-top:10px !important}	.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}	.mt25{margin-top:25px !important}	.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}	.mt40{margin-top:40px !important}	.mt45{margin-top:45px !important}
/* select box title */
select.select{position:absolute;left:-100000px;height:auto}
.selectbox_title {height:27px;line-height:27px;background:url(../images/ico_comm.gif) 100% -1057px no-repeat;border:1px solid #b4b4b4;color:#737373}
.selectbox_title strong {padding-left:9px;font-weight:normal}
/* select box option 2016-01-11 추가 */
.selectbox_scroll {width:100%}
.selectbox_scroll a {display:block;line-height:28px;color:#737373}
div.selectbox_option{overflow:hidden;padding-left:9px;border:1px solid #b4b4b4;background:#fff}
/*input*/
input.text1{height:25px;line-height:25px;padding:0 8px;border:1px solid #c0c0c0;color:#737373}
input.text2{padding:0 0 0 10px;height:29px;line-height:29px;border:1px solid #c0c0c0;color:#737373}
textarea.text2{padding:10px 0 0 10px;line-height:20px;border:1px solid #c0c0c0;color:#737373}
input.text3{padding:0 0 0 10px;height:27px;line-height:27px;border:1px solid #c0c0c0;color:#737373}
img.ui-datepicker-trigger{margin-left:4px;margin-top:5px;display:inline-block;cursor:pointer;vertical-align:top}
/*input file*/
.input_file_type1{position:relative}
.input_file_type1 .add_file li {overflow:hidden;width:100%}
.input_file_type1 .txt_file_name{display:block;float:left}
.input_file_type1 .link_file{display:block;width:71px;height:31px}
.input_file_type1 .inp_file {display:none}
.input_file_type1 .txt_add_file{width:71px;height:31px;background-position:-30px -180px}
.input_file_type1 .add_file{overflow:hidden;margin-top:10px}
.input_file_type1 .btn_delete {display:block;float:left;width:12px;height:11px;margin:3px 0 0 5px;background-position:-170px -180px}
/*button*/
input.button{min-width:56px;height:25px;line-height:27px;.line-height:23px;border:1px solid #a4a4a4;font-weight:bold;color:#4a4a4a;background:#fff;border-radius:2px;cursor:pointer}
a.btn_set{display:inline-block;height:23px;line-height:25px;min-width:40px;text-align:center;border:1px solid #b9b9b9;font-size:11px;font-weight:bold;color:#999;border-radius:2px;vertical-align:middle}
a.btn_set.on{color:#4a4a4a}
a.bt_list1{display:inline-block;padding:0 8px;height:21px;line-height:23px;border:1px solid #a5a5a5;color:#4b4b4b;background:#fff;border-radius:1px;text-decoration:none}
a.bt_list2{display:inline-block;padding:0 8px;height:25px;line-height:27px;border:1px solid #a5a5a5;background:#fff;font-weight:bold;font-size:11px;color:#7c7c7c;text-decoration:none}
.centerbt_box{text-align:center}
.centerbt_box .btn_white{display:inline-block;padding:0 17px;.padding:0 9px;height:31px;line-height:33px;.line-height:30px;border:1px solid #a5a5a5;color:#4a4a4a;font-weight:bold;background:#fff;text-decoration:none;vertical-align:top;overflow:hidden;cursor:pointer}
.centerbt_box a.btn_white{padding:0 17px;height:29px;line-height:33px}
.centerbt_box .btn_blue{display:inline-block;padding:0 17px;.padding:0 9px;height:31px;line-height:35px;.line-height:33px;border:0;color:#fff;font-weight:bold;background:#17a5fb;text-decoration:none;vertical-align:top;cursor:pointer;overflow:hidden}
.btn_num1{display:inline-block;padding:0 10px;.padding:0;height:29px;line-height:31px;.line-height:29px;font-size:11px;border:0;color:#fff;font-weight:bold;background:#797979;vertical-align:middle;cursor:pointer;overflow:hidden}
.btn_num2{display:inline-block;padding:0 10px;.padding:0;height:29px;line-height:31px;.line-height:29px;font-size:11px;border:0;color:#fff;font-weight:bold;background:#17a5fb;vertical-align:middle;cursor:pointer;overflow:hidden}
/* 레이아웃 */
#wrap{width:100%}
.customer #container{margin:10px auto 30px;padding-bottom:0}
#container:after{content:"";display:block;height:0;font-size:0;line-height:0;overflow:hidden;clear:both}
#container .left_wrap{float:left;width:160px;padding:18px 20px;margin-right:5px;border:1px solid #e2e2e2;background:#fff}
#container .content_wrap{float:left;padding:30px 40px 100px;width:690px;min-height:450px;border:1px solid #e2e2e2;background:#fff}
/* 메인 검색바  */
.faq_search{height:100px;background:#19a1f9;border-top:2px solid #14afff}
.faq_search .inner_search{overflow:hidden;width:980px;height:68px;padding-top:32px;margin:0 auto}
.wrap_search{overflow:hidden;float:left;height:34px;border:3px solid #31b9ff;background:#fff}
.wrap_search .box_select{float:left;height:34px;background:#fff}
.opt_search{display:block;width:87px;height:22px;margin:6px 0;font-size:11px;text-indent:6px;line-height:34px;border:0 none;color:#4a4a4a;outline:transparent}
.wrap_search .tf_keyword{float:left;width:299px;height:22px;margin:6px 0;padding:0 10px;border:0 none;border-left:1px solid #d1d1d1}
.btn_search{float:left;width:65px;height:34px;border-left:2px solid #31b9ff;font-weight:bold;color:#1096e7;letter-spacing:-1px}
.txt_search{float:right;line-height:40px; font-weight:bold;font-size:16px;color:#fff;letter-spacing:-1px}
/* 메인 서비스바로가기 링크 */

/*  프로필, 동료추천 삭제 2017-11-08 */
.link_area1{width:952px;margin:70px auto 80px}
.list_service{overflow:hidden;width:950px;height:124px;background-position:0 -250px}
.list_service li{float:left;margin-left:15px}
.list_service li:first-child{margin-left:0}
.list_service li .tab_comm{width:178px;height:124px;background-position:0 -800px}
.list_service .link_service01:hover{background-position:0 -400px}
.list_service .link_service02:hover{background-position:-193px -400px}
.list_service .link_service03:hover{background-position:-386px -400px}
.list_service .link_service06:hover{background-position:-579px -400px}
.list_service .link_service07:hover{background-position:-772px -400px}

.customer .recent_list{margin-top:94px;width:100%;overflow:hidden}
.recent_list > section{position:relative;float:left;width:50%}
.recent_list > section h3{ /*width:455px*/text-overflow:ellipsis;white-space:nowrap;overflow:hidden;height:39px;font-size:16px;color:#494949}
.recent_list > section.board_01 h3{max-width:385px}
.recent_list > section.board_02 h3{padding-left:20px;max-width:365px}
.recent_list > section h3 strong{color:#18a2fb}
.recent_list > section .more{position:absolute;top:4px;right:0;font-size:11px;color:#404040;text-decoration:none}
.recent_list > section ul{float:right;width:455px;padding:16px 0 11px 2px;border-top:2px solid #ccc;border-bottom:2px solid #f4f4f4}
.recent_list > section li{height:30px;line-height:30px;overflow:hidden}
.recent_list > section .bul_list li{padding:0 0 0 14px;background:url(../images/ico_comm.gif) 0 -999px no-repeat}
.recent_list > section li  *{display:inline-block;vertical-align:middle}
.recent_list > section li strong{float:left;margin-right:10px;font-size:15px;color:#17a1fa}
.recent_list > section li a{float:left;width:420px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.recent_list section:first-child ul{float:left}
.recent_list section:first-child .more{right:18px}
.link_area2{margin:80px 0 50px}
.link_area2 ul{overflow:hidden;width:100%;}
.link_area2 li{overflow:hidden;float:left;width:33.3%}
.link_area2 li .ico_comm3{float:left;display:block;width:54px;height:54px}
.link_area2 .wrap_info{float:left;padding-left:10px}
.link_area2 li .ico_qna{background-position:0 -550px}
.link_area2 li .ico_with{background-position:-60px -550px}
.link_area2 li .ico_cs{background-position:0 -610px}
.link_area2 li strong{display:block;color:#4a4a4a;font-size:14px}
.link_area2 li p{margin:7px 0 8px;color:#7a7a7a}
.link_area2 li a{font-weight:bold;color:#14afff;font-size:11px}
.wrap_info .txt_tel{font-weight:bold;color:#14afff}
.wrap_info .txt_tel:before{content:"";display:inline-block;width:1px;height:10px;margin:4px 8px 0;background:#c5c5c5;vertical-align:top}
.wrap_info dl{overflow:hidden;margin:7px 0  8px;color:#7a7a7a}
.wrap_info dt{float:left;width:50px;font-weight:bold}
.wrap_info .txt_b{font-weight:bold;color:#7a7a7a}
/* 서브 */
.left_wrap nav{margin-bottom:12px}
.left_wrap nav a{color:#4c4c4c;text-decoration:none}
.left_wrap nav a:hover{text-decoration:underline}
.left_wrap nav b{display:block;font-size:14px;padding-top:14px;border-top:1px solid #efefef}
.left_wrap nav b a{color:#494949}
.left_wrap nav b a:hover{ text-decoration:none}
.left_wrap nav li{margin-top:14px;text-indent:10px}
.left_wrap nav li > a:before{content:"";display:inline-block;width:10px;height:7px;background:url(../images/ico_comm.gif) 0 -560px no-repeat;vertical-align:middle}
.left_wrap nav li:first-child{margin-top:0}
.left_wrap nav li:first-child b{padding-top:0;border-top:0 none}
.left_wrap nav li li{margin:0;font-size:12px;line-height:24px}
.left_wrap nav li li.current a{color:#17a4fc;font-weight:bold}
.left_wrap nav li li.current a:before{background-position:0 -640px}
.left_wrap .help dl{padding:22px 10px 0 2px;border-top:1px solid #efefef;font-size:11px}
.left_wrap .help dt{padding-bottom:9px}
.left_wrap .help dt b{display:block;margin-bottom:8px;font:bold 14px 돋움;color:#1a9ffe;letter-spacing:0}
.left_wrap .help dt a{text-decoration:none;cursor:default}
.left_wrap .help dd{line-height:16px;color:#a2a2a2;letter-spacing:-1px}
/*  탭 */
.customer .tab_view{height:48px;margin:30px 0 40px;border-bottom:1px solid #b4b4b4}
.tab_view li{float:left}
.tab_view .link_tab{display:block;width:134px;height:20px;padding:14px 0;font-weight:bold;font-size:14px;background-color:#fff;text-align:center;color:#393a3d}
.tab_view .on .link_tab{border:1px solid #b4b4b4;border-bottom:0 none;color:#19a1f9}
/*  검색창 */ /* 2017-06-05 추가 */
.wrap_top{overflow:hidden;height:40px}

.wrap_top h3{float:left}
.wrap_top .section_search{float:right;width:265px;height:36px;margin-top:4px}
.customer .wrap_top .box_search{overflow:hidden;width:260px;height:34px;border:1px solid #dadada;background:#fff;border-radius:100px}
.customer .wrap_top .box_search .tf_keyword{float:left;width:156px;height:22px;margin:6px 0;padding:0 10px 0 17px;border:0 none;border-right:1px solid #dadada;line-height:18px;font-size:12px;outline:transparent}
.customer .wrap_top .box_search .btn_search{float:left;width:74px;height:34px;font-weight:bold;border-left:0 none;color:#707070;background-color:transparent}

.content_wrap h3{font-weight:bold;font-size:25px;color:#15afff;letter-spacing:-1px}
.content_wrap .txt_total .emph_g{font-weight:bold}
.content_wrap .txt_total .txt_s{font-size:11px}
.content_wrap table.type01{width:100%;border-top:3px solid #757575;border-bottom:1px solid #757575;border-collapse:separate}
.content_wrap table.type01 th{height:36px;border-bottom:1px solid #757575;font-size:11px;color:#717171;white-space:nowrap}
.content_wrap table.type01 td{min-height:50px;height:50px;border-top:1px dotted #c6c6c7;text-align:center;font-size:11px;color:#4a4a4a}
.content_wrap table.type01 tr:first-child td{border-top:0 none}
.content_wrap table.type01 td.cate{padding-left:10px;text-align:left}
.content_wrap table.type01 td.tit{padding-left:10px;text-align:left;font-size:12px}
.content_wrap table.type01 td.tit a{color:#4a4a4a}
.content_wrap table.type01 td.num{color:#a1a1a1}
.content_wrap table.type01 .answer{display:none}
.content_wrap table.type01 .answer td{padding:26px 30px 15px 55px;text-align:left;font-size:12px;line-height:20px;background:#f9f9f9;border-top:1px dotted #c6c6c7}
.content_wrap table.type01 .answer .qt{padding-bottom:10px;width:100%;overflow:hidden}
.content_wrap table.type01 .answer .as{margin-top:10px;padding:20px 0 10px;width:100%;border-top:1px dotted #ccc;overflow:hidden}
.content_wrap table.type01 .answer b{float:left;width:50px;font:bold 16px Verdana;color:#18a5fd}
.content_wrap table.type01 .answer .as b{color:#ff2624}
.content_wrap table.type01 .answer .bt_list1{float:right}
.content_wrap table.type01 .answer .text{overflow:hidden}
.content_wrap table.type01 .ico_notice{display:inline-block;padding:0 6px;height:21px;line-height:23px;background:#7082fe;color:#fff;overflow:hidden;vertical-align:middle}
.content_wrap table.type01 .nodata{padding:200px 0;font-size:12px}
.content_wrap table.type01 .nodata strong{color:#18a2fa}
.content_wrap table.type02{width:100%;border-top:3px solid #757575;border-bottom:1px solid #757575}
.content_wrap table.type02 th{padding:17px 10px 0 2px;width:105px;font-size:11px;color:#717171;text-align:left;vertical-align:top;white-space:nowrap}
.content_wrap table.type02 td{padding:15px 0 0;line-height:18px}
.content_wrap table.type02 .file td{padding:15px 0}
.content_wrap table.type02 .alert th{padding:22px 0 0 2px; border-top:1px solid #efefef}
.content_wrap table.type02 .alert td{padding:15px 0;border-top:1px solid #efefef}
.content_wrap table.type02 .chk_agree{color:#4a4a4a}
.content_wrap table.type02 .chk_agree input{margin-right:10px}
.content_wrap table.type02 .chk_agree b{margin:0 10px 0 36px;color:#494949}
.content_wrap .txt_write1{color:#757575;font-size:11px}
.content_wrap .search_box{position:relative;padding:14px 0 0 20px;height:40px;border:1px solid #e2e2e2}
.content_wrap .search_box *{display:inline-block;vertical-align:middle}
.content_wrap .search_box legend{display:none}
.content_wrap .search_box strong{margin-right:34px;color:#6a727f}
.content_wrap .search_box label{margin:0 4px}
.content_wrap .search_box label.first{margin:0 8px}
.content_wrap .search_box a{text-decoration:none}
.content_wrap .search_box .button{margin-left:14px}
.content_wrap .listbt_box{width:100%;overflow:hidden}
.content_wrap .listbt_box a{display:inline-block;padding:0 8px;height:27px;line-height:30px;border:1px solid #a5a5a5;color:#585858;font-weight:bold;text-decoration:none;overflow:hidden;vertical-align:top}
.content_wrap .listbt_box .bt_left{float:left}
.content_wrap .listbt_box .bt_right{float:right}
.content_wrap .list_search{padding-left:110px;height:29px;overflow:hidden}
.content_wrap .list_search .selectbox_title{float:left;margin-left:4px}
.content_wrap .list_search .txt_search{float:left;margin-right:4px;padding-left:8px;height:27px;width:130px;line-height:27px;border:1px solid #c0c0c0;border-left:0;color:#737373; font-size:12px; font-weight:normal}
.content_wrap .list_search .btn_search{float:left;display:inline-block;padding:0 12px;height:29px;line-height:29px;border:1px solid #a5a5a5;font-weight:bold;color:#575757;background:#fff;cursor:pointer}
.content_wrap .list_search .txt_search{float:left;margin-right:4px;padding-left:8px;height:27px;width:130px;line-height:27px;border:1px solid #c0c0c0;border-left:0;color:#737373; font-size:12px; font-weight:normal}
.content_wrap .list_search .btn_search{float:left;display:inline-block;padding:0 12px;height:29px;line-height:29px;border:1px solid #a5a5a5;font-weight:bold;color:#575757;background:#fff;cursor:pointer}
.content_wrap .view_box{width:100%;border-top:3px solid #757575}
.content_wrap .view_box .line1{padding:19px 0 16px;border-bottom:1px solid #d3d3d3;width:100%;overflow:hidden}
.content_wrap .view_box .line2{padding:19px 25px 76px 65px;border-bottom:1px solid #757575;color:#4a4a4a;line-height:18px;overflow:hidden}
.content_wrap .view_box .line2 img{max-width:578px}
.content_wrap .view_box .line3{padding:10px 0 8px;border-bottom:1px solid #e2e2e2;width:100%;overflow:hidden}
.content_wrap .view_box .left{float:left}
.content_wrap .view_box .right{float:right}
.content_wrap .view_box .tit{padding-left:3px;width:62px;font-size:11px}
.content_wrap .view_box .titTxt{width:600px;font-weight:bold}
.content_wrap .view_box .line1 .right{padding-right:35px}
.content_wrap .view_box .line3 .tit{width:70px}
.content_wrap .view_box .line3 .titTxt{width:365px;font-weight:normal}
.content_wrap .view_box .line3 .right{width:230px;font-size:11px}
.content_wrap .view_box .line3 .right span{display:inline-block;float:left;padding-left:15px;width:100px;text-align:center;vertical-align:top;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
/*layer_pop*/
.modal_popup{display:none;position:absolute;left:50%;top:0;z-index:10}
.modal_popup .inner{position:relative;padding:30px 30px 40px;width:470px;background:#fff}
.modal_popup .inner .tit{font-size:16px;color:#292929}
.modal_popup .inner .txt{color:#565656}
.modal_popup .inner .txt .txt1{font-size:14px;line-height:21px}
.modal_popup .inner .txt .txt1 span{font-size:11px;color:#fe9100}
.modal_popup .inner .txt .text3{padding:0;font-weight:bold;color:#555;text-align:center}
.modal_popup .inner .error{text-align:left;font-size:11px;margin-top:13px;color:#ff1b1b}
.modal_popup .inner .pw_search{margin-top:13px;text-align:left}
.modal_popup .inner .pw_search a{display:inline-block;padding-right:9px;background:url(../images/ico_comm2.gif) no-repeat 100% -497px;text-decoration:underline;color:#555}
.modal_popup .inner .btn_close{display:block;position:absolute;right:30px;top:30px;width:15px;height:15px;background-position:-170px -205px} /* 2016-02-24 수정 */
#dimm{position:fixed;top:0;right:0;bottom:0;left:0;opacity:0.7;z-index:9;cursor:pointer;background-color:rgb(0, 0, 0);display:none}
