@charset "utf-8";
html ,body{height:100%}
#wrap{height:100%;}
#container {width: 980px;}
#footer {display:none;}
img.ui-datepicker-trigger{margin-left:4px; margin-top:5px; display:inline-block; cursor:pointer;}
.ico_enter {display:inline-block;background:url(../images/ico_enter.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top}

.enter {position:relative;width:100%;min-height:100%;background-color:#f6f6f7;}
.enter .visual {width:100%;height:240px;background:#4f4f63 url(../images/bg_enter_img.jpg) no-repeat top right;}
.enter .contents {position:relative;width:980px;margin:0 auto;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.enter .enter_top {overflow:hidden;height:177px;margin-top:-177px;}
.enter .enter_top h2 {float:left;font-size:36px;line-height:42px;color:#fff;letter-spacing:-2px;}
.enter .enter_top h2 span {display:inline-block;width:206px;height:42px;margin:0 5px;background-color:#ff7800;text-align:center;}
.enter .my_point {float:right}
.enter .my_point dt {font-size:18px;color:#fff;}
.enter .my_point dd {position:relative;display:block;min-width:10px;font-family:Tahoma, 'Helvetica', 'Arial';font-size:46px;line-height:60px;font-weight:bold;}
.enter .my_point dd:after {content:'';position:absolute;bottom:0;left:0;width:100%;height:2px;background-color:#ff7800}
.enter .my_point dd a {color:#ff7800;}
.enter .sort_list {overflow:hidden;clear:both;margin-top:30px;}
.enter .sort_list a {float:left;width:234px;height:195px;margin:0 12px 20px 0;border:1px solid #ededed;border-top:2px solid #6352f2;;background-color:#fff;text-align:center;box-shadow:2px 2px 5px #bac5ce;}
.enter .sort_list a:nth-child(4n) {margin-right:0;}
.enter .sort_list a strong {display:block;font-size:22px;text-align:center;}
.enter .sort_list a p {color:#9795af;font-size:11px;font-family:'Verdana', 'Helvetica', 'Arial';}
.enter .sort_list a .ico_enter{width:166px;height:56px;margin:35px auto 30px;}
.enter .sort_list a.btn_movie .ico_enter {background-position:0 -200px;}
.enter .sort_list a.btn_webtoon .ico_enter {background-position:-180px -200px;}
.enter .sort_list a.btn_pointshop .ico_enter {background-position:0 -280px;}
.enter .sort_list a.btn_hotel .ico_enter {background-position:-180px -280px;}
.enter .sort_list a.btn_package .ico_enter {background-position:0 -360px;}
.enter .sort_list a.btn_heavensfood .ico_enter {background-position:-180px -360px;}
.enter .sort_list a.btn_sericeo .ico_enter {background-position:0 -542px;}
.enter .sort_list a.btn_ticket .ico_enter {background-position:-180px -542px;}
/* movie */
.movie {overflow:auto;}
.movie #container {position:relative;width:100%;height:calc(100% - 118px);margin:0 auto;padding-bottom:0;background:#fff}
.movie #container iframe {position:static !important;border:0;}
/* webtoon */
.webtoon{overflow:hidden;/* background:#f0f1f3; url(../images/bg_webtoon_v2.jpg) repeat-x 50% 119px */}
.webtoon #container {overflow:auto;width:100%;height:calc(100% - 118px);margin:0;padding:0;background:#eee}
.webtoon #container .content {position:relative;width:980px;margin:0 auto;}
.webtoon #container iframe {position:static !important;}
.webtoon .btn_webtoon_banner {position:fixed;left:50%;top:195px;margin-left:410px;}
.webtoon .w_intro {width:978px;margin:0 auto;height:488px;margin-top:30px;border:1px solid #ddddde;background-color:#fff;}
.webtoon .inner_box {height:470px;margin:7px;border:1px solid #ddddde}
.inner_box .ico_webtoon {display:block;margin:60px auto 4px;width:200px;height:55px;background-position:-160px 0;}
.w_intro .w_txt{margin-bottom: 10px; text-align: center;}
.w_intro .w_txt span{text-decoration: underline;}
.w_intro .sort_list {text-align:center;}
.w_intro .sort_list a {display:inline-block;width:248px;height:227px;margin:0 15px;border:1px solid #ededed;border-top:2px solid #6352f2;;background-color:#fff;text-align:center;box-shadow:2px 2px 5px #bac5ce;vertical-align:top}
.w_intro .sort_list strong {display:block;margin:70px 0 30px;font-size:28px;text-align:center;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.w_intro .sort_list span {display:inline-block;width:112px;padding:5px 0;border:1px solid #6352f2;color:#6352f2;font-size:15px;border-radius:20px;}
.w_intro .sort_list .ico_grade19 {width:30px;height:30px;margin-right:5px;background-position:0 -120px;}
/*
.webtoon .webtoon_intro {width:100%;margin-top:22px;padding:155px 0 170px;border:1px solid #ededed;border-top:2px solid #6352f2;background-color:#fff;text-align:center;}
.webtoon .webtoon_intro strong {display:inline-block;margin:20px 0;font-size:25px;font-weight:normal;text-align:left;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.webtoon .webtoon_intro .ico_grade19b {width:110px;height:110px;margin-right:30px;background-position:0 0;} */
/* point */
.point #container{ }
.point {overflow:hidden;}
.point .content {position:relative;overflow:hidden;width:100%;height:calc(100% - 160px);background:#fff;margin:0;padding:0;}
.point .wrap_notice{border-bottom:1px solid #d9d9d9;}
.point .wrap_notice .inner_notice{height:21px;padding:10px 0;position:relative;width:980px;margin:0 auto}
.point .wrap_notice .txt_notice{width:790px;}
.point .wrap_notice .txt_category{position:relative;display:inline-block;height:18px;padding:0 1px 0 5px;margin-right:12px;background-color:#6ac679;color:#fff;font-size:11px;vertical-align:middle;line-height:19px;}
.point .wrap_notice .txt_category .ico_arr{position:absolute;top:1px;right:-8px;width:8px;height:16px;background-position:0 -1670px}
.point .wrap_notice .txt_desc{display:inline-block;padding-top:1px;color:#777;}
.point .wrap_notice .ico_notice{width:14px;height:14px;background-position:0 -1300px;vertical-align:middle}
.point .wrap_notice .txt_point{width:160px;line-height:21px;text-align:right;font-size:11px;}
.point .wrap_notice .txt_point dt{display:inline;color:#777;}
.point .wrap_notice .txt_point dd{display:inline;}
.point .wrap_notice .txt_point .btn_point{display:inline;color:#ec7e08;}
.point .wrap_notice .txt_point .ico_arr{width:3px;height:5px;margin-left:5px;background-position:0 -1695px;vertical-align:middle}
.point .layer_notice{display:none;position:absolute;left:385px;top:38px;z-index:1;width:228px;padding:10px 14px;border:1px solid #d3d8dd;background-color:#fff;box-shadow:1px 1px 4px #e6e6e6;font-size:11px;line-height:18px;color:#777;}
.point .layer_notice .ico_top_arr{position:absolute;top:-8px;left:16px;width:10px;height:9px;background-position:0 -1710px;}

/* 하늘맛 */
.frame_wrap {overflow:hidden;}
.frame_wrap #container {position:relative;width:100%;height:calc(100% - 118px);margin:0 auto;padding-bottom:0;background:#fff}
.frame_wrap #container iframe {position:static !important;border:0;}

/* 퀵메뉴 */
.quick_menu {position:fixed;top:241px;left:50%;width:120px;height:250px;margin-left:550px;padding:24px 14px;border:1px solid #ebebeb;background:#fff;text-align:center;}
.webtoon .quick_menu {top:165px;margin-left:490px;}
.quick_menu .name {display:block;font-size:16px;text-align:left;}
.quick_menu .my_point {margin:12px 0 25px;text-align:left;}
.quick_menu .my_point .txt {font-size:11px;color:#696969}
.quick_menu .my_point .point {font-size:18px;color:#f75801;font-family:Tahoma, 'Helvetica', 'Arial';}
.quick_menu .my_point .point strong {border-bottom:3px solid #f75801;font-size:22px;}
.quick_menu .btn_q {padding:5px 0;border:1px solid #ebebeb;}
.quick_menu .btn_q + .btn_q {margin-top:4px;}
.quick_menu .tel {display:block;margin-top:12px;font-size:18px;font-family:Tahoma, 'Helvetica', 'Arial';}
.quick_menu .tel .ico_comm3 {display:inline-block;width:19px;height:19px;margin:4px 5px 0 0;background-position:-285px -1405px;}
.quick_menu .time {margin-top:5px;color:#696969;font-size:11px;letter-spacing:-0.5px}