@charset "utf-8";
/* layout */
.forum #container {width:100%;margin:0;padding:0;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.forum .contents {position:relative;width:980px;margin:0 auto;padding-bottom:70px}/* 우측  */
.forum #rightAside {float:right;position:relative;width:240px;padding-left:29px;margin:40px 0 0 -1px;border-left:1px solid #e5e5e5}
/* 포럼 공통 */
.forum .ico_file {display:inline-block;width:12px;height:12px;background-position:-230px -355px;vertical-align:middle;}
.forum .ico_new02 {width:11px;height:11px;background-position:0 -1470px;vertical-align:middle;}
.forum .ico_panel {display:inline-block;width:13px;height:14px;margin-top:4px;margin-right:5px;background:url(../images/ico_comm2_v2.gif) no-repeat 0 -1910px;}
.forum .btn_wrap {overflow:hidden;padding-top:30px;text-align:center;}
.forum .btn {display:inline-block;width:180px;margin:0 4px;line-height:50px;font-size:16px;text-align:center;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.forum .btn_white {border:1px solid #bfbfbf;background-color:#fff;color:#4a4a4a}
.forum .btn_blue {border-color:#0ebcee;background-color:#0ebcee;color:#fff;}
.forum .scopes {color:#848484;font-size:13px;}
.forum .scopes span {display:inline-block;vertical-align:top}
.forum .scopes span + span:before {display:inline-block;content:'';width:1px;height:12px;margin:0 5px;background-color:#dadada;vertical-align:middle;}
.forum .scopes .num {display:inline-block;font-family:'Tahoma', 'Helvetica', 'Arial';font-size:13px;color:#2496e5;vertical-align:top;}
.forum .scopes .num .ico_comm2 {display:inline-block;width:16px;height:16px;margin:3px 4px 0 5px;background-position:0 -2140px }
.forum .nodata {width:100%;padding:150px 0;text-align:center;font-size:18px;color:#484848;clear:both}
/* tab_txt */
.tab_area {position:relative;}
.tab_area:after {display:block;position:absolute;top:59px;width:100%;height:1px;background-color:#e0e0e0;content:''}
.tab_txt {padding-top:20px;}
.tab_txt {width:980px;margin:0 auto;}
.tab_txt li {height:40px;margin:0 42px 0 0;padding:0;border:0;}
.tab_txt li .link_txt {padding-bottom:9px;font-size:18px;font-weight:bold;color:#848484;letter-spacing:-0.5px;}
.tab_txt li.on .link_txt {border-bottom:3px solid #04b1ff;color:#04b1ff;}
/* sub_tab */
.sub_tab {height:41px;}
.sub_tab li {height:41px;margin:0 25px 0 0;}
.sub_tab li .link_txt {padding-bottom:5px;font-size:22px;font-weight:bold;color:#989898;letter-spacing:-1px;}
.sub_tab li.on .link_txt {color:#202020;}
/* 디자인 셀렉트박스 */
.select_type1 {position:relative;display:inline-block;width:200px;margin-right:10px;background-color:#fff;z-index:10;vertical-align: top;}
.select_type1 .sel_value{display:block;height:14px;padding:10px;border:1px solid #cdcdd1;background-position:100% -1800px;text-align:left;color:#555555;text-indent:0;font-size:14px;line-height:14px;cursor:pointer;}
.select_type1 .outline{border-color:#4ab0ff}
.select_type1 ul{overflow-y:auto;position:absolute;left:-9999px;width:100%;max-height:300px;background-color:#fff;border-top:1px solid #cdcdd1;border-bottom:1px solid #cdcdd1}
.select_type1 li{position:relative;height:28px;border-left:1px solid #cdcdd1;border-right:1px solid #cdcdd1;text-indent:10px;text-align:left;vertical-align:top}
.select_type1 .inp_radio{position:absolute;left:0;width:100%;height:28px;line-height:28px;}
.select_type1 label{position:absolute;left:0;top:0;width:100%;height:28px;background-color:#fff;line-height:28px;font-size:14px;color:#555555;cursor:pointer;padding:0 !important;}
.select_type1 .hover label{background-color:#e0e0e0}
.select_type1.open ul{display:block;top:30px;left:0;z-index:1}
/* 가입 */
#container.admission {padding-top:50px;background-color:#e3f1fb}
.box_admission {padding:56px 0 60px;border-top:4px solid #00adf9;background-color:#fff;text-align:center;}
.box_admission .tit {display:inline-block;margin-bottom:20px;font-size:38px;font-weight:normal;}
.box_admission .ico_aestc_logo {width:86px;height:89px;margin:0 auto 20px;background-position:-200px -3121px}
.box_admission .info {font-size:15px;color:#848484;}
.box_admission .txt {font-size:20px;color:#202020;}
.box_admission .txt span{color:#049eff;}
.box_admission .theme {width:350px;margin:20px auto 25px;}
.box_admission .theme span {display:inline-block;margin:4px 3px;padding:0 15px;background-color:#93c0e0;color:#fff;font-size:14px;line-height:26px;border-radius:13px;}
.box_admission .ico_free {display:inline-block;margin:2px 0 2px 8px;padding:0 11px;background-color:#ff4149;color:#fff;font-size:11px;line-height:20px;border-radius:10px;font-family:Verdana,'SpoqaHanSans', 'dotum', '돋움'}
.box_admission .btn_wrap .btn {width:300px;padding:5px 0;}
/* 메인 */
.forum_top {width:100%;padding:18px 0;background-color:#dffdff}
.forum_top .contents {overflow:hidden;padding:0;}
.forum_top .ico_aestc_logo_s {float:left;width:54px;height:54px;margin:2px 20px 0 0;background-position:-220px -3036px}
.forum_top .ico_aestc_logo_s + div {float:left;}
.forum_top .forum_tit {font-size:22px}
.forum_top .forum_info {margin-top:6px;font-size:14px;color:#666666;}
.forum_top .forum_info .btn_txt {display:inline-block;line-height:12px;margin-left:10px;padding-left:10px;border-left:1px solid #c3c5c7;color:#666666;text-decoration:underline;vertical-align: middle}
.forum_top .forum_info .btn_txt.btn_nickname {color:#0498ff;}
.forum_top .search_area {position: relative;float:right;margin:9px 0}
.forum_top .search_area .inp_txt {width:250px;height:40px;padding:0 50px 0 10px;border:1px solid #d3d3d3;}
.forum_top .search_area .btn_search {position:absolute;right:1px;top:1px;width:50px;height:40px;}
.forum_top .search_area .btn_comm {width:18px;height:18px;margin:0 auto;background-position:-147px -304px}
.forum_board .video_cont {width:100%;height:340px;padding:0;background-color:#d4e7eb;border: 0;}
.forum_board .video_cont .contents {padding:30px 0 0}
.forum_board .video_cont .tit_cont {margin-bottom:17px;}
.forum_board .video_cont .btn_more {top:25px;}
.forum_board .video_cont .cont_list {border-bottom:0}
.forum_board .video_cont .cont_list li {width:204px;height:220px;padding:0 15px 15px;}
.forum_board .video_cont .cont_list figure {margin:0 -15px;}
/* 삭제 스타일 */
.forum_notice {position:relative;float:right;width:398px;height:20px;padding:19px 90px 19px 20px;border:1px solid #e8e8e8;background-color:#fff;}
.forum_notice .ico_notice {display:inline-block;padding:0 3px;margin:3px 10px 0 0;background-color:#77d0f5;font-size:11px;color:#ffffff;vertical-align:top;}
.forum_notice .slide_cont {overflow:hidden;width:100%;color:#484848;font-size:14px;text-overflow:ellipsis;white-space:nowrap;}
.forum_notice .counter {position:absolute;right:60px;top:21px;color:#848484;font-family:Verdana}
.forum_notice .counter em {color:#333333}
.forum_notice .bx-controls-direction {overflow:hidden;position:absolute;right:20px;top:21px;height:16px;}
.forum_notice .bx-controls-direction a {display:block;float:left;text-indent:-9999px;background:url(../images/btn_comm_v2.gif) no-repeat 0 0}
.forum_notice .bx-controls-direction .bx-prev {width:16px;height:16px;background-position:0 0}
.forum_notice .bx-controls-direction .bx-next {width:15px;height:16px;background-position:-16px 0}
/*카테고리 선택*/
.filter_box {margin-top:17px;border:1px solid #e5e5e5;background-color:#f6f7f9;}
.category_area {padding:9px 29px;border-bottom:1px solid #e5e5e5;}
.category_area:after {content:"";display:block;clear:both;*zoom:1}
.category_area .btn_reset {display:block;float:right;width:102px;height:28px;margin:4px 0;background-color:#fff;border:1px solid #dadbdd;text-align:center;line-height:28px;font-size:13px;color:#666666;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.category_area .btn_reset .btn_comm {display:inline-block;width:14px;height:14px;margin:8px 7px 0 0;background-position:-235px -390px;vertical-align:top}
/*패널 선택*/
.filter_box .panel_info {position:relative;clear:both;padding:25px 58px;}
.filter_box .panel_info .tit_cont {margin:0 0 15px -30px;font-size:15px;}
.filter_box .panel_slide {overflow:hidden;}
.filter_box .panel_slide li {position:relative;float:left;width:172px;height:72px;}
.filter_box .panel_slide .panel_cont {overflow:hidden;width:162px;height:72px;margin-right:10px;cursor:pointer;}
.filter_box .panel_cont .panel_img {float:left;display:block;width:72px;height:72px;margin-right:12px;background-color:#c7e7f6;}
.filter_box .panel_cont .panel_img img {max-width:72px;height:100%;margin:0 auto;}
.filter_box .panel_cont.on .panel_img:after {display:block;position:absolute;top:0;left:0;content:'';width:72px;height:72px;border:4px solid #04b1ff;box-sizing:border-box}
.filter_box .panel_cont .name {overflow:hidden;display:inline-block;width:75px;height:20px;margin:5px 0 0 0;color:#484848;font-size:13px;font-weight:normal;text-align:left;word-break: keep-all;text-overflow:ellipsis;}
.filter_box .panel_cont .txt {display:-webkit-box;overflow:hidden;width:75px;height:38px;margin:0;color:#848484;word-break:keep-all;word-wrap:break-word;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.filter_box .panel_info .bx-controls-direction a {display:block;position:absolute;top:80px;width:15px;height:26px;text-indent:-9999px;background:url(../images/btn_comm_v2.gif) no-repeat 0 0}
.filter_box .panel_info .bx-controls-direction .bx-prev {left:30px;background-position:0 -390px}
.filter_box .panel_info .bx-controls-direction .bx-next {right:30px;background-position:-30px -390px}
/* 상단 검색 */
.list_top {margin-top:30px;}
.list_top:after {content:"";display:block;clear:both;*zoom:1}
.list_top .search_area {position: relative;float:right}
.list_top .search_area .inp_txt {width:250px;height:40px;padding:0 50px 0 10px;border:1px solid #d3d3d3;}
.list_top .search_area .btn_search {position:absolute;right:1px;top:1px;width:50px;height:40px;}
.list_top .search_area .btn_comm {width:18px;height:18px;margin:0 auto;background-position:-147px -304px}
.list_top .tab_area .tab_txt {}
.list_top .tab_txt {float:left;max-width:650px;padding:0;}
.list_top .tab_txt li {height:20px;margin:10px 0;padding:0 10px;border:0}
.list_top .tab_txt li:last-child {position:relative}
.list_top .tab_txt li:last-child:before {display:block;position:absolute;left:-1px;top:2px;width:2px;height:14px;content:'';background-color:#a8a8a8}
.list_top .tab_txt .link_txt {font-size:18px;color:#202020;font-weight:bold;line-height:1;}
.list_top .tab_txt li.on .link_txt {color:#04b1ff;border-bottom:0 none;}

/* 검색결과 리스트 */
.list_top .result_tit {float:left;}
.list_top .result_tit .tit {font-size:18px;font-weight:bold;}
.list_top .result_tit .link_txt {display:block;float:left;border-bottom:2px solid #a8a8a8;font-size:18px;}
/* 삭제 스타일 */
/* 리스트 테이블 */
.list_section_wrap {clear:both;margin:15px 0 20px}
.list_section_wrap .total {display:inline-block;margin-top:15px;font-weight:normal;font-size:18px;}
.list_section_wrap .total em {margin-left:5px;color:#ff2e2e;font-family:'Tahoma', 'Helvetica', 'Arial';}
.list_section_wrap .btn_blue {float:right;width:180px;margin:0 0 0 10px;line-height:44px;font-size:15px;}
.list_section_wrap .select_type1 {margin:1px 0}
.list_section_wrap .select_type1 .sel_value {height:20px;line-height:20px;background-position:100% -1796px}
.list_section_wrap .select_type1.open ul{top:41px}
.tbl_type {margin-top:20px;}
.tbl_type table {width:100%;border-top:2px solid #242424;border-bottom: 1px solid #a0a0a0;table-layout: fixed}
.tbl_type tr {border-top:1px solid #dadada}
.tbl_type th {padding:10px 0;}
.tbl_type td.nodata {padding:100px 0;font-size:18px;color:#484848}
.tbl_type td {padding:15px 0;color:#848484;text-align:center;font-size:14px;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.tbl_type .num {font-family:'Tahoma', 'Helvetica', 'Arial';}
.tbl_type .name {overflow:hidden;max-width:120px;text-overflow:ellipsis;white-space:nowrap;}
.tbl_type .tit {padding-left:15px;padding-right:0;text-align:left;line-height:20px;}
.tbl_type .tit .link_category {display:block;font-size:13px;color:#848484}
.tbl_type .tit .link_txt {display:block;float:left;overflow:hidden;max-width:430px;line-height:21px;text-overflow:ellipsis;white-space:nowrap;color:#484848;font-size:15px;}
.tbl_type .tit .num {float:left;display:inline-block;margin-left:5px;font-family:'Tahoma', 'Helvetica', 'Arial';font-size:12px;color:#ff2e2e;vertical-align:top;}
.tbl_type .tit.del .link_txt {color:#999999}
.tbl_type .tit a:hover .link_txt {text-decoration:underline;}
.tbl_type .tit .ico_new02 {float:left;margin:5px;vertical-align:top}
.tbl_type .tit .ico_file {float:left;margin-left:5px;margin-top:5px}
.tbl_type tr.panel {}
.tbl_type tr.panel .name {color:#333333;}
.tbl_type tr.panel .name:before {display:inline-block;content:'';width:13px;height:14px;margin-right:5px;background:url(../images/ico_comm2_v2.gif) no-repeat 0 -1910px;vertical-align:middle;}
/*영상강의*/
.video_cont {position:relative;padding:30px 0;border-bottom:1px solid #e8e8e8}
.video_cont:last-child {border:0;}
.video_cont .btn_more {position:absolute;top:30px;right:0;width:65px;margin:0;line-height:30px;font-size:13px;color:#000}
.video_cont .list_section_wrap {margin-top:-20px;}
.cont_list {overflow:hidden;}
.cont_list li {float:left;width:234px;background-color:#fff;}
.cont_list li:hover .tit,
.cont_list li:hover .link_txt {text-decoration:underline}
.cont_list li + li {margin-left:14px;}
.cont_list li:nth-child(4n+1) {margin-left:0;}
.cont_list li:nth-child(+n+5) {margin-top:25px;}
.cont_list figure {width:234px;height:132px;}
.cont_list figure img{width:100%;height:100%}
.cont_list .tit {display:block;display:-webkit-box;overflow:hidden;width:100%;height:44px;margin:10px 0 5px;;font-size:15px;line-height:22px;color:#484848;font-weight:normal;word-break:keep-all;word-wrap:break-word;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.cont_list .flow {overflow:hidden;max-width:55px;color:#484848;font-size:14px;text-overflow:ellipsis;white-space:nowrap;}
.list_section_wrap + .video_cont {padding-top:0;}
/*패널 소개*/
.panel_info {position:relative;clear:both;}
.panel_info .list_section_wrap {margin-top:35px;}
.panel_list {overflow: hidden;padding:10px 0 55px;margin-bottom:40px;border-bottom:1px solid #e8e8e8;}
.panel_list li {float:left;width:180px;margin-left:86px;vertical-align:top}
.panel_list li:first-child {margin:0;}
.panel_cont {display:block;width:180px;}
.panel_cont .panel_img {overflow:hidden;display:inline-block;width:180px;height:180px;background-color:#bdbbbc}
.panel_cont .panel_img img {width:100%;min-height:100%}
.panel_cont .name {display:inline-block;width:180px;margin:17px 0;font-size:24px;font-weight:bold;text-align:center}
.panel_cont .btn {line-height:45px;margin:0;font-size:14px;}
.panel_cont .btn.disabled {pointer-events:none;cursor:default;background-color:#afbcc3}
.panel_cont .txt {display:inline-block;width:180px;margin-top:20px;color:#a1a1a1;font-size:13px;word-break:keep-all;word-wrap:break-word;letter-spacing:-1px;}
/* 검색결과 리스트 */
.result_area {float:left;width:680px;padding:40px 30px 50px 0;border-right: 1px solid #e5e5e5}
.result_tit {margin-bottom:20px;}
.result_tit .tit {font-size:22px;font-weight:bold;}
.result_tit .tit strong {color:#00affe}
.result_tit .link_txt {display:inline-block;border-bottom:2px solid #a8a8a8;font-size:18px;}
.result_list {border-top:1px solid #383d48 }
.result_list li {overflow:hidden;width:100%;padding:24px 0;border-bottom:1px solid #ededed;table-layout:fixed}
.result_list figure {display:inline-block;width:154px;height:100px;margin-right:20px;vertical-align:middle}
.result_list figure img {width:100%;height:100%;}
.result_list figure + .result_info  {display:inline-block;max-width:500px;vertical-align:middle}
.result_list .result_info {}
.result_list .category {display:inline-block;margin-bottom:5px;padding:1px 6px;border:1px solid #57b1ea;font-size:13px;color:#57b1ea;}
.result_list .tit {display:block;overflow:hidden;width:100%;margin-bottom:5px;font-size:18px;color:#1122cc;text-overflow:ellipsis;white-space:nowrap}
.result_list .txt {display:block;overflow:hidden;width:100%;margin-bottom:5px;font-size:14px;color:#555555;text-overflow:ellipsis;white-space:nowrap}
.result_list .nodata {padding:100px 0;text-align:center;font-size:18px;}
/* 글쓰기 */
#container.forum_write {margin-top:50px;}
/* 작성 테이블 */
.tbl_write {position:relative;border-bottom:1px solid #d8d8d8;}
.tbl_write table {width:100%;border-bottom:1px solid #dadfea;border-top:1px solid #393d48;}
.tbl_write caption {text-indent:-5000px;line-height:0;font-size:0px}
.tbl_write tr + tr {border-top:1px solid #ededed;}
.tbl_write th, .tbl_write td {padding:14px 0 14px 20px;height:40px;font-size:14px;}
.tbl_write td {text-align:left;}
.tbl_write th {background-color:#f6f7fb;color:#54627c;text-align:left;vertical-align:top;}
.tbl_write td .editor {width:100%;height:480px;}
.tbl_write .essen {font-size:0;}
.tbl_write .essen:after {display:inline-block;content:'*';color:red;font-size:15px;vertical-align:top;}
.tbl_write .selectlist {width:180px;height:40px;line-height:20px;padding-left:10px;border:1px solid #d9d9d9;color:#737373}
.tbl_write .inp_txt {width:100%;height:40px;padding:10px;border:1px solid #d9d9d9;line-height:20px;box-sizing:border-box;}
.tbl_write .radio {display:inline-block;line-height:40px;}
.tbl_write .radio + .radio {margin-left:15px;}
.tbl_write .inp_radio + label {padding-left:10px;cursor:pointer}
.write_info {margin:40px 0;color:#666666;font-size:13px;}
.write_info .ico_comm2 {width:28px;height:28px;background-position:0 -965px;}
.write_info .ico_comm2 + ul {display:inline-block;}
/* 첨부파일 */
.fld_item .inp_file {position:absolute;left:-9999px;top:0;width:340px;height:30px;background:#fff;opacity:0;filter:alpha(opacity=0)}
.fld_item .btn_item {float:left;width:93px;height:28px;margin-right:10px;padding:5px;line-height:28px;text-align:center;background-color:#fff;border:1px solid #dadcdf;color:#6a7180;}
.fld_item .txt {display:block;clear:both;color:#999999;}
.fld_item .list_file {overflow:hidden;height:38px;background-color:#f9f9f9;border:1px solid #dadada}
.list_file li {float:left;}
.list_file .txt_file_name {overflow:hidden;display:inline-block;max-width:90px;padding:5px 0 5px 10px;font-size:11px;line-height:28px;color:#6a7180;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
.list_file .btn_delete {display:inline-block;width:14px;height:14px;margin:11px 5px 11px 0;border:1px solid #dededf;background-position:2px -288px;background-color:#fff;vertical-align:top;}
.file_info {margin-top:15px;color:#999999;font-size:13px;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.file_info li:before {display:inline-block;content:'';width:3px;height:3px;margin-right:5px;background-color:#9a9a9a;border-radius:50%;vertical-align:middle;}
/* 포럼 상세 */
#container.forum_view {margin-top:50px;}
.forum_view .btn_wrap .btn_white {float:right;width:98px;line-height:38px;font-size:14px;}
.view_head {overflow:hidden;display:table;width:100%;min-height:92px;padding:30px 0;border-top:2px solid #383d48;border-bottom:1px solid #d9d9d9;table-layout:fixed}
.view_head .btn_wrap {display:table-cell;width:216px;padding:0 0 25px 0;vertical-align:bottom;}
.view_head .btn_wrap .btn_white {float:left;}
.view_head .view_tit {display:table-cell;vertical-align:middle;word-break:keep-all;word-wrap:break-word;  }
.view_tit .category {display:block;color:#2e7fe3;font-size:15px}
.view_tit strong {display:block;margin:8px 0;font-size:28px;font-weight:normal;line-height:1.2}
.view_tit .scopes {color:#848484;font-size:14px;}
.view_tit span + span {display:inline-block;}
.view_tit span + span:before {display:inline-block;content:'';width:1px;height:12px;margin:0 5px;background-color:#dadada;vertical-align:middle;}
.view_area {float:left;width:680px;padding:0 30px 30px 0;border-right: 1px solid #e5e5e5}
.view_area .video {position:relative;width:100%;height:440px;margin:30px 0;}
.view_area .view_content {position:relative;width:100%;min-height:100px;margin:30px 0;color:#555555;font-size:15px;line-height:1.8;word-break:keep-all;word-wrap:break-word;}
.view_area .view_content img {max-width:100%;margin:10px 0;cursor:pointer;}
.view_area .view_content + .btn_wrap {border-top:1px solid #d8d8d8;}
.view_area .down_area {margin:30px 0;padding:20px 30px;background-color:#f4f4f7;}
.view_area .down_area strong {display:inline-block;margin-top:5px;vertical-align:top;font-size:14px;font-family:'dotum', '돋움';}
.view_area .down_area ul{display:inline-block; margin-left:15px;}
.view_area .down_area li {margin-bottom:8px;}
.view_area .down_area a {margin:5px 0;line-height:19px;font-size:12px;color:#848484;text-decoration:underline;font-family:'dotum', '돋움';}
.view_area .down_area .ico_file {margin-right:5px;}
.view_area .notice {padding-bottom:30px;;border-bottom:1px solid #d8d8d8;font-size:13px;color:#848484}
.view_area .notice .ico_comm2{width:18px;height:18px;margin:2px 5px 0 0;background-position:0 -1890px;text-indent:0;}

.survey_area {margin:30px 0;padding:25px 30px;background-color:#e3f1fb;}
.survey_area .ico_survey {display:inline-block;width:38px;height:50px;background-position:-285px -3036px;}
.survey_area .txt {display:inline-block;margin-left:25px;font-size:14px;color:#7799bc }
.survey_area .txt em {display:block;font-size:18px;color:#0b53ab }
.survey_area .btn_blue {float:right;width:130px;margin:5px 0;line-height:40px;background-color:#218aff;color:#fff;font-size:14px;vertical-align: top}
/* 개인정보동의 팝업 */
.layer_agree {display:none;position:absolute;left:0;top:0;z-index:10;width:100%;height:100%}
.layer_agree .bg_layer {position:fixed;left:0;top:0;z-index:9;width:100%;height:100%;background-color:#000;opacity:0.7;cursor:pointer}
.layer_agree .inner {position:absolute;left:0;right:0;top:0;z-index:11;bottom:0;width:520px;height:480px;padding:40px 50px 30px;margin:auto;border-top:4px solid #4ea1ff;background-color:#fff}
.layer_agree .layer_head {overflow:hidden;text-align:center;margin-bottom:40px}
.layer_agree .layer_head .tit {font-size:28px;font-weight:normal;line-height:34px;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.layer_agree .layer_head .tit em {color:#50b4ff}
.layer_agree .layer_head .txt {font-size:14px}
.layer_agree .s_tit {display:block;margin-bottom:10px}
.layer_agree .agreebox {overflow-y:auto;width:500px;height:190px;padding:10px;line-height:20px;border:1px solid #c0c0c0;color:#737373;word-break:keep-all;word-wrap:break-word;resize:none}
.layer_agree .agreebox span {font-weight:bold}
.layer_agree .agreebox ul {margin:8px 4px}
.layer_agree .in_tit{display:block;margin:35px 0 10px;text-align:center;font-size:17px;color:#555555}
.layer_agree .input_check {height:24px;text-align:center}
.layer_agree .btns {margin-top:25px;text-align:center}
.layer_agree .btns .btn {display:inline-block;width:154px;padding:11px 10px;border:1px solid #b8c0cf;font-size:14px;font-weight:bold;text-align:center}
.layer_agree .btns .btn_answer {color:#fff;background-color:#b8c0cf}
.layer_agree .btns .btn_answer.on {border-color:#2bacff;background-color:#2bacff}
.layer_agree .btns .btn_cancel {color:#555555;background-color:#fff}
.layer_agree .btn_close {position:absolute;right:40px;top:40px;width:22px;height:22px;background-position:-110px -205px}