@charset "utf-8";
#container {width:980px;}

/*추천 매거진 - drug_main*/
#wrap.drug_info{min-height:100%;background:#fff}
#wrap.drug_info #container{position:relative;z-index:1;width:800px;margin:0 auto;}
#wrap.drug_info .txt_drug{display:block;width:332px;height:52px;margin:0 0 47px 42px;background-position:0 -1683px;}
#wrap.drug_info #container iframe{/*padding:4px 19px 0 37px;*/background-color:#fff;box-sizing:border-box;}
#wrap.drug_info #footer{display:none;}
.drug_top {padding:24px 0;margin-bottom:10px;background-color:#f6f6f7;}
.magazine {position:relative;width:980px;margin:0 auto;}
.magazine_list {width:870px;margin:0 auto;}
.magazine_cont {height:128px;padding:20px;border:1px solid #ebebeb;background-color:#fff;}
.magazine_cont .cont_img {float:left;height:100%;margin-right:20px;border:1px solid #ebebeb;}
.magazine_cont .cont_list {float:right;width:260px;}
.magazine_cont .cont_list .tit {margin:7px 0 15px;font-size:16px;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.magazine_cont .cont_list dd {overflow:hidden;margin-top:10px;text-overflow:ellipsis;white-space:nowrap}
.magazine_list .bx-pager {display:none}
.bx-controls-direction a {position:absolute;top:100px;width:36px;height:59px;font-size:0;z-index:1;}
.bx-controls-direction .bx-prev {left:0;background-image:url(../images/new_pr/btn_prev.png);}
.bx-controls-direction .bx-next {right:0;background-image:url(../images/new_pr/btn_next.png);}

/* 해외 의학뉴스 , 처방가이드 */
#container.news_list, .guide #containe {width:980px}
.news_list .contents, .guide .contents {position:relative;float:left;width:696px}
.news_list .right_section, .guide .right_section{float:right;width:240px;margin-left:14px}
.news_view .contents , .guide_view .contents {position:relative;float:left;padding:30px 39px 40px 40px;width:615px;border:1px solid #ededed;border-top:1px solid #31b9ff;background:#fff}
.list_section_wrap {overflow:hidden;margin:18px 0 10px}
.list_section_wrap .total {float:left;font-weight:bold;font-size:14px}
.list_section_wrap .total a {float:left;text-decoration:underline}
.list_section_wrap .total span {font-weight:normal}
.list_section_wrap .total span:before {content:'>';margin:0 5px;color:#9b9b9b}
.list_section_wrap .total em {margin:0 5px;color:#ff5a01;letter-spacing:-0.5px;font-family:Verdana}
.list_section_wrap .order {float:right;margin-top:2px}
.list_section_wrap .order li {float:left}
.list_section_wrap .order li a {float:left;display:block;margin-left:11px;color:#bfc1c2;text-decoration:none}
.list_section_wrap .order .ico_check { width:10px; height:10px; margin-top:5px;background-position:0 -1220px}
.list_section_wrap .order .on a {font-weight:bold;color:#606060}
.list_section_wrap .order .on .ico_check {background-position:0 -1235px}
.category_all {overflow:hidden;border:1px solid #e1e1e1;border-top:2px solid #059ce5;background:#fff;padding:22px 30px 12px;margin-bottom:30px;clear:both;}
.category_all li {float:left;width:20%;line-height:23px;margin-bottom:10px;}
.category_all li a {display:inline-block;padding:0 5px;color:#222;border-radius:2px;}
.category_all li a:hover{color:#fff;background-color:#059ce5}
.category_all li .on {color:#fff;background-color:#059ce5}
.category_all + .category_tail {margin-top:-20px;margin-bottom:30px;text-align:right;font-size:11px;color:#969696}
/*리스트*/
.list_section {clear:both}
.list_section .list_cont {display:block;position:relative;overflow:hidden;padding:28px 26px 46px;margin-bottom:10px;border:1px solid #ededed;border-top-color:#4fa3f1;background:#fff}
.list_section .list_cont:hover {border-color:#4fa3f1}
.list_section .tail {overflow:hidden;position:absolute;left:26px;bottom:22px;}
.list_section .tail span {position:relative;margin:0 9px;font-size:11px;color:#9f9f9f;line-height:15px}
.list_section .tail span:after {position:absolute;top:0;left:-10px;content:'';width:1px;height:10px;background-color:#e3e7ee;}
.list_section .tail span:first-child {margin-left:0}
.list_section .tail span:first-child:after {width:0;}
.list_section .tail span em {padding-left:2px;font-weight:bold;color:#666666;}
.list_section .tail span .ico_comm2 {width:14px;height:14px;margin:2px 0 0 0;}
.list_section .tail span .ico_2015 {background-position:0 -1000px}
.list_section  figure {overflow:hidden;float:left;width:142px;height:100px;margin-right:16px;border:1px solid #ededed}
.list_section  figure img {width:100%}
.list_section  div.img {float:left;width:480px}
.list_section  div.img .txt li .ellipse {max-width:360px}
.list_section .list_cont .list_tit {font-size:16px}
.list_section .list_cont .list_tit .category {display:block;font-size:12px;color:#059ce5;letter-spacing:-2px}
.list_section .list_cont .list_tit strong {display:inline-block;overflow:hidden;max-width:100%;text-overflow:ellipsis;white-space:nowrap}
.list_section .list_cont .list_tit strong span {padding-left:6px;font-size:13px;color:#8c8c8c;font-weight:normal;font-family:Tahoma sans-serif}
.list_section .list_cont .txt {overflow:hidden;display:-webkit-box;height:60px;color:#5f5f5f;font-size:12px;line-height:20px;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:3}
.list_section .list_cont .txt em {font-weight:bold}
/*뷰*/
.view_head {position:relative;padding-bottom:12px;border-bottom:1px solid #ededed}
.view_head .view_tit .category {display:block;margin-bottom:10px;font-size:12px;color:#059ce5;line-height:1}
.view_head .view_tit strong {display:block;margin-bottom:5px;line-height:25px;font-size:20px}
.view_head .tail {overflow:hidden}
.view_head .tail .f_l {height:21px;margin-top:5px}
.view_head .tail .f_l span {position:relative;margin:0 9px;font-size:11px;color:#9f9f9f;line-height:15px}
.view_head .tail .f_l span:after {position:absolute;top:0px;left:-10px;content:'';width:1px;height:10px;background-color:#e3e7ee}
.view_head .tail .f_l span:first-child {margin-left:0}
.view_head .tail .f_l span:first-child:after {width:0}
.view_head .tail .f_l span em {padding-left:2px;font-weight:bold}
.view_head .tail .f_l .ico_comm2 {width:14px;height:14px;margin:1px 0 0 0}
.view_head .tail .f_l .ico_person {margin-right:0;background-position:0 -528px}
.view_head .tail .f_l .ico_2015 {background-position:0 -1000px}
.view_head .tail .f_r {height:26px;font-size:11px;vertical-align:middle;color:#ababab}
.view_head .tail .f_r a {display:inline-block;color:#ababab}
.view_head .tail .f_r .btn_comm {display:inline-block;width:26px;height:26px;margin-right:10px;vertical-align:middle}
.view_head .tail .f_r .btn_txt {display:inline-block;height:20px;padding:4px 5px 0px;border:1px solid #ededed;color:#848688;vertical-align:middle}
.view_head .tail .f_r .btn_share {background-position:0 -140px}
.view_head .tail .f_r .btn_print {background-position:-40px -140px}
.view_head .tail .f_r .btn_favorite {background-position:-80px -140px}
.view_head .tail .f_r .btn_down {background-position:-210px -317px}
.edit_view {overflow:auto;width:615px;padding:34px 0 23px;color:#5f5f5f}
.edit_view img {max-width:610px}
.edit_view > p {margin-left:1px;line-height:22px}
.edit_view h4 {margin:30px 0 5px;padding-left:10px;font-size:14px;color:#252525}
.edit_view h4:first-child {margin-top:0;}
.edit_view h4:before {content:""; display:inline-block;height:13px;margin:4px 10px 0 -10px;border-left:2px solid #2076d1;vertical-align:top}
.edit_view > ul > li {margin-left:1px;padding-left:8px;line-height:22px}
.edit_view > p {margin-left:1px;line-height:22px}
.edit_view .btn_save {margin:12px 0 0 7px;font-size:11px;color:#ababab;text-decoration:underline}
.edit_view .btn_down, .itemFileArea .btn_down{display:inline-block;width:20px;height:14px;background-position:-150px -140px;vertical-align:top}
.edit_view table.type01 {margin-top:10px;width:100%;border:1px solid #e9e9e9}
.edit_view table.type01 th {height:28px;border:1px solid #e9e9e9;background:#f7f9fb;font-weight:normal;color:#5f5f5f}
.edit_view table.type01 td {padding:15px 0;border:1px solid #e9e9e9;text-align:center;color:#5f5f5f}
.edit_view .img01 {margin-top:10px}
.edit_view .img01:first-child {margin-top:0}
.edit_view .img02 {display:inline-block;width:194px;height:138px;margin-top:10px;text-align:center;line-height:138px;}
.edit_view .img02 img {display:inline-block;max-width:100%;max-height:100%;vertical-align:middle;}
.edit_view + .memo {position:relative;display:block;margin-bottom:40px;padding-top:30px;border-top:1px solid #ededed;}
.guide_list {margin-top:20px}
.guide_list .list_cont {padding:20px 28px;border:1px solid #d6d6c9;background:#fdfdf8;color:#5f5f5f}
.guide_list .list_cont a {display:inline-block;*display:inline;zoom:1;color:#939393;text-align:center}
.guide_list .list_cont a:hover {font-weight:bold;letter-spacing:-1px;color:#5f5f5f}
.guide_list .list_cont ul {margin-top:9px;.zoom:1}
.guide_list .list_cont ul:after {content:"";display:block;height:0;font-size:0px;line-height:0;overflow:hidden;clear:both}
.guide_list .list_cont li {float:left;line-height:22px;word-wrap:break-word}
.guide_list .list_cont li:before {content:""; display:inline-block;height:11px;margin:0 8px;border-left:1px solid #b9b9b9}
.guide_list .list_cont li:first-child {padding:0}
.guide_list .list_cont li:first-child:before {content:none}
/* 목록버튼 */
.info_view .notice {position:relative;display:block;padding:20px 0 0 35px;border-top:2px solid #d5d6da;font-size:11px;color:#ababab;letter-spacing:-1px; background:#fff}
.info_view .notice .ico_comm2{position:absolute;left:0;top:22px;width:22px;height:22px;background-position:0 -965px;text-indent:0}
.info_view .btn {margin-top:40px;text-align:center}
.info_view .btn a {display:inline-block;margin:0 1px;padding-top:13px;width:78px;height:65px;border:1px solid #ededed;color:#9a9a9a;font-size:11px;text-decoration:none;text-align:center;vertical-align:middle}
.info_view .btn em {display:block;margin-top:-2px;color:#8c9eb1}
.info_view .btn .txt_b{display:block;margin-top:2px}
.info_view .btn .png_comm{display:inline-block;width:25px;height:24px}
.info_view .btn .btn_like .png_comm{background-position:-70px -148px}
.info_view .btn .btn_like.on .png_comm{background-position:-70px -175px}
.info_view .btn .btn_favorite .png_comm{background-position:-102px -146px}
.info_view .btn .btn_favorite.on .png_comm{background-position:-102px -176px}
.info_view .btn a.on {background-position:center -166px}
.info_view + .btn_wrap {overflow:hidden;margin:20px 0 5px}
.info_view + .btn_wrap .btn_list {display:inline-block;padding:0 20px;height:28px;line-height:28px;border-radius:2px;border:1px solid #d1d1d1;background-color:#fff}

/*학회/연수교육일정*/
#wrap.academy_v2 {background-color:#fff}
#wrap.academy_v2 #container {width:980px;margin:30px auto 0;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.academy_v2 .contents {overflow:hidden}
.academy_v2 .academy_top {overflow:hidden;height:260px;margin-bottom:50px;}
.academy_v2 .academy_top .box_ad {float:left;width:570px;height:260px;background-color:#a0d9e5}
.academy_v2 .concierge {position:relative;float:right;width:400px;}
.academy_v2 .concierge .tit_slide {position:absolute;top:25px;left:25px;z-index:10;color:#fff;font-size:17px;}
.academy_v2 .concierge .cont_img {width:400px;height:260px;}
.academy_v2 .concierge .cont_img:after {display:block;position:absolute;top:0;left:0;width:400px;height:260px;background-color:#000;opacity:0.3;content:''}
.academy_v2 .concierge .cont_img img {width:100%;height:100%}
.academy_v2 .concierge .cont_info {position:absolute;top:0;left:0;display:inline-block;width:350px;height:150px;margin-top:50px;padding:30px 25px 30px;font-size:16px;color:#fff;vertical-align:top;}
.academy_v2 .concierge .cont_info .title {overflow:hidden;display:-webkit-box;width:100%;height:60px;margin:15px 0 35px;font-size:24px;font-weight:bold;line-height:30px;letter-spacing:-1px;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.academy_v2 .concierge .cont_info .place,
.academy_v2 .concierge .cont_info .date {display:block;margin-top:3px;font-size:14px;font-weight:normal}
.academy_v2 .concierge .cont_info .place {width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.academy_v2 .concierge .cont_info .dday {top:0;left:0;display:inline-block;padding:0 5px;line-height:23px;background-color:#0cbff5;font-size:15px;color:#fff;text-align:center;font-weight:bold;font-family:verdana}
.academy_v2 .concierge .cont_info .dday + .title {margin:5px 0 20px;}
/*슬라이드제어*/
.academy_v2 .concierge li {overflow:hidden;opacity:1}
.academy_v2 .concierge li.active-slide {opacity:1}
.academy_v2 #slide-counter {position:absolute;top:28px;bottom:inherit;right:90px;color:#fff;font-size:14px;font-weight:normal;font-family:Tahoma;}
.academy_v2 #slide-counter .current {color:#fff}
.academy_v2 .bx-pager {display:none}
.academy_v2 .btn_area {position:absolute;right:30px;top:26px}
.academy_v2 .btn_area .btn_comm {float:left;width:24px;height:22px;border:1px solid #d8d8d8;background-color:#fff}
.academy_v2 .btn_area .btn_comm a {display:block;width:24px;height:22px}
.academy_v2 .btn_prev {background-position:-122px -174px}
.academy_v2 .btn_next {margin-left:-1px;background-position:-142px -174px}
.academy_v2 .tit_cont .txt {display: block;margin:5px 0 0 0;color:#666666}
.academy_v2 .tit_cont .point {background-color:#ffff00;color:#666}
.academy_v2 .tit_cont .point em {font-weight:normal;color:#ff2e2e}
.academy_v2 .search_area {position:relative;margin-bottom:30px;border:1px solid #e2e2e2;background-color:#f9fafb}
.academy_v2 .search_area:after {display:block;clear:both;content:'';}
.academy_v2 .search_area .search_tit {display:block;font-weight:normal;font-size:14px;line-height:36px;}
.academy_v2 .search_box {position:absolute;top:-70px;right:0;}
.academy_v2 .search_box .inp_txt {width:238px;height:40px;padding:0 50px 0 10px;border:1px solid #d3d3d3;}
.academy_v2 .search_box .btn_search {position:absolute;right:1px;top:1px;width:50px;height:40px;}
.academy_v2 .search_box .btn_comm {width:18px;height:18px;margin:0 auto;background-position:-147px -304px}
/*조회기간*/
.academy_v2 .date_select {padding:11px 29px;}
.academy_v2 .date_select .search_tit {display:inline-block;margin-right:15px;}
.academy_v2 .date_lab {position:relative;display:inline-block;width:148px;height:34px;margin:0 5px;line-height:34px;border:1px solid #c0c0c0;background-color:#fff;}
.academy_v2 .date_text {width:100px;line-height:34px;padding:0 8px;border:0;font-size:16px;font-weight:bold;vertical-align:top;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.academy_v2 .ui-datepicker-trigger{position:absolute;right:0;top:0;padding:8px;border:0;}
/*상세조회*/
.academy_v2 .select_area {padding:11px 29px;border-top:1px solid #edeef0;}
.academy_v2 .select_area:after {display:block;clear:both;content:'';}
.academy_v2 .select_area .f_l {margin-left:30px;}
.academy_v2 .select_area .f_l:first-child {margin-left:0;}
/*리셋버튼*/
.academy_v2 .btn_reset {display:block;position:absolute;top:14px;right:29px;width:104px;height:30px;margin:0;background-color:#fff;border:1px solid #dadbdd;text-align:center;line-height:30px;font-size:13px;color:#666666;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.academy_v2 .btn_reset .btn_comm {display:inline-block;width:14px;height:14px;margin:8px 7px 0 0;background-position:-235px -390px;vertical-align:top}
/* 평점,필수교육,여행정보,개최장소*/
.academy_v2 .select_area .txt_checkbox {overflow: hidden}
.academy_v2 .select_area .btn_set {float:left;padding:7px 13px 6px;border:1px solid #dadbdd;background-color:#fff;color:#848484;font-size:13px;text-align:center;cursor:pointer;}
.academy_v2 .select_area .btn_set + .btn_set {margin-left:-1px;}
.academy_v2 .select_area .btn_set.on {border-color:#18b5e6;color:#18b5e6;}
.academy_v2 .select_area .btn_set.on + .btn_set {border-left-color:#18b5e6;}
/*교육분류*/
.academy_v2 select.selectbox {-webkit-appearance:none;-moz-appearance:none;appearance:none}
.academy_v2 select.selectbox::-ms-expand {display:none;/* 화살표 없애기 for IE10, 11*/}
.academy_v2 .selectbox {width:140px;height:32px;padding:0 8px;background:#fff url(../images/ico_comm.gif) 100% -1801px no-repeat;border:1px solid #dadbdd;color:#484848;line-height:32px;}
.academy_v2 .search_tit + .selectbox {width:120px}
.academy_v2 select.selectbox:disabled {color:#999}.academy_v2 .schedule {float:left;width:710px;border:0}
.academy_v2 .schedule .total {display:block;font-weight:bold;font-size:18px;color:#202020}
.academy_v2 .schedule .total a {display:inline-block;color:#202020;border-bottom:2px solid #a9a9a9}
.academy_v2 .schedule .total span {font-weight:bold}
.academy_v2 .schedule .total span:before {content:'>';margin:0 5px;color:#202020}
.academy_v2 .schedule .total em {margin:0 5px;color:#ff2e2e;font-weight:bold;font-family:Tahoma, Verdana}
.academy_v2 .schedule_list {margin-top:20px;border:1px solid #ededed;border-top:0;}
.academy_v2 .schedule_date {display:block;line-height:34px;padding:0 28px;background-color:#f6f7f8;border-top:1px solid #ededed;font-size:15px;color:#202020;}
.academy_v2 .schedule .cont {overflow:hidden;position:relative;padding:30px 30px 25px;border-top:1px solid #ededed;font-size:14px}
.academy_v2 .schedule .cont .price {position:absolute;bottom:23px;right:31px;font-weight:bold;font-size:16px;}
.academy_v2 .schedule .cont .place {font-size:13px;color:#848484}
.academy_v2 .schedule .cont .date {font-size:13px;color:#848484}
.academy_v2 .schedule .cont .date:before {display:inline-block;height:10px;padding-left:10px;margin-left:10px;content:'';border-left:1px solid #c6c6c6}
.academy_v2 .schedule .cont .f_l {width:70px}
.academy_v2 .schedule .cont .cont_info {float:left;width:480px;min-height:76px;padding-right:98px;}
.academy_v2 .schedule .cont .cont_info .title {overflow:hidden;display:-webkit-box;width:100%;max-height:52px;margin:-3px 0 5px 0;font-size:17px;font-weight:normal;line-height:26px;color:#333;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.academy_v2 .schedule .ico_box {display:block;width:36px;margin-bottom:5px;line-height:18px;color:#fff;text-align:center;font-size:12px;}
.academy_v2 .schedule .essential {background-color:#30bfec;}
.academy_v2 .schedule .general {background-color:#96adcb}
.academy_v2 .schedule .txt_grade {font-weight:bold;font-size:20px;}
.academy_v2 .schedule .txt_sc {font-size:11px;display:block;}
.academy_v2 .schedule .etc_info {margin-top:5px;}
.academy_v2 .schedule .etc_info span {display:inline-block;padding:0 7px;margin:5px 7px 0 0;background-color:#e0edf6;color:#7198b6;font-size:11px;}
.academy_v2 .schedule .cont .btn_right {position:absolute;top:30px;right:30px;}
.academy_v2 .schedule .cont .btn_right a {display:inline-block;width:38px;height:38px;margin-left:4px;border:1px solid #e2e2e2;background-color:#fff;vertical-align:top}
.academy_v2 .schedule .cont .btn_right .btn_travel {border-color:#18b5e6}
.academy_v2 .schedule .cont .btn_right .btn_travel .btn_comm {width:21px;height:25px;margin:7px auto 6px;background-position:-65px -410px }
.academy_v2 .schedule .cont .btn_right .btn_link .btn_comm {width:21px;height:21px;margin:9px auto 8px;background-position:-90px -410px }
.academy_v2 .schedule .cont .btn_favorite {width:18px}
.academy_v2 .schedule .cont .btn_detail {width:78px;padding:7px 0 6px;font-weight:bold}
.academy_v2 .schedule .nodata {padding:50px 0;text-align:center;font-size:17px;}
.academy_v2 .right_section {float:right;width:240px;}
.academy_v2 .bnr_aside {margin:30px 0;padding-top:30px;border-top:1px solid #ededed;}
.academy_v2 .bnr_aside .link_bnr + .link_bnr {margin-top:15px;}
.academy_v2 .box_aside_list.new_list {border-bottom:1px solid #ededed;}
/* 학회일정 팝업 */
.pop_detail {width:950px;height:90%;margin-top:35px}
.pop_detail .popup {width:950px;height:100%;padding:30px 70px;box-sizing:border-box}
.pop_detail .popup .tit_popup {display:block;margin-bottom:20px;padding-bottom:20px;font-size:21px;color:#000000;line-height:1.2;text-align:center;font-weight:normal;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.pop_detail .popup .info_txt {display:block;margin-top:10px;font-size:17px;color:#848484}
.pop_detail .popup .desc_inner {overflow-y:auto;padding:0 15px;height:calc(100% - 215px);text-align:left}
.pop_detail .popup .desc_inner img {max-width:810px;margin:0 auto}
.pop_detail .btn_close {position:absolute;right:40px;top:40px;width:22px;height:22px;background-position:-110px -205px}
.pop_detail .btns {margin-top:15px}
.pop_detail .btns button {width:200px;height:45px;font-size:15px;color:#fff;font-weight:bold}
.pop_detail .btns button + button {margin-left:15px}
.pop_detail .btns .btn_gray {background-color:#a0adb5;border-color:#a0adb5}

@media print {
	body {overflow-y:visible;-ms-overflow-y:visible}
	#header, .right_section, footer, .nav_util, .contents .info_view .txt {display:none}
	#container .contents {float:none;margin:0 auto}
	#wrap {-webkit-print-color-adjust:exact;background:#fff}/* 2016-09-09 배경아이콘 출력 수정(크롬, 사파리만 해당) */
	.print_bg{display:block}
	#academyDetail.pop_detail {position:static;margin:0 auto}
	#academyDetail.pop_detail .popup {border:0}
	#wrap.academy, #wrap.academy_v2, .b-modal, .btn_close, #academyDetail .btns {display:none}
	#academyDetail.pop_detail .popup .desc_inner {overflow-y:hidden;height:auto}
}