@charset "utf-8";
#wrap {background-color: #fff}
/*#wrap.tax {background-color:#fff}*/
#container {width:980px}
.contents{position:relative;float:left;width:696px}
.right_section{float:right;width:240px;margin-left:14px}
/*input*/
input.text{height:28px;line-height:28px;padding:0 8px;border:1px solid #c0c0c0;color:#737373}
.input_area{*zoom:1}
.input_area:after{display:block;content:"";clear:both}
.input_area input{float:left}
.input_area .submit{position:absolute;right:37px;top:23px;display:inline-block;height:66px;line-height:66px;padding:0 30px;border:1px solid #129ce4;color:#fff;font-weight:bold;background:#14afff;text-decoration:none}
input::placeholder {color:#ababaa;}
input::-webkit-input-placeholder {color:#ababaa;}
input::-moz-input-placeholder {color:#ababaa;}
input:-ms-input-placeholder {color:#ababaa;}
/*인슈렉스*/
.right_section .e_irs {position:relative;padding:20px 24px;background-color:#fff;}
.right_section .e_irs h3 {margin-bottom:15px;font-family:verdana;font-size:13px;line-height:14px}
.right_section .e_irs h3 span  {display:block;font-size:11px;font-weight:normal}
.right_section .e_irs .movies {position:relative;height:105px;border:1px solid #ededed}
.right_section .e_irs .btn {position:absolute;top:23px;right:25px;display:inline-block;padding:4px 8px 3px;border:1px solid #b9b9b9;border-radius:3px;font-size:11px;font-weight:bold;color:#333}
.right_section .link_btn.btn_blue {background-color:#0089c8;font-size:20px;padding:25px 0;color:#fff}
/* 목록버튼 */
.btn_wrap {overflow:hidden;margin:20px 0 5px;}
.btn_wrap a {border:1px solid #d1d1d1;border-radius:2px;text-align:center;}
.btn_wrap .btn_list {display:inline-block;padding:0 20px;height:28px;line-height:28px;border-radius:2px;border:1px solid #d1d1d1;background-color:#fff;}
.btn_wrap .btn_write {float:right;width:110px;height:20px;padding:7px 0 6px;background-color:#fff;font-weight:bold;letter-spacing:-1px;}
.btn_wrap .btn_blue {float:right;width:138px;height:20px;padding:4px 0 3px;font-weight:bold;letter-spacing:-1px;border-color:#0081bd;background-color:#0089c8;color:#fff;}
.btn_wrap .btn_blue:hover, .btn_blue:active {background-color:#0089c8;}
/*보헙인정기준*/
.reference {position:relative;padding:14px 37px;margin-bottom:30px;border:2px solid #dbdfe7;background:#fff}
.reference img.ui-datepicker-trigger{margin-left:4px;margin-top:5px;display:inline-block;cursor:pointer;vertical-align:top}
.reference .btn_set {display:inline-block;padding:4px 0 3px;min-width:40px;text-align:center;border:1px solid #b9b9b9;font-size:11px;font-weight:bold;color:#999;border-radius:2px;vertical-align:middle;text-decoration:none}
.reference .btn_set.on {color:#4a4a4a}
.reference table.type02 {width:100%}
.reference table.type02 th {width:68px;text-align:left;text-indent:12px;vertical-align:middle}
.reference table.type02 td {padding:7px 0}
.hira {overflow:hidden;margin-top:10px;border-bottom:1px solid #ededed;background:#fff}
.hira_nodata {padding:100px 40px 293px;margin-top:10px;text-align:center;border:1px solid #ededed;background:#fff}
.hira_nodata .ico_nodata {display:inline-block;width:72px;height:72px;margin-bottom:10px;background-position:0 -450px}
.hira_nodata .txt_check {margin:20px 0 30px;color:#393a3d;line-height:20px}
.hira li{float:left;width:100%;}
.hira li dl dt a  {overflow:hidden;display:block;position:relative;line-height:18px;padding:16px 0 14px 30px;border:1px solid #ededed;border-bottom:none;color:#5f5f5f}
.hira li dl dt a .ico_arr {float:left;position:absolute;top:18px;right:30px;width:14px;height:14px;margin-top:2px;background-position: 0 -710px}
.hira li dl dt a.on  {overflow:hidden;font-weight:bold;background:#fff;color:#618ff1}
.hira li dl dt a.on .ico_arr {background-position: 0 -680px}
.hira li dl dt a.on .txt {width:500px; padding-right:10px;white-space:normal; color:#618ff1}
.hira li dl dt span  {display:block;float:left}
.hira li dl dt span.date:before {content:'.';float:left;margin-top:-3px;padding-right:3px}
.hira li dl dt span.date:after {content:'';float:right;width:1px;height:12px;margin-top:2px;margin-left:16px;background:#bababa}
.hira li dl dt span.txt  {overflow:hidden;width:500px;padding-left:14px;text-overflow:ellipsis;white-space:nowrap}
.hira li dl dd  {display:none;position:relative;padding:45px 39px 111px 39px;border:1px solid #ededed;border-bottom:none; background:#fafafc}
.hira li dl dd .btn {position:absolute;right:39px;bottom:45px;display:inline-block;height:24px;line-height:24px;padding:0 18px 0 8px;background-position: -19px -371px;border:1px solid #b9b9b9;border-radius:2px;color:#5f5f5f;font-size:11px;text-decoration:none;text-indent:0}
.hira li dl dd .btn.btn_print {right:100px;padding:0 7px;}
.hira li dl dd .btn.btn_print .btn_comm {display:inline-block;width:15px;height:15px;margin-left:5px;background-position:-46px -146px;vertical-align:middle;}
.print_hira {display:none;width:100%;border-bottom:1px solid #ededed;}
.print_hira dl dt a {overflow:hidden;display:block;position:relative;line-height:18px;padding:16px 0 14px 30px;border:1px solid #ededed;font-weight:bold;background:#fff;border-bottom:none;color:#618ff1}
.print_hira dl dt a .ico_arr {display:none;}
.print_hira dl dt a .txt {width:513px; padding-right:10px;white-space:normal; color:#618ff1}
.print_hira dl dt span {display:block;float:left}
.print_hira dl dt span.date:before {content:'.';float:left;margin-top:-3px;padding-right:3px}
.print_hira dl dt span.date:after {content:'';float:right;width:1px;height:12px;margin-top:2px;margin-left:16px;background:#bababa}
.print_hira dl dd  {display:block;position:relative;padding:45px 39px 111px 39px;border:1px solid #ededed;border-bottom:none; background:#fafafc}
.print_hira dl dd .btn {display:none;}
.print_bg{display:none}
/*심사청구*/
.list_section_wrap {overflow:hidden;margin-bottom:15px;}
.list_section_wrap .total {float:left;font-weight:bold;font-size:14px}
.list_section_wrap .total a {float:left;text-decoration:underline;}
.list_section_wrap .total span {font-weight:normal;}
.list_section_wrap .total span:before {content:'>';margin:0 5px;color:#9b9b9b;}
.list_section_wrap .total em {margin:0 5px;font-size:12px;font-weight:bold;color:#ff5a01;letter-spacing:-2px;font-family:Verdana;}
.list_section_wrap .order {float:right;margin-top:2px;}
.list_section_wrap .order li {float:left}
.list_section_wrap .order li a {float:left;display:block;margin-left:11px;color:#bfc1c2;text-decoration:none}
.list_section_wrap .order .ico_check { width:10px; height:10px; margin-top:5px;background-position:0 -1220px}
.list_section_wrap .order .on a {font-weight:bold;color:#606060}
.list_section_wrap .order .on .ico_check {background-position:0 -1235px;}
.list_section {clear:both;}
.list_section .list_cont {display:block;position:relative;overflow:hidden;padding:28px 26px 46px;margin-bottom:10px;border:1px solid #ededed;border-top-color:#4fa3f1;background:#fff}
.list_section .list_cont:hover {border-color:#4fa3f1;}
.list_section figure {overflow:hidden;float:left;width:142px;height:100px;margin-right:16px;border:1px solid #ededed}
.list_section figure img {width:100%;}
.list_section figure + div {float:left;width:480px;}
.list_section figure + div .txt li .ellipse {max-width:360px;}
.list_section .list_tit {font-size:16px;}
.list_section .list_tit .category {display:block;font-size:12px;color:#059ce5;letter-spacing:-2px;}
.list_section .list_tit strong {display:inline-block;overflow:hidden;max-width:100%;text-overflow:ellipsis;white-space:nowrap}
.list_section .list_tit strong span {padding-left:6px;font-size:13px;color:#8c8c8c;font-weight:normal;font-family:Tahoma sans-serif}
.list_section .txt {overflow:hidden;display:-webkit-box;height:80px;color:#5f5f5f;font-size:12px;line-height:20px;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:4}
.list_section .txt em {font-weight:bold;}
.list_section .txt li {position:relative;overflow:hidden;height:20px;padding-left:12px;}
.list_section .txt li:after {position:absolute;top:8px;left:0;content:'';width:4px;height:4px;border-radius:50%;background-color:#5f5f5f;}
.list_section .txt li strong {display:inline-block;position:relative;margin-right:6px;padding-right:6px;font-weight:normal;vertical-align:top;}
.list_section .txt li strong:after {position:absolute;top:5px;right:0;content:'';width:1px;height:11px;background-color:#dfdfdf;}
.list_section .txt li .ellipse {display:inline-block;overflow:hidden;max-width:525px;text-overflow:ellipsis;white-space:nowrap}
.list_section .tail {overflow:hidden;position:absolute;left:26px;bottom:22px;}
.list_section .tail span {position:relative;margin:0 9px;font-size:11px;color:#9f9f9f;line-height:15px}
.list_section .tail span:after {position:absolute;top:0;left:-10px;content:'';width:1px;height:10px;background-color:#e3e7ee;}
.list_section .tail span:first-child {margin-left:0}
.list_section .tail span:first-child:after {width:0;}
.list_section .tail span em {padding-left:2px;font-weight:bold;color:#666666;}
.no_serch {padding:100px 0;text-align:center;}
.guide_view .contents {position:relative;float:left;width:614px;padding:30px 40px 40px;border:1px solid #ededed;border-top-color:#31b9ff;background-color:#fff}
.view_head {position:relative;padding-bottom:12px;border-bottom:1px solid #ededed;}
.view_head .view_tit .category {display:block;margin-bottom:10px;font-size:12px;color:#059ce5;line-height:1;}
.view_head .view_tit strong {display:block;margin-bottom:5px;line-height:25px;font-size:20px;}
.view_head .view_tit strong span{padding-left:6px;font-size:13px;font-weight:normal;color:#8c8c8c;font-family:Tahoma sans-serif;}
.view_head .view_tit .txt {padding:4px 3px 3px;font-weight:bold;color:#fff;font-size:12px;vertical-align:top;font-family:Dotum, "돋움", serif}
.view_head .view_tit .txt.ing {background-color:#ff6633;}
.view_head .view_tit .txt.end {background-color:#059ce5;}
.view_head .tail {overflow:hidden;}
.view_head .tail .f_l {height:21px;margin-top:5px;}
.view_head .tail .f_l span {position:relative;margin:0 9px;font-size:11px;color:#9f9f9f;line-height:15px}
.view_head .tail .f_l span:after {position:absolute;top:0;left:-10px;content:'';width:1px;height:10px;background-color:#e3e7ee;}
.view_head .tail .f_l span:first-child {margin-left:0}
.view_head .tail .f_l span:first-child:after {width:0;}
.view_head .tail .f_l span em {padding-left:2px;font-weight:bold;}
.view_head .tail .f_l .ico_comm2 {width:14px;height:14px;margin:1px 0 0 0;}
.view_head .tail .f_l .ico_person {margin-right:0;background-position:0 -528px}
.view_head .tail .f_l .ico_2015 {background-position:0 -1000px}
.view_head .tail .f_r {font-size:11px;vertical-align:middle;color:#ababab}
.view_head .tail .f_r a {display:inline-block;}
.view_head .tail .f_r .btn_comm {display:inline-block;width:26px;height:26px;margin-right:10px;vertical-align:middle}
.view_head .tail .f_r .btn_share {background-position:0 -140px}
.view_head .tail .f_r .btn_print {background-position:-40px -140px}
.view_head .tail .f_r .btn_favorite {background-position:-80px -140px}
.view_head .tail .f_r .btn_down {background-position:-210px -317px;}
.edit_view {overflow:auto;width:615px;padding:34px 0;color:#5f5f5f}
.edit_view img {max-width:615px}
.edit_view + .btn_wrap {padding-top:20px;border-top:1px solid #ededed;}
.edit_view + .memo {position:relative;display:block;margin-bottom:40px;padding-top:30px;border-top:1px solid #ededed;}
.info_view .notice {position:relative;display:block;padding:20px 0 0 35px;border-top:2px solid #d5d6da;font-size:11px;color:#ababab;letter-spacing:-1px; background:#fff}
.info_view .notice .ico_comm2{position:absolute;left:0;top:22px;width:22px;height:22px;background-position:0 -965px;text-indent:0;}
.info_view .btn {margin-top:40px;text-align:center}
.info_view .btn.notice {padding-left:0;border-top:1px solid #ededed;}
.info_view .btn a {display:inline-block;margin:0 1px;padding-top:13px;width:78px;height:65px;border:1px solid #ededed;color:#9a9a9a;font-size:11px;text-decoration:none;text-align:center;vertical-align:middle;}
.info_view .btn em {display:block;margin-top:-2px;color:#8c9eb1}
.info_view .btn .txt_b{display:block;margin-top:2px;}
.info_view .btn .png_comm{display:inline-block;width:25px;height:24px;}
.info_view .btn .btn_like .png_comm{background-position:-70px -148px;}
.info_view .btn .btn_like.on .png_comm{background-position:-70px -175px;}
.info_view .btn .btn_favorite .png_comm{background-position:-102px -146px;}
.info_view .btn .btn_favorite.on .png_comm{background-position:-102px -176px;}
.info_view .btn a.on {background-position:center -166px}
/* 보험청구 상담 */
/* list */
.category_all {overflow:hidden;border:1px solid #e1e1e1;border-top:2px solid #059ce5;background:#fff;padding:22px 30px 12px;margin-bottom:30px;clear:both;}
.category_all li {float:left;width:20%;line-height:23px;margin-bottom:10px;}
.category_all li a {display:inline-block;padding:0 5px;color:#222;border-radius:2px;}
.category_all li a:hover{color:#fff;background-color:#059ce5}
.category_all li .on {color:#fff;background-color:#059ce5}
.category_all + .category_tail {margin-top:-20px;margin-bottom:30px;text-align:right;font-size:11px;color:#969696}
/* 리스트 */
.top_banner_tax {position:relative;width:100%;height:100px;margin-bottom:20px;background:url(../images/top_banner_tax.gif) no-repeat top left;}
.table table.type01{width:100%;border-top:2px solid #059ce5;border-bottom:1px solid #dedede;border-collapse:separate}
.table table.type01 th{height:34px;border-bottom:1px solid #dedede;color:#666;font-weight:normal;white-space:nowrap}
.table table.type01 td{min-height:40px;height:40px;border-top:1px solid #dedede;text-align:center;font-size:12px;color:#666}
.table table.type01 tr:first-child td{border-top:0 none}
.table table.type01 td.tit{padding-left:10px;font-size:14px;text-align:left}
.table table.type01 td.tit a{float:left;overflow:hidden;max-width:307px;color:#000;text-overflow:ellipsis;white-space:nowrap}
.table table.type01 td.tit a:hover {text-decoration:underline;}
.table table.type01 td.tit span{float:left;margin-left:3px;color:#fe5e1e;font-weight:bold;letter-spacing:-2px;}
.table table.type01 td.tit span.ico_lock{width:10px;height:14px;margin:0 5px;background-position:-50px -1730px;}
.table table.type01 td.tit b {float:left;display:block;margin:2px 0 0 3px;color:#ff5151;font-size:10px;letter-spacing:-1px;text-align:center;font-family:Verdana}
.table table.type01 td.txt {font-weight:bold;}
.table table.type01 td.txt.ing {color:#ff6633;}
.table table.type01 td.txt.end {color:#059ce5;}
.table table.type01 td.name{color:#000;}
.table table.type01 td.name span{display:block;overflow:hidden;max-width:80px;color:#000;text-overflow:ellipsis;white-space:nowrap}
.view .contents {position:relative;float:left;padding:30px 39px 40px 40px;width:615px;border:1px solid #ededed;border-top:2px solid #31b9ff;background:#fff}
/* 쓰기 */
.tax_write .contents {float:initial;width:898px;padding:30px 40px;margin-bottom:30px;border:1px solid #ededed;border-top:1px solid #31b9ff;background:#fff}
.tax_write .write_title {width:100%;overflow:hidden;}
.tax_write .writeBox {position:relative;padding-top:15px;}
.tax_write .writeBox .w100 {width:100%;overflow:hidden;margin-top:14px;}
.tax_write .writeBox .w100 .ip_tit {display:inline-block;width:110px;height:40px;font-weight:bold;color:#666666;}
.tax_write .writeBox .w100 .ip_tit:before {display:inline-block;content:'*';margin:10px 6px 0 0;color:#ff0000;font-weight:bold;}
.tax_write .writeBox .w100 .ip_tit.line_tit {display:block;width:882px;padding-left:8px;background-color:#f9f9f9;border-bottom:1px solid #d9d9d9;}
.tax_write .writeBox .w100.text_area {width:886px;border:1px solid #d9d9d9;}
.tax_write .writeBox .ip_txt {width:156px;height:38px;padding:0 10px;border:1px solid #d9d9d9;line-height:38px}
.tax_write select {-webkit-appearance:none;-moz-appearance:none;appearance:none}
.tax_write select::-ms-expand {display:none;/* 화살표 없애기 for IE10, 11*/}
.tax_write .writeBox .select {min-width:160px;height:40px;padding-left:10px;padding-right:5px;border:1px solid #d9d9d9;background:url(../images/ico_comm.gif) 100% -1798px no-repeat}
.tax_write .writeBox .select + .select {margin-left:10px;}
.tax_write .writeBox .ip_radio {margin-right:5px;}
.tax_write .writeBox .ip_radio + label {display:inline-block;margin-right:10px;line-height:18px;vertical-align:middle;cursor:pointer;}
.tax_write .writeBox .info_txt {margin:50px 0 24px;font-size:14px;font-weight:bold;text-align:center;color:#666666;}
.tax_write .writeBox .btn_area {width:100%;overflow:hidden;text-align:center}
.tax_write .writeBox .btn_area a {display:inline-block;overflow:hidden;width:118px;height:43px;margin:0 5px;line-height:45px;background:#fff;border:1px solid #d9d9d9;border-radius:3px;font-weight:bold;letter-spacing:-1px;color:#4a4a4a;text-decoration:none;}
.tax_write .writeBox .btn_area .bt_blue {border-color:#0f83bb;background-color:#059ce5;color:#fff}
.tax_write .writeBox .editerViewArea {width:886px;height:215px;border:0}
.tax_write .writeBox .w100.text_area textarea {width:886px;height:195px;padding:10px;border:0;box-sizing:border-box;}


@media print {
	.guide_view #header,
	.guide_view #feature,
	.guide_view .left_section,
	.guide_view .right_section,
	.guide_view #container .comment,
	.guide_view .info_view .btn,
	.guide_view .info_view .txt,
	.guide_view footer,
	.guide_view .nav_util,
	.guide_view .btn_area,
	.guide_view .btn_wrap,
	.guide_view .memo strong,
	.guide_view .memo .placeholder,
	.guide_view .edu_data .view_head,
	.contents .right,
	.contents .info_view .txt,
	.hira_list #header,
	.hira_list .contents,
	.hira_list .left_section,
	.hira_list .right_section,
	.hira_list .nav_util,
	.hira_list .inner_header,
	.hira_list footer {display:none}
	.guide_note #container .contents,
	.guide_view #container .contents{float:none;margin:0 auto}
	.guide_view #container .contents.edu_data .memo textarea {width:730px;}
	.guide_view #container .contents.edu_data {width:100%;height:auto;box-sizing:border-box}
	.guide_note#wrap, .guide_view#wrap{-webkit-print-color-adjust:exact;background:#fff}/* 2016-09-09 배경아이콘 출력 수정(크롬, 사파리만 해당) */
	.print_bg{display:block}
	.print_hira{display:block}
	.memo input.text::-webkit-input-placeholder {color:#fff;}
	.memo input.text:-moz-input-placeholder {color:#fff;}
	.memo input.text:-ms-input-placeholder {color:#fff;}
}
/*
.box_aside_list {overflow:hidden;padding:25px 0;background-color:#fff;border:0}
.box_aside_list + .box_aside_list {border-top:1px solid #ebeef3}
.box_aside_list:first-child {padding-top:0;}
.box_aside_list:first-child .btn_more {top:2px;}
.box_aside_list:first-child .control {top:0}
.box_aside_list .aside_slide li{overflow:hidden;float:left;width:240px;margin-right: 0}
.box_aside_list .btn_more, .box_aside_list .control {right:0;}*/

/*개원가 진료 Tip*/
.tips#container {width:100%;padding:0;margin-top:0;font-family: 'SpoqaHanSans', 'dotum', '돋움';}
.tips#container button {font-family: 'SpoqaHanSans', 'dotum', '돋움';}
.tips .inner {position:relative;overflow:hidden;width:980px;margin:40px auto 0;padding-bottom:50px;clear:both}
.tips .inner:after {position:absolute;top:0;right:270px;bottom:0;content:'';width:1px;background-color:#e5e5e5;z-index:-1}
.tips .contents {width:680px;}
.tips .tips_top .inner:after,
.tips .tips_introduce.inner:after,
.tips.tips_write .inner:after {display:none}
.tips.tips_write .contents {float:inherit;width:100%;}
.tips .btn_wrap {margin:0;}
.tips .btn_wrap a {display:inline-block;width:158px;height:42px;padding:0;font-weight:normal;line-height:44px;text-align:center;font-size:14px;border-radius:0;}
.tips .btn_blue:hover, .tips .btn_blue:active,
.tips .btn_blue {background-color:#0ebcee;border:1px solid #0ebcee;color:#fff;}
.tips .btn_white {border:1px solid #c1c1c1;color:#555;}
.tips .btn_wrap a + a {margin-left:7px;}
/* 2021-10-19 수정 */
.tips_top {height:317px;background:#0fa2ff url('../images/bg_tips_top.jpg') no-repeat top center;}
.tips_top .inner {margin-top:0;position:relative;overflow:visible;}
.tips_top .tips_title {margin:45px 30px 20px;width:595px;height:160px;padding:0;background:url('../images/tips_title.png') no-repeat top left;font-size:0}
.tips_top .btn_box {margin-left:30px;width:570px;padding:16px 20px;background-color:#fff;box-sizing:border-box;border-radius:3px;}
/* 2021-10-19 삭제 .tips_top .btn_box .btn_write {display:inline-block;width:184px;margin-right:15px;padding:12px 0;text-align:center;font-size:15px;box-sizing:border-box;border-radius:3px;} */
/* 2021-10-19 추가 */
.tips_top .btn_write {display:block;position:absolute;left:776px;top:243px;width:147px;height:37px;background:transparent;overflow:hidden;text-indent:-9999em;}
.tips_top .btn_box .words {display:inline-block;color:#0bb1e1;font-size:15px;vertical-align:middle}
.tips_top .btn_box .words span {margin:0 4px}
/*tab_txt*/
.tips_main .list_top {border-bottom:1px solid #e0e0e0}
.tips_main .list_top .tab_txt {width:980px;height:42px;margin:25px auto 0;text-align:center}
.tips_main .tab_txt li {height:auto;margin:0 10px;border:0;}
.tips_main .tab_txt li .link_txt {height:42px;padding:0;color:#848484;font-size:19px;font-weight:bold;}
.tips_main .tab_txt li.on .link_txt {border-bottom:3px solid #00affe;color:#202020}
.tips_main .btn_wrap {position:absolute;top:0;right:0;margin:0;}
.tips_introduce .contents {overflow:hidden;float:inherit;width:100%;padding-bottom: 80px;}
.tips_introduce .intro_txt {margin:30px 0 60px;font-size:38px;text-align:center;letter-spacing:-0.5px;line-height:1.2;clear:both;}
.tips_introduce .f_l {width:49%;color:#666666;font-size:16px;word-break:keep-all;word-wrap:break-word}
.tips_introduce .f_r {width:46%;}
.tips_introduce .doctor {display:block;margin-bottom:20px;font-size:26px;letter-spacing:-1px;}
.tips_introduce .doctor span {margin-left:10px;font-size:20px;font-weight:normal;}
.tips_introduce .doctor_info {font-size:16px;}
.tips_introduce .doctor_info > li {margin-top:15px;}
.tips_introduce .doctor_info strong {display:inline-block;width:80px;font-size:16px;}
.tips_introduce .doctor_info p,
.tips_introduce .dot_list {display:inline-block;width:calc(100% - 90px);font-size:18px;vertical-align:top;word-break:keep-all;word-wrap:break-word}
.tips_introduce .dot_list li {margin-bottom:5px;}
.tips_introduce .dot_list li:before,
.tips_introduce .doctor_info p.dot:before {display:inline-block;margin:-3px 5px 0 0;content:'';width:4px;height:4px;border-radius:50%;background-color:#00b0ff;vertical-align: middle}
/* 2021-10-19 추가 */
.tips_introduce.v2 {}
.tips_introduce.v2 .txt_img {margin-bottom:46px;}
.tips_introduce.v2 .description {font-size:16px;color:#261743;line-height:28px;}
.tips_introduce.v2 .description strong {text-decoration:underline;color:#0fa2ff;font-weight:800;}
.tips_introduce.v2 .rounded_box {padding:33px 40px;border:1px solid #e1e1e1;border-radius: 5px;}
.tips_introduce.v2 .doctor {display:block;margin-bottom:1.25em;text-align:center;font-size:30px;}
.tips_introduce.v2 .portrait {display:block;margin:0 auto 20px auto;}
.tips_introduce.v2 .dot_list {font-size:15px;}
.tips_introduce.v2 .doctor_info strong {font-size:15px;}
.tips_introduce.v2 p.strong {font-size:16px;}
.tips .list_section_wrap .total {font-size:18px;font-weight:normal;color:#202020;line-height:44px;}
.tips .list_section_wrap .total em{font-size:18px;font-weight:normal;color:#ff2e2e;}
.list_tips {border-bottom:1px solid #1f1f1f}
.list_tips .no_list {padding:150px 0;border-top:1px solid #1f1f1f;text-align:center;font-size:16px;}
.list_tips .list_cont {padding:30px 10px 30px 60px;border-top:1px solid #ededed}
.list_tips .list_cont:first-child {border-top-color:#1f1f1f;}
.list_tips .ico_new {display:inline-block;width:18px;margin:4px 0 0 2px;background-color:#ff4247;color:#fff;font-size:11px;font-weight:bold;text-align:center;vertical-align:top;font-family:'Arial', Tahoma, 'Helvetica'}
.list_tips .ico_type {float:right;display:block;width:22px;height:22px;margin-top:-23px;padding:12px;background-color:#80deef;border-radius:50%;}
.list_tips .ico_type .ico_comm_v2 {width:22px;height:22px;}
.list_tips .ico_voice {background-position:0 -445px}
.list_tips .ico_text {background-position:-25px -445px}
.list_tips .ico_video {background-position:-50px -445px}
.list_tips .ico_Q .ico_comm_v2 {display:inline-block;width:19px;height:19px;margin:6px 3px 0 0;background-position:-75px -478px;}
.list_tips .list_tit {display:block;width:100%;margin-left:-60px;}
.list_tips .tit  {display: -webkit-inline-box; max-width:calc(100% - 95px); max-height: 48px; font-size:16px; font-weight: normal; overflow: hidden; text-overflow:ellipsis; word-wrap:break-word; white-space:normal; -webkit-box-orient:vertical; -webkit-line-clamp:2}
.list_tips .tit_num {display:block;float:left;min-width:50px;margin-right:8px;font-size:18px;color:#00bde2;text-align:center;box-sizing:border-box}
.tips_question .list_tips .list_tit {width:calc(100% + 60px)}
.tips_question .list_tips .tit_num {min-width:55px;margin-right:3px;color:#00adf9}
/* 
.list_tips .ico_Q {float:left;width:22px;height:22px;margin:5px 10px 20px -35px;background-position:-75px -478px}
.tips_note .list_tips .list_tit {display:block;width:100%;margin-left:-60px;}
.tips_note .list_tips .tit {overflow:hidden;display:inline-block;max-width:calc(100% - 85px);height:22px;font-size:18px;font-weight:normal;text-overflow:ellipsis;white-space:nowrap}
.tips_note .list_tips .tit_num {display:block;float:left;min-width:50px;margin-right:10px;font-size:18px;color:#00bde2;text-align:center;}
.tips_question .list_tips .list_cont {padding-left:35px;}
.tips_question .list_tips .list_tit {overflow:hidden;display:inline-block;max-width:100%;height:22px;font-size:18px;font-weight:normal;text-overflow:ellipsis;white-space:nowrap}
 */
.tips .tail {margin-top:5px;color:#999999;font-size:13px;}
.tips .list_cont .tail .cmt, .tips .list_cont .tail .hits {color:#333333}
.tips .ico_cmt {width:16px;height:16px;margin:3px 5px 0 10px;background-position:0 -2140px }
.tips .ico_hits {width:20px;height:12px;margin:5px 3px 0 5px;background-position:0 -2160px }
.tips .ico_flow {width:16px;height:15px;margin:3px 5px 0 0;background-position:0 -2035px }
.tips .tail span + span:before {display:inline-block;content:'';width:2px;height:9px;background-color:#e8e8e8;margin:5px 5px;vertical-align:middle}
.tips .tail .ico_answer {display:inline-block;margin-left:10px;padding:0 9px 1px;border:1px solid #18b5f8;color:#18b5f8;border-radius:10px;}
.tips .tail .ico_answer:before,
.tips .tail .ico_answer + .date:before {display:none;}
.tips .aside_list .answer_list .list_cont:before {position:absolute;left:0;top:-1px;content:"A";font-size:13px;font-weight:bold;color:#00affa}
.tips .aside_list .answer_list .list_cont {padding-left:17px;}
.tips .aside_list .list_tit {letter-spacing:-1.5px;}
.tips .box_ad + .aside_list {margin-top:30px;}
.tips .aside_list:last-child {border-bottom:1px solid #ebeef3}
/*개원가 진료 Tip 상세*/
.tips_view .inner{margin-top:50px;}
.tips_view .contents {float:inherit;width:100%;}
.tips_view  #rightAside {float:right;position:relative;width:240px;padding-left:29px;margin:30px 0 0 0}
.tips_view .view_head {position:relative;width:100%;min-height:92px;padding:30px 0;border-top:2px solid #383d48;border-bottom:1px solid #d9d9d9;background-color:#fff;table-layout:fixed}
.tips_view .view_head .view_tit {display:block;width:calc(100% - 200px);vertical-align:top;word-break:keep-all;word-wrap:break-word;}


.tips_view .view_head .view_tit .ico_Q .ico_comm_v2{width:31px;height:31px;padding:0;margin-right:3px;background-position:-75px -445px;}
.tips_view .view_head .view_tit .ico_Q.tit_num {font-size:32px;color:#00adf9;line-height:1;}
/* .tips_view .view_head .view_tit .ico_Q {width:31px;height:31px;margin-right:15px;padding:0;background-position:-75px -445px;} */

.tips_view .view_head .tail {font-size:14px;color:#848484;}
.tips_view .view_head .btn_wrap {position:absolute;right:0;bottom:60px;vertical-align:bottom;}
.tips_view .view_head .btn_wrap a {width:98px;height:38px;line-height:38px;}
.tips_view .view_tit .category {display:block;color:#2e7fe3;font-size:15px}
.tips_view .view_tit strong {display:inline-block;width:655px;margin:4px 0 8px;font-size:28px;font-weight:normal;line-height:1.2;word-break:break-all}
.tips_view .view_tit .tit_num {margin-right:15px;font-size:28px;color:#42c7e6;vertical-align:top}
.tips_view .view_tit .scopes {color:#848484;font-size:14px;}
.tips_view .view_tit span + span {display:inline-block;}
.tips_view .view_tit span + span:before {display:inline-block;content:'';width:1px;height:12px;margin:0 5px;background-color:#dadada;vertical-align:middle;}
.tips_view .view_area {float:left;width:680px;padding:0 30px 30px 0}
.tips_view .view_area .txt_num {margin-left:5px;color:#333;font-family:Tahoma , Verdana, 'SpoqaHanSans', 'dotum', '돋움'}
.tips_view .view_area .view_content {position:relative;width:100%;margin:30px 0;color:#555555;font-size:15px;line-height:1.8;word-break:break-all;word-wrap:break-word;}
.tips_view .view_area .view_content img {max-width:100%;margin:10px 0;cursor:pointer;}
.tips_view .view_area .view_content a {display:inline-block;}
.tips_view .view_area .view_content a:hover {text-decoration:underline}
.tips_view .view_area .view_content + .btn_wrap {border-top:1px solid #d8d8d8;}
.tips_view .view_area .down_area {margin:30px 0;padding:20px 30px 20px 110px;background-color:#f4f4f7;}
.tips_view .view_area .down_area strong {display:inline-block;float:left;margin-top:8px;margin-left:-75px;vertical-align:top;font-size:15px;}
.tips_view .view_area .down_area .file{display:inline-block; margin-left:15px;}
.tips_view .view_area .down_area a {margin:8px 0;line-height:19px;font-size:13px;color:#848484;text-decoration:underline}
.tips_view .view_area .down_area .ico_file {display:inline-block;width:12px;height:12px;margin-right:5px;background-position:-230px -355px;vertical-align:middle;}
.tips_view .view_area .notice {margin-bottom:30px;padding-bottom:30px;border-bottom:1px solid #d8d8d8;font-size:13px;color:#848484;word-break:keep-all;word-wrap:break-word}
.tips_view .view_area .notice .ico_comm2{float:left;width:18px;height:18px;margin:2px 5px 0 0;background-position:0 -1890px;text-indent:0;}
.tips_view .view_area .notice + .btn_wrap {border-top:0;padding-top:0;}
.tips_view .view_area .btn_wrap {overflow:hidden;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;margin-top:30px;padding:20px 0 30px;}
.tips_view .view_area .btn_blue,
.tips_view .view_area .btn_white {width:148px;letter-spacing:0}
.tips_view .view_area .btn_list {width:118px;float:right}
.tips .comment h3 {font-size:17px;font-weight:normal;}
.tips .comment h3 span {font-size:17px;}
.tips .comment .info_append .tf_secret,
.tips .comment .info_append .tf_secret + label {display:none;}
.tips .comment .cmt_write .btn_regist {font-weight:normal;}
.tips .video_wrap {position:relative;width:100%;height:383px;margin:30px 0}
.tips .audio_wrap {margin:30px 0}
.tips .audio_wrap audio{width:300px;max-height:50px;border-radius:25px;}
.tips .audio_wrap p {padding:10px}
.answer_wrap {position:relative;margin:10px 0;padding:30px;border:1px solid #e2e2e2;}
.answer_wrap .answer_head {}
.answer_wrap .answer_head strong {display:inline-block;font-size:18px;font-weight:normal;}
.answer_wrap .answer_head .date {display:inline-block;margin:3px 0 0 5px;font-size:15px;color:#848484;vertical-align: top;}
.answer_wrap .answer_head .ico_flow {margin:8px 0 0}
.answer_wrap .answer_head .ico_A {width:28px;height:29px;margin-right:15px;background-position:-110px -445px;}
.answer_wrap .btn_help {display:block;width:150px;margin:0 auto;line-height:46px;border:1px solid #c1c1c1;color:#555;font-size:15px;letter-spacing:-1px;}
.answer_wrap .btn_help .ico_comm2 {width:18px;height:16px;margin-top:-2px;margin-right:7px;background-position:0 -730px;vertical-align:middle;}
.answer_wrap .btn_help.on .ico_comm2 {background-position:0 -750px;}
.answer_wrap .btn_modify {position:absolute;top:30px;right:30px;text-decoration:underline;font-size:13px;color:#555555}
.answer_wrap .video_wrap {height:348px;}

/*개원가 진료 Tip 쓰기*/
.tips_write .essen:before {display:inline-block;content:'*';color:#ff4343;vertical-align:bottom;line-height:1;}
.tips_write .write_area > li {padding:30px 0 40px;}
.tips_write .write_area > li {border-bottom:1px solid #e7e9eb;}
.tips_write .write_area input::placeholder {color:#999999}
.tips_write .write_area input::-webkit-input-placeholder {color:#999999}
.tips_write .write_area input:-ms-input-placeholder {color:#999999}
.tips_write .write_area .tit {display:block;margin-bottom:20px;font-size:20px;font-weight:normal}
.tips_write .write_area .tit .essen {font-size:0;ertical-align:bottom;}
.tips_write .write_area .tit .essen:before {font-size:20px;}
.tips_write .tit_write {border-bottom:1px solid #202020;}
.tips_write .tit_write .tit_cont {display:inline-block;font-size:26px;color:#3a3d40}
.tips_write .tit_write .essen {float:right;margin-top:10px;font-size:16px;vertical-align:bottom;}
.tips_write .file_notice {margin-top:20px;font-size:14px;color:#999999}
.tips_write .file_notice .fc_red {color:#ff4343}
.tips_write ul.file_notice {margin:15px 0 0;}
.tips_write .file_notice li {margin-top:5px;}
.tips_write .edit_notice {margin:20px 0 15px;font-size:16px;}
.tips_write .notice {padding-top:30px;font-size:15px;color:#666}
.tips_write .notice .ico_comm2{width:18px;height:18px;margin:2px 5px 0 0;background-position:0 -1890px;text-indent:0;}
.tips_write .question_box {padding:30px 0 40px;border-bottom:1px solid #e7e9eb;}
.tips_write .question_box .tit {font-size:18px;color:#202020;font-weight:normal;}
.tips_write .question_box .question_cont {margin-top:20px;padding:20px;background-color:#f5f5f5;font-size:15px;color:#555555;word-break:keep-all;word-wrap:break-word}
.tips_write .edit_area {width:100%;min-height:480px;}
.tips_write .edit_area textarea {width:100%;min-height:480px;box-sizing:border-box}
.tips_write .btn_area {width:100%;overflow:hidden;padding-top:30px;text-align:center;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.tips_write .btn_area a {display:inline-block;width:300px;height:64px;margin:0 5px;line-height:64px;background-color:#fff;border:1px solid #cbcbcb;color:#555555;font-size:18px}
.tips_write .btn_area .bt_blue {border-color:#0ebcee;background-color:#0ebcee;color:#fff}
.tips_write .btn_area .bt_red {border-color:#ff4343;color:#ff4343}
/*타입선택*/
.tips_write .note_type {margin-bottom:20px;}
.tips_write .note_type .inp_type {display:none;opacity:0;}
.tips_write .note_type .inp_type + label {position:relative;display:inline-block;width:90px;height:22px;padding:10px 20px;margin-right:10px;border:1px solid #d8d8d8;background-color:#f9f9f9;border-radius:21px;font-size:16px;color:#666666;line-height:21px;cursor:pointer;}
.tips_write .note_type .ico_comm_v2 {width:22px;height:22px;margin-right:18px;background-position-y:-470px}
.tips_write .note_type .ico_voice {background-position-x:0}
.tips_write .note_type .ico_text {margin-right:13px;background-position-x:-25px}
.tips_write .note_type .ico_video {background-position-x:-50px}
.tips_write .note_type input:checked[type='radio'] + label {border-color:#5cccf1;background-color:#5cccf1;color:#fff}
.tips_write .note_type input:checked[type='radio'] + label .ico_comm_v2 {background-position-y:-445px;}
.tips_write .input_area .inp_txt {display:inline-block;width:660px;height:44px;padding-left:20px;border:1px solid #d8d8d8;background-color:#f9f9f9;font-size:15px;line-height:44px;box-sizing: border-box;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.tips_write .input_area .count {display:inline-block;margin-left:5px;vertical-align:bottom;}
.tips_write .upload_box {display:none;position:relative;width:615px;margin-top:20px;padding:30px;background-color:#f5f5f5;box-sizing:border-box;}
.tips_write .upload_box .file_notice {color:#848484}
.tips_write .upload_box .percent {display:inline-block;font-size:17px;color:#202020;font-weight:bold;}
.tips_write .upload_box .percent span {margin-left:7px;color:#29b6f6}
.tips_write .upload_box .img_loading {display:inline-block;margin-left:15px;}
/* 파일첨부 */
.tips_write .add_file{position:relative;overflow:hidden;}
.tips_write .add_file .link_file{display:inline-block;height:44px;}
.tips_write .add_file .inp_file {display:none;}
.tips_write .add_file .link_file .txt_file_name{display:inline-block;width:334px;height:31px;padding:6px 12px 5px;border:1px solid #d8d8d8;background-color:#f9f9f9;font-size:14px;line-height:31px;vertical-align:top;}
.tips_write .add_file .txt_file_name .placeholder {color:#999999}
.tips_write .add_file .txt_add_file {display:inline-block;width:118px;height:42px;margin-left:5px;border:1px solid #00adf9;color:#00adf9;font-size:14px;line-height:44px;text-align:center;vertical-align:top;}
.tips_write .add_file .btn_del_file, .add_file .btn_del_check {display:inline-block;width:118px;height:44px;margin-left:5px;border:1px solid #c8c8c8;color:#555555;font-size:14px;line-height:44px;text-align:center;vertical-align:top;font-family: 'SpoqaHanSans', 'dotum', '돋움';}
/*멀티첨부파일*/
.tips_write .input_file_multi .txt_add_file {margin:0}
.tips_write .input_file_multi .list_file {overflow:hidden;display:inline-block;width:calc(100% - 160px);height:35px;margin-left:5px;padding:4px 12px 3px;border:1px solid #d8d8d8;background-color:#f9f9f9;font-size:14px;line-height:31px;vertical-align:top;}
.tips_write .input_file_multi .list_file li {float:left;max-width:160px;height:19px;padding:7px 0;}
.tips_write .input_file_multi .list_file li + li {margin-left:10px;}
.tips_write .input_file_multi .list_file .txt_file_name {overflow:hidden;display:inline-block;min-width:50px;max-width:130px;height:auto;padding:3px 0;border:0;font-size:13px;color:#6a7180;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;line-height:16px}
.tips_write .input_file_multi .btn_delete {display:inline-block;width:14px;height:14px;margin:3px;border:1px solid #dededf;background-color:#fff;background-position:2px -288px;vertical-align:top;}
/*파일 업로드 팝업*/
.layer_fileupload {position:fixed;top:50%;left:50%;margin-left:-190px;margin-top:-170px;z-index:102}
.layer_fileupload .popup {padding-top:30px;}
.layer_fileupload .img_loading {display:block;width:50px;height:15px;margin:30px auto 20px;}
.bg_pop_upload {display:none;position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background-color:#000;opacity:0.7;z-index:101}
/* 성공경영가이드 [S] - 리스트 */
#container.manage_guide {width:100%;margin:0;padding:0;background-color:#fff;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.manage_guide .inner {position:relative;overflow:hidden;width:980px;margin:0 auto;padding:40px 0}
.manage_guide .inner:after {position:absolute;top:40px;right:270px;width:1px;height:calc(100% - 40px);background-color:#e5e5e5;content:''}
.manage_guide .content {float:left;width:680px}
.manage_guide .right_section{float:right;width:240px;margin-left:14px}
.manage_guide .request .ico_free {display:block;position:absolute;top:20px;right:0;padding:1px 8px;background-color:#ff4621;border-radius:15px;font-size:11px;color:#fff;font-weight:bold;font-family:verdana}
.manage_guide .manage_top {overflow:hidden;width:100%;height:120px;padding:60px 0;background:#7bc5db url('../images/bg_manage_top.jpg') no-repeat top center}
.manage_guide .manage_top .inner {padding:20px 0}
.manage_guide .manage_top .inner:after {display:none}
.manage_guide .manage_top .tit {display:block;font-size:26px;color:#fff;}
.manage_guide .select_box {overflow:hidden}
.manage_guide .select_box select {float:right;width:190px;height:42px;padding:0 8px;background:#fff url(../images/ico_comm.gif) 100% -1795px no-repeat;border:1px solid #dadbdd;color:#848484;font-size:15px;line-height:42px;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.manage_guide .select_box select::-ms-expand {display:none;/* 화살표 없애기 for IE10, 11*/}
.manage_guide .manage_list {overflow:hidden;margin:20px 12px 0 50px;}
.manage_guide .manage_list .manage_cont {float:left;width:146px;margin:0 30px 35px;text-align:center}
.manage_guide .manage_cont .img {position:relative;overflow:hidden;width:146px;height:204px;box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3)}
.manage_guide .manage_cont .img img{max-width:100%;height:100%}
.manage_guide .manage_cont .ico_new {position:absolute;top:0;left:0;width:53px;height:53px;background-image:url(../images/ico_new.png);font-size:0}
.manage_guide .manage_cont .tit {overflow:hidden;width:100%;margin-top:20px;font-size:14px;text-align:center;color:#00bde2;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap}
.manage_guide .manage_cont:hover .tit {text-decoration:underline}
.manage_guide .manage_cont .txt_info {overflow:hidden;width:100%;margin-top:20px;font-size:15px;text-overflow:ellipsis;white-space:nowrap}
.manage_guide .manage_cont .tit + .txt_info {margin-top:0;}
.manage_guide .paging {clear:both}
/*성공경영가이드 - 뷰*/
.manage_guide_view .manage_top {height:260px;padding:40px 0;background:#d4f0f0}
.manage_guide_view .manage_top .img {float:left;margin:0 50px 0 125px;}
.manage_guide_view .manage_top .info {float:left;margin-top:20px}
.manage_guide_view .manage_top .tit_book {display:block;font-size:18px;font-weight:bold;color:#02b8ce}
.manage_guide_view .manage_top .monthly_book {font-size:30px;font-weight:bold}
.manage_guide_view .manage_top .btns {margin-top:50px;}
.manage_guide_view .manage_top .btn_all_down {display:inline-block;height:18px;padding:15px 40px;background-color:#0ebcee;line-height:18px;color:#fff;text-align:center;font-size:16px;}
.manage_guide_view .manage_top a + a {margin-left:10px;}
.manage_guide_view .manage_top .btn_all_down .btn_comm {display:inline-block;width:21px;height:18px;margin-right:10px;background-position:-115px -410px;vertical-align:top}
.manage_guide_view .edit_view {width:100%;padding:0}
.manage_guide_view .edit_view img {max-width:100%}
.manage_guide_view .btn_list {display:block;width:238px;height:54px;line-height:54px;margin:30px auto 0;border:1px solid #e4e4e4;text-align:center;color:#484848;font-size:16px;clear: both}
/* 성공경영가이드 aside */
.manage_guide .bnr_aside {padding-bottom:30px;}
.manage_guide .bnr_aside .link_btn {margin:10px 0 20px}
.manage_guide .bnr_aside .link_btn {font-family: 'dotum', '돋움'}
.manage_guide .right_section{float:right;width:240px;margin-left:14px}
.manage_guide .one_link {padding:30px 0;border-top:1px solid #ebeef3}
.manage_guide .one_link .box_tit {padding:0;border:0;color:#1e66b1;font-size:14px;font-weight:normal;letter-spacing:-1px;}
.manage_guide .one_link .tit {font-weight:bold;font-size:15px;color:#333333}
.manage_guide .one_link .img {width:128px;height:auto;margin:20px auto}
.manage_guide .one_link .img img {width:100%}
.manage_guide .one_link .detail_list {margin-top:20px}
.manage_guide .one_link .detail_list li {overflow:hidden;width:100%;border-bottom:1px solid #f4f4f4;line-height:39px;text-overflow:ellipsis;white-space:nowrap;font-size:14px;color:#484848}
.manage_guide .one_link .detail_list li:first-child {border-top:1px solid #f4f4f4}