@charset "utf-8";
/*레이아웃*/
.ico_enter {display:inline-block;background:url(../images/ico_enter.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top}
.mypage #container {position:relative;margin-top:12px;font-family:'SpoqaHanSans', 'dotum', '돋움';font-size:14px;}
.mypage #container:before{content:'';position:absolute;top:-12px;left:210px;width:1px;height:calc(100% + 12px);background-color:#dadae0;}
.left_wrap {float:left;width:210px;margin-top:33px;}
.mypage .contents {float:left;width:730px;margin-left:40px}

/*왼쪽메뉴*/
.list_my > li {margin-bottom:30px;}
.link_my {font-size:17px;}
.list_depth2 li {margin:10px 0}
.list_depth2 .link_my {font-size:15px;color:#848484;}
.list_depth2 .link_my:before {display:inline-block;content:'';width:5px;height:4px;margin:8px 5px 0 0;background-color:#bfbfbf;border-radius:50%;vertical-align:top;}
.list_depth2 .link_my:hover, .list_depth2 .on .link_my {color:#68a0ff}
.list_depth2 .link_my:hover:before, .list_depth2 .on .link_my:before {background-color:#68a0ff;}
/**/
select{height:33px;padding:4px 2px 4px;border:1px solid #dfdfdf}
select.select{display:inline-block;}
input.inp_txt{height:28px;line-height:28px;padding:0 8px;border:1px solid #c0c0c0;color:#555555;vertical-align:top;}
input.inp_txt::-webkit-input-placeholder{font-size:12px;color:#999999;letter-spacing:-1px}
input.inp_txt::-moz-placeholder{font-size:12px;color:#999999;letter-spacing:-1px}
input.inp_txt:-ms-input-placeholder{font-size:12px;color:#999999;letter-spacing:-1px}
.readonly {background-color:#f6f7f9;color:#999;}
input:read-only {background-color:#f6f7f9;color:#999;}
input:-moz-read-only {background-color:#f6f7f9;color:#999;}
img.ui-datepicker-trigger{display:inline-block;padding:5px;margin-left:-1px;border:1px solid #dadbdd;cursor:pointer;vertical-align:middle}
/*텍스트 라디오버튼*/
.input_radio {overflow:hidden;display:inline-block;margin-top:2px;vertical-align:middle;}
.input_radio input[type="radio"] {position:absolute;width:0;height:0;text-indent:100%;border:0;}
.input_radio .tit_radio {display:block;float:left;padding:8px 15px 5px;border:1px solid #dadbdd;color:#6d6d6e;font-size:11px;cursor:pointer;}
.input_radio .tit_radio:last-child {margin-left:-1px;border-left:1px solid #869cc3;}
.input_radio input[type="radio"]:checked + .tit_radio {background-color:#869cc3;border-color:#869cc3;color:#fff;}
/*텍스트 버튼*/
.ck_control {overflow:hidden;display:inline-block;vertical-align:middle;}
.ck_control .ck_btn {display:block;float:left;padding:8px 15px 7px;margin-left:-1px;border:1px solid #dadbdd;background:#fff;color:#6d6d6e;font-size:11px;}
.ck_control .ck_btn:first-child {margin-left:0;}
.ck_control .ck_btn.on {background:#869cc3;border-color:#869cc3;color:#fff;}
.ck_control .ck_btn.on + .ck_btn {border-left:1px solid #869cc3;}
.all_chk {position:absolute;top:0;right:0;}
.all_chk .ck_btn {padding:8px 19px 6px;}
.all_chk .ck_btn.on {background:#586780;border-color:#586780;}
.all_chk .ck_btn.on + .ck_btn {border-left:1px solid #586780;}

/*기본 체크박스*/
.inp_chkbox {display:inline-block;width:100px;margin:7px 16px 8px 0; }
.inp_chkbox .tit_chkbox {display:inline-block;padding-left:5px;color:#666;font-size:12px;cursor:pointer;}
.inp_chkbox .inp_chk {cursor:pointer;}
/*탭*/
/*.tab_area {margin-top:40px;}
.tab_point {overflow:hidden;display:table;width:100%;table-layout:fixed;margin-bottom:40px;}
.tab_point li {position:relative;display:table-cell;height:44px;border:1px solid #dbdfe7;border-left:0;background-color:#f6f7f9;line-height:44px;text-align:center;}
.tab_point li:first-child {border-left:1px solid #dbdfe7;}
.tab_point li .link_tab {width:100%;height:44px;}
.tab_point li.on .link_tab {position:absolute;top:-1px;left:-1px;background-color:#586780;border:1px solid #586780;color:#fff;}
.tab_point li.onetab {background-color:#fff;border:0;}
.tab_point li.onetab .link_tab {width:33%;border:1px solid #586780;}*/
.tab_area {margin-top:40px;}
.tab_point {overflow:hidden;display:block;width:100%;margin-bottom:40px}
.tab_point li {position:relative;float:left;width:33.3%;height:44px;border-top:1px solid #dbdfe7;border-bottom:1px solid #dbdfe7;border-right:1px solid #dbdfe7;background-color:#f6f7f9;line-height:44px;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/* .tab_point li:nth-child(3n+1) {width:33.2%;border-left:1px solid #dbdfe7;}
.tab_point li:nth-child(n+4) {margin-top:-1px;} */
.tab_point li .link_tab {width:calc(100% + 1px);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.tab_point li.on .link_tab {position:absolute;top:-1px;left:-1px;height:44px;background-color:#586780;border:1px solid #586780;color:#fff;z-index:10}
/*테이블*/
.tbl_type {position:relative;}
.tbl_type .tit_cont {display:block;margin:35px 0 15px;font-size:19px;}
.tbl_type .txt {margin-bottom:15px;font-size:15px;color:#80848d;word-break:keep-all;word-wrap:break-word;letter-spacing:-0.2px;}
.tbl_type .default {position:absolute;top:3px;right:0;font-size:11px;color:#3a3d40;font-family:'dotum', '돋움';}
.tbl_type .default:before {display:inline-block;margin-right:5px;content:'*';color:#ff0000;vertical-align:middle;}
.tbl_type .default .txt {font-size:0}
.tbl_type table {width:100%;border-top:1px solid #dadfea;border-bottom:1px solid #dadfea;}
.tbl_type caption {text-indent:-5000px;line-height:0;font-size:0px}
.tbl_type tr + tr {border-top:1px solid #ededed;}
.tbl_type th {padding:14px 22px;background-color:#f5f7fb;text-align:left;color:#54637b;line-height:26px;font-size:13px;vertical-align:top;}
.tbl_type th .default {position:inherit;margin-left:5px;}
.tbl_type td {padding:11px 22px;color:#555;}
.tbl_type td .inp_txt {padding:3px 12px 2px;height:26px;line-height:26px;border:1px solid #dfdfdf;font-size:14px;vertical-align:top;}
.tbl_type td .inp_txt + .btn_del {display:inline-block;padding:8px 5px;color:#586780}
.tbl_type td .inp_tit {display:block;margin:10px 0 5px;font-weight:bold;}
.tbl_type td .input_area .inp_txt + .btn {width:120px;padding:7px 0 6px}
.tbl_type td .txt {margin:10px 0 0;font-size:11px;color:#848484}
.tbl_type td .txt:first-child {margin-bottom:5px;}
.tbl_type td.date {font-family:Tahoma;}
.tbl_type td .ck_control + .txt {margin:10px 0 0;word-break:keep-all;word-wrap:break-word;}
.tbl_type td .input_radio + .txt {margin:10px 0 0;word-break:keep-all;word-wrap:break-word;}
.tbl_type td .btn {padding:7px 18px 6px;}
.tbl_type li:before {display:inline-block;content:'';width:4px;height:4px;margin:8px;border-radius:50%;background-color:#b1b9cb;vertical-align:top}
.tbl_type li {margin-left:10px;text-indent:-20px;color:#80848d;word-break:keep-all;word-wrap:break-word;}
.select + .inp_txt, .inp_txt + .inp_txt  {margin-left:3px}
.txt + .btn {margin-left:15px;}
/*tbl type02*/
.tbl_type.type02 th {padding:5px 0;text-align:center;font-size:12px;}
.tbl_type.type02 td {padding:11px 5px;text-align:center;font-size:14px;color:#666666;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.tbl_type.type02 td.point {height:15px;margin:0;font-size:14px;font-weight:normal;}
.tbl_type.type02 td.no_charge  {padding:150px 0;font-size:18px;}
.tbl_type.type02 .link_cancel {text-decoration:underline;color:#ff4343;}
.tbl_type.type02 .tr_used td.cate, .tr_used td.point {color:#f07946}
.tbl_type.type02 .tr_add td.cate, .tr_add td.point {color:#5885ce}
.tbl_type.type02 .txt_red {color:#ff4343}
/*tbl type03*/
.tbl_type.type03 th {padding:25px 22px;font-size:14px;letter-spacing:-1.5px}
.tbl_type.type03 td {padding:25px 22px;font-size:15px;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.tbl_type.type03 tr + tr {border-top:0;}
.tbl_type.type03 li {margin-bottom:5px;}
/*tbl tbl_txt*/
.tbl_type.tbl_txt th {padding:8px 22px;}
.tbl_type.tbl_txt td {padding:5px 22px;}
/*타이틀 영역*/
.tit_area {position:relative;padding:40px 0 18px;border-bottom:1px solid #3a3d40;background-repeat:no-repeat;}
.tit_area.myinfo {background:url(../images/mypage/bg_myinfo.gif) no-repeat bottom right;}
.tit_area.email {background:url(../images/mypage/bg_email.gif) no-repeat bottom right;}
.tit_area.useinfo {background:url(../images/mypage/bg_useinfo.gif) no-repeat bottom right;}
.tit_area.myinterest {background:url(../images/mypage/bg_myinterest.gif) no-repeat bottom right;}
.tit_area.mynotice {background:url(../images/mypage/bg_mynotice.gif) no-repeat bottom right;}
.tit_area .tit_cont {display:inline-block;margin-bottom:0;}
.tit_area a	{margin-left:20px;font-size:12px;padding:6px 10px}
.btn_person	.ico_comm2 {width:17px;height:17px;margin-right:3px;background-position:0 -1740px}
.btn_notice	.ico_comm2 {width:17px;height:17px;margin:1px 3px 0 0;background-position:0 -1760px}
.tit_area .point_policy {display:inline-block;margin-left:10px;font-size:14px;vertical-align: bottom}
.tit_area .point_policy span {font-size:14px;}
.tit_area .point_policy .ico_tooltip {width:18px;height:18px;margin:2px;background-position:0 -1890px;}
.tit_area .tooltip_box {display:none;position:absolute;top:38px;left:303px;width:355px;padding:10px;background-color:#fff;border:1px solid #95989a;z-index:100;text-align:left;}
.tit_area .tooltip_box p {margin-bottom:8px;color:#848484;font-size:13px;}
.tit_area .tooltip_box:after {position:absolute;top:10px;left:-8px;content:'';width:8px;height:11px;background:url(../images/ico_comm2_v2.gif) 0 -2125px no-repeat;font-size:0;line-height:0;text-indent:-9999px;}
/*버튼 영역*/
.btns {margin-top:40px;text-align:center;}
.btn {display:inline-block;padding:9px 0 7px;border:1px solid #dbdcde;color:#555;font-weight:bold;text-align:center;font-family:'dotum', '돋움';letter-spacing:-1px;}
.btm_btns .btn {width:165px;padding:11px 0 9px;border-color:#c1c1c1;}
.btn.type1 {border-color:#68a0ff;background-color:#68a0ff;color:#fff;}
.btn.type2 {border-color:#b8c0cf;background-color:#b8c0cf;color:#fff;}
.btn.type3 {background-color:#fff;}
.btns .btn_check {color:#5591f5;padding:10px 5px;}
.btns .btn_check .ico_comm2 {width:18px;height:14px;margin-top:3px;background-position:0 -1725px;}
.btn + .btn {margin-left:10px;}
/*회원정보 관리_아이디및 비밀번호 변경*/
.info_wrap {padding:60px 0;border-bottom:1px solid #dadae0;}
.info_wrap .btn {}
.tit_person {margin:20px 0 20px;font-size:24px;text-align:center;}
.txt_person {text-align:center;color:#80848d;}
.txt_person .txt_link {display:inline-block;text-decoration:underline;}
.txt_blue {color:#5591f5;}
.txt_red {color:#fa2222;}
.input_wrap {margin-top:30px;text-align:center;}
.input_area {display:inline-block;vertical-align:top}
.input_area .inp_txt {width:364px;padding:7px 18px 6px;font-size:14px;}
.input_area .inp_txt + .btn {width:165px;padding:10px 0}
.input_area .txt_red,
.input_area .txt_blue {margin:0 auto;text-align:left;font-size:12px;margin-top:10px;font-family:'dotum', '돋움';}
.input_area .txt_error {color:#fa2222;}
.input_area .txt_agree {color:#549bfb}
.input_area.error .txt_red {display:none}
.input_area.error .inp_txt {background-color:#fffafa;}
.input_area.error .txt_red {display:block;}
.info_wrap .input_area + .input_area {margin-top:12px;}
.info_wrap .pw_search {margin-top:35px}
.info_wrap .pw_search a {display:inline-block;margin-left:9px;border-bottom:1px solid #5591f5;}
.info_wrap .pw_search .ico_comm3 {display:inline-block;width:15px;height:18px;margin:1px 5px 0 0;background-position:-265px -910px}
.input_check {width:100%;margin-top:40px;text-align:center;}
.input_check .tit_chkbox {font-size:17px;color:#3a3d40;}
.input_check .txt_red {width:310px;}
/*기본정보수정*/
.txt_withdrawal {margin-top:50px;}
.txt_withdrawal .ico_comm2 {width:20px;height:20px;margin-right:10px;background-position:0 -1780px;}
.txt_withdrawal .btn_txt {display:inline-block;margin-left:5px;color:#5591f5;text-decoration:underline;}
.add_interest .txt_interest {display:inline-block;line-height:26px;margin:10px 10px 0 0;padding-left:10px;background-color:#e1eaf5;color:#79859c}
.add_interest .btn_del {display:inline-block;padding:0 10px 0 5px;color:#586780}
/*회원탈퇴*/
.dropout {padding:60px;}
.dropout .tit_cont {font-size:19px;margin-top:40px;}
.dropout .textarea .tit_cont {display:block;margin:35px 0 15px;font-size:18px;font-weight:normal;}
.dropout .textarea .txt {margin-bottom:15px;font-size:15px;color:#80848d;word-break:keep-all;word-wrap:break-word;}
.dropout .textarea .inp_textarea {width:535px;height:80px;padding:10px;border:1px solid #d3d6dc;}
.dropout .textarea .txt_number {float:right;margin-top:5px;color:#999999;font-size:11px;}
/*포인트 관리*/
.txt_point_notice {color:#80848d;}
.box_point {overflow:hidden;margin:30px 0 40px;padding:25px;background-color:#f0f9fe;}
.box_point .tit_cont {display:block;margin:0;font-size:19px;}
.box_point .f_l + .f_l {float:right;margin-right:30px;}
.point {display:block;height:34px;margin:40px 0 22px 30px;color:#4d8ffe;font-weight:bold;font-size:36px;line-height:1;font-family:Tahoma;}
.point em {font-size:38px;font-weight:bold;}
.point .ico_point {display:inline-block;width:30px;margin-top:5px;padding:4px 0 6px;background-color:#ff7800;color:#fff;line-height:1;font-size:20px;text-align:center;border-radius:50%;vertical-align:top;}
.box_point .payco {padding-left:30px;text-align:center;}
.box_point .payco .btn {padding:6px 16px 5px 16px;font-family:'SpoqaHanSans', 'dotum', '돋움';line-height:20px;font-size:13px;color:#555555;letter-spacing:-0.025em;font-weight:normal;}
.box_point .payco .ico_enter {margin-top:-2px;margin-left:5px;margin-right:5px;vertical-align:middle;}
.extinction {font-size:12px;font-family:'dotum', '돋움';}
.extinction span {color:#8292ad;font-size:11px;}
.extinction .txt_num {display:block;color:#5885ce;font-weight:normal;font-size:14px;font-family:Tahoma;}
.p_info li {display:table;width:100%;height:35px;line-height:1;}
.p_info li > * {display:table-cell;vertical-align:top;}
.p_info .txt_num {text-align:right;font-size:22px;color:#4d8ffe;font-family:Tahoma;}
.p_info .txt_num.black {color:#3a3d40;}
.p_info .sub {display:inline-block;margin-top:5px;font-size:11px;color:#8292ad;font-family:'dotum', '돋움';}
.box_point .btns {margin-top:15px;}
.box_point .btns .btn {width:128px;padding:8px 0;font-size:13px;}
.point_popup {border-top:3px solid #4ea1ff;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.point_popup .tit_popup {padding:18px 30px 15px 30px;border-bottom:0;margin-bottom:0;font-size:16px;font-weight:normal;}
.point_popup .agree_form .popup_body {margin-top:30px;text-align:center;}
.point_popup .agree_form img {display:inline-block;}
.point_popup .agree_form .visual {margin-bottom:25px;}
.point_popup .agree_form label {display:block;margin-top:13px;color:#666666;}
.point_popup .agree_form label.all_check {font-size:16px;color:#333333;}
.point_popup .agree_form label:not(.all_check) {font-family:'dotum', '돋움';}
.point_popup .agree_form label a {display:inline-block;text-decoration: underline;color:#68a0ff;}
.point_popup .agree_form label em {color:#fa2222;}
.point_popup .agree_form label input[type="checkbox"],
.point_popup .agree_form label input[type="radio"] {margin-right:10px;}
.point_popup .agree_form .btn {padding:9px 0;width:154px;margin-top:25px;font-size:15px;font-weight:normal;font-family:inherit;}
.point_popup .agreement {display:none;}
.point_popup .agreement .tit_popup {padding-left:60px;}
.point_popup .agreement .document {padding:10px 30px 0 30px;font-family:'dotum', '돋움';font-size:12px;color:#555555;letter-spacing:-0.025em;}
.point_popup .agreement .document p {margin-top:1.5em;}
.point_popup .agreement .document p:first-child {margin-top:0;}
.point_popup .agreement .document strong {display:block;}
.point_popup > .popup_body {padding:10px 30px 0 30px;}
.point_popup .status {padding:15px 0;border-top:1px solid #dbdfe7;border-bottom:1px solid #dbdfe7;font-size:14px;color:#333333;}
.point_popup .status table {width:100%;}
.point_popup .status th,
.point_popup .status td {height:40px;}
.point_popup .status th {padding:5px;font-size:14px;text-align:left;font-family:'SpoqaHanSans', 'dotum', '돋움';font-weight:normal;}
.point_popup .status th .sub {display:block;font-size:11px;color:#fa2222;letter-spacing:-0.05em;}
.point_popup .status td {text-align:center;}
.point_popup .status .txt_num {font-size:22px;color:#4d8ffe;font-family:Tahoma;font-weight:bold;}
.point_popup .status .rounded {padding:3px 10px;border:1px solid #dadbdd;border-radius:13px;font-size:12px;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.point_popup .status .rounded .ico_enter {margin-top:-2px;}
.point_popup .status input[type="text"] {width:100px;height:36px;line-height:36px;padding:0 10px;border:1px solid #dadbdd;color:#555555;font-family:Tahoma;font-weight:bold;text-align:right;font-size:16px;}
.point_popup .status .checkbox {color:#666666;letter-spacing:-0.02em;}
.point_popup .status .checkbox input {margin-top:-2px;}
.point_popup .sub_tit {margin:1em 0;font-size:14px;color:#333333;line-height:1;}
.point_popup .radio_box {display:block;overflow:hidden;padding:15px 18px;border:1px solid #d8d8d8;border-radius:3px;color:#555555;font-size:14px;cursor:pointer;}
.point_popup .radio_box input {opacity:0;width:0;height:0;position:absolute;left:-9999px;}
.point_popup .radio_box input + .ico_radio {display:inline-block;width:20px;height:20px;margin-right:10px;border-radius:50%;border:1px solid #d9d9d9;box-sizing:border-box;vertical-align:middle;}
.point_popup .radio_box input:checked + .ico_radio {border:5px solid #f80c0b;}
.point_popup .radio_box + .radio_box {margin-top:6px;}
.point_popup .btn_wrap {margin:20px 0;text-align:center;}
.point_popup .btn_wrap .btn {padding:9px 0;width:154px;font-size:15px;font-weight:normal;font-family:inherit;}
.point_popup .description {padding:17px 20px;background:#f5f5f5;color:#848484;font-family:'Dotum', '돋움';font-size:12px;line-height:20px;letter-spacing:-0.025em;}
.point_popup .description a {display:inline-block;margin-top:1em;padding-left:1em;color:inherit;text-decoration: underline;}
.point_popup .description em {color:#fa2222;}
.point_popup .btn_close {width:22px;height:22px;background-position:-110px -205px;}
.point_popup .btn_prev {width:18px;height:26px;background-position:0 -389px;position: absolute;left: 20px;top: 17px;}
.point_popup .ico_refresh {width:14px;height:14px;background-position:-150px -130px;vertical-align:middle;}
/*포인트샵 버튼*/
.box_btn {border-bottom:1px solid #dbdfe7;}
.box_btn .tit_cont {margin-bottom:10px;font-size:15px;font-weight:normal;}
.box_btn .enter_cont {margin:15px 0 30px}
.enter_cont .ico_enter {width:30px;height:30px;margin:11px;}
.enter_cont li {position:relative;display:inline-block;width:175px;margin:0 0 10px 4px;line-height:52px;border:1px solid #dee2e9;}
.enter_cont li:nth-child(4n+1) {margin-left:0;}
.enter_cont li:after {position:absolute;top:0;right:20px;content:'>';}
.btn_movie .ico_enter {background-position:0 -170px;}
.btn_webtoon .ico_enter  {background-position:-40px -170px;}
.btn_hotel .ico_enter  {background-position:-80px -170px;}
.btn_pointshop .ico_enter  {background-position:-120px -170px;}
.btn_travel .ico_enter  {background-position:-160px -170px;}
.btn_food .ico_enter  {background-position:-200px -170px;}
.btn_ticket .ico_enter  {background-position:-240px -170px;}
.ico_enter.ico_payco {width:52px;height:13px;background-position:-150px -80px;}
.ico_enter.ico_convert {width:23px;height:21px;background-position:-150px -100px;}
/*검색 박스 */
.search_box {position:relative;margin:20px 0;padding:23px;border:1px solid #dbdfe7;font-family:'dotum', '돋움';}
.search_box strong {display:inline-block;width:80px;line-height:30px;font-size:12px;color:#54637b}
.search_box .ck_control {margin-right:5px;}
.search_box input.text {height:28px;line-height:28px;padding:0 8px;border:1px solid #dadbdd;color:#737373}
.search_box .ck_date {margin-bottom:12px;}
.search_box .ck_date .ck_btn {padding:7px 10px 5px}
.search_box .ck_point .ck_btn {padding:7px 20px 5px}
.search_box .ck_point .ck_btn:first-child {padding-left:22px;}
.search_box .ck_pay .ck_btn {width:91px;padding:7px 10px 5px;text-align:center;}
.search_box .ck_pay .ck_btn:first-child {width:93px;}
.search_box .link_search {position:absolute;right:23px;top:23px;width:80px;padding:25px 0;background-color:#68a0ff;font-size:15px;font-weight:bold;color:#fff;text-align:center;}
.charge_list td.point {display:table-cell;color:#5885ce}
.lapse_list .tbl_type.type03 {margin-top:40px;}
.lapse_list .r_txt {display:block;float:right;margin-bottom: 10px;color:#999999}
.pop_point_cancel .tbl_type th {padding:5px 0;font-weight:normal;text-align:center;}
.pop_point_cancel .tbl_type td {padding:5px 0 5px 10px;text-align:left;}
.pop_point_cancel .txt_desc{display:block;margin-top:6px; padding-left:10px;text-align:left;font-size:11px; line-height:14px;color:#7c7a7b}
.pop_point_cancel .txt_desc:before{display:inline-block;content:'';width:2px;height:2px;margin:0 4px 0 -6px;background-color:#7c7a7b;vertical-align:middle}

/*포인트 충전하기*/
.total_box {overflow:hidden;padding:30px 24px 20px;}
.total_box .tit_cont {margin:0;font-size:20px;}
.total_box .f_l, .total_box .f_r {width:270px;padding-left:20px}
.total_price {line-height:80px;font-size:18px;font-weight:normal;font-size:26px;}
.price {font-weight:bold;text-align:right;color:#4d8ffe;}
.price .txt_num {font-size:38px;font-family:Tahoma;}
.total_info {line-height:40px;text-align:right;font-size:20px;}
.total_info span {float:left;font-size:15px;}
.total_info .txt_num  {font-size:22px;font-family:Tahoma;}
.p_charge .tbl_type td {background-color:#f5f7fb;}
.p_charge .input_area {margin-top:20px}
.p_charge .input_area .img_radio {margin-top:5px}
.p_charge .input_area .txt_red {margin-left:10px;letter-spacing:-1px;}
.c_charge .info_wrap {padding:30px 0;}
.c_charge .tit_person {display:block;margin:0;font-size:20px;}
.c_charge .etc {display:inline-block;margin:11px 5px 11px 7px;font-weight:bold;}
.box_customer {overflow:hidden;margin-top:40px;padding:24px 30px;background-color:#f5f7fb;}
.box_customer .txt {display:inline-block;line-height:39px;color:#54637b;font-size:15px;}
.box_customer .btns {float:right;margin:0;}
.box_customer .btn {width:120px;}
/* 포인트 적립안내 */
.point_info .tit_cont {font-size:18px;font-weight:bold;}
.point_info .tit_cont .info_txt {margin-left:10px;font-size:14px;font-weight:normal;}
.point_info .txt_point_notice {margin:-5px 0 15px;font-size:13px;}
.point_info .txt_point_notice .txt_black {color:#000}
.point_info .num {font-weight:bold;font-family:Tahoma;}
.point_info .tbl_txt {margin-bottom:60px;}
.point_info .tbl_txt th {border-bottom:1px solid #ededed;text-align:center;vertical-align:middle;word-break:keep-all;word-wrap:break-word;}
.point_info .tbl_txt tbody th {background-color:#fff;}
.point_info .tbl_txt tbody td {padding:20px 15px;border-left:1px solid #ededed;text-align:center;font-size:13px;color:#54637b;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.point_info .tbl_txt .bg_cell th, .bg_cell td {background-color:#eff9fd;}
.point_info .tbl_txt .info {text-align:left}
.point_info .tbl_txt .txt_red {display:block;font-size:11px;}
.point_info .tbl_txt td .txt {display:block;margin:0;font-size:13px;color:#54637b;}
.point_info .tbl_txt td .btn {margin-top:10px;font-weight:normal;}
.point_info .box_btn {border:0;}
.point_info .enter_cont {margin:25px 0 35px}
/* 포인트 환불 */
.refund dt {margin-top:40px;}
.refund .tit_cont .txt_blue {font-size:20px;}
.refund .box_point {width:390px;margin:0 auto;font-size:17px;color:#3a3d40;}
.refund .step01 {line-height:80px;vertical-align:middle;}
.refund .step01 .point {display:inline-block;float:right;margin:23px 0 23px 0;}
.refund .step01 + .tit_cont {margin-top:50px;padding-top:35px;border-top:1px solid #dadfea;}
.refund .step02 {background-color:#f5f7fb;vertical-align:top;}
.refund .step02 .list {display:inline-block;border:0;padding:0;margin-left:60px;vertical-align:top;}
.refund .txt_person {padding:30px 0 50px;border-bottom:1px solid #dadfea;color:#3a3d40;font-size:18px;letter-spacing:-1px;}
.refund .txt_person .txt_blue {display:inline-block;}
.refund_info .tit_cont {display:block;margin:50px 0 15px;font-size:19px;}
.refund_info .list {padding:25px 0;border-top:1px solid #dadfea;border-bottom:1px solid #dadfea}
.refund_info .list li {margin-left:15px;text-indent:-20px;color:#80848d;font-size:15px;line-height:24px;word-break:keep-all;word-wrap:break-word;}
.refund_info .list li:before {display:inline-block;content:'';width:4px;height:4px;margin:8px;border-radius:50%;background-color:#b1b9cb;vertical-align:top}
.refund_info .list li .link {margin-left:25px;display:inline-block;color:#80848d;text-decoration:underline;}
/* 내관심글 */
.list_section {clear:both;}
.list_cont {display:block;position:relative;overflow:hidden;height:68px;padding:38px 0;border-bottom:1px solid #ededed;}
.list_cont:first-child {border-top:1px solid #ededed;}
.list_cont:hover strong  {text-decoration:underline;}
.list_cont figure {overflow:hidden;float:left;width:140px;height:100px;margin:-17px 20px -17px 0;border:1px solid #ededed}
.list_cont figure img {width:100%;height:100%;}
.list_cont figure + div {float:left;width:510px;}
.list_cont .category {display:block;font-size:12px;color:#5885ce;font-family:'dotum', '돋움';}
.list_cont .tit {display:block;overflow:hidden;max-width:100%;margin:10px 0 7px;font-size:18px;font-weight:normal;text-overflow:ellipsis;white-space:nowrap}
.list_cont .tit .ico_concierge {display:inline-block;margin-right:5px;padding:1px 5px 2px;background-color:#9e94e4;line-height:15px;font-size:11px;color:#fff;font-weight:bold;vertical-align:middle}
.list_cont .category + .tit {margin:0 0 5px;}
.list_cont .tail {margin:5px 0;font-size:12px;color:#999;font-family:'dotum', '돋움';}
.list_cont .tail .date {font-family:Tahoma;}
.list_cont .tail .date em {color:#888;font-family:'dotum', '돋움';}
.list_cont .tail .helpto em {font-weight:bold;font-family:Tahoma;}
.list_cont .tail .ico_comm2 {width:14px;height:14px;margin:3px 0 0 0;}
.list_cont .tail .ico_person {margin-right:0;background-position:0 -528px}
.list_cont .tail .ico_2015 {background-position:0 -1000px}
.list_cont .tail span:before {display:inline-block;content:'';width:1px;height:10px;margin:4px 9px 0;background-color:#e3e7ee;}
.list_cont .tail span:first-child:before {width:0;margin:0}
.nodata {padding:120px 0;border-top:1px solid #ededed;border-bottom:1px solid #ededed;}
.nodata .tit_person {margin:0}
.nodata .txt_person {font-size:16px;}

/* 알림 */
.notice .tbl_type .tit_cont {margin-bottom:25px;}
.notice .list_alarm {position:relative;margin:50px 0 0 15px;padding:0 30px;border-left:1px solid #dbdfe7;}
.notice .tit_date {position:relative;display:block;color:#4d8ffe;font-size:16px;font-weight:bold;line-height:1;}
.notice .tit_date:before {position:absolute;top:-1px;left:-40px;display:block;content:'';width:19px;height:19px;background:url(../images/ico_comm2_v2.gif) no-repeat 0 -1805px;}
.notice .tit_alarm {margin-top:3px;font-size:15px;}
.notice .txt_time {color:#999999;font-style:12px;font-family:Tahoma}
.notice .alarm_cont {margin-bottom:40px}
.notice .alarm_cont .thumb_alarm {float:left;width:50px;height:50px;margin-right:10px}
.notice .alarm_cont .alarm_info {overflow:hidden;border-top:1px solid #e4e4e4;padding:20px 0;}
.notice .alarm_info:first-child {border:0;}
.notice .btn_more{display:block;width:598px;height:44px;margin:40px 45px 0;border:1px solid #bfbfbf;font-size:15px;color:#555;line-height:44px;text-align:center;letter-spacing:-1px}
.notice .btn_more .ico_comm {display:inline-block;width:10px;height:10px;margin:17px 0 0 4px;background-position:-50px -657px;opacity:0.7;vertical-align:top}

/* 메인 */
.mypage_main {background-color:#f5f7fb;}
.mypage_main #container {font-family:'SpoqaHanSans', 'dotum', '돋움';}
.mypage_main #container .contents {overflow:hidden;float:inherit;width:980px;margin:0;}
.mypage_main .myinfo {margin:31px 0 20px;font-weight:bold;font-size:36px;letter-spacing:-1px;}
.mypage_main .btn_more {display:block;position:absolute;top:30px;right:30px;width:43px;padding:2px 0;border:1px solid #d1d1d1;background-color: #fff;font-size:11px;line-height:1;text-align:center;color:#848688}
.mypage_main .f_l {width:680px;}
.mypage_main .f_r {width:290px;}
.mypage_main .info_box {position:relative;height:190px;margin-bottom:10px;padding:30px;border:1px solid #dbdbdb;background-color:#fff;box-sizing:border-box;}
.mypage_main .info_box .tit_cont {margin-bottom:20px;font-size:19px;}
/* 메인 - 내정보 */
.mypage_main .box_blue {height:280px;border:0;background-color:#cee5f8;}
.mypage_main .box_blue .tit_cont {font-size:20px;margin-bottom:30px;}
.mypage_main .box_blue .type3 {display:block;position:absolute;top:30px;right:30px;min-width:108px;padding:5px 0;border:1px solid #d1d1d1;font-size:14px;color:#555}
.mypage_main .info_myprofile {float:left;max-width:315px;margin-left:60px;}
.mypage_main .info_myprofile li {margin:11px 0}
.mypage_main .info_myprofile li:first-child {margin-top:0}
.mypage_main .info_myprofile strong {display:inline-block;width:70px;font-size:17px;font-weight:normal;color:#54627c;vertical-align:top;}
.mypage_main .info_myprofile span {display:inline-block;max-width:245px;font-size:16px;color:#484848}
/* 프로필 사진 , 배경 이미지수정 메뉴*/
.mypage_main .info_photo {position:relative;float:left;margin:0 30px}
.mypage_main .info_photo .btn_edit {position:absolute;right:0;bottom:0px;width:48px;height:48px;background-color:#fff;border-radius:50%;;-webkit-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.5);-moz-box-shadow:1px 1px 2px 0px rgba(0,0,0,0.5);box-shadow:1px 1px 2px 0px rgba(0,0,0,0.5)}
.mypage_main .info_photo .btn_edit .btn_comm {width:25px;height:19px;margin:0 auto;background-position:-150px -355px;}
.mypage_main .info_photo .box_photo {overflow:hidden;display:block;width:140px;height:140px;padding:5px;background-color:#fff;border-radius:50%;}
.mypage_main .info_photo .thumb_profile {width:100%;height:100%;border-radius:50%;}
.mypage_main .list_edit{position:absolute;right:-68px;bottom:-80px;z-index:300;width:80px;padding:13px 15px 10px;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-shadow:2px 2px 4px 0px rgba(0,0,0,0.5);-moz-box-shadow:2px 2px 4px 0px rgba(0,0,0,0.5);-webkit-box-shadow:2px 2px 4px 0px rgba(0,0,0,0.5);}
.mypage_main .list_edit:before {content:"";display:block;position:absolute;left:10px;top:-10px;z-index:99;width:15px;height:10px;background:url(../images/png_comm.png) -125px 0}
.mypage_main .list_edit li {padding-bottom:6px}
.mypage_main .list_edit .btn_photo {display:block;font-weight:bold;color:#848a94;cursor:pointer;white-space:nowrap}
.mypage_main .list_edit .inp_file{display:none;width:0;height:0;opacity:0}

.mypage_main .box_black {height:280px;border:0;background-color:#435366;color:#fff;}
.mypage_main .box_black .tit_cont {font-size:18px;}
.mypage_main .box_black .btn_more {width:55px;border-color:#fff;color:#555}
.mypage_main .box_black:before {display:block;position:absolute;top:-38px;right:0;content:'';width:60px;height:38px;background:url(../images/mypage/bg_main.gif) no-repeat top right;}
.box_black .btns {margin-top:15px;}
.box_black .btn {width:106px;padding:10px 0;font-size:13px;}
.box_black .point {color:#ffeb8e;}
.box_black .point_del {margin-top:45px;font-size:15px;color:#fff;}
.box_black .point_del .point {display:inline-block;width:130px;margin:0;font-size:17px;text-align:right}
.box_black .point_del .point em {font-size:17px;}
/* 메인 - 1:1주문내역 */
.mypage_main .list_cont {overflow:hidden;height:30px;padding:0;border:0;}
.mypage_main .list_cont .category,
.mypage_main .list_cont .state,
.mypage_main .list_cont .tit {float:left;width:100px;margin:0;}
.mypage_main .list_cont .category + .tit {width:485px;font-size:14px;}
.mypage_main .list_cont .state + .tit {width:415px;font-size:14px;}
.mypage_main .list_cont .date {float:right;color:#999999}
.mypage_main .nodata {height:90px;padding:0;border:0;text-align:center;font-size:15px;}
.mypage_main .nodata strong {display:block;font-size:17px;}
.mypage_main .nodata .type3 {min-width:106px;margin-top:10px;padding:5px 0;font-size:13px;}
/*.mypage_main .nodata.interest {background:url(../images/mypage/bg_main_nodata.gif) no-repeat top right;} 2017-11-15 삭제*/
/* 메인 - 알림 */
.mypage_main .box_alam {height:390px;}
.mypage_main .box_alam .btn_notice {display:inline-block;margin-left:5px;border:1px solid #d1d1d1;border-radius:3px;vertical-align:top;}
.mypage_main .box_alam .btn_notice .ico_comm2 {width:14px;height:14px;margin:3px;background-position:0 -1830px;}
.mypage_main .list_alarm {padding-left:20px;border-left:1px solid #e2e2e2;}
.mypage_main .alarm_cont {position:relative;margin-bottom:28px;}
.mypage_main .alarm_cont:before {position:absolute;top:20px;left:-24px;display:block;content:'';width:8px;height:8px;background-color:#5885ce;border-radius:50%;}
.mypage_main .alarm_cont .thumb_alarm {float:left;width:50px;height:50px;margin-right:15px}
.mypage_main .alarm_cont .tit_alarm {overflow:hidden;display:-webkit-box;width:142px;height:32px;color:#505050;line-height:16px;text-overflow:ellipsis;word-wrap:break-word;white-space:normal; -webkit-box-orient:vertical;-webkit-line-clamp:2}
.mypage_main .alarm_cont .txt_time {color:#999999;font-size:11px;font-family:Tahoma;}
/* 메인 - 버튼 */
.mypage_main .box_btn {height:58px;margin-bottom:8px;padding:15px 30px;font-size:16px;}
.mypage_main .box_btn:after {position:absolute;top:18px;right:32px;content:'>';font-family:'dotum', '돋움';font-size:15px;}
/* 메인 - 내관심글 */
.mypage_main .myfavorite_box {padding:40px 65px 40px 60px;}
.mypage_main .myfavorite_box:after {position:absolute;right:65px;top:25px;content:'';width:280px;height:140px;background:url(../images/mypage/bg_my_favorite.gif) no-repeat top right;}
.mypage_main .myfavorite_box .tit_cont {font-size:20px;font-weight:normal;line-height:26px;}
.mypage_main .myfavorite_box .btn {width:160px;}
/* 메인 - 동료추천 */
.mypage_main .invite_box {height:auto;text-align:center;font-size:15px;}
.mypage_main .invite_box .tit_cont {font-size:20px;font-weight:normal; color: #666;}
.mypage_main .invite_box .txt {margin:10px 0 15px;color:#666666}
.mypage_main .invite_box .input_area {position:relative; width: 100%; margin-bottom:18px; padding: 20px 30px; background-color: #f5f7fb; box-sizing: border-box; text-align: left;}
.mypage_main .invite_box .input_area .inp_txt{width: 360px; height: 44px; padding: 7px 18px 6px 12px; font-weight: bold; color: #848484; font-size: 18px; box-sizing: border-box; background-color: #fff;}
.mypage_main .invite_box .input_area .txt_red {position:absolute;left:0;bottom:-5px;}
.mypage_main .invite_box .btn_search {display:inline-block;width:152px;margin-left:4px;padding:10px 0 11px;background-color:#68a0ff;color:#fff; text-align: center;}
.mypage_main .invite_box .invite_txt{margin-top: 16px; text-align: left; color: #666; font-size: 16px;}
.mypage_main .invite_box .invite_txt em{font-size: 16px; font-weight: bold; text-decoration: underline;}
.mypage_main .invite_box .invite_txt .path{font-size: 12px; margin-left: 6px;}
.mypage_main .invite_box .guide{color: #666; text-align: left;}
.mypage_main .invite_box .guide li{line-height: 1.6;}
.mypage_main .invite_box .guide .inv_point{display: inline-block; margin-left: 14px; margin-top: 8px; font-size: 14px; color: #ff2c2c;}
.mypage_main .invite_box .guide .inv_point::before{content: ""; display: inline-block; width:18px; height: 18px; margin-right: 6px; vertical-align: -4px; background: url("../images/mypage/bg_guide.png") no-repeat;}
.gray_box {overflow:hidden;margin-top:25px;padding:20px 30px;background-color:#f6f6f7;text-align:left;}
.gray_box .result {display:block;font-size:16px;}
.gray_box .person {overflow:hidden;margin-top:20px;}
.gray_box .thumb {float:left;width:64px;margin-right:15px;border:1px solid #dcdbe0;}
.gray_box .thumb img {width:100%;}
.gray_box .name {float:left;display:block;padding-top:5px;font-family:'dotum', '돋움';letter-spacing:-1px;}
.gray_box .num {display:inline-block;max-width:335px;min-height:40px;margin:5px 20px 0 0;font-family:Tahoma;letter-spacing:-1px;}
.gray_box em {font-size:14px;}
.gray_box .btn {float:right;width:164px;}

.mypage_drvill .list_section{margin-bottom: 60px;}
.mypage_drvill .list_cont{display: flex; height: auto; padding: 20px 0;}
.mypage_drvill .list_cont .program_info{position: relative; width: 100%; margin-left: 25px; padding-top: 10px;}
.mypage_drvill .list_cont .program_info .info{color: #999; font-size: 14px; font-family: 'SpoqaHanSans', 'dotum', '돋움';}
.mypage_drvill .list_cont .program_info .info .txt_bar{margin-left: 4px; margin-right: 6px;}
.mypage_drvill .list_cont .program_info .btn{position: absolute; top:0; right: 0; width: 100px; font-size: 12px; font-weight: normal;}
.mypage_drvill .list_cont .program_info .btn::after{display: inline-block; width: 18px; height: 18px; margin-left: 4px; background: url(../images/ico_comm2_v2.gif) 0 -1890px no-repeat; vertical-align: -5px; content: "";}
.mypage_drvill .list_cont .program_info .tooltip_box{display: none; position: absolute; border: 1px solid #95989a; width: 300px; top: 36px; right: 0; z-index: 100; padding: 10px; background-color: #fff;}
.mypage_drvill .list_cont .program_info .tooltip_box.on{display: block;}
.mypage_drvill .list_cont .program_info .tooltip_box p{font-size: 13px; color:#848484;}
.mypage_drvill .list_cont .col{position: relative; width: 50%; padding-bottom: 14px;}
.mypage_drvill .list_cont .dr_img{position: absolute; top: 0; left: 0;}
.mypage_drvill .list_cont .dr_info{margin-left: 146px; padding-top: 8px; padding-bottom: 20px; color: #333;  font-family: 'SpoqaHanSans', 'dotum', '돋움';}
.mypage_drvill .list_cont .dr_info span{display: block; font-family: 'SpoqaHanSans', 'dotum', '돋움';}
.mypage_drvill .list_cont .dr_info .nm{color: #333; font-size: 18px; text-decoration: underline;}
.mypage_drvill .list_cont .dr_info .major{margin-bottom: 14px; color: #999; font-size: 14px;}
.mypage_drvill .list_cont .dr_info .category{font-size: 14px; color: #4ea1ff;}
.mypage .btn_union{display: block; margin: 10px auto; padding: 11px 0 9px; width: 346px; font-size: 15px; color:#fff; background-color: #0970cf; text-align: center;}
.mypage .link_union{text-align: center; font-size: 14px; font-weight: 400; color: #9c9c9c; text-decoration: underline;}
.mypage .link_union::before{content: ""; display: inline-block; width: 16px; height: 16px; margin-right: 4px; background: url("../images/ico_comm2_v2.gif") no-repeat; background-position: 0 -2105px; vertical-align: -3px;}  