@charset "utf-8";
/* 브랜드존 layout */
#wrap.pr {background-color:#fff}
#wrap.pr #container {font-family:'SpoqaHanSans', 'dotum', '돋움'}
#wrap.main, #wrap.video {background-color:#fff}
/* sub_banner */
.banner_wrap {position:relative;width:978px;margin:0 auto;border:1px solid #e6e6e6;height:338px}
.banner_wrap .bxslider img {width:740px;height:338px}
.banner_wrap .slide_thumb {position:absolute;height:100%;right:0;top:0;z-index:6;background-color:#fff;border-left:1px solid #e6e6e6}
.banner_wrap .slide_thumb a {position:relative;width:238px;height:84px;padding:22px 17px;border-bottom:1px solid #e6e6e6;box-sizing:border-box}
.banner_wrap .slide_thumb a:nth-child(4) {border:0}
.banner_wrap .slide_thumb a strong {overflow:hidden;display:block;width:100%;font-size:17px;color:#191919;text-overflow:ellipsis;white-space:nowrap}
.banner_wrap .slide_thumb a span {overflow:hidden;display:block;width:100%;color:#848484;text-overflow:ellipsis;white-space:nowrap;font-size:14px}
.banner_wrap .slide_thumb .bg_on {display:none;position:absolute;right:0;top:-1px;z-index:7;width:234px;height:80px;border:3px solid #4e5ef5}
.banner_wrap .slide_thumb .active .bg_on{display:block}
/* 브랜드 선택 */
.product_cont {margin-top:30px}
.product_cont h3 {display:none}
/*.list_brand {float:left;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.list_brand .order {margin-top:8px}
.list_brand .order li {float:left;padding:0 13px;border-left:2px solid #ced6e2;line-height:14px}
.list_brand .order li:first-child {border-left:0 none;margin-left:14px}
.list_brand .order li a {font-size:18px;font-weight:bold;color:#9aa8b7}
.list_brand .order .on a {font-weight:bold;color:#059ce5}*/
.list_brand .order {overflow:hidden;margin-bottom:30px}
.list_brand .order li {float:left;width:20%;border-right:1px solid #dbdfe7;border-bottom:1px solid #dbdfe7;text-align:center;font-size:14px;box-sizing:border-box}
.list_brand .order li:nth-child(5n+1) {border-left:1px solid #dbdfe7}
.list_brand .order li:nth-child(-n+5) {border-top:1px solid #dbdfe7}
.list_brand .order li.on a {position:relative;background-color:#fff;color:#4e5ef5}
.list_brand .order li.on a:after {display:block;position:absolute;top:-1px;left:-1px;width:100%;height:100%;content:'';border:1px solid #4e5ef5}
.list_brand .order li a {padding:10px 0;background-color:#f6f7f9}

/* 카테고리 */
.category_all {overflow:hidden;border:1px solid #e1e1e1;border-top:2px solid #4e5ef5;background:#fff;padding:22px 30px 10px;margin-bottom:25px;clear:both}
.category_all li {float:left;width:20%;line-height:23px;margin-bottom:10px;font-size:14px}
.category_all li a {display:inline-block;padding:0 10px;border-radius:2px}
.category_all li a:hover, .category_all li .on {color:#fff;background-color:#4e5ef5}
.category_all + .category_tail {margin-top:-20px;margin-bottom:30px;text-align:right;font-size:11px;color:#969696}
.category_all.type2 {border-top-color:#4eaeff}
.category_all.type2 li a:hover, .category_all.type2 li .on {color:#3e94ff;background-color:#fff;font-weight:bold}
/* 리스트 정렬 */
.list_section_wrap {overflow:hidden;margin-bottom:18px;clear:both}
.list_section_wrap .total {float:left;font-weight:bold;font-size:15px}
.list_section_wrap .total a {float:left}
.list_section_wrap .total a:hover {text-decoration:underline}
.list_section_wrap .total span {font-weight:normal}
.list_section_wrap .total span:before {content:'>';margin:0 5px;color:#9b9b9b}
.list_section_wrap .total em {margin:0 5px;font-size:12px;font-weight:bold;color:#ff5a01;letter-spacing:-2px;font-family:Verdana}
.list_section_wrap .order {float:right;margin-top:2px}
.list_section_wrap .order li {float:left}
.list_section_wrap .order li a {float:left;display:block;margin-left:11px;color:#bfc1c2;text-decoration:none}
.list_section_wrap .order .ico_check { width:10px; height:10px; margin-top:5px;background-position:0 -230px}
.list_section_wrap .order .on a {font-weight:bold;color:#606060}
.list_section_wrap .order .on .ico_check {background-position:-40px -230px}
/* 제품 리스트 */
.product_list {border-left:1px solid #dcdcdc}
.product_list li {float:left;position:relative;width:244px;height:255px;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background-color:#fff;box-sizing:border-box}
.product_list li:nth-child(-n+4) {border-top:2px solid #4e5ef5}
.product_list a {display:block;padding:10px;height:235px;color:#848484;text-align:center;font-size:13px}
.product_list a em {display:block;margin:12px 0 0px;font-weight:normal;color:#13a1e5;letter-spacing:-1px}
.product_list a strong {display:block;font-size:16px;color:#191919;font-weight:normal}

.product_list .list_on {display:none;position:absolute;left:-1px;top:-1px;width:241px;height:251px;border:2px solid #4e5ef5}
.product_list .ico_best {position:absolute;left:-1px;top:-1px;width:46px;height:44px;background-position:0 -1242px}
.product_list .ico_quiz {position:absolute;right:20px;bottom:100px;width:75px;height:75px;background-position:-85px -1918px}
.product_list .ico_new {position:absolute;left:18px;top:18px;width:43px;height:21px;background-color:#f94040;font-family:Tahoma;color:#fff;font-weight:bold;text-align:center;border-radius:2px}
.product_list .product_img {width:216px;height:160px;margin:0 auto;}
.product_list li:hover {z-index:10}
.product_list li:hover a .list_on {display:block}
/* 스페셜 라이프 리스트 */
.special_list {border:0}
.special_list li {float:left;position:relative;width:308px;height:288px;margin-left:28px;margin-bottom:20px;border:1px solid #dcdcdc}
.special_list li:nth-child(3n+1) {margin-left:0}
.special_list li {border-top:2px solid #4e5ef5}
.special_list a {padding:0;text-align:left}
.special_list a div {padding:20px;border-top:1px solid #dcdcdc}
.special_list a strong {overflow:hidden;display:inline-block;width:100%;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap}
.special_list a p {overflow:hidden;width:100%;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap}
.special_list .product_img {width:308px;height:208px}
.special_list .list_on {display:none;position:absolute;left:-1px;top:-1px;width:306px;height:286px;border:2px solid #4e5ef5}
/* 스페셜 라이프 상세 */
.special_head {position:relative}
.special_head img {width:950px;margin:0 auto}
.special_head .btn_event {position:absolute;left:260px;bottom:61px;display:block;width:460px;padding:18px 0;color:#fff;font-size:24px;font-weight:bold;text-align:center;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.special_btm {width:978px;margin-top:30px;padding:70px 0;border:1px solid #ededed;border-top:3px solid #50b4ff;background-color:#fff;text-align:center}
.special_btm p {font-size:30px;line-height:36px;letter-spacing:-2px;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.special_btm strong {color:#50b4ff}
.special_btm a {display:inline-block;width:280px;padding:15px 0;margin-top:25px;background-color:#50b4ff;font-size:20px;font-weight:bold;color:#fff}
/* 제품 상세보기 */
.product_detail {position:relative;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.bg_product {position:absolute;left:0;top:0;z-index:-1;width:100%;height:119px}
.product_head {position:relative}
.product_head img {margin:0 auto;}
/* .product_head .btn_quiz {overflow:visible;position:absolute;right:50px;bottom:50px;width:160px;height:160px;background-position:-179px -1919px}
.product_head .ico_quizpoint {position:absolute;right:-12px;top:-9px;width:57px;height:62px;background-position:-220px -1372px}
.product_head .ico_finish {position:absolute;left:6px;top:6px;width:148px;height:148px;background-position:-190px -1447px} */
.product_area {width:980px;margin:0 auto}
.product_info {overflow:hidden;padding:40px 0 40px 80px;margin:20px auto 50px;border-top:4px solid #e7e7e7;border-bottom:4px solid #e7e7e7}
.product_info div {float:left;position:relative;width:190px;padding-left:70px;padding-right:30px;font-size:14px}
.product_info .info_tit {padding-bottom:10px;font-size:18px;font-weight:normal;color:#3f69a3}
.product_info .info_vendor {padding-left:60px}
.product_info .ico_comm3 {position:absolute;left:0;top:0}
.product_info .info_ingredient .ico_comm3 {width:48px;height:43px;background-position:-71px -783px}
.product_info .info_insurance .ico_comm3 {width:49px;height:49px;background-position:-71px -836px}
.product_info .info_vendor .ico_comm3 {width:41px;height:40px;background-position:-71px -895px}
.product_detail .btn_area {text-align:center}
.product_detail .btn_link {display:inline-block;width:175px;height:25px;padding:15px 0;margin:0 3px;background-color:#fff;border:1px solid #bebebe;border-radius:4px;font-size:17px;font-weight:normal;color:#0cb8ff;line-height:25px}
.product_detail .btn_journal .ico_comm3 {display:inline-block;width:20px;height:24px;margin-right:7px;background-position:-220px -1310px}
.product_detail .btn_detail_info .ico_comm3 {display:inline-block;width:22px;height:22px;margin-top:1px;margin-right:7px;background-position:-252px -1310px}
.product_detail .btn_brochure .ico_comm3 {display:inline-block;width:20px;height:25px;margin-right:7px;background-position:-286px -1310px}
.product_detail .btn_notice .ico_comm3 {display:inline-block;width:30px;height:25px;margin-right:7px;background-position:-310px -1310px}
.product_detail .btn_buy .ico_comm3 {display:inline-block;width:30px;height:25px;margin-right:7px;background-position:0 -1242px}
.product_detail .btn_link.btn_notice {background-color:#0cb8ff;border:1px solid #15abe0;color:#fff}
.product_detail .btn_link.btn_buy {width:200px;background-color:#3067ff;border:1px solid #3067ff;color:#fff}
.product_inner {width:980px;margin:50px auto}
.product_inner img {margin:0 auto}
/* 영상 */
.product_video {background-color:#f5f5f5}
.product_video .product_area {position:relative;width:569px;height:342px;margin:0 auto;padding:34px 33px;background:url(../images/new_pr/bg_vod_wrap.gif) no-repeat center bottom;background-size:635px 408px}
/*.product_video .product_area {width:569px;padding:66px 191px 182px 190px;background: url('../images/new_pr/bg_video.jpg') no-repeat 0 36px}*/
.product_video .video {overflow:hidden;width:569px;height:342px}
/* 최신임상자료 및 관련제품*/
.product_etc {overflow:hidden;margin-bottom:30px}
.product_etc div {float:left;width:450px}
.product_etc h3 {margin-bottom:18px;padding-bottom:14px;border-bottom:1px solid #dedede;font-size:18px;font-weight:normal;line-height:29px;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.product_etc h3 .ico_comm3 {display:inline-block;margin-right:10px}
.product_material .ico_comm3 {width:23px;height:29px;background-position:-170px -1758px}
.product_material {position:relative}
.product_material .material_area {overflow:hidden;position:relative;width:100%;height:130px}
.product_material .material_list {float:left;position:relative;width:450px}
.product_material .material_list li {position:relative;height:22px;margin-top:5px;line-height:22px}
.product_material .material_list li:before {content:"";display:inline-block;width:3px;height:3px;margin-top:10px;margin-right:5px;background:#979797;vertical-align:top}
.product_material .material_list li:first-child {margin-top:0}
.product_material .link {overflow:hidden;display:inline-block;max-width:325px;height:22px;text-overflow: ellipsis;word-wrap:break-word;white-space: nowrap}
.product_material .link:hover {text-decoration:underline}
.product_material .link_new {position:relative;padding-right:15px}
.product_material .txt_date {margin-left:8px;font-size:11px;color:#adadad;vertical-align:top}
.product_material .ico_new {position:absolute;right:0;top:4px;width:12px;height:11px;background-position:0 -1525px;vertical-align:middle}/* 2016-08-03 bg position 수정 */
.product_material .btn_download {position:absolute;right:0;top:0;width:20px;height:20px;border:1px solid #d8d8d8;text-align:center}
.product_material .btn_download .btn_comm {display:inline-block;width:11px;height:12px;margin-top:4px;background-position:-150px -140px;vertical-align:top}
.product_related .ico_comm3 {width:19px;height:29px;background-position:-205px -1758px}
.product_related {position:relative;margin-left:80px}
.product_related .related_inner,
.product_related .related_area {overflow:hidden;position:relative;width:100%}
.product_related .related_area li {float:left;position:relative;width:140px;margin-right:15px}
.product_related .related_area a {display:block;font-weight:bold;color:#5e5e5e;text-align:center}
.product_related .related_img {display:block;position:relative;width:138px;height:108px;margin-bottom:10px;border:1px solid #ebebeb}
.product_related .related_img img {position:absolute;left:0;right:0;top:0;bottom:0;max-width:100%;margin:auto}
.product_etc .btn_area {position:absolute;right:0;top:0}
.product_etc .btn_area .btn_comm {float:left;width:26px;height:25px;border:1px solid #d8d8d8;background-color:#fff}
.product_etc .btn_area .btn_comm a {display:block;width:26px;height:25px}
.product_etc .btn_prev {background-position:-120px -172px}
.product_etc .btn_next {margin-left:-1px;background-position:-140px -172px}
/* 배너 추가 */
.product_etc .banner_area {width:100%;margin-top:30px;overflow:hidden}
.product_etc .banner_area a, .banner_area .quiz_defalt {position:relative;width:400px;height:114px;padding:20px 30px;letter-spacing:-0.1px}
.banner_area .btn_case_guide {float:left;background:#fcf7da url('../images/new_pr/bg_btn_case_guide.gif') no-repeat right top}
.banner_area .btn_case_guide strong {color:#ff560c;font-size:34px;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.banner_area .btn_case_guide p {margin-top:5px;color:#928d70;font-size:14px}
.banner_area .btn_case_guide p em {color:#ff6d0c;font-weight:bold}
.banner_area .tit {color:#fff;font-size:20px;font-weight:bold;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.banner_area .tit em {font-size:32px;font-weight:bold}
.banner_area .txt {margin-top:15px;font-size:14px}
.banner_area .txt em {font-weight:bold}
.banner_area .quiz_defalt {float:left;background:#a2aaaa url('../images/new_pr/bg_quiz_defalt.gif') no-repeat right top}
.banner_area .quiz_defalt .txt {color:#fff;font-weight:bold}
.banner_area .quiz_defalt .txt em {color:#ffee2e}
.banner_area .btn_quiz {float:left;background:#8545e6 url('../images/new_pr/bg_btn_quiz.gif') no-repeat right top}
.banner_area .btn_quiz .txt {color:#d6bff9}
.banner_area .btn_quiz .txt em {color:#ffae00}
.banner_area .btn_quiz .ico_finish {display:none;position:absolute;top:35px;left:160px;width:140px;height:84px;background-position:-200px -1447px;z-index:2}
.banner_area .btn_quiz.finish:after {display:block;position:absolute;top:0;left:0;content:'';width:100%;height:100%;background:#000;opacity:0.7;z-index:1}
.banner_area .btn_quiz.finish .ico_finish {display:block}
.banner_area + .back_list {}

.product_etc .recomm_vod {width:100%;margin-top:30px}
.recomm_vod .ico_comm3 {width:30px;height:29px;background-position:-235px -1758px}
.list_recomm {overflow:hidden;width:100%}
.list_recomm li {float:left;margin-left:40px}
.list_recomm li:first-child {margin:0}
.list_recomm li:hover .list_tit strong {text-decoration:underline}
.list_recomm .wrap_thumb {display:block;width:213px;height:156px;margin-bottom:10px;border:1px solid #dadada}
.list_recomm  li:first-child .wrap_thumb {background-image:url(../images/bg_brand_thumb01.jpg)}
.list_recomm  li:nth-child(2) .wrap_thumb {background-image:url(../images/bg_brand_thumb02.jpg)}
.list_recomm  li:nth-child(3) .wrap_thumb {background-image:url(../images/bg_brand_thumb03.jpg)}
.list_recomm  li:last-child .wrap_thumb {background-image:url(../images/bg_brand_thumb04.jpg)}
.list_recomm .thumb_seminar {display:block;margin:0 auto;width:auto;height:156px}
.list_recomm .wrap_info {width:215px}
.list_recomm .category {display:block;color:#059ce5}
.list_recomm .list_tit strong {display:block;display:-webkit-box;overflow:hidden;height:40px;max-width:210px;line-height:20px;font-size:14px;letter-spacing:-1px;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
/* 의료기기 '참고자료 슬라이드' 넓이값설정 */
.instrument .product_etc div {float:left;width:100%}
.product_video {padding-top:35px}
.product_video .tit_cont {text-align:center}
.vod_wrap {position:relative;width:675px;margin:0 auto;height:665px;background:url(../images/new_pr/bg_vod_wrap.gif) no-repeat center bottom}
.vod_wrap .slide_thumb {overflow:hidden}
.vod_wrap .slide_thumb a {float:left;position:relative;width:215px;height:205px}
.vod_wrap .slide_thumb a img {display:block;border:1px solid #dadada}
.vod_wrap .slide_thumb a strong {overflow:hidden;display:block;display:-webkit-box;width:210px;height:40px;line-height:20px;margin-top:10px;font-size:14px;color:#191919;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.vod_wrap .slide_thumb .bg_on  {display:none;position:absolute;right:0;top:0;z-index:7;width:209px;height:152px;border:3px solid #50b4ff}
.vod_wrap .slide_thumb .active .bg_on{display:block}
.vod_wrap .btn_prev_big a {position:absolute;top:50px;left:-95px;width:36px;height:59px;background:url(../images/new_pr/btn_prev.png) no-repeat center center;font-size:0}
.vod_wrap .btn_next_big a {position:absolute;top:50px;right:-95px;width:36px;height:59px;background:url(../images/new_pr/btn_next.png) no-repeat center center;font-size:0}
.product_video .bx-wrapper {margin-top:66px}
.product_video .vod_list {padding:0 39px}
.back_list {overflow:hidden;padding-top:15px;border-top:1px solid #d8d8d8}
.back_list a {float:right;padding:5px 20px;border:1px solid #d8d8d8;border-radius:2px;color:#666666;text-align:center}
.special_head + .back_list {padding:15px 0 20px;border-top:0;margin:0}
.special_head + .back_list a {background-color:#fff}

/* 문제 팝업 */
.bg_layer {position:fixed;left:0;top:0;z-index:9;width:100%;height:100%;background-color:#000;opacity:0.7;cursor:pointer}
.layer_quiz {display:none;position:absolute;left:0;top:0;z-index:1000;width:100%;height:100%}
.layer_quiz_inner {position:absolute;left:0;right:0;top:0;z-index:11;bottom:0;width:600px;/* height:688px; 2016-08-08 높이값 제거 */padding:25px 0 45px;margin:auto;border-top:6px solid #4ea1ff;background-color:#fff}
.layer_quiz .tit_popup {width:212px;height:28px;margin-bottom:16px;background-position:0 -1978px}
.layer_quiz .layer_head {overflow:hidden;padding:0 30px}
.layer_quiz .layer_head p {color:#555}
.layer_quiz .layer_head em {font-weight:bold;color:#0f6fff}
.layer_quiz .product_img {float:left;margin-right:14px}
.layer_quiz .quiz_info {float:left;width:310px;margin-top:20px}
.layer_quiz .quiz_info span {font-size:14px;font-weight:bold}
.layer_quiz .quiz_info .product_type {display:inline-block;height:14px;padding:1px 8px 3px;font-size:12px;color:#fff;background-color:#ff7a19;border-radius:10px;vertical-align:top}
.layer_quiz .quiz_info .product_tit {display:block;padding:10px 0 15px;font-size:40px;font-weight:bold;line-height:1;letter-spacing:-4px}
.layer_quiz .layer_body {overflow-y:auto;overflow-x:hidden;max-height:250px;margin-top:6px;padding:0 40px 30px;background-color:#f2f4f6;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd}
.layer_quiz .question_area {position:relative;padding-left:55px;margin-top:50px}
.layer_quiz .question_area .ico_comm3 {position:absolute;left:15px;top:0;width:32px;height:17px}
.layer_quiz .question_area .question1 {background-position:1px -1455px}
.layer_quiz .question_area .question2 {background-position:-31px -1455px}
.layer_quiz .question_area .question3 {background-position:-68px -1455px}
.layer_quiz .question_area .txt_question {font-size:14px;font-weight:bold;line-height:1.3;word-break:keep-all;word-wrap: break-word}
.layer_quiz .question_choice {overflow:hidden;padding-top:10px}
.layer_quiz .question_choice li {padding-left:20px;padding-right:9px;margin-top:5px;text-indent:-20px}
.layer_quiz .question_choice label {color:#6f6f6f;line-height:1.2;vertical-align:middle}
.layer_quiz .layer_foot {padding:20px 40px 30px}
.layer_quiz .layer_foot p {font-size:11px;color:#7a7a7a;letter-spacing:-1px}
.layer_quiz .layer_foot p:before {content:"";display:inline-block;width:1px;height:1px;margin-top:7px;margin-right:5px;background:#7a7a7a;vertical-align:top}
.layer_quiz .layer_foot .txt_attention {display:block;padding-bottom:7px;font-size:14px;font-weight:bold;color:#4f4f4f}
.layer_quiz .layer_foot .txt_attention .ico_comm2 {width:14px;height:14px;margin-top:3px;margin-right:5px;background-position:0 -1300px}
.layer_quiz .btn_cancel {position:absolute;right:30px;top:26px;width:22px;height:22px;background-position:-110px -205px}
.layer_quiz .btn_area {text-align:center}
.layer_quiz .btn_answer {width:100px;padding:8px 10px;font-weight:bold;color:#fff;text-align:center;background-color:#4ea1ff;border:1px solid #3d8eea;border-radius:2px}
.layer_quiz .btn_close {width:100px;padding:8px 10px;font-weight:bold;color:#252525;text-align:center;background-color:#fff;border:1px solid #c6c6c6;border-radius:2px}
.layer_quiz_info {width:322px}
/* 신청 팝업 */
.layer_apply {display:none;position:absolute;width:558px;padding:50px 50px 40px;border:1px solid #dddddd;background-color:#fff}
.layer_apply .bg_layer{display:none}
.layer_apply .btn_cancel {position:absolute;right:40px;top:40px;width:22px;height:22px;background-position:-110px -205px}
.layer_apply .btn_area {margin-top:30px;text-align:center}
.layer_apply .btn_answer {width:154px;padding:12px 10px;font-size:14px;font-weight:bold;color:#fff;text-align:center;background-color:#2bacff}
.layer_apply .layer_head {overflow:hidden;text-align:center}
.layer_apply .layer_head strong {display:block;width:450px;padding-bottom:27px;margin:0 auto 20px;border-bottom:4px double #9e9e9e;font-size:24px;letter-spacing:-0.5px}
.layer_apply .layer_head strong:before,
.layer_apply .layer_head strong:after {display:inline-block;content:'';width:44px;height:14px;margin-left:30px;background:url(../images/life/bg_layer_tit.gif) no-repeat top left;vertical-align:middle}
.layer_apply .layer_head strong:before {margin:0 30px 0 0}
.layer_apply .layer_head p {font-size:14px;color:#6d6d6e;line-height:18px}
.layer_apply .layer_cont .s_tit {display:block;margin-top:30px;font-weight:bold}
.input_area {overflow:hidden;margin:15px 0;*zoom:1}
.input_area:after {display:block;content:"";clear:both}
.input_area .in_tit {position:relative;float:left;width:77px;line-height:34px;font-weight:normal;color:#6d6d6e}
.input_area .in_tit:before {float:left;content:'*';margin-right:5px;color:#ff0000;line-height:34px}
.input_area input.text {float:left;width:110px;height:32px;line-height:32px;padding:0 8px;border:1px solid #c0c0c0;color:#737373}
.input_area .select {float:left;width:90px;height:32px;line-height:32px;padding-left:8px;border:1px solid #c0c0c0;color:#737373}
.input_area .select.time {width:133px;margin-left:6px}
.input_area.area .text {width:350px}
.input_area .text.hospital {width:440px}
.input_area .text.email {width:210px}
.input_area.area .btn_address {display:inline-block;margin:1px 0 1px 8px;width:80px;background-color:#a5b0b7;line-height:32px;color:#fff;font-weight:bold}
.input_area  input.text + .in_tit {margin-left:25px}
.input_area .info_txt {display:block;clear:both;padding:5px 0 0 80px;font-size:11px;color:#18a3fa}
.input_area .info_txt.time {margin-left:230px}
.input_area input.radio {float:left;height:18px;margin:9px 5px 0 0}
.input_area  input.radio + label {float:left;margin:9px 15px 0 0;height:18px;cursor:pointer;vertical-align:middle}
.input_area textarea,
.input_area .agreebox {overflow-y:auto;width:515px;height:78px;padding:10px;line-height:20px;border:1px solid #c0c0c0;color:#737373;resize:none}
.input_area .agreebox {margin-bottom:15px}
.input_area .agreebox p {margin-left:8px;text-indent:-8px}
.input_area .ck_tit {line-height:24px;color:#555555;font-weight:bold;cursor:pointer}
.input_area .ck_tit .check{width:24px;height:24px;background-position:0 0}
.input_area input[type="checkbox"]:checked + .ck_tit .check{background-position:-30px 0}
/* case 소개 팝업 */
.layer_service_info {display:none;position:absolute;left:0;top:0;z-index:110;width:100%;height:2369px}
.layer_service_info .inner {position:absolute;left:0;right:0;top:0;z-index:11;bottom:0;width:660px;padding:0;border:0;margin:auto;background-image:url(../images/guide/popup_case.gif)}
.layer_service_info .inner .btn_area {position:absolute;bottom:20px;width:100%;text-align:center}
.layer_service_info .inner .btn_area a {display:inline-block;width:100px;height:26px;padding:8px 10px;line-height:26px;font-weight:bold;text-align:center;border-radius:2px}
.layer_service_info .inner .btn_close {background-color:#fff;border:1px solid #e4e4e4}
.layer_service_info .inner .btn_answer {background-color:#14afff;border:1px solid #189add;color:#fff}
.layer_service_info .inner .btn_cancel {position:absolute;right:40px;top:40px;width:22px;height:22px;background-position:-110px -205px}

/* main */
.main_visual {position:relative;margin:0 auto;min-width:950px}
.slide_visual {width:950px;max-width:1920px;height:340px}
.slide_visual li {height:100%;background-repeat:no-repeat;background-position:top center}
.slide_visual .main_visual1 {background-image:url(../images/new_pr/main_visual5.jpg)}
.slide_visual .main_visual2 {background-image:url(../images/new_pr/main_visual6.jpg)}
.slide_visual .main_visual3 {background-image:url(../images/new_pr/main_visual7.jpg)}
.slide_visual .main_visual4 {background-image:url(../images/new_pr/main_visual8.jpg)}
.slide_visual li > div {width:950px;margin:120px auto;text-align:center;color:#fff;font-size:42px;line-height:50px;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.slide_visual li > div strong{display:inline-block;padding:0 3px;background-color:#0ccce3}
.slide_visual li > div p {margin-top:10px;text-align:center;font-size:20px;color:#f7ffb4}
.main_visual .slide_thumb {position:absolute;bottom:20px;left:50%;margin-left:-50px;z-index:6}
.main_visual .slide_thumb a {position:relative;display:inline-block;width:9px;height:9px;margin:0 3px;background-color:#fff;border-radius:5px}
.main_visual .slide_thumb .active {/*width:36px;*/background-color:#57a6f8}
.main_visual .bx-controls-direction {position:absolute;top:150px;left:50%;margin-left:-50%;width:100%;min-width:950px;height:59px}
.main_visual .bx-controls-direction a {position:absolute;top:0;width:36px;height:59px;font-size:0;z-index:6}
.main_visual .bx-controls-direction .bx-prev {left:20px;background-image:url(../images/new_pr/btn_prev.png)}
.main_visual .bx-controls-direction .bx-next {right:20px;background-image:url(../images/new_pr/btn_next.png)}
/* .sort_list {overflow:hidden;clear:both;margin-top:30px;padding-bottom:5px}
.sort_list a {float:left;width:200px;padding:50px 55px;margin-left:10px;color:#fff;text-align:center;font-family:'SpoqaHanSans', 'dotum', '돋움';box-shadow:2px 2px 5px #bac5ce}
.sort_list a:first-child {margin-left:0}
.sort_list a.btn_medicine {background-color:#0ccce3}
.sort_list a.btn_product {background-color:#57a6f8}
.sort_list a.btn_special {background-color:#9b8cfb}
.sort_list a strong {display:inline-block;font-size:36px;letter-spacing:-2px}
.sort_list a p {padding:10px 0 40px;font-size:16px;line-height:22px}
.sort_list a em {display:inline-block;width:156px;padding:10px 0;border:1px solid rgba(255, 255, 255, 0.7);border-radius:2px;font-weight:bold;font-size:14px;font-family:'dotum', '돋움'}
.sort_list a:hover em {background-color:#fff}
.sort_list a.btn_medicine:hover em {color:#0ccce3}
.sort_list a.btn_product:hover em {color:#57a6f8}
.sort_list a.btn_special:hover em {color:#9b8cfb}
.sort_list a .ico_comm3{width:70px;height:69px;margin:0 auto 30px}
.sort_list a.btn_medicine .ico_comm3 {background-position:0 -2100px}
.sort_list a.btn_product .ico_comm3 {background-position:-115px -2100px}
.sort_list a.btn_special .ico_comm3 {background-position:-230px -2100px} */
.sort_list {overflow:hidden;clear:both;margin-top:20px;padding-bottom:5px}
.sort_list a {float:left;width:200px;padding:25px 55px;margin-left:10px;color:#fff;text-align:center;font-family:'SpoqaHanSans', 'dotum', '돋움';box-shadow:2px 2px 5px #bac5ce}
.sort_list a:first-child {margin-left:0}
.sort_list a.btn_medicine {background-color:#0ccce3}
.sort_list a.btn_product {background-color:#57a6f8}
.sort_list a.btn_special {background-color:#9b8cfb}
.sort_list a strong {display:inline-block;font-size:30px;letter-spacing:-2px}
.sort_list a p {font-size:16px;line-height:22px}
.sort_list a em {display:inline-block;width:156px;padding:10px 0;border:1px solid rgba(255, 255, 255, 0.7);border-radius:2px;font-weight:bold;font-size:14px;font-family:'dotum', '돋움'}
.sort_list a .ico_comm3{width:70px;height:55px;margin:0 auto}
.sort_list a.btn_medicine .ico_comm3 {background-position:0 -2100px}
.sort_list a.btn_product .ico_comm3 {background-position:-115px -2100px}
.sort_list a.btn_special .ico_comm3 {background-position:-230px -2100px}
/* 이달의 퀴즈 */
.quiz_month {margin-top:50px;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.quiz_month .tit_cont {margin-bottom:20px;font-size:28px;text-align:center}
.quiz_month .quiz_txt {font-size:16px;text-align:center;color:#848484;line-height:22px}
.quiz_month .quiz_txt em {color:#5f6ef6}
.quiz_calender {overflow:hidden;width:870px;min-height:397px;padding:30px 39px 39px;margin:20px 0 35px;border:1px solid #ededed}
.today_quiz {position:relative;float:left;width:360px;height:330px;padding:39px 0;text-align:center}
.today_quiz .date {font-size:18px; margin-bottom:20px; } /*2020-04-02 수정*/
.today_quiz .name {font-size:30px;line-height:38px;margin-bottom:30px;display: block;} /* 2020-04-02 수정 */
.today_quiz .txt {font-size:14px;color:#999999}
.today_quiz img {width:auto;margin:0 auto}  /* 2020-04-09 수정 */
.today_quiz .ico_quiz {position:absolute;bottom:0px;right:0;width:165px;height:150px;background-position:0 -2230px}
/* 퀴즈달력 */
.tbl_quiz {float:right}
.tbl_quiz .tbl_month {display:block;margin-bottom:5px;text-align:center;font-size:16px}
.tbl_quiz .tbl_month strong {margin-right:5px;font-family:Verdana;font-size:28px}
.tbl_quiz table {width:475px}
.tbl_quiz thead tr {border:1px solid #929dd3;border-bottom-color:#f0f0f1}
.tbl_quiz th {padding:4px 0;background-color:#929dd3;color:#fff;font-weight:normal;font-size:11px}
.tbl_quiz td {height:58px;padding:4px;background-color:#f4f4f4;border-right:1px solid #e6e6e6;border-bottom:1px solid #f0f0f1;vertical-align:top}
.tbl_quiz tr td:first-child {border-left:1px solid #e6e6e6}
.tbl_quiz td span {display:block;font-size:11px;color:#a1a1a1;font-family:Verdana}
.tbl_quiz td span.name {padding-top:10px;text-align:center}
.tbl_quiz td.sat span.num {color:#449cf6}
.tbl_quiz td.sun span.num {color:#fa5050}
/* 활성화 */
.tbl_quiz td > a {position:relative}
.tbl_quiz td.today a:after {display:block;position:absolute;top:-5px;left:-5px;content:'';width:106%;height:62px;border:3px solid #5f6ef6}
.tbl_quiz td.today {background-color:#fff}
.tbl_quiz td.pass {background-color:#fff}
.tbl_quiz td.pass span {color:#191919}
.tbl_quiz td.pass .ico_clear,
.tbl_quiz td.pass .ico_clear.finish {position:absolute;top:-4px;left:-3px;width:66px;height:66px;background-position:-170px -1918px}
.tbl_quiz td.pass .finish {position:absolute;top:-4px;left:-3px;width:66px;height:66px;background-position:-240px -1918px}
/* 배너 */
.quiz_month + a {margin-bottom:35px;clear:both}
/* 베스트 상품 */
.best_pr {overflow:hidden;margin-top:16px;border:1px solid #ededed;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.best_pr .tit_best {position:relative;float:left;width:25%;height:239px;padding:30px 25px;box-sizing:border-box;letter-spacing:-0.2px}
.best_pr .tit_best .tit_cont {font-size:22px;margin-bottom:15px}
.best_pr .tit_best em {position:absolute;bottom:20px;right:25px;font-size:14px;color:#4b75fd}
.best_pr .tit_best .tit_cont + p {color:#848484;font-size:15px;line-height:26px}
.best_pr li {float:left;width:25%;height:239px;border-left:1px solid #ededed;box-sizing:border-box;text-align:center}
.best_pr li strong {display:block;margin-top:10px;color:#191919;font-size:18px;font-weight:normal;word-break:keep-all;word-wrap:break-word}
.best_pr li em {display:block;color:#999999;font-size:15px}
.best_pr li img {margin:0 auto}
.best_pr.medicine {margin-top:40px}
.best_pr.medicine .tit_best {background-color:#f2fcfb}
.best_pr.product .tit_best {background-color:#f1f9fd}
.best_pr.special {margin-bottom:40px}
.best_pr.special .tit_best {background-color:#f3f4fb}
.best_pr.rental .tit_best {height:259px;background-color:#f1f6fd}
.best_pr.rental li {height:259px}
.best_pr.rental li em {display:block;display:-webkit-box;overflow:hidden;width:90%;margin: 0 5%;height:44px;line-height:22px;color:#999999;font-size:15px;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.best_pr.special li {width:37.5%}
.best_pr.special li img {width:100%}
.banner {margin:40px 0 30px }
/* 의료장비렌탈 2018-02-26 */
.rental #container {width:100%}
.rental .contents {width:980px;margin:0 auto}
/* 의료장비렌탈 리스트 */
.retal_top {overflow:hidden;margin-bottom:40px;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.retal_img {float:left;width:540px;height:300px;border:1px solid #e4e4e4;background:url('../images/new_pr/bg_retallist_top.jpg') no-repeat center center;box-sizing:border-box}
.retal_img a {height:100%;padding:0 40px;}
.retal_img p {padding:40px 0 20px;color:#484848;font-size:16px}
.retal_img span {display:block;color:#59b3ff;font-size:28px;font-weight:bold;line-height:30px}
.retal_img strong {color:#1dcbc5}
.retal_img span.box_blue {width:200px;padding:10px 0;margin-top:35px;background-color:#4eaeff;color:#fff;font-size:16px;font-weight:normal;text-align:center;border-radius:3px}
.retal_link {float:right}
.retal_link .btn_link {position:relative;display:table;width:430px;height:144px;padding:0 35px;border:1px solid #e4e4e4;box-sizing:border-box}
.retal_link .btn_link:after {position:absolute;top:55px;right:30px;display:table-cell;content:'';width:30px;height:30px;border-top:1px solid #c2c2c2;border-right:1px solid #c2c2c2;transform: rotate(45deg)}
.retal_link .btn_link:hover {background-color:#f3fbfd}
.retal_link .btn_link + .btn_link {margin-top:12px}
.retal_link .btn_link .txt {display:table-cell;font-size:16px;color:#484848;vertical-align:middle}
.retal_link .btn_link .txt strong {display:block;margin-bottom:3px;font-size:21px;color:#202020}
.retal_link .btn_link .txt li {font-size:11px;color:#848484;font-family:'dotum', '돋움'}
.retal_link .ico_comm3 {margin:35px 0;width:72px;height:72px;vertical-align:middle}
.retal_link .ico_proposal {background-position:0 -2760px}
.retal_link .ico_shop {background-position:-80px -2760px}
.rental_list {border-left:1px solid #e4e4e4}
.rental_list li {float:left;position:relative;width:325px;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;background-color:#fff}
.rental_list li:nth-child(-n+3) {border-top:1px solid #e4e4e4}
.rental_list a {overflow:hidden;display:block;padding:25px 0 10px;color:#848484;text-align:center}
.rental_list .product_img {width:auto;height:230px;margin:0 auto 20px}
.rental_list .tit, .rental_list .txt
{overflow:hidden;display:block;width:270px;margin:0 auto;;text-overflow:ellipsis;white-space:nowrap;word-wrap:break-word}
.rental_list .tit {font-size:18px;color:#191919;font-weight:normal;letter-spacing:-1px;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.rental_list .txt {display:-webkit-box;height:36px;margin-top:10px;color:#848484;word-break:keep-all;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.rental_list .ico_rental {display:block;position:absolute;left:29px;top:25px;padding:4px 9px 3px;background-color:#4eaeff;color:#fff;text-align:center}
.rental_list .ico_rental.buy {background-color:#fd5324}
.rental_list .list_on {display:none;position:absolute;left:-2px;top:-2px;width:325px;height:100%;border:2px solid #4eaeff}
.rental_list li:hover {z-index:10}
.rental_list li:hover a .list_on {display:block}
/* 의료장비렌탈 상세 */
.retal_info_img {float:left;width:440px;margin-top:25px}
.retal_info_img .retal_contact {margin-top:30px}
.retal_info_img .btn_proposal {margin-top:20px}
.retal_prod_slide {overflow:hidden;position:relative;width:438px;height:403px;border:1px solid #dddddd}
.retal_prod_slide .product_slider {width:100%;height:403px}
.retal_prod_slide .product_slider img {margin:auto;max-width:80%;max-height:100%}
.retal_prod_slide .slide_thumb {position:absolute;bottom:10px;left:0;width:100%;z-index:6;text-align:center}
.retal_prod_slide .slide_thumb a {display:inline-block;width:7px;height:7px;margin:0 3px;border:1px solid #c9c9c9; background-color:#fff;border-radius:50%}
.retal_prod_slide .slide_thumb .active {border-color:#80c5ff;background-color:#80c5ff}
.retal_prod_slide .bx-controls-direction {position:absolute;top:150px;width:100%}
.retal_prod_slide .bx-controls-direction a {position:absolute;top:0;width:42px;height:63px;background-color:#999999;background-repeat:no-repeat;background-position:center;font-size:0;z-index:6}
.retal_prod_slide .bx-controls-direction .bx-prev {left:0;background-image:url(../images/btn_prev.png)}
.retal_prod_slide .bx-controls-direction .bx-next {right:0;background-image:url(../images/btn_next.png)}
.retal_info_txt {float:right;width:470px;word-break:keep-all;word-wrap:break-word}
.retal_info_txt .info {overflow:hidden;padding:25px 0;border-bottom:1px solid #dddddd}
.retal_info_txt .name {display:block;color:#202020;font-size:40px;font-weight:normal;letter-spacing:-1px;line-height:1.2}
.retal_info_txt .model {margin:20px 0;color:#848484;font-size:18px}
.retal_info_txt .info_tit {display:block;margin-bottom:15px;font-size:14px;color:#202020;font-weight:bold;font-family:'dotum', '돋움';letter-spacing:-1px}
.retal_info_txt .info_tit span {display:inline-block;margin-left:10px;font-size:12px;color:#4ea5ff;font-weight:normal}
.retal_info_txt .info_txt {width:100%;font-size:17px;letter-spacing:-1px}
.retal_info_txt .info_txt + .info_txt {margin-top:25px}
.retal_info_txt .tit .info_txt {width:300px;color:#333333;font-size:16px;letter-spacing:-1px}
.retal_info_txt .charge .info_txt strong {display:inline-block;width:190px;font-size:26px;line-height:36px}
.retal_info_txt .charge .info_txt span {display:inline-block;width:230px;font-size:12px;font-family:'dotum', '돋움';letter-spacing:-0.5px}
.retal_info_txt .goods .info_txt + .info_txt {margin-top:10px;color:#848484;font-size:12px;font-family:'dotum', '돋움';letter-spacing:0}
.retal_info_txt .detail li {float:left;width:120px;margin-right:40px}
.retal_info_txt .detail .info_tit {margin-bottom:5px}
.retal_info_txt .detail .info_txt {min-height:50px}
.retal_info_txt .detail li:nth-child(2) {width:160px}
.retal_info_txt .detail li:nth-child(-n+2) {margin-bottom:35px}
.retal_info_txt .detail li:last-child {margin:0}
.retal_cont {margin-top:60px;padding:60px 0;border-top:4px solid #cfd6de}
.retal_cont img {max-width:980px;margin:0 auto; }
.retal_btm {overflow:hidden;padding:40px 30px;border-top:4px solid #cfd6de;border-bottom:4px solid #cfd6de;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.retal_btm .f_r {width:420px;margin-top:7px}
.retal_btm .time {margin-top:20px}
.retal_btm .tel + .time {margin-top:0}
.retal_contact {font-size:15px;line-height:40px}
.retal_contact span {display:inline-block;margin-left:30px;vertical-align:middle}
.retal_contact .tel span {font-size:28px;font-weight:bold}
.retal_contact .time span {font-size:16px}
.retal_contact .time em {font-size:14px;color:#848484}
.retal_contact .btn_proposal {display:inline-block;width:100%;padding:15px 0;font-size:20px;color:#fff;background-color:#55b9ff;text-align:center}
.retal_contact .btn_buy {display:inline-block;width:100%;margin-top:10px;padding:15px 0;font-size:20px;color:#fff;background-color:#3067ff;text-align:center}
.retal_contact .btn_buy .ico_comm3 {display:inline-block;width:30px;height:25px;margin:0 7px 0 0;background-position:0 -1242px}
.btn_wrap {overflow:hidden;margin-top:20px}
.btn_wrap .btn_list {display:inline-block;width:130px;height:38px;line-height:38px;border-radius:2px;border:1px solid #d1d1d1;background-color:#fff;color:#666666;text-align:center}
.btn_wrap .btn_list:before {display:inline-block;margin-right:5px;content:'<'}
/* 의료장비렌탈 팝업 */
.layer_rental {display:none;position:absolute;width:540px;padding:55px 59px 40px;border:1px solid #dddddd;background-color:#fff}
.layer_rental .layer_head {overflow:hidden;text-align:center;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.layer_rental .layer_head .tit {display:block;width:450px;padding-bottom:27px;margin:0 auto 20px;border-bottom:4px double #9e9e9e;font-size:24px;letter-spacing:-0.5px}
.layer_rental .layer_head .tit:before,
.layer_rental .layer_head .tit:after {display:inline-block;content:'';width:44px;height:14px;margin-left:30px;background:url(../images/life/bg_layer_tit.gif) no-repeat top left;vertical-align:middle}
.layer_rental .layer_head .tit:before {margin:0 30px 0 0}
.layer_rental .layer_head .txt {font-size:14px}
.layer_rental .wrap_btn {margin-top:30px;text-align:center}
.layer_rental .btn {display:inline-block;min-width:74px;padding:11px 50px;margin:0 3px;border:1px solid #c6c6c6;font-size:14px;font-weight:bold;vertical-align:top}
.layer_rental .btn_answer {color:#fff;background-color:#2bacff;border-color:#2bacff}
.layer_rental .btn_close {color:#252525;background-color:#fff}
.layer_rental .layer_foot {position:absolute;right:40px;top:40px}
.layer_rental .layer_foot .btn_cancel {width:22px;height:22px;background-position:-110px -205px}
.layer_rental .input_area textarea {height:auto}
.layer_rental .s_tit.in_tit:after {content:'*';margin-left:5px;color:#ff0000;line-height:34px}
.layer_rental .layer_cont .s_tit {display:inline-block;font-size:14px;margin-top:20px;font-weight:bold}
.layer_rental .layer_cont .s_tit + span {color:#ff0000}
.layer_rental .agreebox {overflow-y:auto;width:515px;height:166px;padding:0 10px 10px;line-height:18px;border:1px solid #c0c0c0;color:#737373;resize:none}
.layer_rental .agreebox p:first-child {font-weight:bold}
.layer_rental .agreebox p {margin-top:10px}
.layer_rental .agreebox span {display:block;color:#18a3fa}
.layer_rental .input_area .text {width:122px}
.layer_rental .input_area .text:last-child {width:200px}
/* 의료장비렌탈 서비스 소개 */
.ez_visual {position:relative;margin:-22px auto 0;min-width:950px}
.ez_slide {width:950px;max-width:1920px;height:420px}
.ez_slide li {height:100%;background-repeat:no-repeat;background-position:top center}
.ez_slide li > div {width:950px;margin:140px auto;text-align:center;color:#fff;font-size:32px;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.ez_slide li span {display:block;font-size:60px;font-weight:bold;line-height:90px}
.ez_slide li strong {color:#57a2ff}
.ez_slide .ez_visual1 {background-image:url(../images/new_pr/rental_visual1.jpg)}
.ez_slide .ez_visual2 {background-image:url(../images/new_pr/rental_visual2.jpg)}
.ez_slide .ez_visual2 span {font-size:56px;letter-spacing:-1px}
.ez_visual .slide_thumb {position:absolute;left:0;bottom:20px;width:100%;z-index:6;text-align:center}
.ez_visual .slide_thumb a {position:relative;display:inline-block;width:9px;height:9px;margin:0 3px;background-color:#fff;border-radius:50%}
.ez_visual .slide_thumb .active {background-color:#57a6f8}
.ez_visual .bx-controls-direction {position:absolute;top:175px;left:50%;margin-left:-50%;width:100%;min-width:950px;height:59px}
.ez_visual .bx-controls-direction a {position:absolute;top:0;width:36px;height:59px;font-size:0;z-index:6}
.ez_visual .bx-controls-direction .bx-prev {left:20px;background-image:url(../images/new_pr/btn_prev.png)}
.ez_visual .bx-controls-direction .bx-next {right:20px;background-image:url(../images/new_pr/btn_next.png)}
.rental_service {font-family:'SpoqaHanSans', 'dotum', '돋움'}
.rental_service .tit {padding:100px 0 75px;font-size:42px;text-align:center;font-weight:normal}
.rental_service .tit span {color:#4c9cff}
.rental_service .tit em {display:block;font-size:24px}
.why_ez {margin-bottom:120px}
.why_ez li {display:table;width:100%;height:270px;border-bottom:1px solid #dddddd;table-layout:fixed}
.why_ez li:first-child {border-top:1px solid #dddddd}
.why_ez li > div {display:table-cell;width:25%;padding:50px 0;text-align:center;font-size:16px;vertical-align:middle;letter-spacing:-1px}
.why_ez li > div strong {font-size:24px}
.why_ez li > div em {display:block;margin:20px 0 5px;font-size:20px;color:#202020}
.why_ez .ico_comm3 {width:50px;height:55px;margin:0 auto}
.why_ez .why_ez0101 .ico_comm3 {background-position:0 -2840px}
.why_ez .why_ez0102 .ico_comm3 {background-position:-50px -2840px}
.why_ez .why_ez0103 .ico_comm3 {background-position:-100px -2840px}
.why_ez .why_ez0201 .ico_comm3 {background-position:-150px -2840px}
.why_ez .why_ez0202 .ico_comm3 {background-position:-200px -2840px}
.why_ez .why_ez0203 .ico_comm3 {background-position:-150px -2900px}
.why_ez .why_ez0301 .ico_comm3 {background-position:0 -2900px}
.why_ez .why_ez0302 .ico_comm3 {background-position:-50px -2900px}
.why_ez .why_ez0303 .ico_comm3 {background-position:-100px -2900px}
.rental_case {height:800px;background:#f6f7f9 url(../images/new_pr/bg_rental_case.jpg) no-repeat center center}
.rental_case .tit {padding-bottom:50px}
.rental_case .case {display:inline-block;width:385px;height:450px;padding:25px 40px;background-color:#fff;vertical-align:top}
.rental_case .case + .case {margin-left:47px}
.rental_case .case_tit {display:block;position:relative;height:86px;padding-left:100px;border-bottom:1px solid #dddddd;font-size:20px}
.rental_case .case_tit em {display:block;padding-top:10px;font-size:18px;color:#3e94ff}
.rental_case .case_tit:before {display:block;position:absolute;bottom:0;left:0;width:66px;height:86px;content:'';background:url(../images/ico_comm3_v3.png) -270px -2800px no-repeat}
.rental_case .case_txt {margin-top:30px;word-break:keep-all;word-wrap:break-word}
.rental_case .case_txt strong {font-size:20px;font-weight:normal}
.rental_case .case_txt p {margin-top:20px;font-size:16px;line-height:28px}
.lease_vs {background-color:#f6fafe;padding-bottom:100px}
.lease_vs .tbl_service table {width:100%;border-top:2px solid #333333;table-layout:fixed}
.lease_vs .tbl_service tr {border-bottom:1px solid #dddddd}
.lease_vs .tbl_service th, .lease_vs .tbl_service td {height:24px;font-size:14px}
.lease_vs .tbl_service th {padding:17px 0;color:#333;letter-spacing:-1px}
.lease_vs .tbl_service td {padding:20px 0;text-align:center;color:#202020;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.lease_vs .tbl_service td span {color:#848484}
.lease_vs .tbl_service thead th {font-size:19px}
.lease_vs .tbl_service thead th:first-child {font-size:14px}
.lease_vs .tbl_service thead th.bg {border-top:2px solid #4c9cff;color:#4c9cff}
.lease_vs .tbl_service .bg {background-color:#fff;border-right:1px solid #4c9cff;border-left:1px solid #4c9cff;box-shadow: 10px 5px 5px rgba(92, 115, 144, 0.2)}
.lease_vs .tbl_service tbody tr:last-child .bg {border-bottom:1px solid #4c9cff}
.ez_guide {margin-bottom:50px}
.ez_process {overflow:hidden}
.ez_process li {position:relative;float:left;width:165px;padding:0 11px;margin-left:10px;text-align:center}
.ez_process li:after {position:absolute;top:0;left:-7px;content:'>';color:#ccd4dc;font-size:30px}
.ez_process li:first-child {margin-left:0}
.ez_process li:first-child:after {display:none}
.ez_process li > div p {font-size:15px;letter-spacing:-1px;word-break:keep-all;word-wrap:break-word}
.ez_process li > div em {display:block;margin:30px 0 20px;font-weight:bold;font-size:21px}
.ez_process .ico_comm3 {width:40px;height:40px;margin:0 auto}
.ez_process .ez_guide01 .ico_comm3 {background-position:-160px -2760px}
.ez_process .ez_guide02 .ico_comm3 {background-position:-205px -2760px}
.ez_process .ez_guide03 .ico_comm3 {background-position:-250px -2760px}
.ez_process .ez_guide04 .ico_comm3 {background-position:-295px -2760px}
.ez_process .ez_guide05 .ico_comm3 {background-position:-160px -2800px}
.ez_guide .wrap_btn {margin-top:60px;text-align:center}
.ez_guide .wrap_btn .btn {display:inline-block;width:280px;height:70px;background-color:#2bacff;line-height:70px;font-size:20px;color:#fff}
.ez_customer {overflow:hidden;margin-top:90px;padding:60px;background-color:#f9f9f9}
.ez_customer .tit_customer {display:block;float:left;width:270px;height:55px;font-size:0;background:url(../images/new_pr/logo_ezmedicom.png) no-repeat top left}
.ez_customer .info_customer {float:right;width:450px;margin-bottom:40px}
.ez_customer .info_customer li {margin-bottom:15px}
.ez_customer .info_customer strong {display:inline-block;width:90px;font-size:15px;font-weight:normal}
.ez_customer .info_customer p {display:inline-block;font-size:16px}
.ez_customer .info_customer .tel {font-size:28px;font-weight:bold}
.ez_customer .info_customer a {color:#238afe;border-bottom:1px solid #238afe}
.ez_customer .info_txt {clear:both;padding-top:25px;border-top:1px solid #e1e1e1}
.ez_customer .info_txt li {position:relative;margin-top:10px;padding-left:10px;font-size:16px;color:#666666;word-break:keep-all;word-wrap:break-word}
.ez_customer .info_txt li:before {display:inline-block;position:absolute;top:10px;left:0;content:'';width:4px;height:4px;border-radius:50%;background-color:#666666;vertical-align:middle}

/* 홍보영상 */
.pr_video #container {width:100%;margin:0;font-family:'SpoqaHanSans', 'dotum', '돋움'}
.pr_video .content {width:980px;margin:22px auto 0}
.pr_video .content .tit_cont {margin-top:50px}
.pr_video .total {display:block;margin:30px 0 20px;font-size:16px;font-weight:normal}
.pr_video .total em {font-family:verdana;color:#999999}
.pr_video .paging {border-top:1px solid #e0e0e0}
.pr_video .tab_box {display:table !important;width:100%;table-layout:fixed;}
.pr_video .tab_box li {display:table-cell !important;float:none !important;}
.pr_video .tab_box li a {display:block;line-height:50px;}
/* tab_area */
.pr_video .tab_area {position:relative;margin-top:25px}
/* tab_box */
.tab_box li {width:25%;height:50px}
.tab_box li a {width:100%;display:block;}
.tab_box li .link_box {background-color:#f6f7f9;font-size:15px;color:#555555}
.tab_box li.on .link_box {background-color:#fff;color:#4e5ef5}
.tab_box li.on {border-color:#4e5ef5}
.tab_box li.on + li {border-left-color:#4e5ef5}
/* tab_txt */
.tab_txt {border-bottom:1px solid #e8e8e8}
.tab_txt li {border:0;margin-right:8px}
.tab_txt .link_txt {line-height:25px;font-size:16px}
.tab_txt li.on .link_txt {border-bottom-color:#4e5ef5;color:#4e5ef5}

/* 영상 리스트 */
.video_list {overflow:hidden;min-height:500px}
.video_list li {position:relative;float:left;width:296px;height:300px;margin-top:40px;padding-left:45px}
.video_list li:nth-child(-n+3) {margin-top:0}
.video_list li:nth-child(3n+1) {padding-left:0}
.video_list li:nth-child(3n+1):after {position:absolute;bottom:0;left:0;content:'';display:block;width:950px;height:1px;background-color:#e0e0e0}
.video_list li:nth-last-of-type(3):after,
.video_list li:nth-last-of-type(2):after,
.video_list li:last-child:after {display:none}
.video_list .category {display:block;margin:15px 0 10px;font-size:15px;color:#1871de}
.video_list .txt {display:-webkit-box;overflow:hidden;width:95%;height:48px;line-height:24px;font-size:16px;color:#000000;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.video_list .video_img {position:relative}
.video_list .ico_video {position:absolute;bottom:20px;right:20px;width:36px;height:36px;background-position:-270px -2900px;z-index:3}
.video_list .video_img:after {position:absolute;top:0;left:0;content:'';display:block;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.2);z-index:2}
/* 영상 상세 */
.video_area {position:relative;width:100%;height:535px;background-color:#111111}
.video_area .video {width:950px;height:100%;margin:0 auto}
.video_cont .category {display:block;margin:30px 0 0;font-size:18px;color:#3485f4}
.video_cont .tit {display:block;font-size:38px;color:#000;font-weight:normal}
.video_cont .edit_view {font-size:16px;color:#666;word-break:keep-all;word-wrap:break-word;line-height:1.8}
.video_cont .edit_view img {max-width:100%;margin:10px 0}
.pr_video .info_list {margin:25px 0}
.pr_video .info_list li {font-size:15px}
.pr_video .info_list li + li {margin-top:10px}
.pr_video .btn_area {margin-top:40px;border-top:1px solid #e2e2e2;text-align:center}
.pr_video .btn_area a {display:inline-block;width:278px;margin-top:30px;padding:12px 0;border:1px solid #cccccc;font-size:16px;text-align:center}
/* CME 영상 추가 */
.drville_on .tab_box {display:table;width:100%;table-layout:fixed;}
.drville_on .tab_box li {display:table-cell;background:#f6f7f9;float:none;line-height:50px;text-align:center;vertical-align:middle;}
.drville_on .tab_box li .link_box {display:block;}
.drville_on .tab_box li.on {border:1px solid #187ee6;background:#fff;}
.drville_on .tab_box li.on .link_box {color:#187ee6;}
.drville_on .tab_box li.on + li {border-left:none;}
.total .keyword_txt {color:#187ee6;margin-left:20px;}
.tab_txt.drville_on li.on .link_txt {border-bottom-color:#187ee6;color:#187ee6;}
.txt_tlblk {font-size:18px;color:#202020;}
.tl_top_area {overflow: hidden;}
.tl_top_area .total {float:left;}
.select_box_area_fr {float:right;margin:30px 0 20px;}
.select_box_area_fr select {border:1px solid #dfdfdf;width:175px;padding:10px;}
.mt25 {margin-top:25px;}
.ml20 {margin-left:20px;}
.icon_tl1 {background:url(../images/cme/dr_on_icon.gif) 0 4px no-repeat;padding-left:35px;}
.cme_view_txt01 {font-size:15px;color:#333;margin:35px 0;display:inline-block;}
.txt_red {color:#ff2e2e !important;}
.m5 {margin:0 5px;}