@charset "utf-8";
#wrap {background-color: #fff}
#container {width:980px}
.contents{position:relative;float:left;width:696px}
.right_section{float:right;width:240px;margin-left:14px}
/*input*/
input.text{height:28px;line-height:28px;padding:0 8px;border:1px solid #c0c0c0;color:#737373}
.input_area{*zoom:1}
.input_area:after{display:block;content:"";clear:both}
.input_area input{float:left}
.input_area .submit{position:absolute;right:37px;top:23px;display:inline-block;height:66px;line-height:66px;padding:0 30px;border:1px solid #129ce4;color:#fff;font-weight:bold;background:#14afff;text-decoration:none}
input::placeholder {color:#ababaa;}
input::-webkit-input-placeholder {color:#ababaa;}
input::-moz-input-placeholder {color:#ababaa;}
input:-ms-input-placeholder {color:#ababaa;}
/* 목록버튼 */
.btn_wrap {overflow:hidden;margin:20px 0 5px;}
.btn_wrap a {border:1px solid #d1d1d1;border-radius:2px;text-align:center;}
.btn_wrap .btn_list {display:inline-block;padding:0 20px;height:28px;line-height:28px;border-radius:2px;border:1px solid #d1d1d1;background-color:#fff;}
.btn_wrap .btn_write {float:right;width:110px;height:20px;padding:7px 0 6px;background-color:#fff;font-weight:bold;letter-spacing:-1px;}
.btn_wrap .btn_blue {float:right;width:138px;height:20px;padding:4px 0 3px;font-weight:bold;letter-spacing:-1px;border-color:#0081bd;background-color:#0089c8;color:#fff;}
.btn_wrap .btn_blue:hover, .btn_blue:active {background-color:#0089c8;}

.list_section_wrap {overflow:hidden;margin-bottom:15px;}
.list_section_wrap .total {float:left;font-weight:bold;font-size:14px}
.list_section_wrap .total a {float:left;text-decoration:underline;}
.list_section_wrap .total span {font-weight:normal;}
.list_section_wrap .total span:before {content:'>';margin:0 5px;color:#9b9b9b;}
.list_section_wrap .total em {margin:0 5px;font-size:12px;font-weight:bold;color:#ff5a01;letter-spacing:-2px;font-family:Verdana;}
.list_section_wrap .order {float:right;margin-top:2px;}
.list_section_wrap .order li {float:left}
.list_section_wrap .order li a {float:left;display:block;margin-left:11px;color:#bfc1c2;text-decoration:none}
.list_section_wrap .order .ico_check { width:10px; height:10px; margin-top:5px;background-position:0 -1220px}
.list_section_wrap .order .on a {font-weight:bold;color:#606060}
.list_section_wrap .order .on .ico_check {background-position:0 -1235px;}

.no_serch {padding:100px 0;text-align:center;}
.guide_view .contents {position:relative;float:left;width:614px;padding:30px 40px 40px;border:1px solid #ededed;border-top-color:#31b9ff;background-color:#fff}
.view_head {position:relative;padding-bottom:12px;border-bottom:1px solid #ededed;}
.view_head .view_tit .category {display:block;margin-bottom:10px;font-size:12px;color:#059ce5;line-height:1;}
.view_head .view_tit strong {display:block;margin-bottom:5px;line-height:25px;font-size:20px;}
.view_head .view_tit strong span{padding-left:6px;font-size:13px;font-weight:normal;color:#8c8c8c;font-family:Tahoma sans-serif;}
.view_head .view_tit .txt {padding:4px 3px 3px;font-weight:bold;color:#fff;font-size:12px;vertical-align:top;font-family:Dotum, "돋움", serif}
.view_head .view_tit .txt.ing {background-color:#ff6633;}
.view_head .view_tit .txt.end {background-color:#059ce5;}
.view_head .tail {overflow:hidden;}
.view_head .tail .f_l {height:21px;margin-top:5px;}
.view_head .tail .f_l span {position:relative;margin:0 9px;font-size:11px;color:#9f9f9f;line-height:15px}
.view_head .tail .f_l span:after {position:absolute;top:0;left:-10px;content:'';width:1px;height:10px;background-color:#e3e7ee;}
.view_head .tail .f_l span:first-child {margin-left:0}
.view_head .tail .f_l span:first-child:after {width:0;}
.view_head .tail .f_l span em {padding-left:2px;font-weight:bold;}
.view_head .tail .f_l .ico_comm2 {width:14px;height:14px;margin:1px 0 0 0;}
.view_head .tail .f_l .ico_person {margin-right:0;background-position:0 -528px}
.view_head .tail .f_l .ico_2015 {background-position:0 -1000px}
.view_head .tail .f_r {font-size:11px;vertical-align:middle;color:#ababab}
.view_head .tail .f_r a {display:inline-block;}
.view_head .tail .f_r .btn_comm {display:inline-block;width:26px;height:26px;margin-right:10px;vertical-align:middle}
.view_head .tail .f_r .btn_share {background-position:0 -140px}
.view_head .tail .f_r .btn_print {background-position:-40px -140px}
.view_head .tail .f_r .btn_favorite {background-position:-80px -140px}
.view_head .tail .f_r .btn_down {background-position:-210px -317px;}

.edit_view {overflow:auto;width:615px;padding:34px 0;color:#5f5f5f}
.edit_view img {max-width:615px}
.edit_view + .btn_wrap {padding-top:20px;border-top:1px solid #ededed;}
.edit_view + .memo {position:relative;display:block;margin-bottom:40px;padding-top:30px;border-top:1px solid #ededed;}
.info_view .notice {position:relative;display:block;padding:20px 0 0 35px;border-top:2px solid #d5d6da;font-size:11px;color:#ababab;letter-spacing:-1px; background:#fff}
.info_view .notice .ico_comm2{position:absolute;left:0;top:22px;width:22px;height:22px;background-position:0 -965px;text-indent:0;}
.info_view .btn {margin-top:40px;text-align:center}
.info_view .btn.notice {padding-left:0;border-top:1px solid #ededed;}
.info_view .btn a {display:inline-block;margin:0 1px;padding-top:13px;width:78px;height:65px;border:1px solid #ededed;color:#9a9a9a;font-size:11px;text-decoration:none;text-align:center;vertical-align:middle;}
.info_view .btn em {display:block;margin-top:-2px;color:#8c9eb1}
.info_view .btn .txt_b{display:block;margin-top:2px;}
.info_view .btn .png_comm{display:inline-block;width:25px;height:24px;}
.info_view .btn .btn_like .png_comm{background-position:-70px -148px;}
.info_view .btn .btn_like.on .png_comm{background-position:-70px -175px;}
.info_view .btn .btn_favorite .png_comm{background-position:-102px -146px;}
.info_view .btn .btn_favorite.on .png_comm{background-position:-102px -176px;}
.info_view .btn a.on {background-position:center -166px}
/* 보험청구 상담 */
/* list */
.category_all {overflow:hidden;border:1px solid #e1e1e1;border-top:2px solid #059ce5;background:#fff;padding:22px 30px 12px;margin-bottom:30px;clear:both;}
.category_all li {float:left;width:20%;line-height:23px;margin-bottom:10px;}
.category_all li a {display:inline-block;padding:0 5px;color:#222;border-radius:2px;}
.category_all li a:hover{color:#fff;background-color:#059ce5}
.category_all li .on {color:#fff;background-color:#059ce5}
.category_all + .category_tail {margin-top:-20px;margin-bottom:30px;text-align:right;font-size:11px;color:#969696}

/* 서식 */
.form .contents{position:relative;width:100%}
.form .btn_form_guide {position:absolute;right:0;top:12px;color:#666666;}
.form .btn_form_guide:before {display:inline-block;content:'?';line-height:16px;padding: 0 4px;margin-right:6px;border-radius:50%;background-color:#d1d1d1;color:#fff;letter-spacing:-0.2px;font-size:13px;font-weight:bold;font-family:Verdana;}
.form .btn_form_guide:hover {text-decoration:underline;}
.form .category_all {width:918px;}
.form .category_all li {width:20%;}
.form .list_box {overflow:hidden;}
.form .list_box .list_cont {overflow:hidden;position:relative;float:left;width:228px;margin-left:20px;margin-bottom:20px;border:1px solid #ededed;background-color:#fff;text-align:center;}
.form .list_box .list_cont:nth-child(4n+1) {margin-left:0;}
.form .list_box .list_cont figure {overflow:hidden;width:228px;height:161px;}
.form .list_box .list_cont figure img {width:100%;}
.form .list_box .list_cont .list_tit {position:relative;overflow:hidden;padding:12px 5px;z-index:2;box-shadow:0 5px 100px 0px rgba(0, 0, 0, 0.6)}
.form .list_box .list_cont .list_tit strong {display:block;overflow:hidden;width:100%;height:22px;font-size:14px;text-overflow:ellipsis;white-space:nowrap;-webkit-box-orient:vertical;}
.form .list_box .list_cont .list_tit .category {display:block;margin-bottom:1px;font-size:12px;color:#059ce5;}
.form .list_cont .bg {display:block;position:absolute;top:-163px;left:0;width:228px;height:162px;background-color:#000;opacity:0.8;}
.form .list_cont .file_down {display:none;position:absolute;top:0;left:0;z-index:1;width:100%;padding:35px 0;text-align:center;}
.form .list_cont .file_down strong {display:block;margin-bottom:15px;color:#999999;}
.form .list_cont .file_down .ico_comm3 {display:inline-block;width:42px;height:42px;margin:4px;}
.form .list_cont .file_down .ico_down {width:11px;height:10px;background-position:-85px -1783px;}
.ico_word {background-position:0 -2180px;}
.ico_hwp {background-position:-50px -2180px;}
.ico_xls {background-position:-100px -2180px;}
.ico_pdf {background-position:-150px -2180px;}
/* 문서사용안내 레이어팝업 */
.layer_form_guide {display:none;position:absolute;width:520px;padding:50px 40px 30px;border-top:4px solid #4ea1ff;background-color:#fff}
.layer_form_guide .layer_head {margin-bottom:25px;text-align:center}
.layer_form_guide .tit {color:#50b4ff;font-size:24px;font-weight:bold;letter-spacing:-0.5px;line-height:28px}
.layer_form_guide .form_guide_box {display:block;width:490px;padding:30px;padding-right:0;background-color:#f3f3f3;}
.form_guide_box .ico_comm3 {display:inline-block;width:42px;height:42px;margin-right:10px;}
.form_guide_box li {margin-top:28px;}
.form_guide_box li:first-child {margin-top:0;}
.form_guide_box li:first-child .txt {line-height: 20px}
.form_guide_box .txt {display:inline-block;color:#484848;line-height:42px;letter-spacing:-1px;vertical-align:middle;}
.layer_form_guide .info_txt {display:block;margin-top:15px;color:#848484;font-size:11px;line-height:20px}
.layer_form_guide .layer_body .wrap_btn {margin-top:25px;text-align:center}
.layer_form_guide .layer_body .btn_bn {display:inline-block;width:110px;height:36px;padding:8px 10px;font-size:12px;font-weight:bold;text-align:center}
.layer_form_guide .layer_body .btn_close {color:#fff;background-color:#a0adb5}
.layer_form_guide .layer_foot {position:absolute;right:30px;top:26px}
.layer_form_guide .layer_foot .btn_cancel {width:22px;height:22px;background-position:-110px -205px}

/*케어노트&카드뉴스*/
.edu_data .list_box {overflow:hidden;}
.edu_data .list_box .list_cont {float:left;width:341px;margin-left:10px;margin-bottom:10px;border:1px solid #ededed;background-color:#fff}
.edu_data .list_box .list_cont:nth-child(odd) {margin-left:0;}
.edu_data .list_box .list_cont:hover {border-color:#4fa3f1;}
.edu_data .list_box .list_cont figure {width:341px;height:218px;}
.edu_data .list_box .list_cont figure img {width:341px;height:218px;}
.edu_data .list_box .list_cont .list_tit {overflow:hidden;height:44px;margin:15px 20px 5px;}
.edu_data .list_box .list_cont .list_tit strong {display:-webkit-box;overflow:hidden;width:100%;height:44px;font-size:16px;line-height:22px;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.edu_data .list_box .list_cont .tail {padding:0 20px 15px;}
.edu_data .list_box .list_cont .tail span {position:relative;margin:0 9px;font-size:11px;color:#9f9f9f;line-height:15px}
.edu_data .list_box .list_cont .tail span:after {position:absolute;top:0;left:-10px;content:'';width:1px;height:10px;background-color:#e3e7ee;}
.edu_data .list_box .list_cont .tail span:first-child {margin-left:0}
.edu_data .list_box .list_cont .tail span:first-child:after {width:0;}
.edu_data .list_box .list_cont .tail span em {font-weight:bold;}
.edu_data .memo strong {font-size:14px;}
.edu_data .memo .write {position:relative;margin-top:15px;padding:30px 20px;border:1px solid #ededed;background-color:#f4f4f7;}
.edu_data .memo .write .placeholder {position:absolute;top:41px;left:88px;color:#ababab;}
.edu_data .memo .write textarea {width:488px;height:auto;padding:10px 15px;margin-bottom:20px;border:1px solid #c0c0c0;}
.edu_data .memo .write label {display:inline-block;width:48px;padding-top:6px;color:#484848;font-weight:bold;vertical-align:top;}
.edu_data .memo .write input + label {width:65px;margin-left:30px;}
.edu_data .memo .txt_length {position:absolute;top:55px;left:15px;display:inline-block;width:48px;font-family:'verdana', '돋움', 'dotum';letter-spacing:-0.5px}
/* 환자교육자료 */
.guide_view .edu_data {border-top:2px solid #187ee6}
.edu_data .top_banner_edu {position:relative;width:100%;height:155px;margin-bottom:20px;background:url(../images/guide/top_banner_edu.gif) no-repeat top left;}
.edu_data .edit_view img {margin:0 auto;}
.edu_data .btn_area {width:100%;overflow:hidden;margin-bottom:20px;text-align:center}
.edu_data .btn_area a {display:inline-block;overflow:hidden;width:240px;height:45px;margin:0 10px;border:1px solid #0f83bb;border-radius:3px;background-color:#059ce5;font-size:14px;line-height:45px;color:#fff;font-weight:bold;letter-spacing:-1px;text-decoration:none;}
.edu_data .btn_area a.btn_print {width:165px;}
.edu_data .btn_area .ico_pdf {display:inline-block;width:1px;height:26px;padding-left:30px;margin:9px;background-position:0 -1595px;text-indent:0;}
.edu_data .btn_area .ico_pdf:after {display:inline-block;content:'';width:1px;height:16px;margin-top:5px;background-color:#158cc5;}

@media print {
	.guide_view #header,
	.guide_view #feature,
	.guide_view .left_section,
	.guide_view .right_section,
	.guide_view #container .comment,
	.guide_view .info_view .btn,
	.guide_view .info_view .txt,
	.guide_view footer,
	.guide_view .nav_util,
	.guide_view .btn_area,
	.guide_view .btn_wrap,
	.guide_view .memo strong,
	.guide_view .memo .placeholder,
	.guide_view .edu_data .view_head,
	.contents .right,
	.contents .info_view .txt {display:none}
	.guide_note #container .contents,
	.guide_view #container .contents{float:none;margin:0 auto}
	.guide_view #container .contents.edu_data .memo textarea {width:730px;}
	.guide_view #container .contents.edu_data {width:100%;height:auto;box-sizing:border-box}
	.guide_note#wrap, .guide_view#wrap{-webkit-print-color-adjust:exact;background:#fff}/* 2016-09-09 배경아이콘 출력 수정(크롬, 사파리만 해당) */
	.print_bg{display:block}
	.memo input.text::-webkit-input-placeholder {color:#fff;}
	.memo input.text:-moz-input-placeholder {color:#fff;}
	.memo input.text:-ms-input-placeholder {color:#fff;}
}