@charset "utf-8";
#container.report {position:relative;width:100%;margin:0;font-family:'SpoqaHanSans','dotum','돋움';}
.report .content {position:relative;width:980px;margin:0 auto;}
.report .content:after {content:"";display:block;clear:both;*zoom:1}
.report .visual_top + .content {margin-top:50px;}
.report input::-webkit-input-placeholder {color:#a0a0a0}
.report input:-ms-input-placeholder {color:#a0a0a0}
.report input::placeholder {color:#a0a0a0;opacity: 1}
.report textarea::-webkit-input-placeholder {color:#a0a0a0}
.report textarea:-ms-input-placeholder {color:#a0a0a0}
.report textarea::placeholder {color:#a0a0a0;opacity: 1}
.report select {-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff url(../images/ico_comm.gif) 100% -1798px no-repeat}
.report select::-ms-expand {display:none;/* 화살표 없애기 for IE10, 11*/}
.report .visual_top {width:100%;height:140px;padding:79px 0 80px;background-color:#49aef5;border-top:1px solid #4697d1 }
.report .visual_top strong {display:inline-block;font-size:41px;color:#fff}
.report .visual_top .btn_box {display:inline-block;float:right;width:86px;height:86px;padding:23px;border:4px solid #fff;color:#fff;font-size:18px;font-weight:bold;}
.report .visual_top .btn_box span {position:relative;display:block;height:89px;border-bottom:1px solid #fff;}
.report .visual_top .btn_box span:after {position:absolute;right:0;bottom:3px;display:block;content:'';width:10px;height:1px;background-color:#fff;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-o-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg);}
.report .box {margin-bottom:10px;padding:50px;background-color:#edf5fb;font-size:18px;font-weight:bold;}
.report .box .input_area + .input_area {margin-top: 26px;}
.report .box .input_area .select_box {margin-right: 10px;}
.report .box .input_area .inp_txt {width: 340px;}
.report .box label {display:inline-block;width:125px;margin-top:5px;color:#2aa0f4;line-height:30px;}
.report .box strong {color:#2aa0f4}
.report .tit {position:relative;display:block;padding:50px 0 20px;border-bottom:1px solid #202020;font-size:24px;color:#202020;font-weight:normal}
.report .tit .essen:after {font-size:18px;}
.report .essen {font-size:0;}
.report .essen:after {display:inline-block;margin-left:5px;content:'*';color:#ff0000;font-size:14px;}
.report .agree .agree_box {overflow-y:auto;height:158px;padding:20px;margin:30px 0 20px;background-color:#f9f9f9;border:1px solid #e4e4e4;color:#666666;font-size:14px;line-height:24px;word-break:keep-all;word-wrap:break-word;}
.report .agree .agree_box span {color:#50b4ff;}
.report .agree ul {margin:15px 0}
.report .agree .input_check {padding-bottom:25px;color:#6d6d6e;font-size:14px;}
.report .tbl_type {position:relative;}
.report .tbl_type table {width:100%;border-bottom:1px solid #b4d7e6;table-layout:fixed;}
.report .tbl_type caption {text-indent:-5000px;line-height:0;font-size:0px}
.report .tbl_type table {border-bottom:1px solid #dadfea;border-top:1px solid #dadfea;}
.report .tbl_type tr + tr {border-top:1px solid #ededed;}
.report /*.tbl_type tr.tr_adr {border-bottom:1px solid #dadfea;}*/
.report .tbl_type tr.tr_adr .input_area .inp_txt {width:calc(100% - 10px)}
.report .tbl_type th, .tbl_type td {padding:16px 20px;text-align:left;font-size:14px;vertical-align:middle;font-weight:normal;word-break:keep-all;word-wrap:break-word;font-family:'SpoqaHanSans', 'dotum', '돋움';}
.report .tbl_type th {background-color:#f5f7fb;color:#54637b;vertical-align:top;line-height:36px;}
.report .input_area {position:relative;}
.report .input_area .inp_txt, .input_area .textbox, .input_area .select_box {height:42px;padding:8px 12px;border:1px solid #dadada;background-color:#f9f9f9;line-height:24px;font-size:14px;color:#555555;vertical-align:top;box-sizing:border-box}
.report .input_area .textbox {overflow-y:auto;width:calc(100% - 10px);min-height:124px;resize:vertical;}
.report .input_area .inp_txt {width:300px;}
.report .input_area input[type="text"]:disabled {width:180px;background: #f0f0f0;color:#b0b0b0}
.report .input_area .select_box {width:340px;height:42px;padding:0 5px 0 12px;}
.report .btn_area {width:100%;margin-top:40px;overflow:hidden;text-align:center}
.report .btn_area a {display:inline-block;overflow:hidden;width:300px;height:63px;margin:0 5px;line-height:65px;background:#fff;border:1px solid #d9d9d9;font-size:17px;color:#4a4a4a;}
.report .btn_area .bt_blue {border-color:#55b9ff;background-color:#55b9ff;color:#fff}
