/* reset */
@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,option,blockquote,th,td,input,select,textarea,button,figure,section,article,main,aside,nav,header,footer,figcaption,time{margin:0;padding:0}
fieldset,img{border:0 none}
img {display:block}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'돋움',dotum,Apple SD Gothic Neo,sans-serif;color:#333}
a{display:block;color:#333;text-decoration:none}
a:active,a:hover{text-decoration:none}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
main, section, article, aside, footer, header, nav, hgroup {display:block}
#Index{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.ir_wa{display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1}
.screen_out{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px}
.screen_hide{font-size:0;line-height:0;visibility:hidden}
.f_l{float:left}
.f_r{float:right}
.cl_b{clear:both;width:0;height:0;font-size:0;line-height:0}
.show{display:block}
.hide{display:none}
.tbl, table{border-collapse:collapse;border-spacing:0}
.clear_g{display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_g:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
hr{display:none}
.blind {position:absolute;top:0;left:0;line-height:0;font-size:0px;text-indent:-5000px}
.emph_g {color:#50b4ff} /* 2016-06-08 수정 :폰트색상 */
.back_color{background:#fbfbfb}
/* 2015-12-19 모바일 input 초기화 */
body{-webkit-text-size-adjust:none} /* 뷰포트 변환시 폰트크기 자동확대 방지. */
input:checked[type='checkbox'] {background-color:#666;-webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset'] {-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
/* 2015-12-19 모바일 input 초기화 끝 */

/* common image */
.ico_comm {display:inline-block;background:url(../images/ico_comm.gif) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top}
.ico_comm2 {display:inline-block;background:url(../images/ico_comm2_v2.gif) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top} 
.ico_comm3 {display:block;background:url(../images/ico_comm3_v3.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top} 
.tit_comm {display:block;background:url(../images/txt_comm_170117.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px}
.png_comm {background:url(../images/png_comm.png) 0 0 no-repeat} /* png24 image */
.tab_comm {display:block;background:url(../images/tab_comm.gif) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px} 
.btn_comm {display:block;background:url(../images/btn_comm_v2.gif) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px}
.gnb_comm {display:inline-block;background:url(../images/gnb_comm_161226.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top}
/* common image 2017-04-10*/
.txt_comm_v2 {display:block;background:url(../images/txt_comm_v2.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px}
.gnb_comm_v2 {display:inline-block;background:url(../images/gnb_comm_v2.png) 0 0 no-repeat;font-size:0;line-height:0;text-indent:-9999px;vertical-align:top}

/* layout */
#container {overflow:visible;clear:both;width:950px;margin:22px auto 0;padding-bottom:50px} /* 2016-05-25 수정 */
#container:after {content:"";display:block;clear:both;*zoom:1} /* 2016-05-25 추가 */
.admin #container {width:100%;min-width:950px}
.customer, .event, .guide, .intro, .mypage, .notice, .recommend, .type_profile, .member, .magazine {background:#fbfbfb}

/* 2017-04-12 상단 고정 배너 ad 
.top_bnr.fixed {position:absolute;top:0;width:100%;height:100px;text-align:center;background-color:#e3e7ed}
.top_bnr.fixed .inner_top_bnr{width:950px;height:100px;margin:0 auto}
#wrap {position:relative;padding-top:100px} */


/* header */
#header {border-bottom:1px solid #1bb2ff;background:#fff}
.forum #header {border-bottom-color:#2dd8dd}
.main #header, .seminar #header, .guide_main #header {border-bottom:0 none}
.inner_header {position:relative;width:950px;margin:0 auto;padding:38px 0 10px}
.inner_header:after{content:"";display:block;clear:both} 
.customer .inner_header, .mypage .inner_header, .notice .inner_header, .point .inner_header, .intro .inner_header, .preview .inner_header {height:38px !important}
.inner_header .tit_header {float:left;height:38px}
.tit_logo + .tit_comm {margin-top:9px;height:32px}
.inner_header .tit_logo {float:left;width:163px;height:41px;margin:-2px 10px 0 0;background-position:0 -1489px}
.inner_header .tit_customer {float:left;width:112px;background-position:0 -230px}
.inner_header .tit_event {float:left;width:100px;background-position:0 -190px}
.inner_header .tit_notice {float:left;width:60px;background-position:0 -310px}
.inner_header .tit_point {float:left;width:120px;background-position:0 -150px}
.inner_header .tit_profile {float:left;width:53px;height:22px;margin-top:0;background-position:-200px -200px}
.inner_header .tit_policy{float:left;width:120px;margin-top:0;background-position:0 -390px}
.inner_header .tit_with{float:left;width:120px;margin-top:0;background-position:0 -350px}
.inner_header .tit_withinfo {float:left;width:230px;margin-top:0;background-position:0px -430px}
.inner_header .tit_userinfo {float:left;width:230px;margin-top:0;background-position:0 -470px}
.inner_header .tit_tour {float:left;width:140px;background-position:0 -510px}
.inner_header .tit_drug_information {float:left;width:142px;background-position:0 -980px} 
.inner_header .tit_magazine {float:left;width:84px;background-position:0 -1059px}
.inner_header .tit_forum {float:left;width:132px;background-position:0 -2200px}
.inner_header .tit_talk {float:left;width:62px;background-position:0 -1209px}
.member .tit_member {float:left;width:80px;height:22px;margin-top:0;background-position:-200px -230px}
.member .tit_member_easy {float:left;width:175px;height:22px;margin-top:0;background-position:0 -549px}
.member .tit_logo, .type_profile .tit_logo, .guide_note .tit_logo {float:left;width:95px;height:24px;margin-right:10px;margin-top:0;background-position:-240px -500px}
.intro .tit_logo {width:127px;height:32px;background-position:-240px -460px}/* 2016-05-13 추가 */
.member .pre_open, .type_profile .pre_open, .guide_note .pre_open {width:162px;background-position:0 -673px}
.inner_header .tit_recommend {float:left;width:120px;height:30px;background-position:0 -110px}
.inner_header .btn_header {position:absolute;bottom:12px;right:0}
.inner_header .btn_header a {display:inline-block;padding:8px 8px 4px;text-align:center;border:1px solid #d1d6d8;font-size:11px;color:#8b8f96;border-radius:2px;vertical-align:middle;background-color:#fff;letter-spacing:-1px}
.inner_header .btn_header a i.point {display:inline-block;padding-left:25px;font-style:normal;background:url(../images/btn_header_point.gif) no-repeat left top} /* 2016-06-03 추가 */
.section_search {float:right;width:260px;height:36px}/* 2016-07-18 높이값 수정 */
.section_search .box_search {overflow:hidden;height:34px;border:1px solid #14afff;border-radius:100px}
.section_search .tf_keyword {float:left;width:156px;height:18px;margin:8px 0;padding:0 10px 0 17px;border:0 none;border-right:1px solid #14afff;line-height:18px;outline:transparent} /* 2016-05-17 수정 */
.section_search .btn_comm {float:left}
.section_search .btn_auto {width:33px;height:32px;background-position:-70px -90px;border-top:1px solid #14afff;border-bottom:1px solid #14afff;outline:transparent}
.auto_on .btn_auto {background-position:-110px -90px}
.section_search .btn_search {float:left;width:74px;height:34px;font-weight:bold;color:#14afff}
.nav_gnb {clear:both;height:20px;padding:30px 0 5px}

/* header _V2 2017-04-10 */
.tit_logo + .txt_comm_v2 {margin-top:9px;height:30px}
.inner_header .txt_comm_v2.tit_logo {float:left;width:163px;height:41px;margin:-2px 10px 0 0;background-position:0 -120px}
.inner_header .txt_comm_v2.tit_seminar {float:left;width:150px;background-position:0 -195px}
.inner_header .txt_comm_v2.tit_guide {float:left;width:150px;background-position:-265px -195px}
.inner_header .txt_comm_v2.tit_journal {float:left;width:150px;background-position:0 -255px}
.inner_header .txt_comm_v2.tit_life {float:left;width:67px;background-position:-265px -285px}
.inner_header .txt_comm_v2.tit_enter {float:left;width:130px;background-position:0 -285px}
.inner_header .txt_comm_v2.tit_mypage {float:left;width:140px;background-position:0 -345px}

/* 삭제 GNB */
/* .inner_header .tit_movie {float:left;width:57px;background-position:0 -1130px}
.inner_header .tit_webtoon {float:left;width:127px;background-position:0 -1170px}
.inner_header .pre_open {width:175px;background-position:-230px -600px}
.inner_header .tit_guide {float:left;width:150px;background-position:0 -70px}
.inner_header .tit_mypage {float:left;width:140px;background-position:0 -270px}
.inner_header .tit_seminar {float:left;width:172px;margin-top:9px;background-position:0 -30px}
.inner_header .tit_journal {float:left;width:109px;background-position:0 -1019px} */

/* GNB */
.list_gnb {clear:both;width:770px;height:16px} 
.list_gnb:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
.list_gnb li {float:left}
.list_gnb li:first-child {margin-left:0;border-top:0 none}
.list_gnb li:before{content:"";display:inline-block;width:1px;height:14px;margin:1px 10px;background-color:#dfdfdf}
.list_gnb li:first-child:before{display:none}
.list_gnb .gnb_comm {height:16px;background-position:0 100px}
.list_gnb .gnb_comm_v2 {height:16px;background-position:0 100px} /* 2017-04-10 GNB_V2 추가 */
.inner_header .link_notice {position:absolute;right:0;bottom:10px;color:#767676}
.link_notice .emph_notice {margin-top:2px;padding-right:15px;background-position:100% -516px;font-size:12px;line-height:14px;text-indent:0;color:#ec7d07}

/* 컨텐츠 타이틀 */
.tit_cont {margin-bottom:26px;font-size:20px;line-height:1;font-weight:bold}
.tit_cont .txt {margin-left:12px;font-weight:normal;font-size:14px;color:#ababaa;font-family:dotum}
.tit_cont .txt span{color:#f0623b}
.tit_cont .txt em {font-weight:bold}
.tit_cont.eng{font-size:22px;font-family:Tahoma}
.eng{font-family:Tahoma}

/* 상단 우측  기능메뉴 수정 2017-04-10*/
.nav_util{border-bottom:1px solid #d4d4d4;background-color:#f9f9f9}
.nav_util .inner_util{position:relative;width:950px;height:30px;margin:0 auto}
.nav_util .inner_util:after{content:"";display:block;clear:both}
.list_util{float:left;margin-bottom:-1px;border-right:1px solid #fff;border-left:1px solid #e6e6e6}
.list_util:after{content:"";display:block;clear:both}
.list_util li{float:left;position:relative;padding:0 7px;border-right:1px solid #e6e6e6;border-left:1px solid #fff}
.list_util .current{border-bottom:1px solid #fff;background-color:#fff}
.list_util li a{display:inline-block;height:30px;line-height:30px}
.list_util .link_util01{width:61px;background-position:0 0}
.list_util .link_util02{width:51px;background-position:-77px 0}
.list_util .link_util03{width:21px;background-position:-144px 0}
.list_util .link_util04{width:51px;background-position:-180px 0}
.list_util .link_util05{width:41px;background-position:-246px 0}
.list_util .link_util06{width:33px;background-position:-301px 0}
.list_util .link_util07{width:61px;background-position:-348px 0}
.list_util .link_util08{width:31px;background-position:-425px 0}
.list_util .link_util09{width:51px;background-position:-470px 0}
.list_util .link_util10{width:31px;background-position:-540px 0}
.list_util .ico_live{display:inline-block;width:18px;height:16px;margin:6px 5px 0 0;background-position:-180px -1197px;vertical-align:top}
.list_util .ico_drug{display:inline-block;position:absolute;bottom:-5px;left:50%;width:29px;height:13px;margin-left:-15px;background-position:-208px -1197px}
.nav_mymenu {position:absolute;right:0;top:10px;height:17px}
.list_mymenu {height:22px}
.list_mymenu li{float:left;font-size:11px;margin-left:14px;line-height:14px;background:url(../images/ico_comm.gif) no-repeat;color:#606060}
.list_mymenu li a{color:#606060}
.list_mymenu .ico_my {padding-right:10px;background-position:100% -355px}
.list_mymenu .ico_notice {position:relative;padding-left:15px;background-position:0 -449px}
.new_notice {position:absolute;padding:8px 12px 8px 40px;border:1px solid #000;white-space:nowrap}
.list_mymenu .ico_allmenu {padding-left:15px;background-position:0 -468px}
.list_mymenu .emph_g {font-weight:bold;color:#fe4f00}

.head_pop .btn_comm {float:left;width:16px;height:16px}
.head_pop .btn_alamprev {background-position:0 0}
.head_pop .btn_alamnext {background-position:-16px 0}

/* 상단 우측  기능메뉴 삭제
.nav_util{border-bottom:1px solid #d4d4d4;background-color:#f9f9f9}
.nav_util .inner_util{position:relative;width:950px;height:30px;margin:0 auto}
.nav_util .inner_util:after{content:"";display:block;clear:both}
.list_util{float:left;margin-bottom:-1px;border-right:1px solid #fff;border-left:1px solid #e6e6e6}
.list_util:after{content:"";display:block;clear:both}
.list_util li{float:left;position:relative;padding:0 7px;border-right:1px solid #e6e6e6;border-left:1px solid #fff}
.list_util .current{border-bottom:1px solid #fff;background-color:#fff}
.list_util li a{display:inline-block;height:30px;line-height:30px}
.list_util .link_util1{width:61px;background-position:0 -648px}
.list_util .link_util2{width:51px;background-position:-77px -648px}
.list_util .link_util3{width:51px;background-position:-144px -648px}
.list_util .link_util4{width:41px;background-position:-211px -648px}
.list_util .link_util5{width:22px;background-position:-269px -648px}
.list_util .link_util6{width:44px;background-position:-307px -648px}
.list_util .link_util7{width:42px;background-position:-368px -648px}
.list_util .link_util8{width:30px;background-position:-426px -648px}
.list_util .link_util9{width:52px;background-position:-472px -648px}
.list_util .link_util10{width:31px;background-position:-540px -648px}
.list_util .link_util11{width:22px;background-position:-583px -648px}
.list_util .ico_live{display:inline-block;width:18px;height:16px;margin:6px 5px 0 0;background-position:-180px -1197px;vertical-align:top}
.list_util .ico_drug{display:inline-block;position:absolute;bottom:-5px;left:50%;width:29px;height:13px;margin-left:-15px;background-position:-208px -1197px}
.nav_mymenu {position:absolute;right:0;top:13px;height:17px} */

/* footer */
#footer {clear:both;background:#fff;border-top:1px solid #e2e2e2}
.main #footer, .search #footer, .seminar #footer{border-top:0 none}
.info_foot {width:950px;margin:0 auto;padding:10px 0 6px;line-height:16px;color:#565a5d}
.main .info_foot, .search .info_foot, .seminar .info_foot{border-top:2px solid #949697}
.info_foot .tit_doctor {display:inline-block;width:60px;height:20px;margin-right:4px;background-position:-170px -650px;vertical-align:top}
.info_foot .inner_info {position:relative;border-top:1px solid #e2e2e2}
.info_foot .inner_info:first-child {margin-top:0;border-top:0 none}
.info_foot .inner_info.hide + .inner_info {border-top:0 none}
.inner_info .tit_notice {display:inline-block;vertical-align:top}
.inner_info .link_footer {display:inline-block;line-height:16px;color:#565a5d}
.inner_info .list_notice {overflow:hidden;display:inline-block;width:296px;height:16px;margin:0 6px 10px 0;vertical-align:top}
.inner_info .list_notice li {height:16px}
.list_notice .link_footer {overflow:hidden;width:296px;text-overflow:ellipsis;white-space:nowrap}
.info_foot .wrap_btn {overflow:hidden;display:inline-block;margin-top:-2px}
.info_foot .btn_comm {float:left;width:16px;height:16px}
.info_foot .btn_noticePrev {background-position:0 0}
.info_foot .btn_noticeNext {background-position:-16px 0}
.inner_info .link_sitemap {position:absolute;right:0;bottom:9px;font-weight:bold}
.inner_info .link_sitemap .ico_comm2 {width:4px;height:7px;margin-top:4px;margin-left:7px;background-position:100% -380px}/* 2016-08-03 추가 */
#footer address {padding-top:4px;border-top:0 none;font-size:11px}
.info_foot .list_footer {overflow:hidden;padding-top:10px;line-height:16px}
.list_footer li {float:left}
.info_foot .txt_bar {display:inline-block;margin:0 6px;color:#d9d9d9;font-weight:normal}
.info_foot .emph_addr {font-weight:bold}
.inner_info .wrap_family {position:absolute;right:0;top:10px}
.wrap_family .list_family {display:none;position:absolute;left:0;bottom:26px;z-index:300;width:236px;border:1px solid #e2e2e2;border-bottom:0 none;background:#fff}
.list_family li {padding:5px 10px}
.inner_info .btn_family {overflow:hidden;width:216px;height:14px;padding:6px 10px;border:1px solid #e2e2e2}
.btn_family .ico_comm {float:right;width:10px;height:10px;background-position:-50px -677px}
.open.ico_comm {background-position:-50px -657px}
.info_foot #pop_footAllmenu {top:-317px}/* 2016-08-03 수정 */
/* 페이징 */
.paging {width:100%;padding-top:15px;text-align:center}
.paging .paging_inner {display:inline-block;margin:0 auto}
.paging .paging_inner .num_page {float:left;width:33px;height:24px;margin-right:-1px;padding-top:8px;font-weight:bold;color:#585858;text-align:center}
.paging .paging_inner .num_page:hover {text-decoration:underline}
.paging .paging_inner strong {float:left;width:33px;height:25px;margin-right:-1px;padding-top:8px;font-weight:bold;color:#0ebced;text-align:center}
.paging .paging_inner .ico_comm {float:left;width:50px;height:25px;padding-top:8px;font-size:12px;line-height:20px;color:#999;text-indent:0}
.paging .paging_inner .btn_prev{background-position:0 -527px}
.paging .paging_inner .btn_next{background-position:100% -507px}
/* 페이징 */
.paging2 {width:100%;text-align:center}
.paging2 .paging_inner {overflow:hidden;display:inline-block;margin:0 auto}
.paging2 .paging_inner .num_page {float:left;height:19px;padding:2px 9px 0;border:1px solid #fff;color:#585858;text-align:center}
.paging2 .paging_inner .num_page:hover {text-decoration:underline}
.paging2 .paging_inner strong {float:left;width:21px;height:19px;padding-top:2px;border:1px solid #e3e3e3;border-radius:2px;background:#fff;font-weight:bold;color:#16afff;text-align:center}
.paging2 .paging_inner .ico_comm {float:left;width:21px;height:21px;border:1px solid #cacaca;color:#999}
.paging2 .paging_inner .btn_first{background-position:5px -1529px;border-radius:2px 0 0 2px}
.paging2 .paging_inner .btn_prev{margin-right:6px;background-position:-16px -1529px;border-left:none;border-radius:0 2px 2px 0}
.paging2 .paging_inner .btn_next{margin-left:6px;background-position:9px -1549px;border-radius:2px 0 0 2px}
.paging2 .paging_inner .btn_end{background-position:-13px -1549px;border-left:none;border-radius:0 2px 2px 0}
/* 달력 */
#ui-datepicker-div{display:none;margin-top:10px;padding-bottom:7px;width:228px;background:#fff;border:1px solid #ededed;overflow:hidden;z-index:10}
#ui-datepicker-div .ui-datepicker-title		{padding-top:12px;height:28px;font:bold 15px/18px Verdana;color:#545454;letter-spacing:-1px;text-align:center;border-bottom:1px solid #efeef3;background:#f4f5f7}
#ui-datepicker-div .ui-datepicker-prev span	{position:absolute;left:40px;top:13px;display:block;width:16px;height:16px;cursor:pointer;text-indent:-9999px;background:url(../images/btn_comm.gif) 0 0 no-repeat}
#ui-datepicker-div .ui-datepicker-next span	{position:absolute;right:40px;top:13px;display:block;width:16px;height:16px;cursor:pointer;text-indent:-9999px;background:url(../images/btn_comm.gif) -15px 0 no-repeat}
#ui-datepicker-div .ui-datepicker-calendar	{width:188px;margin:10px auto 0}
#ui-datepicker-div .ui-datepicker-calendar th	{height:33px;text-align:center}
#ui-datepicker-div .ui-datepicker-calendar td	{height:32px;text-align:center}
#ui-datepicker-div .ui-datepicker-calendar th	{font-weight:bold;color:#606060}
#ui-datepicker-div .ui-datepicker-calendar td	{font-size:11px;color:#909090}
#ui-datepicker-div .ui-datepicker-calendar td a {color:#909090}
#ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-today a {color:#606060;font-weight:bold}
#ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-current-day {background:#ebebeb}
#ui-datepicker-div .ui-datepicker-calendar thead th:first-child		{color:#ff0202 !important}
#ui-datepicker-div .ui-datepicker-calendar tbody td:first-child a	{color:#ff6363 !important}
/* 팝업 */
.head_pop	{display:none;position:absolute;right:0;top:30px;z-index:110;padding:15px;background:#fff;border:1px solid #14afff;color:#717171 !important}
.head_pop a	{color:#717171;text-align:left}
#pop_profile .profile{margin-bottom:15px;overflow:hidden}
#pop_profile .thumb{float:left;margin-right:6px;width:58px;height:58px;border:1px solid #e5e5e5}
#pop_profile .name	{float:left}
#pop_profile .name a	{float:left;width:52px;height:16px;margin-left:13px;font-size:11px;line-height:18px;color:#8d929c;text-align:center;border:1px solid #dfdfdf}
#pop_profile .name span	{display:block;width:120px;margin-bottom:4px;font:11px tahoma;color:#5c5c5c;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
#pop_profile .name strong	{float:left;margin-top:2px;color:#0082cf;font-size:12px}
#pop_profile ul	{padding-bottom:14px;margin-bottom:10px;border-bottom:1px solid #dfdfdf;overflow:hidden}
#pop_profile ul li	{float:left;padding-left:7px}
#pop_profile ul li a:before {content:"";display:inline-block;width:1px;height:8px;margin-right:7px;background:#c9c9c9;vertical-align:middle}
#pop_profile ul li:first-child	{padding:0;margin-left:-1px}
#pop_profile ul li a {color:#717171;font-size:11px;letter-spacing:-1px}
#pop_profile .btn {overflow:hidden;text-align:center}
#pop_profile .btn a	{display:inline-block;width:81px;height:25px;margin-left:3px;font-size:11px;border:1px solid #b2b2b2;color:#8d929c;font-weight:bold;text-align:center;line-height:25px;border-radius:1px}
#pop_profile .btn a:first-child	{margin:0}
#pop_profile .btn a span	{color:#ff5a00}

#pop_notice {width:240px;padding:0}
#pop_notice .title	{height:34px;padding-left:12px;line-height:34px;font-weight:bold;color:#56575c;border-bottom:1px solid #b8b8ba} 
#pop_notice .notice_list {overflow:hidden;width:100%;max-height:314px;padding:10px 0;margin-top:0;text-align:center}
.notice_list li {overflow:hidden;padding:8px 0 6px 0;margin:0 15px;border-bottom:1px solid #d9d9db} 
#pop_notice .thumb	{float:left;width:43px;height:43px;margin-right:13px;border:1px solid #d9d9db} 
#pop_notice .thumb	img {width:43px;height:43px}
#pop_notice .txt	{overflow:hidden;float:left;width:152px;font-size:11px;line-height:16px;letter-spacing:-1px;color:#57565c}
#pop_notice .txt span	{display:block;color:#999}
#pop_notice .wrap_btn {position:absolute;right:10px;top:10px}
#pop_notice .link_alam {display:block;height:32px;padding-top:10px;border-top:1px solid #d9d9db;font-weight:bold;letter-spacing:-1px;color:#8e929e;text-align:center}
.link_alam .ico_more {width:10px;height:18px;margin-left:4px;background-position:100% -497px;vertical-align:top}
#pop_notice .num_paging {position:absolute;top:-25px;right:56px;font-size:11px;font-family:Helvetica;letter-spacing:-1px;color:#575759}
#pop_notice.scroll {width:257px}
.scroll .cycle-slideshow {overflow-y:scroll;overflow-x:hidden}
#pop_notice.scroll .notice_list {overflow:visible}
#pop_notice.scroll .notice_list li:last-child {border-bottom:0 none}
	/* 2016-08-03 전체메뉴 UI수정[s] */
#pop_allmenu, #pop_footAllmenu {padding:0}
#pop_allmenu .allmenu_inner, #pop_footAllmenu .allmenu_inner {float:left;min-width:140px;height:260px;padding:30px 20px 15px;border-left:1px solid #efefef}
#pop_allmenu .allmenu_inner:first-child, #pop_footAllmenu .allmenu_inner:first-child {border:0 none}
#pop_allmenu li, #pop_footAllmenu li {margin-bottom:10px}
#pop_allmenu li a, #pop_footAllmenu li a {display:inline-block;white-space:nowrap;color:#585858}
#pop_allmenu li a:hover, #pop_footAllmenu li a:hover {color:#14afff} /* 2016-11-01 컬러 추가 */
#pop_allmenu li li {padding-left:5px;margin-bottom:4px}
#pop_allmenu li ul, #pop_footAllmenu li ul {margin:5px 0 20px}  /* 2016-09-09 여백추가 */
#pop_allmenu li strong, #pop_footAllmenu li strong {display:inline-block}
#pop_allmenu li:first-child strong, #pop_footAllmenu li:first-child strong {padding-top:0}
#pop_allmenu .live_seminar > a, #pop_footAllmenu .live_seminar > a {display:block;position:relative;padding:0 0 10px;margin-bottom:10px;border-bottom:1px solid #dcdcdc}
#pop_allmenu .live_seminar strong, #pop_footAllmenu .live_seminar strong {display:block;font-size:16px;color:#14afff;line-height:24px}
#pop_allmenu .ico_live, #pop_footAllmenu .ico_live {position:absolute;left:75px;top:-15px;width:33px;height:26px;background-position:-124px -1220px}
#pop_allmenu .ico_drug, #pop_footAllmenu .ico_drug {display:inline-block;width:26px;height:11px;margin-top:2px;margin-left:5px;background-position:-124px -1261px}
#pop_allmenu .ico_new, #pop_footAllmenu .ico_new {display:inline-block;width:11px;height:11px;margin-top:2px;margin-left:5px;background-position:0 -1525px}
#pop_allmenu .menu_mypage:before, #pop_footAllmenu .menu_mypage:before {content:"";display:inline-block;width:2px;height:2px;margin-right:5px;background:#585858;vertical-align:middle}
#pop_allmenu .mypage_first, #pop_footAllmenu .mypage_first {padding-top:25px;margin-top:25px;border-top:1px solid #dcdcdc}
	/* 2016-08-03 전체메뉴 UI수정[e] */

/*upload_img_pop*/
.upload_img_pop{position:relative;padding:22px 20px 25px;width:500px;border:1px solid #e5e5e5;background:#fff}
.upload_img_pop h1{font-size:14px;color:#369be5}
.upload_img_pop .btn_close{position:absolute;top:13px;right:20px;width:30px;height:30px;background-position:-106px -200px}
.upload_img_pop p{margin:20px 0 10px;background:#e5e5e5;text-align:center}
.upload_img_pop p span.infoTxt{display:block;height:400px;line-height:400px;font-size:16px;color:#8a8a8a}
.upload_img_pop p img{max-width:500px}
.upload_img_pop .input_file_type101{position:relative;width:500px;height:31px}
.upload_img_pop .input_file_type101 .link_file {position:absolute;left:0;top:0;width:500px;height:31px;line-height:33px;text-align:center;font-weight:bold;letter-spacing:-1px}
.upload_img_pop .input_file_type101 .txt_file_name{display:block;width:407px;height:28px;line-height:28px;padding:0 8px;border:1px solid #e5e5e5;color:#737373;background:#fcfcfc;text-align:left}
.upload_img_pop .input_file_type101 .txt_add_file{position:absolute;top:0;right:0;display:inline-block;width:74px;height:28px;line-height:28px;font-size:11px;font-weight:bold;text-align:center;color:#676767;border:1px solid #e5e5e5;background:#fff}
.upload_img_pop .input_file_type101 input{display:none}
.upload_img_pop .bt_btm{margin-top:30px;text-align:center}
.upload_img_pop .bt_btm .bt_sbm{display:inline-block;width:78px;height:28px;line-height:28px;text-decoration:none;background:#369be5;text-align:center;color:#fff;font-weight:bold;border:1px solid #2184cb;vertical-align:middle}
.upload_img_pop .bt_btm input.bt_sbm,
.upload_img_pop .bt_btm button.bt_sbm{width:80px;height:30px;line-height:30px;cursor:pointer}
/*pop_map*/
.pop_map {width:778px;padding:25px 20px;border:1px solid #e5e5e5}
.pop_map h1 {float:left;font-size:14px;color:#369be5;font-weight:bold}
.pop_map .btn_pop_close {float:right}
.pop_map .search {clear:both}
.pop_map .search {float:left;width:246px;margin:20px 0 0 0}
.pop_map .search input[type="text"] {width:185px;height:28px;line-height:28px;padding-left:10px;border:1px solid #e5e5e5;border-right:none}
.pop_map .info_txt h2 {padding:40px 0 7px;font-size:12px;font-weight:bold;color:#666;border-bottom:1px solid #e5e5e5}
.pop_map .info_txt ul {margin-top:15px}
.pop_map .info_txt ul li {text-indent:-4px;padding-left:4px;line-height:18px;color:#666}
.pop_map .search_list {margin-top:28px}
.pop_map .search_list h2 {padding-bottom:10px;font-size:12px;font-weight:normal;color:#666}
.pop_map .search_list h2 strong{font-family:verdana;color:#f26b6b}
.pop_map .search_list ul {border-bottom:1px solid #e5e5e5}
.pop_map .search_list li {overflow:hidden;border-top:1px solid #e5e5e5;padding:10px 0 6px;line-height:18px}
.pop_map .search_list li b {float:left;display:block;width:22px;height:27px;padding-top:3px;margin-right:10px;background:url(../images/bg_search_list.gif) no-repeat;text-align:center;font-size:11px;color:#fff}
.pop_map .search_list li .txt {float:left;margin-top:-3px}
.pop_map .search_list li .txt strong {color:#666}
.pop_map .search_list li .txt span{display:block;color:#919191}
.pop_map .search_map {float:right;margin:20px 0 0 0;border:1px solid #e6e6e6}
.pop_map .btn_bottom {clear:both;padding-top:30px;text-align:center}
.pop_map .btn_bottom a {display:inline-block;height:28px;line-height:28px;padding:0 28px;background:#369be5;border:1px solid #2184cb;color:#fff;font-weight:bold}
.pop_map .paging .ico_comm {width:20px;text-indent:-9999px}
/* error page  */
.error_area {background-color:#fff}
.error_area .error_type1 {width:740px}
.error_area .error_type1 h2 {padding-left:0}
.error_type1{padding-top:50px;margin:0 auto;width:640px}
.error_type1 h1{height:48px;border-bottom:4px solid #02a6ff}
.error_type1 article{padding:100px;background:#f9f9fb;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;font-size:14px;line-height:24px;color:#555a5d;letter-spacing:-1px}
.error_type1 h1 + article {border-top:0}
.error_type1 h2{margin:-2px 0 23px;padding:2px 0 0 45px;min-height:25px;font-size:24px;color:#4a5b65}
.error_type1 h2 strong{color:#02a6ff}
.error_type1 ul{margin-top:33px;padding:22px 35px 17px;border:2px solid #e5e6e8;background:#fff;color:#485b62;line-height:26px}
.error_type1 ul li em{color:#00a7ff}
.error_type1 address{padding-top:18px;text-align:center;font-size:11px;font-family:Verdana}
.error_type1 .link_bold{display:inline-block;font-weight:bold;text-decoration:underline;color:#01a6ff}
.error_type1 .btn{margin-top:24px;text-align:center}
.error_type1 .btn a{display:inline-block;margin:0 1px;width:84px;height:34px;line-height:34px;text-align:center;font-size:12px;font-weight:bold;letter-spacing:-1px;text-decoration:none;vertical-align:middle}
.error_type1 .btn .bt_bl{border:1px solid #0093e3;background:#01a6ff;color:#fff}
.error_type1 .btn .bt_wt{border:1px solid #e4e4e4;background:#fff;color:#606060}
/* 공통팝업 style */
#modalType1{display:none;position:absolute}
.popup{width:280px;padding:13px 20px 20px;border:1px solid #878787;background-color:#fff}
.popup .tit_popup{display:block;padding-bottom:11px;margin-bottom:25px;color:#4ea1ff;font-size:14px;border-bottom:1px solid #e5e5e5}
.popup .btn_type1 , .popup .btn_type1.btn_close{position:static;display:inline-block;min-width:78px;height:30px;padding:0 10px;border:1px solid #1795e2;border-radius:2px;font-weight:bold;font-size:12px;line-height:14px;background-color:#17a5fb;text-align:center;color:#fff;cursor:pointer;text-decoration:none !important;vertical-align:top}
.popup .btn_type2 {display:inline-block;min-width:78px;height:30px;padding:0 10px;border:1px solid #e4e4e4;border-radius:2px;font-weight:bold;font-size:12px;line-height:14px;background-color:#fff;text-align:center;color:#606060;cursor:pointer;text-decoration:none !important;vertical-align:top}
.popup .desc_popup{text-align:center;color:#2a2a2a}
.popup .desc_inner{text-align:center}
.popup .btns{margin-top:25px;text-align:center}
.popup .btn_close{position:absolute;top:18px;right:22px;width:15px;height:15px;background-position:-170px -205px}
.popup.type2{padding:24px 30px 30px} 
.popup.type2 .tit_popup{margin-bottom:20px;padding-bottom:0;font-size:16px;color:#2b2b2b;border:none}
.popup.type2 .desc_popup{text-align:left}
.popup .btn_email{display:inline;color:#17a5fb}
.popup .org{color:#ff7800}
.popup .blue{color:#17a5fb}
/* 닉네임 등록 레이어 */
.pop_nickname .input_area {overflow:hidden;position:relative;height:34px;margin-bottom:4px}
.pop_nickname .tf_item{width:205px;height:32px;padding:0 8px;margin-bottom:4px;line-height:32px;border:1px solid #c0c0c0;border-right:0 none;background:#fff;color:#737373;vertical-align:top}
.pop_nickname .tf_item::-webkit-input-placeholder , .pop_nickname .tf_item::-moz-placeholder, .pop_nickname .tf_item:-ms-input-placeholder{color:#bfbfbf}
.pop_nickname .txt_chknum {position:absolute;right:0;top:0;width:47px;height:32px;padding-left:10px;border:1px solid #c0c0c0;border-left:1px solid transparent;line-height:32px}
.pop_nickname .txt_desc {font-size:11px;letter-spacing:-1px;color:#767676}
/* 파일 업로드 프로그레스바  */
.layer_uploadIng {position:absolute;right:10px;bottom:128px;z-index:900;width:438px;border:1px solid #d9d9d9;background:#fff}
.layer_uploadIng .tit_ing {display:block;padding:13px 14px 10px;border-bottom:1px solid #d9d9d9;font-size:12px;line-height:14px}
.layer_uploadIng .inner_layer {padding:10px 14px 15px}
.layer_uploadIng .txt_file_name {display:block;padding-right:40px}
.layer_uploadIng .btn_uploadCancel {position:absolute;right:14px;top:48px;border:0 none;color:#16afff;outline:0 none}
.btn_uploadCancel:hover {text-decoration:underline}
.layer_uploadIng .box_bar {overflow:hidden;width:308px;margin-top:12px;padding:1px;border:1px solid #d9d9d9}
.layer_uploadIng .bar_ing {height:6px;background:#16afff}
.layer_uploadIng .txt_byte {position:absolute;right:14px;bottom:14px;font-size:11px;line-height:13px;letter-spacing:-1px}
/* 광고영역 */
.seminar .thumb_ad, .notice .thumb_ad {width:260px;height:260px} /* 2016-05-12 수정 */
.event .thumb_ad , .search .thumb_ad {width:220px;height:220px} /* 2016-05-12 수정 */
/* 상단 그라데이션 바  */
.feature {position:relative;height:79px;padding-top:2px;border-bottom:1px solid #e2e2e2}
.bg_left {position:absolute;left:0;top:2px;width:50%;z-index:10;height:79px}
.bg_right {position:absolute;right:0;top:2px;width:50%;z-index:10;height:79px}
.box_feature {position:absolute;left:50%;top:2px;z-index:100;width:1024px;height:79px;margin-left:-538px}
.list_feature {float:left;margin-top:26px}
.list_feature li {float:left;width:163px;height:26px;padding:0 20px;border-left:1px solid #e2e2e2}
.list_feature li:first-child {padding-left:17px;border-left:0 none} /* 2016-05-25 수정 */
.list_feature li > a {display:block;color:#767676;line-height:17px;font-size:12px;white-space:nowrap;text-overflow:ellipsis;letter-spacing:-1px} /* 2016-05-25 수정 */
.list_feature li > a:hover{text-decoration:underline} /* 2016-11-01 언더라인 추가 */
.list_feature li > a > em {display:block;margin:-4px 0 4px;font-size:16px;font-weight:bold;color:#585858} /* 2016-05-25 수정 */
.list_feature li > a > span {display:block;overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis}
/* 2016-06-28, 2016-09-30 수정 */
.box_feature .ad_feature {overflow:hidden;position:absolute;right:0;top:0;z-index:4;width:228px;height:79px}
.ad_feature .bx-controls {position:absolute;bottom:7px;left:50%;z-index:6;width:100%;height:5px;margin-left:-114px;padding:3px 0;text-align:center}
.ad_feature .bx-controls .bx-pager {height:5px;line-height:1}
.ad_feature .bx-pager .bx-pager-item {display:inline-block;margin-left:6px;vertical-align:top}
.ad_feature .bx-pager .bx-pager-item:first-child {margin-left:0}
.ad_feature .bx-pager-link {display:block;width:5px;height:5px;font-size:0;line-height:0;background-color:#cfdde6;border-radius:50%}
.ad_feature .bx-pager-link.active {background-color:#369be5}
/* //2016-06-28, 2016-09-30 수정 */


/* 우측메뉴 2017-04-10*/
.box_aside {position:relative;margin-bottom:10px;border:1px solid #e4e4e4}
.box_aside .frm_login {background:#f5f6f7}
.box_aside .info_my {overflow:hidden;padding:10px 18px;color:#3d3f40}
.box_aside .info_box{padding:10px 13px 0 18px} 
.box_aside .btn_survey_go {margin:0}
.box_aside .thumb_my {float:left;width:52px;height:52px;margin:10px 10px 0 0;border:1px solid #e4e4e4}
.box_aside .desc_my {float:left;width:141px;height:36px;padding-top:9px}
.box_aside .desc_my .name_ko {font-size:12px;line-height:18px;letter-spacing:-1px;color:#3d3f40}
.box_aside .desc_my .name_nick {overflow:hidden;display:inline-block;width:108px;font-size:11px;line-height:16px;color:#737c80;white-space:nowrap;text-overflow:ellipsis;text-decoration:underline}
.box_aside .btn_my {float:left;padding:0 10px;margin-left:6px;line-height:17px;border:1px solid #e4e4e4;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:11px;background:#fff;color:#444444;letter-spacing:-1px;white-space:nowrap}
.box_aside .desc_my + .btn_my {margin:0}
.box_aside .emph_point {padding-left:10px;font-weight:bold;font-family:verdana, sans-serif;color:#f16f18;text-decoration:underline}
.box_aside .frm_login .list_my {border-top:1px solid #e2e2e2;background:#f8f8f8;height:23px;padding:22px 0 10px}
.box_aside .info_my_btn {background-color:#f8f8f8;padding:10px;border-top:1px solid #e4e4e4}
.box_aside .info_my_btn .btn_bg {overflow:hidden;border:1px solid #c7c7c7;background-color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;white-space:nowrap}
.box_aside .info_my_btn .btn_bg a {display:block;position:relative;float:left;width:50%;padding:7px 0;font-size:12px;color:#333;font-weight:bold;text-align:center;letter-spacing:-1px}
.box_aside .info_my_btn .btn_bg a.big {width:100%}
.box_aside .info_my_btn .btn_bg + .btn_bg {margin-top:10px}
.box_aside .info_my_btn .btn_bg a + a:after{position:absolute;top:10px;left:0;content:'';width:1px;height:11px;background-color:#e4e4e4}
.box_aside .info_my_btn .btn_bg.blue {border:1px solid #189add;background-color:#14afff}
.box_aside .info_my_btn .btn_bg.blue a {color:#fff}
.box_aside .info_my_btn .btn_bg.blue a + a:after{background-color:#1ca3e8}
.box_aside .info_my_btn .btn_bg .txt_num {display:inline-block;padding:1px 6px 0;background:#ff506b;font-weight:normal;font-size:11px;color:#fff;border-radius:10px}


/* 메인 버튼 2017-04-10*/
.frm_login .list_my {border-top:1px solid #e2e2e2;background:#f8f8f8;height:23px;padding:22px 0 10px}
.frm_login .list_my li {float:left;width:78px;height:16px;border-left:1px solid #e2e2e2}
.frm_login .list_my li:first-child {border-left:0 none}
.frm_login .list_my .link_my {position:relative;margin-top:-10px;font-size:11px;line-height:14px;text-align:center;color:#606060}
.frm_login .list_my .link_my .ico_comm2 {display:block;width:17px;height:20px;margin:0 auto 5px}
.frm_login .list_my .ico_alam {background-position:0 -810px}
.frm_login .list_my .ico_board {background-position:0 -840px}
.frm_login .list_my .ico_note {background-position:0 -870px}
.frm_login .list_my .ico_star {background-position:-1px -1231px}
.frm_login .list_my .ico_write {background-position:0 -900px}
.frm_login .list_my .ico_num {position:absolute;left:40px;top:-5px;padding:2px 5px 0;background:#02aff4;font-weight:bold;font-size:11px;line-height:14px;color:#fff;text-indent:-2px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-align:center}
.frm_login .list_my .ico_num2 {background:#ff506b}
.frm_login .list_my .ico_new {position:absolute;right:15px;top:0;display:block;width:10px;height:10px;background-position:-270px -810px}
.frm_login .list_my .txt_num {display:block;padding-top:6px;font-weight:bold;font-family:Tahoma, 'Helvetica', 'Arial';font-size:14px;color:#ff4809}
 
 /* 서브버튼 2017-04-10*/
.box_aside.link_btn {padding:10px;background-color:#fff;font-weight:bold;text-align:center}
.box_aside.link_btn em{font-weight:bold;color:#4ea1ff}
.box_aside.link_btn .ico_2015 {width:14px;height:14px;margin:2px 0 0 0;background-position:0 -1000px}
.box_aside.link_btn .btn_down {display:inline-block;width:14px;height:14px;margin-right:4px;background-position:-170px -140px;vertical-align:middle}
.box_aside.btn_survey {margin-bottom:4px;padding:12px 0;font-size:16px;font-weight:bold;color:#fff;text-align:center;line-height:30px;border:1px solid #2184cb;background-color:#369be5}
.box_aside.btn_survey span {display:inline-block;margin:0 10px;vertical-align:top}
.box_aside.btn_survey .ico_survey {width:31px;height:26px;background-position:-194px -1220px}
.box_aside.btn_survey .ico_go {width:8px;height:12px;margin-top:9px;background-position:-231px -1219px}

/* 2017-04-10 삭제 */
/*
.box_aside {position:relative;margin-bottom:4px;border:1px solid #e2e2e2}
.box_aside .frm_login {background:#f8f8f8}
.box_aside .info_my {overflow:hidden;padding:10px 18px;color:#3d3f40}
.box_aside .info_box{padding:10px 13px 10px 18px} 
.box_aside .thumb_my {float:left;width:52px;height:52px;margin:10px 10px 0 0;border:1px solid #dadada}
.box_aside .desc_my {float:left;width:141px;height:36px;padding-top:9px}
.desc_my .name_ko {font-size:12px;line-height:18px;letter-spacing:-1px;color:#505050}
.desc_my .name_nick {overflow:hidden;display:inline-block;width:108px;font-size:11px;line-height:16px;color:#9b9b9b;white-space:nowrap;text-overflow:ellipsis}
.desc_my .btn_nickEdit {display:inline-block;margin-left:3px;font-size:11px;letter-spacing:-1px;text-decoration:underline;vertical-align:top;color:#737c80}
.desc_my .txt_my {float:left;color:#3d3f40}
.box_aside .txt_bar {color:#e4e4e4}
.box_aside .btn_my {float:left;padding:0 10px;margin-right:3px;line-height:17px;border:1px solid #dadada;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:11px;background:#fff;color:#606060;letter-spacing:-1px;white-space:nowrap}
.guide .box_aside .btn_my {float:left;padding:1px 6px 0;margin-right:3px;line-height:17px;border:1px solid #1795e2;font-size:11px;background:#18a6fc;color:#fff;letter-spacing:-1px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;white-space:nowrap;text-align:center}
.box_aside .emph_point {padding-left:10px;font-weight:bold;font-family:verdana, sans-serif;color:#f16f18}
.frm_login .list_my {border-top:1px solid #e2e2e2;background:#f8f8f8;height:23px;padding:22px 0 10px}
.seminar .list_my {height:34px;padding:25px 0 10px}
.guide .form_login {background:#f5f6f7}
.frm_login .list_my li {float:left;width:78px;height:16px;border-left:1px solid #e2e2e2}
.frm_login .list_my li:first-child {border-left:0 none}
.frm_login .list_my .link_my {position:relative;margin-top:-10px;font-size:11px;line-height:14px;text-align:center;color:#606060}
.frm_login .list_my .link_my .ico_comm2 {display:block;width:17px;height:20px;margin:0 auto 5px}
.frm_login .list_my .ico_alam {background-position:0 -810px}
.frm_login .list_my .ico_board {background-position:0 -840px}
.frm_login .list_my .ico_note {background-position:0 -870px}
.frm_login .list_my .ico_star {background-position:-1px -1231px}
.frm_login .list_my .ico_write {background-position:0 -900px}
.frm_login .list_my .ico_num {position:absolute;left:40px;top:-5px;padding:2px 5px 0;background:#02aff4;font-weight:bold;font-size:11px;line-height:14px;color:#fff;text-indent:-2px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-align:center}
.frm_login .list_my .ico_num2 {background:#ff506b}
.frm_login .list_my .ico_new {position:absolute;right:15px;top:0;display:block;width:10px;height:10px;background-position:-270px -810px}
.seminar .frm_login .ico_new {position:absolute;right:0px;top:0;display:block;width:14px;height:14px;background-position:0 -240px}
.frm_login .list_my .txt_num {display:block;padding-top:6px;font-weight:bold;font-family:Tahoma, 'Helvetica', 'Arial';font-size:14px;color:#ff4809}*/
.intro_policy {color:#333}
.intro_policy .tit_policy {padding:30px 0 22px;font-size:21px;color:#18a3fa;letter-spacing:-1px}
.intro_policy .desc_type1 {padding-top:20px;letter-spacing:-0.5px}
.intro_policy .desc_type2 {padding-top:10px;letter-spacing:-0.5px}
.intro_policy .tit_article {display:block;padding-top:35px}
.intro_policy li .txt_num {margin-left:-15px}
.intro_policy .list_type1 {margin-top:40px}
.intro_policy .list_type2 {margin-top:20px}
.list_type2 li {padding-left:10px}
.intro_policy .list_type2 li:before{content:"";display:inline-block;width:4px;height:4px;margin:-2px 5px 0 -10px;background:#000;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;vertical-align:middle}
.intro_policy .list_type3 {padding-top:10px;line-height:20px}
.intro_policy .list_type3 > li {padding-left:15px;letter-spacing:-0.5px}
.intro_policy .list_type4 {margin-top:10px;padding:20px 18px;border:4px solid #e4e4e4;line-height:20px;letter-spacing:-0.5px}
.intro_policy .list_type4 em {font-weight:bold}
.intro_policy .list_type5 {margin-top:0;padding-top:0}
.tbl_userinfo {width:100%;margin-top:10px;border:1px solid #e4e4e4;border-top:0 none;border-right:0 none;text-align:center}
.tbl_userinfo th {height:43px;background:#f2f4f5;border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4}
.tbl_userinfo td {height:43px;border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4}
.wrap_logout{padding:11px 0;border-bottom:1px solid #d7d7d7;background-color:#f4f4f4;text-align:center;color:#333;font-size:11px;letter-spacing:-1px}
.wrap_logout .org{font-weight:normal;color:#ff0202}
.wrap_logout .btn_close{display:inline-block;width:18px;height:18px;margin:-2px 0 0 3px;background-position:4px -286px;vertical-align:middle}/* 2016-05-25 수정 */
/* 설문 참여하기 버튼  */
.btn_survey_go {margin-bottom:4px;padding:12px 0;font-size:16px;font-weight:bold;color:#fff;text-align:center;line-height:30px;border:1px solid #2184cb;background-color:#369be5}
.btn_survey_go .ico_comm3 {display:inline-block;margin:0 10px;vertical-align:top}
.btn_survey_go .ico_survey {width:31px;height:26px;background-position:-194px -1220px}/* 2016-09-30 수정 */
.btn_survey_go .ico_go {width:8px;height:12px;margin-top:9px;background-position:-231px -1219px}
/* 편성표다운로드 */
.box_pairing {position:absolute;left:50%;margin-left:-433px;width:76px;height:108px;background-position:0 -1062px}/* 2016-05-25 추가 */


/* aside 리스트 TYPE2*/
.box_aside_list {overflow:hidden;padding:25px;background-color:#fff}
.box_aside_list .box_tit {font-size:12px}
.box_aside_list .box_tit em {color:#14afff;font-weight:bold}
.box_aside_list .btn_more {display:block;position:absolute;top:27px;right:25px;width:43px;padding:3px 0 2px;border:1px solid #d1d1d1;font-size:11px;line-height:1;text-align:center;color:#848688}
.box_aside_list .control {overflow:hidden;position:absolute;right:24px;top:25px}
.box_aside_list .control a {display:block;float:left;text-indent:-9999px}
.box_aside_list .control a.prev {width:16px;height:16px;background-position:0 0}
.box_aside_list .control a.next {width:15px;height:16px;background-position:-16px 0}
.box_aside_list .aside_slide li{float:left;width:188px;margin-right:25px;overflow:hidden} /* 리스트 슬라이드 */
.list_aside .list_cont {display:block;position:relative;overflow:hidden;margin-top:20px}
.list_aside .list_cont figure {float:left;margin-right:6px;border:1px solid #ededed}
.list_aside .list_cont figure img {width:52px;height:52px}
.list_aside .list_cont figure + div,
.list_aside .list_cont div.img {float:left;width:128px;min-height:54px;}
.list_aside .list_cont .list_tit {font-size:13px;color:#505050;font-weight:bold}
.list_aside .list_cont .list_tit .category {display:block;font-size:12px;color:#a3a3a3;font-weight:normal;letter-spacing:-2px}
.list_aside .list_cont .list_tit strong {overflow:hidden;display:block;width:100%;height:32px;color:#505050;line-height:16px;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.list_aside .list_cont:hover .list_tit strong {text-decoration:underline}
.list_aside .list_cont .txt {overflow:hidden;display:-webkit-box;height:32px;color:#505050;line-height:16px;text-overflow:ellipsis;word-wrap:break-word;white-space:normal;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.list_aside .list_cont .tail {overflow:hidden;}
.list_aside .list_cont figure + div .tail {margin:5px 0 0 -59px;}
.list_aside .list_cont .tail span {position:relative;margin:0 4px;color:#ababab;line-height:15px}
.list_aside .list_cont .tail span:first-child {margin-left:0}
.list_aside .list_cont .tail span em {padding-left:2px;font-weight:bold}
.list_aside .list_cont .tail .ico_comm2 {width:14px;height:14px;margin:1px 0 0 0}
.list_aside .list_cont .tail .ico_person {margin-right:0;background-position:0 -528px}
.list_aside .list_cont .tail .ico_2015 {background-position:0 -1000px}
.list_aside .type1 {padding-bottom:0}
.list_aside .type1 .list_tit strong {font-weight:normal}
.list_aside .type1 .tail {position:static}
.list_aside .type1 figure + div .tail {margin:5px 0 0 0;}

.list_aside .type3 .list_tit strong {display:inline-block;overflow:hidden;width:100%;height:16px;text-overflow:ellipsis;white-space:nowrap}
.list_aside .list_cont.type4 figure {float:initial;margin-right:0}
.list_aside .list_cont.type4 figure img {max-width:190px;max-height:122px}

.one_link {padding:25px;background-color:#fff}
.one_link .box_tit {padding-bottom:15px;margin-bottom:10px;border-bottom:1px solid #ededed;font-size:12px}
.one_link .list_aside .link_txt {display:block;margin-top:10px;color:#14afff;text-decoration:underline}
.one_link.type2 .box_tit {margin-bottom:0;border-bottom:0}
.one_link.type2 .list_tit {margin-bottom:5px}
.one_link.type2 .list_tit strong {font-weight:normal}
.one_link.type2 .tail {margin:5px 0}
.one_link.type2 .tail span {color:#ababab}
.one_link.type2 .tail .datetime {display:block;margin:0}
.one_link.type2 .tail .datetime em {font-weight:normal}
.one_link.type2 figure {width:190px;height:122px}
.one_link.type2 figure img {width:100%;height:100%}

/* 2017-04-11 전체메뉴 type2 UI 수정[s] */
#pop_allmenu_type2, #pop_footAllmenu_type2 {padding:0}
#pop_allmenu_type2 .allmenu_inner, #pop_footAllmenu_type2 .allmenu_inner {float:left;min-width:121px;height:250px;padding:26px 18px;border-left:1px solid #efefef}
#pop_allmenu_type2 .allmenu_inner:first-child, #pop_footAllmenu_type2 .allmenu_inner:first-child {border:0 none}
#pop_allmenu_type2 li, #pop_footAllmenu_type2 li {margin-bottom:10px}
#pop_allmenu_type2 li a, #pop_footAllmenu_type2 li a {display:inline-block;white-space:nowrap;color:#585858}
#pop_allmenu_type2 li a:hover, #pop_footAllmenu_type2 li a:hover {color:#14afff}
#pop_allmenu_type2 li li {padding-left:5px;margin-bottom:4px}
#pop_allmenu_type2 li ul, #pop_footAllmenu_type2 li ul {margin:10px 0 20px}
#pop_allmenu_type2 li strong, #pop_footAllmenu_type2 li strong {display:inline-block;font-size:14px;color:#333333}
#pop_allmenu_type2 li:first-child strong, #pop_footAllmenu_type2 li:first-child strong {padding-top:0}
#pop_allmenu_type2 .ico_live, #pop_footAllmenu_type2 .ico_live {position:absolute;left:75px;top:-15px;width:33px;height:26px;background-position:-124px -1220px}
#pop_allmenu_type2 .ico_drug, #pop_footAllmenu_type2 .ico_drug {display:inline-block;width:26px;height:11px;margin-top:4px;margin-left:5px;background-position:-124px -1261px}
#pop_allmenu_type2 .ico_new, #pop_footAllmenu_type2 .ico_new {display:inline-block;width:11px;height:11px;margin-top:4px;margin-left:5px;background-position:0 -1525px}
#pop_allmenu_type2 .menu_mypage:before, #pop_footAllmenu_type2 .menu_mypage:before {content:"";display:inline-block;width:2px;height:2px;margin-right:5px;background:#585858;vertical-align:middle}
#pop_allmenu_type2 .mypage_first, #pop_footAllmenu_type2 .mypage_first {padding-top:25px;margin-top:25px;border-top:1px solid #dcdcdc}
.info_foot #pop_footAllmenu_type2 {top:-314px}
/* 2017-04-11 전체메뉴 UI 수정[e] */
