@charset "utf-8";
.survey #container {width:100%;margin:0;font-family:'SpoqaHanSans','dotum','돋움';}
.survey .survey_banner {margin-top:30px;}
.survey .survey_banner img {margin:0 auto;}
.survey .contents {width:980px;margin:0 auto}
.survey .survey_top {width:100%;padding:40px 0 24px;background-color:#f3f4f8}
.survey .survey_box {overflow:hidden}
.survey .survey_box .tit_box {background-image:url(../images/bg_list_survey.jpg);background-repeat:no-repeat;background-size:cover;}
.survey .survey_box .tit_box .tit_info {display:block;padding:24px 0 0 24px;font-size:22px;color:#fff}
.survey .survey_box .link_info {float:left;width:308px;height:238px;margin:0 25px 25px 0;border:1px solid #e4e4e4;background-color:#fff}
.survey .survey_box .link_info:nth-child(3n) {margin-right:0}
.survey .survey_box .tit_info {padding:24px}
.survey .survey_box .tit {display:-webkit-box;overflow:hidden;width:100%;height:60px;margin-bottom:30px;font-size:20px;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.survey .survey_box .link_info:hover .tit {text-decoration:underline}
.survey .survey_box .point {display:block;height:28px;margin-top:10px;color:#333333;font-size:16px;line-height:1;}
.survey .survey_box .point.hide {display:none;}
.survey .survey_box .ico_point {display:inline-block;width:13px;margin:0 5px 0 0;padding:4px 3px 4px 4px;background-color:#ff7800;font-size:12px;color:#fff;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;vertical-align:top;font-weight:bold;font-family:Tahoma;}
.survey .survey_box .progress {width:310px;padding:14px 24px;margin-left:-1px;background-color:#6668fa;color:#ffffff;font-size:15px;box-sizing:border-box}
.survey .survey_box .progress strong {font-weight:normal}
.survey .survey_box .date {float:right;font-size:14px;}
.survey .date {display:block;font-family:Tahoma}
.survey .category {color:#3e82f6;font-size:14px;}
.survey .tit {overflow:hidden;letter-spacing:-0.25px;font-size:18px;}
.survey .point {display:block;height:34px;color:#6352f2;font-size:20px;line-height:1}
.survey .btn_apply {padding:10px 0;border:1px solid #68a0ff;color:#68a0ff;font-size:14px;text-align: center}/* 2021-07-28 */
.survey .survey_nodata {clear:both;padding:170px 0;text-align:center;color:#555555;font-size:22px}
.survey .survey_nodata .ico_comm3 {width:92px;height:92px;margin:0 auto 30px;background-position:0 -2400px; }
/*설문 진행전*/
.survey .before .progress {background-color:#a7b4cb}
.survey .before .ico_point {background-color:#c2cad3}
.survey .before .tit {color:#999999}
.survey .before .category {color:#b2b4bc}
.survey .before .point {color:#cccfd7}
.survey .link_info.before:hover .tit {text-decoration:none}
/* 2021-07-28 설문 접수중 추가 */
.survey .apply .progress {background-color:#66bdfa}
.survey .apply .tit {margin-bottom:17px;}
.survey .link_info.apply:hover .tit {text-decoration:none}
/*설문 리스트*/
.survey .survey_list {overflow: hidden;margin-top: 40px;}
.survey .survey_list .tit_cont {float:left;margin-bottom:15px;font-size:22px;line-height:34px}
.survey .survey_list .box_refresh {float:right;position:relative;width:240px;height:34px;padding:0;margin:0 0 15px 0;border:1px solid #dadbdd;text-align:center;line-height:34px;font-size:15px;}
.survey .survey_list .box_refresh .btn_refresh {position:absolute;width:100%;height:100%;margin:-1px 0 0 -1px;border:1px solid #f6e88d;background-color:#fdfcd7;}
.survey .survey_list .box_refresh .ico_comm2 {display:inline-block;width:16px;height:16px;margin:10px 5px 0 0;background-position:0 -1850px}
.survey .survey_list .survey_nodata {border-top:1px solid #dbdfe7;border-bottom:1px solid #dbdfe7}
.survey .survey_list .point {display:block;height:34px;color:#484848;line-height:1}
.survey .tbl_survey {width:100%;border-bottom:1px solid #dbdfe7}
.survey .tbl_survey td {padding:30px 0px;border-top:1px solid #dbdfe7;font-family:'SpoqaHanSans','dotum','돋움';}
.survey .tbl_survey td.tit_info {text-align:left}
.survey .tbl_survey .tit_info .tit {overflow:hidden;width:600px;margin:4px 0;font-size:19px;text-overflow:ellipsis;white-space:nowrap;color:#484848}
.survey .tbl_survey .tit_info .date {color:#a2a2a2;font-size:15px}
.survey .tbl_survey .progress {display:inline-block;margin:10px 0;padding:0 6px;background-color:#1ccb7e;color:#fff;font-size:14px;}
.survey .tbl_survey .progress.finish {background-color:#f58b2c}
.survey .btn_survey_result {margin:20px 0;padding:10px 0;border:1px solid #68a0ff;color:#68a0ff;font-size:14px;text-align: center}