//1줄 말줄임
@mixin ellipsis() {
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
}
//2줄 말줄임
@mixin ellipsis_2line() {
	overflow:hidden; 
	text-overflow:ellipsis; 
	display: -webkit-box;
	word-break: keep-all;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
@mixin txtHidden() {
   position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	visibility:hidden;
}
@mixin txtHidden2() {
	font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
//with
@mixin cont_with($width:1200px){
	width: $width;
	margin:0 auto;
}
//clear
@mixin clear() {
	content: "";
	display: block;
	clear: both;
}
//가상요소
@mixin imag_elem($width:auto,$height:auto){
	content: "";
	display: inline-block;
	width:$width;
	height: $height;
}
//리스트 아이콘
@mixin list_ico{
	padding:2px 8px;
	font-weight: bold;
	border-radius: 10px;
}
//button 공통
@mixin btn_style($height:auto,$bd_color:#ccc,$bd:true,$rd_val:30px,$round:true) {
	height: $height;
	@if $bd{
		border:1px solid $bd_color;
	}
	box-sizing: border-box;
	@if $round{
		border-radius: $rd_val;	
	}
}
//bg ico_common
@mixin bg_ico($pos-x, $pos-y) {
	background:url("../images/ico_common.png") no-repeat $pos-x  $pos-y;
}
//abolute right
@mixin pos_right($top:0, $right:0){
	position: absolute;
	top: $top;
	right: $right;
}
//arr
@mixin ico_arr() {
	font-size: 11px;
	font-family: '돋움',dotum,sans-serif;
	font-weight: bold;
}
//font Brygada
@mixin font_Bry() {
	font-family: "Brygada 1918", serif;
	font-style: italic;
	letter-spacing: 0;
}