@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
}
// *, *:after, *:before {
// 	box-sizing:border-box;
// }
body {
	font-family: Pretendard, 'Malgun Gothic', sans-serif; 
	font-weight: 400;
	color: #1F1F1F;
	word-break:break-all;
}
html, body {
	height:100%;
	-webkit-text-size-adjust:none; /* 뷰표트 변환시 폰트크기 자동확대 방지 */
	font-size:16px;
}
ol, ul, li {
	list-style: none;
}
table {
	width:100%;
	table-layout:fixed;
	border-collapse: collapse;
	border-spacing:0;
}
legend, caption {
	width:0;
	height:0;
	visibility:hidden;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
}
fieldset, button {
	border:0 none; 
}
img {
	max-width:100%;
	vertical-align:top;
	border:0 none; 
}
a {
	text-decoration:none;
	cursor:pointer;
	color:inherit;
}
em, address, i {
	font-style:normal;
}

button {
	border:0 none; 
	cursor:pointer;
	background:transparent;
	font-family: Pretendard, 'Malgun Gothic', sans-serif; 
}
input[type=button], input[type=submit], input[type=reset], input[type=file], input[type=date], select {
	// -webkit-appearance:none;
	border-radius:0;
	background:transparent;
	font-family: Pretendard, 'Malgun Gothic', sans-serif; 
}
input[type=text], input[type=password], input[type=search], input[type=email], input[type=tel], textarea {
	-webkit-appearance:none;
	border-radius:0;
	font-family: Pretendard, 'Malgun Gothic', sans-serif; 
}
textarea {
	resize:none;
}
/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration { 
	display: none;
}

/*  placeholder */
::-webkit-input-placeholder {
	font-family: Pretendard, 'Malgun Gothic', sans-serif; 
}