$c_black:#1F1F1F;
$c_blue:#00BEFC;
$c_white:#fff;
$c_g_1:#111;
$c_g_2:#222;
$c_g_3:#333;
$c_g_4:#444;
$c_g_5:#555;
$c_g_6:#666;
$c_g_7:#777;
$c_g_8:#888;
$c_g_9:#999;
$c_g_a:#aaa;
$c_g_b:#bbb;
$c_g_c:#ccc;
$c_g_d:#ddd;
$c_g_e:#eee;
$c_g_e6:#E6E6E6;

// $cont_w:1200px;