@charset "utf-8";
/*
	Login CSS
	Copyright Modetour. All Rights Reserved.
	The following software licensing rules apply:
	- Name :Modetour Mobile Package
*/

/* common */
.ir_pm {display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {position:relative; z-index:-10; display:block; overflow:hidden;width:100%; height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {position:absolute; overflow:hidden; width:0; height:0; line-height:0; text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.Skipnav {position:absolute; top:-40px; left:0; z-index:10001; width:200px; height:24px; padding-top:4px; background-color:#000; font-size:14px; font-weight:bold; line-height:1.2em; color:#fff !important; text-align:center;}
a.Skipnav:active, a.Skipnav:focus {top:0;}
#body_section { padding-top:0 !important; }

.tourmileage_wrap strong,
.searchIdPw_wrap strong,
.changePw_wrap strong,
.confirmId_wrap strong {font-weight:bold;}

.tourmileage_wrap a,
.tourmileage_wrap a:hover,
.tourmileage_wrap a:active,
.tourmileage_wrap a:visited,
.searchIdPw_wrap a, 
.searchIdPw_wrap a:hover,
.searchIdPw_wrap a:active,
.searchIdPw_wrap a:visited,
.changePw_wrap a,
.changePw_wrap a:hover,
.changePw_wrap a:active,
.changePw_wrap a:visited {color:#2f2f2f; text-decoration:none;}

/* body_section */
/* .section_title {position:fixed; top:50px; right:0; left:0; z-index:100; color:#fff;}
.section_title_color, .section_title.section_title_color {background-color:#34495e;} */

/* tourmileage_wrap */
.tourmileage_wrap {padding:18px 0 10px;background-color:#f0f0f0;}
.tourmileage_wrap .info {padding:5%;}
.tourmileage_wrap .info dt {margin-bottom:5px; font-size:12px; font-weight:bold; color:#2f2f2f;}
.tourmileage_wrap .info dd {margin-left:8px; font-size:10px; line-height:12px; color:#656565; text-indent:-8px;}
.tourmileage_wrap .top_title {margin:0 3% 13px;}
.tourmileage_wrap .top_title > p {float:left; font-size:16px; color:#2f2f2f; letter-spacing:-1px;}
.tourmileage_wrap .top_title > p .name{color:#33ad70;}
.tourmileage_wrap .top_title dl {float:left; margin:6px 0 0 10px; line-height:12px;}
.tourmileage_wrap .top_title dt, .top_title dd {float:left; font-size:12px; color:#2f2f2f; letter-spacing:-.5px;}
.tourmileage_wrap .top_title dd {padding-left:5px;}
.tourmileage_wrap .mileage_article {padding:12px 0; margin:0 3%; display:table; width:94%; line-height:1em; background-color:#fff; border:1px solid #d3d1d1; border-radius:5px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tourmileage_wrap .mileage_article > div {display:table-cell; width:65%; padding-left:8%; vertical-align:middle; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tourmileage_wrap .mileage_article:before {content:""; display:table-cell; width:35%; height:100px; background:url("//img.modetour.com/ModeMobile/2015/Mypage/tourmileage/ico/ico_mile.png") center center no-repeat; background-size:62px 51px; border-right:1px dashed #cac9c9;}
.tourmileage_wrap .mileage_article dl {color:#2f2f2f;}
.tourmileage_wrap .mileage_article dl.use_mileage {margin-bottom:15px; letter-spacing:-1px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tourmileage_wrap .mileage_article .use_mileage dt {margin-bottom:15px; font-size:12px;}
.tourmileage_wrap .mileage_article .use_mileage dt .btn_tm_msg { display:inline-block; vertical-align:middle; width:13px; height:13px; background:url(//img.modetour.com/ModeMobile/2015/Mypage/tourmileage/ico/icon_que.png) no-repeat 0 0; background-size:13px auto; }
.tourmileage_wrap .mileage_article .use_mileage dd > span.consumer_mile {float:left; padding-right:7px; font-size:36px; color:#33ad70; letter-spacing:-1.5px;}
.tourmileage_wrap .mileage_article .use_mileage dd > img {float:left;}
.tourmileage_wrap .mileage_article dl.disappear_mileage {font-size:11px; line-height:11px; color:#656565;}
.tourmileage_wrap .mileage_article .disappear_mileage dt {float:left; letter-spacing:-1px;}
.tourmileage_wrap .mileage_article .disappear_mileage dd {float:left}
.tourmileage_wrap .mileage_article .disappear_mileage dd > span {padding:0 3px;}

/* mileage_tab */
.tourmileage_wrap .mileage_tab {position:relative;}
.tourmileage_wrap .mileage_tab h2 > a {position:absolute; top:-40px; left:50.5%; display:block; width:46.5%; height:41px; font-size:13px; color:#9f9e9e; line-height:40px; text-align:center; background-color:#f7f7f9; border:1px solid #d3d1d1; border-radius:3px 3px 0 0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tourmileage_wrap .mileage_tab h2:first-child > a {left:3%;}
.tourmileage_wrap .mileage_tab h2.on > a {color:#2f2f2f; background-color:#fff; border-bottom:none;}
.tourmileage_wrap .mileage_tab > div {padding:15px 0 7px; margin-top:60px; background-color:#fff; border-top:1px solid #d3d1d1;}
.tourmileage_wrap .mileage_tab > div > div {padding:0 5%}
.tourmileage_wrap .mileage_tab .select select {display:block; float:left; width:43%; height:25px; padding:0 5px; font-size:11px; color:#3c3b3b; letter-spacing:-.5px; border:1px solid #b8b8b8; border-radius:3px; background:url("//img.modetour.com/ModeMobile/2015/Mypage/tourmileage/ico/ico_select.gif") right center no-repeat; background-size:18px 5px;}
.tourmileage_wrap .mileage_tab .select select.deal {margin:0 4.5% 0 2.5%;}
.tourmileage_wrap .mileage_tab .select select.month {float:right; margin:0 2.5% 0 4.5%;}
.tourmileage_wrap .mileage_tab .view {display:block; padding:13px 0; font-size:15px; font-weight:bold; color:#2f2f2f; letter-spacing:-1px; text-align:center; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
.tourmileage_wrap .mileage_tab .view > span {padding-right:21px; background:url("//img.modetour.com/ModeMobile/2015/Mypage/tourmileage/ico/ico_view.gif") right center no-repeat; background-size:12px 8px;}

/* mileage_tab01 */
.tourmileage_wrap .mileage_tab .mileage_tab01 dl.term {margin:17px 0 25px; font-size:12px; line-height:12px;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .term dt {float:left; color:#656565;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .term dd > strong {float:left; padding-left:3px; color:#2f2f2f;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list > li {padding-bottom:8px; margin-bottom:8px; border-bottom:1px solid #c5c5c6;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list > li:last-child {margin-bottom:0; border-bottom:none;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list > li:after {content:""; display:block; height:0; clear:both; visibility:hidden;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list > li > p {float:left;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list > li > p.save1 {width:30%; padding-left:7px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list > li > p.save2 {width:30%; padding-top:6px;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list > li > p.save3 {float:right; width:40%; padding-top:3px; padding-right:7px; text-align:right; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .save2 .card {display:block; padding-bottom:2px; font-size:13px; color:#2f2f2f; letter-spacing:-1px;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .save2 .date {display:block; font-size:11px; color:#656565; letter-spacing:-.5px;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .save3 .sort {display:block; font-size:11px; color:#656565; letter-spacing:-.5px;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .point {display:block; font-size:16px; font-weight:bold;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_circle {display:inline-block; width:42px; height:42px; font-size:12px; text-align:center; border-radius:21px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .save_circle_type1 {color:#34a4b7; border:1px solid #34a4b7; line-height:40px;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .save_circle_type2 {color:#f05765; border:1px solid #f05765; line-height:40px;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .save_circle_type3 {padding-top:8px; color:#656565; border:1px solid #a8a9a9; line-height:12px;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .point_txt_type1 {color:#34a4b7;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .point_txt_type2 {color:#f05765;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .save_list .point_txt_type3 {color:#656565;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .no_save {padding:155px 0 65px; font-size:10px; line-height:17px; color:#656565; text-align:center; background:url("//img.modetour.com/ModeMobile/2015/Mypage/tourmileage/ico/ico_none_mile.png") center 25px no-repeat; background-size:128px 117px;}
.tourmileage_wrap .mileage_tab .mileage_tab01 .no_save > strong {font-size:15px; color:#2f2f2f;}

/* mileage_tab02 */
.tourmileage_wrap .mileage_tab .mileage_tab02 .input_box {width:82%; margin:0 auto;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .input_box input {padding:3px; margin-right:10px; width:70%; height:25px; font-size:12px; font-weight:bold; color:#2f2f2f; border:1px solid #b8b8b8; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .input_box button {width:50px; height:25px; font-size:12px; color:#fff; background-color:#666; border:none; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .info_txt {margin:0 0 17px 5px; font-size:12px; color:#2f2f2f;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .table_type {width:100%; margin-bottom:85px; border-top:1px solid #c5c5c6;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .table_type tr {border-bottom:1px solid #c5c5c6;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .table_type th {height:33px; font-size:13px; color:#3c3b3b; text-align:center; background-color:#f7f7f9;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .table_type th:first-child {border-right:1px solid #c5c5c6;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .table_type td {height:30px; text-align:center;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .table_type td:nth-child(odd) {font-size:12px; color:#9e9e9e;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .table_type td:nth-child(even) {font-size:15px; font-weight:bold; color:#292929;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .extinction {padding:155px 0 65px; font-size:10px; line-height:17px; color:#656565; text-align:center; background:url("//img.modetour.com/ModeMobile/2015/Mypage/tourmileage/ico/ico_none_mile.png") center 25px no-repeat; background-size:128px 117px;}
.tourmileage_wrap .mileage_tab .mileage_tab02 .extinction > strong {font-size:15px; color:#2f2f2f;}


/* 아이디찾기 */
.searchIdPw_wrap {padding-top:18px; background-color:#f0f0f0;}
.searchIdPw_wrap .searchIdPw_tab {position:relative;}
.searchIdPw_wrap .searchIdPw_tab h2 > a {position:absolute; top:-40px; left:50.5%; display:block; width:46.5%; height:41px; font-size:13px; color:#656565; line-height:40px; text-align:center; letter-spacing:-1px; background-color:#f7f7f9; 
border:1px solid #d3d1d1; border-radius:3px 3px 0 0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.searchIdPw_wrap .searchIdPw_tab h2:first-child > a {left:3%;}
.searchIdPw_wrap .searchIdPw_tab h2.on > a {color:#2f2f2f; background-color:#fff; border-bottom:none;}
.searchIdPw_wrap .searchIdPw_tab > div {padding:15px 0 0; margin-top:40px; background-color:#fff; border-top:1px solid #d3d1d1;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 {padding:0 5% 30px; border-bottom:1px solid #e2e2e2;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .confirm {display:table; padding-bottom:20px; margin:0 auto;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .confirm .phone_confirm {padding-right:5px;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .confirm .email_confirm {padding-left:5px;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .confirm label {position:relative; display:table-cell; width:50%; background:#fff; cursor:pointer; z-index:2; text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .confirm label img {max-width:100%;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .confirm input {position:absolute; top:50%; left:10px; width:1px; height:1px; margin-top:-5px; outline:0 none; z-index:-1;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .confirm label:before {position:absolute; bottom:-20px; left:50%; width:17px; height:16px; margin-left:-7px; background:url('http://img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/btn/btn_radio.gif') no-repeat 0 0; background-size:17px 33px; vertical-align:top; content:'';}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .confirm label.phone_confirm:before {margin-left:-12px;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .confirm input[type="radio"]:checked+label:before {background-position:0 -17px;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .nameConfirm {display:table; width:100%; margin-top:25px;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .nameConfirm label,
.searchIdPw_wrap .searchIdPw_tab .content_area01 .emailConfirm label, /* 2015.06.10 이메일 추가 */
.searchIdPw_wrap .searchIdPw_tab .content_area01 .Certifiednum_box label,/* 2017.09.12 인증번호받기 추가 */.searchIdPw_wrap .searchIdPw_tab .content_area01 .phoneConfirm label {display:table-cell; width:20%; font-size:12px; font-weight:bold; color:#454545; letter-spacing:-.5px; vertical-align:middle;} 
.searchIdPw_wrap .searchIdPw_tab .content_area01 .nameConfirm input {display:table-cell; width:100%; height:30px; padding:3px; vertical-align:middle; border:1px solid #cecece; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .phoneConfirm {display:table; width:100%; margin-top:10px;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .phoneConfirm input, 
.searchIdPw_wrap .searchIdPw_tab .content_area01 .phoneConfirm select {display:table-cell; float:left; height:30px; padding:3px; vertical-align:middle; border:1px solid #cecece; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .phoneConfirm select.phone_txt01 {width:32%; margin-right:2%; font-size:13px; color:#767474;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .phoneConfirm input.phone_txt02 {width:32%; margin-right:2%;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .phoneConfirm input.phone_txt03 {width:32%;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .phoneConfirm select {background:url("http://img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/ico/ico_selectbox.png") no-repeat 90% center; background-size:9px 7px;}
.searchIdPw_wrap .searchIdPw_tab .content_area02 {padding:5%; font-size:11px; color:#454545; background-color:#f0f0f0;}
.searchIdPw_wrap .searchIdPw_tab .content_area02 ul {margin-top:20px;}
.searchIdPw_wrap .searchIdPw_tab .content_area02 li {text-indent:-8px; padding-top:2px; margin-left:6px;}
.searchIdPw_wrap .searchIdPw_tab .content_area02 li > span {padding-right:2px; color:#808080;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 form {margin:0 auto; text-align:center;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 label {position:relative; background:#fff; cursor:pointer; z-index:2; text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 label img {max-width:100%;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 input {position:absolute; top:50%; left:10px; width:1px; height:1px; margin-top:-5px; outline:0 none; z-index:-1;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 .confirm  label:before {position:absolute; bottom:-20px; left:50%; width:17px; height:16px; margin-left:-7px; background:url('http://img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/btn/btn_radio.gif') no-repeat 0 0; background-size:17px 33px; vertical-align:top; content:'';}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 input[type="radio"]:checked+label:before {background-position:0 -17px;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .emailConfirm {display:table; width:100%; margin-top:10px;}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .emailConfirm input {display:table-cell; width:100%; float:left; height:30px; padding:3px; vertical-align:middle; border:1px solid #cecece; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}
.searchIdPw_wrap .searchIdPw_tab .content_area01 .emailConfirm span {display:table-cell; padding:0 5px; vertical-align:middle; text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}

/* 비밀번호변경, 3개월 고객도 같이 적용 */
.changePw_wrap {padding:18px 2%; margin-top:40px; background-color:#f0f0f0;}
.changePw_wrap .changePw_area01 {padding:5% 5% 7%; background-color:#fff; border-radius:3px; border:1px solid #e2e2e2;}
.changePw_wrap .changePw_area01 > p {margin-bottom:25px; font-size:15px; font-weight:bold; color:#454545;}
.changePw_wrap .changePw_area01 > form label {display:block; margin-bottom:8px; font-size:12px; font-weight:bold; color:#454545;}
.changePw_wrap .changePw_area01 > form input {display:block; width:100%; height:30px; padding:3px; border:1px solid #cecece; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.changePw_wrap .changePw_area01 > form p:first-child input {margin-bottom:20px;}
.changePw_wrap .changePw_area01 p.pdb_20 {padding-bottom:20px;} /* 20150824 수정 */
.changePw_wrap .changePw_area02 {padding:5%; font-size:11px; color:#454545; background-color:#f0f0f0;}
.changePw_wrap .changePw_area02 > ul {margin-top:20px;}
.changePw_wrap .changePw_area02 li {text-indent:-10px; padding-top:4px; margin-left:4px;}
.changePw_wrap .changePw_area02 li > span {padding-right:2px; color:#808080;}
.changePw_wrap .changePw_area02 li > strong {font-size:12px; color:#df0404;}
/* 20150824 수정 */
.btn_style_two {display:table; width:100%; padding-top:5%; font-size:11px; color:#454545; background-color:#f0f0f0;}
.btn_style_two .btn_confirm2 {display:table-cell; float:left; width:49%; height:41px; font-size:15px; font-family:Helvetica, Arial, sans-serif; font-weight:bold; color:#fff; letter-spacing:-1px; border-radius:3px; border:1px solid #a6a7a7; background-color:#acadaf; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.btn_style_two .btn_nextCg {display:table-cell; float:right; width:49%; height:41px; font-size:15px; font-family:Helvetica, Arial, sans-serif; font-weight:bold; color:#fff; letter-spacing:-1px; border-radius:3px; border:1px solid #2a9e64; background-color:#33ad70; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.changePw_wrap .changePw_area02.changePw_area_style {padding:0 5% 5% 5%;}

/* 비밀번호 찾기 */
.searchPw_wrap {padding:18px 2%; background-color:#f0f0f0;}
.searchPw_wrap .searchPw_area01 {padding:5%; background-color:#fff; border-radius:3px; border:1px solid #e2e2e2;}
.searchPw_wrap .searchPw_area01 .user_confirm {width:50%; margin:0 auto 30px; text-align:center;}
.searchPw_wrap .searchPw_area01 .user_confirm label {position:relative; background:#fff; cursor:pointer; z-index:2; text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.searchPw_wrap .searchPw_area01 .user_confirm label img {max-width:100%;}
.searchPw_wrap .searchPw_area01 .user_confirm input {position:absolute; top:50%; left:10px; width:1px; height:1px; margin-top:-5px; outline:0 none; z-index:-1;}
.searchPw_wrap .searchPw_area01 .user_confirm label:before {position:absolute; bottom:-20px; left:50%; width:17px; height:16px; margin-left:-7px; background:url('//img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/btn/btn_radio.gif') no-repeat 0 0; background-size:17px 33px; vertical-align:top; content:'';}
.searchPw_wrap .searchPw_area01 .user_confirm input[type="radio"]:checked+label:before {background-position:0 -17px;}
.searchPw_wrap .searchPw_area01 p.sear_id {display:table; width:100%; margin-top:15px;}
.searchPw_wrap .searchPw_area01 p.sear_id label {display:table-cell; width:17%; font-size:12px; font-weight:bold; color:#454545; letter-spacing:-.5px; vertical-align:middle;}
.searchPw_wrap .searchPw_area01 p.sear_id input {display:table-cell; width:100%; height:30px; padding:3px; border:1px solid #cecece; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.searchPw_wrap .searchPw_area02 {padding:5%; font-size:11px; color:#454545; background-color:#f0f0f0;}
.searchPw_wrap .searchPw_area02 > p {position:relative; margin-top:20px; font-size:12px; font-weight:bold; line-height:22px; color:#454545;}
.searchPw_wrap .searchPw_area02 > p > button {position:absolute; top:0; right:0; width:74px; height:22px; background:url("//img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/btn/btn_id_search.gif") 0 0 no-repeat; background-size:74px 22px; border:none;}
.searchPw_wrap .searchPw_area02 > ul {margin-top:20px;}
.searchPw_wrap .searchPw_area02 li {text-indent:-8px; padding-top:2px; margin-left:6px;}
.searchPw_wrap .searchPw_area02 li > span {padding-right:2px; color:#808080;}
.searchPw_wrap .searchPw_area02 li > strong {font-size:12px; color:#df0404;}

/* 아이디확인 */
.confirmId_wrap {padding:18px 2%; margin-top:40px; background-color:#f0f0f0;}
.confirmId_wrap .confirmId_area01 {padding:80px 5% 30px; background:#fff url("//img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/ico/ico_confirm_id.jpg") center 32px no-repeat; background-size:25px 35px; border-radius:3px; border:1px solid #e2e2e2;}
.confirmId_wrap .confirmId_area01 p {font-size:14px; color:#454545; text-align:center;}
.confirmId_wrap .confirmId_area01 p.txt01 {padding-bottom:5px; letter-spacing:-.5px;}
.confirmId_wrap .confirmId_area01 p span.user_id {padding-left:2px; color:#33ad70;}
.confirmId_wrap .confirmId_area02 {display:table; width:100%; padding:5% 0; font-size:11px; color:#454545; background-color:#f0f0f0;}
.confirmId_wrap .confirmId_area02 .btn_searchPw {display:table-cell; float:left; width:49%; height:41px; font-size:15px; font-family:Helvetica, Arial, sans-serif; font-weight:bold; color:#fff; letter-spacing:-1px; border-radius:3px; border:1px solid #a6a7a7; background-color:#acadaf; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.confirmId_wrap .confirmId_area02 .btn_login {display:table-cell; float:right; width:49%; height:41px; font-size:15px; font-family:Helvetica, Arial, sans-serif; font-weight:bold; color:#fff; letter-spacing:-1px; border-radius:3px; border:1px solid #2a9e64; background-color:#33ad70; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

/* 비회원 예약조회 */
.nomem_bookingChe_wrap {padding:18px 2%; background-color:#f0f0f0;}
.nomem_bookingChe_wrap .nomem_bookingChe_area01 p {padding:0 5%; margin-bottom:10px; font-size:14px; font-weight:bold; color:#454545; letter-spacing:-.5px;}
.nomem_bookingChe_wrap .nomem_bookingChe_area01 .tour_goods {width:100%; height:30px; padding:3px; font-size:13px; color:#767474; background:#fff url("//img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/ico/ico_selectbox.png") no-repeat 97% center; background-size:9px 7px; vertical-align:middle; border:1px solid #d8d8d8; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 {padding:5% 5% 7%; margin-top:10px; background-color:#fff; border-radius:3px; border:1px solid #e2e2e2;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 label,
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .txt_style_label {display:block; font-size:12px; font-weight:bold; color:#454545;} /* 2015.07.08 수정 */
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .txt_style_label {margin-bottom:0;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 input[type="tel"], 
.nomem_bookingChe_wrap .nomem_bookingChe_area02 input[type="date"] {float:left; width:70%; height:30px; padding:3px; vertical-align:middle; border:1px solid #cecece; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box} /* 2015.07.08 수정 */
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .gender_area {display:table; width:100%;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .gender_area > p {display:table-cell; width:30%;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .gender_area > p:last-child {display:table-cell; width:40%; text-align:right;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .gender_area select {width:99%; height:30px; padding:3px; font-size:13px; color:#767474; background:#fff url("//img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/ico/ico_selectbox.png") no-repeat 92% center; background-size:9px 7px; vertical-align:middle; border:1px solid #d8d8d8; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .gender_area label {position:relative; background:#fff; cursor:pointer; z-index:2; padding-left:25px; font-size:13px; font-weight:normal; color:#767474; text-align:left; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .gender_area input {position:absolute; top:50%; left:10px; width:1px; height:1px; margin-top:-5px; outline:0 none; z-index:-1;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .gender_area label:before {position:absolute; bottom:0; left:6px; width:17px; height:16px; margin-left:-7px; background:url('//img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/btn/btn_radio.gif') no-repeat 0 0; background-size:17px 33px; vertical-align:middle; content:'';}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .gender_area input[type="radio"]:checked+label:before {background-position:0 -17px;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .birthday_calendar_area {position:relative;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 .birthday_calendar {background:url('//img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/btn/btn_birthday_calendar.gif') no-repeat 99% center; background-size:22px 22px;}
.nomem_bookingChe_wrap .nomem_bookingChe_area03 {padding:5%; font-size:11px; color:#454545; background-color:#f0f0f0;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 fieldset > p:first-child, 
.nomem_bookingChe_wrap .nomem_bookingChe_area02 p.birthday_calendar_area {overflow:hidden; margin-bottom:20px;}
.nomem_bookingChe_wrap .nomem_bookingChe_area02 fieldset > p:first-child > label,
.nomem_bookingChe_wrap .nomem_bookingChe_area02 p.birthday_calendar_area  > label {float:left; width:30%; line-height:30px;}

/* 공통 버튼 스타일 */
.btn_confirm {width:100%; height:41px; font-size:15px; font-family:Helvetica, Arial, sans-serif; font-weight:bold; color:#fff; letter-spacing:-1px; border-radius:3px; border:1px solid #2a9e64; background-color:#33ad70; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.btn_confirm > span {padding-left:20px; background:url("http://img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/ico/ico_check_btn.png") 0 center no-repeat; background-size:13px 9px;}

/* 네이버 아이디로 로그인 */
.naver_login_btn > a {display:table; width:100%; height:34px; text-align:center; background-color:#fff; border-radius:5px; line-height:34px; border:1px solid #d7d7d7; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.naver_login_btn > a,
.naver_login_btn > a:hover, 
.naver_login_btn > a:active,
.naver_login_btn > a:visited {text-decoration:none;}
.naver_login_btn span {display:table-cell;}
.naver_login_btn span:first-child {width:34px; border-right:1px solid #d7d7d7;}
.naver_login_btn span:first-child > img {vertical-align:middle;}
.naver_login_btn span:last-child {font-size:13px; color:#acacac; font-weight:bold; letter-spacing:-1px; vertical-align:middle;}
.naver_login_txt {margin:10px 0 0 8px; font-size:11px; color:#808080; text-indent:-8px;}


/*170911 아이디,패스워드 고도화*/


.searchIdPw_wrap .searchIdPw_tab .content_area01 .emailConfirm{display: none;}

.searchIdPw_wrap .searchIdPw_tab .content_area01 .Certifiednum { display: table;  width: 100%; }
.searchIdPw_wrap .searchIdPw_tab .content_area01 .Certifiednum_box input {display:table-cell; width:100%; height:30px; padding:3px; vertical-align:middle; border:1px solid #cecece; border-radius:3px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box}
.searchIdPw_wrap .Certifiednum_box .CertifiedTxt{font-size: 11px; color: #454545; line-height: 17px; margin-top: 15px;	}
.searchIdPw_wrap .Certifiednum_box .CertifiedTxt.email_Txt{display: none;}
.searchIdPw_wrap .Certifiednum_box .certified_btn{ margin: 10px 0  10px 20%;}
.searchIdPw_wrap .Certifiednum_box .certified_btn a{padding:0; border: none; background-color:transparent; text-align: left; display: block; width: 50%;}
.searchIdPw_wrap .Certifiednum_box .certified_btn a img{max-width: 100%;}

.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 .ipin_confirm{padding-left: 5px;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 .confirm label.phone_confirm:before{margin-left: -12px;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 .chk_box{position: relative;  margin-top: 22px;text-align: left;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 .chk_box label{font-size: 12px;color: #454545; line-height: 18px; padding-left: 26px; display: block; text-align: left;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 .chk_box label:before{ position: absolute;   width: 20px;  height: 18px;  top:1px;left:0; background: url(http://img.modetour.com/ModeMobile/2015/Mypage/search_id_pw/ico/ico_checkbox_btn.png) no-repeat ;
    background-size:cover ; background-position:0 0 ; vertical-align: top; content: '';}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .content_area01 .chk_box input[type="checkbox"]:checked+label:before{background-position: 0 -18px;}

.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .btn_box{text-align: left; margin-top:15px;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .btn_box a{display: inline-block; width: 35%;}
.searchIdPw_wrap .searchIdPw_tab .searchIdPw_tab02 .btn_box img{max-width:100%;}

.searchPw_wrap .searchPw_area01 .searchPw_txt{font-size: 13px; color: #2f2f2f; letter-spacing: -0.05em;}

.searchIdPw_wrap.findPw_wrap .findPw_Txt{padding:0 5%; font-size: 13px; color: #2f2f2f;    padding-bottom: 13px; line-height: 19px;}
.searchIdPw_wrap.findPw_wrap .findPw_Txt span{display: inline-block; font-size: 13px; color: #297fb8;}

.findIdPw_layerpop{display:none; position:fixed; top:150px; left:0; z-index:900;  overflow-y: auto; margin:0 5%; width: 90%;}
.findIdPw_layerpop.is-active{display: block;}
/*.personal_info {background-color: #fff; position: relative; z-index: 100; margin:0 5%;}*/
.findIdPw_layerpop .tit{height: 40px; width: 100%; background: #243443; position: relative; border-radius:3px 3px 0 0  ;}
.findIdPw_layerpop .tit h3{color: #FFF; font-size: 15px; line-height: 40px; font-weight: bold; padding: 0 10px; letter-spacing: -0.05em;}
.findIdPw_layerpop .tit .btn-close{position: absolute; right: 3%;top: 50%;width: 18px;  margin-top: -9px;  }
.findIdPw_layerpop.title button.close img{width: 40%;}
.findIdPw_layerpop .in{padding: 20px 15px 30px 15px; background: #FFF; border-radius:0 0 3px 3px;}
.findIdPw_layerpop .in h4{  font-size: 12px; color: #111; font-weight: 600; line-height: 25px; padding-left: 8px;}
.findIdPw_layerpop .in table {width: 100%; margin-bottom: 16px;}
.findIdPw_layerpop .in table th{ background-color: #e6e7eb;font-size: 12px; line-height: 34px; color: #333;text-align: center; }
.findIdPw_layerpop .in table th:first-child{border-right: 1px solid #fff;}
.findIdPw_layerpop .in table td{font-size: 12px; line-height: 34px; color: #333; text-align: center;}
.findIdPw_layerpop .in p{  font-size: 12px; color:#333 line-height: 21px;}
.findIdPw_layerpop .layer_btn{text-align: center;}
.findIdPw_layerpop .layer_btn a{display: inline-block; font-size: 13px; line-height: 30px; background-color: #bfbfbf; border: 1px solid #979595; width: 100px; text-decoration:none; color: #fff;border-radius: 3px;}
body>i.dim{display:none;position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:.4;filter:alpha(opacity=40);z-index:110;}

/* [S] 190820 모두멤버스 환전서비스 추가*/
.tour_exchange{background-color:#fff;padding: 0;}  
.tour_exchange_h1 {font-family:'noto sans KR';font-weight: 400;}  
.tour_exchange .exchange_head {padding:0 0 20px;}
.tour_exchange .exchange_footer{padding:40px 0 0px;}
.tour_exchange .exchange_head img, .tour_exchange .exchange_footer img, .tour_exchange .tm-row img{width:100%;}
.tour_exchange .cols4{width:40%;float:left;background-color:#707070;}
.tour_exchange .cols6{width:60%;float:left;background-color:#3cb087;}
.tour_exchange .tm-row:first-child{margin-top:0px;}
.tour_exchange .tm-row{margin-top:40px;}
.tour_exchange .cols4 a, .tour_exchange .cols6 a { font-size: 16px; color: #fff; font-weight: 500; border: 0; letter-spacing: -0.025em; font-family: 'Nanum Square';}
.tour_exchange .exc_bth{ text-align: center; overflow: hidden; position: fixed; bottom: 0; width: 100%; line-height: 70px; }
/* [E] 190820 모두멤버스 환전서비스 추가*/