@charset "utf-8";

/*공통*/
/* SpoqaHanSans */
@font-face {
    font-family: 'SpoqaHan_regualr';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('../fonts/Notosans/SpoqaHanSansRegular.woff2') format('woff2'),
    url('../fonts/Notosans/SpoqaHanSansRegular.woff') format('woff'),
    url('../fonts/Notosans/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHan_light';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('../fonts/Notosans/SpoqaHanSansLight.woff2') format('woff2'),
    url('../fonts/Notosans/SpoqaHanSansLight.woff') format('woff'),
    url('../fonts/Notosans/SpoqaHanSansLight.ttf') format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSans_bold';
    font-weight: bold;
    src: local('Spoqa Han Sans Bold'),
    url('../fonts/Notosans/SpoqaHanSansBold.woff2') format('woff2'),
    url('../fonts/Notosans/SpoqaHanSansBold.woff') format('woff'),
    url('../fonts/Notosans/SpoqaHanSansBold.ttf') format('truetype');
}
 
*{margin:0; padding:0;}
img{border:0;}
button{border: 0; background-color: transparent; cursor: pointer;}
a{text-decoration: none; color: #404b59;}
ul li{list-style: none;}
em{font-style: normal;}
fieldset{border: 0;}
i{font-style: normal;}
.blind {position:absolute; top:0; left:0; width:0; height:0; line-height:0; visibility:hidden; overflow:hidden; text-indent:-9999px;}
.txt_blue{color:#1e88e5;}
.txt_purple{color:#7c2cd0;}
h2,h3{color: #43484f; font-family: 'SpoqaHanSans_bold';}
.section .cont_title{margin-top: 30px; margin-bottom: 15px; font-size: 18px;}
/*공통*/

.ad_ico{display: inline-block; padding:0 2px; margin-right: 6px; border-radius: 3px; font-size: 11px; background-color: #7c2cd0; color: #fff; font-family: 'SpoqaHanSans_bold';}
.cont_grid{margin-bottom: 40px;}
.cont_grid ul::after{display: block; content: ""; clear: both;}
.cont_grid ul{padding-bottom: 45px; border-bottom: 1px solid #e2e5ea;}
.cont_grid li{float:left; width: 227px; padding-left: 14px; margin-bottom: 24px;} 
.cont_grid li:nth-child(3n+1){padding-left: 0;}
.cont_grid li .thum_img{display: inline-block; position: relative; width: 227px; height: 128px; overflow: hidden; margin-bottom: 8px;}
.cont_grid li .category{font-size: 13px;  font-family: 'SpoqaHan_light'}
.cont_grid li .txt{line-height: 1.4; padding-top: 2px; height: 43px; overflow: hidden; font-size: 14px; letter-spacing: -0.025em; font-family: 'SpoqaHan_light';}
.cont_grid li a:hover .txt{text-decoration: underline;}
.cont_grid .thum_img i.badge{position: absolute; top:0; left: 0; padding:2px 6px; color: #fff; font-size: 13px; background-color: #ff384f;}

.content_top .list_set{position: absolute; top:0; right:0;}
.content_top .list_set a{vertical-align: middle;}
.content_top .list_set .opt{margin-right: 6px; display: inline-block; width: 13px; height: 13px; background: url("../images/renew_ico_common.png") -130px -136px;}
.content_top .list_set .opt.album{display: inline-block; width: 13px; height: 13px; background: url("../images/renew_ico_common.png") -156px -136px;}
.cont_list ul{padding-bottom: 53px;}
.cont_list li{margin-bottom: 16px;}
.cont_list li a{display: flex; justify-content:space-between;}
.cont_list li .thum_img img{width: 100%;}
.cont_list li .info_area{width: 497px;}
.cont_list li .category{display: block; padding:6px 0 4px; font-size: 13px; font-family: 'SpoqaHan_regualr'; }
.cont_list li .txt{height: 43px; overflow: hidden; font-size: 14px; font-family: 'SpoqaHan_light';}
.cont_list li a:hover .txt{text-decoration: underline;}
.cont_list li .info{display: block; margin-top: 10px; color: #909090; font-size: 13px;}
.cont_list li .info em{color: #26262b; font-family: 'SpoqaHan_regualr'; font-weight: 400;}
.cont_list .more{display: block; width: 134px; margin:0 auto; padding:6px 15px 6px 26px; background-color: #ebebeb; border-radius: 30px; font-size: 14px; font-family: 'SpoqaHan_light'; box-sizing: border-box;}