@charset "utf-8";

/*header [s]*/
#drv_header .logo{width: 124px; height: 29px; font-size: 0; line-height: 0; text-indent: -9999px; background: url("../images/renew_ico_common.png") -0px -60px no-repeat; }
#drv_header .logo a{display: block; width: 100%; height: 100%;}
.hearder_top{border-bottom:1px solid #e5e5e5;}
.hearder_top .header_top_inner{position: relative; width: 980px; margin:30px auto 35px; display: flex;}
.hearder_top .head_title{margin-top: -4px; margin-left: 18px; color: #3a3d40; font-size: 26px; font-family: 'SpoqaHanSans_bold'; }
.hearder_top .member_info{position: absolute; top:0; right: 0;}

.member_name{display: inline-block; position: relative;}
.member_name:hover .link_box{opacity: 1; visibility: visible;}
.member_name .member{color: #333; font-size: 15px; font-family: 'SpoqaHan_regualr';}
.member_name .link_box{opacity: 0; visibility: hidden; position: absolute; top:30px; left: -22px; width: 120px; padding:10px 0; background-color: #fff; font-family: 'SpoqaHan_regualr'; z-index: 10; border:1px solid #bbc1cd; transition: all 0.15s ease-in;}
.member_name .link_box::before{position: absolute; top:-7px; left: 50%; margin-left: -10px; width: 12px; height: 7px; background: url("../images/renew_ico_common.png") -100px -132px no-repeat; content: "";}
.member_name .link_box li{margin:0 14px; line-height: 1.6;}
.member_name .link_box a{position: relative; display: inline-block; font-size: 12px; font-family: 'SpoqaHan_light';}
.member_name .link_box a:hover{text-decoration: underline;}
.member_name .link_box .new{top:2px; right: -6px;}
.member_info .new{position: absolute; top:-2px; right: -5px; width:5px; height: 5px; border-radius: 50%; background-color: #ff471c; content: ""; font-size:0; line-height:0; text-indent:-9999px}
.hearder_top .alarm{position: relative; display: inline-block; width: 15px; height: 15px; margin-left: 12px; vertical-align: middle; background: url("../images/renew_ico_common.png") -130px -103px; font-size:0; line-height:0;}
.drv_nav_area{position: relative; letter-spacing: -0.025em; border-bottom: 1px solid #bec5d2;}
.drv_nav_area .drv_nav_inner{display: flex; width: 980px; margin:0 auto; justify-content:space-between; align-items:center;}
.drv_nav_area i.ico_new{display: inline-block; width: 14px; height: 14px; vertical-align: 5px; line-height: 12px; margin-left: 4px; border-radius: 50%; font-size: 10px; text-align: center; font-style: normal; background-color: #ff4242; color: #fff;}
.drv_nav{position: relative; width: 100%;}
.drv_nav .main_munu{min-width: 662px; display: flex;}
.drv_nav .main_munu>li{position: relative; height: 63px; padding:20px 0 24px; text-align: left; box-sizing: border-box;}
.drv_nav .main_munu>li>a{padding-right: 14px; color:#202020; font-family: 'SpoqaHanSans_bold';  font-size: 16px;}
.drv_nav .main_munu>li:hover{border-bottom: 1px solid #4ea1ff;}
.drv_nav .main_munu>li:hover>a{color: #4ea1ff;}
/* .drv_nav .main_munu>li:hover #sub_menu{opacity: 1; visibility: visible;}
.drv_nav #sub_menu{opacity: 0; visibility: hidden; position: absolute; top:56px; left: -20px; width: 162px; padding:20px 16px 28px 16px; background-color: #fff; border:1px solid #bbc1cd; box-sizing: border-box; z-index: 90; transition: all 0.15s ease-in;}
.drv_nav #sub_menu:before{position: absolute; top:-10px; left: 50%; margin-left: -10px; width: 20px; height: 10px; background: url("../images/renew_ico_common.png") -100px -106px no-repeat; content: "";}
.drv_nav #sub_menu li{margin-bottom: 8px;}
.drv_nav #sub_menu a{color: #333;font-size: 14px; font-family: 'SpoqaHan_light';}
.drv_nav #sub_menu a:hover{text-decoration: underline;} */

.drv_nav_area .drv_nav .all_menu_btn{position: absolute; top:22px; right: 0; margin-right: 22px; font-size: 13px; font-family: 'SpoqaHan_regualr';}
.drv_nav_area .drv_nav .all_menu_btn a::after{display: inline-block; width: 16px; height: 9px; margin-left: 5px; background-image: url("../images/renew_ico_common.png"); background-repeat: no-repeat; background-position: 0px -107px; content: "";}
.drv_nav_area .drv_nav .all_menu_btn a:hover{text-decoration: none;}
.drv_nav_area .drv_nav .all_menu_btn.active a{color: #4ea1ff;}
.drv_nav_area .drv_nav .all_menu_btn.active a::after{background-position-x: -24px;}
.drv_nav_area .search_box_area{position: relative;}
.drv_nav_area .search_box{position: relative; width: 196px; height: 40px; padding-right: 60px; border:2px solid #4ea1ff; border-radius: 3px; }
.drv_nav_area .search_box legend{position:absolute; top:0; left:0; width:0; height:0; line-height:0; visibility:hidden; overflow:hidden; text-indent:-9999px;}
.drv_nav_area .input_box .sch_input{width: 100%; height: 40px; padding:10px 12px; border: 0; border-radius: 5px; box-sizing: border-box;}
.drv_nav_area .input_box .sch_input::placeholder{color: #a9b2bb;}
.drv_nav_area .search_box .btn_area{position: absolute; top:0; right: 0; width: 52px;}
.drv_nav_area .search_box .btn_area button{background-image: url("../images/renew_ico_common.png"); background-repeat: no-repeat; box-sizing: border-box;} 
.drv_nav_area .search_box .btn_area .recomm_keyword{width: 10px; height: 40px; margin-right: 10px; background-position: -48px -90px;}
.drv_nav_area .search_box .btn_area .btn_search{position: absolute; width: 22px; height: 40px; background-position: -68px -91px; background-color: #fff;}
/*nav type*/
.drv_nav_area.nav_type{margin-top: 35px;}
.drv_nav_area.nav_type .logo{position: absolute; top:15px; left: 0;}
.drv_nav_area.nav_type .drv_nav_inner{position: relative;}
.drv_nav_area.nav_type .drv_nav_inner .drv_nav{margin-left: 150px;}

.search_recomm_box{position: absolute; top:44px; left: 0; width: 100%; border:1px solid #dee1e7; background-color: #fff; z-index: 90; box-sizing: border-box;}
.search_recomm_box .search_recomm{margin: 12px 10px 24px 16px; max-height: 237px; overflow-y: scroll;} 
.search_recomm_box .search_recomm::-webkit-scrollbar{width: 4px;}
.search_recomm_box .search_recomm::-webkit-scrollbar-thumb{background-color:#d6d6d6}
.search_recomm_box .search_recomm::-webkit-scrollbar-track{background-color: rgba(214,214,214, 0.6);}
.search_recomm_box .search_recomm::scroll-arrow-color{background-color:#000;}
.search_recomm_box .search_recomm a{display: block; position: relative; line-height: 1.6; margin-bottom: 13px; color: #43484f; font-family: 'SpoqaHan_light';}
.search_recomm_box .search_recomm a::after{position: absolute; top:0; left: 0; right: 0; bottom: 0;} 
.search_recomm_box .search_recomm strong{display: inline-block; position: relative; padding:0 4px; background-color: #fff9a9; z-index: 2; font-family: 'SpoqaHanSans_bold';}

.all_menu_box{display:none; position: absolute; top:65px; left: 0; width: 100%; z-index: 92; box-shadow:0px 20px 30px -15px rgba(0,0,0,0.2); background-color: #fff; }
.all_menu_box.active{display: block;}
.all_menu_box_inner{position: relative; width: 1080px; margin:0 auto; padding-bottom: 20px; border-bottom: 1px solid #d6d6d6;}
.all_menu_box .menu_col{padding: 40px 0; display: flex;}
.all_menu_box .menu_col:first-child{border-bottom: 1px solid #eceef1;}
.all_menu_box .menu_row{width: 20%;}
.all_menu_box .menu_row>strong{display: inline-block; margin-bottom: 14px; color: #000; text-decoration: none;}
.all_menu_box .menu_row i.ico_point{display: inline-block; width: 18px; height: 18px; margin-top: -5px; margin-left: 8px; font-size:0; line-height:0; vertical-align: middle; text-indent:-9999px; background: url("../images/renew_ico_common.png") 0 -127px no-repeat;;}
.all_menu_box .menu_row i.ico_new{vertical-align: 3px;}
.all_menu_box .menu_row .menu_depth a{display: block; font-size: 15px; color: #6e757c;}
.all_menu_box .menu_row .menu_depth li{margin-bottom: 12px;}
.all_menu_box .btn_close{position: absolute; bottom: 0; right: 0; width: 46px; height: 46px; padding:14px 12px; border:1px solid #dadada; border-bottom: none; font-size:0;  line-height:0; }
.all_menu_box .btn_close span{display: inline-block;  position: relative; width: 100%; height: 100%;}
.all_menu_box .btn_close::before, .all_menu_box .btn_close::after{display: inline-block; position: absolute; width: 20px; height: 2px; background-color: #919191; content: "";}
.all_menu_box .btn_close::before{bottom:12px; left: 12px; transform: translateY(-9px) rotate(-45deg);}
.all_menu_box .btn_close::after{bottom:28px; left: 12px; transform: translateY(7px) rotate(45deg);}
/*header [e]*/

.drv_container_inner{width:980px; margin:0 auto; padding-top: 30px;}
.drv_container .left_area{float: left; width: 710px;}
.drv_container .main_banner{display: block; width: 710px; height: 96px; overflow: hidden;}
.drv_container .cont_search{display: flex;  justify-content:space-between; margin-bottom: 24px; padding:28px 0 18px; border-bottom: 1px solid #e2e5ea; color: #333e4c; font-family: 'SpoqaHan_regualr'; }
.cont_search  input[type="text"]::placeholder{height: 34px; color: #c9cacd;}
.cont_search .data_input input[type="text"]{width: 90px; height: 34px; padding:0 8px; font-size: 12px; border: 1px solid #ced5e4; text-align: center;}
/*right*/
.drv_container .right_area{float: right; width: 240px;}
.right_area .title{margin-bottom: 12px; color: #535d67; font-size: 15px; font-family: 'SpoqaHanSans_bold';}
.r_contents .recomm{display: flex; margin-bottom: 30px; font-family: 'SpoqaHan_light';}
.r_contents .recomm .info_area{margin-top: -3px; margin-left: 12px; line-height: 1.2;}
.r_contents .recomm .txt_blue{display: block; margin-bottom: 2px; font-size: 13px;}
.r_contents .recomm .txt{height: 34px; overflow: hidden; color: #333; font-size: 14px;}
.r_contents .recomm .sub_txt{color: #999; font-size: 12px;}
.r_contents .recomm:hover .txt{text-decoration: underline;}


/* list 공통 [s]*/
/* .ad_ico{display: inline-block; padding:0 2px; margin-right: 6px; border-radius: 3px; font-size: 11px; background-color: #7c2cd0; color: #fff; font-family: 'SpoqaHanSans_bold';} */
.cont_type li{font-family: 'SpoqaHan_regualr'; font-weight: 300;}
.cont_type li a{display: block;}

.cont_type .thum_img{position: relative;}
.cont_type .thum_img img{vertical-align: middle;}




/* 컨텐츠 search */
.search_list::after{display: block; content: ""; clear: both;}
.search_list li{float: left;}
.search_list li:first-child .select{border-left: 1px solid #ced5e4;}
.search_list .select{position: relative; width: 100px; height: 34px; padding:8px; letter-spacing: -0.05em; border: 1px solid #ced5e4; border-left: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;  background: url("../images/common/select_bg_off.png") 92% 50% no-repeat;}
.search_list .select::-ms-expand {display: none;}
.search_list .select:after{ content: '▼';position: absolute; top: 7px; right: 10px; transform: none; border: 0;}
.search_list .sch_input_area{position: relative;}
.search_list .sch_input_area .sch{display: inline-block; position: absolute; top:10px; right: 10px; width: 16px; height: 16px;  background: url("../images/renew_ico_common.png") -70px -132px no-repeat;}
.search_list .sch_input{position: relative; width: 220px; height: 34px; padding:8px 34px 8px 8px; border: 1px solid #ced5e4; border-left: none; box-sizing: border-box;}

.content_top{position: relative; margin-bottom: 16px; letter-spacing: -0.025em; font-family: 'dotum', '돋움';}
.content_top .title{font-size: 16px; color: #4a4a4a;}
.content_top .title .number{color: #ff5a01;}

.content_top .list_set .sort_wrap{margin-right: 6px;}
.content_top .list_set .sort_txt{padding:0 4px; color: #7f7f7f; font-size: 12px;  }
.content_top .list_set .sort_txt.on{color: #606060; font-weight: bold;}
.content_top .list_set .sort_txt.on::before{display:inline-block; width: 2px; height: 2px; margin-right: 4px; background-color: #606060; content: ""; vertical-align: 4px}

/* list 공통 [e]*/