 @charset "utf-8";

/*header [s]*/
.drv_main_header{padding-bottom: 20px; border-bottom: 1px solid #4ea1ff;  font-family: 'SpoqaHan_regualr';}
.drv_main_header a{color: #43484f;}
.drv_main_header .hearder_top{padding:30px 0; font-family: 'SpoqaHan_regualr';}
.drv_main_header .hearder_top .logo{text-align: center; height: 57px;}
.drv_main_header .hearder_top .logo a{display: inline-block; width: 213px; height: 57px; vertical-align: top; font-size: 0; line-height: 0; text-indent: -9999px; background: url("../images/renew_ico_common.png") 0 0 no-repeat;}

.drv_nav_area{position: relative; letter-spacing: -0.025em;}
.drv_nav_area .drv_nav_inner{display: flex;  width: 1080px; margin:0 auto; justify-content:space-between; align-items:center;}
.drv_nav_area i.ico_new{display: inline-block; width: 14px; height: 14px; vertical-align: 5px; line-height: 12px; margin-left: 4px; border-radius: 50%; font-size: 10px; text-align: center; font-style: normal; background-color: #ff4242; color: #fff;}
.drv_nav{position: relative; width: 100%;}
.drv_nav .main_munu{min-width: 662px; display: flex;}
.drv_nav .main_munu>li{position: relative; text-align: left;}
.drv_nav .main_munu>li>a{padding-right: 34px; color: #202020; font-family: 'SpoqaHanSans_bold'; font-size: 20px;}
.drv_nav .main_munu>li:hover #sub_menu{opacity: 1; visibility: visible;}
.drv_nav #sub_menu{opacity: 0; visibility: hidden; position: absolute; top:56px; left: -20px; width: 162px; padding:20px 16px 28px 16px; background-color: #fff; border:1px solid #bbc1cd; box-sizing: border-box; z-index: 90; transition: all 0.15s ease-in;}
.drv_nav #sub_menu:before{position: absolute; top:-10px; left: 50%; margin-left: -10px; width: 20px; height: 10px; background: url("../images/renew_ico_common.png") -100px -106px no-repeat; content: "";}
.drv_nav #sub_menu li{margin-bottom: 8px;}
.drv_nav #sub_menu a{color: #333;font-size: 14px; font-family: 'SpoqaHan_light';}
.drv_nav #sub_menu a:hover{text-decoration: underline;}

.drv_nav_area .drv_nav .all_menu_btn{position: absolute; top:50%; right: 0; margin-top: -6px; margin-right: 22px; font-size: 13px;}
.drv_nav_area .drv_nav .all_menu_btn a::after{display: inline-block; width: 16px; height: 9px; margin-left: 5px; background-image: url("../images/renew_ico_common.png"); background-repeat: no-repeat; background-position: 0px -107px; content: "";}
.drv_nav_area .drv_nav .all_menu_btn a:hover{text-decoration: none;}
.drv_nav_area .drv_nav .all_menu_btn.active a{color: #4ea1ff;}
.drv_nav_area .drv_nav .all_menu_btn.active a::after{background-position-x: -24px;}
.drv_nav_area .search_box_area{position: relative;}
.drv_nav_area .search_box{position: relative; width: 196px; height: 40px; padding-right: 60px; border:2px solid #4ea1ff; border-radius: 3px; }
.drv_nav_area .search_box legend{position:absolute; top:0; left:0; width:0; height:0; line-height:0; visibility:hidden; overflow:hidden; text-indent:-9999px;}
.drv_nav_area .input_box .sch_input{width: 100%; height: 40px; padding:10px 12px; border: 0; border-radius: 5px; box-sizing: border-box;}
.drv_nav_area .input_box .sch_input::placeholder{color: #a9b2bb;}
.drv_nav_area .search_box .btn_area{position: absolute; top:0; right: 0; width: 52px;}
.drv_nav_area .search_box .btn_area button{background-image: url("../images/renew_ico_common.png"); background-repeat: no-repeat; box-sizing: border-box;} 
.drv_nav_area .search_box .btn_area .recomm_keyword{width: 10px; height: 40px; margin-right: 10px; background-position: -48px -90px;}
.drv_nav_area .search_box .btn_area .btn_search{position: absolute; width: 22px; height: 40px; background-position: -68px -91px; background-color: #fff;}
.search_recomm_box{position: absolute; top:44px; left: 0; width: 100%; border:1px solid #dee1e7; background-color: #fff; z-index: 90; box-sizing: border-box;}
.search_recomm_box .search_recomm{margin: 12px 10px 24px 16px; max-height: 237px; overflow-y: scroll;} 
.search_recomm_box .search_recomm::-webkit-scrollbar{width: 4px;}
.search_recomm_box .search_recomm::-webkit-scrollbar-thumb{background-color:#d6d6d6}
.search_recomm_box .search_recomm::-webkit-scrollbar-track{background-color: rgba(214,214,214, 0.6);}
.search_recomm_box .search_recomm::scroll-arrow-color{background-color:#000;}
.search_recomm_box .search_recomm a{display: block; position: relative; line-height: 1.6; margin-bottom: 13px; color: #43484f; font-family: 'SpoqaHan_light';}
.search_recomm_box .search_recomm a::after{position: absolute; top:0; left: 0; right: 0; bottom: 0;} 
.search_recomm_box .search_recomm strong{display: inline-block; position: relative; padding:0 4px; background-color: #fff9a9; z-index: 2; font-family: 'SpoqaHanSans_bold';}

.all_menu_box{display:none; position: absolute; top:65px; left: 0; width: 100%; z-index: 92; box-shadow:0px 20px 30px -15px rgba(0,0,0,0.2); background-color: #fff; }
.all_menu_box.active{display: block;}
.all_menu_box_inner{position: relative; width: 1080px; margin:0 auto; padding-bottom: 20px; border-bottom: 1px solid #d6d6d6;}
.all_menu_box .menu_col{padding: 40px 0; display: flex;}
.all_menu_box .menu_col:first-child{border-bottom: 1px solid #eceef1;}
.all_menu_box .menu_row{width: 20%;}
.all_menu_box .menu_row>strong{display: inline-block; margin-bottom: 14px; color: #000; text-decoration: none;}
.all_menu_box .menu_row i.ico_point{display: inline-block; width: 18px; height: 18px; margin-top: -5px; margin-left: 8px; font-size:0; line-height:0; vertical-align: middle; text-indent:-9999px; background: url("../images/renew_ico_common.png") 0 -127px no-repeat;;}
.all_menu_box .menu_row i.ico_new{vertical-align: 3px;}
.all_menu_box .menu_row .menu_depth a{display: block; font-size: 15px; color: #6e757c;}
.all_menu_box .menu_row .menu_depth li{margin-bottom: 12px;}
.all_menu_box .btn_close{position: absolute; bottom: 0; right: 0; width: 46px; height: 46px; padding:14px 12px; border:1px solid #dadada; border-bottom: none; font-size:0;  line-height:0; }
.all_menu_box .btn_close span{display: inline-block;  position: relative; width: 100%; height: 100%;}
.all_menu_box .btn_close::before, .all_menu_box .btn_close::after{display: inline-block; position: absolute; width: 20px; height: 2px; background-color: #919191; content: "";}
.all_menu_box .btn_close::before{bottom:12px; left: 12px; transform: translateY(-9px) rotate(-45deg);}
.all_menu_box .btn_close::after{bottom:28px; left: 12px; transform: translateY(7px) rotate(45deg);}
/*header [e]*/

/* list*/
.cont_grid li{width: 257px; padding-left: 14px;}
.cont_grid.main_list li .thum_img{width: 255px; height: 144px;}
.cont_grid.main_list li .category{font-size: 14px; font-weight: normal;}
.cont_grid.main_list li .txt{font-size: 15px;}

.main_container {font-family: 'SpoqaHanSans_bold', 'dotum', '돋움';}
.main_container .main_container_inner{background-color: #eff1f5;}
.main_container .section{width: 1080px; margin:0 auto; padding:20px 0 25px;}
.main_container .section::after{display: block; clear:both; content:"";}
.main_container .left_area{float: left; width: 800px;}
.main_container .right_area{float: right;}
.section_main .hash_box{padding:14px 20px 14px; margin-bottom: 14px; border-bottom: 1px solid #4ea1ff; background-color: #fff;}
.section_main .hash_box .ico{font-size: 12px; margin-right: 20px; padding:0 8px; color: #fff; font-family: 'SpoqaHanSans_bold'; background-color: #4ea1ff;}
.section_main .hash_box a{display: inline-block; margin-right: 20px; line-height: 1.8; font-size: 14px; letter-spacing: -0.025em;; font-family: 'SpoqaHan_regualr';}
.main_container .main_banner{display: block; width: 800px; height: 96px; overflow: hidden;}
.main_slide_wrap{position: relative;}
.main_slide_wrap .main_slide{position: relative; overflow: hidden; margin:15px 0;}
.main_slide_wrap .swiper-button-prev, .main_slide_wrap .swiper-button-next{width: 33px; height: 33px;}
.main_slide_wrap .swiper-button-prev{left: -17px; background: url("../images/main/slide_arr_prev.png");}
.main_slide_wrap .swiper-button-next{right: -17px; background: url("../images/main/slide_arr_next.png");}           
.main_slide_wrap .swiper-button-next.swiper-button-disabled, .main_slide_wrap .swiper-button-prev.swiper-button-disabled{opacity: 1;}
.main_slide_wrap .swiper-button-prev::after, .main_slide_wrap .swiper-button-next::after{display: none;}
.main_slide .swiper-slide .ico{display: inline-block; position: absolute; top:0; left: 0; padding:0 10px; line-height: 1.8; color: #fff; font-size: 14px; font-family: 'SpoqaHanSans_bold'; background-color: #03bdff; letter-spacing: -0.025em;}
.main_slide .swiper-slide .ico.red{background-color: #ff4242;}
.main_slide .swiper-slide .ico.red::before{display: inline-block; width: 4px; height: 4px; margin-right: 5px; margin-top: -2px; vertical-align: middle; border-radius: 50%; background-color: #fff; content: "";}
.main_slide .swiper-slide .badge{position: absolute; top:6px; right: 10px; color: #fff; font-size: 13px; font-family: 'SpoqaHan_regualr'; letter-spacing: -0.025em;}
.main_slide .swiper-slide .badge em{display: inline-block; margin-left: 2px; font-family: 'SpoqaHanSans_bold';}
.section_contents .left_area{padding-top: 30px;}
.drv_service{border-bottom: 1px solid #dee1e7;}
.drv_service .service_title{margin-bottom: 15px; font-size: 18px; font-family: 'SpoqaHanSans_bold';}
.drv_service .service_title em{color: #1e66b1;}
.drv_service .service_title span{margin-left: 12px; font-weight: normal; font-size: 14px; font-family: 'SpoqaHan_regualr';}
.drv_service .service{display: flex; margin-bottom: 40px; }
.drv_service .service li{flex-basis: 132px; height: 64px; border:1px solid #dee1e7; border-left: none; box-sizing: border-box;}
.drv_service .service li:first-child{border-left: 1px solid #dee1e7;}
.drv_service .service li a{display: flex; justify-content: center; align-items:center;  width: 100%; height: 100%;}
.recomm_area{position: relative; font-family: 'SpoqaHan_regualr';}
.recomm_area .list_set .set{margin-right: 8px; color: #636367; font-size: 13px; letter-spacing: -0.025em;}
.recomm_area .list_set .set::before{display: inline-block; width: 12px; height: 12px; vertical-align: -2px; background: url("../images/renew_ico_common.png") -156px -104px; content: "";}
.recomm_area .cont_list li a{justify-content: flex-start;}
.recomm_area .cont_list li .thum_img{width: 190px; height: 108px; overflow: hidden;}
.recomm_area .cont_list li .info_area{width: 524px; margin-left: 20px;}
.recomm_area .cont_list li .info_area .title{height: 20px; overflow: hidden; line-height: 1.4; color: #26262b; font-size: 14px; font-family: 'SpoqaHan_regualr';  word-wrap: break-word; word-break:keep-all;}
.recomm_area .cont_list.type ul::after{display: block; content: ""; clear: both;}
.recomm_area .cont_list.type li{float: left; width: 50%; margin-bottom: 18px; box-sizing: border-box;}
.recomm_area .cont_list.type li .info_area{width: 180px; margin-left: 16px;}
.recomm_area .cont_list.type li .info_area .title{height: 60px;}
.recomm_area .more_area{position: relative; border-bottom: 1px solid #dee1e7;}
.recomm_area .more_area .more{position: absolute; bottom: -15px; left: 50%; margin-left: -84px;  width: 168px; height: 30px; padding:4px 0; text-align: center; font-size: 13px; background-color: #fff; border: 1px solid #dee1e7; border-radius: 30px; box-sizing: border-box;}
.recomm_area .more_area .more::before{display: inline-block; width: 16px; height: 21px; margin-right: 6px; vertical-align: middle; background: url("../images/renew_ico_common.png") -25px -126px; content: "";}
.recomm_area .more_area .more span{color: #868690;}

.section_banner{display: flex; justify-content:space-between; margin:40px 0;}
.section_banner a{display: inline-block;}
.main_container .right_area{width: 260px;}
.member_info{position: relative; display: block; height: 96px; margin-bottom: 15px; padding:20px 10px 20px 14px; border:1px solid #dfe2e7; background-color: #fff; font-size: 14px; font-family: 'SpoqaHanSans_bold'; box-sizing: border-box;}
.member_info .new{position: absolute; top:-3px; right: -5px; width:5px; height: 5px; border-radius: 50%; background-color: #ff471c; content: ""; font-size:0; line-height:0; text-indent:-9999px}
.member_info > ul::after{display: block; clear: both; content: '';}
.member_info > ul > li{float: left;}
.member_info .name:hover,.member_info .txt_point a:hover{text-decoration: underline;}
.member_info .name::after{display: inline-block; width:1px; height: 10px; margin-left: 3px; background-color: #ccd0d4; content: "";}
.member_info .point{margin-left: 4px; color: #ff471c}
.member_info .logout{position: absolute; top: 20px; right: 16px; padding:2px 8px; font-size: 12px; background-color: #bbc1c8; color: #fff; font-family: 'SpoqaHan_regualr'; border-radius: 30px;}
.member_info .txt_point{position: relative; margin-top: 12px; font-size: 13px; font-family: 'SpoqaHan_regualr';}
.member_info .txt_point a{display: inline-block; color: #888;}
.member_info .txt_point .alarm{position: relative; display: inline-block; width: 15px; height: 15px; margin-left: 12px; vertical-align: middle; background: url("../images/renew_ico_common.png") -130px -103px; font-size:0; line-height:0; text-indent:-9999px;}
.member_info .name_area:hover .link_box{opacity: 1; visibility: visible;}
.member_info .link_box{opacity: 0; visibility: hidden; position: absolute; top:48px; left: 0; padding:10px 0; background-color: #fff; font-family: 'SpoqaHan_regualr'; z-index: 10; border:1px solid #bbc1cd; transition: all 0.15s ease-in;}
.member_info .link_box::before{position: absolute; top:-7px; left: 50%; margin-left: -10px; width: 12px; height: 7px; background: url("../images/renew_ico_common.png") -100px -132px no-repeat; content: "";}
.member_info .link_box li{margin:0 14px; line-height: 1.6;}
.member_info .link_box a{position: relative; display: inline-block; font-size: 12px; font-family: 'SpoqaHan_light';}
.member_info .link_box a:hover{text-decoration: underline;}
.member_info .link_box .new{top:2px; right: -6px;}
.main_container .right_area .r_banner{display: block; width: 260px; overflow: hidden;}
.main_container .right_area .r_banner img{width: 100%; height: 100%;}
.main_container .right_area .r_banner1{height: 260px; margin-bottom: 16px;}
.main_container .right_area .r_banner2{height: 158px;}
.main_container .right_area .r_banner3{margin-top: 5px; margin-bottom: 10px; height: 86px;}
.section_main .notice_box{position: relative; padding:20px; overflow: hidden; background-color: #fff; border:1px solid #dee1e7; box-sizing: border-box;}
.section_main .notice_box .title{margin-bottom: 16px; font-size: 15px; color: #535d67; font-family: 'SpoqaHanSans_bold';}
.section_main .notice_box li{position: relative; margin-bottom: 12px; letter-spacing: -0.025em; font-family: 'SpoqaHan_regualr';}
.section_main .notice_box li a{display: block; height: 18px; overflow: hidden; padding-bottom: 2px; font-size: 14px; color: #000003;}
.section_main .notice_box li a:hover{text-decoration: underline;}
.section_main .notice_box li a .txt_blue{margin-right: 4px; color:#1e88e5;}
.section_main .notice_box li span{font-size: 13px; color: #616c7b;}
.section_main .notice_box li .val::before{display: inline-block; width: 1px; height: 10px; margin:0 4px; background-color: #616c7b; content: "";}
.section_main .notice_box.schedule{height: 236px;}
.section_main .notice_box.schedule .more{position: absolute; top:18px; right: 20px; display: inline-block; width: 23px; height: 23px; border:1px solid #dedede; font-size:0; line-height:0; text-indent:-9999px;}
.section_main .notice_box.schedule .more::before,.section_main .notice_box.schedule .more::after{display: inline-block; position: absolute; background-color: #333; content: "";}
.section_main .notice_box.schedule .more::before{top:10px; left:7px; width: 10px; height: 2px;}
.section_main .notice_box.schedule .more::after{top:6px; left: 11px; width: 2px; height: 10px;}
.section_main .notice_box.news{height: 162px;}
.section_main .notice_box.news li a{width:calc(100% - 10px); text-overflow: ellipsis; white-space: nowrap;}
.section_main .notice_box.news li:after{position: absolute; top: -3px; right: 0; content: ">"; color: #aaaaab;}
.section_contents .ad_box{padding:20px; background-color: #eff1f5; overflow: hidden;}
.section_contents .ad_box a{display: flex; position: relative; margin-bottom: 30px; line-height: 1.4;  letter-spacing: -0.025em;}
.section_contents .ad_box a .img{width: 70px; text-align: center;}
.section_contents .ad_box a:last-child{margin-bottom: 0;}
.section_contents .ad_box .ad_info{margin-left: 14px; font-size: 15px;}
.section_contents .ad_box strong, .section_contents .ad_box span{display: block;}
.section_contents .ad_box strong{font-family: 'SpoqaHanSans_bold';}
.section_contents .ad_box span{font-family: 'SpoqaHan_regualr';}
.section_contents .ad_box strong:after{display: inline-block; width: 3px; height: 6px;}
.section_contents .ad_box a:hover .txt{text-decoration: underline;}
.section_contents .ad_box .sub_txt{color: #6e757c; font-size: 14px;}