@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,option,blockquote,th,td,input,select,textarea,button,figure,section,article,main,aside,nav,header,footer,figcaption{margin:0;padding:0}
fieldset,img{border:0 none}
img {vertical-align:top}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle;font-size:100%}
button {border:0 none;background-color:transparent;cursor:pointer}
table {table-layout:fixed;width:100%;border-collapse:collapse;border-spacing:0}
caption, legend {font-size:0;line-height:0;visibility:hidden}
body{-webkit-text-size-adjust:none} /* 뷰포트 변환시 폰트크기 자동확대 방지. */
input{background:0 none;-webkit-appearance:none}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;color:#484b50;border-radius:0} /* color값은 디자인가이드에 맞게사용 */
table {table-layout:fixed;width:100%;border-collapse:collapse;border-spacing:0}
a{color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
main{display:block}

#Index {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0} /* 스킵네비게이션 */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할 때 */
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-10;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할 때 */
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할 때 */
.screen_hide{font-size:0;line-height:0;visibility:hidden}
.f_l {float:left}
.f_r {float:right}
.cl_b {width:0;height:0;font-size:0;line-height:0;clear:both}
.show {display:block}
.hide {display:none}
.clear_g {display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_g:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}

/* 이미지 */
.ico_comm{display:inline-block;overflow:hidden;font-size:0;line-height:0;background:url(../images/m320/ico_comm.png) no-repeat;text-indent:-9999px;vertical-align:top}

/* 타이틀 */
.tit_sub{display:block;font-size:17px;font-family:NanumSquareB;color:#28323f}
.tit_sub2{display:block;padding:10px 12px;font-size:14px;background-color:#787f8e;color:#fff}
.tit_sub3{display:block;padding:14px 12px 12px;font-size:14px;color:#333}
.box_title {padding:20px 0;background:#22d5b5;text-align:center;}/* 2020-10-23 추가 */
.box_title .tit {color:rgba(255,255,255,0.65);font-size:19px;line-height:24px;}/* 2020-10-23 추가 */
.box_title .tit strong {color:#ffffff;}

/* 텍스트 */
.emph_color{color:#ff6724}
.emph_color2{color:#5e68ff}
.emph_color3{color:#ff5354}
.emph_color4{color:#1352c5}/* 2020-10-23 추가 */
.num_g{font-family:Verdana}
.num_counter{font-size:33px;font-family:Verdana;color:#fff}
.txt_ellipsis{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.txt_caution{font-size:11px;line-height:1.6;color:#7c828a;text-align:center}
.txt_caution .ico_caution{width:13px;height:13px;margin:2px 5px 0 0;background-position:-185px 0}
.box_caution{margin-top:4px;padding:10px 0;background-color:#fff}
.txt_none{padding:70px 0 140px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;font-weight:bold;font-size:14px;color:#7c828a;text-align:center}
.txt_none .ico_none{display:block;width:40px;height:40px;margin:0 auto 10px;background-position:-185px -60px}
.txt_bar{display:inline-block;width:1px;height:9px;margin:-1px 5px 0;background-color:#e5e5e5;vertical-align:middle}
.txt_underline{text-decoration:underline}

/* 버튼 */
.btn_g{display:inline-block;height:26px;padding:0 8px;font-weight:bold;font-size:12px;line-height:26px;border:1px solid #e1e4e7;background-color:#fff;color:#666;text-align:center;box-sizing:border-box}
.btn_g2{display:inline-block;height:26px;padding:0 8px;font-weight:bold;font-size:12px;line-height:26px;border:1px solid #e1e4e7;background-color:#f3f4f8;color:#888;text-align:center;box-sizing:border-box}
.btn_g3{display:inline-block;height:16px;padding:0 5px;border:0 none;font-size:10px;line-height:16px;background-color:#adb2b6;color:#fff}
.btn_g3 .ico_arr{width:4px;height:7px;margin:5px 0 0 3px;background-position:-215px -15px}
.btn_g4{display:inline-block;height:26px;padding:0 8px;font-size:12px;line-height:26px;border:1px solid #ff5354;background-color:#fff;color:#ff5354;text-align:center;box-sizing:border-box}
.btn_g5{display:inline-block;height:26px;padding:0 8px;font-size:12px;line-height:26px;background-color:#ff5354;color:#fff;text-align:center}
.btn_g6{display:inline-block;height:26px;padding:0 8px;font-weight:bold;font-size:12px;line-height:26px;background-color:#787f8e;color:#fff;text-align:center}
.btn_b{display:block;width:100%;height:40px;font-size:14px;line-height:40px;background-color:#ff5e26;color:#fff;text-align:center}
.btn_b2{display:block;width:100%;height:40px;font-size:14px;line-height:40px;background-color:#5b5d60;color:#fff;text-align:center}
.btn_b2 .ico_arr{width:7px;height:11px;margin:15px 0 0 5px;background-position:-195px -45px}
.btn_b3{width:100%;height:44px;font-weight:bold;font-size:14px;line-height:44px;background-color:#ff5354;color:#fff;text-align:center}
.btn_b4{width:100%;height:44px;font-weight:bold;font-size:14px;line-height:44px;background-color:#5b5d60;color:#fff;text-align:center}
.btn_b5{width:100%;height:44px;font-weight:bold;font-size:14px;line-height:44px;background-color:#fff;color:#5b5d60;text-align:center; border:1px solid #5b5d60;}
.btn_b3 .num_g, .btn_b3 .num_g{font-size:18px}
.btn_view{position:absolute;top:10px;right:5px;width:70px;height:30px;position:absolute;font-size:11px;line-height:30px;color:#999;text-align:center}
.btn_view .ico_arr{width:7px;height:12px;margin:9px 0 0 7px;background-position:-185px -45px}
.btn_view2{display:block;width:100%;padding:10px 0;border-bottom:1px solid #ededed;background-color:#fff;color:#999;text-align:center}
.btn_view2 .ico_arr{width:7px;height:12px;margin:-1px 0 0 10px;background-position:-185px -45px;vertical-align:middle}
.btn_view2 .ico_arr2{width:11px;height:6px;margin:-1px 0 0 10px;background-position:-215px -35px;vertical-align:middle}
.btn_view3{display:block;margin:0 12px;height:40px;font-size:14px;line-height:40px;border:1px solid #e1e4e7;background-color:#fff;color:#666;text-align:center;box-sizing:border-box}
.btn_logout{display:block;height:40px;font-size:14px;line-height:40px;border-top:1px solid #ededed;border-bottom:1px solid #ededed;background-color:#fff;color:#999;text-align:center}

.btn_b3.del_btn{background-color: #5b5d60;}
.btn_b4.order_btn{background-color: #ff5354;}
/* 테이블 */
.tbl_g{border:1px solid #d8d8d8;font-size:11px;word-break:break-word}
.tbl_g th{padding:4px;font-weight:bold;color:#484b50;border-bottom:1px solid #d8d8d8;border-right:1px solid #d8d8d8;font-size:11px;background-color:#f7f8fa;text-align:center}
.tbl_g td{padding:4px;border-bottom:1px solid #d8d8d8;border-right:1px solid #d8d8d8;font-size:11px;text-align:center}

/* 체크박스 */
.chk_g{display:inline-block;position:relative}
.chk_g .inp_chk{position:absolute;top:0;left:0;z-index:-1;width:15px;height:15px;opacity:0.01}
.chk_g .lab_chk{display:inline-block;position:relative;z-index:10;min-height:22px;font-size:13px;line-height:22px;vertical-align:top}
.chk_g .ico_chkbox{float:left;width:20px;height:20px;border:1px solid #e5e5e5;border-radius:20px;background-color:#fff}
.chk_g .ico_chkbox .ico_comm{display:block;width:9px;height:7px;margin:7px auto 0;background-position:-185px -15px}
.chk_g .txt_lab{display:block;overflow:hidden;padding-left:6px}
.chk_g .inp_chk:checked + .lab_chk .ico_chkbox{border-color:#ff5e26;background-color:#ff5e26}
.chk_g .inp_chk:checked + .lab_chk .ico_chkbox .ico_comm{background-position:-200px -15px}
.chk_g2 .lab_chk{min-height:20px;font-size:12px;line-height:20px}
.chk_g2 .ico_chkbox{width:18px;height:18px;border-radius:0;background-color:#fff}
.chk_g2 .ico_chkbox .ico_comm{background-position:100px 0}
.chk_g2 .inp_chk:checked + .lab_chk .ico_chkbox{border-color:#e5e5e5;background-color:#fff}
.chk_g2 .inp_chk:checked + .lab_chk .ico_chkbox .ico_comm{width:13px;height:12px;margin-top:4px;background-position:-230px 0}
.chk_g2 .inp_chk:disabled  + .lab_chk .ico_chkbox{background-color:#eef0f5}

/* 라디오 */
.radio_g{position:relative}
.radio_g .inp_radio{position:absolute;top:15px;left:12px;z-index:-1;width:13px;height:13px;opacity:0.01}
.radio_g .lab_radio{display:inline-block;position:relative;z-index:10;font-size:12px;line-height:19px;vertical-align:top}
.radio_g .ico_radio{float:left;width:13px;height:13px;margin:2px 8px 0 0;border:1px solid #afb3ba;border-radius:18px;background-color:#fff}
.radio_g .txt_lab{display:block;overflow:hidden;color:#666}
.radio_g .inp_radio:checked + .lab_radio .ico_radio .inner_ico{display:block;width:7px;height:7px;border-radius:7px;margin:3px auto 0;background-color:#ff6724}

/* 셀렉트박스 */
.select_g{width:100%;height:30px;padding:0 10px;border-color:#e1e4e7;background:#fff url(../images/m640/arr_select.jpg) no-repeat 100% 1px;-webkit-background-size:30px 20px;background-size:30px 20px;color:#666;-webkit-appearance:none;box-sizing:border-box}

/* 인풋 */
input[type="text"], .inp_g{width:100%;height:26px;padding:2px 6px 0;border:1px solid #e1e4e7;background-color:#fff;color:#666;box-sizing:border-box}
.inp_num{display:inline-block;width:40px;height:25px;margin:0 6px;border:1px solid #ececec;border-radius:2px;font-family:Verdana;background-color:#f6f7f8;color:#28323f;text-align:center;box-sizing:border-box}
.box_inp{position:relative;margin:3px 12px 0}
.box_inp .btn_g3{position:absolute;top:0;right:0;width:56px;height:26px;font-size:12px}

/* wrap공통 */
.bundle_g{display:table;overflow:hidden;position:relative;width:100%;padding:12px 10px;box-sizing:border-box}
.bundle_g .item{display:table-cell;width:50%;padding:0 2px;vertical-align:middle;box-sizing:border-box}
.bundle_g .item:nth-child(2){text-align:right}
.bundle_g + .search_g:after, .bundle_g + .date_g:after{position:absolute;top:0;left:12px;right:12px;height:1px;background-color:#e1e4e7;content:''}

/* 날짜선택 */
.date_g{padding-bottom:6px}
.date_g li{float:left;width:25%;margin-bottom:6px;padding:0 2px;box-sizing:border-box}
.list_btn{overflow:hidden}
.list_btn .btn_date{display:block;height:30px;border:1px solid #e1e4e7;box-sizing:border-box;line-height:30px;background-color:#fff;color:#666;text-align:center}
.list_btn .on .btn_date{border-color:#b0b6ba;background-color:#b0b6ba;color:#fff}
.date_calendar{overflow:hidden}
.date_calendar li{position:relative;width:50%;padding-right:35px;text-align:left}
.date_calendar li:last-child{padding-right:25px;padding-left:20px}
.date_calendar label{position:absolute;top:5px;right:12px}
.date_calendar li:last-child label{right:2px}
.date_calendar input{width:100%;height:28px;padding:0 7px;border:1px solid #e1e4e7}
.date_calendar .ico_date{width:19px;height:19px;background-position:-110px -75px}
.date_calendar .txt_bar{position:absolute;top:50%;left:-7px;width:12px;height:1px;background-color:#b3b3b3}

/* 검색 */
.search_g{padding:12px}
.search_g input{height:33px;padding:1px 40px 0 12px;line-height:33px}
.search_g .btn_search{position:absolute;top:12px;right:12px;width:40px;height:33px}
.search_g .ico_search{width:19px;height:17px;background-position:-135px 0}

/* 태그 */
.ico_tag{display:inline-block;min-width:40px;height:22px;margin-right:8px;padding:0 7px;font-size:13px;line-height:22px;background-color:#975ae6;color:#fff;text-align:center;vertical-align:top;box-sizing:border-box}
.ico_tag2{background-color:#2f9fff}
.ico_tag3{margin-left:4px;font-size:11px;line-height:24px;background-color:#ff5354}
.ico_tag4{margin-left:4px;font-size:11px;line-height:24px;background-color:#787f8e;color:#fff}
.ico_tag5{margin:0;padding:0;font-size:12px;background-color:#adadad}
.ico_tag6{background-color:#fd490e;color:#fff}
.ico_rank {width:23px;height:23px;min-width:0;background:#ffa524;font-weight:bold;}/* 2020-10-23 추가 */
.ico_rank.top {background:#f4521c;}/* 2020-10-23 추가 */

/* 2020-10-23 button_wrapper / rounded button 스타일 추가 */
.button_wrapper {display:block;padding:10px 0;margin:0 10px;border-bottom:1px solid #e1e4e7;font-size:0;}
.button_wrapper .item {display:inline-block;width:50%;padding:2px;box-sizing:border-box;}
button.rounded {display:block;width:100%;height:35px;line-height:35px;background:#fafbfd;border:1px solid #e1e4e7;border-radius:5px;color:#484b50;font-size:12px;}
button.rounded.active,
button.rounded.orange {border-color:#ff4e00;color:#ff4e00;}

/* 썸네일 */
.thumb_g{overflow:hidden;position:relative}
.thumb_g:after{position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid #ededed;content:''}
.thumb_g img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;max-width:100%;max-height:100%}
.thumb_g .ico_tag{position:absolute;top:0;left:0;z-index:10}
.thumb_g .ico_tag5{top:auto;bottom:0;right:0}
.thumb_g .wrap_tag{overflow:hidden;position:absolute;top:1px;left:0;z-index:10}
.thumb_g .wrap_tag .ico_tag{position:static;float:left;width:55px;height:28px;margin-right:1px;line-height:28px}

/* 상품 갯수 조절 */
.ctl_prod{float:left;width:108px;margin-top:2px}
.ctl_prod .inp_num{float:left}
.ctl_prod .inp_num::-webkit-inner-spin-button,
.ctl_prod .inp_num::-webkit-outer-spin-button{-webkit-appearance: none; /* Clear default arrow */}
.ctl_prod button{float:left;position:relative;width:25px;height:25px;border:1px solid #dfdfdf;border-radius:25px}
.ctl_prod .inner_btn{display:block;overflow:hidden;width:11px;height:1px;margin:0 auto;background-color:#000;text-indent:-9999px}
.ctl_prod .btn_plus .inner_btn:after{position:absolute;top:6px;left:11px;width:1px;height:11px;background-color:#000;content:''}

/* 상품 목록_메인 */
.list_g{border-bottom:1px solid #ededed}
.list_g li{position:relative;padding:0 12px;background-color:#fff}
.list_g .link_prod{display:block;overflow:hidden;padding:15px 0;border-bottom:1px solid #ededed}
.list_g .thumb_g{float:left;width:92px;height:72px;margin-right:15px}
.list_g .info_g{overflow:hidden;padding:4px 30px 0 0}
.list_g .tit_prod{display:-webkit-box;overflow:hidden;max-height:42px;margin:2px 0 5px;font-size:16px;line-height:1.3;text-overflow:ellipsis;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.list_g .info_prod{overflow:hidden;padding-bottom:2px;font-size:11px;text-overflow:ellipsis;white-space:nowrap;color:#999}
.list_g em.txt_info{padding-right:8px;font-weight:bold;color:#484b50}
.list_g del{padding-right:8px;font-size:11px;color:#a0a0a0}
.list_g .txt_price{font-size:11px;color:#ff5354}
.list_g .txt_price2{color:#28323f}
.list_g .txt_price .num_g{font-size:15px}
.list_g .wrap_btm{overflow:hidden;padding:10px 0;border-top:1px solid #ededed}
.list_g .util_prod{overflow:hidden;font-size:0;line-height:0;text-align:right}
.list_g .util_prod .txt_stock{display:inline-block;padding-top:5px;font-size:12px;line-height:1.5;color:#999}
.list_g .util_prod .num_g{font-weight:normal}
.list_g .util_prod button{display:inline-block;width:33px;height:28px;vertical-align:top}
.list_g .util_prod .ico_interest{width:22px;height:24px;margin-top:3px;background-position:-135px -25px}
.list_g .util_prod .on .ico_interest{background-position:-160px -25px}
.list_g .util_prod .ico_cart{width:23px;height:22px;background-position:-85px -75px}
.list_g .total_prod{overflow:hidden;height:28px;font-size:12px;line-height:28px;text-align:right}
.list_g .total_prod .txt_num{color:#999}
.list_g .txt_num .num_g{font-weight:normal}
.list_g .total_prod  .txt_soldout{font-size:14px;color:#ff5354}
.list_g .sold_out .cont_g{background-color:#f7f8fc}

/* 상품 목록_타임세일 */
.list_g2 li{margin-bottom:12px}
.list_g2 li:last-child{margin-bottom:0}
.list_g2 .link_prod{border-bottom:0 none}

/* 상품 목록_장바구니,재구매,관심상품 */
.list_g3{border-bottom:1px solid #e5e5e5}
.list_g3 li{padding:0 0 0 44px;border-top:1px solid #e5e5e5;background-color:#f3f4f8}
.list_g3 .chk_g{position:absolute;top:50%;left:0;width:44px;margin-top:-22px}
.list_g3 .lab_chk{display:block;width:20px;padding:12px}
.list_g3 .cont_g{overflow:hidden;background-color:#fff}
.list_g3 .link_prod{padding:15px;border-bottom:0 none}
.list_g3 .thumb_g{margin-right:10px}
.list_g3 .info_g{padding:4px 0 0 0}
.list_g3 .wrap_btn{overflow:hidden;float:right;font-size:0;line-height:0;text-align:right}
.list_g3 .wrap_btn a{width:74px;margin-left:5px;padding:0}
.list_g3 .wrap_btm{padding:10px 15px}
.list_g3 .wrap_btm .btn_apply{float:left;margin-top:2px;background-color:#acb2b6}

/* 텍스트 목록 */
.list_info{padding:10px 12px;border-bottom:1px solid #ededed;background-color:#fff}
.list_info li{position:relative;padding:3px 0}
.list_info li:after{display:block;clear:both;content:''}
.list_info .bundle_g{padding:8px 0 5px}
.list_info .bundle_g .item{padding:0}
.list_info .tit_info{float:left;min-width:65px}
.list_info .txt_info{overflow:hidden;color:#999}
.list_info .txt_info .num_g{font-size:11px}
.list_info .txt_price{overflow:hidden;font-weight:bold;font-size:14px;color:#ff5354;text-align:right}
.list_info .txt_price .txt_total{padding-right:5px;color:#484b50}
.list_info .txt_price .num_g{font-size:18px}
.list_info .txt_price2{color:#28323f}
.list_info .txt_price2 .num_g{font-weight:normal;font-size:14px}
.list_info .txt_price3 .num_g{font-size:14px;font-size:20px}
.list_info .txt_bar{display:inline-block;width:1px;height:11px;margin:0 7px;background-color:#ededed;vertical-align:middle;content:''}
.list_info .total_price{margin-top:8px;padding-top:10px;border-top:1px solid #ededed}
.list_info .total_price .tit_info{padding-top:6px}
.list_info .txt_etc{font-size:11px}
.list_info2{overflow:hidden}
.list_info2 .list_info{overflow:hidden}
.list_info2 li{float:left;position:relative}
.list_info2 .info_type2{width:100%}
.list_info2 .tit_info{min-width:inherit;padding-right:10px}
.list_info3{padding:15px;border-bottom:1px solid #ededed}
.list_info3 li{position:relative;margin-bottom:17px;padding-left:10px;line-height:17px;color:#666}
.list_info3 li:after{position:absolute;top:7px;left:0;width:4px;height:4px;border-radius:4px;background-color:#ff6724;content:''}
.list_info3 .txt_info{padding-top:10px}

/* 롤링 공통 스타일 */
.swiper-pagination{position:absolute;left:0;right:0;bottom:12px}
.swiper-pagination-bullet{width:8px;height:8px;margin:0 2px;border:1px solid #cacaca;background:none;opacity:1;box-sizing:border-box}
.swiper-pagination-bullet-active{background:#cacaca}

/* 메인 상품_롤링 */
.swiper_g .list_prod{height:180px;padding:0 9px;box-sizing:border-box}
.swiper_g li{float:left;width:33.3%;padding:0 3px;box-sizing:border-box}
.swiper_g .link_prod{display:block;line-height:18px;text-align:center}
.swiper_g .thumb_g{height:100px}
.swiper_g .tit_prod{display:block;overflow:hidden;padding:6px 7px 0;font-weight:normal;font-size:12px;text-overflow:ellipsis;white-space:nowrap;color:#999}
.swiper_g .txt_price{display:block;}
.swiper_g .txt_price .num_g{font-size:15px}

/* 상품 상세_롤링 */
.swiper_g2 .swiper-container{height:285px;background-color:#fff}
.swiper_g2 .link_prod{display:block}
.swiper_g2 .thumb_g{height:285px}
.swiper_g2 .thumb_g:after{border-left:0 none;border-right:0 none}

/* 페이징 */
.paging_nav{overflow:hidden;border-bottom:1px solid #e1e4e7;background-color:#fff;text-align:center}
.paging_nav .btn_nav{display:inline-block;padding:13px 10px;font-family:Verdana;color:#999}
.paging_nav em.btn_nav{font-weight:bold;color:#ff5354}
.paging_nav .btn_prev{float:left;padding:13px 20px}
.paging_nav .ico_prev{width:8px;height:15px;margin-top:2px;background-position:-160px -75px}
.paging_nav .btn_next{float:right;padding:13px 20px}
.paging_nav .ico_next{width:8px;height:15px;margin-top:2px;background-position:-170px -75px}

/* 탭 메뉴 */
.tab_g{display:table;width:100%;background-color:#fff;box-sizing:border-box}
.tab_g li{display:table-cell;border-left:1px solid #d9dcdf;text-align:center}
.tab_g li:first-child{border:0 none}
.tab_g .btn_menu{display:block;height:40px;padding:0 8px;border-top:1px solid #e1e4e7;border-bottom:1px solid #e1e4e7;font-weight:bold;font-size:14px;line-height:40px;box-sizing:border-box}
.tab_g .inner_btn{display:inline-block;position:relative;padding:10px 0}
.tab_g .on .btn_menu{border-color:#ff5e26;background-color:#ff5e26;color:#fff}
.tab_g2{display:table;width:100%;padding:0 30px;background-color:#fff;box-sizing:border-box}
.tab_g2 li{display:table-cell;text-align:center}
.tab_g2 .btn_menu{display:block;position:relative;padding:0 10px;font-size:14px;color:#7c828a}
.tab_g2 .btn_menu:after{position:absolute;top:50%;left:0;width:1px;height:12px;margin-top:-6px;background-color:#dedede;content:''}
.tab_g2 li:first-child .btn_menu:after{display:none}
.tab_g2 .inner_btn{display:inline-block;position:relative;padding:10px 0}
.tab_g2 .on .btn_menu{color:#ff5e26}
.tab_g2 .on .inner_btn:after{position:absolute;bottom:0;left:0;width:100%;height:2px;background-color:#ff6724;content:''}
.tab_g3{display:table;width:100%;border-bottom:1px solid #e1e4e7;background-color:#f9fafb;text-align:center}
.tab_g3 li{display:table-cell;}
.tab_g3 .btn_menu{display:block;position:relative;height:40px;padding:0 8px;font-weight:bold;font-size:14px;line-height:40px;color:#7c828a;text-align:center}
.tab_g3 .btn_menu:after{position:absolute;top:50%;left:0;width:1px;height:13px;margin-top:-6px;background-color:#dedede;content:""}
.tab_g3 li:first-child .btn_menu:after{display:none}
.tab_g3 .on .btn_menu{color:#ff5e26}
.tab_g3 .on .inner_btn{display:inline-block;height:100%;position:relative}
.tab_g3 .on .inner_btn:after{position:absolute;bottom:-1px;left:0;right:0;height:2px;background-color:#ff6724;content:""}
.tab_cont > div{display:none}
.tab_cont > div:first-child{display:block}

/* 펼침 슬라이드 */
.slide_g{border-bottom:1px solid #ededed;background-color:#fff}
.slide_g .btn_slide{display:block;position:relative;height:35px;padding:0 12px;border-bottom:1px solid #ededed;font-weight:bold;line-height:34px}
.slide_g .btn_slide .ico_arr{float:right;width:11px;height:6px;margin-top:15px;background-position:-215px -25px}
.slide_g .on .ico_arr{background-position:-215px -35px}
.slide_g .list_g li{background-color:#f9fafb}
.slide_g .list_g .link_prod{border-bottom:0 none}
.slide_g2{border-bottom:1px solid #ededed}
.slide_g2 .tit_slide{overflow:hidden;background-color:#787f8e}
.slide_g2 .tit_slide .chk_g{float:left}
.slide_g2 .tit_slide .lab_chk{height:41px;padding:0 6px 0 12px}
.slide_g2 .tit_slide .ico_chkbox{margin-top:10px}
.slide_g2 .tit_slide .txt_lab{display:block;font-weight:bold;font-size:14px;background-color:#787f8e;color:#fff}
.slide_g2 .tit_slide .btn_supply{float:left;overflow:hidden;max-width:75%;min-height:41px;padding-top:8px;font-weight:bold;font-size:16px;color:#fff;box-sizing:border-box;text-overflow:ellipsis;white-space:nowrap}
.slide_g2 .btn_supply .ico_arr{width:8px;height:13px;margin:6px 0 0 5px;background-position:-250px -45px}
.slide_g2 .btn_slide{display:block;overflow:hidden;position:relative;min-height:41px;padding:10px 12px;font-size:14px;color:#fff;box-sizing:border-box}
.slide_g2 .btn_slide .ico_arr{float:right;width:11px;height:6px;margin-top:8px;background-position:-230px -35px}
.slide_g2 .on .ico_arr{background-position:-230px -25px}
.slide_g2 .btn_slide .ico_fold{background-position:-230px -25px}
.slide_g2 .on .ico_fold{background-position:-230px -35px}
.slide_g2 .tit_slide .chk_g + .btn_slide{padding-left:0}
.slide_g2 .view_slide{margin-bottom:-1px}
.slide_g2 .wrap_view{background-color:#fff}
.slide_g2 .date_g{border-bottom:1px solid #ebebeb}
.slide_g2 .tit_g{display:block;padding:12px 12px 10px;border-bottom:1px solid #e6e6e6;font-size:14px;background-color:#fff}

.slide_g3{background-color:#fff}
.slide_g3 .btn_slide{display:block;position:relative;height:40px;padding:0 20px;border-bottom:1px solid #ededed;font-weight:bold;line-height:40px;box-sizing:border-box}
.slide_g3 .btn_slide .ico_arr{float:right;width:15px;height:9px;margin-top:15px;background-position:-130px -85px}
.slide_g3 .on .btn_slide{color:#ff5e26}
.slide_g3 .on .btn_slide .ico_arr{width:15px;height:9px;background-position:-130px -75px}
.slide_g3 .btn_slide .ico_fold{background-position:-130px -75px}
.slide_g3 .on .btn_slide .ico_fold{background-position:-130px -85px}
.slide_g3 .view_slide{padding:10px 20px;border-bottom:1px solid #ededed;background-color:#f3f4f8}
.top_info .wrap_btn{padding:20px 2px 6px}

/* 서브 하단 픽스메뉴 */
.fixed_menu{position:fixed;left:0;bottom:0;right:0;z-index:100;background-color:#fff}
.fixed_menu .inner_menu{position:relative;padding-top:15px;border-top:1px solid #ff5354}
.fixed_menu .btn_fold{overflow:hidden;position:absolute;left:50%;top:-20px;width:75px;height:21px;margin-left:-38px;border:1px solid #ff5354;border-bottom:0 none;border-radius:3px 3px 0 0;background-color:#fff}
.fixed_menu .ico_fold{display:block;width:13px;height:7px;margin:0 auto;background-position:-200px -25px}
.fixed_menu .all_chk{padding:0 12px 10px;border-bottom:1px solid #ededed}
.fixed_menu .menu_cont{display:none}
.fixed_menu .menu_cont .list_info{padding-top:0}
.fixed_menu .wrap_btn{overflow:hidden}
.fixed_menu .wrap_btn button{float:left;width:50%}
.fixed_menu .wrap_btn button.full{width: 100%;}
.fixed_menu.active .ico_fold{background-position:-200px -35px}
.fixed_menu.active .menu_cont{display:block}

/* 레이아웃 */
body{min-width:320px;background-color:#f3f4f8}
.head_shop{position:relative;z-index:300;background-color:#fff}
.head_shop .wrap_tit{position:relative;background-color:#fff}
.head_shop .main_tit{height:54px;border-bottom:2px solid #ff6a36}
.head_shop h2{height:54px;border-bottom:1px solid #e5e5e5;font-size:19px;font-family:NanumSquareB;line-height:55px;text-align:center}
.head_shop .link_logo{float:left;padding:19px 12px 15px;vertical-align:top}
.head_shop .ico_logo{display:block;width:76px;height:20px}
.head_shop .wrap_tit > a{position:absolute;top:10px;height:22px;z-index:10;padding:7px}
.head_shop .num_cart{position:absolute;top:1px;left:18px;min-width:16px;height:16px;padding:1px 2px;box-sizing:border-box;border-radius:8px;font-size:10px;font-family:Verdana;line-height:15px;background-color:#ff4e00;color:#fff;text-align:center}
.head_shop .link_back{left:8px}
.head_shop .link_back .ico_back{width:12px;height:21px;background-position:-95px 0}
.head_shop .link_close{right:8px}
.head_shop .link_close .ico_close{width:14px;height:14px;margin-top:3px;background-position:-275px -45px}

.main_search{position:absolute;top:12px;left:100px;right:0;z-index:10;padding-right:50px}
.main_search .link_back{display:none;position:absolute;top:0;left:2px;width:38px;height:31px;text-align:center}
.main_search .ico_back{margin-top:4px}
.main_search input{height:31px;padding:1px 40px 0 10px;border:0 none;border-radius:3px;font-size:14px;line-height:31px;background-color:#eef0f5;box-sizing:border-box}
.main_search .btn_del{display:none;position:absolute;top:1px;right:50px;width:31px;height:31px;padding:5px}
.main_search .ico_del{width:15px;height:15px;background-position:-155px 0}
.main_search .btn_search{position:absolute;top:0;right:50px;width:41px;height:31px}
.main_search .ico_search{width:19px;height:17px;background-position:-135px 0}
.search_correlate{display:none;position:absolute;top:31px;left:0;right:0;padding-top:10px;border:1px solid #ff5c05;background-color:#fff}
.correlate_on .search_correlate{display:block}
.search_correlate .correlate_list{overflow:hidden;overflow-y:scroll;max-height:195px;}
.search_correlate p{overflow:hidden;padding:0 12px;font-size:13px;line-height:32px;}
.search_correlate .txt{display:block;overflow:hidden;max-width:100%;text-overflow:ellipsis;white-space:nowrap;}
.search_correlate .txt em{font-weight:bold;color:#fd490e;}
.search_correlate .box_btn{height:30px;margin-top:15px;border-top:1px solid #e3e5e8;background-color:#f9fafb;text-align:right}
.search_correlate .btn_close{display:inline-block;width:60px;height:30px;line-height:30px;color:#999;text-align:center}
.search_correlate .ico_close{width:10px;height:10px;margin:11px 0 0 5px;background-position:-220px -45px}
.bnr_main{position:relative;z-index:300;background-color:#fff}
.bnr_main a{display:block;font-size:0;line-height:0;text-align:center}
.bnr_main img{width:320px}
.bnr_main .btn_close{position:absolute;top:0;right:0;width:13px;height:13px;padding:10px}
.bnr_main .ico_close{width:13px;height:13px;background-position:-260px -45px}

/* 검색 */
.head_shop .wrap_rank{display:none;background-color:#f3f4f8}
.head_shop .bundle_g{padding:8px 10px 12px;background-color:#fff}
.wrap_rank .txt_caution{font-size:10px;text-align:right}
.wrap_rank .tab_g{border-bottom:1px solid #e1e4e7}
.wrap_rank .tit_rank{font-size:15px}
.wrap_rank .wrap_g{padding-bottom:8px;border-bottom:1px solid #e1e4e7}
.tab_rank{display:table;width:100%;padding:0 10px 15px;border-bottom:1px solid #e1e4e7;background-color:#fff;box-sizing:border-box}
.tab_rank li{display:table-cell;padding:0 2px}
.tab_rank .btn_menu{display:block;min-width:95px;height:40px;padding:0 5px;border-radius:3px;font-size:14px;line-height:40px;background-color:#757b88;color:#fff;box-sizing:border-box;text-align:center}
.tab_rank .btn_menu2{background-color:#5e76e1}
.tab_rank .btn_menu3{background-color:#9862de}
.list_rank li{border-bottom:1px solid #f0f1f3;background-color:#f9fafb}
.list_rank .link_prod{display:block;position:relative;height:38px;padding:0 91px 0 30px;line-height:39px}
.list_rank .num_rank{position:absolute;top:0;left:0;width:33px;font-family:Verdana;text-align:center}
.list_rank li:nth-child(1) .num_rank,
.list_rank li:nth-child(2) .num_rank,
.list_rank li:nth-child(3) .num_rank{font-weight:bold;color:#ff6724}
.list_rank .tit_rank{display:block;overflow:hidden;font-weight:normal;font-size:13px;text-overflow:ellipsis;white-space:nowrap}
.list_rank .ico_tag{vertical-align:middle}
.list_rank .txt_price{position:absolute;top:0;right:0;width:80px;padding-right:12px;color:#999;text-align:right;box-sizing:border-box}
/* 검색 포커스 시 */
.search_on .head_shop .main_tit{border-bottom:0 none}
.search_on .main_search{left:0;z-index:20;padding:0 12px 0 45px}
.search_on .main_search .btn_search{right:10px}
.search_on .link_back, .search_on .wrap_rank{display:block}
.search_on h1, .search_on .wrap_menu, .search_on .sub_tit, .search_on .cont_shop, .search_on .bg_dimmed{display:none}
.search_on.fixed_on .main_tit{display:block;position:fixed;top:0;left:0;right:0;z-index:100}
.search_on .link_cart{display:none}
.search_on .bnr_main{display:none}
.head_shop .top_search{position:relative;height:47px;padding:7px 12px 0 38px;border-bottom:2px solid #ff6a36}
.head_shop .top_search input{height:40px;padding:0 41px 0 15px;border:0 none;background-color:#f3f4f8;box-sizing:border-box}
.head_shop .top_search .btn_search{position:absolute;top:8px;right:12px;width:41px;height:41px}
.head_shop .top_search .ico_search{width:23px;height:22px;background-position:-160px 0}
.head_shop .link_cart{right:8px}
.head_shop .ico_cart{width:23px;height:22px;background-position:-110px 0}
.head_shop .wrap_menu{position:relative;z-index:100;padding-right:46px;border-bottom:1px solid #e3e3e3;background-color:#fff;}
#gnb{position:relative}
.list_gnb{overflow:hidden;padding:0 10px;font-size:0;line-height:0;white-space:nowrap}
.list_gnb li{display:inline-block}
.list_gnb .link_menu{display:block;height:42px;padding:0 10px;font-weight:bold;font-size:15px;line-height:44px;text-align:center}
.list_gnb .active .link_menu{color:#ff4e00}
.list_gnb .active .inner_link{display:inline-block;height:40px;border-bottom:2px solid #ff6724}
.head_shop .btn_cate{position:absolute;top:0;right:0;width:47px;overflow:hidden;width:46px;height:42px;text-indent:-9999px}
.head_shop .btn_cate:after{position:absolute;top:10px;left:0;width:1px;height:21px;background-color:#d9dcdf;content:''}
.head_shop .btn_cate .ico_cate{display:block;width:17px;height:11px;margin:15px auto 0;background-position:-230px -60px}
.cate_menu{display:none;position:absolute;top:42px;left:0;right:0;padding-top:14px;background-color:#f3f4f8}
.cate_menu .tab_cont{overflow:hidden;overflow-y:auto;background-color:#fff}
.cate_menu .list_cate .link_cate{display:block;height:39px;padding:0 20px;border-bottom:1px solid #e1e4e7;font-weight:bold;line-height:40px}
.cate_menu .tab_cont .view_slide{overflow:auto;max-height:150px;padding-bottom:15px}
.cate_menu .list_cate .ico_arr{float:right;width:9px;height:15px;margin-top:12px;background-position:-150px -75px}
.cate_menu .list_supply{overflow:hidden;}
.cate_menu .list_supply li{float:left;width:50%;box-sizing:border-box}
.cate_menu .list_supply .link_cate{display:block;padding:3px 0}
.cate_menu .txt_info{margin-top:13px;padding-top:13px;border-top:1px solid #e1e4e7;font-size:11px}
.cate_menu .txt_info + .txt_info{margin-top:0;padding-top:5px;border-top:0}
.cate_menu .txt_info .ico_info{width:13px;height:13px;margin:1px 5px 0 0;background-position:-215px 0}
.cate_on{height:100%}
.cate_on body{overflow:hidden;height:100%}
.cate_on .btn_cate .ico_cate{background-position:-230px -75px}
.cate_on .cate_menu, .cate_on .bg_dimmed{display:block}
.bnr_shop .link_bnr{display:block}
.bnr_shop img{width:100%}
#quickMenu{display:none}
.list_quick{overflow:hidden;position:fixed;left:0;right:0;bottom:0;z-index:100;height:59px;border-top:1px solid #e3e3e3;background-color:#fff}
.list_quick li{float:left;width:25%}
.list_quick .link_menu{display:block;overflow:hidden;height:59px;font-size:10px;color:#666;text-align:center}
.list_quick .ico_comm{display:block;height:24px;margin:10px auto 0}
.list_quick .ico_home{width:24px;background-position:0 -25px}
.list_quick .ico_interest{width:22px;background-position:-30px -25px}
.list_quick .ico_kakao{width:21px;background-position:-85px -25px}
.list_quick .ico_mypage{width:23px;background-position:-110px -25px}
.list_quick .ico_pc{width:22px;background-position:-55px -25px}
.btn_top{display:none;position:fixed;right:10px;bottom:85px;z-index:100;width:35px;height:35px;border-radius:3px;background-color:rgba(0,0,0,.5)}
.btn_top .ico_top{width:12px;height:13px;margin-top:2px;background-position:-235px -45px}
.foot_shop{padding:30px 0 95px;font-size:11px;line-height:18px;color:#848484;text-align:center}
.foot_shop .wrap_btn{padding-bottom:15px;text-align:center}
.foot_shop .wrap_btn a{display:inline-block;height:25px;padding:0 12px;border:1px solid #bdbdbd;font-size:11px;line-height:27px;background-color:#f9f9f9;color:#4e5562}
.foot_shop .info_service{padding-bottom:5px}
.foot_shop .txt_bar{display:inline-block;width:1px;height:10px;margin:0 6px;background-color:#d2d4df;vertical-align:middle}
.foot_shop .txt_copy{font-size:11px}
.bg_dimmed{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:200;background-color:rgba(0,0,0,.5)}

/* 레이아웃_ */
.fixed_on .head_shop{padding-top:99px}
.fixed_on .main_tit{display:none}
.fixed_on .wrap_menu{position:fixed;top:0;left:0;right:0;-webkit-transform: translateZ(0)}

/* 레이아웃_하단 픽스메뉴 없음 */
.layout_g .foot_shop{padding-bottom:30px}

/* 레이아웃_약관 */
.layout_terms .head_shop{padding-top:0}

/* 모달 레이어 */
.layer_on{height:100%}
.layer_on body{position:fixed;top:0;left:0;right:0;bottom:0;height:100%}
.pop_layer{width:320px;background-color:#fff}
.pop_layer .tit_popup{display:block;height:40px;font-size:17px;font-family:NanumSquareB;line-height:44px;background-color:#ff6724;color:#fff;text-align:center}
.pop_layer .tit_cont{display:block;padding:12px;border-bottom:1px solid #ededed;font-size:14px;background-color:#fff}
.pop_layer .tit_cont2{border-bottom:0 none;font-size:13px}
.pop_layer .cont_popup{overflow:hidden;overflow-y:scroll;position:relative;height:440px}
.pop_layer .wrap_btn{padding:12px}
.pop_layer .btn_close{position:absolute;top:0;right:0;width:40px;height:40px}
.pop_layer .btn_close .ico_close{display:block;width:12px;height:12px;margin:0 auto;background-position:-205px -45px}
.pop_layer .list_caution{padding:15px 12px;background-color:#f3f4f8}
.pop_layer .list_caution li{position:relative;padding-left:10px;font-size:11px;line-height:18px;color:#848484}
.pop_layer .list_caution li:after{position:absolute;top:2px;left:0;content:"*"}
.pop_layer .list_info li{padding:9px 0}
.pop_layer .list_info2 li{padding:2px 0}
.pop_layer .list_supply{min-height:375px}
.pop_type2 .cont_popup{overflow:auto;height:auto}

/* 2020-03-06 팝업_공지사항 */
#popNotice {width:280px;padding:39px 20px 40px;background:#305dc9 url('../images/m640/bg_pop_notice.png') no-repeat 100% 0;background-size:158px auto;font-size:14px;color:#fff;text-align:center;line-height:1.3;}
#popNotice .pop_tit {display:block;font-size:23px;color:#fff224;letter-spacing:-1px;line-height:1.4;}
#popNotice .pop_tit:after {content:'';display:block;width:35px;height:3px;margin:6px auto 0;background-color:#ff6724;}
#popNotice .pop_cont {display:table;width:100%;height:200px;table-layout:fixed;}
#popNotice .pop_cont_inner {display:table-cell;vertical-align:middle;}
#popNotice .tit_date {position:relative;z-index:1;display:block;width:112px;margin:20px auto 0;padding:5px 0;background-color:#0f2cbe;border-radius:15px;font-size:12px;color:#fff;}
#popNotice .txt_date {margin-top:-13px;padding:20px 10px;background-color:#fff;border:1px solid #223ecb;border-radius:30px;color:#2340cb;letter-spacing:-1px;}


/* 가로모드 레이어 높이값 지정 */
@media all and (orientation:landscape){
    .pop_layer .cont_popup{height:280px !important}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .ico_comm{background-image:url(../images/m640/ico_comm.png);-webkit-background-size:300px auto;background-size:300px auto}
}