@charset "utf-8";

html{font-size: 16px;}
body{font-family: "맑은고딕",MalgunGothic,sans-serif;}
.wrap{background:#fff;}
button{border:none; background:none; cursor: pointer;}
.content_header{display: flex; align-items: center; justify-content:center; height: 654px;; background: url("../../img/bg_main.jpg") no-repeat top fixed; }
.content_header .tit{color: #333; font-size: 102px;}
.message_wap{position: relative; overflow: hidden; width: 600px; height: 130px; text-transform: uppercase; white-space: nowrap; color: #333;font-size: 48px; font-weight: 100;line-height: 1.5;}
.message {display: block; position: absolute; top: 12.5rem; overflow: hidden; color: #fff; font-size: 6.25rem; background-color: #eea303;
  -webkit-animation: openclose 5s ease-in-out infinite; animation: openclose 5s ease-in-out infinite;}
.message div{padding-left: 14px; font-size: 80px; font-family: "맑은고딕",MalgunGothic,sans-serif;}
.content_header .tit .mb{opacity: 0;}

.progress-container {position: fixed; top:0; width: 100%; height: 6px; background: rgba(0,0,0,.4); z-index: 80;}
.progress-bar {height: 6px; background: #eea303; width: 0%; transition:all .3s ease;}
section h2{padding:40px 20px; color: #111; font-size: 38px;}
.portfolio_area .portfolio{width:1100px; margin:0 auto; opacity: 0; display: flex; flex-wrap: wrap;}
.portfolio_area .portfolio::after{display: block; content: ''; clear: both;}
.portfolio>li{position: relative; width:33.3%; height: 490px; margin-bottom: 60px; transition: width .4s ease;}
.portfolio>li .port_box{margin:0 .5rem;}
.portfolio li .img{position: relative; width: 350px; height: 272px; margin:0 auto; transition-duration: 0.5s;}
.portfolio li .img img{width: 100%;}
.portfolio li .mb_img{position: absolute; right:0; bottom: 0; width:30%; height: 80%; overflow: hidden;}
.portfolio li .only_mb_img {text-align: center;}
.portfolio li .only_mb_img img{width: auto; height: 272px;}
.portfolio img{width: 100%;}
.portfolio .more_detail{margin-top: 30px; text-align: center;}
.portfolio>li:hover .img{transform:translate3d(0,-20px,0);}
.portfolio>li .more_detail h3{position: relative; display: inline-block; margin-bottom: 10px;; font-size: 20px;}
.portfolio>li .more_detail h3 span{position: relative; z-index: 2;}
.portfolio>li .more_detail h3:after{position: absolute; top:0; left:0; width: 0; height: 100%; background-color: #eea303; transition: width .4s ease; -webkit-transition:width .4s ease; content: ""; z-index: 1;}
.portfolio>li:hover .more_detail h3:after{width: 100%;}
.portfolio .more_detail li{line-height: 2; font-size: 14px; }
.portfolio .demo{display: inline-block; width: 100px; height: 40px; margin-top: 10px; padding:8px 0; background-color: #eea303; color: #fff; border-radius: 10px; box-sizing: border-box;}
.portfolio .real{display: inline-block; width: 100px; height: 40px; margin-top: 10px; padding:8px 0; background-color: #2979ff; color: #fff; border-radius: 10px; box-sizing: border-box;}
.content_skill{position: relative; padding-bottom: 2.5rem; background: linear-gradient( to top, #5e1530, #152944 );}
.content_skill .stars_wrap{position: absolute; width: 100%; height: 100%; top:0; bottom: 0; left: 0; overflow: hidden;}
.content-skill .stars_wrap .stars{position: absolute; width:100%; height: 100%; top:0; left: 0; opacity: 0;}
.stars-animation{animation:stairs 9s linear infinite; -webkit-animation:stairs 9s linear infinite; -moz-animation:stairs 9s linear infinite;}
.stars-animation-two{animation:stairs 9s linear infinite; -webkit-animation:stairs 9s linear infinite; -moz-animation:stairs 9s linear infinite; -webkit-animation-delay: 3s; animation-delay: 3s; -moz-animation-delay:3s;}
.stars-animation-three{animation:stairs 9s linear infinite; -webkit-animation:stairs 9s linear infinite; -moz-animation:stairs 9s linear infinite; -webkit-animation-delay: 6s; animation-delay: 6s; -moz-animation-delay:6s;}
.content_skill h2{color: #fff;}
.skill_area {text-align: center; margin:20px auto; width: 1100px;}
.skill_area .skill_list{width: 100%; min-width:950px;}
.skill_area .skill_list:after{display: block; content: ""; clear: both;}
.skill_area .skill_list li{float:left; position: relative; width:25%; height: 210px; padding-bottom: 40px; cursor: pointer;}
.skill_area .skill_list li>div{display: table; width: 210px; height: 210px; border-radius: 50%; font-size: 1.5rem; text-align: center; color:#fff; background: rgba(255,255,255,0.1); transition: all .5s ease-out 0s;}
.skill_area .skill_list li>div span{display: table-cell; vertical-align: middle;}
.skill_area .skill_list li .front{transform: rotateY(0deg); opacity: 0;}
.skill_area .skill_list li .back{position: absolute; top:0; left: 0; color:#111; background-color: #fff; transform: rotateY(-180deg); opacity: 0;}
.skill_area .skill_list li:hover .front{transform: rotateY(-180deg); opacity: 0;}
.skill_area .skill_list li:hover .back{transform: rotateY(0deg); opacity: 1;}
.skill_area .skill_list li:hover .back:after{position: absolute; top: -7px; left: -7px; width: 100%; height: 100%; padding: 7px;border-radius: 50%; box-shadow: 0 0 0 4px #fff; content: '';}

.content_about{background:#161717; text-align: center;}
.content_about h2{color: #fff; padding-bottom: 20px;}
.content_about .about_area{padding: 0px 80px 20px;}
.content_about .about_area h3{margin-bottom: 20px; color: #fff; font-size: 1.875rem;}
.about_area .about{width: 450px; margin:0 auto; padding-bottom: 30px; opacity: 0;}
.about_area .about .act2{visibility: visible; animation-delay: 0.1s; animation-name: bounceInLeft}
.about_area .about .act2{visibility: hidden; animation-delay: 0.2s; animation-name: none}
.about_area .about li{margin-bottom: 15px; padding:15px; background-color: #fff; border-radius: 50px; font-size:1rem; }
.footer{height: 116px; padding:40px 0; background: #eea303; color: #fff; text-align: center; box-sizing: border-box;}
.footer i{display: block; font-size: 12px;}
.bt_top{display:block; position:fixed; right:15px; bottom:15px; z-index: 999;}

.tab_menu{margin-bottom: 60px;}
.tab_menu ul{display: flex; justify-content: center;}
.tab_menu ul li{position: relative; margin: 6px;}
.tab_menu ul li.on button{position: relative; z-index: 2;}
.tab_menu ul li.on::after{position: absolute; bottom:2px; left: 0; width: 100%; height: 8px; background-color: rgba(238,163,3,.6); z-index: 1; content: "";}

.quick{position: absolute; top: 800px; right: 50%; margin-right: -664px;}
.quick.fixed{position: fixed; top:10%; z-index: 990;}
.quick::before{display: inline-block; position: absolute; top: 10px; left: -12px; width: 1px; height: 110px; background-color: #555; content: ""; z-index: 10;}
.quick ul li{position: relative; margin-bottom: 30px;}
.quick ul li::before{display: inline-block; position: absolute; top: 9px; left: -15px; width: 7px; height: 7px; background-color: #999; border-radius: 50%; z-index: 15; content: "";}
.quick ul li button{font-size: 16px; font-family: "맑은고딕",MalgunGothic,sans-serif;}
.quick ul li.on button{border-radius: 4px; background-color: #eea303; color: #fff;}
.quick ul li.on::before{background-color: #eea303;}

/*태블릿*/
@media (max-width: 1024px){
  .portfolio_area .portfolio{width: auto;}
  .skill_area{width: auto;}
  .skill_area .skill_list{min-width: auto;}
  .skill_area .skill_list li{cursor: auto;}
  .skill_area .skill_list li>div{margin:0 auto 30px; left: 0; transition: none;}
  .skill_area .skill_list li:hover .front{transform: rotateY(0deg);}
  .skill_area .skill_list li:hover .back{display: none;}
  .quick{display: none;}
}
@media (min-width: 768px) and (max-width: 1024px){
  .portfolio>li{width: 50%;}  
  .skill_area .skill_list li{width: 50%;} 

}
/*모바일*/
@media (max-width: 767px){
  .content_header{height: 240px;}
  .content_header .tit{font-size: 50px;}
  .message_wap {display: none;}
  .content_header .tit .mb{opacity: 1; transition: all .4s;}
  .portfolio>li{width: 100%; height: auto; margin-bottom: 15px;}   
  .skill_area .skill_list li{width: 100%;}
  .content_about .about_area{padding:0;}
  .about_area .about{width: 300px;}
  .about_area .about li{padding:8px; font-size: 14px;}
  
}
@media (max-width: 480px){
  .content_header .tit{font-size: 36px;}
}