%cont_title{
	margin-bottom: 24px;
	font-size: 20px;
	font-weight: 600;
}
.vet_container .main_container_inner{
	background-color: #F5F5FA;
	.hash_box{
		margin-top:7px;
		margin-left: 30px;
		margin-bottom:50px;
		.ico{
			display: inline-block;
			margin-right: 18px;
			color: $c_blue;
			font-size: 18px;
			font-weight: 700;
			font-family: 'Brygada 1918', serif;
		}
		a{
			&:first-of-type{
				margin-left: 0;
			}
			display: inline-block;
			margin-left: 6px;
			padding: 4px 10px;
			color: $c_g_6;
			font-size: 13px;
			font-weight: 500;
			background-color: #ECECEC;
			border-radius: 30px;
		}
	}
	.cont_title{
		@extend %cont_title;
	}
	.main_section{
		margin-top: 0;
	}
}
.main_section{
	@include cont_with();
	margin-top: 50px;
	display: flex;
	justify-content: space-between;	
	.main_cont_wrap{
		.cont_grid{
			ul{padding-bottom: 0;}
		}
	}	
	.content_top{
		.cont_title{
			@extend %cont_title;
		}
	}
	.cont_grid .list_title, .cont_list .list_title{
		font-weight: 400;
	}
	.main_live{
		.cate_class{
			position: absolute;
			left: 12px;
			bottom: 12px;
			color: $c_white;
			background-color: #23425C;
			border: none;
		}
		.class_date{
			display: block;
			margin-top: 6px;
			color: #A1A1A2;
			font-size: 12px;
		}
	}
	//추천콘텐츠
	.recomm_area{
		li{
			padding-bottom: 18px;
			margin-bottom: 18px;
			border-bottom: 1px solid $c_g_c;
			.info_area{
                margin-left: 20px;
                margin-top: 2px;
				width: 644px;
			}
			.cate_class{
				padding: 0;
				color: $c_black;
				font-size: 14px;
				font-weight: 600;
				border: none;
			}
			.cate_ico{
				margin-right: 4px;
			}
			.list_title{
				display: block;
				margin-top: 10px;
				@include ellipsis();
			}
			.list_desc{
				margin-top: 4px;
				color: $c_g_6;
                line-height: 1.4;
				@include ellipsis_2line();
			}
		}
		.cont_list{
			margin-bottom: 90px;
		}
        .cont_list.album_type{			
			ul{
				padding-bottom: 0;
			}
            li{
                float: left;
                width: 50%;
                margin-bottom: 14px;
                border-bottom: none;
                .info_area{
                    width: 202px;
                    overflow: hidden;
                    .list_title{
                        @include ellipsis_2line();
                        white-space: normal;
                        -webkit-line-clamp:3;
                    }
                }
            }
            ul::after{
                @include clear();
            }
        }
	}
	//right
	.right_area{	
		.r_cont_title{			
		 	font-weight: 700;		
		}
		.vet_news{		
			position: relative;
			margin-bottom: 50px;
			li{
				line-height: 1.4;
				a{
					font-size: 14px;
					font-weight: 500;
					width: 100%;
					@include ellipsis();
				}
			}
			.more{
				position: absolute;
				top: 6px;
				right: 0;
				width: 6px;
				height: 14px;
				@include txtHidden2();
				@include bg_ico(-170px, -30px);
			}
		}
		.vet_service{
			margin-bottom: 70px;
			ul{
				display: flex;
            }
            li{
                width: 33.3%;
                a{	                    			
                    font-weight: 600;
                    font-size: 16px;
                    text-align: center;
                    &::before{
                        @include imag_elem(56px,50px);
                        display: block;
                        margin-bottom: 10px;
                        @include bg_ico(14px, -61px);
                    }	
                    &.case::before{
                        background-position: -48px -63px;
                    }
                    &.report:before{
                        background-position: -116px -67px;
                    }
                }
                
            }
				
			
		}		
	}

}