.login_wrap{
	// height: 100%;
	 position: relative;
	 #vet_footer{
		 position: fixed;
		 left: 0;
		 bottom: 0;
		 width: 100%;
		 z-index: 90;
	 }
 }
 .login_container{
	 position: fixed;
	 width: 100%;
	 height: 100%;
	 background: url("../images/bg_login.jpg") no-repeat center center;
	 background-size: cover;
	 .login_layer{
		 position: fixed;
		 width: 100%;
		 height: 100%;
		 background-color: rgba(0,0,0,.3);
	 }
	 .login_box{
		 .login_box_inner{
			 margin-top: -238px;
			 text-align: center;
		 }
		 position: relative;
		 display: flex;
		 justify-content: center;
		 align-items: center;
		 flex-direction: column;
		 @include cont_with(450px);
		 height: 100%;
		 color: #fff;
		 z-index: 500;
		 .logo{
			 position: relative;          
			 margin-bottom: 40px;
			 .sub_txt{
				 position: absolute;
				 bottom: -4px;
				 left: 150px;
				 font-size: 18px;
				 font-weight: 500;
			 }
		 }
		 .title{
			 margin-bottom: 68px;
			 font-weight: 700;
			 font-size: 36px;
		 }
		 .btn_box{
			 margin-bottom: 23px;
			 button{
				 width: 440px;
				 height: 60px;
				 margin-bottom: 10px;
				 display: inline-block;
				 font-size: 18px;
				 font-weight: 500;
				 color: $c_white;
				 background-color: #00A3D2;
				 &.white{
					 color: #00A3D2;
					 background-color: $c_white;
				 }
			 }
		 }
		 .bt_txt{
			 text-align: center;
			 font-size: 16px;
			 line-height: 1.8;
			 strong{
				 display: block;
			 }
		 }
		 
	 }
 }

 .member_container{
	padding-bottom: 50px;
    background-color: #F5F5FA;
    font-size: 14px;
 }
.mypage_content{
	.mypage_info_area{
		width: 680px;
	}
	@include cont_with(980px);
	%mypage_btn{
		display: inline-block;
		border: 1px solid #d1d1d1;
		background-color: $c_white;
		text-align: center;
		box-sizing: border-box;
	}
	.txt_blue{
		color: $c_blue;
	}
	.txt_red{
		color: #fa2222;
	}	
	.btn_more{		
		@include pos_right(30px,30px);
		width: 43px;
		padding: 2px 0;		
		font-size: 11px;		
		color: #848688;
		@extend %mypage_btn;
	}
	.myinfo_tit{
		margin-bottom:20px;
		padding-top: 50px;
		font-weight: 700;
		font-size: 36px;		
	}
	.mypage_layout{
		display: flex;
	}
	.info_box{
		position: relative;
		margin-bottom: 10px;
		padding:30px;
		border: 1px solid #dbdbdb;
		background-color: $c_white;
		box-sizing: border-box;
	}
	.profile_box{
		height: 280px;
		border: none;
		background-color: #cee5f8;
		.tit_cont{
			font-size: 20px;
			margin-bottom: 30px;
		}
		.info_photo{
			position: relative;
			margin:0 30px;
			.box_photo{
				overflow: hidden;
				display: block;
				width: 140px;
				height: 140px;
				padding:5px;
				background-color: $c_white;
				border-radius: 50%;
				.thumb_profile{
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}
			.btn_edit{
				position: absolute;
				right: 0;
				bottom: 0;
				width: 48px;
				height: 48px;
				background-color: $c_white;
				border-radius: 50%;
				box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 50%);
				.btn_comm{
					display: inline-block;
					width: 25px;
					height: 19px;
					vertical-align: middle;
					@include bg_ico(0,-172px);
					@include txtHidden2();
				}
			}
		}
		.info_myprofile{
			float:left;
			max-width: 315px;
			margin-left: 60px;
			li{
				&:first-child{
					margin-top: 0;
				}
				margin:11px 0;
			}
			strong{
				display: inline-block;
				width: 70px;
				font-size: 17px;
				color: #54627c;
				vertical-align: top;
				font-weight: 400;
			}
			span{
				display: inline-block;
				max-width: 245px;
				font-size: 16px;
				color: $c_black;
			}
		}
		.btn_info_mod{
			@include pos_right(30px,30px);
			min-width: 108px;
			padding:5px 0;
			color: #555;
			font-size: 14px; 
			font-weight: 600;
			@extend %mypage_btn;
		}
	}
	.invite_box{
		.tit_cont{
			margin-bottom: 20px;
			font-size: 20px;
			font-weight: 400;
			color: $c_g_6;
			text-align: center;
		}
		.input_area{
			position: relative;
			width: 100%;
			margin-bottom: 18px;
			padding: 20px 30px;
			background-color: #f5f7fb;
			box-sizing: border-box;
			text-align: left;
			.inp_txt{
				width: 360px;
				height: 44px;
				padding: 7px 18px 6px 12px;
				color: #848484;
				font-size: 18px;
				box-sizing: border-box;
				background-color: #fff;
			}
			.btn_search{
				display: inline-block;
				width: 152px;
				height: 44px;
				margin-left: 4px;
				padding:13px 0 10px;
				background-color: $c_blue;
				color: $c_white;
				vertical-align: top;
				text-align: center;
				box-sizing: border-box;
			}
		}
		.invite_txt{
			margin-top: 16px;
			font-size: 16px;
			color: $c_g_6;
		}
		.guide{
			color: $c_g_6;
			li{
				line-height: 1.6;
				font-size: 15px;
			}
			.inv_point{
				&::before{
					@include imag_elem(18px,18px);
					background: url("../images/sub/ico/bg_guide.png");
					margin-right: 6px;
					vertical-align: -4px;
				}
				display: inline-block;
				margin-top: 8px;
				margin-left: 14px;				
				font-size: 14px;
				color: #ff2c2c;
			}
		}
	}
	.inq_box{
		.tit_cont{
			margin-bottom: 20px;
			font-size: 19px;
		}
		.nodata{
			padding-bottom:20px;
			text-align: center;
			font-size: 15px;
			strong{
				display: block;
				font-size: 17px;
			}
			.btn_inq{
				display: inline-block;
				width: 108px;
				height: 30px;
				margin-top: 10px;
				padding:5px 0;
				font-size: 13px;
				font-weight: 700;
				border: 1px solid #dbdcde;
				color: #555;
				box-sizing: border-box;
			}
		}
		.list_section{
			li{
				position: relative;
				height: 30px;
			}
			a{
				display: flex;
				.state{
					width: 100px;									
				}
				.tit{
					width: 415px;
					@include ellipsis();
				}
				.date{
					color: $c_g_9;
					margin-left: 16px;
				}
			}
			
		}		
	}
	.myfav_box{
		position: relative;
		height: 190px;
		padding:40px 65px 40px 60px;
		box-sizing: border-box;
		.tit_cont{
			margin-bottom: 20px;
			font-size: 20px;
			line-height: 1.4;
		}
		.img{
			position: absolute;
			top: 30px;
			right: 60px;
		}
		.btn_myfav{
			display: inline-block;
			width: 160px;
			padding: 8px 0;
			background-color: $c_blue;
			color: #fff;
			font-weight: 600;
			text-align: center;
		}
	}

}
 .mypage_aside{
	width: 290px;
	margin-left: 14px;
	.alarm_box{
		margin-bottom: 10px;
		.tit_cont{
			margin-bottom: 20px;
			font-size: 19px;
		}
		.list_alarm{
			padding-left: 20px;
			border-left: 1px solid #e2e2e2;
			li{
				position: relative;
				margin-bottom: 28px;
				&::before{
					position: absolute;
					top: 20px;
					left: -24px;
					display: block;
					content: "";
					width: 8px;
					height: 8px;
					background-color: #5885ce;
					border-radius: 50%;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
			.alarm_info{
				font-size: 14px;
				.thumb_alarm{
					float: left;
					margin-right: 15px;
					width: 50px;
					height: 50px;
				}
				.tit_alarm{
					@include ellipsis_2line();
				}
				.txt_time{
					font-size: 13px;
					color: $c_g_9;
				}
				&::after{
					@include clear();
				}
			}
		}		
	}
	.box_btn{
		display: block;
		position: relative;
		width: 100%;
		height: 58px;
		margin-bottom: 10px;
		padding: 18px 30px;
		font-size: 16px;
		box-sizing: border-box;
		&::after{
			@include pos_right(22px,20px);
			@include imag_elem(5px,10px);
			@include bg_ico(-98px,-4px);
		}
	}
 }

 //약관
.intro_policy{
	position: relative;
    @include cont_with();
	.member_btn{
		@include pos_right(60px, 0);
		button{
			color: #009DCE;
			font-size:14px;
		}
	}
    .tit_policy{
        padding:150px 0 37px;
        font-weight: 400;
        font-size: 28px;
    }
    .tit_article{
        display: block;
        margin-bottom: 12px;
        padding-top: 40px;
        font-size: 18px;
        font-weight: 500;
    }
    .desc_type1{
        padding: 13px 0;
        word-break: keep-all;
    }
    .list_type3{
        margin:10px 0;
        padding: 15px 32px 22px;
        line-height: 1.6;
        border:1px solid $c_g_c;
        word-break: keep-all;
        >li{
            padding-left: 15px;
            text-indent: -15px;
        }
    }
	.tbl_userinfo{
		width: 100%;
		border: 1px solid #e4e4e4;
		text-align: center;
		th{
			height: 43px;
			background: #f2f4f5;
			border-top: 1px solid #e4e4e4;
			border-right: 1px solid #e4e4e4;
		}
		td{
			@extend th;
			background-color: transparent;
		}
	}
	li .txt_num{
		margin-left: -15px;
	}
}

//마이페이지
