.sch_content_wrap{
    margin-top: 60px;
    .top_sch_area{
        @include cont_with();
        margin-bottom: 36px;
        .search_box_area{
            position: relative;
            @include cont_with(678px);
        }
        .search_box{
            width: 100%;
            height: 50px;
            margin-top: 50px;
            margin-bottom: 10px;
            padding-right: 60px;
            border-bottom: 2px solid $c_blue;
            box-sizing: border-box;
            .sch_input{
                width: 100%;
                height: 40px;
                padding-left:10px;
                border: 0;
                font-size: 20px;
                font-weight: 600;
                &::placeholder{
                    font-size: 20px;
                }
            }
            .sch_btn_area{
                @include pos_right();
                width: 30px;
                height: 30px;
                @include txtHidden2();
                @include bg_ico(-217px,-122px);
            }
        }
        .search_recomm_area{
            position: relative;
            @include cont_with(678px);
            .search_recomm{
                a{ 
                    position: relative;
                    margin-right: 4px;
                    color: $c_g_6;
                    font-size: 14px;
                    font-weight: 500;
                    vertical-align: top;
                    strong{
                        display: inline-block;
                        position: relative;
                        font-weight: normal;
                        background-color: #bbffe0;
                    }
                }
            }
        }
        .arr_btn_wrap{
            @include pos_right();
            .btn_prev{
                display: inline-block;
                width: 18px;
                height: 18px;
                padding-top: 2px;
                font-size: 8px;
                font-weight: bold;
                border: 1px solid #F0F2F3;
                box-sizing: border-box;
                text-align: center;
                cursor: pointer;
                font-family: '돋움',dotum,sans-serif;
            }
            .btn_next{
                @extend .btn_prev;
                margin-left: -4px;
            }
        }
    }
    .board_tab{
        margin-top: 32px;
        border-bottom: 1px solid $c_g_c;
        a{
            margin-left: 24px;
            padding-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
            &:first-of-type{
                margin-left: 0;
            }
            &.on{
                color: $c_blue;
                border-bottom: 2px solid $c_blue;
            }
        }
     }   
     .right_area{
        margin-top: 0;
     }
}
.sch_content{
    display: none;
 .sub_title{
    margin-bottom: 34px;
    font-size: 16px;
    font-weight: 700;
    .font_type{
        font-family: "Brygada 1918", serif;
        font-style: italic;
    }
 }
 .dr_info_wrap{
    margin-bottom: 40px;
    .dr_info_inner{
        display: flex;
        padding-bottom: 26px;
        margin-bottom: 30px;
        border-bottom: 1px solid $c_g_c;
    }
    .col{
        position: relative;
        width: 50%;
        .dr_img{
           position: absolute;
           top: 0;
           left: 0;
        }
        .dr_info{
            margin-left: 146px;
            padding-top: 6px;
            padding-bottom: 20px;
            .professor{
                display: block;
                margin-bottom: 2px;
                font-size: 20px;
                font-weight: 600;
            }
            .belong{
                display: block;
                margin-bottom: 10px;
                color: $c_g_6;
                font-size: 14px;
            }
            li{
                line-height: 1.6;
                font-size: 14px;
                em{
                    font-size: 13px;
                }
                .point{
                    color: $c_blue;
                }
            }
        }
    }
 }
 .cont_list{    
    ul{ 
        margin-bottom: 34px;
        padding-bottom: 0;
        border-bottom: 0.5px solid $c_g_c;
        li{
            margin-bottom: 26px;            
            .info_area{
                width: 560px;
                margin-top: 4px;
                .list_title{
                    display: inline-block;
                    width: 100%;
                    @include ellipsis();                   
                }
                .class_info{
                    margin-top: 2px;
                }
                .list_desc{
                    margin-top: 10px;
                    line-height: 1.4;
                    color: $c_g_6;
                    font-size: 14px;
                    @include ellipsis_2line();
                }
            }  
        }   
    }
    &.live_cont_list{
        ul{
            border-bottom: none;
        }
        .cate_class{
            border: none;
            color: #fff;
            background-color: #4E789D;
        }
    }
 }
 .sch_none{
    margin:94px 0;
    text-align: center;
    strong{
        display: block;
        margin-bottom: 23px;
        font-size: 20px;
        font-weight: 600;        
    }
    li{
        line-height: 1.4;
        font-size: 16px;
        color: $c_g_6;
    }
 }
}