/*gnb*/
/* 2022-08-21 수정 */
.remember_gnb.sub_gnb .logo {background-image: url('../images/main/logo_on.png');background-size: 70%;top:56px;margin-left: -48%;}
/* 2022-08-21 추가 수정 */
.remember_gnb.sub_gnb.fix_on .logo{top: 30px;}
.remember_gnb.sub_gnb .gnb li a {color: #192b57;}

/*layer*/
.layer_pop .cont_layout {padding-bottom: 30px;margin-bottom: 50px;border-bottom: 1px solid #ccc;font-family: 'Noto Sans KR', sans-serif;}
.layer_pop .cont_layout:last-of-type {border-bottom: none;}
.layer_pop .cont_layout .img {display: inline-block;margin-bottom: 30px;}
.layer_pop .cont_layout .desc {width: 90%;margin: 0 auto;color: #666;font-family: 'Noto Sans KR', sans-serif;font-size: 30px;}
.layer_pop .cont_layout .txt_title {margin-bottom: 20px;color: #192b57;font-family: 'Noto Sans KR', sans-serif;font-size: 36px;letter-spacing: -0.06em;}
.layer_pop .pop_contents {width: 90%;margin: 0 auto;}
.pop_sample {background: #f5f5f5;}
.pop_sample .pop_title {margin-bottom: 20px;padding-top: 100px;font-size: 48px;font-family: 'Noto Sans KR', sans-serif;}
.pop_sample .sub_title {display: inline-block;margin-bottom: 56px;color: #7c7c7c;font-size: 26px;font-family: 'NotoSerifKR';}
.pop_sample .layer_cont {background-color: #f5f5f5;text-align: center;}
.pop_sample .layer_cont_wrap .layer_cont_inner {padding-bottom: 70px;}
.pop_sample .layer_cont::-webkit-scrollbar-track {background-color: #f5f5f5;}
.pop_memorial {width: 90%;margin: 0 auto;padding: 40px 0;font-size: 26px;font-family: 'Noto Sans KR', sans-serif;text-align: left;}
.pop_templet .layer_cont {border-top: 1px solid #bbc4d7;}
.pop_templet .select_form {width: 90%;margin: 0 auto;padding: 60px 0;}
.pop_templet .select_form legend {margin-bottom: 15px;color: #8893aa;font-size: 26px;text-indent: 0;line-height: normal;font-family: 'Noto Sans KR', sans-serif;}
.pop_templet .memorial_txt_wrap {background-color: #f5f5f5;border-top: 1px solid #ccc;}
.pop_templet .memorial_txt {width: 90%;margin: 0 auto;padding: 40px 0}
.pop_templet .pop_title {margin-bottom: 47px;font-family: 'Noto Sans KR', sans-serif;font-size: 40px;}
.pop_templet .radio_item {width: 48%;margin-bottom: 14px;}
.pop_address {font-family: 'Noto Sans KR', sans-serif;}
.pop_address .ad_search_form {margin-top: 16px;border-bottom: 1px solid #0c1622;}
.pop_address .ad_search_form input[type='text'] {width: 100%;padding: 20px 5%;border: 0;box-sizing: border-box;font-size: 30px;}
.pop_address .ad_search_form input[type='text']::placeholder {color: #8893aa;}
.pop_address .address_search .row {position: relative;width: 90%;margin: 0 auto;padding: 30px 0;border-bottom: 1px solid #bbc4d7;}
.pop_address .address_search .ad_info {width: 80%;}
.pop_address .address_search .ad_info span {display: block;font-size: 26px;}
.pop_address .address_search .ad_info .ad_nm {color: #0c1622;}
.pop_address .address_search .ad_info .address {color: #8893aa;}
.pop_address .address_search .row .radio_item {position: absolute;top: 32px;right: 10px;}
.layer_pop.layer_message .pop_inner {bottom: 160px;}
.pop_message {text-align: center;}
.pop_message .layer_cont_wrap {bottom: 50px;}
.pop_message .pop_title {margin-bottom: 30px;color: #8893aa;font-size: 30px;font-weight: normal;}
.pop_message .pop_contents {margin-bottom: 60px;}
.pop_message .message {display: inline-block;width: 276px;height: 276px;padding-top: 160px;color: #0c1622;font-size: 40px;background-color: #eef8fb;border-radius: 50%;background-repeat: no-repeat;background-position: center 25%;box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;}
.pop_message .message.kakao { background-image: url('../images/bg_message1.png');}
.pop_message .message.ms {margin-left: 5%;background-image: url('../images/bg_message2.png');}
.pop_message .pop_btn {width: 260px;}
.pop_transfer .transfer {width: 90%;margin: 0 auto;padding-top: 30px;padding-bottom: 50px;border-top: 2px solid #0c1622;}
.pop_transfer .transfer .inform {position: relative;margin-bottom: 77px;text-align: center;}
.pop_transfer .transfer .inform span {display: block;color: #0c1622;font-family: 'Noto Sans KR', sans-serif;}
.pop_transfer .transfer .inform .account_nm {margin-bottom: 16px;font-size: 26px;}
.pop_transfer .transfer .inform .bank_info {font-size: 36px;}
.pop_transfer .transfer .inform .copy {position: absolute;top: 0;right: 0;width: 72px;height: 40px;padding: 4px 0;font-size: 20px;border: 1px solid #192b57;border-radius: 50px;box-sizing: border-box;text-align: center;}
.pop_transfer .transfer .trans_box {width: 100%;}
.pop_transfer .transfer .trans_box a {position: relative;display: block;width: 100%;height: 88px;margin-bottom: 10px;padding: 22px 43px 22px 150px;color: #0c1622;font-size: 30px;border: 1px solid #0c1622;border-radius: 5px;box-sizing: border-box;font-family: 'Noto Sans KR', sans-serif;}
.pop_transfer .transfer .trans_box a i {position: absolute;top: 30px;left: 43px;width: 96px;height: 40px;background-repeat: no-repeat;font-size: 0;line-height: 0;text-indent: -9999px;}
.pop_transfer .transfer .trans_box a.sms i {top: 0;left: 40px;width: 90px;height: 90px;}
.pop_transfer .transfer .trans_box a.kakao i {top: 10px;left: 40px;width: 76px;height: 64px;background-image: url('../images/ico_kakao.png');background-size: 108%;}
.pop_transfer .transfer .trans_box a.sms i {background-image: url('../images/ico_sms.png');}
.pop_transfer .transfer .trans_box a.toss i {background-image: url('../images/ico_toss.png');}
.pop_transfer .transfer .trans_box a.kakaopay i {background-image: url('../images/ico_kakaopay.png');}
.pop_transfer .transfer .qr_box {padding: 24px 38px;font-size: 30px;border: 1px solid #0c1622;border-radius: 5px;font-family: 'Noto Sans KR', sans-serif;}
.pop_transfer .transfer .qr_box .qr_code {margin-top: 20px;display: flex;justify-content: center;}
.pop_transfer .transfer .qr_box .qr {margin: 20px;}
.pop_transfer .transfer .qr_box .qr_code i {display: block;width: 96px;height: 40px;margin: 0 auto;background-image: url('../images/ico_toss.png');background-repeat: no-repeat;font-size: 0;line-height: 0;
text-indent: -9999px;}
.pop_transfer .transfer .qr_box .qr_code i.kakaopay {width: 86px;background-image: url('../images/ico_kakaopay.png');}
.pop_sms .pop_title {margin-bottom: 10px;font-size: 26px;font-weight: normal;font-family: 'Noto Sans KR', sans-serif;}
.pop_sms .pop_btn_wrap {margin-top: 60px;}

.content_wrap{background-color: #f6fbfe;}
.content_wrap .content_inner {position: relative;width: 1132px;margin: 0 auto; padding-top: 80px; min-height: 100vh;}
.content_wrap .content_title .block {display: block;}
.content_wrap .title{margin-bottom: 40px; font-size: 30px; font-family: 'NotoSerifKR';}

/*조회[s]*/
.inquiry_content .top_content{display: flex; justify-content: space-between; margin-bottom: 30px; position: relative;}
.inquiry_content .top_content .left p{line-height: 30px; font-size: 18px; color: #9da7bb;}
.inquiry_content .top_content .right{display: flex; align-items: center;}
.inquiry_content .top_content .right .sch_form {position: relative;}
.inquiry_content .top_content .right .sch_form .sch_input{width: 470px; padding:8px 40px 8px 10px; font-size: 20px; border:0; border-bottom: 2px solid #0c1622; background-color: transparent;}
.inquiry_content .top_content .right .sch_form .sch_input::placeholder{color: #666; font-size: 20px;}
.inquiry_content .top_content .right .sch_form .sch_btn{position: absolute; top: 0; right: 0; width: 30px; height: 30px; background: url("../images/ico_inquiry_search.png");}
.inquiry_content .top_content .right .btn{margin-left: 60px;font-family: 'NotoSerifKR';  }
.inquiry_content .content_list>ul{display: grid; grid-template-columns:repeat(3,33.3%); justify-items: center; justify-content: space-between;}
.inquiry_content .content_list>ul>li{margin-bottom: 70px;}
.inquiry_content .content_list>ul>li a{display: block;}
.inquiry_content .content_list figure{display: inline-block; width: 330px; height: 400px; margin-bottom: 15px; overflow: hidden;}
.inquiry_content .content_list figure img{width: 100%; height: 100%; object-fit: cover;}
.inquiry_content .content_list .info_area .person_info{text-align: center;}
.inquiry_content .content_list .info_area .person_info .name{display: block; font-size: 26px; font-weight: 400;}
.inquiry_content .content_list .info_area .person_info .date{display: block; margin-bottom: 18px; color: #666; font-size: 18px; font-weight: 300;}
.inquiry_content .content_list .info_area .person_info .orange{width: 145px; background-color: #eca316;}
.inquiry_content .content_list .info_area .detail{margin-top: 20px; padding-top: 15px; font-size: 16px; border-top: 1px solid #ccc;}
.inquiry_content .content_list .info_area .detail li{display: table; width: 100%;}
.inquiry_content .content_list .info_area .detail strong{display:table-cell; width: 20%; margin-bottom: 10px;}
.inquiry_content .content_list .info_area .detail span{display:table-cell; width: 80%;}
/*조회[e]*/
/*등록[s]*/
.register_content{width: 750px; margin:0 auto; padding-bottom: 80px;}
.register_content .regis_cont_title{display: inline-block; position: relative; margin-bottom: 20px; font-size: 19px;}
.register_content .sub_desc{margin-left: 50px; color: #8893aa; font-size: 16px;}
.register_content .ico_ess{position: absolute; right: -12px; top: -4px; color: #c26836;}
.register_form input[type='text'], .register_form input[type='date'], .register_form input[type='time'], .register_form input[type='password'], .register_form select{height: 47px; padding:10px 16px; background-color: #fff; border-radius: 5px; border:1px solid #bbc4d7; font-size: 16px; font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;} 
.register_form .regis_input.pc_w380{width: 380px;}
.register_form .regis_input.pc_w236{width:236px;}
.register_form .regis_input.pc_w490{width:490px;}
.register_form .pc_w150{width: 150px;}
.register_form .regis_input.w_long{width: 568px;}
.register_form .btn_square{display: inline-block; height: 40px; line-height: 2.6; margin-left: 10px; padding:0 30px; font-size: 14px; border-radius: 5px; background-color: #192c57; color: #fff; text-align: center; font-family: 'Noto Sans KR', sans-serif;}
.register_form{position: relative; margin-bottom: 10px; padding-bottom: 30px; border-bottom: 2px solid #192B57;}
.register_form .row{margin-bottom: 28px; margin-left: 10px; display: flex;}
.register_form .row.marg_left0{margin-left: 0;}
.register_form .row.flex_type{justify-content: space-around; align-items: center;}
.register_form .row:last-of-type{margin-bottom: 0;}
.register_form .row .right .w_long{display: block;}
.register_form .row .right .w_long+.w_long{margin-top: 10px;}
.register_form .regis_tit{display: inline-block; width: 180px;}
.register_form .regis_tit.txt{margin-top: 8px;}
.register_form .regis_tit.emph{font-size: 19px; font-weight: 700;}
.register_form .regis_tit .h_set{height: 104px;}
.register_form .regis_tit span{position: relative; display: inline-block;}
.register_form .reg_time{width: 165px; margin-left: 10px;}
.register_form .val_chk{margin-top: 10px;}
.register_form .regis_info{margin-bottom: 28px;}
.register_form .regis_info .row{margin-left: 0;}
.register_form .regis_info .col{width: 46%; font-size: 16px; border-bottom: 2px solid #dae1e9;}
.register_form .regis_info .col strong{width: 70px; font-weight: normal; display: inline-block;}
.register_form .regis_info label{position: relative;}
.register_form .regis_info input[type='text']{border: 0; background-color: transparent;}
.register_form .filebox{vertical-align: 4px;}
.register_form .file_output{width: 160px; height: 194px; margin-top: 10px; overflow: hidden; box-sizing: border-box;}
.register_form .file_output .img{display: block; position: relative;}
.register_form .file_output .img img{width: 100%; height: 100%;}
.register_form .file_output .img .file_del{position: absolute; top: 8px; right: 8px; width: 20px; height: 20px;}
.register_form .file_output .img .file_del::before,
.register_form .file_output .img .file_del::after{display: block; content: ""; height: 2px; background-color: #fff; transform:rotate(45deg);}
.register_form .file_output .img .file_del::after{margin-top: -2px; transform:rotate(-45deg);}
.register_form .file_output.default{padding-top: 97px; border: 1px solid #bbc4d7; color: #8893aa; text-align: center; font-size: 14px; background: url('../images/img_file_basic.png') no-repeat center 35% #fff;}
.register_form .input_arrange .regis_input{border-top-right-radius: 0; border-bottom-right-radius: 0; vertical-align: top;}
.register_form .input_arrange .regis_input+.regis_input{margin-left: -5px; border-radius: 5px; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.register_form .regis_input.funeral_nm{width: 466px;}
.register_form .regis_input.room{width: 120px;}
.register_form .btn_square.add{position: absolute; top: -4px; right: 4px; width: 47px; height: 47px; padding: 0;}
.register_form .btn_square.method{width: 47px; height: 47px; padding: 0;}
.register_form .btn_set button{width: 47px; height: 47px; margin-left: 6px; text-align: center; border: 1px solid #1a2b57; border-radius: 5px; background-color: #fff;}
.register_form .btn_set button::before{display: block; content: "";width: 50%; margin:0 auto;}
.register_form .btn_set .del::before{height: 2px; background-color: #1a2b57;}
.register_form .btn_set .up{padding-top: 6px;}
.register_form .btn_set .up::before,.register_form .btn_set .down::before{border-bottom: 2px solid #1a2b57; width: 12px; height: 12px; border-right: 2px solid #1a2b57; transform: rotate(-134deg); }
.register_form .btn_set .down::before{margin-top: -6px; transform: rotate(45deg);}
.register_form  .textarea{resize: none; height: 117px; border: 1px solid #bbc4d7; border-radius: 5px;}
.register_form .opt_add_row{padding-bottom:20px; margin-bottom: 40px; border-bottom: 1px solid #e8edf3;}
.register_form .opt_add_row:last-of-type{padding-bottom: 0; margin-bottom: 0; border-bottom: none;}
.register_form .btn_sample{position: absolute; top: 7px; right: 64px; font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color: #0c1622;}
.register_form .btn_sample::before{display: inline-block; margin-right: 8px; width: 24px; height: 24px; vertical-align: -6px; background: url('../images/ico_sample.png') no-repeat; content: "";}
.register_form .templet_box{position: relative; width: 736px; height: 234px; margin-left: 15px; padding: 10px; background-color: #fff; border: 1px solid #bbc4d7; border-radius: 5px; box-sizing: border-box;}
.register_form .templet_box .subject{position: relative; display: flex; margin-bottom: 20px;}
.register_form .templet_box .subject select{width: 218px;border-top-right-radius:0;border-bottom-right-radius:0}
.register_form .templet_box .subject .max_opt{width: 325px; border-top-left-radius:0;border-bottom-left-radius:0; border-left: none;}
.register_form .templet_box .opt_area{display: flex; justify-content: space-between; align-items: center;}
.register_form .templet_box .opt_area .btn{margin-left: 0;}
.register_form .templet_box .opt_area .open_opt{font-size: 14px;}
.register_form .switch{display: inline-block; position: relative; width: 38px; height: 18px; margin-left: 8px; vertical-align: middle; background:linear-gradient(180deg, rgba(201, 201, 205, 1) 0%, rgba(224, 225, 229, 1) 100%); transition: all 0.2s ease; border-radius: 10px;}
.register_form .switch::after{content: ""; position: absolute; top: -3px; left: -3px; width: 22px; height: 22px; background-color: #fff; border-radius: 50%; border: 1px solid #ccc; transition: all 0.2s ease;}
.register_form .switch.active{background: #192b57;}
.register_form .switch.active::after{left: 16px;}
.register_form .all_open_opt{text-align: center;}
.register_content .bottom_btn_wrap button{display: inline-block; width: 30%; height: 50px; margin: 0 2px; font-size: 14px; font-family: 'Noto Sans KR', sans-serif; border-radius:50px;}
.register_content .bottom_btn_wrap .preview{color: #192b57; border: 1px solid #192b57; background-color: #eef8fb;}
.register_content .bottom_btn_wrap .preview::before{display: inline-block; width: 24px; height: 24px; vertical-align: -6px; margin-right:4px; background: url('../images/ico_preview.png') no-repeat; content: "";} 
.register_content .bottom_btn_wrap .cancel{background-color:#fff; color: #666; border: 1px solid #abbfc6;}
/*등록[e]*/
/*상세[s]*/
.visual_memorial{position: relative; display: flex; flex-direction: column; height: 480px; align-items: center; justify-content: center; font-family: 'NotoSerifKR'; background-image: url("../images/bg_memorial.png"); background-repeat: no-repeat;  background-position: 50% 100%;  background-size: cover;}
.visual_memorial h2{margin-bottom: 16px; font-size: 38px; font-weight: 400; color: #0c1622;}
.visual_memorial .text{margin-top: 10px; line-height: 26px; color: #9da7bb; font-size: 16px;}
.memorial_info{padding-top: 68px; padding-bottom: 40px; background-color: #fff;}
.memorial_info .memorial_main{ text-align: center; font-family: 'NotoSerifKR';}
.memorial_info .memorial_main>*{display: block; font-size: 20px;}
.memorial_info .memorial_main .name{margin-bottom: 15px; font-size: 37px; color: #0c1622;}
.memorial_info .memorial_main .date{margin-bottom: 27px; font-weight: 300;}
.memorial_info .memorial_main button{display: inline-block; color: #00237e; font-weight: 400; font-family: 'NotoSerifKR';}
.memorial_info .memorial_main button i{display:inline-block; width: 22px; height: 22px; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2731%27 height=%2730%27 fill=%27none%27%3E%3Cpath stroke=%27%2300237E%27 stroke-width=%272%27 d=%27M25.024 5.582C22.73 3.113 5.486 9.162 5.5 11.37c.016 2.504 6.735 3.274 8.597 3.796 1.12.315 1.42.637 1.678 1.81 1.17 5.32 1.757 7.965 3.095 8.024 2.133.094 8.391-17.008 6.154-19.418Z%27/%3E%3Cpath stroke=%27%2300237E%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m14.977 15.528 3.684-3.684%27/%3E%3C/svg%3E"); background-size: 100%; vertical-align: middle; margin-top: -2px;}
.memorial_info .funeral_info{width: 963px; margin:60px auto; padding:40px 50px; background-color: #f9f9f9;}
.memorial_info .funeral_info li{display: table; margin-bottom: 30px;;}
.memorial_info .funeral_info li strong{display: table-cell; width: 120px; font-weight: 500; font-size: 18px;}
.memorial_info .funeral_info li .text{display: table-cell; font-size: 15px; color: #666; }
.memorial_info .funeral_info li .btn_way{min-width: 90px; height: 30px; margin-left: 8px; vertical-align: 1px; background-color: #666; color: #fff; border-radius: 5px; font-size: 14px; font-family: 'NotoSerifKR';}
.memorial_info .funeral_info li.message{width: 100%; padding-top: 36px; text-align: center; border-top: 1px solid #ccc;}
.memorial_info .funeral_info li.message>*{display: block; width: 100%;}
.memorial_info .funeral_info li.message strong{margin-bottom: 20px; font-size: 24px;}
.memorial_info .funeral_info li:last-child{margin-bottom: 0;}
.memorial_content .tab_area{width: 963px; margin:60px auto 0; padding-bottom: 60px; background-color: #f6fbfe;}
.memorial_content .tab_area .tab_menu{display: flex;}
.memorial_content .tab_area .tab_menu li{width: 33.3%; background-color: #374F8C; border-top: 2px solid #374F8C; box-sizing: border-box; text-align: center;}
.memorial_content .tab_area .tab_menu li a{display: block; padding:20px 0; font-size: 22px; color: #fff; letter-spacing: -0.06em;}
.memorial_content .tab_area .tab_menu li.on{background-color: #fff;}
.memorial_content .tab_area .tab_menu li.on a{color: #374F8C;}
.memorial_content .tab_area .tab_cont{padding-top: 20px}
.memorial_content .tab_area .tab_cont_wrap .tab_cont{display: none;}
.memorial_content .tab_area .tab_cont_wrap .tab_cont.on{display: block;}
.memorial_content .tab_area .cont1 ul{margin-bottom: 20px;}
.memorial_content .tab_area .cont1 ul li{display: table; margin-bottom: 20px;}
.memorial_content .tab_area .cont1 ul li strong{display: table-cell; width: 100px; font-size: 18px;}
.memorial_content .tab_area .cont1 ul li .text{display: table-cell; color: #666; font-size: 18px;}
.memorial_content .tab_area .cont1 .map_area{width: 100%; height: 460px; position: relative; background-color: rgba(94, 94, 94, 0.2); text-align: center;}
.memorial_content .tab_area .cont1 .map_area .text{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 36px;}
.memorial_content .tab_area .cont2 .cont2_wrap{display: flex; flex-wrap: wrap; align-items: center; padding: 80px; width: 100%; box-sizing: border-box;}
.memorial_content .tab_area .cont2 figure{flex:0 0 27.4%; max-width: 27.4%; height: 308px;}
.memorial_content .tab_area .cont2 figure img{width: 100%}
.memorial_content .tab_area .cont2 .text_area{flex:0 0 72.6%; max-width: 72.6%;font-size: 16px; color: #666;}
.memorial_content .tab_area .cont2 .text_area .inner{padding-left: 90px;}
.memorial_content .tab_area .cont2 .text_area strong{display: inline-block; font-weight: 500; font-size: 30px; margin-bottom: 20px; color: #0c1622;}
.memorial_content .tab_area .cont2 .text_area .copy{border-top: 1px solid #ccc; margin-top: 30px; padding-top: 30px; display: -webkit-box; text-overflow:ellipsis; white-space: normal; word-wrap: break-word; white-space: normal; overflow: hidden; -webkit-box-orient:vertical; -webkit-line-clamp: 4;}
.memorial_content .tab_area .cont2 .text_area .btn_more{margin-top: 20px; font-size: 16px; background-color: transparent; border:1px solid #192b57; color:#0c1622;}
.memorial_content .tab_area .cont3 .select,
.memorial_content .tab_area .cont3 textarea,
.memorial_content .tab_area .cont3 .filebox label{width: 100%; margin-bottom: 10px; padding: 10px 20px;border: 1px solid #ced5e4; font-size: 18px; border-radius: 5px; box-sizing: border-box; font-family: "Noto Sans KR", sans-serif;}
.memorial_content .tab_area .cont3 .select{height: 47px;}
.memorial_content .tab_area .cont3 textarea{height: 258px; padding:8px 14px}
.memorial_content .tab_area .cont3 .filebox label{display: block; height: 47px; color: #374f8c; background-color: #edf1f8; cursor: pointer; border: 1px solid #bbc4d7;}
.memorial_content .tab_area .cont3 .file_list_box{margin-bottom: 10px; padding: 24px; background-color: #f5f5f5; border-radius: 6px;}
.memorial_content .tab_area .cont3 .file_list_box .file_list{display: flex; flex-wrap: wrap;}
.memorial_content .tab_area .cont3 .file_list_box .file_list li{display: block; position: relative; width: 97px; height: 68px; margin-left: 7px;}
.memorial_content .tab_area .cont3 .file_list_box .file_list li:first-of-type{margin-left: 0;}
.memorial_content .tab_area .cont3 .file_list_box .file_list li img{width: 100%; height: 100%;}
.memorial_content .tab_area .cont3 .file_list_box .file_list li::before{content:""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3);}
.memorial_content .tab_area .cont3 .file_list_box .file_list li.movie:after{content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 36px; height: 36px; background: url('../images/btn_play.png') no-repeat; background-size: 100%; cursor: pointer;}
.memorial_content .tab_area .cont3 .register_form{text-align: center; border-bottom: none;}
.memorial_content .tab_area .cont3 .register_form input[type="text"]{width:50%;}
.memorial_content .tab_area .cont3 .register_form .input1{border-top-right-radius: 0; border-bottom-right-radius: 0;}
.memorial_content .tab_area .cont3 .register_form .input2{margin-left: -5px; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.memorial_content .tab_area .cont3 .btn{margin-left: 8px; padding: 0 20px; letter-spacing: -0.06em; vertical-align: middle; font-size: 20px; font-family: "Noto Sans KR", sans-serif;}
.memorial_content .tab_area .cont3 .reply_area{margin-top: 40px;border-top: 2px solid #192B57;}
.memorial_content .tab_area .cont3 .reply_area li{display: flex; position: relative; padding: 15px 0; border-bottom: 1px solid #dfe4ee; font-size: 18px; letter-spacing: -0.04em;}
.memorial_content .tab_area .cont3 .reply_area li .name{min-width: 7%; align-items: flex-start; margin-right: 12px;color: #666; }
.memorial_content .tab_area .cont3 .reply_area li .text_content::before{content: "";  width: 1px; height: 12px; position: absolute; top: 23px; background-color: #192b57;}
.memorial_content .tab_area .cont3 .reply_area li .text{padding:0 20px; width: 94%; line-height: 30px; font-weight: 500; word-break: keep-all;}
.memorial_content .tab_area .cont3 .reply_area li .btn_del{position: absolute; top: 14px; right: 0; width: 18px; height: 18px;}
.memorial_content .tab_area .cont3 .reply_area li .btn_del::before,
.memorial_content .tab_area .cont3 .reply_area li .btn_del::after{background-color: #666;}
.memorial_content .tab_area .cont3 .reply_area .item{position: relative; display: inline-block; width: 97px; height: 68px; margin: 5px 0 0 5px}
.memorial_content .tab_area .cont3 .reply_area .item img{width: 100%; height: 100%;}
.memorial_content .tab_area .cont3 .reply_area .item.movie::before{content: ""; position: absolute; top: 50%; left: 50%; width: 36px; height: 36px; transform: translate(-50%, -50%); background: url('../images/btn_play.png') no-repeat; background-size: 100%;}
 /*상세[e]*/ 
 /*추모관[s]*/
 .detail_content.memorial .visual_memorial{background-image: url("https://mylifecanvas.co.kr/static/media/bg_wrap_portrait_remembrance_02.4b32bcc1097f0be35b8f.png");}
 .detail_content.memorial .visual_memorial .portrait{width: 260px; height: 362px; position: absolute; left: 50%; margin-left: -130px; bottom: -28px;}
 .detail_content.memorial .visual_memorial .portrait img{width: 100%; height: 100%;}
 .detail_content.memorial .memorial_message{margin:60px 0; font-size: 24px; text-align: center; color: #666; font-family: 'NotoSerifKR'; font-weight: 300;}
 .detail_content.memorial .tab_area .title{margin-bottom: 14px; color: #0c1622; font-size: 30px;}
 .detail_content.memorial .tab_area .cont1{text-align: center; font-family: 'NotoSerifKR'; font-weight: 300;}
 .detail_content.memorial .tab_area .cont1 .desc{margin-bottom:40px;color:#9da7bb; font-size: 16px;}
 .detail_content.memorial .tab_area .cont1 .video_area{position: relative; width: 964px; overflow: hidden;}
 .detail_content.memorial .tab_area .cont1 .video_area video{width: 100%;}
 .detail_content.memorial .tab_area .cont1 .video_area button{position: absolute; top:0; left: 0; width: 100%; height: 100%; background-size:133px; background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='135' height='135' fill='none'%3E%3Cpath stroke='%23fff' stroke-linejoin='round' stroke-width='2' d='M134 67.504c0 36.457-29.773 66.012-66.5 66.012-36.727 0-66.5-29.555-66.5-66.012C1 31.046 30.773 1.49 67.5 1.49c36.727 0 66.5 29.555 66.5 66.013Z'/%3E%3Cpath stroke='%23fff' stroke-linejoin='round' stroke-width='2' d='M54.381 93.999V42.805l36.19 25.597-36.19 25.597Z'/%3E%3C/svg%3E") no-repeat 50% 50%; cursor: pointer;}
 .detail_content.memorial .tab_area .cont2{text-align: center;}
 .detail_content.memorial .tab_area .cont2 .album_top{display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; border-bottom: 1px solid #ccc;}
 .detail_content.memorial .tab_area .cont2 .album_top .menu{font-size: 20px; color: #00237e;}
 .detail_content.memorial .tab_area .cont2 .album_top .btn_regis{width: 120px; height: 40px; line-height: 40px; margin-bottom: 6px; background-color: #00237e; border-radius: 5px; color: #fff; font-size: 16px; font-weight: 400;}
 .detail_content.memorial .tab_area .cont2 .album_list{display: flex; gap:10px; flex-wrap: wrap;}
 .detail_content.memorial .tab_area .cont2 .album_list li{width: 24.2%; text-align: left;}
 .detail_content.memorial .tab_area .cont2 .album_list li a{display: block; background-color: #fff; border: 1px solid #ccc; box-sizing: border-box;}
 .detail_content.memorial .tab_area .cont2 .album_list li .img{height: 234px; overflow: hidden; position: relative;}
 .detail_content.memorial .tab_area .cont2 .album_list li .img img{width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); object-fit: cover; }
 .detail_content.memorial .tab_area .cont2 .album_list li .info{padding: 13px 24px; font-family:'NotoSerifKR';}
 .detail_content.memorial .tab_area .cont2 .album_list li .info span{color: #9da7bb; font-size: 14px;}
 /*추모관 [e]*/
 /*faq[s]*/
 .faq_content .tab_area{padding-bottom: 30px; border-bottom: 2px solid #0c1622;}
 .faq_content .tab_area ul{display: flex;}
 .faq_content .tab_area li{margin-left: 42px;}
 .faq_content .tab_area li:first-child{margin-left: 0;}
 .faq_content .tab_area li a{color: #0c1622; font-size: 20px; font-family: 'Noto Sans KR', sans-serif;}
 .faq_content .tab_area li.on a{color: #bb7a19;}
 .faq_content .faq_area .header{position: relative; padding:30px 0; border-bottom: 1px solid #bbc4d7; color: #0c1622; font-size: 20px; cursor: pointer;}
 .faq_content .faq_area .header span{display: inline-block; width: 90%;}
 .faq_content .faq_area .header i{position: absolute; top: 28px; right: 2%; width: 14px; height:14px; border-bottom: 2px solid #0c1622; border-right: 2px solid #0c1622; transform: rotate(45deg); }
 .faq_content .faq_area .content{padding: 15px 0 15px 20px; color: #666; font-size: 16px; border-bottom: 1px solid #bbc4d7;}
 /*faq[e]*/
 /* 서비스 [s] */
.services_content_wrap{background-image: url('../images/service_bg.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; height: 100%; overflow: hidden; padding-bottom: 100px; color:#fff;}
.services_content_wrap .sevices_inner{padding-top: 216px; width: 98%; margin:0 auto;}
.services_content_wrap h2{margin-bottom: 160px; font-family: "Noto Sans KR", sans-serif; font-size: 60px;letter-spacing: -0.06em;}
.services_content_wrap .sevices_content{display: flex; margin-bottom: 160px;}
.services_content_wrap .sevices_content .block{display: block;}
.sevices_content .sv_intro_area{flex-basis: 50%;}
.sevices_content .sv_intro_area strong.text{display: block; line-height: 1.6; font-weight: normal; font-size: 26px;}
.sevices_content .sv_intro_area .text{margin-bottom: 40px; line-height: 2; font-size: 18px; letter-spacing: -0.06em;}
.sevices_content .sv_intro_area.visual_type{text-align: center;}
.sevices_content .sv_intro_area.visual_type+.visual_type{margin-top: 480px;}
.sevices_content .sv_intro_area .visual{margin-bottom: 40px;}
 /*login popup[s]*/
.pop_login .layer_cont_wrap {top: 20px;}
.remember_login {padding: 70px 90px;color: #0c1622;font-family: 'Noto Sans KR', sans-serif;}
.remember_login .title {margin-bottom: 20px;font-size: 14px;font-weight: normal;}
.remember_login .sub_title {margin-bottom: 72px;line-height: 1.6;font-size: 26px;font-family: 'Noto Sans KR', sans-serif;}
.remember_login .login_form {margin-bottom: 50px;}
.remember_login .login_form li {margin-bottom: 46px;}
.remember_login .login_form li.mar_type {margin-bottom: 20px;}
.remember_login .login_form .certi .login_input {width: 68%;}
.remember_login .login_form .certi button {width: 28%;height: 40px;margin-left: 3%;color: #0c1622;font-size: 22px;border: 1px solid #192b57;letter-spacing: -0.06em;
  font-family: 'Noto Sans KR', sans-serif;}
.remember_login .login_form .login_input {width: 100%;height: 33px;color: #0c1622;font-size: 18px;font-family: 'Noto Sans KR', sans-serif;border: none;border-bottom: 1px solid #95a5ce;}
.remember_login .login_form .check_item {margin-top: 17px;font-size: 16px;letter-spacing: -0.06em;}
.remember_login .login_form .term_chk .link {margin-left: 4px;font-size: 12px;color: #192b57;text-decoration: underline}
.remember_login .login_btn {margin-bottom: 20px;text-align: center;}
.remember_login .login_btn a {display: inline-block;position: relative;width: 100%;height: 50px;margin-bottom: 10px;line-height: 2.8;color: #192b57;font-size: 16px;font-weight: 300;font-family: 'Noto Sans KR', sans-serif;border-radius: 5px;box-sizing: border-box;}
.remember_login .login_btn a.login {line-height: 2.4;border: none;background-color: #192b57;color: #fff;font-size: 20px;}
.remember_login .login_btn a i {position: absolute;top: 50%;transform: translateY(-50%);left: 20px;background-repeat: no-repeat;background-size: 100%;vertical-align: middle;}
.remember_login .login_btn a.kakao {color: #3b3715;background-color: #fee500}
.remember_login .login_btn a.kakao i {width: 46px;height: 42px;background-image: url('../images/ico_login_kakao.png');}
.remember_login .login_btn a.naver {color: #fff;background-color: #03c75a;}
.remember_login .login_btn a.naver i {left: 24px;width: 30px;height: 30px;background-image: url('../images/ico_login_naver.png');}
.remember_login .login_btn .ico {font-size: 0;line-height: 0;text-indent: -9999px;}
.remember_login .member_link {text-align: center;}
.remember_login .member_link a {font-size: 14px;letter-spacing: -0.06em;}
.remember_login .member_link a::before {display: inline-block;width: 1px;height: 8px;margin: 0 8px;background-color: #bbc4d7;content: '';vertical-align: 1px;}
.remember_login .member_link a:first-of-type::before {display: none;}
.remember_login .pop_close {display: block;position: absolute;top: 45px;right: 40px;width: 30px;height: 30px;}

  /*login popup[e]*/
/* 서비스 [e] */
@media all and (max-width:1024px){
  .content_wrap .content_inner{width: 96%; margin:0 auto;} 
  /*조회[s]*/
  .inquiry_content .top_content{display: block;}
  .inquiry_content .top_content .left{margin-bottom: 20px;}
  .inquiry_content .top_content .left p{position: absolute; top: 0; left: 0; font-size: 14px; line-height: 20px;}
  .inquiry_content .top_content .right{flex-direction: column-reverse; align-items: flex-end;}
  .inquiry_content .top_content .right .sch_form{width: 100%;}
  .inquiry_content .top_content .right .sch_form .sch_input{width: 100%; box-sizing: border-box;}
  .inquiry_content .top_content .right .sch_form .sch_input::placeholder{font-size: 15px;}
  .inquiry_content .top_content .right .btn{margin-bottom: 20px; font-size: 15px;}
  .inquiry_content .content_list figure{width: 100%; height: 186px;}
  /*조회[e]*/
  /*등록[s]*/
  .register_content{width: 100%;}
  .register_content .regis_cont_title{margin-bottom: 24px;}
  .register_content .sub_desc{display: block; margin-left: 0; margin-bottom: 10px; font-size: 14px}
  .register_form .regis_tit{width: 100%; margin-bottom: 10px;}
  .register_form .regis_tit .h_set{height: auto;}
  .register_form .row{position: relative; flex-direction: column; margin-left: 0;}
  .register_form .row.flex_type{align-items: baseline; justify-content: flex-start;}
  .register_form .row .right{width: 100%;}
  .register_form .w_long{width: 66%;}
  .register_form .pc_w380{width: 60% !important;}
  .register_form .pc_w150{width: 40% !important;}
  .register_form .pc_w236{width: 60% !important;}
  .register_form .pc_w490{width: 82% !important;}
  .register_form .w_m_full{width: 100% !important;}
  .register_form .row{margin-bottom: 10px;}
  .register_form .regis_info{margin-bottom: 10px;}
  .register_form .row .right .w_m_rate40{width: 40%;}
  .register_form .row .right .m_type{border-top-right-radius: 0; border-bottom-right-radius: 0;}
  .register_form .regis_info .col{margin-bottom: 10px;}
  .register_form .regis_info .col strong{margin-bottom: 6px;}
  .register_form .regis_info input[type="text"]{display: inline-block; width: 100%; height: 30px;}
  .register_form .row .reg_time{margin-left: -5px; border-top-left-radius: 0; border-bottom-left-radius: 0;}
  .register_form .regis_input.funeral_nm{width: 74%;}
  .register_form .btn_m_funeral{position: absolute; top: 0; right: 0; margin-left: 0; font-size: 12px;}
  .register_form .regis_input.room{margin-top: 10px;}
  .register_form .regis_tit.emph{margin-bottom: 10px;}
  .register_form .btn_set{display: block; margin-top: 10px; text-align: right;}
  .register_form .btn_set button{width: 32px; height: 32px;}
  /*등록[e]*/  
  /*상세[s]*/ 
  .visual_memorial{height: 260px; text-align: center; background-image: url("https://mylifecanvas.co.kr/static/media/bg_wrap_portrait_obituary_01_mo.0c7a7b78f64ab85e5881.png");}
  .visual_memorial h2{font-size: 18px;}
  .visual_memorial .m_block{display: block;}
  .memorial_info{padding-top: 34px;}
  .memorial_info .memorial_main>*{font-size: 14px;}
  .memorial_info .memorial_main .name{font-size: 24px;}
  .memorial_info .funeral_info{width: 100%; margin:30px auto; padding: 20px; box-sizing: border-box;}
  .memorial_info .funeral_info li{margin-bottom: 16px;}
  .memorial_info .funeral_info li.message{padding-top: 18px; text-align: left;}
  .memorial_info .funeral_info li.message>*{display: table-cell;}
  .memorial_info .funeral_info li>*{font-size: 14px !important; width: auto !important; word-break: keep-all}
  .memorial_info .funeral_info li strong{width: 80px !important;}
  .memorial_content .tab_area{width: 96%; margin: 0 auto;}
  .memorial_content .tab_area .tab_menu li a{padding:8px 0; font-size: 16px;}
  .memorial_content .tab_area .cont1 ul li>*{font-size: 14px !important;}
  .memorial_content .tab_area .cont2 .cont2_wrap{flex-direction: column; text-align: center;}
  .memorial_content .tab_area .cont2  figure{margin-bottom: 10px; width: 100%; max-width: 100%; height: auto;}
  .memorial_content .tab_area .cont2 .text_area{font-size: 12px; width: 100%; max-width: 100%;}
  .memorial_content .tab_area .cont2 .text_area strong{font-size: 15px;}
  .memorial_content .tab_area .cont2 .text_area .inner{padding-left: 0;}
  .memorial_content .tab_area .cont2 .text_area .copy{word-break: keep-all;}
  .memorial_content .tab_area .cont2 .text_area .btn_more{font-size: 12px;}
  .memorial_content .tab_area .cont3 .select, .memorial_content .tab_area .cont3 textarea, .memorial_content .tab_area .cont3 .filebox label{height: 40px; font-size: 14px;}
  .memorial_content .tab_area .cont3 textarea{height: 160px;}
  .memorial_content .tab_area .cont3 .filebox label{height: auto; min-height: 40px;}
  .memorial_content .tab_area .cont3 .reply_area li{flex-direction: column; padding: 8px 0; font-size: 14px;}
  .memorial_content .tab_area .cont3 .reply_area li .name{margin-top: 4px; margin-bottom: 8px;}
  .memorial_content .tab_area .cont3 .reply_area li .text{padding: 0; line-height: 24px;}
  .memorial_content .tab_area .cont3 .reply_area li .text_content::before{display: none;}
  /*상세[e]*/ 
  /*추모관[s]*/
  .detail_content.memorial .tab_area .cont1 .video_area{width: 100%;}
  .detail_content.memorial .visual_memorial{height:340px; background-image: url("https://mylifecanvas.co.kr/static/media/bg_wrap_portrait_remembrance_02_mo.a7b28c296a8641782e1a.png");}
  .detail_content.memorial .visual_memorial .portrait{width: 207px; height: 290px;}
  .detail_content.memorial .tab_area .cont2 .album_list li{width: 49.2%;}
  .detail_content.memorial .tab_area .cont2 .album_top .btn_regis{font-size: 14px;}
  /*추모관[e]*/
  /*서비스[s]*/
  .services_content_wrap {background-image: url('../images/service_bg_m.png'); padding-bottom: 0;}
  .services_content_wrap .sevices_inner{padding-top: 160px;}
  .services_content_wrap h2{font-size: 24px; margin-bottom: 0;}
  .services_content_wrap .sevices_content{flex-direction: column; margin-bottom: 0px; word-break: keep-all;}
  .services_content_wrap .sevices_content .block{display: inline;}
  .sevices_content .sv_intro_area{margin-bottom: 80px;}
  .sevices_content .sv_intro_area strong.text{font-size: 18px;}
  .sevices_content .sv_intro_area .text{font-size: 14px; line-height: 1.6;}
  .sevices_content .sv_intro_area.visual_type+.visual_type{margin-top: 0px;}
  /*서비스[e]*/
 
}
@media all and (max-width:767px) {
  
  .content_wrap .title{display: none ;}
  /*조회[s]*/
  .inquiry_content .content_list>ul{grid-template-columns:repeat(2,1fr); grid-column-gap:6%;}
  .inquiry_content .content_list>ul>li{margin-bottom: 35px;}
  .inquiry_content .content_list .info_area .person_info .name{font-size: 17px;}
  .inquiry_content .content_list .info_area .person_info .date{font-size: 13px;}
  .inquiry_content .content_list .info_area .person_info .orange{width:80px; padding: 0 20px; height: 40px; line-height: 40px; font-size: 14px;}
  .inquiry_content .content_list .info_area .detail>*{font-size: 13px;}
   /*조회[e]*/
   /*등록[s]*/
   .register_form{font-size: 14px;}
   .register_content .regis_cont_title{font-size: 16px;}
   .register_form input[type='text'], .register_form input[type='date'], .register_form input[type='time'], .register_form input[type='password'], .register_form select{font-size: 14px;}
   .register_form .regis_info label{font-size: 14px;}
   .register_form .regis_input.funeral_nm{width: 68%;}
   .register_form .regis_tit.emph{font-size: 16px;}
   .register_form .templet_box{margin-top: 60px; margin-left: 0;}
   .register_form .templet_box .subject select{width: 40%;}
   .register_form .templet_box .subject .max_opt{width: 60%;}
   .register_form .templet_box .subject .btn_set{position: absolute; top: -60px; right: 0;}
   .register_form .templet_box .opt_area .open_opt, .register_form .open_opt{font-size: 12px;}
   .memorial_content .tab_area .cont3 .file_list_box .file_list{justify-content: space-between;}
   .memorial_content .tab_area .cont3 .file_list_box .file_list li{margin-bottom: 8px; margin-left: 0;}
   .register_content .bottom_btn_wrap button{height: 40px; line-height: 40px;}
   /*등록[e]*/
  /*추모관[s]*/
  .detail_content.memorial .memorial_message{width: 96%; margin:10px auto 0; font-size: 16px; word-break: keep-all;}
  .detail_content.memorial .tab_area .cont2 .album_list{gap: 10px 6px;}
  .detail_content.memorial .tab_area .cont2 .album_list li{width: 48%;}
  /*추모관[e]*/
  /*faq[s]*/
  .faq_content .tab_area{padding-bottom: 18px;}
  .faq_content .tab_area li{margin-left: 16px;}
  .faq_content .tab_area li a{font-size: 16px;}
  .faq_content .faq_area .header{padding: 16px 0; font-size: 16px;}
  .faq_content .faq_area .content{padding-left: 14px; font-size: 14px;}
  .faq_content .faq_area .header i{top: 12px; width: 10px; height: 10px;}
  /*faq[e]*/
  .remember_login{position: relative; padding: 35px 45px;}
  .remember_login .sub_title{margin-bottom: 36px; font-size: 14px;}
  .remember_login .login_form li{margin-bottom: 26px;}
  .remember_login .login_form .login_input{font-size: 14px;}
  .remember_login .login_form .check_item{font-size: 14px;}
  .remember_login .login_form .certi .login_input{width: 65%}
  .remember_login .login_form .check_item{font-size: 14px;}
  .remember_login .login_form .certi button{width: 28%; height: 30px; margin-left: 3%; font-size: 12px;}
  .remember_login .login_btn a.login{line-height: 2.6; font-size: 16px; height: 40px;}
  .remember_login .login_btn a{line-height: 2.4; font-size: 16px; height: 40px;}
  .remember_login .login_btn a.kakao i{left: 14px; width: 24px; height:20px;}
  .remember_login .login_btn a.naver i{left:16px; width:16px; height: 16px;}
}
 
 




