@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color:#111;
    font-size: 16px;;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    color:#111;
    text-decoration: none;;
}
button{
	cursor: pointer;
}


.admin{padding-left:20px; padding-right:20px; min-width:1920px; max-width:100%; margin:0 auto; box-sizing: border-box;}
.admin_wrap{ height: 100%; padding-top: 80px; background-color: #ebebeb;}
.admin .contents_width{width:1200px;}
.admin .header{position:fixed; top:0; left:290px; right:0; height:80px; background-color: #fff;}
.admin .header_inner{display:flex; align-items: center; justify-content: space-between; padding:20px;}
.admin .lnb{position: fixed; left:0; bottom:0; top:0; right:0; width:290px; background-color: #fff; box-shadow:  0 16px 4px rgba(0, 0, 0, 0.2);;}
.admin .lnb .btn_lnb_move{position: absolute; right:-14px; top:25px; display: inline-block; width:60px; height: 60px; line-height: 60px;; border-radius: 50%; text-align: center; background-color: #fff;}
.admin .lnb .logo{font-weight: bold; height:80px; line-height: 80px; font-size: 20px;; border-bottom:1px solid #e1e1e1; text-align: center;}
.admin .lnb .logo a{color:#003a78;}
.admin .contents_wrap{padding:30px; padding-left: 290px;}
.admin .contents_wrap .contents{padding:20px; border-radius: 20px; background-color: #fff;}

.admin .lnb menu{margin:0; padding:0;}
.admin .lnb menu a{display:block; padding:16px 20px; min-height:50px; box-sizing: border-box; border-bottom:1px solid #e1e1e1;}
.admin .lnb menu .depth1>li> a{padding:16px 10px 16px 45px; min-height:50px; background: url("../images/ico_menu1.jpg") no-repeat 20px center;}
.admin .lnb menu .depth1>li.menu2>a{background-image: url("../images/ico_menu2.jpg");}
.admin .lnb menu .depth2{display: none;}
.admin .lnb menu .depth2.active{display: block;}
.admin .lnb menu .depth3 > li > a{padding:16px 40px; border-bottom: none; min-height: 44px;;}
.admin .lnb menu .depth3 > li:last-child a{border-bottom:1px solid #e1e1e1;}

.admin .mini .header{left:60px;}
.admin .mini .contents_wrap{padding-left: 60px;}
.admin .mini .lnb{width:60px;}
.admin .mini .lnb .logo a{display: none;}
.admin .mini .lnb a{text-indent: -9999em;;}