@charset "utf-8";
/*
	Copyright Modetour. All Rights Reserved.
	The following software licensing rules apply:
	- Name : Modetour Mobile Package Iconpack
	- Date : 2014-04-16
	- Author : missleech@modetour.com (3386)
*/
i.status { display:inline-block; padding:3px 10px; font-style:normal; font-size:11px; ; color:#FFF; text-decoration:none; border-radius:21px; }
i.status.blue { background-color:#5E8ED2; text-shadow:1px 1px 0px #3169C3; box-shadow:2px 2px 8px 0px #3169C3 inset; }
i.status.green { background-color:#4CB95D; text-shadow:1px 1px 0px #08A32E; box-shadow:2px 2px 8px 0px #08A32E inset; }
i.status.red { background-color:#C62B2B; text-shadow:1px 1px 0px #B41212; box-shadow:2px 2px 8px 0px #B41212 inset; }
i.status.gray { background-color:#999999; text-shadow:1px 1px 0px #666666; box-shadow:2px 2px 8px 0px #666666 inset; }
i.icon { display:inline-block; font-size:0; height:0; background-image:url("https://img.modetour.com/ModeMobile/2014/icon/ico_package.png"); background-repeat:no-repeat; background-size:400px auto; overflow:hidden; }
i.icon.logo { width:79px; height:15px; background-position:0 0; }
i.icon.logohotel { width:108px; height:15px; background-position:0 -255px; }
i.icon.logoair { width:108px; height:15px; background-position:-112px -255px; }
i.icon.logofree { width:136px; height:15px; background-position:-232px -255px; }
i.icon.category { width:19px; height:15px; background-position:-100px 0; }
i.icon.service { width:18px; height:19px; background-position:-150px 0; }
i.icon.search { width:18px; height:18px; background-position:-200px 0; }
i.icon.backward { width:19px; height:14px; background-position:-250px 0; }
i.icon.mail { width:16px; height:18px; background-position:-100px -150px; }
i.icon.close { width:16px; height:16px; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_share_close.png") no-repeat 0 0; background-size:16px auto; }
i.icon.fb { width:51px; height:51px; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_social.png") no-repeat 0 0; background-size:275px auto; }
i.icon.twt { width:51px; height:51px; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_social.png") no-repeat -56px 0; background-size:275px auto; }
i.icon.kakao { width:51px; height:51px; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_social.png") no-repeat -112px 0; background-size:275px auto; }
i.icon.url { width:51px; height:51px; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_social.png") no-repeat -168px 0; background-size:275px auto; }
i.icon.mailto { width:51px; height:51px; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_social.png") no-repeat -224px 0; background-size:275px auto; }
i.icon.call { width:22px; height:19px; background-position:-50px -150px; }
i.icon.cart { width:8px; height:7px; background-position:-200px -200px; }
i.icon.partner { width:10px; height:10px; background-position:-200px -150px; }
i.icon.booking_q { width:9px; height:8px; background-position:-300px -200px; }
i.icon.local_sw { width:17px; height:10px; background-position:-350px 0; }
i.icon.cart_sw { width:24px; height:8px; background-position:-300px 0; }
i.icon.calendar { width:17px; height:18px; background-position:0 -150px; }
i.icon.calendar_prev { width:8px; height:12px; background-position:-50px -50px; }
i.icon.calendar_next { width:8px; height:12px; background-position:-50px -50px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
i.icon.calendar_today { width:8px; height:12px; background-position:-50px -50px;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
}
i.icon.calendar_popup { width:17px; height:18px; background-position:0 -150px; }
i.icon.confirm { width:15px; height:10px; background-position:-300px -150px; }
i.icon.cancel { width:17px; height:15px; background-position:-350px -150px; }
i.icon.share { width:5px; height:19px; background-position:0 -50px; }
i.icon.sitemap_close { width:15px; height:15px; background-position:-100px -200px; }
i.icon.finder { width:10px; height:10px; background-position:-200px -150px; }
i.icon.sendcall { margin:2px 0 0; width:17px; height:16px; vertical-align:top; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_button_call.png") no-repeat 0 0; background-size:17px auto; }
i.icon.redo { margin:2px 0 0; width:16px; height:16px; vertical-align:top; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_button_redo.png") no-repeat 0 0; background-size:16px auto; }
i.icon.layer_close { width:18px; height:18px; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_total_close.png") no-repeat 0 0; background-size:18px auto; }
i.icon.item_del { width:14px; height:14px; background:url("https://img.modetour.com/ModeMobile/2014/icon/ico_item_delete.png") no-repeat 0 0; background-size:14px auto; }
i.bullet { position:absolute; display:block; border-radius:4px; color:#fff; font-style:normal; }
i.bullet.new { top:4px; right:10px; width:15px; height:15px; line-height:15px; font-size:10px; text-align:center; background:#ff4f29; }