@charset "utf-8";
/*
	Copyright Modetour. All Rights Reserved.
	The following software licensing rules apply:
	- Name : Modetour Mobile CSS reset HTML5 edition
	- Date : 2014-04-15
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img, iframe { border:0; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal; }
ol, ul { list-style:none; }
caption, th { text-align:left; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
abbr, acronym { border:0; font-variant:normal; }
input, textarea, select { font-family:inherit; font-size:inherit; font-weight:inherit; *font-size:100%; }
legend { color:#000; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } .clearfix { display:inline-block; } *html .clearfix { height:1%; } .clearfix { display:block; }
.blind { position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0; visibility:hidden; overflow:hidden; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

input, textarea, select {
	font-size:1em;
	font-family:Helvetica,Arial,sans-serif;
	border-radius:0;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

h1, h2, h3, h4, h5, h6, b, strong { font-weight:normal; }

body {
	font-family:Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
	text-size-adjust:none;
}
span,input,li,button,div,a { -webkit-tap-highlight-color:rgba(0,0,0,0); }