body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }

table { border-collapse:collapse; border-spacing:0; }

fieldset, img, iframe { border:0; }

address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal; }

ol, ul { list-style:none; }

caption, th { text-align:left; }

sup { vertical-align:text-top; }

sub { vertical-align:text-bottom; }

abbr, acronym { border:0; font-variant:normal; }

input, textarea, select { font-family:Helvetica, Arial, sans-serif; font-size:1em; font-weight:inherit; }

legend { color:#000; }

article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section {

	display:block;

	border:0;

	outline:0;

	font-size:100%;

	vertical-align:baseline;

	background:transparent;

}

input, textarea, select {

	font-size:1em;

	border-radius:0;

	-webkit-appearance:none;

	-moz-appearance:none;

	-o-appearance:none;

	appearance:none;

}

a {

	margin:0;

	padding:0;

	font-size:100%;

	vertical-align:baseline;

	background:transparent;

}

html, body { height:100%; }

body { font-family:Helvetica, Arial, sans-serif; background-color:#fafafa; }

.blind { position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0; visibility:hidden; overflow:hidden; }

img { max-width:100%; }





#members header { padding:9px 0 11px 18px; }

#members h1{ display:block; width:120px; height:21px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/logo_members.png") no-repeat; background-size:100% 100%;  }

#members .f_explain { padding:15px 20px; font-weight:bold; font-size:15px; color:#fff; background-color:#1b2b30; }



#members .guide > ul > li > a { position:relative; display:block; text-decoration:none; background-color:#34ac9f;  }

#members .guide > ul > li > a:after { position:absolute; top:0; right:0; bottom:0; width:35px; background:#365153 url("https://img.modetour.com/ModeMobile/2014/mileage/ico_down_arr.png") no-repeat 50% 50%; content:''; }

#members .guide > ul > li > a.unfold:after {

	-webkit-transform: rotate(180deg);

	-moz-transform: rotate(180deg);

	-o-transform: rotate(180deg);

	-ms-transform: rotate(180deg);

	transform: rotate(180deg)

}

#members .guide h2 { position:relative; padding:10px; font-size:15px; }

#members .guide h2:after{ position:absolute; top:0; right:0; display:block;  }

#members .guide a h2 { color:#fff; }

#members .guide h3 { position:relative; padding:9px 0 8px 35px; font-size:15px; color:#122021; border-top:1px solid #ececec; border-bottom:1px solid #ececec; background-color:#f3f3f3; }

#members .guide h3:before { position:absolute; top:50%; left:20px; margin-top:-6px; display:block; width:11px; height:11px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/bu_circle.png") no-repeat; background-size:100% 100%; content:''; }

#members .guide h3.fix:before { top:11px; margin-top:0; }

#members .guide .contents h3:first-child { border-top:0; }

#members .guide .special_letters { font-size:12px; }

#members .guide .desc { padding:10px 7% 10px 8%; font-size:11px; line-height:1.5em; color:#666; background-color:#fafafa; }

#members .guide .chk { position: relative; }

#members .guide .chk:before { margin-right:5px; float:left; display:block; width:14px; height:12px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/ico_checkbox.png") no-repeat; background-size:14px auto; content:''; }

#members .guide ul.use li { padding:10px; font-size:11px; color:#666; border-top:1px solid #ebebeb; box-sizing:border-box; }

#members .guide ul.use li:first-child { position:relative; padding-left:40px; color:#2c2c2c; border-top:0; }

#members .guide ul.use li:first-child:before { position:absolute; top:50%; left:30px; margin-top:-1px; display:block; width:2px; height:2px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/bu_sq_gray.png") no-repeat 0 0; background-size:100% 100%;  content:''; }

#members .guide ul.use li.chk { padding-left:35px; }

#members .guide ul.bullet_sq li { position:relative; padding-left:8px; font-size:11px; }

#members .guide ul.bullet_sq li:before{ position:absolute; top:50%; left:0; margin-top:-1px; display:block; width:2px; height:2px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/bu_sq_gray.png") no-repeat 0 0; background-size:100% 100%;  content:''; }

#members .guide ul.bullet_sq.join li { margin-bottom:5px; }

#members .guide ul.bullet_sq.join li:before,

#members .guide ul.bullet_sq.fix li:before { top:6px; margin-top:0; }

#members .guide p.bullet_sq { position:relative; padding-left:8px; font-size:11px; }

#members .guide p.bullet_sq:before { position:absolute; top:7px; left:0; display:block; width:2px; height:2px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/bu_sq_gray.png") no-repeat 0 0; background-size:100% 100%;  content:''; }

#members .guide .accumulate { padding:14px; margin:10px 0; border:1px solid #bdbdbd; border-radius:4px 4px 4px 4px; box-sizing:border-box; }

#members .guide .accumulate:after { display:block; clear:both;  content:''; }

#members .guide .accumulate > div { float:left; width:50%; height:76px; font-size:10px; text-align:center; box-sizing:border-box; }

#members .guide .accumulate > div.top { border-bottom:1px solid #e4e4e4; }

#members .guide .accumulate > div.bd_r { border-right:1px solid #e4e4e4; }

#members .guide .accumulate > div:before { margin:0 auto 10px; display:block; content:''; }

#members .guide .accumulate > div.reserv1 { padding-top:13px; }

#members .guide .accumulate > div.reserv1:before { width:30px; height:31px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/ico_reserv1.png") no-repeat 50% 0; background-size:100% 100%; }

#members .guide .accumulate > div.reserv2 { padding-top:7px; }

#members .guide .accumulate > div.reserv2:before { width:26px; height:37px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/ico_reserv2.png") no-repeat 50% 0; background-size:100% 100%; }

#members .guide .accumulate > div.reserv3,

#members .guide .accumulate > div.reserv4 { padding-top:15px; }

#members .guide .accumulate > div.reserv3:before { width:34px; height:30px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/ico_reserv3.png") no-repeat 50% 0; background-size:100% 100%; }

#members .guide .accumulate > div.reserv4:before { width:41px; height:31px; background:url("https://img.modetour.com/ModeMobile/2014/mileage/ico_reserv4.png") no-repeat 50% 0; background-size:100% 100%; }

#members .guide .app_link { position:relative; height:130px; box-sizing:border-box; }

#members .guide .app_link a { position:absolute; display:block; width:97px; height:55px; }

#members .guide .app_link a:before { display:block; width:97px; height:55px; background-repeat:no-repeat; background-size:97px auto; content:''; }

#members .guide .app_link a.syrup { top:0; left:50%; margin-left:-105px; }

#members .guide .app_link a.syrup:before { background-image:url("https://img.modetour.com/ModeMobile/2014/mileage/btn_syrup.png"); }

#members .guide .app_link a.yap { top:0; right:50%; margin-right:-105px; }

#members .guide .app_link a.yap:before { background-image:url("https://img.modetour.com/ModeMobile/2014/mileage/btn_yap.png"); }

#members .guide .app_link a.lgu { bottom:10px; left:5%; }

#members .guide .app_link a.lgu:before { background-image:url("https://img.modetour.com/ModeMobile/2014/mileage/btn_lgu.png"); }

#members .guide .app_link a.shincard { bottom:10px; left:50%; margin-left:-48px; }

#members .guide .app_link a.shincard:before { background-image:url("https://img.modetour.com/ModeMobile/2014/mileage/btn_shincard.png"); }

#members .guide .app_link a.moca { right:5%; bottom:10px; }

#members .guide .app_link a.moca:before { background-image:url("https://img.modetour.com/ModeMobile/2014/mileage/btn_moca.png"); }

#members .guide .important { color:#ff4343; }



