@import "_import";
// layout
html, body {height:100%;}
body > div {height:100%;}
.wrap {position:relative; width:100%; height:100%; overflow:hidden;
	display:flex; flex-direction:column;
	-webkit-display:flex; -webkit-flex-direction:column;
	-moz-display:flex; -moz-flex-direction:column;
	-ms-display:flex; -ms-flex-direction:column;background-color:$white-color;
}
#header {overflow:hidden;position:relative;width:100%;min-height:45px;text-align:right;border-bottom:1px solid #cccccc;@include border-box;
	.link_home {position:absolute;left:50%;top:0;width:190px;padding:8px 0 12px;margin-left:-83px;text-align:center;
		.ico_comm {margin:0 3px 0 0; @include ico-comm(22px, 20px, -150px, -64px);vertical-align:middle;}
		.ico_drville {margin:1px 0 0;@include ico-comm(92px, 25px, 0, -62px);vertical-align:middle;}
		.h_tit {display:inline-block;position:static;padding:0;vertical-align:middle;}
		.ico_logo {@include ico-comm(27px,27px,-150px,-390px);margin-right:5px;vertical-align:top;}
	}
	.h_tit {position:absolute;left:45px;right:45px;margin:0;padding:8px 0 10px;font-size:$font-l;font-weight:bold;color:$tit-color;text-align:center;}
	.ico_logo {@include ico-comm(27px,27px,-150px,-390px);margin-right:5px;vertical-align:top;}
	.btn_menu {float:left;@include ico-comm(45px,45px,0,-95px);}
	.btn_back {float:left;@include ico-comm(45px,45px,-50px,-95px);}
	.btn_search {@include ico-comm(45px,45px,-100px,-95px);
		+ .btn_write {width:40px;background-position-x:-155px;}
	}
	.btn_close {float:left;@include ico-comm(45px,40px,-200px,-95px);}
	.btn_write {@include ico-comm(45px,44px,-150px,-95px);}
}
#container {position:relative;overflow-x:hidden;overflow-y:auto;word-wrap:break-word; flex:1; -webkit-flex:1; -moz-flex:1; -ms-flex:1; -webkit-overflow-scrolling:touch;
	&.layer_box {
		img {max-width:100%;margin:0 auto;}
	}
}
.content_box {position:relative;width:100%;padding:20px 15px;@include border-box;clear:both;
	&.w_full {padding:0;border-top:0;
		+.content_box {border-top:0;}
		.btn_more {margin:15px;}
	}
	&.gray_box {padding:20px;background-color:#f9f9f9;color:$black-color;border-bottom:1px solid #e8e8e8;}
	+.content_box {margin-top:10px;border-top:1px solid $border-color;}
	.btn_more {margin:15px 0;}
	.btn_search {position:absolute;right:15px;top:13px;}
	.s_tit {
		.txt_red {color:$red-color;font-weight:bold;}
	}
}
#footer {height:71px;padding:10px 0;background-color:#f6f6f7;text-align:center;@include border-box;
	img {vertical-align:middle;}
	address {display:inline-block;margin:3px 0 0 5px;font-size:0.813rem;color:$gray-color;vertical-align:middle;}
	.txt_bar {margin:0 3px;color:#555861;}
	.footer_menu {line-height:1.3;
		+ .footer_menu {margin-bottom:8px;}
		.txt {display:inline;color:$gray-color;font-size:0.813rem;vertical-align:middle;}
		.link_num {display:inline-block;color:$main-color;text-decoration:underline;}
	}
	.footer_logo {display:inline-block; @include ico-comm(48px,12px,-182px,0);vertical-align:middle;}
}
// common
.drville_logo {display:block;margin:0 auto; @include ico-comm(150px,40px,-100px,-350px);}
.s_tit {margin-bottom:15px;font-size:$font-l;font-weight:bold;color:$tit-color;
	.total_num {color:$orange-color;font-size:$font-m;}
}
.bnr_link {display:block;margin-top:7px;text-align:center;
	img {max-width:100%;}
}
.txt_attention {clear:both;padding-top:3px;font-size:0.813rem;color:$red-color;}
// txt_notice
.txt_notice {position:relative;font-size:$font-s;color:$dark-color;margin-left:20px;
	.ico_comm {position:absolute;top:4px;left:-20px;@include ico-comm(18px,16px,-140px,-267px);
		&.ico_gray {top:1px;left:-22px;@include ico-comm(18px,18px,-200px,-267px);}
	}
}
.list_notice {margin:5px 0;color:$gray-color;font-size:$font-ss;@include keep-all;}
// alert_text
.alert_error {color:#ff0000;font-size:$font-s;clear:both}
.alert_right {color:#1aa0f9;font-size:$font-s;clear:both}
.img_w100 {display:block;text-align:center;
	img {max-width:100%;}
}
// member_login
.center {display:table;width:100%;height:100%;
	.inner {display:table-cell;vertical-align:middle;}
}
.frame_wrap {width:100%;height:100%;margin:0 auto;border-top:0;@include border-box;
	#footer {display:none;}
}
.login_container {width:100%;height:100%;margin:0 auto;border-top:0;@include border-box;
	.center {height:calc(100% - 71px);padding:10px 20px;@include border-box;text-align:center;}
	.txt_info {color:$black-color;}
	.s_tit {margin:30px 0 10px;font-size:$font-xl;font-weight:normal;text-align:center;}
	.txt_info {text-align:center;letter-spacing:-1px; @include keep-all;color:$gray-color;line-height:1.3;
		strong {font-weight:bold;}
	}
	.drville_logo {margin-bottom:20px;}
	.txt_info {color:$black-color; @include keep-all;}
	.login_box {overflow:hidden;margin:30px 0 0;
		input[type="text"], input[type="password"] {display:block;width:100%;height:43px;padding:0 15px;line-height:43px;border:1px solid $border-color;border-radius:2px 2px 0 0;@include border-box;}
		input[type="password"] {margin-top:-1px;border-radius:0 0 2px 2px;}
		.btn_login {display:block;width:100%;height:50px;margin:10px 0 15px;background-color:#dededf;color:#999999;line-height:50px;
		&.btn_blue {background-color:$main-color;color:$white-color}
		}
		.login_option {display:block;overflow:hidden;margin-bottom:8px;text-align:right;
			a {display:inline-block;margin-top:2px;font-size:$font-s;vertical-align:middle;}
			.link_find {text-decoration:underline}
			.inp_chk_circle {float:left;letter-spacing:-1px;
				label {color:$gray-color;font-size:$font-s}
			}
		}
		.join_box{margin-top:15px;padding-top:15px;border-top:1px solid $border-color;text-align:center;
				 .txt_join {color:$black-color;letter-spacing:-1.5px;
					 .txt_gray {display:block;color:$gray-color;font-size:$font-s}
				 }
				 .btn_join {color:$main-color;font-size:$font-s;text-decoration:underline}
			 }
		.txt_attention {padding-bottom:6px;text-align:left;}
	}
	.btn_wrap {margin-top:40px;}
	.btn_start {width:100%;height:45px;margin-top:10px;line-height:45px;padding:0;font-size:1rem;border-radius:3px;}
}
// member_join
#container.member_container {padding:20px 15px 60px;@include border-box;}
.member_container {
	.s_tit {margin-bottom:15px;font-size:$font-xl;font-weight:normal;text-align:center;@include keep-all;
		em {color:$main-color;}
	}
	.txt_info {color:$gray-color;line-height:1.3;text-align:center;font-size:$font-s;@include keep-all;
		strong {font-weight:bold;}
		.tel {display:block;color:$main-color;text-decoration:underline;}
		&.txt_bl {margin-top:10px;color:$dark-color;font-size:$font-l;
		em {color:$main-color;}
		}
		+ .txt_info {margin-top:20px;}
	}
	.etc_info {margin:30px 0 10px;border-top:1px solid $border-color;
		.tit_info {display:block;padding:30px 0 5px;font-size:$font-l;font-weight:bold;color:$black-color;}
		.txt_info {text-align:left;}
	}
	.agree_all_chk {margin:15px 0;
		label {font-size:$font-l;font-weight:bold;}
		+ p {margin-bottom:20px;font-size:$font-s;color:$black-color;text-align:center;}
	}
	.agree_box {margin-bottom:15px;border:1px solid $border-color;border-radius:2px;background-color:$white-color;
		.inp_chk_circle {padding:10px;border-bottom:1px solid $border-color;
			label {font-weight:bold;letter-spacing:-1px;
				span {color:$main-color;font-size:$font-s}
			}
		}
		+ .btn_wrap {margin-top:0;
			.btn_blue {}
		}
	}
	.ico_join01 {display:block;margin:30px auto 10px;@include ico-comm(180px, 180px, 0, -430px);}
	.ico_join02 {display:block;margin:30px auto 10px;@include ico-comm(180px, 180px, 0, -630px);}
	.ico_join02_01 {display:block;margin:30px auto 10px;@include ico-comm(180px, 180px, 0, -1830px);}
	.ico_join03 {display:block;margin:30px auto 10px;@include ico-comm(180px, 180px, 0, -830px);}
	.ico_dormant01 {display:block;margin:30px auto 10px;@include ico-comm(180px, 180px, 0, -1030px);}
	.ico_dormant02 {display:block;margin:30px auto 10px;@include ico-comm(180px, 180px, 0, -1230px);}
	.ico_error {display:block;margin:30px auto 10px;@include ico-comm(180px, 180px, 0, -1430px);}
	.btn_wrap {position:fixed;bottom:0;left:0;
		+ .txt_info {margin-top:10px;font-size:$font-s}
		&.btn_w50 {padding:0;}
	}
	.txt_box {overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;height:150px;margin:10px;padding:10px;background-color:#f3f3f3 ;font-size:$font-s;line-height:1.3;}
}
.join_write {
	+ .join_write .s_tit {margin:30px 0 20px;}
	.s_tit {font-size:$font-l;font-weight:bold;text-align:left;}
	.join_row {width:100%;margin-top:6px;padding:0 5px;@include border-box;//overflow:hidden;
		 &:after {display:block;content:'';clear:both;}
		.select_type + .inp_txt {margin-top:-1px;}
		.alert_error {color:#ff0000;font-size:$font-s;clear:both}
		.alert_right {color:#1aa0f9;font-size:$font-s;clear:both}
	}
	.join_tit {display:block;width:100%;margin-top:10px;font-size:$font-m;color:$black-color;font-weight:bold;@include border-box;
		label {color:$black-color;}
		+ .btn_type2 {width:70%;}
		&.ico_must:after {display:inline-block;content:'*';margin-left:5px;color:$red-color;vertical-align:middle}
	}
	.join_area {float:left;width:70%}
	.inp_txt {float:left;@include border-box;
		&.inp_w100 {width:100%;margin-top:-1px;
		}
	}
	.select_type {width:100%;margin-top:-1px;
		+ .inp_w100 {margin-top:-1px;}
	}
	.txt_info {clear:both;padding-top:5px;text-align:left;line-height:1.3;}
	.not_modify_row {padding-top:5px;padding-bottom:5px;
		.inp_txt {width:49%;font-size:$font-m;color:$gray-color;background-color:#f0f0f0;
			 + .inp_txt {margin-left:2%;}
		 }
	}
	.birth_row {clear:both;margin-top:12px;
		.join_tit {
			+ .select_type {width:29%;margin-left:0;}
		}
		.select_type {float:left;width:24%;margin-left:-1px;margin-top:0;}
		.birth_choice {float:right;width:23%;text-align:center;}
	}
	.id_row {
		.inp_txt {width:78%;}
		.btn_type4 {float:right;width:20%;height:45px;font-size:$font-s;letter-spacing:-0.5px;background-color:$main-color;color:$white-color;border-color:$main-color;
			&.btn_blue {}
		}
	}
	.info_chk_row {margin-top:15px;
		.join_tit {float:none;display:block;width:100%;margin:0 0 5px;}
		.join_area {width:100%;
			.inp_chk_circle {float:left;width:50%;
				label {font-weight:bold;}
			}
		}
	}
	.inp_file {
		.btn_type4 {width:49%;height:45px;
			.ico_comm {margin:6px 7px 0 0;}
		}
		.file_name {overflow:hidden;margin-top:5px;width:100%;height:40px;padding:9px 7px 6px;border:0;background-color:#f0f0f0;color:$base-color;text-align:left;
			em {display:inline-block;overflow:hidden;width:90%;white-space:nowrap;text-overflow:ellipsis;}
			.ico_del {float:right;padding:4px 0 5px;margin:0;@include border-box;background-position-y:-238px;}
		}
		.file_txt {clear:both;padding-top:5px;font-size:$font-s;color:$gray-color;}
	}
	.ico_loading {margin-top:5px;background-color:#f0f0f0;}
}
.terms_content{
	li {line-height:1.3;
		 .txt_num {margin-left:-15px}
	 }
	.desc_type1 {padding-top:8px;letter-spacing:-0.5px}
	.tit_article {display:block;padding-top:20px;font-weight:bold;color:$black-color;
		&:first-child {padding-top:0;}
	}
	.list_type2 { margin-top:10px;padding:20px 18px;border:4px solid $border-color;line-height:20px;letter-spacing:-0.5px}
	.list_type2 em {font-weight:bold}
	.list_type3 {padding-top:10px;line-height:20px}
	.list_type3 > li {padding-left:15px;letter-spacing:-0.5px}
	.tbl_userinfo {width:100%;margin-top:10px;border:1px solid #e4e4e4;border-top:0 none;border-right:0 none;text-align:center;
		th {padding:5px 0;font-size:$font-s;background:#f2f4f5;border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4;vertical-align:middle;}
		tbody td {padding:5px 0;font-size:$font-s;border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4;vertical-align:middle;}
	}
}
// member_info
.member_info_container {
	.s_tit {padding-bottom:10px;border-bottom:1px solid $border-color;}
	table {overflow:hidden;padding:10px 0;text-align:left;}
	tr:first-child {
		th, td {border-top:0;}
	}
	th {padding:10px 0;font-weight:normal;border-top:1px solid $border-color;vertical-align:middle;}
	td {padding:13px 10px;font-size:$font-l;color:$black-color;border-top:1px solid $border-color;word-wrap:break-word;}
	.edit_nick{
		input[type="text"] {display:inline-block;width:70%;height:45px;font-size:$font-l;line-height:1.2;}
		.btn_type2 {width:25%;}
		.txt_info {padding-left:10px;text-indent:-10px;
			&:first-of-type {margin-top:10px;}
		}
	}
	.txt_info {padding-left:0;padding-right:0;font-size:$font-s;color:$gray-color;
		em {color:$main-color;}
	}
}
// terms
.terms_container {padding:45px 20px;}
// menu
.menu {background-color:#f6f6f6;
	#header {display:none;}
	.content_box {padding:25px 15px;}
	.info_head {min-height:55px;padding:20px 15px;border-bottom:1px solid #dededf;background-color:$white-color;text-align:left;
		.my_info {display:block;overflow:hidden;padding-bottom:15px;
			.name {display:inline-block;margin:10px 0;font-weight:bold;color:$black-color;}
			.nickname {display:inline-block;margin:10px 0;font-size:$font-s;}
			.my_photo {float:left;position:relative;overflow:hidden;width:42px;height:42px;margin-right:20px;border:1px solid #cfdae8;background-color:#d9e7f3;border-radius:21px;-webkit-border-radius:25px;-ms-border-radius:25px;-moz-border-radius:25px;
				figure {position:absolute;top:0;left:0;right:0;bottom:0;-webkit-transform:translate(50%,50%);-ms-transform:translate(50%,50%);transform:translate(50%,50%);
					img {height:100%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
				}
			}
		}
		.my_point {display:block;line-height:1;padding-top:15px;border-top:1px solid $border-color;
			.txt {float:left;margin:5px;font-size:$font-s;letter-spacing:-1px;}
			.point {font-weight:bold;color:$orange-color;font-size:$font-xl;}
			.btn {display:block;float:right;height:20px;padding:5px 10px 0;border:1px solid $black-color;color:$black-color;font-size:$font-s;}
		}
	}
	.gnb {padding-bottom:62px;
		.list_gnb {padding:0 15px;border-bottom:1px solid #dededf;background-color:$white-color;
			li {border-bottom:1px solid #f5f5f5;@include border-box;background-color:$white-color;
				&:last-child {border:0}
				a {display:block;padding:13px 0;color:$black-color}
			}
		&.w_50 {overflow:hidden;margin-top:6px;padding:0;border-top:1px solid #dededf;
			li {float:left;width:50%;min-height:49px;
				a {padding:13px;}
				&:nth-child(2n-1) {border-right:1px solid #f5f5f5;
					&:nth-last-of-type(2) {border-bottom:0}
				}
				//&:last-child {border-right-color:#dededf;border-bottom:1px solid #dededf;}
				//&:nth-last-of-type(2) {border-bottom-color:#dededf}
			}
		}
		}
	}
	.info_head_v2 {
		.my_info {display:block;overflow:hidden;position:fixed;top:0;width:100%;padding:15px;background-color:#435366;
			.name {display:inline-block;margin:10px 0;font-weight:bold;color:$white-color;}
			.nickname {display:inline-block;margin:10px 0;font-size:$font-s;color:#b2bcc8;}
			.my_photo {float:left;position:relative;overflow:hidden;width:42px;height:42px;margin-right:20px;border:1px solid #cfdae8;background-color:#d9e7f3;border-radius:21px;-webkit-border-radius:25px;-ms-border-radius:25px;-moz-border-radius:25px;
				figure {position:absolute;top:0;left:0;right:0;bottom:0;-webkit-transform:translate(50%,50%);-ms-transform:translate(50%,50%);transform:translate(50%,50%);
					img {height:100%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
				}
			}
		}
		.my_point {display:block;line-height:1;padding:89px 15px 15px;border-top:1px solid $border-color;border-bottom:1px solid $border-color;background-color:$white-color;
			.txt {float:left;margin:5px;font-size:$font-s;color:$tit-color;letter-spacing:-1px;}
			.point {font-weight:bold;color:$orange-color;font-size:$font-xl;}
			.btn {display:block;float:right;height:20px;padding:5px 10px 0;border:1px solid $black-color;color:$tit-color;font-size:$font-s;}
			.ico_point {margin-right:10px;@include ico-comm(19px,19px,-185px,-695px);}
		}
	}
	.gnb_v2{padding-bottom:60px;
		.list_gnb{overflow:hidden;background-color:$white-color;border-bottom:1px solid #cccccc;
			li{@include border-box;
				> strong {display:block;padding:2px 13px;border-top:1px solid #ccc;border-bottom:1px solid $border-color;background-color:#f9f9f9;clear:both;font-size:$font-s;}
				a {display:block;padding:13px;color:$tit-color;}
				.ico_home {margin:2px 10px 0 0;@include ico-comm(21px,19px,-205px,-695px);}
				.ico_attend {margin:3px 10px 0 0;@include ico-comm(18px,19px,-230px,-695px);}
				&.menu_top {overflow:hidden;padding:10px 0;min-height:55px;
					a {float:left;width:calc(50% - 27px);padding:5px 13px;border-left:1px solid $border-color;
						&:first-child {border:0;}
					}
				}
				&.twoline {
					a {padding:1px 13px;}
				}
			}
		}
		.list_lnb li {float:left;width:50%;min-height:49px;
			/*border-top:1px solid #f5f5f5;
			&:nth-child(2n) {border-left:1px solid #f5f5f5;}
			&:nth-child(-n+2) {border-top:0;}*/
			a{border-right:1px solid #f5f5f5;border-bottom:1px solid #f5f5f5;}
			&:nth-child(2n) {
				a {border-right:0;}
			}
		}
	}
	.btn_wrap {position:fixed;bottom:0;left:0;padding:10px 0;background-color:#efefef;border-top:1px solid #dededf;
		a {height:35px;line-height:35px;color:$dark-color;font-size:$font-s;@include border-box;
		&:first-child {border-right:1px solid #dededf;}
			.ico_comm {margin:10px 8px 0 0;
				&.ico_pcuse {@include ico-comm(18px,20px,-200px,-485px);}
				&.ico_out {@include ico-comm(18px,20px,-230px,-485px);}
			}
		}
	}
	.center {height:calc(100% - 355px);
		.inner {text-align:center;
			.ico_pc {display:block;margin:0 auto;@include ico-comm(50px,50px,-200px,-430px);}
		}
	}
	.btn_close {position:fixed;top:17px;right:15px;@include ico-comm(45px,40px,-80px,-292px);}
}
.favorite_list li {position:relative;padding-left:30px;
	&:first-child .inp_chk {top:21px;}
	.inp_chk {position:absolute;top:35px;left:0;
		label{font-size:0;line-height:0;
		&:before {margin-right:0;}
		}
	}
}
.chk_all {margin-top:14px;padding-top:14px;border-top:1px solid $border-color;
	.inp_chk {display:inline-block;margin-top:-3px;margin-right:5px;vertical-align:middle;}
	.btn_type4 {vertical-align:middle;}
}
// add_file
.btn_img_txt {display:block;font-size:$font-s;text-align:center;}
.btn_img {display:block;width:100%;padding:10px 0;border-top:1px solid $border-color;background-color:$white-color;text-align:center;font-size:$font-l;font-weight:bold;
	.ico_img {@include ico-comm(30px,24px,0,-292px);margin:7px 5px 0 0;}
	.ico_cam {@include ico-comm(30px,28px,-35px,-292px);margin:4px 5px 0 0;}
}
//list
.list_detail {position:relative;overflow:hidden;display:block;padding:7px 0;border-bottom:1px solid $border-color;
	.list_cont {width:100%;
		.category {font-size:$font-ss;color:$seminar-color;}
		.tit {display:block;font-size:$font-m;color:$dark-color;font-weight:bold;@include ellipsis(100%, 20px, 20px, 2);@include keep-all;max-height:40px;vertical-align:middle;}
		.tail {font-size:$font-ss;color:$gray-color;}
		.list_tit {display:block;
			.tit {display:inline-block;overflow:hidden;width:auto;max-width:calc(100% - 35px);text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
			.ico_new {display:inline-block;margin-left:5px;padding:0 5px;background-color:$red-color;font-weight:bold;font-size:$font-ss;color:$white-color;text-align:center;vertical-align:middle;border-radius:50%;}
			.ico_notice {display:inline-block;margin-left:3px;padding:0 3px 1px;background-color:#6861ff;font-size:$font-ss;color:$white-color;text-align:center;vertical-align:middle;}
		}
		.tag01 {color:#fff;font-size:.75rem;background-color:#876ae1;width: 3rem;height: 1.2rem;line-height: 1.2rem;margin-left: 0.3rem;text-align:center;display:inline-block;}
	}
}
.image_list {
	.list_cont {display:inline-block;width:67%;vertical-align:middle}
	.img {display:inline-block;width:30%;height:auto;vertical-align:middle;
		img {width:100%;height:100%;}
	}
}
.box_list {overflow:hidden;
	.list_detail {float:left;width:49%;padding:0;border:0;
		& + .list_detail {margin-left:2%;}
		.list_cont {padding:10px 0;}
		.img {display:block;width:100%;
			img {width:100%;height:100%;}
		}
	}
}
.oneline_list {
	.list_detail {padding:17px 0;}
	.s_tit + {}
}
.onebox_cont {overflow:hidden;padding:0;height:200px;
	.box_cont {display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:80%;height:100px;margin:auto;text-align:center;z-index:2;
		.tit {margin:5px 0;color:$white-color;font-size:$font-l;font-weight:bold;@include keep-all;@include ellipsis(100%, 25px, 25px, 2)}
		.tail {display:block;font-size:$font-s;color:#bbb;}
	}
	.img {position:relative;height:100%;
		img {width:100%;height:100%;}
		&:after {position:absolute;top:0;left:0;right:0;bottom:0;display:block;content:'';width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5);z-index:1}
	}
}
//images size
.resize {display:block;position:relative;width:100%;padding-bottom:70.422535%;margin:0 auto;overflow:hidden;
	.wImg{height:100%;position:absolute;top:0;left:50%;
		-webkit-transform:translate(-50%,0);
		-moz-transform:translate(-50%,0);
		-o-transform:translate(-50%,0);
		-ms-transform:translate(-50%,0);
		transform:translate(-50%,0);
	}
	.hImg{width:100%;position:absolute;top:50%;left:0;
		-webkit-transform:translate(0,-50%);
		-moz-transform:translate(0,-50%);
		-o-transform:translate(0,-50%);
		-ms-transform:translate(0,-50%);
		transform:translate(0,-50%);
	}
}
// live_seminar
.seminar {
	.content_box:first-child {padding-top:0;}
	.btn_wrap + .btn_wrap {margin-top:10px;}
	.nodata {padding:30px 0;text-align:center;}
	.seminar_day {margin-top:20px;border-bottom:1px solid $dark-color;color:$dark-color;line-height:2;
		.date {width:60px;margin-right:20px;font-size:$font-l;font-weight:bold;}
		.day {font-size:$font-m;width:calc(100% - 60px);}
	}
	&:last-child {padding-bottom:10px;}
	.tab_type2 {display:block;margin-bottom:15px;
		li {display:block;float:left;width:25%;border-left-color:#f8f8fa;@include border-box;
			&:first-child {border-left-color:#e0e0e0;}
			&:nth-child(5) {border-left-color:#e0e0e0;}
			&:nth-child(-n+2) {border-bottom-color:#f8f8fa;}
			&.on {border-color:#4a70d1;}
		}
	}
	.tab_cont {
		 .seminar_list:first-child {
			 .list_detail {border-top:1px solid #e0e0e0}
		 }
	 }
	.select_type {margin-bottom:15px;
		+ .seminar_list {border-top:1px solid $border-color;}
	}
	.slide_list {padding-bottom:0;margin-top:15px;
		.seminar_list {padding-bottom:30px;}
	}
}
.live_cont{position:relative;overflow:hidden;display:block;height:170px;background-image:url('../images/m640/bg_seminar_ptn.png');color:$white-color;
	.ico_live {display:inline-block;height:24px;padding:0 15px;font-family:verdana, Tahoma;font-size:$font-ss;font-weight:bold;line-height:22px;background-color:#0fdea7;color:$white-color;font-style:italic;vertical-align:top;
		&.onair {background-color:#f94040;
			&:after {display:inline-block;content:'';width:4px;height:4px;margin-left:6px;background-color:$white-color;border-radius:50%;vertical-align:middle;}
		}
		&.next {background-color:#18cbff;}
	}
	.img_doctor {position:absolute;bottom:0;right:0;display:block;width:150px;height:150px;background:url('../images/m640/bg_seminar_logo.png') no-repeat bottomv right;background-size:150px 150px;
		img {width:100%;height:100%;}
	}
	.info {position:relative;padding:25px 15px;z-index:2;}
	.category {display:block;font-size:$font-ss;color:#6d97ff;}
	.tit {margin:2px 0;font-size:$font-l;font-weight:bold;@include ellipsis(65%, 26px, 26px, 2);max-height:52px;}
	.date {display:block;font-size:$font-m;font-family:verdana, Tahoma, 'Helvetica', 'Arial';letter-spacing:-1px;}
}
.bnr_attend {display:block;background-color:#67bdf9;
	img{width:100%;}
}
.seminar_list {
	.list_detail {
		.time {display:block;float:left;width:50px;margin-top:5px;font-size:$font-m;text-align:center;
			+ .list_cont {float:right;width:calc(100% - 65px);}
		}
		.progress {display:block;position:absolute;left:0;top:40px;width:50px;font-size:$font-ss;text-align:center;
			&.ico_apply {color:#e95f5f;}
			&.ico_completion {color:#43c5a2;}
			&.ico_enter {color:#4898d0;}
			&.ico_end {color:#818ea0;}
		}
	}
}
.seminar_list.no_replay * {color:$gray-color !important;}
// seminar_slide
.slide_list {
	.list_detail {display:table;border-bottom:0;
		.img {display:table-cell;width:40%;vertical-align:middle;
		}
		.list_cont {display:table-cell;width:58%;vertical-align:middle;
			.list_tit {margin-right:15px;
				strong {display:table-cell;max-width:100%;margin-right:5px;font-size:$font-m;color:$dark-color;font-weight:bold;@include ellipsis(100%, 40px, 20px, 2);vertical-align:middle;white-space:inherit;}
			}
		}
	}
	img {width:100%;}
	.swiper-pagination-bullets{height:20px;z-index:10;
		.swiper-pagination-bullet {background:#d8dee5;opacity:1;
			&.swiper-pagination-bullet-active {background-color:$seminar-color;}
		}
	}
}
// seminar_view
.seminar_view {
	img {max-width:100% !important;margin:0 auto;}
}
 .wrap_info {position:relative;padding-top:40px;text-align:center;
	.category {display:block;font-size:$font-s;color:$seminar-color;}
	.tit {width:80%;margin:0 auto 10px;font-size:$font-l;color:$black-color;font-weight:bold;@include keep-all;}
	.date {color:$black-color;}
	.tail {font-size:$font-s;color:$black-color;}
	.doctor {position:relative;margin:20px;
		.img_doc {position:relative;overflow:hidden;width:80px;height:80px;margin:20px auto 10px;border:1px solid #cfdae8;background-color:#d9e7f3;-webkit-border-radius:40px;-ms-border-radius:40px;-moz-border-radius:40px;border-radius:40px;z-index:1;
			figure {position:absolute;top:0;left:0;right:0;bottom:0;-webkit-transform:translate(50%,50%);-ms-transform:translate(50%,50%);transform:translate(50%,50%);
				img {height:100%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
			}
		}
		.name {font-size:$font-ss;color:$gray-color}
		.btn_down {position:absolute;top:0;right:0;padding:5px 10px;font-size:$font-ss;color:$dark-color;
			.ico_down2 {margin:3px 0 4px 3px}
		}
	}
	.apply {position:absolute;top:15px;right:0;font-size:$font-ss;font-weight:bold;color:$dark-color;
		.total {font-weight:normal;color:$gray-color}
	}
	.servey_wrap {//margin-top:10px;
		.txt_notice {margin-top:15px;text-align:left;
			+ a {margin-top:15px;}
		}
	}
}
// seminar_QnA
.qna {
	.q_info {text-align:center;font-size:$font-s;background:url(../images/m640/bg_qa_top_ptn.gif) repeat;background-size:50%;
		.txt {margin-bottom:20px;letter-spacing:-1px;@include keep-all;color:$white-color;font-size:$font-l;
			span {color:#45bfff;}
		}
		+.content_box {margin-top:0;}
	}
	.s_tit {padding:0px 15px;margin:20px 0 0 0;}
	.s_txt {text-align:center;}
	.q_list {margin-top:15px;
		li {width:100%;overflow:hidden;}
		.q_box {position:relative;padding:15px 0;margin:0 15px;border-top:1px solid #ededed;
			.btn_comment_view {font-size:$font-s;padding:5px 10px;
				.txt_red {color:$red-color;font-weight:bold;}
			}
			&.q_private {
				.name {color:$dark-color;}
				.txt {color:$gray-color;}
			}
			.ico_private {@include ico-comm(11px,17px,-60px,-242px);margin-top:5px;}
		}
		.name {color:$seminar-color;font-size:$font-s}
		.time {color:$gray-color;font-size:$font-ss}
		.txt {padding:5px 0 10px;color:$dark-color;}
		.btn {position:absolute;top:20px;right:15px;font-size:$font-ss;color:$gray-color;
			a {display:inline-block;color:$dark-color;}
		}
	}
	.comment {display:none;background-color:#f9f9f9;
		.q_button {padding:15px;
			.btn_q_write {background-color:$sub-btn01;border-color:$sub-btn01;}
		}
		.q_box {position:relative;margin:0;margin-left:20px;padding-left:20px;
			&:before {display:inline-block;position:absolute;top:20px;left:0px;content:'';width:9px;height:9px;border-left:1px solid $gray-color;border-bottom:1px solid $gray-color;}
		}
	}

}
// question_write
.q_write {position:relative;
	.tf_cmt {display:block;padding:8px;width:100%;height:100px;background-color:$white-color;border:1px solid $border-color;}
	.info_append {position:absolute;right:15px;top:75px;color:$gray-color;font-size:$font-ss;
		em {font-weight:bold;color:$dark-color;}
	}
	.secret_choice {overflow:hidden;width:40%;margin-top:10px;text-align:center;
		.inp_rdo_box {
			input[type="radio"]{
				+ label {height:32px;padding:7px 0;border:1px solid $border-color;font-size:$font-ss;line-height:17px;vertical-align:middle;@include border-box;}
				&:checked + label {background-color:$white-color;color:#4779f6;border-color:#4779f6;}
				&:first-child {border-right-color:#4779f6;}
			}
			+.inp_rdo_box {margin-left:0;}
		}
	}
}
// attend
.attend {padding-bottom:30px;
	.mypoint {width:100%;height:70px;padding:30px 0;background:url('../images/m640/bg_attend.gif') no-repeat bottom right;background-size:cover;text-align:center;
		.this_month {color:$white-color;}
		.total_point {font-size:2rem;color:#f9ff5d;font-weight:bold;}
	}
	.today {padding:10px 0;text-align:center;
		span {color:$seminar-color;}
		.total_point {display:block;color:$black-color;font-size:$font-xl;font-weight:bold;letter-spacing:-1px;}
		.btn_check {width:50%;margin-top:15px;}
	}
	.days {border-top:1px solid $border-color;padding:0 15px;
		li {padding:15px 0;border-bottom:1px solid $border-color;color:$black-color;
			.point {float:right;
				&.complete {color:$orange-color;}
				&.end {color:$gray-color;}
			}
		}
	}
}
//player
.player_box {height:100%;
	&> div {height:100%;}
}
// search
.search {height:100%;
	.search_box {position:relative;width:100%;height:48px;padding:20px 15px;@include border-box;clear:both;
		.inp_search {float:left;width:80%;height:40px;padding:10px;font-weight:bold;color:$black-color;line-height:25px;@include border-box;}
		.btn_search {float:left;width:20%;height:40px;text-align:center;font-size:$font-s;background-color:$main-color;color:$white-color;
		}
	}
	.s_tit {
		+.seminar_list {border-top:1px solid $border-color}
		+ .oneline_list {border-top:1px solid $border-color}
	}
	.center {padding:25px;@include border-box;height:50%;
		.inner {text-align:center;color:$dark-color;
			.ico_nodata {display:block;margin:0 auto 20px;@include ico-comm(30px,30px,-200px,-510px);}
		&.nodata {padding:30px 0;border-top:1px solid $border-color;border-bottom:1px solid $border-color;font-size:$font-m;}
		}
	}
	.search_word {
		li {display:inline-block;padding:3px 6px 5px;background-color:#e1eaf5;font-size:$font-ss;
			a {color:#737e95;}
		}
	}
}
//full_slide
.full_slide {overflow:hidden;padding:0;height:220px;
	.list_cont {display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:80%;height:100px;margin:auto;text-align:center;z-index:2;
		.tit {margin:5px 0;color:$white-color;font-size:$font-l;font-weight:bold;@include keep-all;@include ellipsis(100%, 25px, 25px, 2)}
		.category {display:block;font-size:$font-s;color:#7da2ff}
		.tail {display:block;font-size:$font-s;color:#bbb;}
	}
	.badge {display:block;position:absolute;top:0;left:0;width:60px;background-color:#8261ff;font-size:$font-m;line-height:30px;text-align:center;color:$white-color;font-weight:bold;z-index:2}
	.img {position:relative;height:100%;
		img {width:100%;height:100%;}
		&:after {position:absolute;top:0;left:0;right:0;bottom:0;display:block;content:'';width:100%;height:100%;background-color:rgba(0, 0, 0, 0.5);z-index:1}
	}
	.swiper-container {height:220px;}
	.slide_cont {display:block;width:100%;height:220px;}
	+ .content_box {margin-top:0;}
	.swiper-pagination-bullets{height:20px;z-index:10;
		.swiper-pagination-bullet {background:#7f8081;opacity:1;
			&.swiper-pagination-bullet-active {background-color:#6b96ff;}
		}
	}
	&.news_slide {
		.badge {width:50px;line-height:25px;background-color:#ff3d3b;font-size:$font-ss;}
		.slide_cont {
			.list_cont {height:45px;}
			.badge {width:50px;background-color:#ff3d3b;font-size:$font-ss;line-height:25px;}
		}
	}
}
.cme {
	.s_tit + .list {border-top:1px solid $border-color;}
}
// view
.view {
	.view_head {padding-bottom:20px;border-bottom:1px solid $border-color;
		.category {font-size:$font-s;color:#7da2ff}
		.tit {display:block;color:$black-color;font-size:$font-l;color:$tit-color;font-weight:bold;@include keep-all;}
		.tail {display:inline-block;font-size:$font-ss;color:#999;
			&.period {display:block;}
		}
	}
	.edit_view {overflow-x:auto;padding:20px 0;font-size:$font-m;@include keep-all;
		img {max-width:100% !important;}
		//table {overflow: auto;}
	}
	.view_foot {padding-top:20px;border-top:1px solid $border-color;font-size:$font-s;
		.txt_notice {color:$gray-color}
		.btn_wrap {text-align:right;
			a {min-width:45px;padding:4px 0 3px;}
		}
	}
	+ .btn_comment {padding:20px 15px;background-color:#eeeeee;@include border-box;}
}
.page_head {text-align:center;font-size:$font-s;background-size:50%;
	.txt {margin-bottom:20px;letter-spacing:-1px;@include keep-all;color:$white-color;font-size:$font-l;
		span {color:#45bfff;}
		em {display:block;color:#feffad;font-size:$font-s;}
	}
	+.content_box {margin-top:0;}
	.ico_down_w {margin-top:17px;}
}
.insurance {
	.page_head {background-image:url(../images/m640/bg_qa_top_ptn.gif);background-repeat:repeat;background-size:50%;}
}
.freeboard {
	.page_head {background-image:url(../images/m640/bg_freeboard_top.jpg);background-repeat:no-repeat;background-size:cover;}
	.page_head.bg_issue {background-image:url(../images/m640/bg_issueboard_top.jpg);background-repeat:no-repeat;background-size:cover;}
	.btn_write {background-color:#18c5f6;}
	.s_tit + .oneline_list {border-top:1px solid $border-color}
	.oneline_list {
		.list_detail{overflow:inherit;
			.list_cont {width:calc(100% - 45px);
				.list_tit .ico_notice {margin-left:0;vertical-align:top;}
			}
			.comment_num {position:absolute;top:-1px;right:-15px;width:50px;height:100%;background-color:#f8f8fa;border-top:1px solid $border-color;border-bottom:1px solid $border-color;font-size:$font-ss;text-align:center;
				em {display:block;margin-top:15px;font-size:$font-l;color:$black-color;font-weight:bold;}
			}
		}
	}
}
.write {
	.inp_box {margin-bottom:12px;}
	.btn_wrap {margin:12px 0;}
	.txt_notice {margin:25px 0 15px 20px;font-weight:normal;}
}
//policy_grade
.policy_grade {
	.txt {margin-top:10px;font-size:$font-ss;color:$base-color;letter-spacing:-1px;
		a {display:inline-block;color:$main-color;text-decoration:underline;}
		span {display:inline-block;color:$main-color;}
	}
	.tbl_grade {width:100%;table-layout:fixed;border-top:2px solid $border-color;border-bottom:2px solid $border-color;
		th {background-color:#fbfbfb;}
		thead th {color:$black-color;}
		td, th {padding:5px 0;border-top:1px solid $border-color;text-align:center;font-size:$font-ss;}
		th + td, td + td, th + th {border-left:1px solid $border-color;}
		th + td {font-size:$font-s;}
		td {color:$gray-color}
	}
	.f_red {color:#ff4343}
	.f_orange {color:#ff8f00}
	.f_green {color:#0eb653}
}
//mypoint
.mypoint {color:$white-color;
	.page_head {background-image:url(../images/m640/bg_point_point.gif);background-repeat:repeat;background-size:50%;
		&:after {content:'';position:absolute;bottom:0;right:0;display:block;width:100px;height:40px;background-image:url(../images/m640/bg_point.png);background-repeat:no-repeat;background-size:cover;}
	}
	.txt_point {font-size:$font-xl;font-weight:bold;}
	.extinction {color:#9aadcd;
		.txt_bar {color:#9aadcd;}
	}
}
.point_list {padding:0 15px;
	&.content_box {border-top:0;}
	.txt_notice {padding:10px 0;margin:0;border-bottom:1px solid $border-color;}
	li {overflow:hidden;padding:15px 0;border-top:1px solid $border-color;
		p {float:left;width:calc(100% - 95px);
		&:last-child {float:right;width:90px;text-align:right;}
		}
		.history {color:$tit-color;font-size:$font-m}
		.txt_point {font-size:$font-m;
			&.minus {color:$red-color;}
			&.plus {color:$blue-color;}
		}
		.s_txt {display:block;color:$gray-color;font-size:$font-ss;}
		&:first-child {border-top:0;}
	}
}
// event
.event {
	.nodata {text-align:center}
	.image_list {
		.list_detail {padding:17px 0;
			&:first-child {padding-top:0;}
			.list_cont {width:80%}
			.img {width:17%;}
		}
	}
	.view {text-align:center;font-size:0;line-height:0;
		.img {width:100%;
			img {display:block;width:100%;}
		}
	}
}
//uptodate
.uptodate_logo {font-weight:bold;color:#acf748;
	em {font-size:$font-ss;vertical-align:top;}
}
.uptodate {
	.txt_notice {font-weight:bold;}
	.txt_logo {font-weight:bold;color:#7ddb06;
		em {font-size:$font-s;vertical-align:top;}
	}
	.uptodate_box {background-color:$white-color;font-size:$font-l;text-align:center;
		.txt_logo {font-weight:bold;color:#7ddb06;}
		.btn_use {margin-top:15px;border-color:#32d5af;background-color:#32d5af;font-weight:normal;font-size:$font-s;}
		.btn_mobile {margin-top:7px;border-color:#32d5af;font-weight:normal;color:#32d5af;font-size:$font-s;}
		+.uptodate_box {background-color:#f3f4f6;border-top:0;font-size:$font-m;color:$dark-color;}
	}
	.btn_wrap {width:80%;margin:20px auto 0;
		img {width:100%;}
	}
	.uptodate_head {background-image:url(../images/m640/bg_uptodate_head.gif);background-repeat:repeat;background-size:50%;text-align:center;
		.ico_uptodate {margin-top:40px;@include ico-comm(155px, 20px, 0, -1630px);}
		.txt_logo {display:block;font-size:2rem;color:#acf748;}
		.txt {color:$white-color;font-size:$font-l;font-weight:bold;
			span {font-size:$font-xl;color:#f8ff46;}
		}
		.uptodate_info {position:relative;width:100%;margin:30px auto 0;padding-bottom:80px;
			p {position:relative;z-index:2;display:inline-block;width:45%;padding:20px 0;height:auto;background-color:$white-color;border-radius:17px;font-size:12px;color:$gray-color;@include keep-all;vertical-align:top;letter-spacing:-1px;
				strong {display:block;margin-bottom:15px;font-weight:bold;font-size:$font-s;color:$dark-color;line-height:1.2;}
				.ico_grade {margin-bottom:10px;@include ico-comm(50px, 30px, -200px, -550px);}
				.ico_provide {margin-bottom:10px;@include ico-comm(50px, 30px, -200px, -590px);}
			}
			.ico_add {position:absolute;top:60px;left:50%;margin-left:-20px;@include ico-comm(36px, 36px, -200px, -630px);z-index:3;
			 + p {margin-left:2%;}
			}
			&:after {position:absolute;bottom:-1px;left:0;display:block;content:'';width:100%;height:100px;background:url(../images/m640/bg_uptodate_book.png) no-repeat top center;background-size:100% 100%;z-index:3;}
			&:before {position:absolute;bottom:0;left:0;display:block;content:'';width:100%;height:163px;background:url(../images/m640/bg_uptodate_logo.gif) no-repeat bottom center;background-size:100% 100%;z-index:1;}
		}
	}
	.uptodate_body {position:relative;padding-top:50px;background-image:url(../images/m640/bg_uptodate_body.gif);background-repeat:repeat;background-size:50%;text-align:center;box-shadow:inset 0 50px 50px -50px #000;
		.s_tit {font-size:$font-xl;
			.txt_logo {color:#80d711;}
		}
		.uptodate_howto {position:relative;width:100%;padding:0 15px 20px;@include border-box;clear:both;text-align:left;
			li {margin:25px 0;
				p {display:inline-block;width:calc(100% - 100px);font-size:$font-s;color:$gray-color;vertical-align:top;}
				strong {display:inline-block;font-weight:bold;color:$dark-color;
					span {display:inline-block;width:18px;height:18px;line-height:18px;color:$white-color;background-color:#000;text-align:center;font-size:$font-ss;border-radius:50%;}
				}
				.ico_comm {margin:-30px 0 0 15px;}
				&.step1 .ico_comm {@include ico-comm(70px, 80px, 0, -1650px);}
				&.step2 .ico_comm {@include ico-comm(70px, 80px, 0, -1730px);}
				&.step3 .ico_comm {@include ico-comm(70px, 80px, -80px, -1650px);}
				&.step4 .ico_comm {@include ico-comm(70px, 80px, -80px, -1730px);}
			}
		}

	}
}

.uptodate_v2 {background-color:#f2f4f7;
	.uptodate_body {position:relative;padding:25px 0 30px;background-image:url(../images/m640/bg_uptodate_head.gif);background-repeat:repeat;background-size:50%;
		.bg_uptodate {display:block;position:absolute;left:0;bottom:0;width:100%;height:85px;background:url(../images/m640/bg_uptodate.png) no-repeat bottom center;background-size:100%;}
	}
	.tit_cont {font-size:28px;color:$white-color;text-align:center;
		 .txt_logo {font-size:30px;color:$uptodate-color;
			 .ico_free{display:inline-block;width:36px;height:17px;font-size:$font-ss;color:#008cac;background-color:$uptodate-color;border-radius:8px;vertical-align: top;}
		 }
	 }
	.txt_info {color:#bdf4fe;font-size:$font-s;text-align:center;
		strong {color:$uptodate-color;font-weight:bold;}
	}
	.uptodate_box {position:relative;width:90%;margin:25px auto 0;padding:20px;background-color:$white-color;border-radius:5px;@include border-box;z-index:1;
		.stit_cont {text-align:center;color:#1ac1e1;font-size:$font-l;}
		.uptodate_use {
			li {padding:25px 0;
				&+ li {border-top:2px dashed $border-color;}
				.tit {display:block;margin-bottom:15px;font-size:$font-m;color:$tit-color;font-weight:bold;}
				.txt_num {display:block;float:left;width:18px;height:18px;margin:3px 6px 0 0;border:2px solid #37cdea;border-radius:50%;color:#37cdea;font-size:$font-ss;font-weight:bold;text-align:center;line-height:1.5}
				.txt {color:#828792;font-size:$font-s;}
				.btn_use {height:40px;border-color:#2fdea6;background-color:#2fdea6;line-height:40px;}
				.btn_free_go {height:40px;margin-top:10px;padding-top:3px;color:$white-color;background-color:#0cbbda;font-size:$font-s;line-height:1.5;
					span {display:block;font-size:$font-ss;line-height:1;color:#b3f3ff;}
				}
				.btn_uptodate_go {height:40px;margin-top:10px;border-color:#2fdea6;background-color:#2fdea6;line-height:40px;}
				.btn_uptodate_pdf {margin:10px 0;color:#2fdea6;border:2px solid #2fdea6;}
				.btn_w45 {margin-top:10px;
					img {width:100%;}
				}
			}
		}
	}
	.txt_notice {font-weight:bold;}
	.list_notice {color:#9197a3;text-indent:-10px;padding-left:10px;}
}
//main
.main {padding-bottom:7px;background-color:#eeeeee;
	.content_box {background-color:$white-color;border-top:0;}
	.bnr_seminar {position:relative;margin-bottom:7px;border-top:1px solid $border-color;background-color:$white-color;
		.btn_seminar {display:block;padding:20px 15px;color:$dark-color;
			.ico_comm {margin-right:10px;@include ico-comm(20px, 21px, -200px, -670px);}
			em {color:$main-color;}
		}
	}
	.image_list {
		.list_detail {border-bottom:0;border-top:1px solid #f5f5f5;
			.img {width:30%;background-color:#d0dbe8;text-align:center;
				img {width:70%;height:auto}
			}
		}
	}
	.oneline_list .list_detail {border-bottom:0;border-top:1px solid #f5f5f5;
		.list_cont .list_tit .tit {width:calc(100% - 80px)}
	}
	.ico_btn_more {position:absolute;top:15px;right:0;}
	.notice_box {background-color:#fffee3;}
	.bnr_uptodate {width:100%;height:70px;background:url('../images/m640/bg_uptodate_head.gif') repeat top left;
		.btn_uptodate {display:block;padding:15px;background:url('../images/m640/bg_main_bnr.png') no-repeat top right;background-size:auto 70px;
			.txt_free {display:inline-block;padding:1px 5px 0;border:1px solid #fdff4d;color:#fdff4d;font-size:7px;line-height:1;border-radius:7px}
			p {font-size:$font-ss;color:$white-color;
				em {color:#fdff4d;}
			}
			img {width:100%;}
		}
	}
	.main_seminar_box {padding:20px 0;
		.swiper-slide {width:90%;
			.live_cont {background-repeat:no-repeat;background-size:100% 100%;
				&.bg01 {background-image:url('../images/m640/bg_brand_thumb01.jpg')}
				&.bg02 {background-image:url('../images/m640/bg_brand_thumb02.jpg')}
				&.bg03 {background-image:url('../images/m640/bg_brand_thumb03.jpg')}
				&.bg04 {background-image:url('../images/m640/bg_brand_thumb04.jpg')}
			}
		}
		.swiper-pagination {position:absolute;top:5px;right:5%;bottom:inherit;left:inherit;width:50px;color:$white-color;font-size:$font-s}
	}
	.live_cont {height:200px;
		.ico_live {position:relative;z-index:2;}
		.img_doctor {width:170px;height:170px;z-index:2;}
		.info {position:relative;padding:25px 15px;z-index:2;}
		.tit {margin:5px 0;font-size:$font-l;font-weight:bold;@include ellipsis(65%, 26px, 26px, 3);height:78px;max-height:inherit;@include keep-all;}
		.date {font-size:$font-s;letter-spacing:0;}
		.tail {display:block;font-size:$font-ss;}
		&:after {position:absolute;top:0;left:0;right:0;bottom:0;display:block;content:'';width:100%;height:100%;background-color:rgba(0, 0, 0, 0.2);z-index:1}
	}
	.notice_box {
		.ico_notice {@include ico-comm(25px, 25px, -225px, -670px);margin-top:3px;}
		.swiper-container {display:inline-block;width:calc(100% - 35px);vertical-align:middle;
			a {display:inline-block;overflow:hidden;width:calc(100% - 40px);white-space:nowrap;text-overflow:ellipsis;}
			.swiper-pagination {position:absolute;top:3px;right:0;bottom:inherit;left:inherit;background-color:#fffee3;width:35px;color:$gray-color;font-size:$font-s}
		}
	}
}
.dnr_ad {
	img {width:100%;}
}