.container_event img.fluid {display:block;margin:0 auto;max-width:100%;height:auto;}

.container_event .em,
.container_event em {color:#f630c5;}

.container_event .christmas .em,
.container_event .christmas em {color:#39b744;}

.container_event {background:#ffffff;}
.container_event .event_list li {float:none;width:inherit;}
.container_event .keyvisual {height:0;padding-top:87.6%;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
.container_event .benefit {padding:45px 0;color:#333333;box-sizing:border-box}
.container_event .inner {width:100%;margin:0 auto;padding:0 23px;box-sizing: border-box}

.container_event .event_list .banner {margin-top:1em;}
.container_event .event_list .banner img {display:block;margin:0 auto;width:100%;}

.container_event .text_box {text-align:center;}
.container_event .text_box p {margin-bottom:1rem;}
.container_event .text_box .eyebrow {margin-bottom:1em;font-size:16px;line-height:1;text-decoration: underline;}
.container_event .text_box .title {font-weight:350;font-size:25px;line-height:30px;letter-spacing:-0.04em;word-wrap:break-word;word-break:keep-all;}
.container_event .text_box .desc {font-size:13px;letter-spacing:-0.02em;line-height:17px;word-wrap:break-word;word-break:keep-all;}
.container_event .text_box .caution {font-size:12px;color:#a94afc;letter-spacing:-0.02em;}

.container_event .text_white {color:#ffffff !important;}

.container_event .coupon_wrap {text-align:center;font-size:0;}
.container_event .coupon_wrap + .description {margin-top:3em;letter-spacing:-0.05em;text-align:center;}
.container_event .coupon_wrap .coupon {display:inline-block;margin-top:10px;padding:0 30px;}
.container_event .coupon_wrap .coupon + .coupon {margin-top:25px;}

.container_event .coupon .title {margin-bottom:25px;font-weight:350;font-size:20px;line-height:24px;letter-spacing:-0.04em;}
.container_event .coupon .title .em {color:inherit;}

.container_event .coupon_detail {width:230px;height:128px;padding:20px;position:relative;background:url(../images/event/mobile/coupon_image.png) no-repeat;background-size:100% auto;box-sizing:border-box;color:#ffffff;text-align:left;}
.container_event.christmas .coupon_detail {background-image:url(../images/event/mobile/coupon_image_211217.png);}
.container_event .coupon_detail p {font-family:'NanumSquare', sans-serif;}
.container_event .coupon_detail .name {margin-bottom:0.25em;font-weight:700;font-size:15px;line-height:1.2;letter-spacing:-0.05em;}
.container_event .coupon_detail .expire {font-weight:100;font-size:11px;line-height:1;letter-spacing:-0.02em;}
.container_event .coupon_detail .expire span {display:inline-block;padding-right:6px;margin-right:3px;border-right:1px solid #fff;}
.container_event .coupon_detail .price {position:absolute;bottom:15px;left:20px;font-size:16px;font-weight:900;line-height:1;}
.container_event .coupon_detail .price strong {font-size:35px;}
.container_event .coupon_detail .badge {display:table;width:50px;height:50px;background:#f630c5;position:absolute;right:20px;top:-15px;border-radius: 50%;}
.container_event.christmas .coupon_detail .badge {background-color:#e1363c;}
.container_event .coupon_detail .badge span {display:table-cell;width:100%;text-align:center;vertical-align:middle;font-size:12px;font-weight:700;letter-spacing:-0.04em;line-height:14px;}
.container_event .coupon_detail .badge:before {content:'';display:block;position:absolute;left:3px;top:3px;right:3px;bottom:3px;border:1px solid #fff;border-radius: 50%;opacity:0.45}
.container_event .coupon_detail + .download {margin-top:25px;margin-left:-10px;margin-right:-10px;}

.container_event .download {display:block;padding:13px;box-sizing:border-box;font-size:14px;color:#ffffff;text-align:center;line-height:1;letter-spacing:-0.02em;font-weight:500;background:#323232;text-decoration:none;}
.container_event .download.disabled {cursor:default;background:#c8c8c8;}
.container_event .download:after {content:'';display:inline-block;width:14px;height:14px;margin-left:15px;background:url(../images/event/mobile/ico_download.png) no-repeat 50% 50%;background-size:100% auto;}

.container_event .ladder {background-image:url(../images/event/mobile/coupon_ladder_bg.jpg);background-position:50% 0%;background-repeat:no-repeat;background-size:100% auto;background-color:#c745da;}
.container_event .ladder_wrap {position:relative;height:0;padding-top:calc(48px + 59%);padding-bottom:21%;margin-top:30px;text-align:center;}
.container_event .ladder_wrap:before {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/event/mobile/coupon_ladder.png) no-repeat 50% 48px;background-size:100% auto;}
.container_event .ladder_wrap > * {z-index:1;}
.container_event .ladder_wrap.active:before,
.container_event .ladder_wrap.active > *:not(.ladder_result) {opacity:0.5}
.container_event .ladder_wrap.active:after {content:'';display:block;position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,0);z-index:2;}
.container_event .ladder_wrap.active .ladder_result {z-index:3;}
.container_event .ladder_list {position:absolute;left:0;right:0;font-size:0;}
.container_event .ladder_list li {display:inline-block;padding:0;vertical-align:top;}
.container_event .ladder_list .active {position:relative;}
.container_event .ladder_list .active span {position:relative;color:#bf31dd;}
.container_event .ladder_start {top:0;}
.container_event .ladder_start li {width:20%;height:57px;background:url(../images/event/mobile/coupon_ladder_start.png) no-repeat 50% 50%;background-size:auto 100%;}
.container_event .ladder_start button {width:100%;height:100%;max-width:57px;color:#ffffff;font-family:'Montserrat',sans-serif;font-size:23px;font-weight:bold;}
.container_event .ladder_start .active:before {content:'';position:absolute;background:#fff;left: 15%;right: 15%;top: 15%;bottom: 15%;}
.container_event .ladder_result {position:absolute;left:0;right:0;top:50%;transform:translateY(-50%);height:45%;background:url(../images/event/mobile/coupon_ladder_result.png) no-repeat 50% 50%;background-size:100% auto;}
.container_event .ladder_result p {position:absolute;width:42%;left:50%;top:50%;transform:translateY(-50%);font-family:'NanumSquare', sans-serif;font-weight:700;font-size:16px;line-height:1.2;}
.container_event .ladder_end {position:static;margin-top:-2.5%;}
.container_event .ladder_end li {width:20%;color:#ffffff;font-size:13px;font-family:'NanumSquare', sans-serif;font-weight:bold;}
.container_event .ladder_end .result {position:relative;width:90%;height:0;margin:0 auto;padding-top:90%;background:url(../images/event/mobile/coupon_ladder_end.png) no-repeat 50% 50%;background-size:100% auto;}
.container_event .ladder_end .result span {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.container_event .ladder_end .active:before {content:'';position:absolute;background:#fff;left:13%;right:13%;top:13%;bottom:13%;border-radius:50%;}
.container_event .ladder_end .point {line-height:1;}
.container_event .ladder_end .active,
.container_event .ladder_end .active + .point {font-weight:900;}
.container_event .ladder_wrap + .text_box {margin-top:35px;opacity:0.65;}
.container_event .ladder_wrap + .text_box .desc {font-size:13px;line-height:16px;letter-spacing:-0.02em;text-align:left;}


@keyframes fadeIn {
    0% {
        display:block;
        opacity:0;
        margin-top:10px;
    }
    100% {
        opacity:1;
        margin-top:0;
    }
}
@keyframes roulette {
    100% {
        transform:rotate(1800deg)
    }
}
@keyframes prize1 {
    100% {
        transform:rotate(calc(1800deg + 360deg + 360deg))
    }
}
@keyframes prize2 {
    100% {
        transform:rotate(calc(1800deg + 360deg + 75deg))
    }
}
@keyframes prize3 {
    100% {
        transform:rotate(calc(1800deg + 360deg + 145deg))
    }
}
@keyframes prize4 {
    100% {
        transform:rotate(calc(1800deg + 360deg + 217deg))
    }
}
@keyframes prize5 {
    100% {
        transform:rotate(calc(1800deg + 360deg + 285deg))
    }
}

.roulette {background-image:url(../images/event/mobile/coupon_ladder_bg.jpg);background-position:50% 0%;background-repeat:no-repeat;background-size:100% auto;background-color:#c745da;}
.roulette_img {width:87%;max-width:654px;margin:0 auto;overflow:hidden;animation-fill-mode: forwards;animation-delay: 0s, 1.5s;animation-duration: 1.5s, 1.5s;animation-timing-function: linear, cubic-bezier(0.25, 1, 0.5, 1);}
.roulette_img img {width:100%;}
.roulette_wrap[data-prize="1"] .roulette_img {
    animation-name: roulette, prize1;
}
.roulette_wrap[data-prize="2"] .roulette_img {
    animation-name: roulette, prize2;
}
.roulette_wrap[data-prize="3"] .roulette_img {
    animation-name: roulette, prize3;
}
.roulette_wrap[data-prize="4"] .roulette_img {
    animation-name: roulette, prize4;
}
.roulette_wrap[data-prize="5"] .roulette_img {
    animation-name: roulette, prize5;
}

.roulette_wrap[data-prize="1"].active .roulette_img {
    transform:rotate(0) !important;
}
.roulette_wrap[data-prize="2"].active .roulette_img {
    transform:rotate(75deg) !important;
}
.roulette_wrap[data-prize="3"].active .roulette_img {
    transform:rotate(145deg) !important;
}
.roulette_wrap[data-prize="4"].active .roulette_img {
    transform:rotate(217deg) !important;
}
.roulette_wrap[data-prize="5"].active .roulette_img {
    transform:rotate(285deg) !important;
}

.roulette_wrap {margin-top:3em;position:relative;}
.roulette_wrap:before {content:'';display:block;position:absolute;top:0;left:50%;width:52px;height:66px;background:url(../images/event/mobile/roulette_pin.png) no-repeat 50% 0;transform:translate(-50%,-40%);z-index:2;background-size:cover;}
.roulette_wrap button {position:absolute;left:50%;top:50%;background:#fff;width:31.2%;height:auto;line-height:1;transform:translate(-50%,-50%);background:transparent;}
.roulette_wrap button img {width:100%;height:auto;}
.roulette_wrap button:disabled {cursor:default;}
.roulette_wrap .prize {display:none;position:absolute;padding:20px 30px;left:50%;top:50%;transform:translate(-50%,-50%);background:#7936a8;border-radius:0.5em;z-index:2;text-align:center;box-shadow: 0px 0px 17px #d84eef;white-space: nowrap;}
.roulette_wrap .prize p {display:inline-block;vertical-align:middle;font-size:17px;font-family:'NanumSquare', sans-serif;font-weight:700;}
.roulette_wrap.active .prize {display:block;animation:fadeIn forwards 0.3s;}
.container_event .roulette_wrap + .text_box {margin-top:35px;opacity:0.65;}
.container_event .roulette_wrap + .text_box .desc {font-size:13px;line-height:16px;letter-spacing:-0.02em;text-align:left;}


.container_event .review_wrap {position:relative;max-width:320px;margin-top:30px;margin-left:auto;margin-right:auto;}
.container_event .review_wrap .review {position:relative;}
.container_event .review_wrap .review_box {position:relative;width:208px;height:200px;margin-left:-23px;margin-right:-23px;padding:20px 32px 0 37px;background-position:50% 50%;background-repeat:no-repeat;color:#ffffff;box-sizing:border-box;text-align:center;background-size:100% auto;}
.container_event .review:nth-child(1) .review_box {margin-left:auto;background-image:url(../images/event/mobile/coupon_review_1.png);z-index:2;}
.container_event .review:nth-child(2) .review_box {margin-right:auto;background-image:url(../images/event/mobile/coupon_review_2.png);z-index:1;}
.container_event .review:nth-child(2) {margin-top:-40px;margin-bottom:-10px;}
.container_event .review:nth-child(3) .review_box {margin-left:auto;background-image:url(../images/event/mobile/coupon_review_3.png);}
.container_event .review:nth-child(1) .review_box:before {content:'';display:block;position:absolute;left:calc(50% + 3px);top:-8px;transform:translateX(-50%);width:44px;height:32px;background:url(../images/event/mobile/coupon_crown.png) no-repeat 50% 50%;background-size:100% auto;}
.container_event .review .prod_image {width:65px;height:65px;margin:0 auto;overflow:hidden;border-radius:50%;}
.container_event .review .prod_image img {max-width:100%;}
.container_event .review .grade {margin:0.5em 0 0.5em 0;font-size:16px;font-weight:700;line-height:1;}
.container_event .review .prod {font-size:13px;line-height:17px;letter-spacing:-0.02em;}
.container_event .review .desc {width:calc(100% - 180px);position:absolute;left:0;top:50%;transform:translateY(-50%);font-size:12px;color:#191919;word-break: keep-all;text-align:right;letter-spacing:-0.01em;}
.container_event .review:nth-child(even) .desc {left:auto;right:0;text-align:left;}

.container_event .full_box {display:block;margin-top:20px;padding:12px 6px;background:#a94afc;color:#ffffff;font-size:15px;line-height:15px;font-weight:350;letter-spacing:-0.06em;}
.container_event .full_box span {float:right;font-size:12px;}

.container_event .prod_list {font-size:0;margin:0 -5px;}
.container_event .prod_list .prod {display:inline-block;width:50%;padding:15px 5px 0 5px;box-sizing: border-box;vertical-align:top;}
.container_event .prod a {text-decoration: none;}
.container_event .prod .img {border-radius:0.25rem;overflow:hidden;}
.container_event .prod img {max-width: 100%;}
.container_event .prod .info {margin-top:12px;}
.container_event .prod .name {font-size:15px;letter-spacing:0.02em;line-height:20px;}
.container_event .prod .price_wrap {line-height:1;margin-top:10px;}
.container_event .prod .price_wrap strong {font-family:'Montserrat',sans-serif;font-size:1.8em;letter-spacing:-0.03em;font-weight:700;}
.container_event .prod .price {font-size:11px;margin-right:15px;}
.container_event .prod .percentage {font-size:13px;color:#a94afc;}

.container_event .btn_square {display:inline-block;margin-top:1.5em;padding:13px 30px;background:#3d351e;color:#ffffff;font-size:13px;font-weight:700;letter-spacing:-0.02em;line-height:1;}
.container_event .btn_square:after {content:'';display:inline-block;width:7px;height:7px;transform:rotate(-135deg);box-sizing:border-box;border-left:1px solid #fff;border-bottom:1px solid #fff;margin-top:-3px;vertical-align:middle;margin-left:15px;}

.prod_carousel {margin-top:25px;}
.prod_carousel .slick-dots {margin:10px 0;text-align:center;line-height:0;}
.prod_carousel .slick-dots li {display:inline-block;margin-left:9px;line-height:0;}
.prod_carousel .slick-dots li:first-child {margin-left:0;}
.prod_carousel .slick-dots button {width:11px;height:11px;padding:0;border-radius:50%;background:#b9b5b2;text-indent:-9999em;}
.prod_carousel .slick-dots .slick-active button {background:#ff6b22;}
.prod_carousel .slick-slide,
.prod_carousel .slick-dots button {outline:none;}

.yearEndEvent .section {padding:42px 0;}
.yearEndEvent .img img {width:100%;}
.yearEndEvent .img.expanded {margin:0 -23px;}
.yearEndEvent .text_box {color:#5d4730;}
.yearEndEvent .text_box .eyebrow {margin:0 0 0.5em 0;height:33px;}
.yearEndEvent .text_box .eyebrow img {height:100%;}
.yearEndEvent .event_list .title {margin-bottom:0.5em;}
.yearEndEvent .event_list .section:first-child .title {color:#ffffff;}
.yearEndEvent .text_white .text_box .desc {margin-top:1em;color:#ffeec1;font-weight:700;letter-spacing:-0.04em;font-size:15px;}

.yearEndEvent .link_banner {height:0;padding-top:40.2%;position:relative;}
.yearEndEvent .link_banner a {display:block;width:100%;height:100%;background-position:50% 50%;background-repeat:no-repeat;position:absolute;left:0;top:0;bottom:0;background-size:cover;}

.yearEndEvent .prod_carousel:not(:last-child) {padding-bottom:80px;position:relative;}
.yearEndEvent .prod_carousel:not(:last-child):after {content:'';display:block;position:absolute;left:-23px;right:-23px;bottom:40px;height:12px;background:rgba(0,0,0,0.047);}
.yearEndEvent .prod {display:table;table-layout:fixed;margin-bottom:10px;}
.yearEndEvent .prod > a > * {display:table-cell;vertical-align:middle;}
.yearEndEvent .prod .img {width:127px;overflow:hidden;border-radius:0.75rem;}
.yearEndEvent .prod .prod_info {padding-left:18px;}
.yearEndEvent .prod .prod_info > * {margin-top:0 !important;}
.yearEndEvent .prod .name {font-size:17px;color:#958d74;margin:0.25em 0;letter-spacing:-0.04em;}
.yearEndEvent .prod .copy {margin-bottom:0.25em;font-size:18px;color:#3d351e;font-weight:700;letter-spacing:-0.04em;}

.yearEndEvent .mdpick .prod .copy {font-size:17px;color:#7c7769;margin:0.25em 0;letter-spacing:-0.04em;}
.yearEndEvent .mdpick .prod .name {color:#3d351e;font-weight:700;letter-spacing:-0.04em;}

.yearEndEvent .section.brown {background-color:#ae855c;background-image:url(../images/event/yearEnd/section_bg_1.jpg);background-position:50% 0;background-repeat:no-repeat;background-size:375px auto;}
.yearEndEvent .section.brown .text_box {color:#ffffff;}
.yearEndEvent .section.brown .name {color:#fbd3ab;}
.yearEndEvent .section.brown .copy {color:#ffffff;}
.yearEndEvent .section.brown .slick-dots button {background:#88623b;}
.yearEndEvent .section.brown .slick-dots .slick-active button {background:#fff;}
.yearEndEvent .section.glitter {background-color:#efebe8;background-image:url(../images/event/yearEnd/section_bg_2.jpg);background-position:50% 100%;background-repeat:no-repeat;background-size:100% auto;}
.yearEndEvent .section.glitter .copy {color:#c18b24;}
.yearEndEvent .section.glitter .name {color:#3d351e;}
.yearEndEvent .section.green {background-color:#c6b074;background-image:url(../images/event/yearEnd/section_bg_3.jpg);background-position:50% 0;background-repeat:no-repeat;background-size:375px auto;}
.yearEndEvent .section.green .copy {color:#ffe8a8;}
.yearEndEvent .section.green .name {color:#fff;}
.yearEndEvent .section.green .slick-dots button {background:#ae9960;}
.yearEndEvent .section.green .slick-dots .slick-active button {background:#fff;}

.planEvent .section {padding:42px 0;position:relative;background-position:50% 0;background-repeat:no-repeat;background-size:100% auto;}
.planEvent .section:not(:first-child):after {content:'';display:block;position:absolute;left:-23px;right:-23px;bottom:0;height:12px;background:rgba(0,0,0,0.06);}
.planEvent .img img {width:100%;}
.planEvent .img.expanded {margin:0 -23px;}
.planEvent .text_box {color:#5d4730;}
.planEvent .text_box .eyebrow {margin:0 0 1em 0;height:33px;}/* 2021-07-28 */
.planEvent .text_box .eyebrow img {height:100%;}
.planEvent .event_list .title {margin-bottom:0.5em;}
.planEvent .event_list .section:first-child .title {color:#ffffff;}
.planEvent .section.text_white p {color:#ffffff;}
.planEvent .section.text_white p.name {color:rgba(255,255,255,0.5);}
.planEvent .text_white .text_box .desc {margin-top:1em;color:#ffeec1;font-weight:700;letter-spacing:-0.04em;font-size:15px;}

.planEvent .link_banner {height:0;padding-top:40.2%;position:relative;}
.planEvent .section + .link_banner {margin-top:-12px;}
.planEvent .link_banner a {display:block;width:100%;height:100%;background-position:50% 50%;background-repeat:no-repeat;position:absolute;left:0;top:0;bottom:0;background-size:cover;}

.planEvent .prod_carousel:not(:last-child) {padding-bottom:80px;position:relative;}
.planEvent .prod_carousel:not(:last-child):after {content:'';display:block;position:absolute;left:-23px;right:-23px;bottom:40px;height:12px;background:rgba(0,0,0,0.047);}
.planEvent .prod {display:table;table-layout:fixed;margin-bottom:10px;}
.planEvent .prod > a > * {display:table-cell;vertical-align:middle;}
.planEvent .prod .img {width:127px;overflow:hidden;border-radius:0.75rem;}
.planEvent .prod .prod_info {padding-left:18px;}
.planEvent .prod .prod_info > * {margin-top:0 !important;}
.planEvent .prod .name {font-size:17px;color:#958d74;margin:0.25em 0;letter-spacing:-0.04em;}
.planEvent .prod .copy {margin-bottom:0.25em;font-size:18px;color:#3d351e;font-weight:700;letter-spacing:-0.04em;}

.planEvent .mdpick .prod .copy {font-size:17px;color:#7c7769;margin:0.25em 0;letter-spacing:-0.04em;}
.planEvent .mdpick .prod .name {color:#3d351e;font-weight:700;letter-spacing:-0.04em;}

.timesale_wrap img {display:block;max-width:100%;margin:0 auto;}
.timesale_wrap .top_visual,
.timesale_wrap .sale_block {position:relative;}
.timesale_wrap .invisible_button {display:block;text-indent:-9999em;overflow:hidden;background:rgba(0,0,0,0);position:absolute;left:0;width:47%;height:0;padding-top:8.2%;}
.timesale_wrap .invisible_button.center {left:50%;transform:translateX(-50%);}
.timesale_wrap .invisible_button.test {background:red;}
.countdown_timer {font-size:0;font-family:'Verdana', sans-serif;position:absolute;text-align:center;left:0;right:0;}
.countdown_timer > div {display:inline-block;text-align:center;}
.countdown_timer > div:not(:first-child) {position:relative;padding-left:16px;}
.countdown_timer > div:not(:first-child):before {content:':';font-size:18px;position:absolute;left:0;top:0;line-height:27px;width:16px;}
.countdown_timer .numbers {font-size:23px;line-height:1;font-weight:bold;}
.countdown_timer .numbers > span {display:inline-block;width:26px;height:30px;line-height:29px;border-radius:5px;}
.countdown_timer .numbers > span + span {margin-left:3px;}
.countdown_timer .unit {margin-top:0.25em;font-size:12px;text-transform: uppercase;letter-spacing:-0.05em;}

/* 2021-05-17 체험단 리스트 페이지 */
.container_event .top_visual {text-align:center;}
.container_event .top_visual img {max-width:100%;}
.container_event_list {background:#f2f4f7;}
.container_event_list .section_title {padding:1.75em 0 1em 0;text-align:center;color:#000;font-size:20px;font-weight:700;letter-spacing:-0.03em;line-height:1;}
.container_event_list .event_list {max-width:750px;margin:0 auto;}
.container_event_list .event_list .item:not(:last-child) {margin-bottom:14px;}
.container_event_list .thumbnail {position:relative;}
.container_event_list .thumbnail img {width:100%;height:auto;}
.container_event_list .thumbnail .badge {display:block;padding:6px 8px 8px 8px;position:absolute;left:0;bottom:0;font-size:14px;color:#fff;line-height:1;background:rgba(255,129,18,0.85);overflow:hidden;border-radius:0 5px 0 0;}
.container_event_list .summary {padding:18px 15px;background:#fff;text-align:center;}
.container_event_list .summary .title {margin-bottom:0.25em;color:#000;font-size:20px;letter-spacing:-0.03em;word-break: keep-all;line-height:1.25;}
.container_event_list .summary .date {font-size:13px;color:#999;}
.container_event_list .bottom {padding:15px;}
.container_event_list .bottom .more {display:block;border:1px solid #e5e5e5;border-radius:3px;background:#fff;line-height:1;padding:14px;text-align:center;color:#666;font-size:14px;letter-spacing:-0.05em;}
.container_event_list .bottom .more span {display:inline-block;margin-top:1px;margin-left:2px;vertical-align:top;font-family:'Tahoma',sans-serif;font-size:13px;color:#999;}
.container_event_list .bottom .more:after {content:'';display:inline-block;width:10px;height:10px;transform:rotate(-45deg);box-sizing:border-box;border-left:2px solid #999999;border-bottom:2px solid #999999;border-radius:0 0 0 3px;margin-left:12px;vertical-align:top;margin-top:1px;}
.container_event_list .event_list .empty {padding:60px 15px 75px 15px;text-align:center;width:100%;color:#333;letter-spacing:-0.05em;box-sizing:border-box}
.container_event_list .event_list .empty:before {content:'\0021';display:inline-block;width:32px;height:32px;margin-bottom:0.5em;border-radius:50%;font-size:20px;color:#c5c9ce;font-weight:700;border:2px solid #c5c9ce;line-height:30px;}
.container_event_list .event_list .empty .title {margin-bottom:0.15em;font-size:18px;font-weight:700;}
.container_event_list .event_list .empty .desc {font-size:14px;}

/* 2021-10-01 */
.event_area .tester_status {display:flex;background:#fff;border-top:1px solid #b5b5b5;border-bottom:1px solid #b5b5b5;}
.event_area .tester_status li {flex:1 0 33.333%;max-width:33.333%;padding:8px;margin:-1px 0;counter-increment: item;text-align:center;color:#808080;box-sizing:border-box;letter-spacing:-0.025em;position:relative;}
.event_area .tester_status li:before {content:counter(item);display:block;margin:0 auto;background:#c4c4c4;width:16px;height:16px;margin-bottom:4px;border-radius: 50%;font-size:11px;font-weight:700;text-align:center;color:#fff;line-height:16px;}
.event_area .tester_status li:after {content:'';display:block;position:absolute;left:-1px;top:50%;transform:translateY(-50%);width:1px;height:32px;background:#b5b5b5;}
.event_area .tester_status li:first-child:after {display:none;}
.event_area .tester_status .title {margin-bottom:0.25em;color:#a1a1a1;font-weight:700;font-size:13px;}
.event_area .tester_status .date {font-size:11px;}
.event_area .tester_status .active {border:1px solid #ff6724;position:relative;z-index:1;}
.event_area .tester_status .active .title,
.event_area .tester_status .active .date {color:#ff6724;}
.event_area .tester_status .active:after {display:none;}
.event_area .tester_status .active:before {background:#ff6724;}
.event_area .button_wrap {display:table;width:100%;table-layout: fixed;}
.event_area .button_wrap > * {display:table-cell;padding:0.75em 0;text-align:center;background:#d4d4d4;color:#505050;font-size:15px;letter-spacing:-0.025em;}
.event_area .button_wrap > *:not(:first-child) {border-left:1px solid #fff;}
.event_area .button_wrap .active {background:#ff6724;color:#fff;}

/* 2021-10-06 당첨자 팝업 */
#testerResult {display:none;position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,0.5);z-index:100;}
#testerResult .pop_wrap {padding:45px 35px 40px 35px;background:#fff;border-top:3px solid #ff6724;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);box-sizing:border-box;text-align:center;}
#testerResult .pop_wrap img {width:auto;max-width:100%;}
#testerResult .btn_close {padding:13px;position:absolute;right:0;top:0;}
#testerResult .btn_close .ico_close {width: 17px;height: 18px;background-position: -40px -80px}